<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<%- include('../../components/javascript.component.html') %>

    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a class="fe-replace-history" href="#contents">Go to Main</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" id="fe-wrap" data-menuId="<%- pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../../common_en/views/components/header.component.html', { title: 'REAL-TIME MONTHLY FEES', svcInfo: svcInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap" >

            <h2 id="contents-area" tabindex="-1"><span class="blind">Main Section</span></h2>

            <div class="container" data-id="submain-container">
                <%- include('../../../../common_en/views/components/common.select-line.component.html', { svcInfo: svcInfo, xtEid: { single: "CMMA_A3_B12_C49-1", multiple : "CMMA_A3_B12_C49-2" } }); _%>

                <hr class="cont-sp type1" aria-hidden="true"/>

				<!-- .cont-box -->
				<!-- 200922 영문번역 -->
                <div class="cont-box nogaps-hoz"><!-- 200922 class 변경 -->
                    <div class="container warning pb120">
                        <h3 class="complete-title pt60 mt0">
                            <img src="<%=CDN%>/img/en/ico_notice_point_gray.png" alt=""/>
                            <span class="mid-txt">Please select another line<br/>This service is unavailable for the selected line</span>
                        </h3>
                        <p class="complete-error-tx">
                            <button class="bt-link-tx underline mt0" data-id="goOtherLine">View another line</button><!-- 200916 간격조정 -->
                        </p>
                    </div>
				</div>
				<!-- //200922 영문번역 -->
                <!--// .cont-box -->
            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>  
    </div>
</body>
<script>
    $(document).ready(function () {
        var data = '<%- escape(JSON.stringify(data)) %>';
        var $el = $('#fe-wrap');
        new Tw.MyTFareCommon($el, data);
    });
</script>
<% include ../../components/end.component.html _%>
