<%#
* @file myt-data.5g-setting.pm.html
* @author 양정규 (skt.P130715@partner.sk.com)
* @since 2019.09.10
%>

<div class="og-banner-tip fe-pm none">
    <p class="tip-alert">
        <strong class="st1">정기 점검 안내</strong>
        <strong class="st2">데이터 시간권 서비스 이용이 제한됩니다.</strong>
        <span class="st3">2019.01.20. 00:00 ~ 2019.01.20. 06:00 (6시간)</span>
        <span class="st4">이용에 불편을 드려 죄송합니다.</span>
    </p>
    <button type="button" class="og-banner-tip-close" onclick="$('.og-banner-tip').remove();">정기 점검 안내 닫기</button>
</div>
