<hr class="cont-sp type1" aria-hidden="true" />
<!-- .cont-box -->
<div class="cont-box nogaps-hoz">
    <div class="og-my5G-wrap">
        <div class="og-my5G-txt">
            <div class="logo"><span class="blind">SKT 5GX</span></div>
            <p><span class="tod-txcolor6">데이터 부스트파크권</span> 옵션을<br> 이용하고 계십니다.</p>
            <div class="mt10">
                <a class="btn-round2 btn-style3" href="/myt-data/hotdata">데이터 부스트파크권 잔여량 확인</a>
            </div>
        </div>
        <img class="tod-w100 vt mt24" src="<%=CDN%>/img/t_m5g/og_5gx_boostpark.png" alt="">
        <div class="og-my5G-txt">
            <p class="txt-s fs13">사용량 걱정 없이 원하는 시간만큼 데이터를 쓸 수 있는<br> 데이터 시간권으로 변경 가능합니다.</p>
            <ul class="bt-slice item-two mt12">
                <li><a class="btn-round1 btn-style1" href="/product/mobileplan/setting/5gx-yt">옵션 변경</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //.cont-box -->
