<%#
* @file myt-data.5g-setting.banner.html
* @author anklebreaker
* @since 2019-04-15
%>

<% if (viewInfo.bannerId) { %>
<div class="og-promo-banner">
    <% if(viewInfo.bannerId === 'NA00006516') { %>
    <a href="/product/callplan?prod_id=NA00006516"><img src="<%= CDN %>/img/t_m5g/og_banner_pooq.png" alt="POOQ 콘텐츠 팩 - 지상파 TV 실시간 · VOD 스트리밍 무제한"></a>
    <% } else if(viewInfo.bannerId === 'NA00005876') { %>
    <a href="/product/callplan?prod_id=NA00005876"><img src="<%= CDN %>/img/t_m5g/og_banner_oksusu.png" alt="oksusu &amp; 안심 팩 - oksusu 포인트 + 매일 1GB 전용 데이터"></a>
    <% } else if(viewInfo.bannerId === 'NA00006520') { %>
    <a href="/product/callplan?prod_id=NA00006520"><img src="<%= CDN %>/img/t_m5g/og_banner_flo.png" alt="FLO 앤 데이터 - FLO 음악 컨텐츠 무제한 + FLO 전용 데이터 3GB"></a>
    <% } %>
</div>
<% } %>