<%#
* FileName: customer.email.complete.html
* Author: Jiman Park (jiman.park@sk.com)
* Date: 2018.10.31
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>

<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup hbs -->
    <div class="popup-page tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- .container-wrap -->
        <div class="container-wrap" id="contents">
            <h2 class="blind">이메일 상담 등록완료</h2>
            <div class="container">
                <div class="complete-wrap">
                    <div class="title-box">
                        <i class="icon-complete-120"><span class="blind">complete</span></i>
                        <p class="tx-tit"> <span class="tx-highlight pt10">이메일 상담 등록완료</span></p>
                    </div>
                    <div class="tx-contents">
                        <div class="basic-list">
                            <ul>
                                <li>
                                    <span class="title">답변 받으실 이메일 주소</span>
                                    <span class="tx-cont"><%-email%></span>
                                </li>
                            </ul>
                        </div>
                        <ul class="bt-slice item-one">
                            <li>
                                <a href="/customer/emailconsult/history" class="btn-round2 btn-style3">내가 쓴 글 보기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li><button type="button" class="btn-floating btn-style2 fe-common-back">확인</button></li>
            </ul>
        </div>
    </div>
    <!--// .popup hbs -->
</div>

<% include ../../components/javascript.component.html %>
</body>
<% include ../../components/end.component.html %>
