<%#
* @file customer.email.html
* @author Jiman Park (jiman.park@sk.com)
* @since 2018.10.25
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap step" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html',
    { title: '이메일 상담 내역', svcInfo: svcInfo, option: { line: false } }); %>
    <!--// #header -->
    <!-- .container-wrap -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">이메일 상담 내역</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="ti-caption-gray">
                <h3 class="tit noti">접수된 문의는 접수 순서에 따라 순차적으로 진행됩니다.</h3>
            </div>
            <div class="cont-box nogaps">
                <% if ( inquiryList && inquiryList.length != 0  ) { %>
                <ul class="email-consult-list">
                <% inquiryList.map( (inquiry) => { %>
                    <% if ( inquiry.supInqId !== '' ) { %>
                    <li class="re-inquiry">
                    <% } else { %>
                    <li>
                    <% } %>
                        <button data-inqId="<%-inquiry.inqId%>" data-inqClCd="<%-inquiry.inqClCd%>"
                                class="list-inner fe-btn_history_detail">
                            <% if ( inquiry.supInqId !== '' ) { %>
                            <em class="again">재문의</em>
                            <% } %>
                            <strong class="tit"><%-inquiry.title%></strong>
                            <span class="date-state">
                                <em class="date"><%-convertDate(inquiry.rgstDt)%></em>
                                <% if ( inquiry.answYn == 'Y' ) { %>
                                <span class="state">답변완료</span>
                                <% } else { %>
                                <span class="state">처리중</span>
                                <% } %>
                            </span>
                        </button>
                    </li>
                <% }) %>
                </ul>
                <% if ( inquiryList.length >= 20 ) { %>
                <div class="bt-more fe-history-more">
                    <button>더보기</button>
                </div>
                <% } %>

                <% } else { %>
                <div class="result-none fe-block-history-empty">
                    이메일 상담 내역이 없습니다.
                </div>
                <% } %>
            </div>
            <!--// .cont-box -->
            <!-- .cont-box -->
            <!--<div class="cont-box nogaps-btm">-->
                <!--<h3 class="tx-bold">꼭 확인해 주세요</h3>-->
                <!--<ul class="noti-list">-->
                    <!--<li>상담 내역 안내-->
                        <!--<button type="button" class="tip-view" title="상담 내역 안내" id="CS_04_06_tip_01" page-id="CS_04_06" aria-haspopup="true">TIP</button>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--// .cont-box -->

            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li>상담 내역 안내
                        <button class="btn-tip tip-view" id="CS_04_06_tip_01">상담 내역 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- // .container-wrap -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CustomerEmailHistory($('.wrap'));
  });
</script>
</body>
<% include ../../components/end.component.html %>
