<%#
* @file customer.email.detail.html
* @author Kirim Lee (kirim@sk.com)
* @since 2018.11.05 / transfered since 2019.2.28 from Jiman Park
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <div class="popup-page tw-popup fixed-bottom ">
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '이메일 상담 상세내역', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        
        <!--// #header -->
        <!-- .container-wrap -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <% if ( inquiryInfo ) { %>
            <div class="container">
                <div class="email-details-box">
                    <hr class="cont-sp type1" aria-hidden="true">
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="details-top">
                            <strong class="tit"><%-inquiryInfo.title%></strong>
                            <p>
                                <em class="date"><%-convertDate(inquiryInfo.rgstDt)%></em>
                                <% if ( inquiryInfo.answYn === 'Y' ) { %>
                                <span class="state">답변완료</span>
                                <% } %>
                            </p>
                        </div>
                    </div>
                    <!--// .cont-box -->
                    <hr class="cont-sp type1" aria-hidden="true">
                    <!-- .cont-box -->
                    <div class="cont-box nogaps-hoz">
                        <div class="details-btm">
                            <div class="details-info">
                                <div class="tit">
                                    <strong>답변 이메일</strong>
                                    <em><%-inquiryInfo.answEmailAddr%></em>
                                </div>
                            </div>
                            <div class="details-cont">
                                <%-inquiryInfo.contents.replace(/\n/g, '<br>')%>
                            </div>
                        </div>
                    </div>

                    <% if ( inquiryInfo.answList ) { %>
                        <% inquiryInfo.answList.map( (answer) => { %>
                    <hr class="cont-sp type1" aria-hidden="true">
                            <div class="cont-box nogaps-hoz">
                                <div class="details-btm">
                                    <div class="details-info">
                                        <div class="tit">
                                            <strong>답변 이메일</strong>
                                            <em><%-inquiryInfo.answEmailAddr%></em>
                                        </div>
                                    </div>
                                    <div class="details-cont">
                                        <%- answer %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>

                    <!--// .cont-box -->
                    
                </div>
            </div>
            <!-- 상위 상담내역이 없는경우 -->
            <% if( inquiryInfo.supInqId === '' ) { %>
            <!-- .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
            <div class="bt-fixed-area">
                <!-- 상위 상담내역이 없으면서 문의 유형이 서비스 또는 멤버십('C') 또는 통화품질인 경우 및 최초 등록일 이후 30일이 넘지 않으면서, 멤버십 일경우 구서버가 아닌경우 노출 -->
                <% if (( inquiryInfo.inqClCd === 'B' || inquiryInfo.inqClCd === 'C' || inquiryInfo.inqClCd === 'Q' ) && isDateOver(inquiryInfo.supRgstDt) === false && !(inquiryInfo.mbrServer && inquiryInfo.mbrServer === 'A') ) { %>
                    <ul class="bt-slice item-two full">
                        <li>
                            <button class="fe-btn_retry_inquiry btn-floating btn-style2" data-xt_eid="CMMA_A11_B3-123" data-xt_csid="NO" data-xt_action="BC" data-inqId="<%-inquiryInfo.inqId%>"
                                    data-inqClCd="<%-inquiryInfo.inqClCd%>">재문의하기
                            </button>
                        </li>
                        <li class="bt-red1">
                            <button class="fe-btn_remove_inquiry" data-inqId="<%-inquiryInfo.inqId%>"
                                    data-inqClCd="<%-inquiryInfo.inqClCd%>">삭제하기
                            </button>
                        </li>
                    </ul>
                    <!-- 상위 상담 내역이 없으면서 문의 유형이 다이렉트 문의 유형이거나 최초 등록일 이후 30일이 넘은 상태이면서 멤버십일 경우 구서버가 아닌경우 노출 -->
                    <% } else if ( inquiryInfo.inqClCd === 'D' || isDateOver(inquiryInfo.supRgstDt) === true  && !(inquiryInfo.mbrServer && inquiryInfo.mbrServer === 'A') ) { %>
                        <ul class="bt-slice full">
                            <li class="bt-red1">
                                <button class="fe-btn_remove_inquiry" data-inqId="<%-inquiryInfo.inqId%>"
                                        data-inqClCd="<%-inquiryInfo.inqClCd%>">삭제하기
                                </button>
                            </li>
                        </ul>
                    <% } %>
            </div>
            <!--// .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
            <% } else { %>
            <!-- 상위 상담내역이 있는 경우 재문의 조건이 안되면 아무런 버튼을 노출하지 않음 -->
            <div class="bt-fixed-area">
                <!-- 상위 상담 내역이 있으면서 문의 유형이 서비스 또는 멤버십('C') 또는 통화품질인 경우 및 최초 등록일 이후 30일이 넘지 않은 상태이면서 멤버십일 경우 구서버가 아닌경우 노출 -->
                <% if (( inquiryInfo.inqClCd === 'B' || inquiryInfo.inqClCd === 'C' || inquiryInfo.inqClCd === 'Q' ) && isDateOver(inquiryInfo.supRgstDt) === false  && !(inquiryInfo.mbrServer && inquiryInfo.mbrServer === 'A') ) { %>
                    <ul class="bt-slice full">
                        <li>
                            <button class="fe-btn_retry_inquiry btn-floating btn-style2" data-xt_eid="CMMA_A11_B3-123" data-xt_csid="NO" data-xt_action="BC" data-inqId="<%-inquiryInfo.inqId%>"
                                    data-inqClCd="<%-inquiryInfo.inqClCd%>">재문의하기
                            </button>
                        </li>
                    </ul>
                <% }%>
            </div>
            <% } %>
        <% } %>
        </div>
        <!-- // .container-wrap -->
         <!-- .popup-closeBtn -->
        <button class="prev-step fe-email-close">취소</button>
        <!--// .popup-closeBtn -->
    </div>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CustomerEmailHistoryDetail($('.wrap'), JSON.parse('<%- JSON.stringify(inquiryInfo.psblReplyYn) %>'));
  });
</script>
</body>
<% include ../../components/end.component.html %>
