<%#
* FileName: customer.email.service.retry.html
* Author: Jiman Park (jiman.park@sk.com)
* Date: 2018.11.07
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <div class="popup-page tw-popup fixed-bottom ">
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '이메일 상담', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <div id="contents" class="container-wrap">
        <h2 class="blind">이메일 상담</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <!-- .component -->
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area type1"><!-- 타입별 탭형태 변환 -->
                            <div class="tab-linker">
                                <ul role="tablist">
                                    <li role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1"><a>서비스 문의</a></li>
                                    <!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                    <li role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2">
                                        <button disabled>통화품질 상담</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-contents">
                                <ul>
                                    <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1" aria-selected="true">
                                        <div class="blind fe-inqid" aria-hidden='true'><%-inquiryInfo.inqId%></div>
                                        <div class="cont-box nogaps-btm">
                                                <h3 class="tit-type2">
                                                    <% if ( inquiryInfo.inqClCd === 'B' ) { %>
                                                    <span class="tx-bold fe-category_depth1">휴대폰</span>
                                                    <% } else { %>
                                                    <span class="tx-bold fe-category_depth1">인터넷/집전화/TV</span>
                                                    <% } %>
                                                    <span class="tx-normal">서비스의</span><br>
                                                    <span class="tx-bold fe-category_depth2"><%-inquiryInfo.ofrCtgNm%></span> <span class="tx-normal">대해</span><br>
                                                    <span class="tx-normal">문의합니다.</span>
                                                </h3>
                                        </div>
                                        <hr class="cont-sp type1" aria-hidden="true">
                                        <div class="cont-box nogaps-btm">
                                            <div class="inquiryform-wrap">
                                                <p class="title">지난 문의 내용 입니다.</p>
                                                <!--<div class="inputbox">-->
                                                    <!--<div class="input">-->
                                                        <!--<input type="text" class="fe-retry_cell" value="<%-convertTelFormat(inquiryInfo.mblPhonNum)%>"-->
                                                               <!--title="input" aria-labelledby="aria-exp-label1"-->
                                                               <!--aria-describedby="aria-exp-desc1" readonly="">-->
                                                        <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                            <div class="cont-box-gapstyle01">
                                                <div class="widget">
                                                    <div class="widget-box accordion">
                                                        <div class="acco-cover on">
                                                            <div class="acco-style btn-hold">
                                                                <ul class="acco-list">
                                                                    <li class="acco-box">
                                                                        <div class="acco-tit servicecenter-inqbox">
                                                                            <p class="title"><%-inquiryInfo.title%></p>
                                                                            <div class="date-state"><em class="date"><%-convertDate(inquiryInfo.rgstDt)%></em>
                                                                                <% if ( inquiryInfo.answYn == 'Y' ) { %>
                                                                                <span class="state">답변완료</span>
                                                                                <% } else { %>
                                                                                <span class="state">처리중</span>
                                                                                <% } %>
                                                                            </div>
                                                                            <button role="button" aria-pressed="false"></button>
                                                                        </div>
                                                                        <div class="servicecenter-inbox">
                                                                            <p class="text-wrap">
                                                                                <%-inquiryInfo.contents%>
                                                                            </p>
                                                                            <div class="emainbox-wrap">
                                                                                답변 이메일
                                                                                <span class="name"><%-inquiryInfo.answEmailAddr%></span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="cont-sp type1" aria-hidden="true">
                                        <div class="cont-box">
                                            <div class="inquiryform-wrap">
                                                <p class="title">추가 문의 내용을 작성해주세요.</p>
                                                <div class="inputbox">
                                                    <div class="input">
                                                        <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" maxlength="20" required></textarea>
                                                        <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value=""-->
                                                               <!--maxlength="20" aria-labelledby="aria-exp-label1"-->
                                                               <!--aria-describedby="aria-exp-desc1" required>-->
                                                        <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                                    </div>
                                                    <span class="byte"><span class="byte-current">0</span>/<span
                                                        class="byte-total">20</span>자(최대)</span>
                                                </div>
                                                <div class="option-box">
                                                    <div class="inputbox textarea-type">
                                                        <div class="input">
                                                            <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6"
                                                                      placeholder="내용 입력" maxlength="12000"
                                                                      aria-labelledby="aria-email-qacont" required></textarea>
                                                            <button href="javascript:void(0)" class="cancel" style="display: none;"><span
                                                                class="blind">삭제</span></button>
                                                        </div>
                                                        <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="cont-sp type1" aria-hidden="true">
                                        <%- include('../../components/email/customer.email.common.template.html', { type: 'service' }); %>
                                    </li>
                                    <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2" aria-selected="false">
                                        tab2-content
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-service-register" disabled>등록하기</button>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <button class="prev-step">취소</button>
    </div>
</div>
<% include ../../components/javascript.component.html %>
<script type="text/template" id="tpl_email_faq">
    {{#if isCell}}
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps">
                <ul class="link-long-list">
                    <li>
                        <div class="link-long">
                            <a href="/myt-join/myplan">요금제 변경하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/myt-fare/bill/hotbill">이번달 실시간 요금 확인 하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/myt-join/submain/suspend">휴대폰 일시정지하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/myt-fare/bill/small/history">소액결제 이용내역 확인 하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/myt-fare/bill/small">소액결제 한도 상향(하향) 하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    {{else}}
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps">
                <ul class="link-long-list">
                    <li>
                        <div class="link-long">
                            <a href="/myt-join/submain">약정기간을 알고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/myt-join/submain/wire/discountrefund">인터넷/전화/인터넷전화/Btv 위약금 내역을 알고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/product/wireplan/service-area">서비스 가능지역 조회(설치가능 여부)를 하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/product/wireplan">가입신청/접수를 하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <a href="/myt-join/submain/wire/cancelsvc">해약 신청을 하고 싶어요.
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    {{/if}}
</script>
<script>
  $(document).ready(function () {
    new Tw.CustomerEmail($('.wrap'));
    new Tw.CustomerEmailServiceRetry($('.wrap'));
  });
</script>
</body>
<% include ../../components/end.component.html %>
