<div class="popup-page tw-popup fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... 기본배경색은 white, 회색배경색은 .nobg -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>구비서류 첨부</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box b-line-none">
                <em class="tit-type01">구비서류를<br/>첨부해주세요.</em>
                <h3 class="mt30">구비서류 첨부</h3>
                <p class="sub-txt mt10">{{data.desc}}</p>
                <div class="file-wrap type1 mt30">
                    <div class="inputbox bt-add">
								<span class="input">
									<input type="text" value="" title=""/>
								</span>
                        <span class="space"></span>
                        <span class="bt-box">
									<button type="button" class="fe-file-dialog">파일 찾기</button>
								</span>
                    </div>
                </div>
                <div class="file-wrap type1 mt30">
                    <div class="inputbox bt-add">
								<span class="input">
									<input type="text" value="" title=""/>
								</span>
                        <span class="space"></span>
                        <span class="bt-box">
									<button type="button" class="fe-file-dialog">파일 찾기</button>
								</span>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <!-- .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-request-upload">재첨부하기</button>
                    </li>
                </ul>
            </div>
            <!-- // .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step tw-popup-closeBtn">취소</button>
    <!--// .popup-closeBtn -->
</div>