<%#
* MenuName: 나의 요금 > 서브메인(MF2)
* @file myt-fare.submain.html
* @author Kim InHwan (skt.p132150@partner.sk.com)
* @since 2018.09.27
* Update: 2018.11.27
* Summay: 나의요금 서브메인 화면
%>

<%- include('../components/start.component.html', { pageInfo: data.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= data.pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../common/views/components/header.component.html', { title: '나의 요금', svcInfo: data.svcInfo,  pageInfo: data.pageInfo }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap" data-id="wrapper">
        <h2 id="contents-area" class="blind" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container" data-id="submain-container">
            <div class="user-greeting">
                <i class="icon-dialog-emoji-56"><span class="blind"></span></i>
                <p class="msg"><%= data.svcInfo.mbrNm %>님,<br /><span class="str">변함없이 저희와 함께해 주셔서 감사합니다.</span></p>
            </div>
            <% if (data.isPPS) { %>
            <!-- 청구요금 -->
            <%- include('../components/submain/myt-fare.submain.claim-pay.html', data) %>
            <% } else { %>
                <% if (!data.claim && !data.usage) { %>
                    <%- include('../components/submain/myt-fare.submain.claim-pay-none.html') %>
                <% } else { %>
                <!-- 청구요금 -->
                <%- include('../components/submain/myt-fare.submain.claim-pay.html', data) %>
                <!-- 상세항목 -->
                <%- include('../components/submain/myt-fare.submain.payment-detail.html', data) %>
                <!-- 소액결제 콘텐츠이용 -->
                <%- include('../components/submain/myt-fare.submain.micro-payment.html', data) %>

                <% if (data.totalPayment && data.totalPayment.length > 0) { %>
                <hr class="cont-sp type1" aria-hidden="true"/>
                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <div class="tit-wrap">
                        <h3 class="tit-type6 iblock tx-regular">최근 납부 내역</h3>
                        <button type="button" title="최근 납부내역" class="btn-txt-more" data-id="payment-detail">더보기</button>
                    </div>
                    <ul class="review-list">
                        <% for(var i=0; i < data.totalPayment.length; i++) { %>
                        <%- include('../components/submain/myt-fare.submain.total-payment.html', data.totalPayment[i]) %>
                        <% } %>
                    </ul>
                </div>
                <!--// .cont-box -->
                <% } %>

                <% } %>
            <% } %>
            <hr class="cont-sp type1" aria-hidden="true" data-id="bill-chart-empty"/>
            <!-- .cont-box -->
            <div class="cont-box nogaps-ver pb0" data-id="bill-chart">
                <h3 class="graph-tit ti-caption-type01">
                    <% if(data.type === 'UF') { %>
                    최근 이용요금내역
                    <% } else { %>
                    최근 청구요금내역
                    <% } %>
                    <button title="최근 요금 내역" type="button" class="btn-tip" page-id="<%= data.pageInfo.menuId %>"
                            id="<%= data.type === 'UF'? 'TC000025':'TC000024' %>">
                        <i class="icon-badge-tip"><span class="blind">tip</span></i>
                    </button>
                </h3>
                <div class="chart-wrap chart4"></div>
            </div>
            <!--// .cont-box -->
            <%- include('../components/submain/myt-fare.submain.contribution.html', data) %>
            <hr class="cont-sp type1" aria-hidden="true" data-id="banners-empty" />
            <div class="cont-box nogaps noborder" data-id="banners">
                <div class="main-slide-banner slide-pagingtype pg-rtop">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box">
                            <div class="slider-box">
                                <ul class="slider" data-id="banner-list" data-location="M"></ul>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
            <!-- //.cont-box -->

            <% if (data.type !== 'UF' && ((data.childLineInfo && data.childLineInfo.length > 0) || data.otherLines.length > 0)) { %>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- .cont-box -->
            <div class="cont-box nogaps-btm" data-id="other-line">
                <div class="ti-caption-type01 pb0">
                    <h2 class="tit">다른 회선 요금 조회
                        <button title="다른 회선 요금 조회" type="button" class="btn-tip" id="MF1_tip_01" page-id="<%= data.pageInfo.menuId %>">
                            <i class="icon-badge-tip"><span class="blind">tip</span></i>
                        </button>
                    </h2>
                </div>
                <ul class="my-line-info">
                </ul>
                <!-- [OP002-3317] 다른 회선(자녀포함)이 총 20개 이상인 경우 -->
                <% if (Math.min((data.childLineInfo && data.childLineInfo.length || 0) + data.otherLines.length, 20) === 20) { %>
                <div class="btn-more">
                    <button type="button">더 보기</button>
                </div>
                <% } %>
            </div>
            <!-- .cont-box -->
            <% } %>

            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">다른 페이지를 찾고 계신가요?</h3>
                <ul class="pg-link-list" data-id="other-pages">
                    <li>
                        <button data-href="/myt-join/myplancombine/infodiscount">
                            <i class="icon-my-40"><span class="blind"></span></i>나의 가입정보 &gt; 약정할인 / 기기상환 정보
                        </button>
                    </li>
                    <li>
                        <button data-href="/benefit/submain/discount">
                            <i class="icon-discount-40"><span class="blind"></span></i>혜택 / 할인 &gt; 요금할인
                        </button>
                    </li>
                    <li>
                        <button data-href="/benefit/my">
                            <i class="icon-discount-40"><span class="blind"></span></i>혜택 / 할인 &gt; 나의 할인 혜택
                        </button>
                    </li>
                    <% if( ['P', 'S'].indexOf(data.svcInfo.svcGr) === -1) {%>
                    <li>
                        <button data-href="/benefit/my">
                            <i class="icon-discount-40"><span class="blind"></span></i>혜택 / 할인 &gt; 나의 포인트 혜택
                        </button>
                    </li>
                    <% } %>
                    <li>
                        <button data-href="/myt-join/myplan">
                            <i class="icon-my-40"><span class="blind"></span></i>나의 가입정보 &gt; 나의 요금제
                        </button>
                    </li>
                    <li>
                        <button data-href="/myt-join/additions">
                            <i class="icon-my-40"><span class="blind"></span></i>나의 가입정보 &gt; 나의 부가서비스
                        </button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../common/views/components/footer.component.html', { svcInfo: data.svcInfo, pageInfo: data.pageInfo }); %>
</div>
<% include ../components/javascript.component.html %>
</body>
<script>
    // client 작업 중
    var data = '<%- JSON.stringify(data) %>';
    $(document).ready(function () {
      new Tw.MyTFareSubMain({
        $element: $('[data-id=submain-container]'),
        data: JSON.parse(data)
      });
    });

</script>
<% include ../components/end.component.html %>
