<%#
* @file product.roaming.coupon.html
* @author Seungkyu Kim (ksk4788@pineone.com)
* @since 2018.11.09
* ID: RM_13
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="rm-content">
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">

<!-- //웹접근성 hearder 삭제-->

    <!-- #header -->  
    <%- include('../../../../common/views/components/header.component.html', { title: 'T로밍 카드/쿠폰', svcInfo: svcInfo }) %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">

            <hr class="cont-sp type1" aria-hidden="true"/>
            
            <!-- .cont-box 퍼블 소스 복사 -->
            <div class="cont-box noborder pt32 pb32">
                <div class="roaming-card-coupon">
                    <h4 class="tit">특별한 선택,<br>T로밍 카드/쿠폰</h4>
                    <p class="desc tod-txcolor4">선물하고 싶다면? 이용 시기가 고민이라면?</p>
                    <ul class="bt-slice">
                        <li class="bt-roaming1">
                            <button type="button" id="coupon-buy-btn">T로밍 카드/쿠폰 구매하기</button>
                        </li>
                    </ul>
                    <button type="button" id="coupon-inquire-btn" class="rm-btn-hd-rgt fs13">구매 내역/남은 금액 조회</button>
                </div>
                <div class="rm-card-call mt24">
                    <p><span>카드/쿠폰 구매·변경 문의는</span><br>T로밍 고객센터</p>
                    <a href="tel:02-6343-9000" class="tel">전화걸기</a>
                </div>
            </div>
            <!--// .cont-box -->
            <div class="rm-anchor">
                <ul>
                    <li><a href="#anchor1" aria-selected="true">카드/쿠폰 소개</a></li>
                    <li><a href="#anchor2" aria-selected="false">등록하기</a></li>
                    <li><a href="#anchor3" aria-selected="false">이용 방법</a></li>
                </ul>
            </div>

            <div class="card-coupon-wrap" id="anchor1">
                <h4>T로밍 카드/쿠폰 소개</h4>
                <!-- .widget -->
                <div class="widget"> 
                    <div class="widget-box horizontal">
                        <div class="horizontal-slide">
                            <ul class="horizontal-list card-coupon-box">
                                <li>
                                    <button type="button" id="ONE_PASS" class="card-coupon-inner">
                                        <span class="inner-box">
                                            <strong class="tit">baro OnePass 300/500 카드</strong>
                                            <em class="send">MMS 발송</em>
                                            <span class="card"><img src="<%= CDN %>/img/product/roam/img-card-baroOnePass.png" alt="baro OnePass 300/500 카드" style="width:8.3125rem"></span>
                                            <span class="price">9,000원 ~ 15,000원 / 1일</span>
                                            <span class="desc">일 300MB~500MB + 속도 제한 계속 이용</span>
                                        </span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" id="ONE_PASS_VIP" class="card-coupon-inner">
                                        <span class="inner-box">																		
                                            <strong class="tit">baro (OnePass/OnePass Data) VIP 카드</strong>
                                            <em class="send">MMS 발송</em>
                                            <span class="card"><img src="<%= CDN %>/img/product/roam/img-card-baroVip.png" alt="baro (OnePass/OnePass Data) VIP 카드" style="width:8.3125rem"></span>
                                            <span class="price">17,600원 ~ 19,000원 / 1일</span>
                                            <span class="desc">데이터 무제한(공통)+음성 30분/문자 30건(선택)</span>
                                        </span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" id="BARO_3GB" class="card-coupon-inner">
                                        <span class="inner-box">																		
                                            <strong class="tit">baro 3GB 카드</strong>
                                            <em class="send">MMS 발송</em>
                                            <span class="card"><img src="<%= CDN %>/img/product/roam/img-card-baro3gb.png" alt="baro 3gb 카드" style="width:4.03125rem"></span>
                                            <span class="price">29,000원 / 7일</span>
                                            <span class="desc">LTE/3G 3GB + 속도 제한 계속 이용</span>
                                        </span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" id="BARO_4GB" class="card-coupon-inner">
                                        <span class="inner-box">																		
                                            <strong class="tit">baro 4GB 카드</strong>
                                            <em class="send">MMS 발송</em>
                                            <span class="card"><img src="<%= CDN %>/img/product/roam/img-card-baro4gb.png" alt="baro 4gb 카드" style="width:4.0625rem"></span>
                                            <span class="price">39,000원 / 30일</span>
                                            <span class="desc">LTE/3G 4GB + 속도 제한 계속 이용</span>
                                        </span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" id="BARO_7GB" class="card-coupon-inner">
                                        <span class="inner-box">																		
                                            <strong class="tit">baro 7GB 카드</strong>
                                            <em class="send">MMS 발송</em>
                                            <span class="card"><img src="<%= CDN %>/img/product/roam/img-card-baro7gb.png" alt="baro 7gb 카드" style="width:4.09375rem"></span>
                                            <span class="price">59,000원 / 30일</span>
                                            <span class="desc">LTE/3G 7GB + 속도 제한 계속 이용</span>
                                        </span>
                                    </button>
                                </li>															
                                <li>
                                    <button type="buton" id="GIFT_CARD" class="card-coupon-inner">
                                        <span class="inner-box">
                                            <strong class="tit">T로밍 정액권 쿠폰</strong>
                                            <em class="send">MMS 구매가능</em>
                                            <span class="card"><img src="<%= CDN %>/img/product/roam/img-card07.png" alt="T로밍 정액권 쿠폰" style="width:13.84375rem"></span>
                                            <span class="price">5,000원  ~  100,000원</span>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .card-coupon-wrap -->

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box pt36 pb36" id="anchor2">
                <h4>T로밍 카드/쿠폰 등록</h4>
                <ul class="bt-slice mt20">
                    <li class="bt-roaming1">
                        <button type="button" id="coupon-register-btn">구매/선물받은 카드/쿠폰 등록하기</button>
                    </li>
                </ul>
                <div class="h-tip mt30">
                    <h5>등록 방법</h5><button type="button" class="tip-view-btn" id="RM_13_tip_02" aria-haspopup="true">쿠폰 등록<span class="tip-view">TIP</span></button>
                </div>
                <div class="widget">
                    <div class="widget-box accordion">
                        <div class="acco-cover"><!-- toggle : 한개만 열기 -->
                            <div class="acco-style coupon-way">
                                <ul class="acco-list">
                                    <!-- .on: 열기 -->
                                    <li class="acco-box">
                                        <div class="acco-tit"><button role="button" aria-pressed="false">바로 등록</button></div>
                                        <div class="acco-cont">
                                            <div class="way-cont-box">
                                                <p class="txt">쿠폰 등록 방법으로 ‘즉시 등록’을 선택하고 구매하시면, 결제 완료 후 입력하신 주문(수신) 휴대폰 번호로 자동 등록됩니다.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="acco-box">
                                        <div class="acco-tit"><button role="button" aria-pressed="false">나중에 등록</button></div>
                                        <div class="acco-cont">
                                            <div class="way-cont-box">
                                                <p class="txt">쿠폰 등록 방법으로 ‘나중에 등록’을 선택하고 구매하시면, 입력하신 연락처로(문자메시지/이메일) 쿠폰 번호가 발송됩니다.</p>
                                                <ul class="order">
                                                    <li>
                                                        <strong>온라인 등록</strong>
                                                        <p>T월드 : 로밍 &gt; 로밍 카드/쿠폰 &gt; 쿠폰 등록하기</p>
                                                    </li>
                                                    <li>
                                                        <strong>모바일 등록</strong>
                                                        <p>T로밍 &gt; T로밍 카드/쿠폰 &gt; 구매/선물받은 카드/쿠폰 등록하기</p>
                                                    </li>
                                                </ul>
                                                <div class="announcement-box">
                                                    <div class="announcement-bullet type01 fs14">쿠폰 등록을 하셔야 T로밍 서비스 이용요금 차감과 쿠폰 혜택이 적용됩니다.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rm-card-call mt24">
                    <p><span>구매 취소/환불 문의는</span><br>SK엠앤서비스</p>
                    <a href="tel:1599-7963" class="tel">전화걸기</a>
                </div>
            </div>
            <!-- end of .cont-box #anchor2 -->

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box pt36 pb36" id="anchor3">
                <div class="h-tip">
                    <h4>T로밍 카드/쿠폰 이용</h4>
                    <button type="button" class="tip-view-btn" id="RM_13_tip_01" aria-haspopup="true">이용 안내<span class="tip-view">TIP</span></button>
                </div>
                <ul class="bul-list type2 fs14 mt10">
                    <li class="tod-txcolor5">T로밍 카드/쿠폰을 사용하려면 구매하신 로밍 카드/쿠폰에 해당하는 로밍 요금제에 가입하셔야 합니다.</li>
                    <li class="tod-txcolor5">T로밍 카드/쿠폰 유효 기간 : <span>등록 후 180일간</span> 이용하실 수 있습니다.</li>
                </ul>
                <div class="rm-card-call mt24">
                    <p><span>쿠폰 이용/발송 문의는</span><br>T로밍 쿠폰 고객센터</p>
                    <a href="tel:1599-7963" class="tel">전화걸기</a>
                </div>
            </div>
            <!-- end of .cont-box #anchor3 -->
            
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- .cont-box -->
            <div class="cont-box rm-cont-tooltip">
                <h3 class="tx-bold">꼭 확인하세요.</h3>
                <!-- Grand open 접근성 수정 -->
                <ul class="noti-list02">
                    <li><button type="button" aria-haspopup="true" id="RM_13_tip_03" class="tip-view-btn">쿠폰 등록 후 요금제 가입<span class="tip-view">TIP</span></button></li>
                </ul>
                <!--// Grand open 접근성 수정 -->
            </div>
            <!--// .cont-box -->

        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
<%- include('../../components/roaming-next/roaming.menu.html', {svcInfo}); %>
<div id="roamingIntercept"></div>
</body>

<% include ../../components/javascript.component.html %>

<!-- 아래 스크립트는 퍼블에서 만든 스크립트로써 퍼블 공통 스크립트 파일에 넣어 달라고 요청한 상태임- 서힘찬님 -->
<script type="text/javascript">
    $(function(){
        var o = $('.rm-anchor');
        var ah = o.height();
        var hd = 52;
        var v = o.offset().top - hd;
        var ai = o.find('li');
        var iscroll = 1;			
        $(window).scroll(function(){
            var st = $(window).scrollTop();
            if( st > v ) {
                o.addClass('fixed');
            } else o.removeClass('fixed');
            if(iscroll){
                for(i=0;i < ai.length;i++){
                    var a = ai.eq(i).find('a');						
                    var ao = $(a.attr('href')).offset().top - hd - ah;		
                    if(ao < st){							
                        rmAnchor(a);
                    }
                }
            }
        });
        o.find('a[href^="#"]').bind('click',function(e){				
            e.preventDefault();
            iscroll = 0;
            var ctOffset = $($.attr(this, 'href')).offset().top;
            var t = ctOffset - hd - ah + 1;
            $('html, body').stop().animate({scrollTop:t}, 200, function(){ iscroll = 1 });
            rmAnchor(this);
        });
    });
    function rmAnchor(o){
        var el = $(o).parent('li');
        el.find('a').attr('aria-selected', 'true');
        el.siblings().find('a').attr('aria-selected', 'false')
    }	
</script>

<script>
  $(document).ready(function () {
    new Tw.ProductRoamingCoupon($('.wrap'), '<%= bpcpServiceId %>');
    $('#roamingIntercept').data('checkCachedMcc', checkInterceptMenu);
  });
</script>

<% include ../../components/end.component.html %>
