<%#
* @file product.roaming.lookup.html
* @author Hyunkuk Lee (max5500@pineone.com)
* @since 2018.12.03
* ID: RM_11_01_02_06
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body data-gr-c-s-loaded="true">
<!-- Grand open 접근성 수정 -->
<!-- #skip_navigation -->
<!--<div id="skipNav" class="skip_navi">
   <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>-->
<!--// #skip_navigation -->
<!--// Grand open 접근성 수정 -->
<div class="wrap" data-menuId ="<%= pageInfo.menuId?pageInfo.menuId:'M000489' %>">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup txt-screed">
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '조회', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <div class="cont-box noborder">

                    <div class="myinfo-wrap">
                        <div class="myinfo-cont">
                            <div class="subtitle">
                                <button type="button" class="tip-view-btn" aria-haspopup="true">
                                    데이터 로밍 요금제<span class="tip-view">TIP</span>
                                </button>
                            </div>
                            <div class="title pt6">
                                <span><%= prodBffInfo.prodNm %></span>
                            </div>
                        </div>
                    </div>

                    <ul class="detail-info-list pt36">
                        <% if(prodBffInfo.prodFee) {%>
                        <li>
                            <dl>
                                <dt>이용요금</dt>
                                <dd>
                                    <p class="value">
                                        <span class="point"></span> / 일
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        <% } %>
                        <li>
                            <dl>
                                <dt>서비스 시작일</dt>
                                <dd>
                                    <p class="value" id="start_date"></p>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>서비스 종료일</dt>
                                <dd>
                                    <p class="value" id="end_date"></p>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <!--// .popup hbs -->
</div>


</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.ProductRoamingLookup($('.wrap'),<%- JSON.stringify(prodBffInfo) %>, '<%- prodId %>' )
  });
</script>

<% include ../../components/end.component.html %>
