<%#
* MenuName: T로밍 > 로밍 부가서비스 (RM_12)
* @file product.roaming.planadd.html
* @author Eunjung Jung
* @since 2018.11.08
%>


<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <%- include('../../../common/views/components/header.component.html', { title: 'T로밍 부가서비스', svcInfo: svcInfo }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <% if (isLogin && roamingAddCntData) { %>
            <!-- 사용중인 상품 -->
            <% const roamingPlanAddTxt = roamingAddCntData.prodInfoTxt; %>
            <% if(roamingPlanAddTxt) { %>
            <div class="cont-box gaps-style01">
                <div class="submain-myfeeproducts-wrap">
                   <a type="button" class="submain-myfeeproducts" href="/product/roaming/my-use#add">
                        <h3 class="title">사용중인 상품</h3>
                        <p class="text"><%= roamingPlanAddTxt %></p>
                    </a>
                </div>
            </div>
            <% } %>
            <% } %>
            <!--//사용중인 상품 -->
            <!-- 정렬 및 필터 -->
            <div class="sorting-box">
                <div class="left-item">
                    <button class="bt-select fe-rmadd-filter" title="조건 선택" aria-haspopup="true">
                        <% const filters = roamingAddData.searchOption && roamingAddData.searchOption.searchFltIds; %>
                        <% if (filters) { %>
                        <% for (let i = 0; i < Math.min(2, filters.length); i++) { %>
                        <% if (i > 0) { %>, <% } %>
                        #<span class="taglist"><%= filters[i].prodFltNm %></span>
                        <% } %>
                        <% if (filters.length > 2) { %> 외 <%= filters.length - 2 %>건 <% } %>
                        <% } else if (roamingAddData.searchOption && roamingAddData.searchOption.searchProdTagNm) { %>
                        #<span class="taglist"><%= roamingAddData.searchOption.searchProdTagNm %></span>
                        <% } else { %>
                        #<span class="taglist">전체 부가서비스</span>
                        <% } %>
                    </button>
                    <span class="counting pl12">총 <span class="tx-bold fe-planadd-cnt"><%= roamingAddData.productCount %></span>건</span>
                </div>
                <div class="right-item">
                    <button class="bt-select fe-rmadd-order" title="정렬 선택" aria-haspopup="true">
                        <% if (params.searchOrder === 'highprice') { %>
                        높은 가격순
                        <% } else if (params.searchOrder === 'lowprice') { %>
                        낮은 가격순
                        <% } else { %>
                        추천순
                        <% } %>
                    </button>
                </div>
            </div>
            <!--//정렬 및 필터 -->
            <!-- cont-box-->
            <% const products = roamingAddData.products; %>
            <% if (products) { %>
            <div class="cont-box nogaps-hoz">
                <ul class="recommendedrate-list mt0 no-icon-type" id="fe-roaming-list">
                    <% products.map(plan => { %>
                    <li class="type01">
                        <a href="/product/callplan?prod_id=<%= plan.prodId %>" class="product-infolink">
                            <div class="products-titleinfo">
                                <h5 class="title"><%= plan.prodNm %></h5>
                                <% if (plan.basFeeAmt.isNaN) { %>
                                <p class="info"><span class="money"><%= plan.basFeeAmt.value %></span></p>
                                <% } else { %>
                                <p class="info"><span class="money"><%= plan.basFeeAmt.value %></span>원</p>
                                <% } %>
                            </div>
                            <% if (plan.filters) { %>
                            <div class="taglist-wrap">
                                <% for (let j = 0; j < plan.filters.length; j++) { %>
                                <button class="tag-text">#<%= plan.filters[j].prodFltNm %></button>
                                <% } %>
                            </div>
                            <% } %>
                            <% if (plan.prodSmryDesc) { %>
                            <p class="products-detailinfo"><%= plan.prodSmryDesc %></p>
                            <% } %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
                <% if (roamingAddData.productCount > 0) { %>
                <% const moreCount = roamingAddData.productCount - products.length; %>
                <div class="bt-more gap-style">
                    <button class="<%= moreCount ? '' : 'none' %>" data-last-product="<%= products[products.length - 1].prodId %>" data-left-count="<%= moreCount %>">
                        더 보기
                    </button>
                </div>
                <% } %>
            </div>
            <% } %>
            <!-- //cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="roaming-info-box noicon">
                <div class="submain-findyourplan-wrap type1">
                    <a type="button" class="submain-findyourplan" href="/product/roaming/info/guide">
                        <h3 class="title">로밍 안내</h3>
                        <p class="text">출국 전 알아두면 유용한 로밍 정보</p>
                    </a>
                </div>
                <div class="submain-findyourplan-wrap type1">
                    <a type="button" class="submain-findyourplan" href="/product/roaming/do/search-before">
                        <h3 class="title">국가별 로밍 요금 조회</h3>
                        <p class="text">사용 중인 휴대폰 정보와 출국 국가명을<br>입력하시고, 로밍 요금 관련 각종 정보를<br>한 번에 확인하세요.</p>
                    </a>
                </div>
                <div class="submain-findyourplan-wrap type1">
                    <a type="button" class="submain-findyourplan" href="/product/roaming/info/guide?reqItem=lost">
                        <h3 class="title">분실 관련 안내 보러가기</h3>
                        <p class="text">긴급상황! 로밍 중 휴대폰을 분실하셨나요?</p>
                    </a>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true"/>

            <ul class="shortcutslist-wrap">
                <li class="category-type">
                    <a class="link" href="/product/roaming/info/center">로밍센터 안내</a>
                </li>
                <li class="category-type">
                    <a class="link" href="/customer/faq/category?id=1400000&title=%EB%A1%9C%EB%B0%8D">자주하는 질문</a>
                </li>
            </ul>
            <% include ../../components/roaming/product.roaming.bottom-link.component.html %>
        </div>
        <!-- #footer -->
        <footer id="fe-all-menu">
            <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
        <!--// #footer -->
    </div>
    <!--// #contents -->
</div>
</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.ProductRoamingPlanAdd($('.wrap'), <%- JSON.stringify(params) %>, <%- JSON.stringify(roamingAddData) %>, { code: 'F01600' });
  });
</script>
<% include ../../components/roaming/product.roaming.planadd.component.html %>
<% include ../../components/end.component.html %>