<%#
* MenuName: T로밍 > 로밍안내 > 자동안심 T로밍이란? (RM_16_03)
* @file product.roaming.info.secure-troaming.html
* @author Eunjung Jung
* @since 2018.11.08
%>


<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../common/views/components/header.component.html', { title: '자동안심 T 로밍이란?', svcInfo: svcInfo }); %>
    <!--// #header -->

    <!--    신규소스 OP002-0423 - 1 -->

    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <p>해외 여행, 이제 즐거움만 챙겨가세요.</p>
                <h3 class="tit-type5 mt12">요금 안심에 혜택 안심까지!<br><strong>자동안심 T로밍</strong>이<br>있으니까요.</h3>
                <div class="loaming-visual">
                    <img src="<%= CDN %>/img/product/vi-explain-loaming02.png" alt="">
                </div>
                <p class="article-type1 bk">‘자동안심 T로밍’은 해외 로밍 통화, 데이터 이용 시<br>과도한 요금이 청구되지 않도록 이용요금을 제어해주는<br>SK텔레콤만의 서비스입니다.</p>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="rm-autosafe-ct">
                <div class="rm-autosafe-q q1">
                    <p>‘잘 도착했어요＇<br>한마디하고 1일 로밍 요금을<br>고스란히 다 낸 적이 있었죠.</p>
                    <span class="rm-autosafe-arr"></span>
                </div>
                <div class="cont-box">
                    <div class="mt28">
                        <h4 class="tit-type2">모든 고객님께<br>매일 3분 무료 통화 제공!</h4>
                        <div class="loaming-visual">
                            <img src="<%= CDN %>/img/product/rm-autosafe-ct1.png" alt="">
                        </div>
                        <ul class="bul-list type2 fs13">
                            <li>로밍 요금제에 가입하지 않아도 매일 3분까지 해외 음성 통화를 무료로 이용하실 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
                <div class="rm-autosafe-q q2">
                    <p>휴대폰 자동 업데이트 때문에<br>쓰지도 않은 데이터 요금<br>어마어마하게 내고<br>앓아 누울 뻔 했지 뭐야.</p>
                    <span class="rm-autosafe-arr"></span>
                </div>
                <div class="cont-box">
                    <div class="mt28">
                        <h4 class="tit-type2">하루 종일 사용해도<br>데이터 요금 무조건 5천 원!</h4>
                        <div class="loaming-visual">
                            <img src="<%= CDN %>/img/product/rm-autosafe-ct2.png" alt="">
                        </div>
                        <ul class="bul-list type2 fs13">
                            <li>로밍요금제에 가입하지 않고 로밍 데이터를 이용하시더라도, 얼마를 사용하든 1일 최대 5천 원만 청구됩니다.</li>
                        </ul>
                    </div>
                </div>
                <div class="rm-autosafe-q q3">
                    <p>지갑 잃어버려서<br>국내 카드사에 연락하느라<br>통화 요금이 엄청 나왔었죠.</p>
                    <span class="rm-autosafe-arr"></span>
                </div>
                <div class="cont-box">
                    <div class="mt28">
                        <h4 class="tit-type2">해외 로밍 통화,<br>어디서든 30분까지 최대 1만 원!</h4>
                        <div class="loaming-visual">
                            <img src="<%= CDN %>/img/product/rm-autosafe-ct3.png" alt="">
                        </div>
                        <ul class="bul-list type2 fs13">
                            <li>어디에 있든 매일 30분 이내로 통화하시면 하루 통화료는 1만 원만 청구됩니다.<br>(30분 초과 시 요금은 초당 계산되어 쓰신 만큼만 청구됩니다.)</li>
                        </ul>
                    </div>
                </div>
                <div class="rm-autosafe-q q4">
                    <p>비행기가 연착돼서 꼬인 일정 때문에<br>검색하고 통화하고…<br>요금 신경 쓸 겨를도 없었어요.</p>
                    <span class="rm-autosafe-arr"></span>
                </div>
                <div class="cont-box">
                    <div class="mt28">
                        <h4 class="tit-type2">데이터 요금 대폭 할인!<br>음성 요금은 초당 계산!</h4>
                        <div class="loaming-visual">
                            <img src="<%= CDN %>/img/product/rm-autosafe-ct4.png" alt="TBD">
                        </div>
                        <ul class="bul-list type2 fs13">
                            <li>기존 데이터 요금에 비해 87.5% 할인된 요금이 적용됩니다.</li>
                            <li>음성 통화는 초당 계산되어 쓴 만큼만 합리적으로 청구됩니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps">
                <ul class="link-long-list">
                    <li>
                        <div class="link-long">
                            <a id="fe-reaming-qanda" href="">‘자동안심 T로밍’에 대해 자주 하는 질문과 답변	<span class="ico"><span class="blind">팝업 열림</span></span></a>
                        </div>
                    </li>

                </ul>
            </div>
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box">
                <strong class="tit-type4 bk block">해외 통화와 로밍 데이터, 더 실속 있고 빠르게 이용하고 싶으시다면?</strong>
                <p class="article-type1 mt12">같은 비용이지만 더 많은 혜택을 누리는 상품을 선택하세요.<br>추가 요금 걱정 없이 더 빠른 속도를 누리실 수 있는 로밍 정액요금 상품을 추천합니다.</p>
                <div class="rm-main-recomm mt16">
                    <div class="productinfoscroll-box" style="display:block">
                        <div class="widget">
                            <div class="widget-box horizontal">
                                <div class="horizontal-slide slide-nopd">
                                    <ul class="horizontal-list" style="width: 3904px;">
                                        <li data-url="/product/callplan?prod_id=NA00006489" class="fe-link-internal">
                                            <button type="button" class="product-info">
                                                <div class="product-info-btn">
                                                    <h5 class="title">baro 3GB</h5>
                                                    <p class="info"><span class="money money-noleft">29,000</span>원/7일<i>(부가세 포함)</i></p>
                                                </div>
                                                <div class="type">
                                                    <span class="str">3</span>GB
                                                </div>
                                            </button>
                                        </li>
                                        <li data-url="/product/callplan?prod_id=NA00006493" class="fe-link-internal">
                                            <button type="button" class="product-info">
                                                <div class="product-info-btn">
                                                    <h5 class="title">baro 4GB</h5>
                                                    <p class="info"><span class="money money-noleft">39,000</span>원/30일<i>(부가세 포함)</i></p>
                                                </div>
                                                <div class="type">
                                                    <span class="str">4</span>GB
                                                </div>
                                            </button>
                                        </li>
                                        <li data-url="/product/callplan?prod_id=NA00006497" class="fe-link-internal">
                                            <button type="button" class="product-info">
                                                <div class="product-info-btn">
                                                    <h5 class="title">baro 7GB</h5>
                                                    <p class="info"><span class="money money-noleft">59,000</span>원/30일<i>(부가세 포함)</i></p>
                                                </div>
                                                <div class="type">
                                                    <span class="str">7</span>GB
                                                </div>
                                            </button>
                                        </li>
                                        <li data-url="/product/callplan?prod_id=NA00003196" class="fe-link-internal">
                                            <button type="button" class="product-info">
                                                <div class="product-info-btn">
                                                    <h5 class="title">baro OnePass 300 기본형</h5>
                                                    <p class="info"><span class="money money-noleft">9,900</span>원/1일<i>(부가세 포함)</i></p>
                                                </div>
                                                <div class="type">
                                                    <span class="str">300</span>MB
                                                </div>
                                            </button>
                                        </li>
                                        <li data-url="/product/callplan?prod_id=NA00005049" class="fe-link-internal">
                                            <button type="button" class="product-info">
                                                <div class="product-info-btn">
                                                    <h5 class="title">baro OnePass 500 기본형</h5>
                                                    <p class="info"><span class="money money-noleft">16,500</span>원/1일<i>(부가세 포함)</i></p>
                                                </div>
                                                <div class="type">
                                                    <span class="str">500</span>MB
                                                </div>
                                            </button>
                                        </li>
                                        <li data-url="/product/callplan?prod_id=NA00006486" class="fe-link-internal">
                                            <button type="button" class="product-info">
                                                <div class="product-info-btn">
                                                    <h5 class="title">baro OnePass VIP 기본형</h5>
                                                    <p class="info"><span class="money money-noleft">19,000</span>원/1일<i>(부가세 포함)</i></p>
                                                </div>
                                                <div class="type">
                                                    <span class="str">데이터 무제한+음성/문자(상세참조)</span>
                                                </div>
                                            </button>
                                        </li>
                                        <li data-url="/product/callplan?prod_id=NA00006744" class="fe-link-internal">
                                            <button type="button" class="product-info">
                                                <div class="product-info-btn">
                                                    <h5 class="title">baro OnePass Data VIP 기본형</h5>
                                                    <p class="info"><span class="money money-noleft">17,600</span>원/1일<i>(부가세 포함)</i></p>
                                                </div>
                                                <div class="type">
                                                    <span class="str">데이터 무제한</span>
                                                </div>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps-btm">
                <h3 class="tx-bold">꼭 확인해 주세요</h3>
                <!-- Grand open 접근성 수정 -->
                <ul class="noti-list02">
                    <li><button id="RM_16_03_tip_01" aria-haspopup="true" class="tip-view-btn">자동안심 T로밍 음성<span class="tip-view">TIP</span></button></li>
                    <li><button id="RM_16_03_tip_02" aria-haspopup="true" class="tip-view-btn">자동안심 T로밍 데이터<span class="tip-view">TIP</span></button></li>
                </ul>
                <!--// Grand open 접근성 수정 -->
            </div>
        </div>
        <!-- #footer -->
        <footer id="fe-all-menu">
            <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
        <!--// #footer -->
    </div>
    <!--// #contents -->


    <!--   end of 신규소스 OP002-0423 - 1 -->

</div>
</body>

<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        new Tw.ProductRoamingSecureTroaming($('.wrap'));
    });
</script>
<% include ../../components/end.component.html %>
