<%#
* @file product..centerBanners-use.component.html
* @author Juho Kim (jhkim@pineone.com)
* @since 2018.11.20
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="productRoamingMyUse" class="wrap">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '나의 T로밍 이용현황', svcInfo: svcInfo }) %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <!-- .component -->
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area type1"><!-- 타입별 탭형태 변환 -->
                            <div class="tab-linker">
                                <ul role="tablist" class="fe-myuse-tablist">
                                    <li role="presentation" aria-controls="tab1-tab" id="tab1"><a role="tab" aria-selected="false" class="fe-myuse-tab" href="#fee">로밍 요금제</a></li><!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                    <li role="presentation" aria-controls="tab2-tab" id="tab2"><a role="tab" aria-selected="false" class="fe-myuse-tab" href="#add">로밍 부가서비스</a></li>
                                </ul>
                            </div>

                            <hr class="cont-sp type1" aria-hidden="true"/>
                            <div class="tab-contents">
                                <ul>
                                    <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1" class="fee-tab">
                                        <% include ../../components/roaming/product.roaming.my-use-fee.component.html %>
                                    </li>
                                    <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2" class="add-tab">
                                        <% include ../../components/roaming/product.roaming.my-use-add.component.html %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .component -->
            </div>
            <!--// .cont-box -->

        </div>
    </div>
    <!--// #contents -->
    <!-- #footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }) %>
    <!--// #footer -->
</div>
</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.ProductRoamingMyUse($('#productRoamingMyUse'), {});
  });
</script>
<% include ../../components/end.component.html %>