<%#
* FileName: myt-join.product.combinations.html
* Author: Jiyoung Jo (jiyoungjo@sk.com)
* Date: 2018.10.19
%>

<% include ../components/start.component.html %>

<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <!-- #header -->
        <%- include('../../../common/views/components/header.component.html', { title: '나의 결합상품', svcInfo, option: { line: true } }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                
                <div class="ti-caption-gray">
                    <p class="num">총<em>5</em>개</p>
                </div>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <div class="my-product-list">
                        <ul>
                            <li>
                                <div class="inner">
                                    <strong class="tit">가족나눔데이터</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">1~4 회선</span>
                                    </div>
                                    <button class="bt-link-tx underline">구비서류 제출</button>
                                    <button class="btn"><span class="blind">가족나눔데이터 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">T끼리 온가족할인</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">2~4 회선</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">T끼리 온가족할인 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">온가족 행복플랜</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">1~4회선</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">온가족 행복플랜 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">T가족결합 (착한가족)</strong>
                                    <button aria-haspopup="true" class="info-view-ic">T가족결합 (착한가족) 정보보기</button>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">1~4회선</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">T가족결합 (착한가족) 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">TB끼리 온가족프리</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">1~4회선</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">TB끼리 온가족프리 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">T+B인터넷 (패밀리형)</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">2~5회선</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">T+B인터넷 (패밀리형) 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">한가족할인</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷</span>
                                    </div>
                                    <button class="btn"><span class="blind">한가족할인 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">T+B인터넷 (개인형)</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합상품 보기</button>
                                    <button class="btn"><span class="blind">T+B인터넷 (개인형) 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">T+B전화/인터넷전화 (패밀리형)</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">2~5회선</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">전화</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷전화</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">T+B전화/인터넷전화 (패밀리형) 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">TB끼리 온가족무료</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">2~5회선</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">전화</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">TB끼리 온가족무료 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">TB끼리 TV플러스</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">IPTV</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">TB끼리 TV플러스 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">T+B전화/인터넷전화 (개인형)</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">전화</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷전화</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합상품 보기</button>
                                    <button class="btn"><span class="blind">T+B전화/인터넷전화 (개인형) 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">다자녀할인</strong>
                                    <button aria-haspopup="true" class="info-view-ic">다자녀할인 정보보기</button>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">휴대폰(부모)</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">자녀(3회선이상)</span>
                                    </div>
                                    <button class="btn"><span class="blind">다자녀할인 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">온가족플랜</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">2~5회선</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷</span>
                                    </div>
                                    <button class="bt-link-tx underline">결합가족 보기</button>
                                    <button class="btn"><span class="blind">온가족플랜 상품원장 보기</span></button>
                                </div>
                            </li>
                            <li>
                                <div class="inner">
                                    <strong class="tit">NEW온가족플랜</strong>
                                    <p class="date">신청일 2018.8.15</p>
                                    <div class="bundle-type">
                                        <i class="ico"></i>
                                        <span class="txt">2~5회선</span>
                                        <span class="plus">+</span>
                                        <i class="ico"></i>
                                        <span class="txt">인터넷</span>
                                    </div>
                                    <button class="bt-link-tx underline">구비서류 제출</button>
                                    <button class="btn"><span class="blind">NEW온가족플랜 상품원장 보기</span></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>
                <!-- TBD -->
                <img src="/img/dummy/DC_02_TBD2.jpg" alt="이용안내 노출 영역" style="width:100%;vertical-align: top;">
            
            </div>
        </div>
        <!--// #contents -->
    </div>
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</body>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        new Tw.MyTJoinProductCombinations($('.wrap'));
    });
</script>
<% include ../../components/end.component.html %>