<% include ../components/start.component.html %>
<%#
* FileName: payment.history.excess-pay.html
* Author: 이상형 (silion@sk.com)
* Date: 2018.07.05
%>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap step-page">
        <div class="header step-page">
            <div class="header-ti">
                <h1>과납 내역 확인 </h1>
            </div>
            <button class="close-step"><span class="blind">닫기</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box noborder nogaps-btm">
                <div class="box-inquiry-info">
                    <span class="inquiry-info-stxt">홍길동님이<strong>환불 받을</strong></span>
                    <span class="inquiry-info-txt"><strong>총 금액은 50,000원</strong> 입니다.</span>
                </div>
                <div class="payment-detail-wrap payment-select">
                    <p class="info-txt">총 3건의 과납 내역이 있습니다</p>
                    <h3 class="blind">환불 받을 수 있는 총 금액 내역 제공</h3>
                    <div class="widget">
                        <div class="widget-box check">
                            <ul class="select-list" role="group">
                                <li class="checkbox type01" role="checkbox" aria-checked="false">
                                    <input type="checkbox" name="checkbox" value="환급 받을 내역을 선택" title="체크박스"/>
                                    <dl class="pay-detail">
                                        <dt>과납발생일자</dt>
                                        <dd>2018.05.23</dd>
                                    </dl>
                                    <dl class="pay-detail">
                                        <dt>과납금액</dt>
                                        <dd><strong>20,000</strong><span class="unit">원</span></dd>
                                    </dl>
                                </li>
                                <li class="checkbox type01" role="checkbox" aria-checked="false">
                                    <input type="checkbox" name="checkbox" value="환급 받을 내역을 선택" title="체크박스"/>
                                    <dl class="pay-detail">
                                        <dt>과납발생일자</dt>
                                        <dd>2018.05.23</dd>
                                    </dl>
                                    <dl class="pay-detail">
                                        <dt>과납금액</dt>
                                        <dd><strong>20,000</strong><span class="unit">원</span></dd>
                                    </dl>
                                </li>
                                <li class="checkbox type01" role="checkbox" aria-checked="false">
                                    <input type="checkbox" name="checkbox" value="환급 받을 내역을 선택" title="체크박스"/>
                                    <dl class="pay-detail">
                                        <dt>과납발생일자</dt>
                                        <dd>2018.05.23</dd>
                                    </dl>
                                    <dl class="pay-detail">
                                        <dt>과납금액</dt>
                                        <dd><strong>20,000</strong><span class="unit">원</span></dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="contents-info-list">
                        <a href="" class="bt-more" title="">더보기<span>(20)</span></a>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button>40,000원 환불요청하기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--// #contents -->
</div>


<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.PaymentHistoryExcessPay($(document));
  });
</script>
<% include ../components/end.component.html %>