<%#
* FileName: payment.prepay.micro.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.25
%>
<% include ../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="payment-prepay-micro" class="wrap">
    <!-- #contents -->
    <div id="main" class="container-wrap">
        <% include ../components/prepay/payment.prepay.home.component.html %>
    </div>
    <div id="step1" class="container-wrap" style="display:none;">
        <% include ../components/prepay/payment.prepay.input.component.html %>
    </div>
    <div id="complete-prepay" class="container-wrap" style="display:none;">
        <% include ../components/prepay/payment.prepay.complete.component.html %>
    </div>
    <div id="error" class="container-wrap" style="display:none;">
        <% include ../components/prepay/payment.prepay.error.component.html %>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.PaymentPrepay($('#payment-prepay-micro'));
  });
</script>
<% include ../components/end.component.html %>