<%#
* FileName: payment.realtime.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.05
%>
<% include ../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="payment-realtime" class="wrap">
    <!-- #contents -->
    <div id="main" class="container-wrap">
        <% if (list.code === "00") { %>
            <% include ../components/realtime/payment.realtime.home.component.html %>
        <% } else { %>
            <% include ../components/realtime/payment.realtime.home.exception.component.html %>
        <% } %>
    </div>
    <div id="step1" class="container-wrap" style="display:none;">
        <% include ../components/realtime/payment.realtime.select.option.component.html %>
    </div>
    <div id="step2-account" class="container-wrap" style="display:none;">
        <% include ../components/realtime/payment.realtime.input.account.component.html %>
    </div>
    <div id="step2-card" class="container-wrap" style="display:none;">
        <% include ../components/realtime/payment.realtime.input.card.component.html %>
    </div>
    <div id="step2-point" class="container-wrap" style="display:none;">
        <% include ../components/realtime/payment.realtime.input.point.component.html %>
    </div>
    <div id="step2-sms" class="container-wrap" style="display:none;">
        <% include ../components/realtime/payment.realtime.input.sms.component.html %>
    </div>
    <div id="complete" class="container-wrap" style="display:none;">
        <% include ../components/realtime/payment.realtime.complete.component.html %>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.PaymentRealtime($('#payment-realtime'));
  });
</script>
<% include ../components/end.component.html %>