<% include ../components/start.component.html %>
<%#
* FileName: payment.history-realtime.html
* Author: 이상형 (silion@sk.com)
* Date: 2018.07.04
%>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>납부내역조회</h1>
                <button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>
            </div>
            <button class="prev-step common-back"><span class="blind">이전으로</span></button>
            <button class="search-content"><span class="blind">검색하기</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <%- include('../components/line.info.component.html', { svcInfo: svcInfo }); %>

            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box">
                <button class="bt-dropdown big"title="전체납부내역">즉시납부내역<span class="ico"></span></button>

                <div id="fe-list-wrapper"></div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box accordion">
                        <h5 class="tit-a">꼭 확인해 주세요!</h5>
                        <div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
                            <div class="acco-style">
                                <ul class="acco-list">
                                    <li class="acco-box">
                                        <!-- .on: 열기 -->
                                        <div class="acco-tit"><button role="button" aria-pressed="false">1. 계좌이체 취소 방법 안내</button></div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">계좌이체 취소는 영업점 또는 고객센터[국번 없이 1599-0011(유료)/휴대폰114]를 통해 환불 신청하실 수 있습니다.</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="acco-box">
                                        <!-- .on: 열기 -->
                                        <div class="acco-tit"><button role="button" aria-pressed="false">2. 이용정지 고객 안내</button></div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">이용정지 고객의 경우 납부기한이 경과한 미납금액을 모두 납부하시면 이용정지가 즉시 해제됩니다.</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="acco-box">
                                        <!-- .on: 열기 -->
                                        <div class="acco-tit"><button role="button" aria-pressed="false">3. 즉시납부내역 조회 기간 안내</button></div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">요금 납부 내역은 최근 6개월 이내, 환불 처리내역은 최근 10일 이내, OK캐쉬백/T포인트 납부취소는 요금납부 후 20일 이내 처리내역만 조회 가능하며, 해당 기간 이외의 내역에 대해서는 고객센터[국번 없이 1599-0011(유료)/휴대폰114]로 문의하시기 바랍니다</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .widget -->
            </div>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>

<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.PaymentHistoryRealtime($(document));
  });
</script>
<script id="list-wrapper" type="text/x-handlebars-template">
    <div class="payment-detail-wrap">
        <p class="info-txt">6개월간의 요금납부 내역만 확인 가능합니다.</p>
        {{> list}}
        {{#if initialMoreData}}
        <div class="contents-info-list">
            <a href="" class="bt-more" title="">더보기<span>(<em>{{restCount}}</em>)</span></a>
        </div>
        {{/if}}
    </div>
</script>
<script id="list-default" type="text/x-handlebars-template">
    {{#each listElement}}
    <div class="payment-detail-box">
        <div class="detail-inner">
            <div class="pay-state">
                {{#if isFinish}}
                <span class="payment-com">납부완료</span>
                {{/if}}
                {{#if isCancelDone}}
                <span class="cancel-com">취소완료</span>
                {{/if}}
            </div>
            <div class="detail-list">
                <ul>
                    <li>
                        <span class="title">신청일자</span>
                        <span class="tx-cont">{{paymentReqDate}}</span>
                    </li>
                    <li>
                        <span class="title">납부방법</span>
                        {{#if isOCB}}
                        <span class="tx-cont">OK캐쉬백</span>
                        {{/if}}
                        {{#if isTpoint}}
                        <span class="tx-cont">T포인트</span>
                        {{/if}}
                        {{#if isBank}}
                        <span class="tx-cont">계좌이체 ({{paymentName}})
                            {{#if isPersonal}}
                            <a href="/payment/history/receipt/cash" class="bt-link-tx">현금영수증 발행내역 <span class="ico"></span></a>
                            {{/if}}
                            {{#if isCompany}}
                            <a href="/payment/history/receipt/tax" class="bt-link-tx">세금계산서 발급내역 <span class="ico"></span></a>
                            {{/if}}
                        </span>
                        {{/if}}
                        {{#if isCard}}
                        <span class="tx-cont">신용카드<span class="card-sort">({{paymentName}})</span></span>
                        {{/if}}
                    </li>
                    <li>
                        <span class="title">납부금액</span>
                        <span class="tx-cont"><strong>{{payAmt}}</strong> 원</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="detail-btn">
            <button type="button" class="fe-btn" data-list-id="{{listId}}">상세내역보기</button>
        </div>
    </div>
    {{/each}}
</script>
<script id="list-empty" type="text/x-handlebars-template">
    <!-- 즉시납부 내역 없는 경우 -->
    <div class="payment-select">
        <div class="contents-empty">
            <span class="ico"></span>
            <p class="desc">즉시납부하신 내역이 없습니다.</p>
        </div>
        <div class="pay-bottom type1">
            <p class="title">다음달 청구요금을<br />포인트로 미리 납부하세요</p>
            <a href="{{result.removeURL}}" class="bt-link-tx">포인트 1회 납부(예약) 하기 <span class="ico"></span></a>
        </div>
    </div>
    <!-- 즉시납부 내역 없는 경우 -->
</script>
<% include ../components/end.component.html %>