<%#
* FileName: payment.point.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.06
%>
<% include ../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<!--// #skip_navigation -->
<div id="payment-point" class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>포인트 요금납부</h1>
                <button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>
            </div>
            <button class="prev-step common-back"><span class="blind">이전으로</span></button>
            <button class="search-content"><span class="blind">검색하기</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="main" class="container-wrap">
        <% include ../components/point/payment.point.home.component.html %>
    </div>
    <div id="step1-cashbag-one" class="container-wrap" style="display:none;">
        <% include ../components/point/payment.point.cashbag.one.component.html %>
    </div>
    <div id="step1-cashbag-auto" class="container-wrap" style="display:none;">
        <% include ../components/point/payment.point.cashbag.auto.component.html %>
    </div>
    <div id="step1-rainbow-one" class="container-wrap" style="display:none;">
        <% include ../components/point/payment.point.rainbow.one.component.html %>
    </div>
    <div id="step1-rainbow-auto" class="container-wrap" style="display:none;">
        <% include ../components/point/payment.point.rainbow.auto.component.html %>
    </div>
    <div id="complete" class="container-wrap" style="display:none;">
        <% include ../components/point/payment.point.complete.component.html %>
    </div>
    <div id="error" class="container-wrap" style="display:none;">
        <% include ../components/point/payment.point.error.component.html %>
    </div>
    <!--// #contents -->
    <% include ../../../../common/views/components/footer.component.html %>
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.PaymentPoint($('#payment-point'));
  });
</script>
<% include ../components/end.component.html %>