<%#
* @file myt-join.myplancombine.t-family.html
* @author Jiyoung Jo
* @editor 양정규
* @since 2018.10.26
* id: MS_07_01_01
_%>

<!-- .cont-box -->
<%_ const groupInfo = combination.combinationGroup; _%>
<div class="cont-box">
    <div class="bundle-tit-wrap">
        <h3 class="tit">T끼리온가족할인</h3>
        <div class="subtxt">
            <em class="txt">총 할인금액</em>
            <p class="val tod-txcolor6"><span class="str">-<%- groupInfo.totBasFeeDcTx %></span>원</p>
        </div>
    </div>
    <div class="basic-list bg-type mt10">
        <ul>
            <li>
                <span class="title">신청일</span>
                <span class="tx-cont"><%- groupInfo.combStaDt %></span>
            </li>
            <li>
                <span class="title">가족 합산 총 적용가입기간</span>
                <span class="tx-cont"><%- groupInfo.totUseYy %></span>
            </li>
            <li>
                <span class="title">결합회선</span>
                <span class="tx-cont"><%- groupInfo.mblSvcCnt %>회선</span>
            </li>
        </ul>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true" />

<!-- .cont-box -->
<div class="cont-box nogaps-hoz">
    <!-- .widget -->
    <div class="widget">
        <div class="widget-box accordion2">
            <div class="acco-style data-famliy-group-list type2">
                <ul class="acco-box">
                    <%_ combination.combinationWirelessMemberList.map(member => {
                        const isMine = svcInfo.svcMgmtNum === member.svcMgmtNum;
                        const isRep = member.relClCd === '00'; _%>
                    <li class="acco-list">
                        <!-- on , off -->
                        <div class="acco-title">
                            <button role="button" aria-pressed="false">
                                <div class="list-wrap">
                                    <div class="list-info">
                                        <div>
                                            <%_ if (isMine) { _%>
                                            <strong class="me"><%= member.custNm %></strong>
                                            <i class="icon-<%= member.badge %> ml9"><span class="blind"><%= member.relClNm %></span></i>
                                            <i class="icon-me ml5"><span class="blind">나</span></i><!-- 뱃지-나 -->
                                            <%_ } else { _%>
                                            <em class="me"><%= member.custNm %></em>
                                            <i class="icon-<%= member.badge %> ml9"><span class="blind"><%= member.relClNm %></span></i>
                                            <%_ } _%>
                                        </div>
                                        <div class="num"><%- member.svcNum %></div>
                                    </div>
                                    <div class="list-data">
                                        할인 후 <span class="vol"><%- member.aftBasFeeAmtTx %></span>원
                                    </div>
                                    <div class="list-arrow">
                                        <span class="ico-arrow"><span class="blind">결합가족 <%= member.custNm %> 내용 자세히 보기</span></span>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="acco-content">
                            <div class="data-info-list toggle-inner-list">
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>가족대표와의 관계</dt>
                                            <dd>
                                                <%_ if (isRep && isMine) { _%>
                                                본인(내번호)<br />
                                                <%_ } else { _%>
                                                <%= member.relClNm %><%- isMine? '(내번호)' : ''%><br />
                                                <%_ } _%>
                                                <%_ if (isMine && isRep || groupInfo.mblSvcCnt < 2) { _%><a class="bt-link-tx underline red" href="/product/callplan?prod_id=<%- prodId %>">해지</a><%_ } _%>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li><dl><dt>휴대폰 적용가입기간</dt><dd><%- member.useYy %></dd></dl></li>
                                    <li><dl><dt>인터넷 적용가입기간</dt><dd><%- member.iUseYy %></dd></dl></li>
                                    <li><dl><dt>월정액 할인율</dt><dd><%- member.tcFeeBenf %></dd></dl></li>
                                    <li><dl><dt>사용중인 요금제</dt><dd><a class="bt-link-tx underline" href="/product/callplan?prod_id=<%- member.feeProdId %>"><%= member.feeProdNm %></a></dd></dl></li>
                                    <li><dl><dt>할인 전 금액</dt><dd><%- member.basFeeAmtTx %> 원</dd></dl></li>
                                    <li><dl><dt>할인금액</dt><dd>- <%- member.basFeeDcTx %> 원</dd></dl></li>
                                    <li><dl><dt>할인 후 금액</dt><dd><strong><%- member.aftBasFeeAmtTx %></strong> 원</dd></dl></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <%_ }); _%>
                </ul>
            </div>
        </div>
    </div>
    <!-- //.widget -->
</div>
<!--// .cont-box -->

<!-- .cont-box --><!-- 2018-11-02 수정 -->
<div class="cont-box noborder bgnone">
    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
    <ul class="pg-chk-list02">
        <li><button id="MS_07_01_01_tip_01" class="btn-tip" aria-haspopup="true">band데이터 요금제<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
        <li><button id="MS_07_01_01_tip_02" class="btn-tip" aria-haspopup="true">실제 할인금액<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
        <li><button id="MS_07_01_01_tip_03" class="btn-tip" aria-haspopup="true">통화료 내역 제외<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
        <li><button id="MS_07_01_01_tip_04" class="btn-tip" aria-haspopup="true">더블할인 혜택 이용 고객<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
        <li><button id="MS_07_01_01_tip_05" class="btn-tip" aria-haspopup="true">가입연수 산정<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
        <li><button id="MS_07_01_01_tip_06" class="btn-tip" aria-haspopup="true">가족그룹의 해지<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
    </ul>
</div>
<!--// .cont-box -->
