<%#
* 이용안내 > 이용자피해예방센터 > 이용자 피해예방 가이드 목록
* FileName: customer.damage-info.guide.html
* Author: Ji Hun Yang (jihun202@sk.com)
* Date: 2018.10.24
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-category="<%= category %>" data-menuId="<%= pageInfo.menuId %>">
    <%- include('../../../../common/views/components/header.component.html', { title: '이용자 피해예방 가이드', svcInfo: svcInfo }); %>
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="ti-caption-gray">
                    <button class="bt-select fe-btn_category" title="이용자 피해예방 가이드 선택" aria-haspopup="true"><%= categoryLabel %></button>
                </div>

                <% if (category == 'video' || category == 'latest') { %>
                <ul class="link-long-list fe-list" data-size="20">
                    <% for (var i in list) { %>
                    <li class="<%= list[i].itemClass %>">
                        <div class="link-long">
                            <% if (category === 'latest' && !list[i].IS_EXTERNAL) { %>
                            <a href="<%= list[i].LINK %>"><%= list[i].TEXT %>
                                <span class="tx-sub">
                                    <span class="ico"><span class="blind">더보기</span></span>
                                </span>
                            </a>
                            <% } else { %>
                            <a class="fe-link-external" href="<%= list[i].LINK %>" target="_blank"><%= list[i].TEXT %>
                                <span class="tx-sub">
                                    <span class="ico"><span class="blind">더보기</span></span>
                                </span>
                            </a>
                            <% } %>
                        </div>
                    </li>
                    <% } %>
                </ul>
                <% } %>
                <% if (category == 'webtoon') { %>
                <div class="webtoon-box">
                    <ul class="webtoon-list fe-list" data-size="20">
                        <% for (var i in list) { %>
                        <li class="<%= list[i].itemClass %>"><a href="/customer/damage-info/guide/webtoon-view?idx=<%= list[i].idx %>" class="webtoon-bt"><img src="<%= CDN %>/img/webtoon/<%= list[i].THUMB %>" alt="<%= list[i].TITLE %>"></a></li>
                        <% } %>
                    </ul>
                    <p class="data-services">* 자료제공 : 방송통신이용자포털(<a href="http://www.wiswuser.go.kr" class="fe-link-external" target="_blank">http://www.wiswuser.go.kr</a>)</p>
                </div>
                <% } %>
                <% if (list.length > listMaxSize) { %>
                <div class="bt-more">
                    <button class="fe-btn_list_more">더 보기<span>(<%= list.length - listMaxSize %>)</span></button>
                </div>
                <% } %>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <!-- #footer -->
    <footer id="fe-all-menu">
        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </footer>
    <!--// #footer -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CustomerDamageInfoGuide($('.wrap'));
  });
</script>
<% include ../../components/end.component.html %>