<%#
* 이용안내 > 이용자피해예방센터 > 유용한 부가서비스
* @file customer.damage-info.additions.html
* @author Ji Hun Yang (jihun202@sk.com)
* @since 2018.10.24
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <%- include('../../../../common/views/components/header.component.html', { title: '유용한 부가서비스', svcInfo: svcInfo }); %>
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="ti-caption-gray">
                <h4 class="tit">생활편의</h4>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <ul class="service-list">
                    <li>
                        <a href="/product/callplan?prod_id=NA00002666" class="list-inner ico-t07">
                            <strong class="list-tit">휴대폰 번호 보호</strong>
                            <em class="list-date">휴대폰에 비밀번호를 설정해 분실 시 도용을 방지할 수 있는 안전 서비스</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00003909" class="list-inner ico-t08">
                            <strong class="list-tit">휴대폰 결제 비밀번호</strong>
                            <em class="list-date">소액결제 시 기존 결제 인증 외에 추가로 결제 의사를 재확인</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00000682" class="list-inner ico-t09">
                            <strong class="list-tit">휴대폰 인증서 서비스</strong>
                            <em class="list-date">전자서명 공인인증서를 휴대폰에 저장하여 손쉽게 PC에서도 사용</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00003691" class="list-inner ico-t10">
                            <strong class="list-tit">로그인 플러스</strong>
                            <em class="list-date">모바일 웹과 PC 웹의 부정 로그인을 차단하여 개인 정보를 안전하게 보호</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00002453" class="list-inner ico-t11">
                            <strong class="list-tit">정보보호 알림이</strong>
                            <em class="list-date">웜 바이러스, 해킹 관련 정보들을 문자로 알려 주는 무료 서비스</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00002027" class="list-inner ico-t12">
                            <strong class="list-tit">안전결제 프리미엄</strong>
                            <em class="list-date">인터넷 안전결제(ISP)서비스를 휴대폰으로 안전하고 편리하게 사용</em>
                        </a>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <div class="ti-caption-gray">
                <h4 class="tit">통화</h4>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <ul class="service-list">
                    <li>
                        <a href="/product/callplan?prod_id=NA00000324" class="list-inner ico-t13">
                            <strong class="list-tit">비밀번호 통화</strong>
                            <em class="list-date">전화 발신 시마다 비밀번호 입력을 통해 타인의 사용을 막는 서비스</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00002121" class="list-inner ico-t14">
                            <strong class="list-tit">스팸 필터링</strong>
                            <em class="list-date">고객에게 착신되는 문자의 스팸 여부를 판단하여 차단하는 서비스</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00002087" class="list-inner ico-t16">
                            <strong class="list-tit">휴대폰 보호 서비스</strong>
                            <em class="list-date">고객님의 기기를 타인이 사용하지 못하도록 보호해 주는 서비스</em>
                        </a>
                    </li>
                    <% if ( isAndroid ) { %>
                    <li>
                        <a href="/product/callplan?prod_id=NA00004136" class="list-inner ico-t17">
                            <strong class="list-tit">분실폰 찾기</strong>
                            <em class="list-date">스마트폰 분실 시 기기 잠금, 데이터 삭제 등 기기 원격 관리 서비스</em>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--// .cont-box -->

            <div class="ti-caption-gray">
                <h4 class="tit">메시지</h4>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <ul class="service-list">
                    <li>
                        <a href="/product/callplan?prod_id=NA00004406" class="list-inner ico-t18">
                            <strong class="list-tit">번호도용 문자차단</strong>
                            <em class="list-date">웹에서 발송한 스팸/스미싱 문자에 내 번호 악용 방지</em>
                        </a>
                    </li>
                    <li>
                        <a href="/product/callplan?prod_id=NA00003045" class="list-inner ico-t19">
                            <strong class="list-tit">웹 발신 알림</strong>
                            <em class="list-date">문자가 웹에서 발신되었거나 회신번호가 변경된 경우 알림</em>
                        </a>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <% if ( isApp ) { %>
            <div class="ti-caption-gray">
                <h4 class="tit">T apps</h4>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <ul class="service-list">
                    <% if ( isAndroid ) { %>
                    <li>
                        <a href="/product/apps/app?appId=TW50000033" class="list-inner ico-t20">
                            <strong class="list-tit">T가드(T백신)</strong>
                            <em class="list-date">최신 백신 엔진과 기술을 결합한 SK텔레콤 고객 전용 보안 서비스</em>
                        </a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/product/apps/app?appId=TW50000002" class="list-inner ico-t21">
                            <strong class="list-tit">T전화</strong>
                            <em class="list-date">통화 관련 서비스를 한데 모은 통합 전화 플랫폼 서비스</em>
                        </a>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->
            <% } %>
        </div>
    </div>
    <!--// #contents -->
    <!-- #footer -->
    <footer id="fe-all-menu">
        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
    </footer>
    <!--// #footer -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>