<%#
* @file common.line.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.09.27
* CO_01_05_02
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area">Skip to main contents</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="commonLine" class="wrap">
    <!-- #header -->
    <%- include('../../../../../common_en/views/components/header.component.html', { title: 'Line Management', svcInfo: svcInfo }) %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">Main contents</span></h2>
        <div class="container">
            <div class="ti-caption-gray bgnone">
                <button type="button" class="tod-icon tod-icon-notice01 fe-bt-guide" data-xt_eid="MWMA_A10_B80_C1199_D4354_E399-1" data-xt_csid="NO" data-xt_action="BC"><span>User guide</span></button>
            </div>

            <!-- .cont-box -->
            <div class="cont-box bgnone pt0 noborder tod-widget-wrap">
                <!-- .accordion -->
                <% 
                    if (lineList.m && lineList.m.length > 0) { 
                        const tmpList = lineList.m;
                        const tmpCnt = lineList.mCnt;
                        const tmpTitle = lineList.mTitle;
                        const tmpCategory = 'm';
                %>
                <% include ../../components/common.member.line.component.html %>
                <% } %>

                <div class="myt-note-wrap pt25 pl0" style="font-size:0.75rem">
                    <span class="tit">You may view non-mobile lines including Internet/landline/IPTV on the Korean version of T world</span> 
                    <a href="/main/home" class="bt-link-tx underline" data-xt_eid="MWMA_A10_B80_C1199_D4354_E399-3" data-xt_csid="NO" data-xt_action="BC">Go to Tworld KOR</a>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
</body>
<% include ../../components/javascript.component.html %>
<script id="fe-menu-tmpl" type="text/x-handlebars-template">
    <div class="tod-manage-layer" id="{{ id }}" data-svcmgmtnum="{{ svcmgmtnum }}">
        <ul class="tod-list">
            {{#if isMobile}}
            <li><button type="button" class="fe-change-first" {{#if isRepSvcYn}}disabled{{/if}} >Register as Main Line</button></li>
            {{/if}}
            <li><button type="button" class="fe-bt-remove">Remove Line</button></li>
        </ul>
    </div>
</script>
<script id="fe-line-tmpl" type="text/x-handlebars-template">
    {{#each list}}
    <li class="fe-line ui-state-default {{#if isRepSvcYn}} tod-t-standard fe-line-standard{{/if}} {{#if isExpsYn}} fe-item-active{{/if}} {{#unless isExpsYn}}tod-add-line fe-item-inactive red {{/unless}}>" 
        data-svcmgmtnum="{{ svcMgmtNum }}" data-showname="{{showName}}" data-svcnum="{{svcNum}}" data-svcgr="{{ svcGr }}">
        <div class="state-box">
            <div class="tod-line-info">
                <span class="icon">
                    <i class="{{ ico }}-48">
                        <span class="blind">{{ showSvcAttrCd }}</span>
                    </i>
                </span>
                <span class="title fe-show-name">{{ showSvcAttrCd }}</span>
                <span class="line">{{ showDetail }}</span>
                {{#if isRepSvcYn}}
                <span class="badge-co t-standard"><span class="blind">main</span></span>
                {{/if}}
                <p class="tod-icon tod-icon-notice02 fe-show-inactive {{#if isExpsYn}}none{{/if}}">Please register a line to start using T world</p>
            </div>
            <button type="button" class="tod-btn-add btn-round2 btn-style3 fe-show-inactive fe-bt-add {{#if isExpsYn}}none{{/if}}">Register Line</button>
        </div>
        <div class="tod-manage-wrap on fe-show-active {{#unless isExpsYn}} none {{/unless}}">
            <button type="button" class="tod-btn-manage tod-icon tod-icon-dot-gray01 fe-manage-line" data-index="{{@ index }}">
                <span class="tod-blind">Line Management Menu</span>
            </button>
        </div>
    </li>
    {{/each}}
</script>

<script>
  $(document).ready(function () {
    new Tw.CommonMemberLine($('#commonLine'), '<%= showParam.defaultCnt %>', '<%= showParam.totalExposedCnt %>');
  });
</script>
<% include ../../components/end.component.html %>  
