<%#
* @file common.line.empty-register.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.10.01
* CO_01_05_02_05
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area">Skip to main contents</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="commonLineEmptyRegister" class="wrap">
    <!-- #header -->
    <%- include('../../../../common_en/views/components/header.component.html', { title: 'Line Management', svcInfo: svcInfo }) %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">Main contents</span></h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true" />
            <!-- .cont-box -->
            <div class="cont-box noborder bgnone mt42">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti">You <em class="tx-bold">do not have</em><br/>any registered lines</p>
                        <!-- <p class="suggest-sub3 mt32">Enjoy a wide variety of convenient services<br/> provide by SK Telecom</p> -->
                        <div class="suggest-bt">
                            <ul class="bt-slice">
                                <li>
                                    <button id="gotoMain" class="btn-round1 btn-style1">Home</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    <!--// #contents -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    $('#gotoMain').click(function() {
        location.href = '/en/main/home';
    });
  });
</script>
<% include ../../components/end.component.html %>