<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<div id="commonMemberLineRegister" class="wrap">
    <!-- .popup hbs -->
    <!-- .popup hbs -->
    <div class="popup-page nobg tw-popup fixed-bottom"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <%- include('../../../../../common_en/views/components/header.component.html', { title: 'Line Registration', svcInfo: svcInfo }) %>
        
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">contents</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="box-suggest">
                        <div class="suggest-info">
                            <% if(lineData.type === '01') { %>
                                <p class="suggest-ti txt-24">Welcome to <em class="tx-bold">T world</em></p>
                                <ul class="suggest-list mt32">
                                    <li>Please select the line(s) you would like<br>to manage on T world</li>
                                    <li>The selected lines will be viewable in<br><span class="tod-txcolor6">‘Manage My Lines’</span></li>
                                </ul>
                            <% } else { %>
                                <p class="suggest-ti txt-24"><em class="tx-bold"><%= lineData.totalCnt %> lines</em> waiting<br/>to be registered</p>
                                <ul class="suggest-list mt32">
                                    <li>Please select line(s) you would like<br/>to use on T world</li>
                                    <li>The selected lines are shown on<br/><span class="tod-txcolor6">‘Manage My Lines’</span></li>
                                </ul>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <div class="list-comp-input">
                        <div class="widget">
                            <div class="widget-box check">
                                <ul id="fe-list-line" class="select-list" role="group">
                                    <li class="checkbox all type01-big" role="checkbox" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" --> <!-- .all : 전체선택용 스타일 -->
                                        <input id="fe-check-all" type="checkbox" name="checkbox" value="" aria-labelledby="aria-comp-checkbox1" /><!-- 체크상태일 경우 checked="checked" --><!--웹접근성 수정 -->
                                        <div class="comp-list-layout" id="aria-comp-checkbox1"><!--웹접근성 수정 -->
                                            <p class="layout-text">
                                                <span class="mtext">Select all lines</span>
                                            </p>
                                        </div>
                                    </li>
                                    <% lineData.data.map((line, index) => { %>
                                    <li class="checkbox type01-big fe-item" role="checkbox" aria-checked="false" data-svcMgmtNum="<%= line.svcMgmtNum %>" data-showName="<%= line.showName %>" data-svcNum="<%= line.svcNum %>"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                        <input type="checkbox" class="fe-check-child" name="checkbox" value="" aria-labelledby="aria-comp-checkbox<%= index %>"/><!-- 체크상태일 경우 checked="checked" --><!--웹접근성 수정 -->
                                        <div class="comp-list-layout" id="aria-comp-checkbox{{@index}}"><!--웹접근성 수정 -->
                                            <p class="layout-text">
                                                <span class="mtext"><%= line.showSvcAttrCd %></span>
                                                <span class="stext">
                                                    <span class="info"><%= line.showDetail %></span>
                                                    <% if(line.showPet) { %>
                                                    <span class="info"><%= line.eqpMdlNm %></span>
                                                    <% } %>
                                                </span>
                                            </p>
                                        </div>
                                    </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% if(lineData.totalCnt > 20) { %>
                    <div class="btn-more ml16 mr16">
                        <button id="fe-bt-more">View More</button>
                    </div>
                    <% } %>
                </div>
                <!--// .cont-box -->

                <div class="cont-box bgnone">
                    <div class="myt-note-wrap pt25 pl0" style="font-size:0.75rem">
                        <span class="tit">You may view non-mobile lines including Internet/landline/IPTV on the Korean version of T world</span> 
                        <a href="/main/home" class="bt-link-tx underline" data-xt_eid="MWMA_A10_B80_C1199_D4354_E399_F186-3">Go to Tworld KOR</a>
                    </div>
                </div>

            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-bt-complete" disabled>Register selected lines</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button id="fe-bt-close" class="popup-closeBtn"><span class="blind">popup page close</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <!--// .popup hbs -->
    <%- include('../../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CommonMemberLineRegister($('#commonMemberLineRegister'), '<%= landing %>');
  });
</script>
<% include ../../components/end.component.html %>