<%#
 * @file common.member.login.reactive.html
 * @author Hakjoon Sim (hakjoon.sim@sk.com)
 * @since 2018.07.05
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="bg-white">
<div class="wrap">
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">

        </div>
    </div>
    <!--// #contents -->
    <!-- .popup hbs -->
    <div id="common-login-dormancy" class="popup-page tw-popup sign-page">
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">PRIVACY PROTECTION PASSCODE SERVICE</h2>
            <div class="container logout">
                <h3 class="complete-title pt60">
                    <img src="<%= CDN %>/img/en/ico_notice_point_gray.png" alt=""/>
                    <span class="mid-txt">
                        <strong class="txt-bold">Your account is currently<br/>
                        inactive</strong> as you have not<br/>
                        logged in for some time
                    </span>
                </h3>
                <p class="complete-error-tx">
                    <span class="tx2">Accounts that have no sign in history
                        for over 3 months, will be classified as ‘inactive’</span>

                    <span class="tx2">
                        You can <strong>reactivate</strong> your inactive account <br/>
                        <strong>by tapping on the ‘Reactivate Inactive Account’<br/>
                        button below</strong>
                    </span>
                </p>
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button  id="btn-activate" >Reactivate Inactive Account</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <!--// .popup hbs -->
 
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CommonLoginDormancy($('#common-login-dormancy'), '<%= target %>');
  });
</script>
<% include ../../components/end.component.html %>