<%#
* @file common.logout.complete.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.07.03
* CO_01_03_01
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body class="bg-white">
    <div class="wrap">
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <div class="container">

            </div>
        </div>
        <!--// #contents -->
		<!-- .popup hbs -->
		<div class="popup-page tw-popup sign-page">
			<!-- .container-wrap -->
			<div class="container-wrap">
				<h2 class="blind">Logout</h2>
				<div class="container logout">
					<h3 class="complete-title pt60">
						<img src="<%= CDN %>/img/en/ico-comp-apl.png" alt=""/>
                        <span><strong>LOGOUT</strong></span>
                        <span class="mid-txt">You have safely logged out<br>from all services</span>
					</h3>
					<p class="complete-error-tx">
                        <span class="tx2">Did you enjoy your experience<br>with our integrated T world app?<br>SK Telecom strives to provide<br>better services to our subscribers</span>
                    </p>
                </div>
                <div class="bt-fixed-area">
                    <ul class="bt-slice full">
                        <li class="bt-red1">
                            <button  onclick="location.replace('/en/main/home')" >HOME</button>
                        </li>
                    </ul>
                </div>
			</div>
			<!--// .container-wrap -->
		</div>
		<!--// .popup hbs -->
    </div>
</body>



<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CommonMemberLogoutComplete();
  });
</script>
<% include ../../components/end.component.html %>