<%#
* FileName: myt-data.gift.sms.html
* Author: Jiman Park (jiman.park@sk.com)
* Date: 2018.09.17
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="bg-white">
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <div class="popup-page tw-popup fixed-bottom h60">
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '문자 보내기', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps noborder">
                    <h3 class="sub-title0">To. <span class="add-name"><!--김*진--></span><span class="add-info"><!--010-12**-45**--></span>
                    </h3>
                    <div class="cont-box">
                        <textarea id="fe-sms_textarea" class="type-msg" rows="15" cols="30" maxlength="80"
                                  placeholder="메시지로 마음을 표현해 보세요.(80자 이내)"></textarea>
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-send_gift_sms" disabled>보내기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// #contents -->
        <button class="prev-step fe-common-back">취소</button>
    </div>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var oMyTDataGiftSms = new Tw.MyTDataGiftSms($('.container-wrap'));
  });
</script>

</body>
<% include ../../components/end.component.html %>