<%#
* FileName: payment.prepay.micro.history.info.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.26
%>
<div class="cont-box nogaps-hoz">
    <div class="box-confirm">
        <!-- .widget -->
        <div class="widget">
            <div class="widget-box accordion">
                <h3 class="tit-a">이용안내</h3>
                <div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
                    <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                    <div class="acco-style">
                        <ul class="acco-list">
                            <li class="acco-box">
                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 선결제는 본인 신용카드 및 체크카드만 이용하실 수 있습니다</button></div>
                                <div class="acco-cont">
                                    <ul class="list-dot">
                                        <li class="list">선결제 금액은 다음 달 청구서에 [소액결제 선결제] 항목으로 차감 반영됩니다.</li>
                                        <li class="list">동일 체크/신용카드로 월 5회까지 선결제 가능합니다 (자동 선결제 제외)
                                            <ul class="inner-group type2">
                                                <li class="inner-list"><span class="bullet">※</span> 5회 초과 시 본인 명의의 다른 체크/신용카드를 이용하시기 바랍니다.</li>
                                            </ul>
                                        </li>
                                        <li class="list">선결제 이용에 따른 별도의 이자는 지급되지 않습니다.</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// .widget -->
    </div>
</div>