<div class="popup product-popup tw-popup" role="dialog" aria-hidden="false">
    <div class="popup-page nobg layer actionsheet has-floating compare-actionsheet">
        <div class="container-wrap">
            <div class="container">
                <div class="cont-box nogaps noborder">
                    <div class="cont-actionsheet">
                        <div class="inner">
                            <p class="a-tit">{{data.comparePlan}} 요금제로 변경하시면<br> ??건의 혜택 이용이 불가능합니다.</p>
                            <div class="terms-box">
                                <div class="inner-html"></div>
                            </div>
                            
                            <div class="tod-nmp-btn-wrap">
                                <a href="#" id="btn-confirm" class="tod-nmp-btn46">확인</a>
                                <a href="#" id="btn-cancel" class="tod-nmp-btn46 style2">취소</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-close-area">
            <button type="button" class="rn-prev-step"><span class="tod-blind">닫기</span></button>
        </div>
    </div>
    <div class="popup-blind"></div>
</div>