<div class="popup product-popup tw-popup" role="dialog" aria-hidden="false">
    <div class="popup-page nobg layer actionsheet has-floating">
        <div class="container-wrap" style="height: 338px;">
            <div class="container">
                <div class="cont-box nogaps noborder">
                    <div class="cont-actionsheet">
                        <div class="inner">
                            <p class="a-tit">{{name}} 고객님<br>단말기 할부금 정보입니다.</p>
                            <div class="detail-info">
                                <p class="info-dt"><em>{{phone}}</em> 회선의<br>단말기 잔여 할부금은</p>
                                <p class="info-dd"><strong>??원 (??개월)</strong>이며 ?개월 남았습니다.</p>
                            </div>
                            <div class="a-btn-area">
                                <a class="pro-a-btn" data-url="https://m.shop.tworld.co.kr/shop/main"><span>신규 휴대폰 보러가기</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup-close-area">
            <button type="button" class="rn-prev-step"><span class="tod-blind">닫기</span></button>
        </div>
    </div>
    <div class="popup-blind"></div>
</div>