<div class="popup product-popup" role="dialog" aria-hidden="false">
    <div class="popup-page layer actionsheet has-floating " style="bottom: 0px;">
        <!-- actionsheet, has-floating, has-header // -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps noborder">
                    <!-- .cont-actionsheet -->
                    <div class="cont-actionsheet">
                        <div class="inner">
                            <p class="a-tit">{{data.mbrNm}} 고객님<br>요금제 혜택 정보입니다.</p>
                            <div class="detail-info i-confirm">
                                <p class="msg-dt"><em>wavve 앤 데이터</em> 가입 시 <br> <strong class="nmp-fc-orange">70% 할인 혜택</strong>을 받으실수 있습니다.</p>
                                <p class="msg-dd"><em>FLO 앤 데이터</em>를 무료로 받고 있는 고객의 경우,<br> <em>wavve 앤 데이터</em> 가입 시 <br><em>FLO 앤 데이터</em> <strong class="nmp-fc-orange">무료혜택이 70% 할인 혜택으로 변경</strong>됩니다.</p>
                            </div>
                            <div class="tod-nmp-btn-wrap">
                                <a href="#" class="tod-nmp-btn46 fe-link-internal" data-url='/product/callplan?prod_id={{data.prodId}}'>상세보기</a>
                                <a href="#" class="tod-nmp-btn46 style2 fe-link-internal" data-url='/product/mobileplan-add/join?prod_id={{data.prodId}}'>가입하기</a>
                            </div>
                        </div>
                    </div>
                    <!-- // .cont-actionsheet -->
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->

        <!-- 210120 팝업닫기 버튼 -->
        <div class="popup-close-area">
            <button type="button" class="rn-prev-step"><span class="tod-blind">닫기</span></button>
        </div>
    </div>
    <div class="popup-blind"></div>
</div>