<div class="popup product-popup" role="dialog" aria-hidden="false">
    <div class="popup-page layer actionsheet has-floating  compare-actionsheet" style="bottom: 0px;">
        <!-- actionsheet, has-floating, has-header // -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps noborder">
                    <!-- .cont-actionsheet -->
                    <div class="cont-actionsheet">
                        <div class="inner">
                            <p class="a-tit warning-txt"><em class="nmp-fc-orange">{{data.prodNm}} 요금제로 변경</em>하시면 <br> 아래 혜택을 이용하실 수 없어요.</p>
                            <div class="detail-info">
                                <ul class="tod-nmp-dotlist">
                                    {{#each data.lostBenefits}}
                                        <li>{{benefit}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="tod-nmp-btn-wrap">
                                <a href="#" class="tod-nmp-btn46" id="btn-confirm">요금제 변경하기</a>
                                <a href="#" class="tod-nmp-btn46 style2" id="btn-cancel">현재 요금제 유지하기</a>
                            </div>
                        </div>
                    </div>
                    <!-- // .cont-actionsheet -->
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->

        <!-- 210120 팝업닫기 버튼 -->
        <div class="popup-close-area">
            <button type="button" class="rn-prev-step"><span class="tod-blind">닫기</span></button>
        </div>
    </div>
    <div class="popup-blind"></div>
</div>