<div class="popup tw-popup">
    <!-- .popup hbs -->
    <div class="popup-page nobg"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>(구)T멤버십 카라이프 혜택 안내</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box brand-benefit-wrap">
                    <h3 class="tit-type2">T membership carlife 자동차 종합 혜택 패키지<br />주유할인, 무료세차 등의 혜택을 누리세요.</h3>
                    <h4 class="sstit">제공 대상</h4>
                    <ul class="benefit-list">
                        <li>T멤버십 가입고객</li>
                    </ul>
                    <h4 class="sstit">혜택 안내</h4>
                    <ul class="benefit-list">
                        <li>주유 20원/L 추가 할인, 무료세차 3~4회</li>
                        <li>엔진오일 무료 또는 50% 할인 및 경정비</li>
                    </ul>
                    <h4 class="sstit">이용 방법</h4>
                    <ul class="benefit-list">
                        <li>T멤버십 카라이프 가입 후 이용가능</li>
                        <li>MOST App.을 설치하시면 모바일에서도 T membership carlife를 이용하실 수 있습니다.</li>
                    </ul>
                    <h4 class="sstit">상세안내</h4>
                    <ul class="benefit-list">
                        <li>T멤버십 카라이프에 가입하시면, 약 2주 이내에 T멤버십 카라이프 전용카드를 받으실 수 있으며, SK 네트웍스 직영 주유소/스피드메이트 혜택 이용 시 해당 카드로 이용하실 수 있습니다. 단, 이외 혜택은 T멤버십 카드로 이용 가능합니다.</li>
                        <li>T멤버십 카라이프 전용 카드 추가 혜택은 각 오프라인 매장에 가서 카드를 제시하시면, 받으실 수 있습니다.</li>
                        <li>T멤버십 카라이프는 가입 시점부터 1년간 혜택 이용 가능합니다. (예시 : 2016년 8월 27일 가입 시, 2017년 8월 26일까지 사용 가능)</li>
                        <li>수입차와 1.3톤 이상 대형차량은 T멤버십 카라이프 가입 시 세차, 경정비 할인(부품할인 포함) 및 엔진 오일 교환은 불가능하며, 주유할인 서비스와 기타 T멤버십 카라이프에서 제공하는 서비스만 이용 가능합니다.</li>
                        <li>T멤버십 카라이프 해지 시에도 T멤버십 카라이프 전용 카드는 가입일로부터 1년간 이용이 가능합니다.</li>
                        <li>T멤버십 카라이프 전용 카드 완전 해지를 원하실 경우에는 모스트 고객센터(1600-1016)로 요청하시기 바랍니다.</li>
                        <li>문의사항: SK텔레콤 고객센터(114 또는 1599-0011)</li>
                    </ul>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>