<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom"> <!-- 2017-10-17 클래스 추가 -->
    <!-- 2017-10-17 header 삭제 -->

    <!-- .container-wrap -->
    <div class="container-wrap"> <!-- 2017-10-17 클래스 추가 -->
        <h2 class="blind">내용</h2>
        <div class="container">
            <h1 class="complete-title pt60">
                <!--<img src="{{cdn}}/img/ico/icon-check01.png" alt="" />-->
                <i class="icon-complete-120"><span class="blind-height0">완료</span></i>
                <span><strong>이용회선이</strong><br /><strong>등록</strong>되었습니다.</span> <!-- 2017-10-17 text 변경 -->
            </h1>
            <div class="complete-info">
                <dl>
                    <dt>총 회선등록</dt>
                    <dd><strong>{{ data.registerLength }}</strong> 개</dd>
                </dl>
            </div>
            <div class="complete-btn-box pt22">
                <ul class="bt-slice">
                    <li>
                        <button id="fe-bt-line" class="btn-round2 btn-style3">다시 회선 설정하기</button>
                    </li>
                </ul>
            </div>
            <div class="complete-info cont-noti mt32">
                <ul class="bullet-type">
                    <li><span class="tod-txcolor6">‘회원정보 &gt; 회선관리’</span> 메뉴에서 회선을 추가하거나 삭제 할 수 있습니다.</li>
                    <li>회선의 순서나 닉네임도 간편하게 설정해보세요.</li>
                </ul>
            </div>
        </div>
        <!-- 2017-10-17 하단 버튼 추가 -->
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="fe-bt-home">홈으로</button>
                </li>
            </ul>
        </div>
        <!--// 2017-10-17 하단 버튼 추가 -->
    </div>
    <!--// .container-wrap -->

    <!-- 2017-10-17 상단 x버튼 삭제 -->
</div>
<!--// .popup hbs -->