<div class="popup tw-popup">
    <!-- .popup hbs -->
    <div class="popup-page nobg txt-screed">
        <!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>법인명의 회선관리 안내</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
               <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>

                <div class="container">
                    <hr class="cont-sp type1" aria-hidden="true" />
                    <!-- .cont-box -->
                    <div class="cont-box nogaps-hoz noborder">
                        <div class="order-list-sub-box">
                            <ol>
                                <li>
                                    <dt class="order-list-param3">
                                        <span class="num">01</span>
                                        법인명의 회선 추가하기
                                    </dt>
                                    <dd class="order-list-data1">
                                        <ul class="data-txt">
                                            <li>현재 &#39;회선 관리&#39; 목록에서 바로 확인하실 수 없는 법인명의 회선이 있다면, 직접 회선 정보를 등록하셔야 합니다.</li>
                                            <!-- 190831 리디자인_03 : class="tod-txcolor1" -->
                                            <li>아래 <em class="tod-txcolor1">&#39;법인명의 회선 등록하기&#39;</em> 버튼을 눌러 추가해 주세요.</li>
                                        </ul>
                                        <ul class="bt-slice mt18">
                                            <!-- 190831 리디자인_07 -->
                                            <li>
                                                <button id="fe-bt-biz-register" data-url="/common/member/line/biz-register" class="btn-round1 btn-style1">법인명의 회선 등록하기</button>
                                            </li>
                                            <!-- //190831 리디자인_07 -->
                                        </ul>
                                    </dd>
                                </li>
                                <li class="mt40">
                                    <dt class="order-list-param3">
                                        <span class="num">02</span>
                                        법인명의 휴대폰에서<br />T world 사용하기
                                    </dt>
                                    <dd class="order-list-data1">
                                        <ul class="data-txt">
                                            <!-- 190831 리디자인_03 : class="tod-txcolor1" -->
                                            <li><em class="tod-txcolor1">&#39;법인 본인확인 비밀번호 서비스&#39;</em>에 가입하시면 법인명의 휴대폰에서도 개인명의 휴대폰과 동일한 수준으로 T world 서비스를 이용하실 수 있습니다.</li>
                                            <li>아래 <em class="tod-txcolor1">&#39;가입방법 자세히 보기&#39;</em> 버튼을 눌러 가입방법을 확인해 보세요.</li>
                                        </ul>
                                        <ul class="bt-slice mt18">
                                            <!-- 190831 리디자인_08 -->
                                            <li>
                                                <button id="fe-bt-biz-signup" class="btn-round1 btn-style4">가입방법 자세히 보기</button>
                                            </li>
                                            <!-- //190831 리디자인_08 -->
                                        </ul>
                                    </dd>
                                </li>
                                <!--// 2018-10-17 추가 -->
                            </ol>
                        </div>
                    </div>
                    <!--// .cont-box -->
                </div>
                <!--// .container-wrap -->
                <!-- .popup-closeBtn -->
                <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
                <!--// .popup-closeBtn -->
            </div>
        </div>
    </div>
</div>
    <!--// .popup hbs -->