<!-- .popup hbs -->
<div class="popup-page tw-popup">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>법인 본인확인 비밀번호 서비스 신청</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz noborder">
                <div class="box-authority">
                    <div class="authority-info">
                        <div class="authority-box">
                            <span class="authority-ti">법인위임대리인 권한이 부여된 법인</span>
                            <ul class="authority-list">
                                <li>법인실사용자가 가까운 대리점에서 신청서 작성 (법인위임대리인에게 SMS알람)</li>
                                <li>법인위임대리인이 T world 웹사이트 (<button id="fe-bt-go-url" data-url="http://www.biztworld.co.kr">www.biztworld.co.kr</button>)에서 실사용자 승인</li>
                                <li>법인위임대리인(실사용자) 휴대폰에 비밀번호 등록 SMS 발송 (24시간 내 비밀번호 6자리 숫자 설정)</li>
                            </ul>
                        </div>
                        <div class="authority-box">
                            <span class="authority-ti">법인위임대리인 권한이 없는 법인</span>
                            <ul class="authority-list">
                                <li>T world 웹사이트 (<button id="fe-bt-go-url" data-url="http://www.biztworld.co.kr">www.biztworld.co.kr</button>)에서 법인위임대리인이 회원가입</li>
                                <li>법인위임대리인이 법인위임대리인 관련서류를 가까운 지점에 방문 제출하거나 법인 고객센터(1599-6011)에 등기로 제출</li>
                                <li>서류 제출 후 이상이 없을 경우 법인위임대리인 권한 부여</li>
                                <li>법인위임대리인 권한이 부여된 법인은 법인폰 본인확인 비밀번호 서비스 신청 가능</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>

<!--// .popup hbs -->