<!-- .popup hbs -->
<div class="popup-page nobg no-btn tw-popup"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>모바일 T 안심인증번호 확인 방법</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-tx">SMS가 수신 안 되신 경우</p>
                        <ol class="suggest-dot mt22">
                            <li>모바일 T 안심인증 SMS는 114 번호로 발신되오니 해당 번호의 단말기 스팸설정 여부 및 스팸편지함을 확인해 주세요.</li>
                            <li>스팸필터링 부가서비스 가입 후 114 번호를 스팸설정 하신 경우 스팸설정을 해제해 주세요.</li>
                            <li>착신 관련 서비스에 가입되어 있는 경우 SMS가 수신되지 않을 수 있습니다.</li>
                            <li>현재 사용중인 휴대폰이 USIM 단독상태이거나 휴대폰과 USIM카드가 분리된 상태에서는 SMS를 받으실 수 없습니다.</li>
                        </ol>
                        <hr class="suggest-line mt26 mb16" aria-hidden="true" />
                        <p class="suggest-tx">SMS가 수신 되신 경우</p>
                        <ol class="suggest-dot mt22">
                            <li>휴대폰의 데이터 네트워크 접속상태를 확인해 주세요. </li>
                            <li>고객님의 휴대폰에 최신버전(14.06.24 기준/버전 4.03이상)의 T world App. 설치되어 있는지 확인해 주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="box-app-download">
                    <span class="img-app-ico"><img src="/img/common/ico-app-tworld.png" alt="Tworld App Icon" /></span>
                    <span class="tx-app-des">
                                <span class="app-des-name">T world App.</span>
                                <span id="fe-bt-noti-sms" class="app-des-ver">최신버전 받기</span>
                            </span>
                    <span class="ico"></span>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->