<div class="popup-page tw-popup pt0" style="background-color:#262626"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            <div class="img-wrap" style="position:relative">
                <img src="{{cdn}}/img/en/img-coachmark-linemanagement.png" alt="회선관리 메뉴 이용안내 - 순서편집 : 등록된 회선의 순서를 변경 할 수 있어요. - 회선관리 메뉴 : 기준회선 등록, 닉네임 설정, 회선 삭제 등 다양한 회선관리 기능을 선택 할 수 있어요. -회선 등록 : 아직 등록하지 않은 회선은 사용등록 후 관리해 보세요." style="width:100%;height:auto;vertical-align:top">
                <button class="popup-closeBtn" style="position:absolute;top:86.2%;right:38.6%;bottom:8.2%;left:38.6%;width:22.7%;height:5.7%;background-image:none;"><span class="blind">팝업 페이지 닫기</span></button>
            </div>
        </div>
    </div>
</div>