<div class="popup-page tw-popup fixed-bottom">
    <div class="container-wrap">
        <h2 class="blind">contents</h2>
        <div class="container">
            <h1 class="complete-title pt60">
                <i class="icon-complete-120"><span class="blind-height0">completed</span></i>
                <span>Registration completed</span>
            </h1>
            <div class="complete-info">
                <dl>
                    <dt>Total registered line(s)</dt>
                    <dd><strong class="tod-txcolor6">{{ data.registerLength }}</strong></dd>
                </dl>
            </div>
            <div class="complete-btn-box pt22">
                <ul class="bt-slice">
                    <li>
                        <button id="fe-bt-line" class="btn-round2 btn-style3">Register line(s) again</button>
                    </li>
                </ul>
            </div>
            <div class="complete-info cont-noti mt32">
                <ul class="bullet-type">
                    <li>You can add or delete line(s) in<span class="tod-txcolor6"> ‘Manage My Lines’</span></li>
                    <li>You can also reorder your lines.</li>
                </ul>
            </div>
        </div>

        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="fe-bt-home">HOME</button>
                </li>
            </ul>
        </div>
    </div>
</div>