<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom"> <!-- 2017-10-17 클래스 추가 -->
    <!-- 2017-10-17 header 삭제 -->

    <!-- .container-wrap -->
    <div class="container-wrap"> <!-- 2017-10-17 클래스 추가 -->
        <h2 class="blind">내용</h2>
        <div class="container">
            <h1 class="complete-title pt60">
                <img src="{{cdn}}/img/ico/icon-check01.png" alt="" />
                <span><strong>이용회선이</strong><br /><strong>등록</strong>되었습니다.</span> <!-- 2017-10-17 text 변경 -->
            </h1>
            <div class="complete-info">
                <dl>
                    <dt>총 회선등록</dt>
                    <dd><strong>{{ data.registerLength }}</strong> 개</dd>
                </dl>
            </div>
            <div class="complete-btn-box pt40">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button id="fe-bt-line">다시 회선 설정하기</button> <!-- 2017-10-17 text 변경 -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- 2017-10-17 하단 버튼 추가 -->
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="fe-bt-home">홈으로</button>
                </li>
            </ul>
        </div>
        <!--// 2017-10-17 하단 버튼 추가 -->
    </div>
    <!--// .container-wrap -->

    <!-- 2017-10-17 상단 x버튼 삭제 -->
</div>
<!--// .popup hbs -->