<div class="popup-page tw-popup pt0" style="background-color:#262626" tabindex="0" aria-modal="true" aria-hidden="false" role="dialog"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            <div class="img-wrap" style="position:relative">
                <img src="{{cdn}}/img/en/img-coachmark-linemanagement.png" alt="Line Management User Guide - 1. After selecting 'Line Management Menu' button, you can select 'Regiser as	 Main Line' or 'Remove Line' button, 2. After selecting 'Register Line' button, You can register unregistered lines." style="width:100%;height:auto;vertical-align:top">
                <button class="popup-closeBtn" style="position:absolute;top:86.2%;right:38.6%;bottom:8.2%;left:38.6%;width:22.7%;height:5.7%;background-image:none;"><span class="blind">Close</span></button>
            </div>
        </div>
    </div>
</div>