<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom"> <!-- 2017-10-17 클래스 추가 -->
    <!-- .container-wrap -->
    <div class="container-wrap"> <!-- 2017-10-17 클래스 추가 -->
        <h2 class="blind">내용</h2>
        <!-- 2017-10-17 마크업 변경 -->
        <div class="container">
            <h1 class="complete-title pt60">
                <img src="{{cdn}}/img/ico/icon-check01.png" alt="" />
                <span>다음과 같이 동의여부가 <br/><strong>선택되었습니다.</strong></span> <!-- 2017-10-17 text 변경 -->
            </h1>

            <div class="agreement-info pb20">
                <dl>
                    <dt>고객 혜택 제공을 위한 <br/>개인정보 수집 &middot; 이용 동의 (선택)</dt>
                    {{#if data.agr201Yn}}
                    <dd><strong>동의</strong></dd>
                    {{else}}
                    <dd>미동의</dd>
                    {{/if}}
                </dl>
                <dl>
                    <dt>광고성 정보 수신 동의 (선택)</dt>
                    {{#if data.agr203Yn}}
                    <dd><strong>동의</strong></dd>
                    {{else}}
                    <dd>미동의</dd>
                    {{/if}}
                </dl>

                <span class="agreement-refer">* 본 수신동의를 철회하고자 할 경우 <br/>1504번을 통해 본인 인증 후 철회할 수 있습니다.</span>
            </div>
        </div>
        <div class="cont-box nogaps noborder">
            <div class="explanation-box">
                <p>고객님의 가입정보/모바일 사용 패턴 등을 바탕으로 최적화된 광고/커머스(상거래)/정보 등 다양한 맞춤형 정보 제공 및 혜택을 추천 받을 수 있습니다.</p>
            </div>
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="tw-popup-closeBtn">닫기</button>
                </li>
            </ul>
        </div>
        <!--// 2017-10-17 마크업 변경 -->
    </div>
    <!--// .container-wrap -->
</div>
<!--// .popup hbs -->