<!-- .popup hbs -->
<div class="popup-page nobg tw-popup fixed-btn"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>법인 폰 비밀번호 인증</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-tx">입력하신 휴대폰번호로 <br />법인 폰 <em class="tx-bold">비밀번호를 입력하는 URL</em>이 전송되었습니다.</p>
                        <ol class="suggest-dot mt20">
                            <li>URL을 클릭하여 사전에 설정하신 법인 폰 비밀번호를 입력해 주세요.</li>
                            <li>법인 폰 비밀번호 인증이 완료되면, 아래 <span class="tx-point02">‘법인 폰 비밀번호 인증완료’</span> 버튼을 눌러 주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <div class="announcement-box">
                    <div class="announcement-bullet type01">비밀번호 입력 시, Wifi를 사용하지 않는 경우 데이터 요금이 발생됩니다.</div>
                    <div class="announcement-bullet type01">비밀번호 입력 URL이 전송되지 않은 경우 고객센터 (114)로 연락 주시기 바랍니다.</div>
                </div>
            </div>
            <!--// .cont-box -->
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button id="fe-biz-cert-complete">법인 폰 비밀번호 인증 완료</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->