<div class="popup tw-popup">
    <div class="popup-page nobg layer actionsheet_full"><!-- 19.02.26 actionsheet 팝업일때 actionsheet_full 추가 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>휴대폰 인증</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container scroll-fix-container">
                <!-- .cont-box -->
                {{#if data.isWelcome}}
                    {{#if data.masking}}
                        <div class="cont-box bgtype gaps-style08">
                            <ul class="certification-list">
                                <li class="category-type">고객님의 정보 보호를 위해 인증을 하셔야 가려진 정보를 조회하실 수 있습니다.</li>
                                <li class="category-type">회선 별 고객정보 기준으로 로그아웃 전까지 유지됩니다.</li>
                            </ul>
                        </div>
                    {{else if data.sLogin}}
                        <div class="cont-box bgtype gaps-style08">
                            <ul class="certification-list">
                                <li class="category-type">간편 로그인으로 서비스 이용중인 고객님은 인증을 하셔야 이용이 가능합니다.</li>
                            </ul>
                        </div>
                    {{/if}}
                {{/if}}
                <div class="cont-box nogaps-hoz">
                    <div class="sms-confirm-box">
                        <div class="box-citation">
                            <div class="citation-form">
                                <div class="form-cell">
                                    <div class="forminbox-wrap">
                                        <p id="aria-citation-sms" class="form-ti title">휴대폰번호</p>
                                        {{#if data.enableKeyin}}
                                            <div class="widget">
                                                <div class="widget-box check">
                                                    <ul class="select-list" role="group">
                                                        <li class="checkbox type01" id="aria-comp-checkbox1" role="checkbox" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                                            <input id="fe-check-keyin" type="checkbox" name="checkbox" value="" aria-labelledby="aria-comp-checkbox1"><!-- 체크상태일 경우 checked="checked" -->
                                                            <span class="text">직접입력</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {{/if}}
                                    </div>
                                    <span id="fe-inputbox-mdn" class="inputbox bt-add inp-btn w163 readonly"><!-- 정상 발송일 경우 class validation 추가, 오류일 경우 class error 추가 -->
                                        <span class="input">
                                            <input id="fe-input-mdn" class="input-scroll-fix" type="tel" inputmode="numeric" min="0" pattern="[0-9]*" placeholder="SK텔레콤 휴대폰 번호" value="{{data.svcNum}}" title="SK텔레콤 휴대폰 번호" aria-labelledby="aria-citation-sms" aria-describedby="" readonly /><!-- 정상 발송일 경우 aria-sms-exp-desc2, 오류일 경우 aria-sms-exp-desc1로 변경 -->
                                            <button href="javascript:void(0)" class="cancel fe-bt-mdn-delete"><span class="blind">삭제</span></button>
                                        </span>
                                        <span class="bt-box3"><!-- 인증번호를 받기 비활성화 class disabled 추가 -->
                                            <button id="fe-bt-cert" type="button" class="btn-round2 btn-style3">인증번호 전송</button>
                                            <button id="fe-bt-recert" type="button" class="btn-round2 btn-style3 none">인증번호 재전송</button>
                                        </span>
                                    </span>
                                    <span class="tx-box">
                                        <span id="aria-sms-exp-desc1" class="error-txt none" aria-hidden="true">재전송 제한시간(1분)이 지난 후에 이용해 주세요.</span>
                                        <span id="aria-sms-exp-desc2" class="error-txt none" aria-hidden="true">제한시간 내 인증번호를 보낼 수 있는 횟수가 넘었습니다.</span>
                                        <span id="aria-sms-exp-desc9" class="error-txt none" aria-hidden="true">일시정지 또는 분실 상태에서는 본인인증을 할 수 없습니다.</span>
                                        <span id="aria-sms-exp-desc10" class="error-txt none" aria-hidden="true">인증번호를 전송할 수 없는 번호입니다.</span>
                                        <span id="aria-sms-exp-desc3" class="validation-txt none" aria-hidden="true">정상적으로 발송되었습니다.</span>
                                    </span>
                                </div>
                                <div class="form-cell linebox">

                                    <p id="aria-citation-cert" class="form-ti title">인증번호</p>
                                    <p class="txt">전송 받으신 인증번호를 입력해주세요. <input id="fe-sms-time" class="sms-time" type="text" readonly="readonly" value=""></p>
                                    <span class="inputbox bt-add inp-btn w163"><!-- 정상 발송일 경우 class validation 추가, 오류일 경우 class error 추가 -->
                                        <span class="input">
                                            <input id="fe-input-cert" class="input-scroll-fix" type="tel" inputmode="numeric" min="0" pattern="[0-9]*" maxlength="6" placeholder="인증번호 6자리 입력" value="" title="인증번호 6자리 입력" aria-labelledby="aria-citation-cert" aria-describedby="" /><!-- 정상 발송일 경우 aria-sms-exp-desc2, 오류일 경우 aria-sms-exp-desc1로 변경 -->
                                            <button href="javascript:void(0)" class="cancel fe-bt-cert-delete"><span class="blind">삭제</span></button>
                                        </span>
                                        <span class="bt-box3"><!-- 인증번호를 받기 비활성화 class disabled 추가 -->
                                           <button id="fe-bt-cert-add" type="button" class="btn-round2 btn-style3" disabled>시간 연장</button>
                                        </span>
                                    </span>
                                    <span class="tx-box">
                                        <span id="aria-sms-exp-desc4" class="validation-txt none" aria-hidden="true">입력시간이 연장되었습니다.</span>
                                        <span id="aria-sms-exp-desc7" class="error-txt none" aria-hidden="true">시간이 만료되었습니다.</span>

                                        <span id="aria-sms-exp-desc5" class="error-txt none" aria-hidden="true">인증번호가 일치하지 않습니다.</span>
                                        <span id="aria-sms-exp-desc6" class="error-txt none" aria-hidden="true">인증번호 입력시간이 초과했습니다.</span>
                                        <span id="aria-sms-exp-desc8" class="error-txt none" aria-hidden="true">인증번호의 입력 오류 횟수가 초과되었습니다.</span>
                                    </span>
                                    {{#unless data.isOnly}}
                                        <div class="otherway-certification">
                                            <!--button class="bt-link-tx underline">다른 방법으로 인증하기</button>-->
                                            <button id="fe-other-cert" class="bt-link-tx underline" href="">다른 방법으로 인증하기</button>
                                        </div>
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
            <ul class="bt-slice full"> <!-- 19.02.26 container 밖으로 버튼이동 -->
                <li class="bt-red1">
                    <button id="fe-bt-confirm" disabled>인증하기</button>
                </li>
            </ul>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-no-blind-close"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
