<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom">
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <h3 class="complete-title pt60">
                <img src="/img/ico/ico-login-fail.png" alt=""/>
                <span><strong>T world 회원 탈퇴</strong>가<br />완료되었습니다.</span>
            </h3>
            <p class="complete-error-tx pt32">
                <span class="tx2">그 동안 T world 서비스를 이용해<br />주셔서 감사합니다.</span>
            </p>
            <p class="complete-error-tx pt24">
                <span class="tx2">바로 재가입이 가능하며,<br /><span class="tx-black">재가입 시 T아이디를 통해 회원가입</span>이<br />이루어집니다.</span>
            </p>
            <div class="complete-btn-box pt40">
                <ul class="bt-slice">
                    <li class="bt-white2">
                        <button class="fe-re-join">T world 재가입</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-home">홈으로</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
</div>
<!--// .popup hbs -->