<div class="popup tw-popup">
    <div class="popup-page nobg layer">
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                     <h1>PRIVACY PROTECTION PASSCODE SERVICE</h1>
                </div>
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-no-blind-close"><span class="blind">close</span></button>
        <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box noborder">
                    <div class="protect-pass-wrap type2">
                        <h3 class="tit"><span class="str">Login to privacy </span>protected service</h3>
                        <div class="cellphone-info">
                            <i class="ico"></i>
                            <div class="txt">
                                <span class="name">Mobile</span>
                                <span class="value fe-svc-num"></span>
                            </div>
                        </div>
                        <div class="password-wrap">
                            <ul class="fe-pw-wrap">
                                <li class="active">
                                    <input type="number" maxlengh="1" inputmode="numeric" min="0" pattern="[0-9]*" class="fe-first-pwd"
                                           title="Enter the first digit of the privacy protection passcode" aria-describedby="aria-pass-num">
                                    <span class="ent-pass">*</span><!-- 입력완료후 span 요소 추가 -->
                                </li>
                                <li>
                                    <input type="number" maxlengh="1" inputmode="numeric" min="0" pattern="[0-9]*"
                                           title="Enter the second digit of the privacy protection passcode" aria-describedby="aria-pass-num">
                                    <span class="ent-pass">*</span><!-- 입력완료후 span 요소 추가 -->
                                </li>
                                <li>
                                    <input type="number" maxlengh="1" inputmode="numeric" min="0" pattern="[0-9]*"
                                           title="Enter the third digit of the privacy protection passcode" aria-describedby="aria-pass-num">
                                    <span class="ent-pass">*</span><!-- 입력완료후 span 요소 추가 -->
                                </li>
                                <li>
                                    <input type="number" maxlengh="1" inputmode="numeric" min="0" pattern="[0-9]*"
                                           title="Enter the fourth digit of the privacy protection passcode" aria-describedby="aria-pass-num">
                                    <span class="ent-pass">*</span><!-- 입력완료후 span 요소 추가 -->
                                </li>
                                <li>
                                    <input type="number" maxlengh="1" inputmode="numeric" min="0" pattern="[0-9]*"
                                           title="Enter the fifth digit of the privacy protection passcode" aria-describedby="aria-pass-num">
                                    <span class="ent-pass">*</span><!-- 입력완료후 span 요소 추가 -->
                                </li>
                                <li>
                                    <input type="number" maxlengh="1" inputmode="numeric" min="0" pattern="[0-9]*" class="fe-last"
                                           title="Enter the sixth digit of the privacy protection passcode" aria-describedby="aria-pass-num">
                                    <span class="ent-pass">*</span><!-- 입력완료후 span 요소 추가 -->
                                </li>
                            </ul>
                        </div>
                        <p class="msg-validation fe-error-msg" id="aria-pass-fail" style="display:none;">You have entered incorrect passcode <span></span> times</p>
                        <p class="msg-guide align-l" id="aria-pass-num">If you enter an incorrect passcode up to 5 times or have forgotten your passcode, please visit a nearby SK Telecom store to reset your passcode</p>
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div> 
