<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom h60 nobg"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... 기본배경색은 white, 회색배경색은 .nobg -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>회원 탈퇴</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-tx">회원 탈퇴 안내</p>
                        <ol class="suggest-dot mt22">
                            <li>T world 회원탈퇴를 하시면 T world에서 제공되는 서비스를 사용할 수 없습니다. 또한, 고객님께서 T world에서 적립한 쿠폰이나 포인트 등이 소멸됩니다.</li>
                            <li>T아이디를 사용하고 계시는 고객님의 경우 T world를 탈퇴하더라도 T아이디는 유지됩니다.</li>
                            <li>탈퇴신청 진행을 위해 본인확인이 필요합니다.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <p class="extra-txt ml16">탈퇴신청을 계속하시려면 '다음' 버튼을 눌러 주세요.</p>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="btn-next">다음</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step tw-popup-closeBtn">취소</button>
    <!--// .popup-closeBtn -->
</div>
<!-- // .popup hbs -->