<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-btn pt0 fixed-bottom">
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <h3 class="complete-title pt60">
                <img src="/img/ico/ico-login-fail.png" alt=""/>
                <span><strong>T world 회원 탈퇴</strong>가<br />완료되었습니다.</span>
            </h3>
            <p class="complete-error-tx pt32">
                <span class="tx2">그 동안 T world 서비스를 이용해<br />주셔서 감사합니다.</span>
            </p>
            <p class="complete-error-tx pt24">
                <span class="tx2">T world에서 탈퇴 시에도 T아이디는 유지됩니다.<br />T아이디 탈퇴를 원하신다면<br />T아이디 페이지로 (www.skt-id.co.kr)<br />이동하여 탈퇴가 가능합니다.</span>
            </p>
            <div class="complete-btn-box pt40">
                <ul class="bt-slice">
                    <li class="bt-white2">
                        <button class="fe-id-withdrawal">T아이디 탈퇴</button>
                    </li>
                </ul>
            </div>
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-home">홈으로</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
</div>
<!--// .popup hbs -->