<!-- .popup hbs -->
<div class="popup-page tw-popup nobg fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>우편번호 조회</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <!-- .component -->
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area type1"><!-- 타입별 탭형태 변환 -->
                            <div class="tab-linker fe-tab-linker">
                                <ul role="tablist" class="fe-tab-selector">
                                    <li role="presentation" aria-controls="tab1-tab" id="tab1">
                                        <a role="tab">도로명 주소</a>
                                    </li><!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                    <li role="presentation" aria-controls="tab2-tab" id="tab2">
                                        <a role="tab">지번 주소</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-contents">
                                <ul>
                                    <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1" data-type="B">
                                        <div class="cont-box">
                                            <h3 class="tit">선택된 주소</h3>
                                            <p class="con-txt1 pt4">
                                                <strong><span class="fe-zip"></span> | <span class="fe-main"></span><br />
                                                    <span class="fe-number"></span> <span class="fe-building"></span>
                                                </strong>
                                            </p>
                                            <h3 class="tit mt40">상세 주소</h3>
                                            <span class="inputbox mt10">
                                                <span class="input">
                                                    <input type="text" class="fe-address" placeholder="상세 주소 입력" title="상세 주소" aria-labelledby="aria-citation-phone">
                                                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                                </span>
                                            </span>
                                            <div class="announcement-box mt20">
                                                <div class="announcement-bullet type02">주소 저장 시 도로명주소로 저장됩니다.</div>
                                                <div class="announcement-bullet type02">2016년 8월 1일부터 5자리 우편번호 사용이 의무화되었습니다.</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2" data-type="A">
                                        <div class="cont-box">
                                            <h3 class="tit">선택된 주소</h3>
                                            <strong><span class="fe-zip"></span> | <span class="fe-main"></span><br />
                                                <span class="fe-number"></span> <span class="fe-building"></span>
                                            </strong>
                                            <h3 class="tit mt40">상세 주소</h3>
                                            <span class="inputbox mt10">
                                                <span class="input">
                                                    <input type="text" class="fe-address" placeholder="상세 주소 입력" title="상세 주소" aria-labelledby="aria-citation-phone">
                                                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                                </span>
                                            </span>
                                            <div class="announcement-box mt20">
                                                <div class="announcement-bullet type02">주소 저장 시 도로명주소로 저장됩니다.</div>
                                                <div class="announcement-bullet type02">2016년 8월 1일부터 5자리 우편번호 사용이 의무화되었습니다.</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .component -->
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-save">저장</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-close-all">취소</button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->