<div class="popup-page tw-popup tw-popup fixed-btn" tabindex="-1"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <h1 class="complete-title">
                <img src="/img/dummy/dmy-complete.jpg" alt=""/>
                <span>SMS 전송 완료</span>
            </h1>
            {{#if svcNum}}
                <p class="complete-tx2">{{svcNum}}</p>
            {{/if}}
            <div class="complete-info">
                <dl>
                    <dt>전송된 입금전용계좌로 입금하시면<br/>즉시 수납이 반영됩니다.</dt>
                </dl>
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="tw-popup-closeBtn fe-submain">닫기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--// .container-wrap -->
</div>