<!-- .popup hbs -->
<div class="popup-page tw-popup pt0 fixed-bottom" tabindex="-1"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-complete-120"><span class="blind">complete</span></i>
                    <p class="tx-tit"><span class="tx-highlight pt10"><em>{{{text}}}</em> 완료</span></p>
                </div>
            </div>

            {{#if link_text}}
                <div class="complete-btn-box pt56">
                    <ul class="bt-slice">
                        <li class="bt-blue1">
                            <button class="{{link_class}}">{{link_text}}</button>
                        </li>
                    </ul>
                </div>
            {{/if}}
            {{#if sub_text}}
                <p class="complete-tx0">{{{sub_text}}}</p>
            {{/if}}
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-submain">확인</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--// .container-wrap -->
</div>
<!--// .popup hbs -->