<!-- .popup hbs -->
<div class="popup-page tw-popup "><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>위치 변경</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box noborder pb0">
                <button class="bt-dropdown big" title="지역설정" aria-haspopup="true"><span class="ico"></span></button>
            </div>
            <!-- .cont-box -->
            <div class="cont-box noborder">
                <!-- .widget -->
                <div class="widget tod-new-color">
                    <div class="widget-box tube">
                        <ul class="tube-list four" role="radiogroup">
                        </ul>
                    </div>
                </div>
                <!-- //.widget -->
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <div class="bt-fixed-area"><!-- 19.03.18 마크업 변경 -->
        <ul class="bt-slice full">
            <li class="bt-red1">
                <button>선택 완료</button>
            </li>
        </ul>
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->