<!-- .popup hbs -->
<div class="popup-page nobg tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>조건 선택</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="ti-caption-gray bdt titlebox-bgtype01">
                <h3 class="tit">필터를 선택해 주세요</h3>
                <div class="num">
                    <!--접근성 수정-->
                    <a class="resetbtn" role="button">초기화</a>
                    <!-- //접근성 수정-->
                </div>
            </div>
            <!-- .cont-box -->
            <div class="cont-box nogaps noborder">
                <h3 class="filterlist-title mt0 pt20 pl20">매장형태</h3>
                <!-- .list-comp-input -->
                <div class="list-comp-input">
                    <div class="widget">
                        <div class="widget-box radio">
                            <ul class="select-list btm-line" role="group">
                                <li class="radiobox type01 checked" role="radio" aria-checked="true"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                    <input type="radio" name="radio" value="0" aria-labelledby="aria-comp-radio1" checked /><!-- 체크상태일 경우 checked="checked" -->
                                    <div class="comp-list-layout" id="aria-comp-radio1">
                                        <p class="layout-text">
                                            <span class="ntext">전체</span>
                                        </p>
                                    </div>
                                </li>
                                <li class="radiobox type01 checked" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                    <input type="radio" name="radio" value="1" aria-labelledby="aria-comp-radio2" /><!-- 체크상태일 경우 checked="checked" -->
                                    <div class="comp-list-layout" id="aria-comp-radio2">
                                        <p class="layout-text">
                                            <span class="ntext">지점</span>
                                        </p>
                                    </div>
                                </li>
                                <li class="radiobox type01 checked" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                    <input type="radio" name="radio" value="2" aria-labelledby="aria-comp-radio3" /><!-- 체크상태일 경우 checked="checked" -->
                                    <div class="comp-list-layout" id="aria-comp-radio3">
                                        <p class="layout-text">
                                            <span class="ntext">대리점</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// .list-comp-input -->
            </div>
            <!--// .cont-box -->
            <!-- .cont-box -->
            <div class="cont-box">
                <h3 class="filterlist-title mt10">처리업무</h3>
                <div class="productfilter-type">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box check">
                            <div class="productfilter">
                                <ul class="select-list" role="group">
                                    <li class="checkbox" role="checkbox" aria-checked="false">
                                        <input type="checkbox" name="checkbox" value="premium" aria-labelledby="aria-comp-checkbox1"><!-- 체크상태일 경우 checked="checked" -->
                                        <span class="text" id="aria-comp-checkbox1">
                                            T프리미엄스토어
                                        </span>
                                    </li>
                                    <li class="checkbox" role="checkbox" aria-checked="false">
                                        <input type="checkbox" name="checkbox" value="direct" aria-labelledby="aria-comp-checkbox2"><!-- 체크상태일 경우 checked="false" -->
                                        <span class="text" id="aria-comp-checkbox2">
                                            바로 픽업
                                        </span>
                                    </li>
                                    <li class="checkbox" role="checkbox" aria-checked="false">
                                        <input type="checkbox" name="checkbox" value="rent" aria-labelledby="aria-comp-checkbox3"><!-- 비활성화상태일 경우 disabled="disabled" -->
                                        <span class="text">
                                            임대폰
                                        </span>
                                    </li>
                                    <li class="checkbox" role="checkbox" aria-checked="false">
                                        <input type="checkbox" name="checkbox" value="skb" title="값1"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                                        <span class="text" id="aria-comp-checkbox3">
                                            SK브로드밴드
                                        </span>
                                    </li>
                                    <li class="checkbox" role="checkbox" aria-checked="false">
                                        <input type="checkbox" name="checkbox" value="apple" aria-labelledby="aria-comp-checkbox4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                                        <span class="text" id="aria-comp-checkbox4">
                                            애플취급점
                                        </span>
                                    </li>
                                    <li class="checkbox" role="checkbox" aria-checked="false">
                                        <input type="checkbox" name="checkbox" value="authAgnYn" aria-labelledby="aria-comp-checkbox5"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                                        <span class="text" id="aria-comp-checkbox5">
                                            공식인증 대리점
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <div class="bt-fixed-area"><!-- 19.03.18 마크업 변경 -->
        <ul class="bt-slice full">
            <li class="bt-red1">
                <button>적용하기</button>
            </li>
        </ul>
    </div>
    <!-- .popup-closeBtn -->
    <button class="prev-step" id="fe-bt-close"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->