<div class="popup tw-popup">
    <div class="popup-page nobg fixed-bottom"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>주요 용어</h1>
                </div>
                <!-- .popup-closeBtn -->
                <button class="popup-closeBtn prev-step fe-common-back">취소</button>
                <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div id="contents" class="container-wrap">
            {{{contentHTML}}}
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
