    <div class="popup tw-popup" role="dialog" aria-hidden="false">
        <div class="popup-page nobg layer actionsheet has-floating" style="bottom: 0px; height: 204px;"><!-- actionsheet, has-floating, has-header // -->
            <!-- .container-wrap -->
            <div class="container-wrap" style="height: 204px;">
                <div class="container">
                    <!-- .cont-box -->
                    <div class="cont-box nogaps noborder">
                        <!-- .cont-actionsheet -->
                        <div class="cont-actionsheet">
                            <ul class="ac-list ac3">
                                <li class="type2">
                                    <button type="button" class="fe-go-child" data-url="/myt-data/submain/child-hotdata?childSvcMgmtNum={{svcMgmtNum}}" data-xt_eid="CMMA_A11-101" data-xt_csid="CS_ID" data-xt_action="BC">
                                        <span class="circle">
                                            <span class="simbol ico4"></span>
                                        </span>
                                        <span class="txt">실시간 잔여량</span>
                                    </button>
                                </li>
                                <li class="type2">
                                    <button type="button" class="fe-go-child" data-url="/myt-fare/billguide/child?line={{svcMgmtNum}}" data-xt_eid="CMMA_A11-102" data-xt_csid="CS_ID" data-xt_action="BC">
                                        <span class="circle">
                                            <span class="simbol ico5"></span>
                                        </span>
                                        <span class="txt">이용요금</span>
                                    </button>
                                </li>
                                <li class="type2">
                                    <button type="button" class="fe-go-child" data-url="/myt-fare/bill/hotbill/child?child={{svcMgmtNum}}" data-xt_eid="CMMA_A11-103" data-xt_csid="CS_ID" data-xt_action="BC">
                                        <span class="circle">
                                            <span class="simbol ico6"></span>
                                        </span>
                                        <span class="txt">실시간 이용요금</span>
                                    </button>
                                </li>
                            </ul>
                            <button type="button" class="btn-floating btn-style3 tw-popup-closeBtn">닫기</button>
                        </div>
                        <!-- // .cont-actionsheet -->
                    </div>
                    <!--// .cont-box -->
                </div>
            </div>
            <!--// .container-wrap -->
        </div>
        <div class="popup-blind"></div>
    </div>