        
        <div class="popup-page tw-popup fixed-btn fixed-bottom dwg-popup color-type-e">
			<!-- .container-wrap -->
			<div class="container-wrap">              
				<div class="container">
                    <!-- 혜택 -->
                    <h2 class="blind">해지</h2>
                    <div class="dwg-typeImg-area">
                        <div class="img-wrap">
                            <img src="{{cdn}}/img/t_dwg/gamepass_img_01.png" alt="잠시만요! 지금 해지하시면 이용 중인 프로모션 혜택을 더 이상 받으실 수 없고 프로모션  재참여가 불가능 합니다. 해지 후 상품 재가입은 해지 시점  기준으로 다다음달 1일부터 가능한 점 양해 부탁 드립니다.">
                        </div>
                    </div>
                    <!-- 혜택 -->                                 
               </div>     
               <!-- button fixed -->
                <div class="bt-fixed-area dwg-dialog-area">
                    <div class="dwg-dialog-btns">                    
                        <div class="col">
                            <a href="javascript:void(0)" id="game-1p-change" class="btn-dialog-1 fe-btn_change" data-xt_eid="CMMA_A4_B16_C80_D166-10" data-xt_csid="NO" data-xt_action="BC"><span>지금 해지할래요</span></a>
                        </div>
                        <div class="col">
                            <a href="javascript:void(0)" id="game-1p-close" class="btn-dialog-2 fe-btn_close" data-xt_eid="CMMA_A4_B16_C80_D166-11" data-xt_csid="NO" data-xt_action="BC"><span>계속 이용할게요</span></a>
                        </div> 
                    </div>
                </div>
                <!-- //button fixed -->          
			</div>
            <!--// .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="popup-closeBtn" class="btn-dialog-2 fe-btn_close" data-xt_eid="CMMA_A4_B16_C80_D166-12" data-xt_csid="NO" data-xt_action="BC" ><span class="blind">팝업 페이지 닫기</span></button>
            <!--// .popup-closeBtn -->
		</div>