<div class="popup-page tw-popup fixed-btn fixed-bottom dwg-popup color-type-e">
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container" style="background-color:#632dc6;">
            <!-- 혜택 -->
            <h2 class="blind">해지</h2>
            <div class="dwg-typeImg-area pb0">
                <div class="img-wrap">
                    <img src="{{cdn}}/img/t_dwg/gamepass_img_02.png" alt="계속 진화하는 클라우드 게임과 함께해 보세요. 1. 대작 게임 지속 추가 예정 대작 - 대작 게임사 인수 및 제휴 노력을 통해 세계적인 게임들이 추가될 예정이에요. 2.PC 클라우드 지원 예정 - PC에서도 간편하게 클라우드 게임을 즐기실 수 있게 업그레이드될 예정이에요. (상반기 중) 3.게임 내 혜택(PERKS)과 각종 이벤트 - 가입을 유지하시면서 혜택과 이벤트를 놓치지 마세요.">
                </div>
            </div>
            <!-- 혜택 -->
        </div>
        
        <!-- button fixed -->
        <div class="bt-fixed-area dwg-dialog-area">
            <div class="dwg-dialog-btns">                    
                <div class="col">
                    <a href="javascript:void(0)" id="game-2p-change" class="btn-dialog-1 fe-btn_change" data-xt_eid="CMMA_A4_B16_C80-D166-13" data-xt_csid="NO" data-xt_action="BC"><span>지금 해지할래요</span></a>
                </div>
                <div class="col">
                    <a href="javascript:void(0)" id="game-2p-close" class="btn-dialog-2 fe-btn_close" data-xt_eid="CMMA_A4_B16_C80-D166-14" data-xt_csid="NO" data-xt_action="BC"><span>계속 이용할게요</span></a>
                </div> 
            </div>
        </div>
        <!-- //button fixed -->
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn" class="btn-dialog-2 fe-btn_close" data-xt_eid="CMMA_A4_B16_C80_D166-15" data-xt_csid="NO" data-xt_action="BC"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>