        <div class="popup-page tw-popup fixed-btn fixed-bottom dwg-popup vc-type-list2">
			<!-- .container-wrap -->
			<div class="container-wrap">              
				<div class="container">
                    <!-- 요금제 변경 이유 리스트 -->
                    <div class="dwg-case-box">
                        <div class="dwg-hd-area">
                            <h2 class="h2-tit">
                                <span class="user-name tx-medium">잠시만요!</span>
                                <span class="p-desc tx-normal">V 컬러링 플러스를<br> 해지하시는 이유는<br> 무엇인가요?</span>
                            </h2>
                        </div>
                        <div class="dwg-type-area">
                            <ul class="list">
                                <li class="item">
                                    <a href="javascript:void(0)" data-dg_contents="A" data-xt_eid="CMMA_A4_B16_C80_D166-2" data-xt_csid="NO" data-xt_action="BC" class="dwg-type-link">
                                        <i class="ico-img"><img src="{{cdn}}/img/t_dwg/ico_dg_02.png" alt=""></i>
                                        <span class="tit-txt"><strong class="tx-regular f-color">혜택</strong>이 마음에 들지 않아서</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="javascript:void(0)" data-dg_contents="B" data-xt_eid="CMMA_A4_B16_C80_D166-3" data-xt_csid="NO" data-xt_action="BC" class="dwg-type-link">
                                        <i class="ico-img"><img src="{{cdn}}/img/t_dwg/ico_dg_01.png" alt=""></i>
                                        <span class="tit-txt"><strong class="tx-regular f-color">이용 요금</strong>이 비싸서</span>
                                    </a>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                    <!-- 요금제 변경 이유 리스트 -->                   
               </div>               
			</div>
            <!--// .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="popup-closeBtn" data-xt_eid="CMMA_A4_B16_C80_D166-1" data-xt_csid="NO" data-xt_action="BC"><span class="blind">팝업 페이지 닫기</span></button>
            <!--// .popup-closeBtn -->
		</div>