<div class="popup-page tw-popup fixed-btn fixed-bottom dwg-popup {{titleClass}}"><!--  하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ...  -->
    {{#if titleNm}}
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>{{titleNm}}</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    {{/if}}
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            {{{dwgHtml}}}
        </div>
        <!-- button fixed -->
        <div class="bt-fixed-area dwg-dialog-area">
            <p class="txt">정말 요금제를 변경하시겠어요?</p>
            <div class="dwg-dialog-btns">
                <div class="col">
                    <button class="btn-dialog-1 fe-btn_change"><span>지금 변경할래요.</span></button>
                </div>
                <div class="col">
                    <button class="btn-dialog-2 fe-btn_close"><span>다음에 할게요.</span></button>
                </div>
            </div>
        </div>
        <!-- //button fixed -->
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>