<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap tod-complete-wrap">
                <div class="title-box">
                    <i class="icon-comm-bi122"><span class="blind">T월드 - 안내</span></i>
                    <!-- 에러코드 영역 -->
                    {{#if data}}
                    {{#if data.code}}
                    <p class="tod-error-code">
                        <i class="icon-comm-errorcode"><em class="blind">에러코드</em></i>
                        <span class="txt-code">{{data.code}}</span>
                    </p>
                    {{/if}}
                    {{#if data.msg}}
                    <!-- //에러코드 영역 -->
                    <p class="tx-tit"><span class="tx-highlight pt10">{{data.msg}}</span></p>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="tx-contents">
                    <ul class="bt-slice item-one">
                        <li><button type="button" class="btn-round2 btn-style3 fe-request">이메일 상담하기</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bt-fixed-area">
        <ul class="bt-slice full">
            <li><button type="button" class="btn-floating btn-style2 tw-popup-closeBtn">확인</button></li>
        </ul>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <!-- <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button> -->
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->