<div class="popup-page tw-popup fixed-bottom">
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>개인정보 제공 동의(필수)</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .pop-tc -->
            <div class="pop-tc">
                <div class="mb20">&nbsp;</div>
                <div class="mb20"><strong>-개인정보 수집, 제공 및 활용 동의-</strong></div>
                <div class="mb20">T world는 SK텔레콤의 휴대폰, 인터넷, 전화, 인터넷전화, 결합상품을 제공함에 있어 고객님의 개인정보를 고객님의 동의 하에 아래와 같이 이용 및 처리 위탁함을 알려드립니다.</div>
                <div><strong>-고객 개인정보의 수집이용-</strong></div>
                <table class="data-a mb20">
                    <caption aria-hidden="true">고객 개인정보의 수집이용</caption>
                    <colgroup>
                        <col style="width:50%;">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">항목</th>
                        <th scope="col">내용</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>개인정보의 수집, 이용 목적</td>
                        <td>유선인터넷 관련 상품 안내 및 상담</td>
                    </tr>
                    <tr>
                        <td>수집하는 개인정보의 항목</td>
                        <td>이름, 연락 가능 번호, 주소</td>
                    </tr>
                    <tr>
                        <td>개인정보 보유, 이용 기간</td>
                        <td>가입 상담 종료 시까지</td>
                    </tr>
                    </tbody>
                </table>
                <div><strong>-고객 개인정보의 처리위탁</strong></div>
                <table class="data-a mb10">
                    <caption aria-hidden="true">고객 개인정보의 처리위탁</caption>
                    <colgroup>
                        <col style="width:50%;">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">항목</th>
                        <th scope="col">내용</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>개인정보 처리위탁을 받는자 ("수탁자")</td>
                        <td>㈜서비스 에이스, ㈜서비스 탑</td>
                    </tr>
                    <tr>
                        <td>개인정보 처리위탁을 하는 업무의 내용</td>
                        <td>유선인터넷 관련 상품 안내 및 상담</td>
                    </tr>
                    </tbody>
                </table>
                <div>위 고객 개인정보의 수집이용/개인정보의 처리위탁을 읽고 이해하였으며, 개인정보의 수집,이용/개인정보의 처리위탁에 동의합니다.</div>
            </div>
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-btn_ok">확인</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
</div>