<div class="popup tw-popup">
    <div class="popup-page nobg layer actionsheet has-floating has-header"><!-- actionsheet, has-floating, has-header // -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align">
                    <h1>수신동의 설정</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps noborder">
                    <!-- .cont-actionsheet -->
                    <div class="cont-actionsheet">
                        <ul class="list-style type1">
                            <li class="fe-ad">
                                <span class="wrap-label"><label for="oka1">T world 광고성 정보 수신동의(선택)</label></span>
                                <span class="wrap-btn"><button type="button" class="btn-detail fe-view" value="03">상세보기</button></span>
                                <span class="wrap-form"><span class="custom-form"><input type="checkbox" id="oka1" name="r1" value="twdAdRcvAgreeYn"><span class="c-type1"></span></span></span>
                            </li>
                            <li>
                                <span class="wrap-label"><label for="oka2">T world 개인정보 수집 · 이용동의(선택)</label></span>
                                <span class="wrap-btn"><button type="button" class="btn-detail fe-view" value="06">상세보기</button></span>
                                <span class="wrap-form"><span class="custom-form"><input type="checkbox" id="oka2" name="r1" value="twdInfoRcvAgreeYn"><span class="c-type1"></span></span></span>
                            </li>
                            <li class="fe-location">
                                <span class="wrap-label"><label for="oka3">위치정보 이용동의(선택)</label></span>
                                <span class="wrap-btn"><button type="button" class="btn-detail fe-view" value="15">상세보기</button></span>
                                <span class="wrap-form"><span class="custom-form"><input type="checkbox" id="oka3" name="r1" value="twdLocUseAgreeYn"><span class="c-type1"></span></span></span>
                            </li>
                        </ul>
                        <button type="button" class="btn-floating btn-style1" id="fe-confirm">저장</button>
                    </div>
                    <!-- // .cont-actionsheet -->
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-no-blind-close"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
