<!-- .popup hbs -->
<div class="popup-page tw-popup nobg fixed-bottom h30"><!-- 기본배경색은 white, 회색배경색은 .nobg --><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap"><!-- 보더라인 없을 경우 .noborder -->
        <div class="page-header">
            <div class="header-ti">
                <h1>나에게 꼭 맞는 요금제</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true" />
            <!-- .cont-box -->
            <div class="cont-box tod-plan-pop-wrap"><!-- border 없을 경우 .noborder / 배경색 없을 경우 .bgnone -->
                <div class="tod-plan-pop-container">
                    <p class="plan-pop-tit">
                        휴대폰 <strong>사용패턴</strong>과 <br>
                        MLS 데이터 <strong>분석</strong>으로<br>
                        <span class="tod-txcolor6"><strong>혜택</strong>이 가장 많은<br>
                        요금제를 <strong>추천</strong>합니다.</span>
                    </p>
                </div>
                <div class="tod-plan-pop-container type02">
                    <p class="plan-pop-cont-tit">SKT T world의<br> 초시대 요금제 추천</p>
                    <p class="plan-recom-txt">추천 요금제를 확인하시면 고객님의 휴대폰 사용패턴과 MLS(Machine Learnig) 데이터로 혜택을 가장 많이 받을 수 있는 요금제를 추천합니다.</p> 
                </div>
            </div>
            <!-- //.cont-box -->
        </div>
        <!-- 하단 fixed 버튼 (.container 영역 바깥에 위치해야 함) -->
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1"><button>내게 맞는 요금제 추천 확인하기</button></li>
            </ul>
        </div>
        <!-- //하단 fixed 버튼 (.container 영역 바깥에 위치해야 함) -->
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->
