<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom fixed-bottom-lock"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>검색의견 신청</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true">
            <!-- .cont-box -->
            <div class="cont-box noborder">
                <p class="infoplus-search">정보가 추가되었으면 하는 검색어를<br>신청해주세요.</p>
                <div class="option-box">
                    <div class="inputbox textarea-type">
                        <div class="input">
                            <textarea autocorrect="off" class="input-focus inner-tx" cols="20" rows="3" placeholder="검색의견 입력" maxlength="20" aria-labelledby="aria-email-qacont"></textarea>
                            <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                        </div>
                        <div class="byte byte-maximum">
                            <p class="text">최대 20자까지 가능합니다.</p>
                            <span class="byte-current">0</span>/<span class="byte-total">20</span>자
                        </div>
                    </div>
                </div>

            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button disabled="" class="request_claim">신청하기</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->
