<div class="popup tw-popup">
    <div class="popup-page">
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>그 외 파밍 사이트 추가 식별 방법</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- #contents -->
        <div class="idpt-container">
            <div class="idpt-popup-cont">
                <ul class="idpt-dot-list-black">
                    <li>파밍 전용 백신 또는 보안 프로그램을 이용하시면 안전할 수 있습니다.</li>
                    <li>사이트 이용 시 평소와 다른 입력 정보를 요구할 경우 의심해 볼 수 있습니다.</li>
                    <li>스마트폰으로 동일한 주소를 입력했을 때 똑같은 화면이 나오는지 확인하실 수 있습니다.</li>
                    <li>와이파이를 통한 휴대폰 접속할 경우에도 파밍 사이트로 연결될 때 LTE접속을 통해 PC화면과 비교하면서 확인하실 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <!--// #contents -->
        <button class="prev-step tw-popup-closeBtn">취소</button>
    </div>
</div>