<div class="popup tw-popup">
    <div class="popup-page">
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>스미싱 피해 유형 상세 보기</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <div class="idpt-container">
            <div class="idpt-popup-cont">
                <div class="idpt-cont-box">
                    <p class="info-txt idpt-bold">금융 정보 탈취</p>
                    <ul class="idpt-dot-list-black">
                        <li>휴대폰에 저장된 보안카드, 공인인증서 등을 탈취해 해커에게 전송합니다.</li>
                        <li>
                            금융 뱅킹 앱을 사칭하는 가짜 앱 설치를 유도합니다. 이후 보안등급 업그레이드 등의 명목으로 보안카드번호 입력을 유도합니다.
                            <p class="txt-gray with-star idpt-mt20">
                                은행권에서 제공하는 앱은 보안 강화를 목적으로 금융정보 입력을 요구하지 않습니다.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="idpt-cont-box">
                    <p class="info-txt idpt-bold">내 휴대폰의 수신 문자 탈취</p>
                    <ul class="idpt-dot-list-black">
                        <li>휴대폰으로 수신되는 문자를 가로채서 해커의 서버로 자동 전송합니다.</li>
                        <li>이 수법으로 소액결제 인증문자를 탈취하여 의도하지 않은 결제 등의 금전적 피해를 줍니다.</li>
                    </ul>
                </div>

                <div class="idpt-cont-box">
                    <p class="info-txt idpt-bold">지인에게 문자 자동 전송</p>
                    <ul class="idpt-dot-list-black">
                        <li>내 휴대폰에 저장된 지인들에게 단체로 동일한 스미싱 문자를 전송합니다.</li>
                        <li>최근 발신번호를 속여 스미싱 문자를 유포하기 위해 사용되는 방법입니다.</li>
                        <li>대량 문자 전송 요금 발생 등의 피해가 발생합니다.</li>
                    </ul>
                </div>

                <div class="idpt-cont-box">
                    <p class="info-txt idpt-bold">개인정보 탈취</p>
                    <ul class="idpt-dot-list-black">
                        <li>휴대폰에 저장된 주소록 정보 및 사진파일, 문자메시지 내용 등 개인정보를 탈취해 해커에게 전송합니다.</li>
                    </ul>
                </div>

                <div class="idpt-cont-box">
                    <p class="info-txt idpt-bold">해커가 조작 가능한 좀비폰으로 만듦</p>
                    <ul class="idpt-dot-list-black">
                        <li>휴대폰을 악성코드에 감염시켜 해커의 명령에 따라 개인정보를 전송하거나 문자를 발송하는 등 다른 스마트폰을 감염시키는 악성코드의 숙주 역할을 하게 합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="prev-step tw-popup-closeBtn">취소</button>
    </div>
</div>