<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-complete-120"><span class="blind">complete</span></i>
                    <p class="tx-tit"><span class="tx-highlight pt10">생체인증 등록 완료</span></p>
                </div>
                <div class="tx-contents">
                    <p class="basic-txt">등록한 생체정보를 금융거래 및 본인확인을 위한 인증 방법으로 사용하실 수 있습니다.</p>
                    <p class="basic-txt">생체인증 재등록, 해지 또는 사용을 잠시 끄고 싶은 경우 ‘설정 > 생체인증 설정’에서 변경하실 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bt-fixed-area">
        <ul class="bt-slice full">
            <li><button id="fe-bt-complete" type="button" class="btn-floating btn-style2">닫기</button></li>
        </ul>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <!-- <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button> -->
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->