<!-- 200828 [OP002-10337] [긴급] 사실조사 심결에 따른 공표문 게시 - T월드 모바일 앱/웹 -->
<div class="popup tw-popup" role="dialog" aria-hidden="false" style="z-index: 1000;">
    <div class="popup-info scrolling" role="alertdialog" aria-labelledby="alertHeading" aria-describedby="alertText">
        <div class="popup-contents" style="max-height: 100%;">
            <div class="inner-contents">
                <div class="tl font-only-gray">
                    <img style="width:100%" src="{{img_src}}"><br><br>
                </div>
            </div>
        </div>
        <ul class="bt-bottom">
            <li class="pos-left">
                <button class="correct-all-close">다시보지 않음</button>
            </li>
            <li class="pos-right">
                <button class="correct-close">닫기</button>
            </li>
        </ul>
    </div>
    <div class="popup-blind"></div>
</div>
<!-- //200828 [OP002-10337] [긴급] 사실조사 심결에 따른 공표문 게시 - T월드 모바일 앱/웹 -->
