<div class="popup-page tw-popup nobg fixed-bottom">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>한도 변경</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <div class="basic-select-list">
                    <ul>
                        <li>
                            <div class="title">매달</div>
                            <div class="tx-cont">
                                <button class="bt-dropdown big fe-month" title="매달 한도 금액" aria-haspopup="true"><span class="ico"></span></button>
                            </div>
                        </li>
                        <li>
                            <div class="title">1일</div>
                            <div class="tx-cont">
                                <button class="bt-dropdown big fe-day" title="1일 한도 금액" aria-haspopup="true"><span class="ico"></span></button>
                            </div>
                        </li>
                        <li>
                            <div class="title">1회</div>
                            <div class="tx-cont">
                                <button class="bt-dropdown big fe-once" title="1회 한도 금액" aria-haspopup="true"><span class="ico"></span></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box noborder">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li>
                        <button id="MF_06_02_tip_01" page-id="" class="btn-tip" aria-haspopup="true">이용안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button>
                    </li>
                    <li>
                        <button id="MF_06_02_tip_02" page-id="" class="btn-tip" aria-haspopup="true">변경안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button>
                    </li>
                    <li>
                        <button id="MF_06_02_tip_03" page-id="" class="btn-tip" aria-haspopup="true">불가/제한 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-change" disabled>변경하기</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step tw-popup-closeBtn">취소</button>
    <!--// .popup-closeBtn -->
</div>
