<div class="popup-page nobg tw-popup fixed-bottom">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>선결제내역 확인</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="user-month-bill mt0 check-payment">
                    <p class="tod-pay-txt">결제를 <br>진행 하시겠습니까?</p>
                    <div class="this-month-bill">
                        <p class="stit">SK pay 결제</p>
                        <p class="num price"><span class="str fe-payment-amount price"></span>원</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-pay">결제 진행</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-close"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
