<div class="popup-page nobg tw-popup fixed-bottom">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>선결제내역 확인</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="check-payment">
                    <strong class="tit">결제하시겠습니까?</strong>
                    <p class="sub-tit">실시간 계좌이체</p>
                    <p class="credit"><span class="ctit fe-payment-option-name"></span><span class="cnum fe-payment-option-number"></span></p>
                    <p class="num"><span class="str fe-payment-amount"></span>원</p>
                </div>
            </div>
            <!--// .cont-box -->

            <div class="ti-caption-gray"><!-- 2018-09-19 클래스명 변경 -->
                <h3 class="tit">상세정보</h3>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="detail-account">
                    <ul>
                        <li>
                            <dl>
                                <dt>예금주명</dt>
                                <dd class="fe-mbr-name"></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>납부방법</dt>
                                <dd>실시간 계좌이체</dd>
                            </dl>
                        </li>
                    </ul>

                </div>
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-pay">결제 완료</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-close"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
