<!-- .popup hbs -->
<div class="popup-page nobg tw-popup fixed-bottom txt-screed"><!-- .fixed-bottom 하단에 고정된 버튼이 있는 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>납부요금 선택</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <!-- .list-comp-input -->
                <div class="with-payment-line">
                    <div class="list-comp-input">
                        <div class="widget">
                            <div class="widget-box check">
                                <ul class="select-list fe-line-list" role="group">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 190522 추가_01 -->
                    <div class="tod-total-payment">
                        <div class="tod-cont">
                            <span class="tod-title">납부하실 총 청구금액</span>
                            <span class="tod-price-area"><span class="tod-price fe-amount"><!--109,860--></span> 원</span>
                        </div>
                    </div>
                    <!-- // 190522 추가_01 -->
                </div>
                <!--// .list-comp-input -->
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-select">선택 완료</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn fe-close-pop"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->
