<div class="popup-page tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>계좌정보 수정</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- cont-box -->
            <div class="cont-box noborder">
                <ul class="form-data-list">
                    <li>
                        <label class="tit" for="formInput01">은행명</label>
                        <span class="inputbox readonly placeholder address-wrap mt0">
                            <span class="input">
                                <input type="text" id="formInput01" placeholder="은행을 선택하세요." title="은행을 선택하세요." readonly>
                                <button class="cancel"><span class="blind">삭제</span></button>
                            </span>
                            <span class="space"></span>
                            <span class="bt-box">
                                <button id="fe-bank-select"type="button">선택</button>
                            </span>
                        </span>
                    </li>
                    <li>
                        <label class="tit" for="formInput02">계좌번호</label>
                        <span class="inputbox">
                            <span class="input">
                                <input id="formInput02" type="number" placeholder="숫자만 입력" title="계좌번호 입력">
                                <button class="cancel"><span class="blind">삭제</span></button>
                            </span>
                            <span id="aria-phone-tx1" class="error-txt fe-account-error none">은행과 계좌번호가 유효하지 않습니다.</span>
                        </span>
                    </li>
                </ul>

                <ul class="detail-info-list list-line-type mt20">
                    <li>
                        <dl>
                            <dt>예금주</dt>
                            <dd>{{ data.name }}</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>주민등록번호</dt>
                            <dd>{{ data.socialId }}</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- //cont-box -->


            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-submit" disabled>수정하기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn fe-common-back"><span class="blind">취소</span></button>
    <!--// .popup-closeBtn -->
</div>