
         <div class="popup-page nobg tw-popup"><!-- .fixed-bottom 하단에 고정된 버튼이 있는 경우 -->
            <!-- #header -->
            <div class="header-wrap">
                <div class="page-header">
                    <div class="header-ti">
                        <h1>DETAILS</h1>
                    </div>
                </div>
            </div>
            <!--// #header -->
            <!-- .container-wrap -->
            <div class="container-wrap">
                <h2 class="blind">contents</h2>
                <div class="container">
                    <div class="plan-detail">
                        <p class="plan-detail-tit">Subscription/Cancellation</p>

                        <div class="cont-box">
                            <table class="tbl-plan-detail">
                                <caption>Subscription/Cancellation</caption>
                                <colgroup>
                                    <col style="width:30%">
                                    <col style="width:35%">
                                    <col style="width:35%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Subscription / Cancellation Channel</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" rowspan="3">Subscription</th>
                                        <td>T world</td>
                                        <td class="center">-</td>
                                    </tr>
                                    <tr>
                                        <td>Customer Call Center</td>
                                        <td>1566-0011 (SKT Customer Call Center)</td>
                                    </tr>
                                    <tr>
                                        <td>SK Telecom stores</td>
                                        <td>SK Telecom stores across the country</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" rowspan="3">Cancellation</th>
                                        <td>T world</td>
                                        <td class="center">-</td>
                                    </tr>
                                    <tr>
                                        <td>Customer Call Center</td>
                                        <td>1566-0011 (SKT Customer Call Center)</td>
                                    </tr>
                                    <tr>
                                        <td>SK Telecom stores</td>
                                        <td>SK Telecom stores across the country</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <hr class="cont-sp type1" aria-hidden="true"/>

                        <p class="plan-detail-tit">Unlimited Talktime</p>

                        <div class="cont-box">

                            <ul class="dot-list">
                                <li>The use of monthly plan may be restricted under the following cases
                                    <ul class="dash-list">
                                        <li>When daily talktime exceeds 600 mins more than 3 times per month</li>
                                        <li>When the total monthly talktime exceeds 10,000 mins</li>
                                        <li>When used for commercial purposes including tele-marketing/phone dating services etc</li>
                                        <li>Lines receiving incoming calls from 1,000 or more lines per month will be considered as being used for commercial purposes</li>
                                    </ul>
                                </li>
                                <li>When usage is restricted, a talktime usage restriction alert message will be sent to the customer, and after which talktime charges will be incurred based on actual call duration (When used for commercial purposes, the subscriber’s plan will be automatically changed to the Standard Plan and charged accordingly)</li>
                            </ul>
                        </div>

                        <hr class="cont-sp type1" aria-hidden="true"/>

                        <p class="plan-detail-tit">Text</p>

                        <div class="cont-box">

                            <ul class="dot-list">
                                <li>SMS, MMS (Text-type, Multimedia-type)</li>
                                <li>The use of mobile services and the monthly plan may be restricted under the following cases
                                    <ul class="dash-list">
                                        <li>[SMS, MMS] When the daily texts exceed 200 over 10 Times per month</li>
                                        <li>[SMS, MMS] When used for commercial purposes including spam messages or automatic sending programs and devices</li>
                                        <li>Lines receiving incoming calls from 3,000 or more lines per month will be considered as being used for commercial purposes</li>
                                    </ul>
                                </li>
                                <li>When usage is restricted, a package talktime usage restriction alert message will be sent to the customer, and talktime charges will be incurred based on actual calling time after (When used for commercial purposes, the subscriber’s plan will be automatically changed to the Standard Plan and charged accordingly)</li>
                            </ul>
                        </div>

                        <hr class="cont-sp type1" aria-hidden="true"/>

                        <p class="plan-detail-tit">Discounts</p>

                        <div class="cont-box">

                            <ul class="dot-list">
                                <li>‘Family Plan’ / ‘Family Free’ bundled discount plans can be signed up for (Can be recognized as a Family group line)</li>
                                <li>‘Premium Customer Discounts’ not available</li>
                                <li>‘Flexible Plan Contract Discount’ can be applied</li>
                                <li>‘T We-Family’ discounts can be applied (If the total accumulated use period of family members exceeds 20 years, a 10% discount is applied to the monthly fee, and 30% discount for 30 years)</li>
                            </ul>
                        </div>

                        <hr class="cont-sp type1" aria-hidden="true"/>

                        <p class="plan-detail-tit">Mobile Plan Subscription</p>

                        <div class="cont-box">
                            <ul class="dot-list">
                                <li>Minors under the age of 18, 1 line per 1 person</li>
                                <li>When user age surpasses the limit, the mobile plan will be automatically changed to Band Data 2.2G(Ting On Weekends 5.0G)/Band Data 1.2G(Ting On Weekends 3.0G)/Band Data Save(Ting On Weekends Save) in the following month upon the subscriber’s 20th birthday</li>
                                <li>Only 3G/LTE smartphone users can subscribe</li>
                            </ul>
                        </div>

                        <hr class="cont-sp type1" aria-hidden="true"/>

                        <p class="plan-detail-tit">Others</p>

                        <div class="cont-box">
                            <ul class="dot-list">
                                <li>‘Long-term Subscriber Discount’ and ‘Rainbow Point’ accumulation is not available</li>
                                <li>Not allowed to sign up for ‘T with T’ plan</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="popup-closeBtn"><span class="blind">popup close</span></button>
            <!--// .popup-closeBtn -->
        </div>
        <!--// .popup hbs -->

