<!-- .popup hbs -->
<div class="popup-page tw-popup fixed-bottom">
    <!-- .container-wrap -->
    <div class="container-wrap">
        <div class="container">
            <div class="complete-wrap">
                <div class="title-box">
                    <i class="icon-warning-120"><span class="blind">warning</span></i>
                    <p class="tx-tit">
                        {{name}}({{number}})님께<br />
                        <span class="tx-highlight pt10">데이터 나눠쓰기 완료</span>
                    </p>
                </div>

                <div class="tx-contents">
                    <p class="basic-txt">
                        남은 데이터: <strong>{{remainData}}MB</strong> / {{benefitData}}MB{{#if remainData}}<br />이번 달까지 나눔 가능.{{/if}}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <!--// .container-wrap -->
    <div class="bt-fixed-area">
        <ul class="bt-slice full">
            <li class="bt-red1">
                <button class="tw-popup-closeBtn">확인</button>
            </li>
        </ul>
    </div>
</div>
<!--// .popup hbs -->
