
<!-- .popup hbs -->
<div class="popup-page nobg tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>번호변경</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true"/><!-- 190618 [OP002-966] 추가_01 (구분선) -->
            <!-- .cont-box -->
            <div class="cont-box">
                <p class="con-txt1">고객님은 <span class="tx-bold">다른 이동통신사 번호 (016/018/019)</span>를<br>이용 중 입니다.</p>
                <ul class="form-data-list pt36" role="group">
                    <li>
                        <label class="tit">뒷번호 4자리</label>
                        <span class="inputbox bt-add inp-btn">
                                    <span class="input">
                                        <input id="inputNum1" type="number" placeholder="숫자만 입력" title="변경할 010번호 조회 시작할 뒷번호 4자리 숫자만 입력" maxlength="4"/>
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                    <span class="tx-box type1">에서</span>
                                </span>
                        <span class="inputbox bt-add inp-btn mt6">
                                    <span class="input">
                                        <input id="inputNum2" type="number" placeholder="숫자만 입력" title="변경할 010번호 조회 끝낼 뒷번호 4자리 숫자만 입력" maxlength="4"/>
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                    <span class="tx-box type1">사이</span>
                                </span>
                    </li>
                </ul>
                <ul class="bt-slice mt20">
                    <li class="bt-red1" id="btnNumSearch">
                        <button>변경할 010 번호 찾기</button>
                    </li>
                </ul>
                <div class="cont-noti mt20">
                    <ul class="bullet-type">
                        <li>조회범위는 입력번호 ~ 입력번호+100 입니다.<br />Ex) 2000 검색시 2000~2100 사이</li>
                        <li>번호 조회는 1일 최대 50회까지 가능합니다.</li>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="wrap-gaps-top">
                    <h3>변경 가능한 번호</h3>
                </div>
                <div class="list-comp-input tod-type2">
                    <div class="widget">
                        <div class="widget-box radio">
                            <ul class="select-list" role="group">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bt-more">
                    <button>더보기</button>
                </div>
            </div>
            <!--// .cont-box -->

            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li><button class="btn-tip" id="MS_03_03_tip_03" page-id="M000305" title="이용시간 안내 TIP보기" aria-haspopup="true">이용시간 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MS_03_03_tip_02" page-id="M000305" title="변경 안내 TIP보기" aria-haspopup="true">변경 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MS_03_03_tip_01" page-id="M000305" title="번호변경 시 확인사항 TIP보기" aria-haspopup="true">번호변경 시 확인사항<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MS_03_03_tip_04" page-id="M000305" title="번호변경 시 서비스 TIP보기" aria-haspopup="true">번호변경 시 서비스 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MS_03_03_tip_05" page-id="M000305" title="부가서비스 안내 TIP보기" aria-haspopup="true">부가서비스 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MS_03_03_tip_06" page-id="M000305" title="단말기 안내 TIP보기" aria-haspopup="true">단말기 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MS_03_03_tip_07" page-id="M000305" title="번호변경 제한사항 안내 TIP보기" aria-haspopup="true">번호변경 제한사항 안내 <i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MS_03_03_tip_08" page-id="M000305" title="유심 제한사항 안내 TIP보기" aria-haspopup="true">유심 제한사항 안내 <i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                </ul>
            </div>
            <!--// .cont-box -->
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button  id="btnSel" disabled>선택</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step">취소</button>
    <!--// .popup-closeBtn -->
</div>
<!-- // .popup hbs -->
