<div class="tod-ui-chabot2" data-scroll="true"><!-- class="tod-ui-chabot2  slideup expanded"-->
    <div class="tod-ui-chabot2-inner">
        <!-- button -->
        <!-- title -->
        <div class="title-wrap">
                <button type="button" class="btn-tab" data-type="chatbotitem" data-xt_eid="CMMA_A3_B10-28" data-xt_csid="NO" data-xt_action="BV" data-xt_action2="BC">
                    <span class="tod-chatbot-img profile2 on"></span><!--
                        class="tod-chatbot-img" : O /  class="tod-chatbot-img on" : 스마일-->
                    <span class="chatbot-tit"><strong>T월드 챗봇</strong>이 도와드릴까요?</span>
                </button>
        </div>

        <!-- list -->
        <div class="list-wrap nowrap">
            <div class="list">
                <button class="item bpcpItem data_gift" data-type="chatbotitem" data-xt_eid="CMMA_A3_B10-24" data-xt_csid="NO" data-xt_action="BV" data-xt_action2="BC">
                    <span class="ico-chatbot data"><em class="tod-blind">Ai</em></span><span class="txt">데이터 선물할래</span>
                </button>
                <button class="item bpcpItem refill_coupon" data-type="chatbotitem" data-xt_eid="CMMA_A3_B10-25" data-xt_csid="NO" data-xt_action="BV" data-xt_action2="BC">
                    <span class="ico-chatbot coupon"><em class="tod-blind">Ai</em></span><span class="txt">리필 쿠폰 사용할래</span>
                </button>
            </div>
        </div>

        <!-- 상담하기 -->
        <div class="link-wrap">
            <a href="" title="새창 열림" class="link-chatbot-go bpcpItem initial" data-type="chatbotitem" data-xt_eid="CMMA_A3_B10-26" data-xt_csid="NO" data-xt_action="BV" data-xt_action2="BC">챗봇으로 빠른 상담하기</a>
        </div>
        <!-- close -->
        <!--
        <div class="close-wrap">
            <button class="btn-close"><span class="tod-blind">닫기</span></button>
        </div>
        -->
    </div>
</div>