<div class="tod-ui-chabot2" data-scroll="true"><!-- class="tod-ui-chabot2  slideup expanded"-->
    <div class="tod-ui-chabot2-inner">
        <!-- button -->
        <!-- title -->
        <div class="title-wrap">
                <button type="button" class="btn-tab">
                    <span class="tod-chatbot-img profile2 on"></span><!--
                        class="tod-chatbot-img" : O /  class="tod-chatbot-img on" : 스마일-->
                    <span class="chatbot-tit"><strong>T월드 챗봇</strong>이 도와드릴까요?</span>
                </button>
        </div>

        <!-- list -->
        <div class="list-wrap nowrap">
            <div class="list">
            {{#isDisplay param.[0].data.[0]}}
                <button class="item bpcpItem unpaid_amt" data-xt_eid="CMMA_A3_B12-30" data-xt_csid="NO" data-xt_action="BC">
                    <span class="ico-chatbot unpaid-charge"><em class="tod-blind">Ai</em></span><span class="txt">미납요금 얼마야?</span>
                </button>
            {{/isDisplay}}
                <button class="item bpcpItem hotbill" data-xt_eid="CMMA_A3_B12-32" data-xt_csid="NO" data-xt_action="BC">
                    <span class="ico-chatbot live-charge"><em class="tod-blind">Ai</em></span><span class="txt">실시간 이용요금 알려줘</span>
                </button>
                <button class="item bpcpItem pay_bill" data-xt_eid="CMMA_A3_B12-33" data-xt_csid="NO" data-xt_action="BC">
                    <span class="ico-chatbot thismonth-charge"><em class="tod-blind">Ai</em></span><span class="txt">이번 달 요금 얼마 나왔어?</span>
                </button>
            {{#isDisplay param.[0].data.[1]}}
                <button class="item bpcpItem micro_pay" data-xt_eid="CMMA_A3_B12-34" data-xt_csid="NO" data-xt_action="BC">
                    <span class="ico-chatbot pay"><em class="tod-blind">Ai</em></span><span class="txt">소액결제 금액 알려줘</span>
                </button>
            {{/isDisplay}}
            </div>
        </div>

        <!-- 상담하기 -->
        <div class="link-wrap">
            <a href="" title="새창 열림" class="link-chatbot-go bpcpItem initial" data-xt_eid="CMMA_A3_B12-41" data-xt_csid="NO" data-xt_action="BC">챗봇으로 빠른 상담하기</a>
        </div>
        <!-- close -->
        <!--
        <div class="close-wrap">
            <button class="btn-close"><span class="tod-blind">닫기</span></button>
        </div>
        -->
    </div>
</div>