<div class="popup tw-popup" role="dialog" aria-hidden="false">
    <div class="popup-info" role="alertdialog" aria-describedby="alertText">
        <div class="popup-header">
        </div>
        <div class="popup-contents" id="alertText">
            <div class="inner-contents">
                <div class="tl font-only-gray">3G 또는 LTE망 사용 시 데이터 요금이 발생됩니다</div>
            </div>
        </div>
            <ul class="bt-bottom">
                <li class="pos-left dataPopup-cancelBtn">
                    <button>취소</button>
                </li>
                <li class="bt-red1 pos-right dataPopup-confirmBtn">
                    <button>확인</button>
                </li>
            </ul>
     </div>
      <div class="popup-blind"></div>
  </div>