<div class="popup tw-popup" role="dialog" aria-hidden="false">
    <div class="popup-info" role="alertdialog" aria-describedby="alertText">
        <div class="popup-header">
        </div>
        <div class="popup-contents" id="alertText">
            <div class="inner-contents">
                <div class="tl font-only-gray">Data charges will be incurred on 3G, LTE, or 5G network.</div>
            </div>
        </div>
            <ul class="bt-bottom">
                <li class="pos-left dataPopup-cancelBtn">
                    <button>Cancel</button>
                </li>
                <li class="bt-red1 pos-right dataPopup-confirmBtn">
                    <button>Okay</button>
                </li>
            </ul>
     </div>
      <div class="popup-blind"></div>
  </div>