<div class="popup-page">
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>요금제 비교</h1>
            </div>
        </div>
    </div>
            
    <div class="container-wrap">
        현재 요금제 prodId = {{data.curPlan}} <br><br>
        비교 할 요금제 prodId = {{data.comparePlan}} <br>
        <button class="actionSheetTest">액션 시트 불러오기</button>
    </div>
    <button class="prev-step">취소</button>
</div>