<div class="popup product-popup" role="dialog" aria-hidden="false">
    <div class="popup-info" role="alertdialog" aria-labelledby="alertHeading" aria-describedby="alertText">
        <div class="popup-header">
            <h5 class="popup-title sub" id="alertHeading">확인을 누르시면 <br> 선택하신 필터 항목이 초기화 됩니다.</h5>
        </div>
        <ul class="bt-bottom">
            <li class="pos-left">
                <button id="initialCancel">취소</button>
            </li>
            <li class="bt-pro-red pos-right">
                <button id="initialConfirm">확인</button>
            </li>
        </ul>
    </div>
    <div class="popup-blind"></div>
</div>