<div class="popup product-popup" role="dialog" aria-hidden="false">
    <div class="popup-info" role="alertdialog" aria-labelledby="alertHeading" aria-describedby="alertText">
        <div class="popup-header">
            <h5 class="popup-title sub" id="alertHeading">조건에 맞는 요금제가 없습니다. <br> 조건을 다시 선택해 주세요.</h5>
        </div>
        <ul class="bt-bottom">
            <li class="bt-pro-red pos-right">
                <button id="initialCancel">확인</button>
            </li>
        </ul>
    </div>
    <div class="popup-blind"></div>
</div>