<div class="popup-page filter-wrap">
            <!-- .container-wrap -->
    <div class="container-wrap"><!-- 스크롤시 .active 추가 -->
        <div class="page-header">
            <div class="header-title">
                <p class="h-tit">고객님,<br class="s-hide"> 어떤 요금제를 찾고<br class="s-hide"> 계신가요?</p>
                <p class="h-sub s-hide">여러 개 선택 가능</p>
            </div>
        </div>

        <div class="tod-renewal-product-tab">
            <div class="rn-prod-inner">
                <ul>
                    <li><a class="quickFilterBtn" data-code="A001">#데이터 완전무제한</a></li>
                    <li><a class="quickFilterBtn" data-code="A002">#가입 즉시 T멤버십 VIP</a></li>
                    <li><a class="quickFilterBtn" data-code="A003">#무제한 음악 스트리밍 무료 이용</a></li>
                </ul>
            </div>
        </div>
        <div class="widget">
            <div class="widget-box accordion">
                <div class="acco-cover toggle">
                    <div class="acco-style">
                        <ul class="acco-list plan-list">
                            <li class="acco-box">
                                <div class="acco-tit">
                                    <button class="list-box" aria-pressed="false">
                                        <span class="point">어떤 분</span>이 요금제를<br>이용하실 예정인가요?
                                    </button>
                                </div>
                                <div class="acco-cont check-box">
                                    <ul>
                                        <li><!-- 체크 되었을 경우 .on 추가 해제일 경우 .on 제거-->
                                            <a role="checkbox" aria-checked="false" data-filter="F01161" data-filtername="일반">
                                                <span class="txt">일반 성인이 이용해요.</span>
                                                <span class="limit">나이제한 없음</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01162" data-filtername="청소년/어린이">
                                                <span class="txt">어린이&middot;청소년이 이용해요.</span>
                                                <span class="limit">24세 미만</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01163" data-filtername="실버">
                                                <span class="txt">부모님&middot;어르신이 이용해요.</span>
                                                <span class="limit">65세 이상</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01164" data-filtername="복지">
                                                <span class="txt">SKT 장애인 복지할인 등록자가 이용해요.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="acco-box">
                                <div class="acco-tit">
                                    <button class="list-box" aria-pressed="false">
                                        평소에 <span class="point">데이터</span>를<br>어느 정도 사용하시나요?
                                    </button>
                                </div>
                                <div class="acco-cont check-box">
                                    <ul>
                                        <li><!-- 체크 되었을 경우 .on 추가 해제일 경우 .on 제거-->
                                            <a role="checkbox" aria-checked="false" data-filter="F01134" data-filtername="8GB~무제한">
                                                <span class="txt">데이터를 많이 사용하는 편이에요.</span>
                                                <span class="limit">8GB ~</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01133" data-filtername="5~8GB">
                                                <span class="txt">가끔 인터넷으로 동영상을 봐요.</span>
                                                <span class="limit">5~8GB</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01132" data-filtername="2~5GB">
                                                <span class="txt">종종 웹 서핑을 해요.</span>
                                                <span class="limit">2~5GB</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01131" data-filtername="~2GB">
                                                <span class="txt">데이터를 거의 사용하지 않아요.</span>
                                                <span class="limit">~2GB</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="acco-box">
                                <div class="acco-tit">
                                    <button class="list-box" aria-pressed="false">
                                        <span class="point">월 기본요금</span>은 얼마가<br> 적당하다고 생각하시나요?

                                    </button>
                                </div>
                                <div class="acco-cont check-box">
                                    <ul>
                                        <li><!-- 체크 되었을 경우 .on 추가 해제일 경우 .on 제거-->
                                            <a role="checkbox" aria-checked="false" data-filter="F01143" data-filtername="6만원대~">
                                                <span class="txt">6만 원대 이상도 괜찮아요.</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01142" data-filtername="4~5만원대">
                                                <span class="txt">4~5만 원대가 적당해요.</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01141" data-filtername="~3만원대">
                                                <span class="txt">3만원대 이하를 원해요.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="acco-box">
                                <div class="acco-tit">
                                    <button class="list-box" aria-pressed="false">
                                        <span class="point">음성통화</span> 무제한 이용을<br>원하시나요?
                                    </button>
                                </div>
                                <div class="acco-cont check-box">
                                    <ul>
                                        <li><!-- 체크 되었을 경우 .on 추가 해제일 경우 .on 제거-->
                                            <a role="checkbox" aria-checked="false" data-filter="F01151" data-filtername="T끼리 무제한">
                                                <span class="txt">SK텔레콤 고객 간 무제한 음성통화를 원해요.</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="checkbox" aria-checked="false" data-filter="F01152" data-filtername="집, 이동전화 무제한">
                                                <span class="txt">통신사 상관없이 무제한 음성통화를 원해요.</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// .container-wrap -->

    <!--.confirm-wrap -->
    <div class="confirm-wrap on"><!-- 선택지에 선택된경우 .on 추가 -->
        <div class="c-wrap">
            <div class="tod-nmp-fixed-filter">
                <div class="tod-filter-keyword">
                    <ul id="selectFilter">
                    </ul>
                </div>
            </div>
            <div class="reset-wrap">
                <button class="reset" tabindex="0">선택 초기화</button>
                <button class="confrim" tabindex="0">요금제 확인</button>
            </div>
        </div>
    </div>
    <!--//.confirm-wrap -->

            <!-- .popup-closeBtn -->
    <button class="prev-step">취소</button>
            <!--// .popup-closeBtn -->
</div>
