<div class="popup-page nobg tw-popup fixed-btn fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>T 로밍 사용 불가 요금제</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <!-- .cont-box -->
            <div class="cont-box">
                <h3 class="complete-title pt20 mt0">
                    <img src="/img/ico/ico-login-fail.png" alt=""/>
                    <span class="f-size">고객님께서 사용하시는 요금제는<br><strong>T 로밍이 불가한 요금제입니다.</strong></span>
                </h3>

                <p class="complete-error-tx pt20">
                    <span class="tx2">로밍 서비스를 이용하시려면 요금제를 변경하셔야 합니다. 요금제 변경은 T world 사이트에서 가능합니다.</span>
                </p>

                <ul class="bt-slice pt40">
                    <li class="bt-white2">
                        <button>요금제 변경하기</button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <div class="announcement-box">
                    <div class="announcement-bullet type01">선불이동전화(PPS)와 ting 요금제, 아이니 요금제 등의 상한요금제를 사용하시는 고객은 자동로밍 서비스 이용이 불가합니다.</div>
                    <div class="announcement-bullet type01">미성년자 가입고객의 요금제 변경은 가까운 대리점 방문 또는 SK텔레콤 고객센터 114(무료)로 연락하시길 바랍니다.</div>
                </div>
            </div>
            <!--// .cont-box -->

            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button>확인</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>




