<div class="popup-page nobg tw-popup fixed-bottom">
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <!-- .cont-box -->
            <div class="cont-box">
                <h3 class="complete-title pt20 mt0">
                    <img src="{{cdn}}/img/ico/ico-login-fail-01.png" alt=""/>
                    <span class="f-size"><strong>러시아 3G 커버리지 제한 안내</strong></span>
                </h3>

                <p class="complete-error-tx pt20">
                    <span class="tx2">고객님께서는 러시아 3G 자동로밍을 이용하실 수 있으나, 이용 가능지역이 제한적이므로 출국 전 고객센터 또는 로밍센터에 사전 문의해 주세요</span>
                </p>

                <ul class="bt-slice pt40">
                    <li class="bt-white2">
                        <button class="fe-rm-center">로밍센터 안내</button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <div class="announcement-box">
                    <div class="announcement-bullet type01">T 로밍 고객센터(153-112 무료)로 문의하시면 자세한 안내를 받으실 수 있습니다.</div>
                </div>
            </div>
            <!--// .cont-box -->

        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button>확인</button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .container-wrap -->
</div>