<div class="popup-page tw-popup  fixed-bottom h60">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>혜택안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true">
            <!-- .cont-box -->
            <div class="cont-box noborder">
                <!-- offering -->
                <div class="tod-offer-wrap tc">
                    <div class="offer-ico-img mb20 pt50">
                        <span class="ico-img"><img src="{{cdn}}/img/ico/ico-comp-apl.png" alt=""></span>
                    </div>
                    <p class="offer-tit">
                        감사합니다.
                    </p>
                    <p class="offer-txt-2 mt20">
                        OK캐시백은 다음 달 10일날 일괄 지급됩니다. <br>
                        <span class="tod-txcolor4">(중도 해지 시, 지급 되지 않습니다)</span>
                    </p>
                </div>
                <!-- //offering -->
            </div>
            <!-- //.cont-box -->
        </div>

        <!-- 하단 fixed 버튼 -->
        <div class="bt-fixed-area tod-offer-bt-area">
            <button type="button" class="btn-floating btn-style2 fe-btn_success_close">닫기</button>
        </div>
        <!-- //하단 fixed 버튼 -->
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>