<div class="popup tw-popup">
    <div class="popup-page  {{isDoubleTitle}}"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>{{{title}}}</h1>
                </div>
                <!-- .popup-closeBtn -->
                <button class="tw-popup-closeBtn popup-closeBtn prev-step fe-common-back">취소</button>
                <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div id="contents" class="idpt-container container-wrap">
            <h2 class="blind">내용</h2>
            <div class="idpt-popup-cont">

                <!-- .cont-box -->
                <div class="cont-box noborder nogaps bgnone">
                   {{{contents}}}
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
