<!--
* FileName: myt.benefit.membership.detail.free.html
* Author: 양정규 (skt.P130715@partner.sk.com)
* Date: 2018.08.17
-->
<!-- #header -->
<div id="header" class="header-wrap">
    <div class="header">
        <div class="header-ti align-l">
            <h1>데이터 Free</h1>
        </div>
        <button class="prev-step fe-common-back"><span class="blind">이전으로</span></button>
    </div>
</div>
<!--// #header -->
<!-- #contents -->
<div id="contents" class="container-wrap">
    <h2 class="blind">내용</h2>
    <div class="container">
        <div class="cont-box">
            <div class="inner-block">
                <h2 class="title-h2">나의 멤버십 혜택</h2>
                <div class="exp-top">
                    <span class="tx-exp">T멤버십 고객은 <span class="tx-bold">Free Zone 전용 앱으로</span><br />데이터 이용 시 <span class="tx-bold">데이터 이용료 0원</span></span>
                </div>
                <div class="contents-btn">
                    <ul class="bt-slice">
                        <li class="bt-blue1">
                            <button>데이터 Free App 확인</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="inner-block">
                <h2 class="title-h2">데이터 Free 앱으로 데이터 사용료<br />걱정 없이 마음껏 사용하세요!</h2>
                <div class="benefit-img"><img src="/img/dummy/dmy-circuit04.png" alt=""/></div>
                <div class="exp-list mt20">
                    <ul>
                        <li>
                            <span class="title">T membership</span>
                            <ul class="dash-list">
                                <li>온라인 : PC 웹브라우저에서 접속</li>
                                <li>안드로이드 : T store에서 [T멤버십]을 검색</li>
                                <li>아이폰(iOS) : App store에서 [T멤버십]을 검색</li>
                                <li>T membership &gt; 데이터 프리존 &gt; 데이터 Free</li>
                            </ul>
                        </li>
                        <li>
                            <span class="title">데이터 Free Zone 전용 앱 (안드로이드 전용)</span>
                            <ul class="dash-list">
                                <li>안드로이드 : T store에서 [데이터 프리존]을 검색</li>
                                <li>데이터 Free Zone 전용 앱을 통해 보다 편리하게 데이터 Free앱과 다양한 이벤트를 만나세요!</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--// #contents -->