<%#
* FileName: product.line.component.html
* Author: Ji Hun Yang (jihun202@sk.com)
* Date: 2018.11.21
%>

<script id="fe-templ-line_item" type="text/x-handlebars-template">
    <li class="list-box" data-num="{{number}}">
        <p class="list-text">
            <span class="mtext">{{numMask}}</span>
        </p>
        <div class="list-btn">
            <div class="bt-alone">
                <button class="fe-btn_del_num bt-line-gray1">삭제</button>
            </div>
        </div>
    </li>
</script>