<%#
* @file myt-fare.submain.micro-payment.html
* @author Kim InHwan (skt.p132150@partner.sk.com)
* @since 2018.09.27
%>

<hr class="cont-sp type1" aria-hidden="true"/>
<!-- .cont-box -->
<% var itemTwo = data.isMicroPrepay && data.isContentPrepay; %>
<div class="cont-box noborder">
    <ul class="bt-slice <%= itemTwo? 'item-two':'' %>">
        <% if (data.isMicroPrepay) { %>
        <li class="bt-blue1">
            <button data-id="micro-bill">소액결제</button>
        </li>
        <% } %>
        <% if (data.isContentPrepay) { %>
        <li class="bt-blue1">
            <button data-id="content-bill">콘텐츠 이용요금</button>
        </li>
        <% } %>
    </ul>
</div>
<!-- //.cont-box -->