<%#
* FileName: customer.notice.html
* Author: 양지훈 (jihun202@sk.com)
* Date: 2018.07.23
%>
<% include ../components/start.component.html %>
<div class="wrap" data-category="<%= category %>">
    <%- include('../../../../common/views/components/header.component.html', { title: '공지사항', svcInfo: svcInfo }) %>
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <button class="bt-dropdown big fe-btn_category" title="카테고리 설정" aria-haspopup="true"><%= categoryLabel %><span class="ico"></span></button>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true" />
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <!-- .accordion -->
                <div class="widget">
                    <div class="widget-box accordion2">
                        <div class="acco-style acco-notice"><!-- 스타일별 클래스 추가 -->
                            <ul class="acco-box fe-list">
                                <% for (var i in data.list) { %>
                                <li class="acco-list">
                                    <div class="acco-title <%= data.list[i].itemClass %>">
                                        <button role="button" aria-pressed="false" data-sernum="<%= data.list[i].serNum %>">
                                            <span class="acco-notice-tit"><%= data.list[i].title %></span>
                                            <% if (data.list[i].type) { %>
                                            <span class="acco-notice-type"><%= data.list[i].type %></span>
                                            <% } %>
                                            <span class="acco-notice-date"><%= data.list[i].date %></span>
                                        </button>
                                    </div>
                                    <div class="acco-content"><%- data.list[i].content %></div>
                                </li>
                                <% } %>
                            </ul>
                            <% if (data.remain > 0) { %>
                            <button class="acco-notice-more fe-btn_more_list" >더보기<span>(<%= data.remain %>)</span></button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!--// .accordion -->
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }) %>
</div>
<% include ../components/javascript.component.html %>
<script type="text/template" id="tpl_notice_list_item">
    {{#list}}
    <li class="acco-list">
        <div class="acco-title {{itemClass}}">
            <button role="button" aria-pressed="false">
                <span class="acco-notice-tit">{{title}}</span>
                {{#if type}}
                <span class="acco-notice-type">{{type}}</span>
                {{/if}}
                <span class="acco-notice-date">{{date}}</span>
            </button>
        </div>
        <div class="acco-content">{{{content}}}</div>
    </li>
    {{/list}}
</script>
<script>
  $(document).ready(function () {
    var comp = new Tw.CustomerNotice($('.wrap'));
  });
</script>
<% include ../components/end.component.html %>