<%#
* @file myt-data.5g-setting.history.html
* @author anklebreaker
* @since 2019-04-15
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../common/views/components/header.component.html', { title: 'T 5G 시간 이용내역', svcInfo: svcInfo }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">
            <div class="cont-box nogaps">
                <div class="ti-caption-blue">
                    <div class="num">
                        총 <em><%= historyInfo.totalCount %></em>건
                    </div>
                    <button class="bt-select" title="월별 선택" aria-haspopup="true"><%= historyInfo.searchDateList.find((item)=>item.value===historyInfo.brwsDt).text %></button>
                </div>
            </div>

            <!-- .cont-box -->
            <div class="cont-box og-my-wrap">
                <div class="og-mydata-result"><!-- 이용내역 없을 경우 class="og-nodata" 추가 -->
                    <p>총 이용시간 <span class="og-time">
                        <% if(historyInfo.totUseTime.hours > 0) { %><span class=""><%= historyInfo.totUseTime.hours %></span>시간<% } %>
                        <% if(historyInfo.totUseTime.min > 0 || historyInfo.totUseTime.hours === 0) { %><span class=""><%= historyInfo.totUseTime.min %></span>분<% } %>
                    </span></p>
                    <p>총 차감 데이터 <span class="og-data"><span class=""><%= historyInfo.totConvtdData %></span></span></p>
                </div>

                <% if(historyInfo.totalCount === 0) { %>
                <!-- 조회기간에 내역이 없을 경우 -->
                <div class="result-none">T 5G 시간 이용내역이 없습니다.</div>
                <!-- //조회기간에 내역이 없을 경우 -->
                <% } else { %>
                <!-- 조회 내역 있을 경우 -->
                <div class="og-timeline">
                    <% for(const item of historyInfo.conversionHist) { %>
                    <div class="widget og-timeline-div">
                        <div class="widget-box accordion2">
                            <strong class="og-timeline-date"><span class="og-mon"><%= item.monthShortName %></span> <span class="og-day"><%= item.day %></span></strong>
                            <div class="acco-style og-timeline-list"><!-- 스타일별 클래스 추가 -->
                                <ul class="acco-box">
                                    <% item.histList.forEach(function(histItem) { %>
                                    <li class="acco-list"><!-- on , off -->
                                        <div class="acco-title">
                                            <span class="og-time"><%= histItem.startTime %> ~ <%= histItem.endTime %></span>
                                            <span class="og-data"><span><%= histItem.cnvtdData %></span> <% if(histItem.rtndData) { %><span class="og-data-return">- <%= histItem.rtndData %></span><% } %></span>
                                            <button role="button" aria-pressed="false">상세보기</button>
                                        </div>
                                        <div class="acco-content">
                                            <div class="acco-content-innr">
                                                <div class="og-txt-list">
                                                    <p><span>이용방법</span> <span class="og-txt-r">무제한 5G (<%= histItem.rsvYn %>이용)</span></p>
                                                    <p><span>이용시간</span> <span class="og-txt-r"><%= histItem.startTime %> ~ <%= histItem.endTime %></span></p>
                                                    <p><span>차감 데이터</span> <span class="og-txt-r"><%= histItem.cnvtdData %></span></p>
                                                    <% if(histItem.rtndData) { %><p><span>반환 데이터</span> <span class="og-txt-r og-data-return"><%= histItem.rtndData %></span></p><% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <!--<div class="btn-more">
                    <button type="button">더보기</button>
                </div>-->
                <!-- //조회 내역 있을 경우 -->
                <% } %>
            </div>
            <!-- //.cont-box -->
        </div>
    </div>
    <!--// #contents -->
</div>

<% include ../../components/javascript.component.html %>
<script type="text/javascript">
  $(document).ready(function () {
    new Tw.MyTData5gSettingHistory($('.wrap'), '<%- escape(JSON.stringify(historyInfo)) %>');
  });
</script>
<% include ../../components/end.component.html %>
