<%#
* @file myt-data.5g-setting.main.html
* @author 양정규 (skt.P130715@partner.sk.com)
* @since 2019.09.10
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<% var { svcInfo, pageInfo, pageType } = renderCommonInfo;%>
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../common/views/components/header.component.html', { title: '데이터 시간권 설정', svcInfo: svcInfo }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <!-- 190909 [OP002-3626] 수정_02 -->
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <% include ../../components/5g-setting/myt-data.5g-setting.pm.html %>
            <div class="5gx-contents">
                <%
                    const pages = {
                        'IN_USE':       '../../components/5g-setting/myt-data.5g-setting.inuse.html',     // 이용중
                        'UN_USE':       '../../components/5g-setting/myt-data.5g-setting.set.html',       // 미이용
                        'BOOST_PARK':   '../../components/5g-setting/myt-data.5g-setting.boostpark.html'  // 부스트 파크
                    };
                %>
                <%- include(pages[pageType], renderCommonInfo); %>
            </div>
            <% include ../../components/5g-setting/myt-data.5g-setting.common.html %>
        </div>
        <!-- //190909 [OP002-3626] 수정_02 -->
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
<% include ../../components/javascript.component.html %>
<script type="text/javascript">
  $(document).ready(function () {
    new Tw.MyTData5gSetting({
      rootEl: $('.wrap'),
      data: '<%- escape(JSON.stringify(renderCommonInfo)) %>'
    });
  });
</script>
<% include ../../components/end.component.html %>
