<%#
* FileName: benefit.membership.join.html
* Author: 김인환 (skt.p132150@partner.sk.com)
* Date: 2018.10.25
%>


<hr class="cont-sp type1" aria-hidden="true">

<!-- .cont-box -->
<div class="cont-box">
    <h3>명의자</h3>
    <div class="mt10">
        <button class="bt-dropdown big" title="명의자 선택" aria-haspopup="true"><span class="ico"></span></button>
    </div>
    <h3 class="mt20">메일 주소</h3>
    <span class="inputbox mt10">
        <span class="input">
            <input type="text" value="tmember@gmail.com"
                   title="input" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"/>
            <button class="cancel"><span class="blind">삭제</span></button>
        </span>
    </span>
</div>
