<%#
* FileName: benefit.membership.join-feature.html
* Author: 김인환 (skt.p132150@partner.sk.com)
* Date: 2018.10.25
%>

<hr class="cont-sp type1" aria-hidden="true">

<!-- .cont-box -->
<div class="cont-box">
    <h3>카드 수령 우편 주소 (필수)</h3>
    <div class="mt14">
        <span class="inputbox bt-add">
            <span class="input">
                <input type="text" data-id="zip-code-input" class="fe-zip" title="우편번호" value=""/>
                <button class="cancel">
                    <span class="blind">삭제</span>
                </button>
            </span>
            <span class="bt-box">
                <button type="button" data-id="zip-code">우편번호 검색</button>
            </span>
        </span>
        <span class="inputbox mt10">
            <span class="input">
                <input type="text" class="fe-main-address" data-id="zip-code-input-detail1" title="메인 주소" value=""
                       aria-labelledby="aria-citation-phone"/>
                <button class="cancel">
                    <span class="blind">삭제</span>
                </button>
            </span>
        </span>
        <span class="inputbox mt10">
            <span class="input">
                <input type="text" class="fe-detail-address" data-id="zip-code-input-detail2" title="상세 주소" value=""
                       aria-labelledby="aria-citation-phone"/>
                <button class="cancel">
                    <span class="blind">삭제</span>
                </button>
            </span>
        </span>
    </div>
</div>