<%#
* @file common.search.result.html
* @author Hyunkuk Lee (max5500@pineone.com)
* @since 2018.12.11
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- body -->

<!-- #skip_navigation 팝업페이지 바로가기 삭제 Grand open 접근성
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    // #skip_navigation -->
<div class="wrap">
    <div class="searchbox-header" aria-hidden="false">
        <!-- 191001 [OP002-4009] 수정01 -->
        <div class="sch-form tod-sch-form">
            <!--
            <form action="#" role="search" id="frm" defaultbutton="search_input">
                <div class="searchbox-close"><button class="close-area"><span class="tod-blind">취소</span></button></div>
                <span class="inputbox">
                    <span class="input">
                        <input type="search" class="fe-nofocus-move" name="keyword" id="search_input" placeholder="원하는 업무나 상품을 찾아보세요" title="검색어 입력" >
                        <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                        <input type="text" style="display: none;" />
                    </span>
                </span>
                <button class="icon-gnb-search"><span class="blind">검색</span></button>
            </form>
            -->

            <form action="#" role="search" id="frm" onsubmit="return false;">
                <div class="searchbox-close"><button type="button" class="close-area"><span class="tod-blind">이전</span></button></div>
                <span class="inputbox">
                    <span class="input">
                        <input type="search" class="fe-nofocus-move" name="keyword" id="search_input" placeholder="원하는 업무나 상품을 찾아보세요" title="검색어 입력" >
                        <button class="cancel" type="button" style="display: none;"><span class="blind">삭제</span></button>
                        <!-- <input style="visibility: hidden; width: 0px"> -->
                        <input type="text" style="display: none;" />
                    </span>
                </span>
                <button class="icon-gnb-search"><span class="blind">검색</span></button>
            </form>
        </div>
        <!-- //191001 [OP002-4009] 수정01 -->
    </div>
<!-- 자동완성 폼 -->

<!--  최근검색어 -->
    <div id="contents" class="container-wrap">
        <div class="search-content">

            <!-- 191001 [OP002-4009] 추가01 -->
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps-hoz">
                <!-- 191105 [OP002-4966] 수정01 -->
                <div class="tod-rec-search-box">
                    <dl class="rec-search">
                        <dt class="rec-item"><span class="tod-blind">추천검색</span></dt>
                        <input type="hidden" id="fe-rec-keyword" value="<%= recommendKeyword.code==='00'?recommendKeyword.result.keywordNm:'' %>">
                        <dd class="rec-word" data-xt_eid="CMMA_A11_B4-51" data-xt_csid="NO" data-xt_action="BC">
                            <button><%= recommendKeyword.code==='00'&&recommendKeyword.result.keywordDs?recommendKeyword.result.keywordDs:'검색어를 입력하세요.' %></button>
                        </dd>
                    </dl>
                </div>
                <!-- //191105 [OP002-4966] 수정01 -->
            </div>
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box">
                <p class="tod-search-tit">어떤 업무를 찾고 계신가요?</p>
                <div class="tod-search-task-box">
                    <ul class="search-task-list">
                    </ul>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true">
            <!-- //191001 [OP002-4009] 추가01 -->

            <!-- 191001 [OP002-4009] 수정02 -->
            <div class="cont-box nogaps-btm">
                <div class="rec-list">
                    <p class="tod-search-tit">인기 검색어</p>
                    <div class="tod-popularword-wrap"> <!-- show toggle -->
                        <ul class="popularsearchword-list linklist-type tod-popularsearchword-list">
                        <% if(popularKeyword.result&&popularKeyword.result.Query){ %>
                            <% for(var i=0; i < popularKeyword.result.Query.length; i++){ %>
                            <li id="fe-popularword-list-content" class="fe-popularword-list-content" data-index="<%=i+1%>">
                                <a href="/common/search?step=<%= step+1 %>&keyword=<%= encodeURIComponent(popularKeyword.result.Query[i].content) %>" data-xt_eid="CMMA_A11_B4-<%= i+1 %>" data-xt_csid="NO"  data-xt_action="BC" data-param="<%= popularKeyword.result.Query[i].content %>" class="category-type search-element xtractor">
                                    <strong class="number"><%= i+1 %></strong>
                                    <span class="text"><%= popularKeyword.result.Query[i].content %></span>
                                </a>
                            </li>
                            <% } %>
                        <% } %>
                        </ul>
                    </div>

                    <div class="btn-more">
                        <button id="fe-btn-more" data-xt_eid="CMMA_A11_B4-52" data-xt_csid="NO" data-xt_action="BC">
                            <!-- tod-pop-btn에 hide toggle -->
                            <span class="tod-pop-btn" >
                                <span class="tod-txcolor6" >6위 ~ 10위</span> 더 보기
                            </span>
                        </button>

                        <button id="fe-btn-fold" style="display: none" data-xt_eid="CMMA_A11_B4-53" data-xt_csid="NO" data-xt_action="BC">
                            <!-- tod-pop-btn에 hide toggle -->
                            <span class="tod-pop-btn fold" >
                                접기
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- //191001 [OP002-4009] 수정02 -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- 200710 [OP002-8565] o2o 고도화 관련 작업 : 추가 -->
            <!-- 방문 상담 예약하기 -->
            <div class="cont-box">
                <div class="tod-o2o-bnr">
                    <div class="inner">
                        <span class="ico"></span>
                        <div class="txt">
                            고객 맞춤 서비스!!<br>
                            <strong>가까운 매장을 찾아보세요</strong>
                        </div>
                        <a class="btn-round2 btn-style3" href="/customer/agentsearch">방문 상담 예약하기</a>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- //방문 상담 예약하기 -->
            <!-- //200710 [OP002-8565] o2o 고도화 관련 작업 : 추가 -->

            <% if(doLikeThis) { %>
            <!-- 191001 [OP002-4009] 수정03 -->
            <div class="cont-box nogaps">
                <div class="tod-search-bann-wrap">
                    <p class="tod-search-tit slide-tit">이럴 땐 이렇게 하세요</p>
                    <div class="tod-search-bann-box section-swiper-box tod-bann-auto">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box slider1" data-slider-auto="<%- doLikeThis[0][0].rollYn == 'Y'?'true':'false' %>"> <!-- Slide Auto 기능 클래스에서 attr로 변경   -->
                                <div class="slider-box">
                                    <ul class="slider">
                                        <%
                                            var idx = 42;
                                            for( var i = 0; i < doLikeThis.length; i++ ) {
                                        %>
                                        <li>
                                            <ul class="help-list">
                                            <%  for( var j = 0; j < doLikeThis[i].length; j++ ) { %>
                                                <li>
                                                    <!-- NO1.웹접근성 추가 -->
                                                    <a role="link" data-url="/customer/faq/do-like-this?id=<%= doLikeThis[i][j].icntsId %>" class="bt fe-btn-doLikeThis" data-xt_eid="CMMA_A11_B4-<%= idx %>" data-xt_csid="NO" data-xt_action="BC">
                                                        <span class="ico"><img src="<%= CDN %><%= doLikeThis[i][j].mainExpsImgPathNm %>" alt=""></span>
                                                        <%- doLikeThis[i][j].mainExpsTitNm %>
                                                    </a>
                                                </li>
                                            <%
                                                    idx++;
                                                }
                                            %>
                                            </ul>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!-- 191001 [OP002-4009] 삭제02 -->
            </div>
            <!-- //191001 [OP002-4009] 수정03 -->
            <% } %>
        </div>
    </div>
</div>
<script type="text/x-handlebars-template" id="auto_complete_template">
    <li>
        <a href="/common/search?step=<%= Number(step)+1 %>&keyword={{encodeParam}}" data-xt_eid="CMMA_A11_B4-2{{xtractorIndex}}" data-xt_csid="NO" data-xt_action="BC" data-param="{{listData.linkStr}}" class="category-type search-element xtractor">
            <p class="text">{{{listData.showStr}}}</p>
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="recently_keyword_template">
    <li>
        <a href="/common/search?step=<%= Number(step)+1 %>&keyword={{encodeParam}}"  data-xt_eid="CMMA_A11_B4-1{{xtractorIndex}}" data-xt_csid="NO" data-xt_action="BC" class="searchword-text search-element xtractor">
            {{listData.keyword}}
        </a>
        <div class="date">
            <span class="str">{{listData.searchTime}}</span>
            <button class="del remove-recently-list" data-index="{{index}}">삭제</button>
        </div>
    </li>
</script>
<% include ../../components/javascript.component.html %>
<% var fullUrl = locals.pageInfo ? locals.pageInfo.fullUrl : ''; %>
<script defer type="text/javascript">
  var fullUrl = '<%= fullUrl %>';
  var isLoadedScript = false;
  if (fullUrl.indexOf('app.tworld') > -1 || fullUrl.indexOf('m.tworld') > -1) {
    isLoadedScript = true;
  }
  if ( isLoadedScript ) {
    window.addEventListener('load', function () {
      (function (w, d, a) {
        w.__baclient__ = {
          load: function (src) {
            var b = d.createElement('script');
            b.src = src;
            b.async = true;
            b.type = 'text/javascript';
            d.getElementsByTagName('head')[0].appendChild(b);
          }
        };
        w.__baclient__.load(a);
      })(window, document, '//sktba.beusable.net/script/ba/7396cc2bb5');
    }, false);
  }
</script>
<script>
    $(document).ready(function () {

        new Tw.CommonSearchMain($('.wrap'),'<%- CDN %>','<%- step %>');

    });
</script>
<% include ../../components/end.component.html %>
