<%#
* FileName: customer.preventdamage.relatesite.html
* Author: 양지훈 (jihun202@sk.com)
* Date: 2018.07.23
%>
<% include ../../components/start.component.html %>
<div class="wrap">
    <%- include('../../../../common/views/components/header.component.html', { title: '이용자 피해예방 관련 사이트', svcInfo: svcInfo }) %>
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <div class="contents-info-list">
                    <p class="ti-desc mb0">상담/신고기관</p>
                </div>

                <div class="link-group-box">
                    <ul class="link-group-list thin">
                        <% for (var i in outlinkReport) { %>
                        <li>
                            <a class="link-group-btn fe-outlink" href="<%= outlinkReport[i].LINK %>" target="_blank"><%= outlinkReport[i].TEXT %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <div class="contents-info-list">
                    <p class="ti-desc mb0">관련기관</p>
                </div>

                <div class="link-group-box">
                    <ul class="link-group-list thin">
                        <% for (var i in outlinkRelate) { %>
                        <li>
                            <a class="link-group-btn fe-outlink" href="<%= outlinkRelate[i].LINK %>" target="_blank"><%= outlinkRelate[i].TEXT %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="mark-acquisition">
                    <span class="icon"></span>
                    <span class="txt">PIMS 개인정보 보호 관리체계 인증마크 획득</span>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }) %>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.CustomerPreventdamageRelatesite($('.wrap'));
  });
</script>
<% include ../../components/end.component.html %>