<!-- .cont-box -->
<div class="cont-box nogaps-hoz">
    <div class="link-group-box">
        <ul class="link-group-list thin">
            <li>
                <button class="link-group-btn">이메일을 통한 피싱주의</button>
            </li>
            <li>
                <button class="link-group-btn">안전결제를 사칭한 피싱 사이트 주의</button>
            </li>
            <li>
                <button class="link-group-btn">문자 메시지를 통한 악성 앱 설치 유도 주의</button>
            </li>
            <li>
                <button class="link-group-btn">안전한 공유기 사용</button>
            </li>
            <li>
                <button class="link-group-btn">로그인 피싱</button>
            </li>
            <li>
                <button class="link-group-btn">공유 와이파이 주의사항</button>
            </li>
            <li>
                <button class="link-group-btn">고용 컴퓨터 사용시 주의사항</button>
            </li>
            <li>
                <button class="link-group-btn">안전한 공인인증서 보관 방법</button>
            </li>
            <li>
                <button class="link-group-btn">파일 다운로드 시 주의사항</button>
            </li>
            <li>
                <button class="link-group-btn">안전한 PC 사용을 위한 SW 업데이트의 중요성</button>
            </li>
            <li>
                <button class="link-group-btn">랜섬웨어 감염에 주의하세요</button>
            </li>
        </ul>
    </div>
</div>
<!--// .cont-box -->