<%#
* FileName: customer.preventdamage.usefulservice.html
* Author: 양지훈 (jihun202@sk.com)
* Date: 2018.07.23
%>
<% include ../components/start.component.html %>
<div class="container">
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }) %>
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.CustomerPreventdamageUsefulservice($('.container'));
  });
</script>
<% include ../components/end.component.html %>