<%#
* @file product.sel-contract.input.html
* @author 김인환 (skt.p132150@partner.sk.com)
* @since 2018.10.22
%>

<%- include('../../components/start.component.html', { pageInfo: data.pageInfo }); %>

<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>

<!--// #skip_navigation -->
<div class="wrap step" data-menuId="<%= data.pageInfo.menuId || 'M000548' %>">
    <div class="popup-page tw-popup nobg fixed-bottom h60 txt-screed">
        <!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '가입', type: 'popup', svcInfo: data.svcInfo, pageInfo: data.pageInfo }); %>
        <!--// #header -->

        <!-- .container-wrap -->
        <div class="container-wrap"  data-id="sel-ct-container">
            <h2 class="blind">내용</h2>
            <div class="container">
                <div class="cont-box">
                    <div class="box-suggest">
                        <div class="suggest-info">
                            <span class="suggest-sub">가입할 상품의 옵션을 설정하세요.</span>
                            <p class="suggest-tx tx-bold pt4">선택약정할인제도</p>
                        </div>
                    </div>
                </div>
                <div class="product-select-wrap">
                    <span class="data-tit">선택약정 할인기간 설정</span>
                    <span class="data-number"><%= data.svcInfo.svcNumDash %></span>
                </div>
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <!-- .list-comp-input -->
                    <div class="list-comp-input">
                        <div class="widget">
                            <div class="widget-box radio">
                                <ul class="select-list" role="group" data-id="radio-group">
                                    <li class="radiobox type01" role="radio" aria-checked="" data-type="M0012">
                                        <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                        <input type="radio" name="radio" value="" title="값1"
                                               aria-labelledby="aria-comp-radio1"/>
                                        <!-- 체크상태일 경우 checked="checked" -->
                                        <div class="comp-list-layout" id="aria-comp-radio1">
                                            <p class="layout-text">
                                                <span class="mtext">12개월</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="radiobox type01" role="radio" aria-checked="false" data-type="M0024">
                                        <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                        <input type="radio" name="radio" value="" title="값2"
                                               aria-labelledby="aria-comp-radio2"/><!-- 체크상태일 경우 checked="checked" -->
                                        <div class="comp-list-layout" id="aria-comp-radio2">
                                            <p class="layout-text">
                                                <span class="mtext">24개월</span>
                                            </p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--// .list-comp-input -->
                </div>
                <!--// .cont-box -->

                <!--
                    무약정플랜 가입정보 (계정에 따라 해당 사항 있는 경우만 노출 되는 영역)
                    비노출시 class="none" 사용, 노출 시 class="" 또는 class="block" 사용하시면 됩니다.
                -->
                <div class="<%= data.isContractPlan? '' : 'none' %>"> <!--.none 추가 시 비노출 -->
                    <div class="product-select-wrap">
                        <span class="data-tit">무약정플랜 가입 정보</span>
                    </div>
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="charge-guide-wrap">
                            <div class="charge-cont">
                                    <span class="sub-disc01">
                                        <span class="elem">무약정플랜 포인트</span>
                                    </span>
                                <span class="tit"><span class="charge-txt"><%= data.contractPlanPoint %></span>p</span>
                                <p class="comment star_tx">무약정플랜 가입 고객의 경우 선택약정할인제도 가입 시, 포인트로 요금납부 후에 무약정플랜
                                    자동해지됩니다.</p>
                            </div>
                        </div>
                    </div>
                    <!--// .cont-box -->
                </div>
                <!-- //무약정플랜 가입정보 -->


                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box --><!-- 2018-11-02 수정 -->
                <div class="cont-box nogaps-btm">
                    <h3 class="tx-bold">꼭 확인해 주세요</h3>
                    <ul class="noti-list02">
                        <li>
                            <button data-id="refund-info" type="button" class="tip-view-btn" id="BS_02_01_01_02_tip_01">할인반환금 안내<span class="tip-view">TIP</span></button>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->


            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button data-id="btn-ok" disabled>설정 완료</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step fe-common-back">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <% var joinInfoTerm = data.joinInfoTerm; delete data.joinInfoTerm; %>
</div>
<% include ../../components/javascript.component.html %>
</body>
<script>
  // client 작업 중
  var joinInfoTerm = '<%- escape(JSON.stringify(joinInfoTerm)) %>';
  var data = '<%- JSON.stringify(data) %>';
  $(document).ready(function () {
    new Tw.BenefitSelectContract({
      $element: $('[data-id=sel-ct-container]'),
      data: JSON.parse(data),
      joinInfoTerm: JSON.parse(unescape(joinInfoTerm))
    });
  });
</script>
<% include ../../components/end.component.html %>