<%#
* @file product.t-plus.input.html
* @author 김인환 (skt.p132150@partner.sk.com)
* @since 2018.10.22
%>

<%- include('../../components/start.component.html', { pageInfo: data.pageInfo }); %>

<body>
<div class="wrap step" data-menuId="<%= data.pageInfo.menuId || 'M000551' %>">
    <div class="popup-page tw-popup nobg fixed-bottom h60 txt-screed"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <%- include('../components/header.component.html', { title: '설정', type: 'popup', svcInfo: data.svcInfo, pageInfo: data.pageInfo }); %>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container" data-id="plus-container">
            <div class="product-select-wrap border-gray">
                <span class="data-tit">나의 가입상태</span>
                <span class="data-number"><%= data.svcInfo.svcNumDash %></span>
            </div>
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="charge-guide-wrap">
                        <div class="charge-cont">
                                    <span class="sub-disc01">
                                        <span class="elem">T끼리 Plus 할인율</span>
                                    </span>
                            <span class="tit txt-red"><span class="charge-txt"><%= data.percent %></span>%</span>
                            <p class="comment star_tx">장기가입 할인과 플러스 할인을 서로 한 번 변경하신 경우, 한 달 안에 다시 변경하실 수 없습니다.</p>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <div class="separate-link-list nogaps-m-top">
                        <ul class="link-list type2">
                            <li>
                                <div class="txt-area" id="aria-separate-list0">
                                    <span class="tit">T끼리 Plus 할인 적용 예시</span>
                                </div>
                                <button data-id="plus-example" aria-labelledby="aria-separate-list0" class="btn">상세보기</button>
                            </li>
                            <li>
                                <div class="txt-area" id="aria-separate-list1">
                                    <span class="tit">장기가입 할인 확인하기</span>
                                </div>
                                <button data-id="long-discount" aria-labelledby="aria-separate-list1" class="btn">장기가입 할인 확인하기 팝업</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box --><!-- 2018-11-02 수정 -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li>
                        <button class="btn-tip" id="BS_03_02_01_01_tip_01" aria-haspopup="true">서비스 이용안내<i class="icon-badge-tip"><span class="blind">서비스 이용안내 tip</span></i></button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->


        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button data-id="btn-ok">
                        <% if (data.isJoin) { %>
                        확인
                        <% } else { %>
                        가입
                        <% } %>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-common-back">취소</button>
    <!--// .popup-closeBtn -->
    </div>
</div>
<% include ../../components/javascript.component.html %>
</body>
<script>
  // client 작업 중
  var data = '<%- JSON.stringify(data) %>';
  $(document).ready(function () {
    new Tw.BenefitTPlusSales({
      $element: $('[data-id=plus-container]'),
      data: JSON.parse(data)
    })
  });
</script>
<% include ../components/end.component.html %>