<%#
 * FileName: auth.withdrawal.survey.html
 * Author: Hakjoon Sim (hakjoon.sim@sk.com)
 * Date: 2018.07.03
%>

<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>회원 탈퇴</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div id="auth-withdrawal-survey" class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti">그동안 T world를 이용해 주신 <br /><em class="tx-bold">회원님께 감사 드립니다.</em></p>
                        <ul class="suggest-list nodot">
                            <li>다음 설문은 회원님이 탈퇴하시는 이유를 파악하여 보다 <em class="tx-bold">발전된 서비스를 만드는데 활용</em>하고자 합니다.<br />불편하시겠지만 답변해 주시면 감사하겠습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" />

            <div class="cont-box">
                <div class="box-survey">
                    <p class="survey-ti">T world 회원탈퇴를 하시는 이유는 무엇인가요?</p>
                    <div class="widget">
                        <div class="widget-box radio">
                            <div class="survey-radiobox">
                                <ul class="select-list" role="radiogroup">
                                    <li class="radiobox type01 checked" role="radio" aria-checked="true">
                                        <input id="1" type="radio" name="radio1" value="" title="라디오"
                                               checked="checked"/>
                                        아이디를 변경하기 위해서
                                    </li>
                                    <li class="radiobox type01" role="radio" aria-checked="false">
                                        <input id="2" type="radio" name="radio1" value="" title="라디오"/>
                                        SK텔레콤 서비스를 더 이상 이용하지 않아서
                                    </li>
                                    <li class="radiobox type01" role="radio" aria-checked="false">
                                        <input id="3" type="radio" name="radio1" value="" title="라디오"/>
                                        T world 서비스 사용방법이 어려워서
                                    </li>
                                    <li class="radiobox type01" role="radio" aria-checked="false">
                                        <input id="4" type="radio" name="radio1" value="" title="라디오"/>
                                        T world 서비스 가입혜택이 없어서
                                    </li>
                                    <li class="radiobox type01" role="radio" aria-checked="false">
                                        <input id="5" type="radio" name="radio1" value="" title="라디오"/>
                                        장기간 이용할 계획이 없어서
                                    </li>
                                    <li class="radiobox type01" role="radio" aria-checked="false">
                                        <input id="6" type="radio" name="radio1" value="" title="라디오"/>
                                        기타 서비스 개선에 대한 의견을 남겨 주세요.
                                    </li>
                                </ul>
                                <div class="box-txarea">
                                    <textarea class="txt-bg" cols="30" rows="5" title="기타 서비스 개선에 대한 의견" data-target="textSendbox"></textarea>
                                    <span class="byte"><span class="byte-current">0</span> / <span class="byte-total">20</span>자</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="bt-slice">
                        <li class="bt-red1">
                            <button id="withdraw">탈퇴하기</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <!-- footer -->
    <% include ../../../../common/views/components/footer.component.html %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.AuthWithdrawalSurvey($('#auth-withdrawal-survey'));
  });
</script>
<% include ../../components/end.component.html %>