<%#
* @file customer.voice.register.html
* @author Jiman Park (jiman.park@sk.com)
* @since 2018.10.24
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <div class="popup-page tw-popup fixed-bottom">
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '목소리 등록 신청하기', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="tit-desc">
                        <strong>본인 인증 후</strong> 목소리 등록을 위한 <br>안내 문자를 받을 수 있습니다.
                    </div>
                    <div class="termboxs-wrap">
                        <div class="widget">
                            <div class="widget-box check">
                                <div class="infoviewic-wrap">
                                    <ul class="select-list" role="group">
                                        <li class="checkbox type01" role="checkbox" aria-checked="false" id="aria-comp-checkbox1">
                                            <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                            <input type="checkbox" name="checkbox" value="" title="값1" aria-labelledby="aria-comp-checkbox1"
                                                   class="fe-check_voice_term">
                                            <!-- 체크상태일 경우 checked="checked" -->
                                            목소리 인증 개인정보 수집 및 이용동의(필수)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="termboxscroll-wrap type-bordernone">
                            <div class="termboxscroll">
                            <strong>개인정보 수집 / 이용 목적 </strong><br />: 이동전화/본인확인/멤버십/부가/통신과금/제휴/개인맞춤/ 광고/인터넷/전화/결합 등 제반 서비스(이하
                            ’서비스’) 제공, 서비스 또는 서비스 이용 요금 관련 상담/불만처리/혜택/유의사항/편의사항 등 정보 제공, 서비스 이용요금 관련 정산/청구/수납/자동이체/추심 및 이와 관련된 본인 확인 또는 인증<br />
                            <strong>개인정보 수집항목</strong> : 목소리 정보<br />
                            <strong>개인정보 보유 / 이용기간</strong> : 서비스 계약 해지시까지
                            </div>
                        </div>
                    </div>

                    <div class="voicebox-style">
                        <div class="info-form-box">
                            <p class="form-label" id="aria-exp-label2">안내 받으실 휴대폰 번호</p>

                            <% if ( allSvc.m && allSvc.m.length >= 2 ) { %>
                            <button class="bt-dropdown big mt14 fe-select_phone" title="사용자번호" aria-haspopup="true"
                                    data-svcMgmtNum="<%=svcInfo.svcMgmtNum%>"><%-convertTelFormat(svcInfo.svcNum)%><span class="ico"></span>
                            </button>
                            <% } else { %>
                            <div class="inputbox">
                                <div class="input">
                                    <input type="text" class="fe-select_phone" placeholder="회선정보 입력" title="문의하실 회선정보 입력"
                                           data-svcMgmtNum="<%-svcInfo.svcMgmtNum%>"
                                           value="<%-convertTelFormat(svcInfo.svcNum)%>" disabled>
                                </div>
                            </div>
                            <% } %>

                        </div>
                        <p class="information-use-text04">* 목소리 등록 문자는 114번호로 발송되며, 등록 신청은 1일 1회만 가능합니다.</p>
                    </div>
                </div>
                <!--// .cont-box -->

            </div>
            <!-- .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-btn_register" disabled>신청하기</button>
                    </li>
                </ul>
            </div>
            <!-- // .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
        </div>
        <!--// #contents -->
        <!-- .popup-closeBtn -->
        <button class="prev-step fe-common-back">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <% include ../../components/javascript.component.html %>
</div>

<script>
  $(document).ready(function () {
    new Tw.CustomerVoiceRegister($('.wrap'), JSON.parse('<%-JSON.stringify(allSvc)%>'));
    setTimeout(function () {
      $('.termboxscroll').scrollTop(1);
    }, 1000);
  });
</script>
</body>
<% include ../../components/end.component.html %>
