<%#
* @file customer.voice.html
* @author Jiman Park (jiman.park@sk.com)
* @since 2018.10.24
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html',
    { title: '목소리 인증 서비스', svcInfo: svcInfo, option:{ line: false } }); %>
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <div class="cont-box nogaps">
                <div class="poll-info">
                    <h3 class="poll-tit"><strong>고객님의 목소리를 등록하시면,</strong><br>고객센터와 상담 시 목소리만으로 <br>고객님을 확인할 수 있습니다.</h3>
                </div>
                <div class="voicebtn-wrap">
                    <a class="blue-btn" href="/customer/svc-info/voice/info">이용안내</a>
                </div>
            </div>

            <div class="ti-caption-gray">
                <h4 class="tit">목소리 등록 및 이용방법</h4>
            </div>

            <div class="cont-box">
                <h5 class="voice-entitle"><span class="step">step 01</span>목소리 등록 문자를 받습니다.</h5>
                <p class="voice-entext">휴대폰 문자로 본인확인 후, 목소리인증서비스를<br>신청할 수 있습니다.</p>
                <ul class="bt-slice mt20">
                    <li class="bt-blue1">
                        <button class="selected fe-btn_register">목소리 등록 신청하기</button>
                    </li>
                </ul>
                <h5 class="voice-entitle"><span class="step">step 02</span>고객센터에서<br>목소리를 등록합니다.</h5>
                <p class="voice-entext">
                    1. 고객센터(114)연결 후 1번 선택<br>2. <strong>“SK텔레콤 비밀번호는 내 목소리 입니다.”</strong> 3회 등록
                </p>

                <h5 class="voice-entitle"><span class="step">step 03</span>등록이 완료되면 상담 시<br>목소리 인증을<br>이용하실 수 있습니다.</h5>
                <p class="voice-entext">
                    ARS를 이용하시거나 상담을 진행하실 때 <br><strong>“SK텔레콤 비밀번호는 내 목소리 입니다.”</strong>를 말씀해 주세요.
                </p>
            </div>
            <ul class="voice-text02">
                <li>목소리 등록 문자의 유효시간은 12시간입니다. </li>
                <li>유효시간 내에는 새로 문자를 받으실 필요 없습니다.</li>
            </ul>

        </div>
    </div>
    <!--// #contents -->
    <!-- #footer -->
    <footer id="fe-all-menu">
        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </footer>
    <!--// #footer -->
    </div>
</div>
    <% include ../../components/javascript.component.html %>
    <script>
      $(document).ready(function () {
        new Tw.CustomerVoice($('.wrap'));
      });
    </script>
</body>
<% include ../../components/end.component.html %>
