<%#
* @file myt-fare.bill.hotbill.billgroup
* @author P165332
* @since 2020-10
%>
<script id="tmplBillGroup" type="text/x-handlebars-template">
    <div class="widget">
        <div class="widget-box accordion">
            <div class="acco-cover"><!-- toggle : 한개만 열기 -->
                <div class="acco-style charge-list">
                    <ul class="acco-list pt0">
                        {{#each billItems}}
                        <li class="acco-box">
                            <div class="acco-tit">
                                <button role="button" aria-pressed="false">
                                    <span class="phone-num">{{@key}}</span>
                                    {{#if this.discount }}
                                    <span class="fee red" >{{this.total}}</span>
                                    {{else}}
                                    <span class="fee" >{{this.total}}</span>
                                    {{/if}}
                                </button>
                            </div>
                            <div class="acco-cont information-usebox">
                                <div class="bg-gray">
                                    {{#each this}}
                                        {{#isBill @key}}
                                        <div class="comm-charges">
                                            <dl class="bill-cont">
                                                {{#if noVAT}}
                                                <dt>{{@key}} <i class="icon-fnote" role="note" aria-labelledby="aria-footnote-01"><span class="blind">Refer to Footnotes</span></i></dt>
                                                {{else}}
                                                {{#if is3rdParty}}
                                                <dt>{{@key}}</dt>
                                                {{else}}
                                                <dt>{{@key}}</dt>
                                                {{/if}}
                                                {{/if}}

                                                {{#if discount }}
                                                <dd class="red" >{{this.total}}</dd>
                                                {{else}}
                                                <dd>{{this.total}}</dd>
                                                {{/if}}
                                            </dl>
                                            {{#if items.length}}
                                            {{#items}}
                                            <dl class="bill-cont row">
                                                {{#if noVAT}}
                                                <dt>{{name}}<i class="icon-fnote"  role="note" aria-labelledby="aria-footnote-01"><span class="blind">Refer to Footnotes</span></i></dt>
                                                {{else}}
                                                <dt>{{name}}</dt>
                                                {{/if}}

                                                <dd>{{amount}}</dd>
                                            </dl>
                                            {{/items}}
                                            {{/if}}

                                        </div>
                                        {{/isBill}}
                                    {{/each}}

                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</script>