<%#
* @file en.myt-fare.bill.hotbill.billgroup
* @author P165332
* @since  2020.09
%>
<script id="tmplBillGroup" type="text/x-handlebars-template">
{{#if lines}}
    {{#each lines}}
    <div class="cont-box nogaps">    
        <div class="widget">
            <div class="widget-box accordion">
                <div class="acco-cover"><!-- toggle : 한개만 열기 -->
                    <div class="acco-style charge-list">
                        <ul class="acco-list pt0">
                            {{#each this.group}}
                            <li class="acco-box">
                                <div class="acco-tit">
                                    {{#if @first}}
                                        {{#if ../../isTypeRep}}
                                        <dl class="num-list">
                                            {{#if ../isMPhone}}
                                            <dt><img src="<%=CDN%>/img/en/sel-ico-mobile-black.png" alt="cell phone" class="phone-num-ico">{{../name}}</dt>
                                            {{else if ../isTPhone}}
                                            <dt><img src="<%=CDN%>/img/en/icon_48px_phon.png" alt="tel" class="tel-ico">{{../name}}</dt>
                                            {{else if ../isIpTV}}
                                            <dt><img src="<%=CDN%>/img/en/icon_48px_pc.png" alt="tv" class="tv-ico">{{../name}}</dt>
                                            {{else if ../isInternet}}
                                            <dt><img src="<%=CDN%>/img/en/icon_48px_internet.png" alt="internet" class="internet-ico">{{../name}}</dt>
                                            {{else if ../isPocket}}
                                            <dt><img src="<%=CDN%>/img/en/icon_48px_wifi.png" alt="wifi" class="wifi-ico">{{../name}}</dt>
                                            {{else}}
                                            <dt><img src="<%=CDN%>" alt="wifi" class="wifi-ico">{{../name}}</dt>
                                            {{/if}}
                                            <dd>{{../totAmt}}</dd>
                                        </dl>
                                        {{/if}}
                                    {{/if}}

                                    <button role="button" aria-pressed="false">
                                        <span class="phone-num">{{@key}}</span>
                                        {{#if this.discount }}
                                        <span class="fee red" >{{this.total}}</span>
                                        {{else}}
                                        <span class="fee" >{{this.total}}</span>
                                        {{/if}}
                                    </button>
                                </div>
                                
                                <div class="acco-cont information-usebox">
                                    <div class="bg-gray">
                                        
                                        {{#each this}}
                                            {{#isBill @key}}
                                            <div class="comm-charges">
                                                <dl class="bill-cont">
                                                    {{#if noVAT}}
                                                    <dt>{{@key}} <i class="icon-fnote" role="note" aria-labelledby="aria-footnote-01"><span class="blind">Refer to Footnotes</span></i></dt>
                                                    {{else}}
                                                    {{#if is3rdParty}}
                                                    <dt>{{@key}}</dt>
                                                    {{else}}
                                                    <dt>{{@key}}</dt>
                                                    {{/if}}
                                                    {{/if}}

                                                    {{#if discount }}
                                                    <dd class="red" >{{this.total}}</dd>
                                                    {{else}}
                                                    <dd>{{this.total}}</dd>
                                                    {{/if}}
                                                </dl>
                                                {{#if items.length}}
                                                {{#items}}
                                                <dl class="bill-cont row">
                                                    {{#if noVAT}}
                                                    <dt>{{name}}<i class="icon-fnote" role="note" aria-labelledby="aria-footnote-01"><span class="blind">Refer to Footnotes</span></i></dt>
                                                    {{else}}
                                                    <dt>{{name}}</dt>
                                                    {{/if}}
                                                    <dd>{{amount}}</dd>
                                                </dl>
                                                {{/items}}
                                                {{/if}}

                                            </div>
                                            {{/isBill}}
                                        {{/each}}

                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true"/>
    {{/each}}
{{else}}
    <!-- .cont-box -->
    <!-- 200922 영문번역 -->
    <div class="cont-box nogaps-hoz"><!-- 200922 class 변경 -->
        <div class="no-charge">
            <img src="<%=CDN%>/img/en/ico_notice_point_gray.png" alt=""/>
            <span class="txt">
                No Billing History
            </span>
        </div>
    </div>
    <!-- //200922 영문번역 -->
    <!--// .cont-box -->
{{/if}}

<!-- .cont-box 
<div class="cont-box noborder">
    <p class="fs-info footnote01" id="aria-footnote-01">The target display items are exclude VAT</p>
    <p class="fs-info footnote02" id="aria-footnote-02">Display item is a third-party fees charged on our behalf</p>
    </div>
.cont-box -->

<!-- .cont-box -->
<div class="cont-box noborder">
    <p class="fs-info footnote01" id="aria-footnote-01">No VAT</p><!-- 201028 text 수정 -->
    <p class="fs-info footnote02" id="aria-footnote-02">3rd party fees</p><!-- 201028 text 수정 -->
</div>
<!--// .cont-box -->
</script>