<%#
* FileName: membership.my.html
* Author: Seungkyu Kim (ksk4788@pineone.com)
* Date: 2018.12.21
* ID: BE_02_03
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<div class="wrap">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup nobg fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '정보 수정', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">

                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <h3 class="tit-type7">T멤버십 이용/약관 동의</h3>
                    <div class="agreement-list">
                        <ul id="fe-agree-check">
                            <li>
                                <span class="custom-form"><input class="fe-agree-check" type="checkbox" id="fe-oka1" name="r1" <%= myInfoData.smsAgreeChecked %>><span class="c-type1"></span></span>
                                <label for="fe-oka1" class="rad-lab">T멤버십 이용내역 안내 서비스 가입 (선택)</label>
                                <p class="agr-sub-txt">SK 텔레콤 T멤버십 이용내역을 문자메세지(SMS/MMS)로 안내해드리는 무료 서비스입니다.</p>
                            </li>
                            <li>
                                <span class="custom-form"><input class="fe-agree-check" type="checkbox" id="fe-oka2" name="r1" <%= myInfoData.sktNewsChecked %>><span class="c-type1"></span></span>
                                <label for="fe-oka2" class="rad-lab">광고성 정보 수신 동의 (선택)</label>
                            </li>
                            <li>
                                <span class="custom-form"><input class="fe-agree-check" type="checkbox" id="fe-oka3" name="r1" <%= myInfoData.sktTmChecked %>><span class="c-type1"></span></span>
                                <label for="fe-oka3" class="rad-lab">고객님께 혜택을 드리기 위한 개인정보 수집/이용 동의 (선택)</label>
                                <!-- 개인정보 수집 날짜가 없는 케이스에 문구 미노출 처리 -->
                                <% if( myInfoData.showMbrAgreeDate !== '' ){ %>
                                <p class="agr-sub-txt"><%= myInfoData.showMbrAgreeDate %> T멤버십 광고 및 정보 알림에 대한 고객님의 수신 동의 정보가 갱신되었습니다.</p>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true" />

                <% if( myInfoData.ctzNumAgreeYn === 'Y' ){ %>
                <!-- 2019.03.14 OK 캐쉬백 약관동의 수정-->
                <div class="cont-box">
                    <h3 class="tit-type7">OK캐쉬백 이용/약관 동의</h3>
                    <p class="subtit-info">OK캐쉬백 적립 및 이용에 동의하셨습니다.</p>
                    <div class="agreement-list">
                        <ul>
                            <li>
                                <span class="custom-form pos2"><input class="fe-agree-check fe-part fe-select" type="checkbox" id="fe-okb2" name="r2" <%= myInfoData.ocbAccumAgreeChecked %>><span class="c-type1"></span></span>
                                <label for="fe-okb2" class="rad-lab">OK캐쉬백 사용할인 금액에 대한 OK캐쉬백 적립안내 (선택)</label>
                            </li>
                        </ul>
                    </div>
                    <div class="bul-text-list">
                        <ul>
                            <li>OK캐쉬백 혜택을 원하지 않으시면 T멤버십 서비스 해지 후 다시 가입하셔야 합니다.</li>
                            <li>포인트는 OK캐쉬백 수수료 정책에 따라 서비스 이용 수수료가 차감된 후 최종 적립됩니다.</li>
                        </ul>
                    </div>
                </div>
                <!--// 2019.03.14 OK 캐쉬백 약관동의 수정-->
                <% } else{ %>
                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <p class="con-txt4">T멤버십과 함께 OK캐쉬백을 적립/사용해 보세요</p>
                    <p class="con-txt5 mt10">OK캐쉬백 기능을 추가하시면, OK캐쉬백을 적립/사용하실 수 있습니다. OK캐쉬백 기능을 추가하시겠습니까?</p>
                    <div class="simple-form type2 mt30 mb12">
                        <span class="custom-form"><input class="fe-agree-check" type="checkbox" id="fe-chk8" name="checkbox2" onclick="return false;"><span class="c-type1"></span></span>
                        <label for="fe-chk8">OK캐쉬백 기능 추가하기</label>
                    </div>

                    <!-- 2019.03.12 OK캐쉬백 기능 추가하기 약관변경-->
                    <div id="fe-ok-toggle" class="in-agree-wrap" style="display:none;">
                        <div class="input-list agree-type">
                            <ul>
                                <li class="all-agree">
                                    <span class="custom-form"><input class="fe-agree-check fe-all" type="checkbox" id="fe-chk1" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="fe-chk1">
                                        <span class="tx-tit tx-bold">모두 동의</span>
                                    </label>
                                </li>
                                <li>
                                    <span class="custom-form"><input class="fe-agree-check fe-all fe-part" type="checkbox" id="fe-chk2" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="fe-chk2">
                                        <span class="tx-tit">OK캐쉬백 카드 서비스 이용약관 동의 (필수)</span>
                                    </label>
                                </li>
                                <li>
                                    <span class="custom-form"><input class="fe-agree-check fe-all fe-part" type="checkbox" id="fe-chk3" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="fe-chk3">
                                        <span class="tx-tit">OK캐쉬백 암호화된 동일인 식별정보 제공 동의 (필수)</span>
                                    </label>
                                </li>
                                <li>
                                    <span class="custom-form"><input class="fe-agree-check fe-all fe-part" type="checkbox" id="fe-chk4" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="fe-chk4">
                                        <span class="tx-tit">마케팅 활용 동의 (선택)</span>
                                    </label>
                                    <button class="more-vw fe-more-view"><span class="blind">자세히 보기</span></button>
                                </li>
                                <li>
                                    <span class="custom-form"><input class="fe-agree-check fe-all fe-part" type="checkbox" id="fe-chk5" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="fe-chk5">
                                        <span class="tx-tit">OK캐쉬백 사용할인 금액에 대한 OK캐쉬백 적립안내 (선택)</span>
                                    </label>
                                </li>
                            </ul>
                            <p class="inner-agreement-msg">필수동의 사항에 동의하셔야 T멤버십 카드로 OK캐쉬백을 적립/사용하실 수 있습니다. 단, OK캐쉬백 포인트가 적립될 경우 OK캐쉬백 수수료 정책에 따라 서비스 이용수수료가 차감된 포인트가 최종 적립됩니다.</p>
                        </div>
                    </div>
                    <!-- //2019.03.12 OK캐쉬백 기능 추가하기 약관변경-->
                </div>
                <% } %>

            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-update">수정하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->
</div>
</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MembershipMyUpdate($('.wrap'), '<%- JSON.stringify(myInfoData) %>');
  });
</script>

<% include ../../components/end.component.html %>
