<%#
* @file membership.my.reissue.html
* @author Seungkyu Kim (ksk4788@pineone.com)
* @since 2018.01.29
* ID: BE_02_01
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup nobg fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <%- include('../components/header.component.html', { title: 'T멤버십 재발급', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <div class="contract-info-wrap mbs-reissue">
                        <h3 class="tit-type7">카드 발급현황</h3>
                        <ul class="contract-info">
                            <li>
                                <span class="tit">고객명</span>
                                <span class="txt-r"><%= myReissueData.custNm %></span>
                            </li>
                            <li>
                                <span class="tit">휴대폰 번호</span>
                                <span class="txt-r"><%= myReissueData.showSvcNum %></span>
                            </li>
                            <li>
                                <span class="tit">카드 종류</span>
                                <span class="txt-r">T멤버십</span>
                            </li>
                            <li>
                                <span class="tit">카드번호</span>
                                <span class="txt-r"><%= myReissueData.showMbrCardNum %></span>
                            </li>
                            <li>
                                <span class="tit">발급 유형</span>
                                <span class="txt-r">모바일 카드<button id="BE_02_tip_02" class="btn-tip" title="모바일 카드"><i class="icon-badge-tip"><span class="blind">tip</span></i></button></span>
                            </li>
                            <li>
                                <span class="tit">T멤버십 등급</span>
                                <span class="txt-r"><%= myReissueData.showGrade %></span>
                            </li>
                            <li>
                                <span class="tit">재발급 사유</span>
                                <div class="txt">
                                    <ul class="radio-list-type">
                                        <li>
                                            <span class="custom-form"><input class="fe-reason-check" type="radio" id="radio1" name="r1" checked="checked" data-code="R03"><span class="r-type1"></span></span>
                                            <label for="radio1" class="lab">고객정보 변경</label>
                                        </li>
                                        <li>
                                            <span class="custom-form"><input class="fe-reason-check" type="radio" id="radio2" name="r1" data-code="R15"><span class="r-type1"></span></span>
                                            <label for="radio2" class="lab">T멤버십 종류 변경</label>
                                        </li>
                                        <li>
                                            <span class="custom-form"><input class="fe-reason-check" type="radio" id="radio3" name="r1" data-code="R12"><span class="r-type1"></span></span>
                                            <label for="radio3" class="lab">기타(카드 변경 등)</label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

                <div class="cont-box bgnone noborder">
                    <div class="announcement-box fs12">
                        <ul>
                            <li class="announcement-bullet type01">플라스틱 카드 재발급은 PC나 고객센터(114)에서 신청하실 수 있습니다.</li>
                            <li class="announcement-bullet type01">2017년 1월 1일 부터 T멤버십 카드만 제공하고 있습니다. 가입 중지된 카드의 재발급은 기존 카드 소지 고객의 경우에만 가능합니다.</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-reissue">재발급 신청하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->
</div>
</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MembershipMyReissue($('.wrap'),'<%= myReissueData.mbrTypCd %>');
  });
</script>

<% include ../../components/end.component.html %>
