<%#
* FileName: membership.my.html
* Author: Seungkyu Kim (ksk4788@pineone.com)
* Date: 2018.12.21
* ID: BE_02_03
%>

<% include ../../components/start.component.html %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup nobg fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>정보 수정</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box">
                    <h3 class="tit-type7">개인정보 수정</h3>
                    <p class="subtit-info mt2">카드수령 정보(필수)</p>
                    <div class="form-wrap">
                        <div id="fe-radio" class="radio-set mt32">
                            <span class="custom-form"><input type="radio" id="radio1" name="r1" data-type="03" <%= myInfoData.checkHomeChecked %>><span class="r-type1"></span></span>
                            <label for="radio1" class="lab">자택</label>
                            <span class="custom-form"><input type="radio" id="radio2" name="r1" data-type="04" <%= myInfoData.checkOfficeChecked %>><span class="r-type1"></span></span>
                            <label for="radio2" class="lab">직장</label>
                        </div>
                        <h4 class="tit-type7 mt16">주소</h4>
                        <div class="form-address mt10">
                            <div class="btn-area">
                                <span class="inputbox">
                                    <span class="input">
                                        <input type="text" title="우편번호" value="<%= myInfoData.zip %>" readonly="readonly" />
                                    </span>
                                    <span class="btn-box">
                                        <button id="fe-search-zip" type="button" class="btn-round2 btn-style3">우편번호 검색</button>
                                    </span>
                                </span>
                            </div>
                            <span class="inputbox mt8">
                                <span class="input">
                                    <input id="fe-basAddr" type="text" title="상세 주소" value="<%= myInfoData.basAddr %>" readonly="readonly" />
                                </span>
                            </span>
                            <span class="inputbox mt8">
                                <span class="input">
                                    <input id="fe-detAddr" type="text" value="<%= myInfoData.dtlAddr %>" title="상세 주소" />
                                    <button class="cancel"><span class="blind">삭제</span></button>
                                </span>
                            </span>
                        </div>
                        <h4 class="tit-type7 mt16">전화번호</h4>
                        <div class="form-phone mt10 mb5">
                            <span class="select">
                                <button id="fe-ph-first" class="bt-dropdown big" title="전화번호 앞자리 선택" aria-haspopup="true"><%= myInfoData.cntcNum1 %><span class="ico"></span></button>
                            </span>
                            <span class="inputbox">
                                <span class="input">
                                    <input id="fe-ph-second" type="number" maxlength="4" title="전화번호 중간자리 입력" value="<%= myInfoData.cntcNum2 %>" onInput="return Tw.InputHelper.inputNumberOnly(this);">
                                    <button class="cancel"><span class="blind">삭제</span></button>
                                </span>
                            </span>
                            <span class="inputbox">
                                <span class="input">
                                    <input id="fe-ph-third" type="number" maxlength="4" title="전화번호 끝자리 입력" value="<%= myInfoData.cntcNum3 %>" onInput="return Tw.InputHelper.inputNumberOnly(this);">
                                    <button class="cancel"><span class="blind">삭제</span></button>
                                </span>
                            </span>
                        </div>
                        <p class="error-txt">휴대폰번호 자릿수를 확인해주세요. (10~11자리)</p>
                        <p class="error-txt">전화번호 앞자리 항목은 2~4글자로 입력하셔야 합니다.</p>
                        <p class="error-txt">전화번호 뒷자리 항목은 4글자로 입력하셔야 합니다.</p>
                    </div>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true">

                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <h3 class="tit-type7">T멤버십 이용&middot;약관 동의</h3>
                    <div class="agreement-list">
                        <ul>
                            <li>
                                <span class="custom-form"><input type="checkbox" id="oka1" name="r1"><span class="c-type1"></span></span>
                                <label for="oka1" class="rad-lab">T멤버십 이용내역 안내 서비스 가입 (선택)</label>
                                <p class="agr-sub-txt">SK 텔레콤 T멤버십 이용내역을 문자메세지(SMS/MMS)로 안내해드리는 무료 서비스입니다.</p>
                            </li>
                            <li>
                                <span class="custom-form"><input type="checkbox" id="oka2" name="r1"><span class="c-type1"></span></span>
                                <label for="oka2" class="rad-lab">광고성 정보 수신 동의 (선택)</label>
                            </li>
                            <li>
                                <span class="custom-form pos2"><input type="checkbox" id="oka3" name="r1"><span class="c-type1"></span></span>
                                <label for="oka3" class="rad-lab">고객님께 혜택을 드리기 위한 개인정보<br />수집&middot;이용 동의(선택)</label>
                                <p class="agr-sub-txt">2018년 10월 4일 T멤버십 광고 및 정보 알림에 대한 고객님의 수신 동의 정보가 갱신되었습니다.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true" />

                <!-- .cont-box -->
                <div class="cont-box">
                    <p class="con-txt4">T멤버십과 함께 OK캐쉬백을 적립&middot;사용해 보세요</p>
                    <p class="con-txt5 mt10">OK캐쉬백 기능을 추가하시면, OK캐쉬백을 적립·사용하실 수 있습니다. OK캐쉬백 기능을 추가하시겠습니까?</p>
                    <div class="simple-form type2 mt30 mb5">
                        <span class="custom-form"><input type="checkbox" id="chk8" name="checkbox2"><span class="c-type1"></span></span>
                        <label for="chk8">OK캐쉬백 기능 추가하기</label>
                    </div>
                </div>
                <!--// .cont-box -->

                <div class="bt-fixed-area">
                    <ul class="bt-slice full">
                        <li class="bt-red1">
                            <button>수정하기</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->
</div>
</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MembershipMyUpdate($('.wrap'), '<%- myInfoData.addrCd %>');
  });
</script>

<% include ../../components/end.component.html %>
