<%- include('../../components/start.component.html', { pageInfo: data.pageInfo }); %>
<%- include('../../components/javascript.component.html') %>

<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area">Skip to main contents</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <!-- #header -->
        <%- include('../../../../common_en/views/components/header.component.html', { title: 'BILLS', svcInfo: data.svcInfo }); %>
        <!--
		<div id="header" class="header-wrap">
			<div class="h-belt">
				<div class="h-default">
					<div class="h-menu">
						<button type="button" class="icon-gnb-menu"><span class="blind">menu open</span></button>
					</div>

                    <div class="h-tit">MY BILLS</div>
				</div>
			</div>
        </div>
        -->
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">Main contents</span></h2>

            <div class="container" data-id="submain-container">
                <%- include('../../../../common_en/views/components/common.select-line.component.html', { svcInfo: svcInfo, xtEid: { single: "", multiple : "" } }); _%>

                <hr class="cont-sp type1" aria-hidden="true"/>

                <div class="cont-box nogaps">
                    <dl class="call-plan">
                        <dt>Subscribed Plan</dt><!-- 201006 text 수정 -->
                        <dd><%=svcInfo.prodNmEn%></dd>
                    </dl>
                </div>

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <!-- 200922 영문번역 -->
                <div class="cont-box nogaps-hoz"><!-- 200922 class 변경 -->
                    <div class="no-charge">
                        <img src="<%=CDN%>/img/en/ico_notice_point_gray.png" alt=""/>
                        <span class="txt">
                            No Billing History <br/>Within the past 6 months
                        </span>
                    </div>
                </div>
                <!-- //200922 영문번역 -->
                <!--// .cont-box -->
            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>

    </div>
<script>
    $(document).ready(function () {
        var data = '<%- JSON.stringify(data) %>';
        new Tw.MyTFareCommon(
            $('[data-id=submain-container]')
        ,   data
        );
    });
</script>    
</body>
<% include ../../components/end.component.html %>
