<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); _%>
<%- include ../../components/javascript.component.html _%>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area">Go to Main</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div id="fe-wrap" class="wrap" data-menuId="<%- pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../../common_en/views/components/header.component.html', { svcInfo: svcInfo, title: 'BILLS' }); _%>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">Main Section</span></h2>

            <div class="container" data-id="submain-container">
                <%- include('../../../../common_en/views/components/common.select-line.component.html', { svcInfo: svcInfo, xtEid: { single: "CMMA_A3_B12_C43-1", multiple : "CMMA_A3_B12_C43-2" } }); _%>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz"><!-- 200922 class 변경 -->
                    <div class="container warning pb120">
                        <h3 class="complete-title pt60 mt0">
                            <img src="<%=CDN%>/img/en/ico_notice_point_gray.png" alt=""/>
                            <span class="mid-txt">You have applied for<br/>
                                combined billing in different<br/>
                                cable line that you cannot inquire<br/>
                                for charges billed</span>
                        </h3>
                        <p class="complete-error-tx">
                            <span class="tx2">
                                However, you may set the line number <br/>
                                applied for combined billing into the representative <br/>
                                line to inquire for charged billed
                            </span>
                            <%_ if (svcInfo.loginType === 'T') { _%>
                                <button type="button" class="bt-link-tx underline mt10 fe-bt-line" 
                                        data-svcmgmtnum="<%= svcInfo.svcMgmtNum %>" 
                                        data-xt_eid="<%= (parseInt(svcInfo.selectableExpsSvcCnt, 10) > 1) ? data.xtEid.subLine : data.xtEid.subLine %>" 
                                        data-xt_csid="NO" 
                                        data-xt_action="BC">
                                    Modifying the representative line
                                </button>
                            <%_ } _%>
                            
                            <!-- 200916 간격조정 -->
                        </p>
                    </div>
                </div>
                <!--// .cont-box -->

            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>        
    </div>
</body>
<script>
    $(document).ready(function () {
      /**
       * A4 : 개별청구회선
       * A5 : 통합청구(대표)회선
       * A6 : 통합청구(일반)회선
       * @type {string}
       */
        var data = '<%- escape(JSON.stringify(data)) %>';
        var $el = $('#fe-wrap');
   //     new Tw.MyTFareBillGuideIntegratedRep($el, data);
       new Tw.MyTFareCommon($el, data);

   /*
    * A4. 개별청구회선 | this._billpayInfo.paidAmtMonthSvcCnt === 1
    * A5. 통합청구회선 대표 | this._billpayInfo.repSvcYn === 'Y'
    * A6. 통합청구회선 대표아님 |
   */
    });

</script>
<% include ../../components/end.component.html _%>
