<%#
* FileName: myt-join.info.fee-type-e.html
* Author: Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* Date: 2018.10.05
* info: 선택 약정 할인 제도
%>
<!-- 선택 약정 할인 제도 -->
<div class="cont-box">

    <div class="contract-dc-wrap">
        <div class="dc-tit-wrap">
            <!--<h4 class="dc-tit"><%=commDataInfo.feeInfo[i].titNm %></h4>-->
            <h4 class="dc-tit"><%=commDataInfo.feeInfo[i].disProdNm2 %></h4>
            <div class="bt-alone">
                <button class="bt-bg-blue1 fe-prod-btn" title="선택약정할인 제도" data-id="<%= commDataInfo.feeInfo[i].prodId %>">
                    상품 정보보기
                </button>
            </div>
        </div>

        <div class="contract-dc-list">
            <ul>
                <li>
                    <dl>
                        <dt>
                            <strong class="tit">지난달 기준 할인금액 합계</strong>
                            <button id="MS_09_tip_01" aria-haspopup="true" class="tip-view" title="지난달 기준 할인금액 합계 정보보기">TIP</button>
                        </dt>
                        <dd>
                            <span class="val-type1"><span class="str"><%=commDataInfo.feeInfo[i].salePay%></span>원</span>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <strong class="tit">약정 시작/종료일</strong>
                            <button id="MS_09_tip_07" aria-haspopup="true" class="tip-view" title="약정 시작/종료일 정보보기">TIP</button>
                        </dt>
                        <dd>
                            <span class="val-type2"><%=commDataInfo.feeInfo[i].startDt%> ~ <%=commDataInfo.feeInfo[i].endDt%></span>
                        </dd>
                    </dl>
                </li>
            </ul>
            <div class="amountdata-num">
                <div class="date-info">
                    <p class="data-title">잔여<span class="blind">(잔여일수)</span></p>
                    <p class="data-state"><span class="str"><%=commDataInfo.feeInfo[i].remDt%></span>일 남음</p>
                </div>
                <div class="date-info">
                    <p class="data-title">전체<span class="blind-height0">(전체일수)</span></p>
                    <p class="data-state"><span class="str"><%=commDataInfo.feeInfo[i].totDt%></span>일</p>
                </div>
            </div>
            <div class="bar-chart-hoz">
                <span class="data-bar red" style="width: <%=commDataInfo.feeInfo[i].perDt%>%"></span>
            </div>
        </div>
        <ul class="bt-slice">
            <li class="bt-white2">
                <button data-target="detailList"
                        data-value='<%-JSON.stringify(commDataInfo.feeInfo[i].svcAgrmtDcObj) %>' >월별 상세 할인내역 보기</button>
            </li>
        </ul>
    </div>

</div>
<!--// 선택 약정 할인 제도 -->