<%#
* FileName: myt-data.recharge.coupon-complete-data.html (DC_05_01_end_01)
* Author: Hakjoon Sim (hakjoon.sim@sk.com)
* Date: 2018.09.19
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <!-- #header -->
        <div id="header" class="header-wrap">
        </div>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <div class="container">
            </div>
        </div>
        <!--// #contents -->
        <!-- .popup hbs -->
        <div class="popup-page tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
            <!-- .container-wrap -->
            <div class="container-wrap">
                <div class="container">
                    <div class="complete-wrap">
                        <div class="title-box">
                            <i class="icon-warning-120"><span class="blind">warning</span></i>
                            <p class="tx-tit"><span class="tx-highlight">데이터 리필 완료</span></p>
                        </div>
                        <div class="tx-contents">
                            <ul class="bt-slice item-one">
                                <li><button type="button" class="btn-round2 btn-style3" id="fe-btn-go-hotdata">실시간 잔여량 확인</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li><button type="button" class="btn-floating btn-style2 fe-common-back">확인</button></li>
                </ul>
            </div>
            <!--// .container-wrap -->
            <!-- .popup-closeBtn -->
            <!-- <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button> -->
            <!--// .popup-closeBtn -->
        </div>
        <!--// .popup hbs -->
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    $('.wrap').on('click', '#fe-btn-go-hotdata', function () {
      (new Tw.HistoryService()).replaceURL('/myt-data/hotdata');
    })
  })
</script>
<% include ../../components/end.component.html %>