<%#
* @file myt-join.myplancombine.combination.html
* @author Jiyoung Jo
* @since 2018.10.26
* id: MS_07_01
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <!-- Grand open 접근성 수정 -->
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
            <!--  //Grand open 접근성 수정 -->
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../common/views/components/header.component.html', { title: pageId === 'tb-wire' ? '결합상품 보기' : '결합가족 보기', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div class="container-wrap">
            <h2 id="contents" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container">
                <%- include('../../components/myplancombine/myt-join.myplancombine.' + pageId + '.html');  %>
            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>
</body>

<% include ../../components/javascript.component.html %>
<% if (pageId === 'tb-free') { %>
<script>
    $(document).ready(function() {
        new Tw.MyTJoinCombinationsTBFree($('.wrap'), JSON.parse('<%- JSON.stringify(svcInfo) %>'));
    });
</script>
<% } %>
<% include ../../components/end.component.html %>
