<%#
* @file myt-join.myplancombine.share.html
* @author Jiyoung Jo
* @since 2019.02.07
* id: 
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <!-- Grand open 접근성 수정 -->
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
            <!--  //Grand open 접근성 수정 -->
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <div class="popup-page tw-popup fixed-bottom h60 nobg">
            <!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... 기본배경색은 white, 회색배경색은 .nobg -->
            <!-- #header -->
            <%- include('../components/header.component.html', { title: '데이터 나눠쓰기', type: 'popup', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
            <!--// #header -->
            <!-- .container-wrap -->
            <div class="container-wrap">
                <h2 class="blind">내용</h2>
                <div class="container">
                    <!-- .cont-box -->
                    <div class="cont-box nogaps">
                        <h3 class="tit-type1">
                            받는 분 선택<button id="MS_07_01_03_01_tip_01" type="button" class="tip-view" title="받는 분 선택 TIP보기" aria-haspopup="true">TIP</button>
                        </h3>
                        <!-- .list-comp-input -->
                        <div class="list-comp-input type2">
                            <div class="widget">
                                <div class="widget-box radio">
                                    <ul class="select-list" role="group">
                                        <% members.map((member, i) => { %>
                                        <li class="radiobox type01 <%= i === 0 ? 'checked' : '' %>" role="radio" aria-checked="<%= i === 0 ? 'true' : 'false' %>" data-svc="<%= member.svcMgmtNum %>" data-name="<%= member.custNm %>" data-phone-number="<%= member.svcNum %>">
                                            <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                            <input type="radio" name="radio" value="" title="<%= member.custNm %>" aria-labelledby="aria-comp-radio1" <%= i === 0 ? 'checked' : '' %>><!-- 체크상태일 경우 checked="checked" -->
                                            <div class="comp-list-layout" id="aria-comp-radio1" aria-hidden="true">
                                                <p class="layout-text">
                                                    <span class="mtext"><%= member.custNm %><i class="icon-<%= member.badge %> ml9"><span class="blind"><%= member.relClNm %></span></i>
                                                    <span class="stext"><%= member.membOfrPt ? `${member.membOfrPt}MB 받음` : '받은 적 없음' %></span>
                                                </p>
                                            </div>
                                        </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .list-comp-input -->
                    </div>
                    <!--// .cont-box -->
        
                    <hr class="cont-sp type1" aria-hidden="true" />
        
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="tit-wrap2">
                            <h3 class="tit">나눠쓰기 할 데이터양</h3>
                            <p class="stxt">한도: <%= group.grpRemainPt %>MB 남음</p>
                        </div>
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box radio">
                                <div class="radio-slide small">
                                    <ul class="select-list" role="radiogroup">
                                        <% const max = Math.min(Number(group.grpOfrPt) / 100, 10), remain = Number(group.grpRemainPt) / 100; 
                                        for (let i = max; i > 0; i--) { %>
                                            <li class="radiobox" role="radio" aria-checked="false" data-amount="<%= i * 100 %>">
                                                <input type="radio" name="radio1" value="<%= i * 100 %>MB" title="나눠쓰기 할 데이터양" aria-labelledby="aria-comp-radio<%= i %>" <%= i > remain ? 'disabled' : '' %> /><!-- 체크상태일 경우 checked="checked" -->
                                                <span class="radio-txt" id="aria-comp-radio<%= i %>">
                                                    <span><%= i * 100 %></span><span class="unit">MB</span>
                                                </span>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                    <!--// .cont-box -->
        
                    <hr class="cont-sp type1" aria-hidden="true" />
                    <!-- .cont-box --><!-- 2018-11-02 수정 -->
                    <div class="cont-box nogaps-btm">
                        <h3 class="tx-bold">꼭 확인해 주세요</h3>
                        <ul class="noti-list02">
                            <li><button id="MS_07_01_03_01_tip_02" type="button" class="tip-view-btn" title="나눠쓰기 할 데이터양 TIP보기" aria-haspopup="true">나눠쓰기 할 데이터양<span class="tip-view">TIP</span></button></li>
                            <li><button id="MS_07_01_03_01_tip_03" type="button" class="tip-view-btn" title="나눠쓰기 데이터 사용 TIP보기" aria-haspopup="true">나눠쓰기 데이터 사용<span class="tip-view">TIP</span></button></li>
                        </ul>
                    </div>
                    <!--// .cont-box -->
        
                    
                </div>
                <div class="bt-fixed-area">
                    <ul class="bt-slice full">
                        <li class="bt-red1">
                            <button id="fe-submit" disabled>나눠쓰기</button><!-- 활성화시 disabled 속성 삭제 -->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="prev-step fe-common-back">취소</button>
            <!--// .popup-closeBtn -->
        </div>
        <!-- // .popup hbs -->
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function() {
      new Tw.MyTJoinCombinationsDataShare($('.wrap'), JSON.parse('<%- JSON.stringify(group) %>'));
    });
</script>
<% include ../../components/end.component.html %>