<%#
* @file myt-join.myplancombine.period.html
* @author 양정규
* @since 2019.10.10
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- .popup hbs -->
        <div class="popup-page tw-popup nobg fixed-bottom h60">
            <!-- #header -->
            <%- include('../../../common/views/components/header.component.html', { title: '가족 합산 총 가입기간', type: 'popup', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
            <!--// #header -->
            <!-- #container-wrap -->
            <div class="container-wrap">
                <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
                <div class="container">
                    <hr class="cont-sp type1" aria-hidden="true" />
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="bundle-tit-wrap">
                            <h3 class="tit">총 적용 가입기간</h3>
                            <div class="subtxt">
                                <p class="val tod-txcolor6"><span class="str"><%-totUseYyText%></span></p>
                            </div>
                        </div>
                        <%joinPeriodList.forEach( item => {%>
                        <div class="basic-list bg-type mt20">
                            <ul>
                                <li>
                                    <span class="title">고객명</span>
                                    <span class="tx-cont"><%-item.custNm%></span>
                                </li>
                                <%if(item.svcType){%>
                                <li>
                                    <span class="title">상품</span>
                                    <span class="tx-cont"><%-item.svcType%>상품</span>
                                </li>
                                <%}%>
                                <li>
                                    <span class="title">휴대폰번호</span>
                                    <span class="tx-cont"><%-item.svcNum%></span>
                                </li>
                                <li>
                                    <span class="title">총 가입기간</span>
                                    <span class="tx-cont"><%-item.totalJoinDate%></span>
                                </li>
                                <li>
                                    <span class="title">총 제외기간</span>
                                    <span class="tx-cont"><%-item.totalExpDate%></span>
                                </li>
                                <li>
                                    <span class="title">적용 가입기간</span>
                                    <span class="tx-cont"><%-item.totalUseDate%></span>
                                </li>
                            </ul>
                        </div>
                        <%});%>
                    </div>
                    <!-- //.cont-box -->

                    <!-- 꼭 확인해 주세요 -->
                    <!-- .cont-box -->
                    <div class="cont-box noborder bgnone">
                        <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                        <ul class="pg-chk-list02">
                            <li><button id="TC000085" class="btn-tip" aria-haspopup="true">기간 산정 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                        </ul>
                    </div>
                    <!--// .cont-box -->
                    <!-- //꼭 확인해 주세요 -->
                </div>

                <!-- 하단 fixed 버튼 (.container 영역 바깥에 위치해야 함) -->
                <div class="bt-fixed-area">
                    <ul class="bt-slice full"><!-- li갯수 별로(가로 정렬 버튼이 2개 이상일 경우) .item-two, .item-three, .item-four, .item-five, .item-six, .item-seven -->
                        <li class="bt-red1 fe-common-back"><button>확인</button></li>
                    </ul>
                </div>
                <!-- //하단 fixed 버튼 (.container 영역 바깥에 위치해야 함) -->
            </div>
            <!--// #contentainer-wrap -->
            <!-- .popup-closeBtn -->
            <button class="popup-closeBtn fe-common-back"><span class="blind">팝업 페이지 닫기</span></button>
            <!--// .popup-closeBtn -->
        </div>
        <!--// .popup hbs -->
    </div>
</body>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>
