<%#
* @file myt-join.myplancombine.html
* @author Jiyoung Jo
* @since 2018.10.19
* ID: MS_07
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <!-- Grand open 접근성 수정 -->
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
            <!--  //Grand open 접근성 수정 -->
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../common/views/components/header.component.html', { title: '나의 결합상품', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container">

                <div class="ti-caption-gray">
                    <p class="num">총<em><%= combinations.length %></em>개</p>
                </div>

                <!-- .cont-box -->
                <% if (combinations.length > 0) { %>
                    <div class="cont-box nogaps-hoz">
                        <div class="my-product-list">
                            <ul>
                                <% const COMBINATION_PRODUCTS = [ 'TW20000012', 'NA00005055', 'TW20000009', 'NA00004211', 'NH00000084', 'TW20000008', 'NH00000059', 
                                    'TW20000007', 'NA00002040', 'TW20000010', 'NA00004728', 'TW20000011', 'NH00000114', 'TW20000013', 'NH00000133' ];
                                const INTERNET_PRODUCTS = ['NH00000037','NH00000039','TW00000062','NH00000040','NH00000041','TW00000063'];
                                const TIPS = {
                                    NA00005055: '02',
                                    TW20000012: '02',
                                    NA00002040: '03',
                                    TW20000010: '03',
                                    NA00004728: '04',
                                    TW20000011: '04',
                                    TW20000009: '05',
                                    NA00004211: '05',
                                    NH00000084: '06',
                                    TW20000008: '06',
                                    NH00000039: '07',
                                    TW00000062: '07',
                                    NH00000059: '08',
                                    TW20000007: '08',
                                    NH00000103: '09',
                                    TW00000009: '09',
                                    NH00000037: '10',
                                    NH00000041: '10',
                                    NH00000105: '11',
                                    TW00000016: '11',
                                    NH00000040: '12',
                                    TW00000063: '12'
                                }
                                
                                combinations.map(comb => { %>
                                <li>
                                    <div class="inner">
                                        <% const tip = comb.prodNm.includes('개인') && (comb.prodId === 'TW00000062' || comb.prodId === 'NH00000039') ? '10' : TIPS[comb.prodId] %>
                                        <strong class="tit"><%= comb.prodNm %><% if (tip) { %><button id="MS_07_tip_<%= tip %>" type="button" class="tip-view" title="<%= comb.prodNm %> TIP보기" aria-haspopup="true"><%= comb.prodNm %> TIP</button><% } %></strong>
                                        <p class="txt"><%= comb.prodSmryDesc %></p>
                                        <p class="date">신청일  <%= comb.scrbDt %></p>
                                        <% if (COMBINATION_PRODUCTS.includes(comb.prodId)) { %>
                                        <a class="bt-link-tx underline" href="combinations/<%= comb.prodId %>">결합가족 보기</a>
                                        <% } else if (INTERNET_PRODUCTS.includes(comb.prodId)) { 
                                            const type = comb.prodNm.includes('개인') ? 1 : comb.prodNm.includes('패밀리') ? 2 : 0; %>
                                        <a class="bt-link-tx underline" href="combinations/<%= `${comb.prodId}?type=${type}` %>">결합상품 보기</a>
                                        <% } %>
                                        <% if (comb.prodLinkYn === "Y") { %>
                                        <a class="bt-link-tx underline" href="/product/callplan?prod_id=<%= comb.prodId %>">상품정보 보기</a>
                                        <% } %>
                                        <span class="visual-area"><img src="<%= comb.prodIconImgUrl %>" alt=""></span>
                                    </div>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                <% } else { %>
                    <div class="cont-box nogaps-top">
                        <div class="contents-empty">
                            <span class="ico type1"><span class="blind">느낌표(!)</span></span>
                            <p class="desc">현재 이용 중인<br>결합상품이 없습니다.</p>
                        </div>
                        <ul class="bt-slice">
                            <li class="bt-blue1">
                                <a href="/benefit/submain/combinations">결합할인 보러가기</a>
                            </li>
                        </ul>
                    </div>
                <% } %>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true" />
                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <h3 class="tx-bold">꼭 확인해 주세요</h3>
                    <ul class="noti-list02">
                        <li><button id="MS_07_tip_01" type="button" class="tip-view-btn" title="결합상품 변경/해지 문의 TIP보기" aria-haspopup="true">결합상품 변경/해지 문의<span class="tip-view">TIP</span></button></li>
                    </ul>
                </div>
                <!--// .cont-box -->
                <!--// 2018-11-02 수정 -->

            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>
