<%#
* @file myt-join.myplancombine.share.html
* @author Jiyoung Jo
* @since 2019.02.07
* id:
_%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); _%>
<body>
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- .popup hbs -->
        <div class="popup-page tw-popup fixed-bottom h60 nobg">
            <!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... 기본배경색은 white, 회색배경색은 .nobg -->
            <!-- #header -->
            <%- include('../components/header.component.html', { title: '데이터 나눠쓰기', type: 'popup', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
            <!--// #header -->
            <!-- .container-wrap -->
            <div id="contents" class="container-wrap">
                <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
                <div class="container">
                    <hr class="cont-sp type1" aria-hidden="true"/>
                    <!-- .cont-box -->
                    <div class="cont-box nogaps">
                        <h3 class="tit-type1">
                            받는 분 선택<button id="MS_07_01_03_01_tip_01" type="button" class="tip-view" title="받는 분 선택 TIP보기" aria-haspopup="true">TIP</button>
                        </h3>
                        <!-- .list-comp-input -->
                        <div class="list-comp-input type2">
                            <div class="widget">
                                <div class="widget-box radio">
                                    <ul class="select-list" role="group">
                                        <% members.map((member, i) => { %>
                                        <li class="radiobox type01 <%= i === 0 ? 'checked' : '' %>" role="radio" aria-checked="<%= i === 0 ? 'true' : 'false' %>" data-svc="<%= member.svcMgmtNum %>" data-name="<%= member.custNm %>" data-phone-number="<%= member.svcNum %>">
                                            <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                            <input type="radio" name="radio" value="" title="<%= member.custNm %>" aria-labelledby="aria-comp-radio1" <%= i === 0 ? 'checked' : '' %>><!-- 체크상태일 경우 checked="checked" -->
                                            <div class="comp-list-layout" id="aria-comp-radio1" aria-hidden="true">
                                                <p class="layout-text">
                                                    <span class="mtext"><%= member.custNm %><i class="icon-<%= member.badge %> ml9"><span class="blind"><%= member.relClNm %></span></i></span>
                                                    <span class="stext"><%= member.svcNum %></span>
                                                    <span class="stext"><%= member.membOfrPt ? `${member.membOfrPt}MB 받음` : '받은 적 없음' %></span>
                                                </p>
                                            </div>
                                        </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .list-comp-input -->
                    </div>
                    <!--// .cont-box -->

                    <hr class="cont-sp type1" aria-hidden="true" />

                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="ti-caption-type01 pb0">
                            <h2 class="tit">나눠쓰기 할 데이터양</h2>
                            <p class="num">한도 <em><%= group.grpRemainPt %>MB</em> <span class="ft-medium">남음</span></p>
                            <p class="tit-txt">데이터를 발송하고 나면 취소할 수 없습니다.</p>
                        </div>
                        <div class="data-gift-wrap">
                            <div class="discount-look-ahead round">
                                <!-- .widget -->
                                <div class="widget">
                                    <div class="widget-box radio">
                                        <ul class="select-list fe-select-list" role="radiogroup">
                                            <% const max = Math.min(Number(group.grpOfrPt) / 100, 10), remain = Number(group.grpRemainPt) / 100;
                                            for (let i = max, n=0; i > 0; i--, n++) { %>
                                                <li class="radiobox btn-type02 <%- n > 3 ? 'none':''%>" role="radio" aria-checked="false" data-amount="<%= i * 100 %>" aria-disabled="<%= i > remain ? 'true' : 'false' %>">
                                                    <div class="form">
                                                        <input type="radio" name="radio1" value="<%= i * 100 %>MB" title="나눠쓰기 할 데이터양" aria-labelledby="aria-comp-radio<%= i %>" <%= i > remain ? 'disabled' : '' %> /><!-- 체크상태일 경우 checked="checked" -->
                                                        <span class="radio-txt ff-tb" id="aria-comp-radio<%= i %>">
                                                            <%= i * 100 %><span class="light">MB</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                                <!--// .widget -->
                            </div>
                            <div class="btn-more fe-show-more">
                                <button>데이터양 더보기</button>
                            </div>
                        </div>

                    </div>
                    <!--// .cont-box -->

                    <hr class="cont-sp type1" aria-hidden="true" />
                    <!-- .cont-box --><!-- 2018-11-02 수정 -->
                    <div class="cont-box noborder bgnone">
                        <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                        <ul class="pg-chk-list02">
                            <li><button id="MS_07_01_03_01_tip_02" class="btn-tip" aria-haspopup="true">나눠쓰기 할 데이터양<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                            <li><button id="MS_07_01_03_01_tip_03" class="btn-tip" aria-haspopup="true">나눠쓰기 데이터 사용 <i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                        </ul>
                    </div>
                    <!--// .cont-box -->

                </div>
                <div class="bt-fixed-area">
                    <ul class="bt-slice full">
                        <li class="bt-red1">
                            <button id="fe-submit" disabled>나눠쓰기</button><!-- 활성화시 disabled 속성 삭제 -->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="prev-step fe-common-back">취소</button>
            <!--// .popup-closeBtn -->
        </div>
        <!-- // .popup hbs -->
    </div>
    <%- include('../../components/javascript.component.html') _%>
    <script>
        $(document).ready(function() {
          new Tw.MyTJoinCombinationsDataShare($('.wrap'), JSON.parse('<%- JSON.stringify(group) %>'));
        });
    </script>
</body>
<%- include('../../components/end.component.html') _%>