<%#
* @file myt-data.usage.circle-graphbox.html
* @author 김기남 (skt.P161322@partner.sk.com)
* @since 2020.09.15
_%>

<hr class="cont-sp type1" aria-hidden="true" />

<!-- .cont-box -->
<div class="cont-box nogaps-hoz">
    <ul class="date-graph-list">
        <%_ for (var i = 0, length = items.length; i < length; i += 1) { _%>
        <li>
            <h2 class="tit"><%= items[i].skipNm %></h2>
            <div class="graph-list-wrap">
                <div class="left">
                    <div class="donut-chart small">
                        <div class="donut-chart-area">
                            <div class="c100 p<%= (items[i].isRunout) ? '0' : (items[i].isRemainUnlimited) ? '100' : items[i].remainedRatio %>"><!-- .p+(0~100) // -->
                                <div class="<%= items[i].isTFamilyData ? 'blue' : color %>"><!-- red, yellow,green, blue // -->
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                    <div class="slice transparent">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cont">
                    <dl class="my-data">
                        <dt>Included</dt>
                        <dd class="red">
                            <!-- remained 남은량, used 사용량, total 총용량 -->
                            <%_ if( items[i].isUnlimited ) { _%> <!-- 무제한 -->
                                <%- items[i].total %>
                            <%_ } else { _%>
                                <%_ if( type === 'data' ) { _%> 
                                    <%- items[i].showTotal.data %> <%- items[i].showTotal.unit %>
                                <%_ } else if (type === 'voice') { _%>
                                    <%- items[i].showTotal.hours %>h <%- items[i].showTotal.min %>m
                                <%_ } else if(type === 'sms'){ _%>
                                    <%- items[i].showTotal %> Texts
                                <%_ } else { _%>
                                    <%- items[i].showTotal.data %> <%- items[i].showTotal.unit %>
                                <%_ } _%>
                            <%_ } _%>
                        </dd>
                    </dl>

                    <dl class="my-data">
                        <dt><%= items[i].isUnlimited ? 'Used Amount' : 'Remaining Amount'%></dt>
                        <dd>
                            <!-- remained 잔여량, used 사용량, total 총용량 -->
                            <%_ if( items[i].isUnlimited ) { _%> <!-- 무제한(사용량 표기) -->
                                <%_ if( type === 'data' ) { _%> 
                                    <%- items[i].showUsed.data %> <%- items[i].showUsed.unit %>
                                <%_ } else if (type === 'voice') { _%>
                                    <%- items[i].showUsed.hours %>h <%- items[i].showUsed.min %>m
                                <%_ } else if(type === 'sms') { _%>
                                    Free
                                <%_ } _%>
                            <%_ } else { _%> <!-- 무제한이 아닌경우 (잔여량 표기) -->
                                <%_ if( type === 'data' ) { _%> 
                                    <%- items[i].showRemained.data %> <%- items[i].showRemained.unit %>
                                <%_ } else if (type === 'voice') { _%>
                                    <%- items[i].showRemained.hours %>h <%- items[i].showRemained.min %>m
                                <%_ } else if (type === 'sms') { _%>
                                    <%- items[i].showRemained %> Texts
                                <%_ } else { _%>
                                    <%- items[i].showRemained.data %> <%- items[i].showRemained.unit %>
                                <%_ } _%>
                            <%_ } _%>
                        </dd>
                    </dl>
                </div>
            </div>
        <% } %>
        </li>
    </ul>
</div>
<!--// .cont-box -->
