<%#
* @file myt-data.usage.information.html
* @author 김기남 (skt.p161322@partner.sk.com)
* @since 2020.09.16
%>

<hr class="cont-sp type1" aria-hidden="true"/>

<div class="cont-box nogaps">
    <div class="widget">
        <div class="widget-box accordion">
            <div class="acco-cover toggle">
                <div class="acco-style  type-qa qa-lease">
                    <ul class="acco-list pt0">
                        <li class="acco-box on">
                            <div class="acco-tit">
                                <button role="button" aria-pressed="true"><img src="<%= CDN %>/img/en/ico_fs-info.png" alt="">Important Things to Note</button>
                            </div>
                            <div class="acco-cont information-usebox">
                                <p class="fs-info">In order to ensure service stability on T world, remaining call credit inquiries are limited to 12 times every 120 minutes</p>
                                <p class="fs-info">Please use the information only for reference purposes since the usage amount shown may differ from that of the actual invoice</p>
                                <p class="fs-info">When a call plan has been changed or temporarily suspended during a particular month, free benefits are calculated on a pro rata basis. When you use the services in excess of the free benefit amount, separate fees are charged relevant to the excess in usage. (Please note that the basic call benefits calculated on a pro rata basis under the fee system may not be reflected)</p>
                                <p class="fs-info">The remaining basic calls are not carried over to the following month. Some of the remaining basic calls that may be carried over to the following month may be used or checked from the 5th of the following month.</p>
                                <p class="fs-info">After changing call plan and then changing it back to the previous plan, or if you have previously suspended a plan during a particular month, the service for checking the remaining call credit is not provided until the 4th of the following month. When usage breakdown is not available remaining call usage cannot be checked.</p>
                                <p class="fs-info">Remaining call credit inquiries are possible with voice call plans/voice talk options/data options that offer basic benefits (voice, video, data, SMS etc.). However, a newly released call plan may cause application time to be delayed.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>