<%#
* @file myt-join.submain.wire-more-info.html
* @author Kim InHwan (skt.P132150@partner.sk.com)
* @since 2018.10.11
%>

<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="btn-link-list">
        <li>
            <button type="button" data-id="addr-chg" title="설치장소 변경" aria-haspopup="true">설치장소 변경</button>
        </li>
        <li>
            <button type="button" data-id="prod-chg" title="상품 변경" aria-haspopup="true">상품 변경</button>
        </li>
        <li>
            <button type="button" data-id="inst-chg" title="약정기간 변경" aria-haspopup="true">약정기간 변경</button>
        </li>
        <li>
            <button type="button" data-id="transfer-fee" title="명의변경" aria-haspopup="true">명의변경</button>
        </li>
        <li class="last-line">
            <button type="button" data-id="svc-cancel" title="서비스 해지" aria-haspopup="true">서비스 해지</button>
        </li>
        <li class="last-line">
            <button type="button" data-id="wire-pause" title="일시 정지/해제" aria-haspopup="true">일시 정지/해제</button>
        </li>
    </ul>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="btn-link-list">
        <li class="last-line">
            <button type="button" data-id="until-info">이용계약정보</button>
        </li>
        <li class="last-line">
            <button type="button" data-id="work-notify">망 작업 알림 받기</button>
        </li>
    </ul>
</div>
<!--// .cont-box -->