<%#
* @file search.template.component.html
* @author Hyunkuk Lee (max5500@pineone.com)
* @since 2018.12.11
%>

<script type="text/x-handlebars-template" id="shortcut_template">
    <li>
        <a href="{{listData.MENU_URL}}" title="{{listData.tagTitle}}" class="shortcut-element list-data" data-category="shortcut" data-id="{{listData.DOCID}}" data-tit="{{removeTag listData.MENU_NM}}">
            <span class="main-category">{{{listData.MENU_NM}}}</span>
            <span class="sub-category">{{{replace listData.DEPTH_PATH '\|,MyT' ' > , my T '}}}</span>
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="rate_template">
    <li class="category-type">
        <a class="link rate-element list-data" href="/product/callplan?prod_id={{listData.PRID}}" data-category="rate" data-id="{{listData.DOCID}}"  data-tit="{{removeTag listData.PROD_NM}}">
            <div class="products-titleinfo">
                <p class="title">{{{listData.PROD_NM}}}</p>
                <p class="info">
                    {{#isNaN listData.BAS_FEE_INFO }}
                    <span class="money">{{listData.BAS_FEE_INFO}}</span>
                    {{else}}
                    월<span class="money">{{currencyComma listData.BAS_FEE_INFO}}</span>원
                    {{/isNaN}}
                </p>
            </div>
            <div class="taglist-wrap">
                {{#each listData.METATAG}}
                    {{#ifCond this '!==' ''}}
                    <p class="tag-text">#{{{this}}}</p>
                    {{/ifCond}}
                {{/each}}
            </div>

            <ul class="products-detailinfo02">
                {{#ifCond listData.BAS_OFR_DATA_QTY_CTT '!==' ''}}
                <li class="category-type type01">
                    <p class="gb">
                        {{#isNaN listData.BAS_OFR_DATA_QTY_CTT}}
                            <span>{{listData.BAS_OFR_DATA_QTY_CTT}}</span>
                        {{else}}
                            <span>{{listData.BAS_OFR_DATA_QTY_CTT}}</span>GB
                        {{/isNaN}}
                    </p>
                </li>
                {{else ifCond listData.BAS_OFR_MB_DATA_QTY_CTT '!==' ''}}
                <li class="category-type type01">
                    <p class="gb">
                        {{#isNaN listData.BAS_OFR_MB_DATA_QTY_CTT}}
                            <span>{{listData.BAS_OFR_MB_DATA_QTY_CTT}}</span>
                        {{else}}
                            <span>{{listData.BAS_OFR_MB_DATA_QTY_CTT}}</span>MB
                        {{/isNaN}}
                    </p>
                </li>
                {{/ifCond}}
                {{#ifCond listData.BAS_OFR_VCALL_TMS_CTT '!==' ''}}
                <li class="category-type type02">
                    <p class="type">
                        {{#isNaN listData.BAS_OFR_VCALL_TMS_CTT}}
                            {{listData.BAS_OFR_VCALL_TMS_CTT}}
                        {{else}}
                            {{listData.BAS_OFR_VCALL_TMS_CTT}}분
                        {{/isNaN}}
                    </p>
                </li>
                {{/ifCond}}
                {{#ifCond listData.BAS_OFR_CHAR_CNT_CTT '!==' ''}}
                <li class="category-type type03">
                    <p class="basic">
                        {{#isNaN listData.BAS_OFR_CHAR_CNT_CTT}}
                            {{listData.BAS_OFR_CHAR_CNT_CTT}}
                        {{else}}
                            {{listData.BAS_OFR_CHAR_CNT_CTT}}건
                        {{/isNaN}}
                    </p>
                </li>
                {{/ifCond}}
            </ul>
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="banner_template">
    <hr class="cont-sp type1 banner" aria-hidden="true">
    <div class="search-banner">
        <a data-xt_eid="{{listData.OFER_STC_CD}}" data-xt_csid="NO" data-xt_action="BV" data-xt_action2="BC" data-require-pay="{{listData.BILL_YN}}"
           href="{{listData.IMG_LINK_URL}}" class="banner-element list-data" data-id="{{listData.DOCID}}" data-category="banner" data-tit="{{removeTag listData.TITLE_NM}}">
            <img src="{{CDN}}{{listData.BNNR_FILE_PATH_NM}}" alt="{{listData.TITLE_NM}}">
        </a>
    </div>
    <hr class="cont-sp type1 banner" aria-hidden="true">
</script>


<script type="text/x-handlebars-template" id="service_template">
    <li class="category-type">
        <a class="link service-element list-data" href="/product/callplan?prod_id={{listData.PRID}}" data-id="{{listData.DOCID}}" data-category="service" data-tit="{{removeTag listData.PROD_NM}}">
            <div class="products-titleinfo">
                <p class="title">{{{listData.PROD_NM}}}</p>
                <p class="info">
                    {{#isNaN listData.BAS_FEE_INFO }}
                        <span class="money">{{listData.BAS_FEE_INFO}}</span>
                    {{else}}
                        월<span class="money">{{currencyComma listData.BAS_FEE_INFO}}</span>원
                    {{/isNaN}}
                </p>
            </div>
            <div class="taglist-wrap">
                {{#each listData.METATAG}}
                {{#ifCond this '!==' ''}}
                <p class="tag-text">#{{{this}}}</p>
                {{/ifCond}}
                {{/each}}
            </div>

            <p class="products-detailinfo">{{{listData.PROD_SMRY_DESC}}}</p>
        </a>
    </li>
</script>


<script type="text/x-handlebars-template" id="tv_internet_template">
    <li class="category-type">
        <a href="/product/callplan?prod_id={{listData.PRID}}" class="link tv_internet-element list-data" data-id="{{listData.DOCID}}" data-category="tv_internet" data-tit="{{removeTag listData.PROD_NM}}">
            <div class="products-titleinfo">
                <p class="title">{{{listData.PROD_NM}}}</p>
                <p class="info">
                    {{#isNaN listData.BAS_FEE_INFO }}
                    <span class="money">{{listData.BAS_FEE_INFO}}</span>
                    {{else}}
                    월<span class="money">{{currencyComma listData.BAS_FEE_INFO}}</span>원
                    {{/isNaN}}
                </p>
            </div>
            {{#ifCond listData.PROD_BAS_BENF_CTT '!==' ''}}
            <p class="products-detailitext">{{{listData.PROD_BAS_BENF_CTT}}}</p>
            {{/ifCond}}
            <p class="products-detailinfo">{{{listData.PROD_SMRY_DESC}}}</p>
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="troaming_template">
    <li class="category-type">
        <a class="link troaming-element list-data" href="/product/callplan?prod_id={{listData.PRID}}" data-id="{{listData.DOCID}}" data-category="troaming" data-tit="{{removeTag listData.PROD_NM}}">
            <div class="products-titleinfo">
                <p class="title">{{{listData.PROD_NM}}}</p>
                <p class="info">
                    {{#isNaN listData.BAS_FEE_INFO }}
                    <span class="money">{{listData.BAS_FEE_INFO}}</span>
                    {{else}}
                    <span class="money">{{currencyComma listData.BAS_FEE_INFO}}</span>원
                    {{/isNaN}}
                </p>
            </div>
            <div class="taglist-wrap">
                {{#each listData.METATAG}}
                {{#ifCond this '!==' ''}}
                <p class="tag-text">#{{{this}}}</p>
                {{/ifCond}}
                {{/each}}
            </div>
            <p class="products-detailinfo">{{{listData.PROD_SMRY_DESC}}}</p>
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="tapp_template">
    <li>
        <button class="tapp-element list-data" href="/product/apps/app?appId={{listData.PRID}}" data-id="{{listData.DOCID}}" data-category="tapp" data-tit="{{removeTag listData.PROD_NM}}">
            <div class="app-img"><img src="{{CDN}}{{listData.IMG}}" alt="{{removeTag listData.PROD_NM}}"></div>
            <span class="txt">{{{listData.PROD_NM}}}</span>
        </button>
    </li>
</script>

<script id="direct_template" type="text/x-handlebars-template">
    <li>
        <a class="direct-element list-data" title="새창열림" href="{{listData.linkUrl}}" data-id="{{listData.DOCID}}" data-category="direct" data-tit="{{removeTag listData.PRODUCT_NM}}">
            <div class="img"><img src="{{listData.IMG}}" alt="{{listData.IMG_ALT}}"></div>
            <div class="cont">
                <div class="tit">{{{listData.PRODUCT_NM}}}</div>
                <div class="price">{{currencyComma listData.SALE_PRICE}}원
                    {{#ifCond listData.TYPE '===' 'shopmobile'}}
                    ~/월
                    {{/ifCond}}
                </div>
                {{#ifCond listData.TYPE '===' 'shopacc'}}
                <span class="price2">{{currencyComma listData.PRODUCT_PRICE}}원</span>
                {{/ifCond}}
            </div>
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="tmembership_template">
    <li>
        <a class="link tmembership-element list-data" href="/membership/benefit/brand-benefit?brandCd={{listData.DOCID}}&cateCd={{listData.CATE_CD}}" title="{{removeTag listData.BRAND_NM}}" data-id="{{listData.DOCID}}" data-category="tmembership" data-tit="{{removeTag listData.BRAND_NM}}">
            <div class="img"><img src="{{{listData.APP_ICO_IMG_URL}}}" alt="{{removeTag listData.BRAND_NM}}"></div>
            <div class="cont">
                <div class="tit">{{{listData.BRAND_NM}}}</div>
                <div class="txt1">{{{listData.CATE_NAME}}}</div>
            </div>
        </a>
    </li>
</script>

<script id="event_template" type="text/x-handlebars-template">
    <li>
        <a href="/tevent/detail?id={{listData.DOCID}}" class="event-datail event-element list-data" title="이벤트 상세페이지 보기" data-id="{{listData.DOCID}}" data-category="event" data-tit="{{removeTag listData.PR_NM}}">
            <img src="{{CDN}}{{listData.FILE_PATH}}" alt="{{{removeTag listData.PR_NM}}}">
        </a>
        <div class="event-info">
            <span class="info-date">{{{listData.PR_STA_DT}}}~{{{listData.PR_END_DT}}}</span>
            {{#ifCond listData.PR_TYP_CD '!==' 'N'}}
            <span class="info-type">응모형</span>
            {{/ifCond}}
            <span class="info-day"></span>
        </div>
    </li>
</script>

<script type="text/x-handlebars-template" id="sale_template">
    <li class="category-type">
        <button class="list in-img sale-element list-data link" type="button" href="/product/callplan?prod_id={{listData.PRID}}" data-id="{{listData.DOCID}}" data-category="sale" data-tit="{{removeTag listData.PROD_NM}}">
            <div class="text-field">
                <h3 class="title">{{removeTag listData.PROD_NM}}</h3>
                <p class="text">{{removeTag listData.PROD_SMRY_DESC}}</p>
            </div>
            <div class="tag-field">
                {{#each listData.METATAG}}
                {{#ifCond this '!==' ''}}
                <span class="tag">#{{removeTag this}}</span>
                {{/ifCond}}
                {{/each}}
            </div>
            <div class="img-field"><img src="{{CDN}}{{listData.IMG}}" alt="{{removeTag listData.PROD_NM}}"></div>
        </button>
    </li>
</script>

<script type="text/x-handlebars-template" id="as_outlet_template">
    <li>
        <div class="b-cont">
            {{#ifCond listData.TYPE '===' 'as'}}
                <a class="bt-t as_outlet-element list-data" href="/customer/agentsearch/repair-detail?code={{listData.DOCID}}" data-id="{{listData.DOCID}}" data-category="as_outlet" data-tit="{{removeTag listData.STORE_NAME}}">
            {{else}}
                <a class="bt-t as_outlet-element list-data" href="/customer/agentsearch/detail?code={{listData.DOCID}}" data-id="{{listData.DOCID}}" data-category="as_outlet" data-tit="{{removeTag listData.STORE_NAME}}">
            {{/ifCond}}
                <strong class="ti">{{{listData.STORE_NAME}}}</strong>
                <span class="tx">{{{listData.SEARCH_ADDR}}}<br>({{{listData.JIBUN_ADDR}}})</span>
                <a href="tel:{{removeTag listData.TEL}}" class="tel">{{{listData.TEL}}}</a>
            </a>
        </div>
    </li>
</script>

<script type="text/x-handlebars-template" id="question_template">
    <li>
        <a href="/customer/faq/view?category={{listData.CATEGORY}}&faq_Id={{listData.DOCID}}" class="b-cont question-element list-data" data-id="{{listData.DOCID}}" data-category="question" data-tit="{{removeTag listData.INQ_CTT}}">
            <strong class="ti">{{{listData.INQ_CTT}}}</strong>
            <span class="tx">{{{listData.CATEGORY}}}</span>
        </a>
    </li>
</script>

<script id="notice_template" type="text/x-handlebars-template">
    <li>
        <a class="b-cont notice-element list-data" href="/customer/svc-info/notice/view?ntcId={{replace listData.DOCID '[^0-9.]' ''}}" data-id="{{listData.DOCID}}" data-category="notice" data-tit="{{removeTag listData.NTC_TIT_NM}}">
            {{{listData.NTC_TIT_NM}}}
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="prevent_template">
    <li>
        <a class="b-cont prevent-element list-data" href="/customer/damage-info/warning/view?icntsId={{listData.DOCID}}" data-id="{{listData.DOCID}}" data-category="prevent" data-tit="{{removeTag listData.ICNTS_TIT_NM}}">
            {{{listData.ICNTS_TIT_NM}}}
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="manner_template">
    <li>
        <a class="b-cont manner-element list-data" href="/customer/faq/do-like-this?id={{listData.DOCID}}" data-id="{{listData.DOCID}}" data-category="manner" data-tit="{{removeTag listData.ICNTS_TIT_NM}}">
            {{{listData.ICNTS_TIT_NM}}}
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="serviceInfo_template">
    <li>
        <a class="b-cont serviceInfo-element list-data" href="/customer/svc-info/service/detail?code={{listData.DOCID}}" data-id="{{listData.DOCID}}" data-category="serviceInfo" data-tit="{{removeTag listData.ICNTS_TIT_NM}}">
            <strong class="ti">{{{listData.ICNTS_TIT_NM}}}</strong>
            <span class="tx">{{{listData.ICTG_PATH}}}</span>
        </a>
    </li>
</script>

<script id="siteInfo_template" type="text/x-handlebars-template">
    <li>
        <a class="b-cont siteInfo-element list-data" href="/customer/svc-info/site/detail?code={{listData.DOCID}}" data-id="{{listData.DOCID}}" data-category="siteInfo" data-tit="{{removeTag listData.ICNTS_TIT_NM}}">
            <span class="img-box"><img class="lte" src="{{CDN}}{{listData.THMB_IMG_PATH_NM}}" alt="{{listData.THMB_IMG_ALT_CTT}}"></span>
            <strong class="ti">{{{listData.ICNTS_TIT_NM}}}</strong>
            <span class="tx">{{{listData.ICTG_PATH}}}</span>
        </a>
    </li>
</script>
