<%#
* @file customer.svc-info.notice.html
* @author Ji Hun Yang (jihun202@sk.com)
* @since 2018.10.23
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
  <!-- #skip_navigation -->
  <div id="skipNav" class="skip_navi">
    <ul>
      <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
  </div>
  <!--// #skip_navigation -->
  <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <%- include('../../../../common/views/components/header.component.html', { title: '공지사항', svcInfo: svcInfo }); %>
    <!-- #contents -->
    <div id="contents" class="container-wrap">
      <h2 class="blind">내용</h2>
      <div class="container">

        <!-- .cont-box -->
        <div class="cont-box nogaps noborder topborder">
          <div class="ti-caption-gray">
            <button class="bt-select fe-btn_category" aria-haspopup="true" title="카테고리 선택"><%= categoryLabel %></button>
          </div>
        </div>
        <!--// .cont-box -->

        <!-- .cont-box -->
        <div class="cont-box nogaps">
          <!-- .accordion -->
          <div class="widget">
            <div class="widget-box accordion">
              <div class="acco-cover">

                <div class="acco-style acco-notice">
                  <!--공지사항 리스트-->
                  <ul class="acco-list fe-list">
                    <% for (var i in data.list) { %>
                    <li class="acco-box" data-ntc_id="<%= data.list[i].ntcId %>">
                      <div class="acco-tit <%= data.list[i].itemClass %>"><!-- new : 새로운 글 뱃지 --> <!-- impo : 중요 공지 -->
                        <button role="button" aria-pressed="false">
                          <span class="acco-notice-tit">
                            <%= data.list[i].title %>
                            <% if ( data.list[i].itemClass.indexOf('new') !== -1 ) { %>
                            <span class="blind">새글</span>
                            <% } %>
                          </span>
                          <% if (data.list[i].type) { %>
                          <span class="acco-notice-type"><%= data.list[i].type %></span>
                          <% } %>
                          <span class="acco-notice-date"><%= data.list[i].date %></span>
                        </button>
                      </div>
                      <div class="acco-cont">
                        <div class="notice-txt">
                          <% if (data.list[i].content) { %>
                          <%- data.list[i].content %>
                          <% } %>
                        </div>
                      </div>
                    </li>
                    <% } %>
                  </ul>
                  <!--//공지사항 리스트-->
                  <% if (paging.needPaging) { %>
                  <div class="paging-wrap top-line mt0">
                    <div class="paging">
                      <% if (paging.totalPage > 3) { %>
                        <% if (paging.curPage.toString() === '1') { %>
                        <a href="javascript:void(0)" role="button" class="first disabled" aria-hidden="true"><span class="pg-blind">처음 페이지로 이동</span></a><!-- 비활성화시 disabled 클래스 추가 -->
                        <% } else { %>
                        <a href="<%= paging.uri%>?category=<%= category %>&page=1" role="button" class="first"><span class="pg-blind">처음 페이지로 이동</span></a><!-- 비활성화시 disabled 클래스 추가 -->
                        <% } %>
                      <% } %>
                      <% if (paging.curPage.toString() === '1') { %>
                      <a href="javascript:void(0)" role="button" class="prev disabled" aria-hidden="true"><span class="pg-blind">이전 페이지로 이동</span></a>
                      <% } else { %>
                      <a href="<%= paging.uri%>?category=<%= category %>&page=<%= (parseInt(paging.curPage) - 1) %>" role="button" class="prev"><span class="pg-blind">이전 페이지로 이동</span></a>
                      <% } %>
                      <% for ( var i = paging.startNum; i <= paging.endNum; i++) { %>
                      <a title="<%= i %>페이지 <%= (paging.curPage == i) ? '현재 페이지' : '' %>" href="<%= paging.uri%>?category=<%= category %>&page=<%= i %>" role="button" class="<%= (paging.curPage == i) ? 'active' : '' %>" aria-selected="<%= (paging.curPage == i) ? 'true' : 'false' %>"><span aria-hidden="true"><%= i %></span></a>
                      <% } %>
                      <% if (paging.curPage.toString() === paging.totalPage.toString()) { %>
                      <a href="javascript:void(0)" role="button" class="next disabled" aria-hidden="true"><span class="pg-blind">다음 페이지로 이동</span></a>
                      <% } else { %>
                      <a href="<%= paging.uri%>?category=<%= category %>&page=<%= (parseInt(paging.curPage) + 1) %>" role="button" class="next"><span class="pg-blind">다음 페이지로 이동</span></a>
                      <% } %>
                      <% if (paging.totalPage > 3) { %>
                        <% if (paging.curPage.toString() === paging.totalPage.toString()) { %>
                        <a href="javascript:void(0)" role="button" class="last disabled" aria-hidden="true"><span class="pg-blind">마지막 페이지로 이동</span></a><!-- 비활성화시 disabled 클래스 추가 -->
                        <% } else { %>
                        <a href="<%= paging.uri%>?category=<%= category %>&page=<%= paging.totalPage %>" role="button" class="last"><span class="pg-blind">마지막 페이지로 이동</span></a><!-- 비활성화시 disabled 클래스 추가 -->
                        <% } %>
                      <% } %>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>

          <!--// .accordion -->
        </div>
        <!--// .cont-box -->

      </div>
    </div>
    <!--// #contents -->
    <!-- #footer -->
    <footer id="fe-all-menu">
      <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </footer>
    <!--// #footer -->
  </div>
</body>
<% include ../../components/javascript.component.html %>
<% include ../../components/customer.notice.item.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CustomerSvcInfoNotice($('.wrap'), '<%= category %>', '<%= ntcId %>', '<%= tworldChannel %>');
  });
</script>
<% include ../../components/end.component.html %>