<%#
* MenuName: 할인/혜택 > 나의 할인 혜택 > 레인보우 포인트 > 포인트 양도
* FileName: benefit.my-benefit.rainbow-point.transfer.html
* Author: 이정민 (skt.p130713@partner.sk.com)
* Date: 2018.10.30
* Summary: 레인보우 포인트 포인트 양도 내역 조회 화면
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<!-- #skip_navigation -->
<!--<div id="skipNav" class="skip_navi">-->
    <!--<ul>-->
        <!--<li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!--// #skip_navigation -->
<div id="fe-my-benefit-rainbow-point-transfer" class="wrap" data-line-to-give="<%= lineToGiveData %>" data-lines-to-receive="<%= linesToReceiveData %>" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="popup-page nobg tw-popup"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <%- include('../components/header.component.html', { title: '포인트 양도', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="charge-guide-wrap">
                        <div class="charge-cont">
                            <span class="sub-disc01">레인보우 포인트</span>
                            <span class="tit tx-blue"><span class="charge-txt" data-point-to-give="<%= lineToGive.point %>"><%= lineToGive.showPoint %></span>P</span>
                        </div>
                    </div>
                    <div class="option-box point-type">
                        <div class="dropdown-wrap">
                            <button class="bt-dropdown big tx-bold fe-btn-line-to-give" title="양도하는 회선" aria-haspopup="true" data-svc-mgmt-num="<%= lineToGive.svcMgmtNum %>" style="cursor: default;">
                                <span class="fe-svc-num"><%= lineToGive.showSvcNum %></span>
                            </button> 에서
                        </div>
                        <div class="dropdown-wrap">
                            <button class="bt-dropdown big tx-bold fe-btn-line-to-receive" title="양수하는 회선" aria-haspopup="true"data-svc-mgmt-num="<%= lineToReceive.svcMgmtNum %>">
                                <span class="fe-svc-num"><%= lineToReceive.showSvcNum %></span>
                            </button> 으로
                        </div>
                        <div class="inputbox">
                                <span class="input">
                                    <input type="text" placeholder="양도하실 포인트" maxlength="" title="양도하실 포인트 입력" class="fe-input-point" onInput="return Tw.InputHelper.inputNumberOnly(this);" >
                                    <!-- <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button> -->
                                </span> 양도하기
                        </div>
                    </div>
                    <ul class="bt-slice mt30">
                        <li class="bt-blue1">
                            <button class="fe-btn-preview">양도하기</button>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->

                <div class="ti-caption-gray">
                    <h3 class="tit">양도내역</h3>
                </div>
                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <% if (histories.length > 0) { %>
                        <div class="history-list type3">
                            <ul>
                                <% for (var i = 0; i < histories.length; i++) { %>
                                <li>
                                    <div class="li-elem">
                                        <div class="title-box">
                                            <span class="sub-tit03">
                                                <span class="elem"><span class="blind">양도포인트</span><span class="tx-bold"><%= histories[i].showPoint %></span>P</span>
                                                <span class="elem"><span class="blind">처리일시</span><%= histories[i].showOpDt %></span>
                                            </span>
                                        </div>
                                        <% if (histories[i].cancelYn === 'Y') { %>
                                        <span class="tx-cont"><button class="bt-link-tx underline bt-cancel" data-ser-num="<%= histories[i].serNum %>">취소</button></span>
                                        <% } %>
                                    </div>
                                    <div class="basic-list">
                                        <ul>
                                            <li>
                                                <span class="title" id="numlabel01">포인트를 받은 회선</span>
                                                <span class="tx-number" aria-labelledby="numlabel01"><%= histories[i].showBefrSvcNum %></span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <% if (paging.needPaging) { %>
                        <div class="paging-wrap top-line type1">
                            <div class="paging">
                                <% if (paging.prevPageIdx) { %>
                                <a href="<%= paging.uri%>?curPage=<%= paging.prevPageIdx %>" role="button" class="prev"><span class="pg-blind">이전 페이지로 이동</span></a>
                                <% } %>
                                <% for ( var i = paging.startNum; i <= paging.endNum; i++) { %>
                                <a href="<%= paging.uri%>?curPage=<%= i %>" role="button" class="<%= (paging.curPage == i) ? 'active' : '' %>" aria-selected="<%= (paging.curPage == i) ? 'true' : 'false' %>" ><%= i %></a>
                                <% } %>
                                <% if (paging.nextPageIdx) { %>
                                <a href="<%= paging.uri%>?curPage=<%= paging.nextPageIdx %>" role="button" class="next disabled"><span class="pg-blind">다음 페이지로 이동</span></a><!-- 비활성화시 disabled 클래스 추가 -->
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    <% } else { %>
                        <div class="contents-empty">
                            <span class="ico type1"></span>
                            <p class="desc">내역이 없습니다.</p>
                        </div>
                    <% } %>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true">
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li>
                            <button type="button" class="btn-tip" aria-haspopup="true" id="BS_01_01_04_tip_01">
                                이용안내<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn-tip" aria-haspopup="true" id="BS_01_01_04_tip_02">
                                양도/양수 가능 청소년 기준<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step fe-common-back">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->
</div>
<script>
  $(document).ready(function () {
    new Tw.BenefitMyBenefitRainbowPointTransfer($('#fe-my-benefit-rainbow-point-transfer'));
  });
</script>
<% include ../../components/end.component.html %>
