<%#
* MenuName: 나의 가입정보 > 서브메인 (MS)
* @file myt-join.submain.html
* @author Kim InHwan (skt.p132150@partner.sk.com)
* @since 2018.10.05
_%>
<%- include('../components/start.component.html', { pageInfo: data.pageInfo, adv: 1 }); %>
<body class="tod-white">
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%- data.pageInfo.menuId %>">
        <%- include('../components/header.component.html', { title: '나의 가입 정보', svcInfo: data.svcInfo,  pageInfo: data.pageInfo }); _%>
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container tod-submain" data-id="submain-container"
                 style="padding-bottom: 1px; margin-bottom: -1.25rem;<%= data.isIos && data.isEasyLogin? 'padding-top: 1px;' : ''; %>">
                <%- include('../../../common/views/components/common.select-line.component.html', { svcInfo: data.svcInfo, xtEid: {single: "CMMA_A3_B13-29", multiple : "CMMA_A3_B13-28"} }); _%>
                <!-- 기본가입정보 : start -->
                <%- include('../components/submain/myt-join.submain.adv.more-info.html', data) _%>
                <!-- 기본가입정보 : end -->
                <% if (data.type !== 2) { %>
                <!-- 약정할인/기기상환, 무약정플랜 :start -->
                <%- include('../components/submain/myt-join.submain.adv.dis-info.html', data) _%>
                <!-- 약정할인/기기상환, 무약정플랜 :end -->
                <% } %>
                <%_ if (data.isAddProduct) { _%>
                <!-- 나의 요금제 및 부가상품 정보 : start -->
                <%- include('../components/submain/myt-join.submain.adv.addition-info.html', data) _%>
                <!-- 나의 요금제 및 부가상품 정보 : end -->
                <%_ } _%>
                <% if (data.type !== 1 && data.type !== 2) { %>
                <!-- 혜택/할인 (PPS, 유선제외) :start -->
                <%- include('../components/submain/myt-join.submain.adv.benefit-info.html', data) _%>
                <!-- 혜택/할인 :end -->
                <% } %>
                <!-- 납부/청구 :start -->
                <%_ if (data.paidBillInfo) { _%>
                <%- include('../components/submain/myt-join.submain.adv.paid-info.html', data) _%>
                <%_ } _%>
                <!-- 납부/청구 :end -->
                <!-- 가입배너 :start -->
                <div class="submain-banner">
                    <a href="/product/wireplan/join/reservation?type_cd=cellphone"
                       data-xt_eid="<%= data.xtCode.reservation %>" data-xt_csid="NO" data-xt_action="BC">
                        <!-- 201207 [OP002-10282] 수정08 : 텍스트 수정-->
                        <p class="banner-comment">
                            <strong>가입상담을 예약하시겠어요?</strong>
                            <span class="bsub-txt">상담사가 직접 연락드립니다.</span>
                        </p>
                        <!-- //201207 [OP002-10282] 수정08 : 텍스트 수정-->
                        <img src="<%= CDN %>/img/myt/submain-banner02.png" alt="">
                    </a>
                </div>
                <!-- 가입배너 :start -->
                <!-- 자녀회선 :start -->
                <%_ if(data.childLine) { _%>
                <%- include('../components/submain/myt-join.submain.adv.child-line.html', data) _%>
                <%_ } _%>
                <!-- 자녀회선 :end -->
                <%_ if(!data.isEasyLogin && (data.type === 0 || data.type === 2)) { _%>
                <!-- 조회/신청 서비스 : start  무선/유선 -->
                <%- include('../components/submain/myt-join.submain.adv.service.html', data) _%>
                <!-- 조회/신청 서비스 : end -->
                <%_ } _%>
                <!-- 배너 영역 :start -->
                <div class="submain-swipe-banner submain-swipe" data-id="banners">
                    <div class="main-slide-banner slide-pagingtype pg-rtop">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box">
                                <div class="slider-box">
                                    <ul class="slider" data-id="banner-list" data-location="M"></ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!-- 배너 영역 :end -->
                <!-- 201201 [OP002-10282] 수정03 -->
                <section class="cont-card">
                    <div class="section-inner">
                        <div class="head-tit">다른 메뉴를 찾고 계신가요?</div>
                        <div class="card-cont">
                            <div class="small-ico-list-wrap">
                                <ul class="small-ico-list">
                                    <%_ data.otherMenuListTemp.forEach((item) => { _%>
                                    <li class="ico-item">
                                        <% if (item.event) { %>
                                        <a href="#" data-id="<%= item.url %>" data-xt_eid="<%= item.xt_eid %>" data-xt_csid="NO" data-xt_action="BC">
                                            <i class="ico"><img src="<%= CDN %>/img/myt/<%= item.icon %>" alt=""></i><%= item.name %>
                                        </a>
                                        <% } else { %>
                                        <a href="<%= item.url %>" data-xt_eid="<%= item.xt_eid %>" data-xt_csid="NO" data-xt_action="BC">
                                            <i class="ico"><img src="<%= CDN %>/img/myt/<%= item.icon %>" alt=""></i><%= item.name %>
                                        </a>
                                        <% } %>
                                    </li>
                                    <%_ }); _%>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- //201201 [OP002-10282] 수정03 -->
            </div>
        </div>
    <!--// #contents -->
    <%- include('../../../common/views/components/footer.component.html', { svcInfo: data.svcInfo, pageInfo: data.pageInfo }); _%>
</div>
<%- include('../components/javascript.component.html') _%>
<script>
    $(document).ready(function () {
        new Tw.MytJoinAdvSubMain({
            $element: $('[data-id=submain-container]'),
            data: JSON.parse('<%- JSON.stringify(data) %>')
        });
    });
</script>
</body>
<%- include('../components/end.component.html') _%>
