<%#
* FileName: myt-fare.submain.html
* Author: 김인환 (skt.p132150@partner.sk.com)
* Date: 2018.10.05
%>

<% include ../components/start.component.html %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>

<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <%- include('../../../common/views/components/header.component.html', {
            title: '나의 가입 정보', svcInfo: data.svcInfo, option: { line: true } }); %>
    <!--// #header -->

    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container" data-id="submain-container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="myinfo-wrap">
                    <div class="myinfo-cont">
                        <div class="subtitle">
                            <span class="name"><span class="blind">디바이스 펜네임</span><%= data.svcInfo.eqpMdlNm %></span>
                            <button class="nickname-ico"><span class="blind">닉네임 등록 페이지 이동</span></button>
                        </div>
                        <div class="title">
                            <span><span class="blind">가입자명</span><%= data.svcInfo.mbrNm %></span>
                            <span><span class="blind">회선정보</span><%= data.svcInfo.svcNum %></span>
                        </div>
                        <span class="subtitle2">
                            <span class="blind">현재 가입되어 있는 상품 정보</span>
                            <%= data.svcInfo.prodNm %>
                        </span>
                    </div>
                    <div class="ico-wrap">
                        <span class="ico-ill-type1"></span>
                    </div>

                    <div class="info-detail">
                        <!-- 더보기 -->
                        <div class="widget">
                            <div class="widget-box toggle">
                                <button class="bt-toggle bt-detail" role="button" aria-pressed="false" title="상세 정보 더보기">더보기</button>
                                <div class="toggler">
                                    <div class="basic-list">
                                        <ul>
                                            <%- include('../components/submain/myt-join.submain.more-info.html', data) %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// 더보기 -->
                    </div>
                </div>
                <ul class="bt-slice mt36">
                    <li class="bt-white2">
                        <button data-id="my-plan">나의 요금제</button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->
            <%- include('../components/submain/myt-join.submain.prod-info.html', data) %>
            <% if (data.type === 0) { %>
                <% if (data.myPausedState && data.myPausedState.svcStSd) { %>
                    <%- include('../components/submain/myt-join.submain.pause-state.html', data) %>
                <% } %>
            <% } else if (data.type === 2) { %>
                <%- include('../components/submain/myt-join.submain.wire-more-info.html', data) %>
            <% } %>

            <% if (data.type !== 1) { %>
                <% if (data.otherLines.length > 0) { %>
                <hr class="cont-sp type1" aria-hidden="true"/>
                <!-- .cont-box -->
                <div class="cont-box nogaps" data-id="other-lines">
                    <p class="list-comp-title">나의 다른 회선 정보</p>
                    <ul class="list-comp-lineinfo">
                        <% var length = (data.otherLines.length > 20 ? 20 : data.otherLines.length); %>
                        <% for (var i=0; i < length; i++) { %>
                        <%- include('../components/submain/myt-join.submain.other-line.html', { data: data.otherLines[i] }); %>
                        <% } %>
                    </ul>
                    <% if (length === 20) { %>
                    <!-- 다른 회선이 총 20개 이상인 경우 -->
                    <div class="bt-more">
                        <button>더보기</button>
                    </div>
                    <% } %>
                </div>
                <!-- .cont-box -->
                <% } %>
            <% } %>

            <div class="cont-box nogaps noborder">
                <ul class="link-long-list nobg">
                    <li>
                        <div class="link-long">
                            <button>
                                <span class="ico-thum"></span>페이지 바로가기 노출 영역
                                <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <button>
                                <span class="ico-thum"></span>페이지 바로가기 노출 영역
                                <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="link-long">
                            <button><span class="ico-thum"></span>페이지 바로가기 노출 영역
                                <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../common/views/components/footer.component.html', { svcInfo: data.svcInfo }); %>
</div>
<% include ../components/javascript.component.html %>
</body>
<script>
    // client 작업 중
    var data = '<%- JSON.stringify(data) %>';
    $(document).ready(function () {
      new Tw.MyTJoinSubMain({
        $element: $('[data-id=submain-container]'),
        data: JSON.parse(data)
      });
    });
</script>
<% include ../components/end.component.html %>
