<%#
* FileName: myt-fare.bill.contents.history.html
* Author: Lee kirim (kirim@sk.com)
* Date: 2018.09.17
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->

    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <%- include('../../../../../common/views/components/header.component.html', { title: '콘텐츠 이용요금내역'}); %>

        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <div class="container">
                <div class='fe-list-wrap'>
                    <hr class="cont-sp type1" aria-hidden="true" />
                    <div class="cont-box">
						<div class="clause-cont-view">
							<em class="tit">콘텐츠이용료 이용내역 서비스 안내</em>
							<ul class="round-dot-list">
								<li>고객님께서는 이용하신&nbsp;<span class="validation-txt">콘텐츠이용료 이용내역을 조회</span>&nbsp;하실 수 있습니다.</li>
                                <li>구글 플레이 스토어, 원스토어 등에서 구매하신 내역으로, 요금 안내서에서 '콘텐츠 이용료' 항목으로 노출됩니다.</li>
                                <li>SMS 인증 또는 범용공인인증 후 조회하실 수 있습니다.</li>
							</ul>
                        </div>
                        <div class="mt30 btn-al-center">
                            <button type="button" class="fe-show-list btn-round2 btn-style4">조회하기</button>                        
                        </div>
                    </div>                    
                </div>

                <!--//-->

                <hr class="cont-sp type1" aria-hidden="true"/>
                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <h3 class="tx-bold">꼭 확인해 주세요</h3>
                    <ul class="noti-list02">
                        <% data.noticeInfo.forEach(function(info){ %>
                            <li data-list-id="<%=info.link%>">
                                <button aria-haspopup="true" class="tip-view-btn" id="<%=info.link%>" title="정보보기"><%=info.title%><span class="tip-view"><%=info.title%> tip</span></button>
                            </li>
                        <% }); %>
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>

        </div>

        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>

    <% include ../../components/javascript.component.html %>
    <script>
      $(document).ready(function () {
          new Tw.MyTFareBillContentsHitstory($(document), '<%- JSON.stringify(data)%>');
      });
    </script>
    <script id="fe-list-wrap" type="text/x-handlebars-template">
        <div class="fe-list-wrap">
            <div class="ti-caption-gray">
                <button class="bt-select fe-month-selector" title="월 선택">{{curMonth}}</button>
                <span class="num">총 <em>{{totalCnt}}</em>건</span>
            </div>
            <!-- .cont-box -->
            {{#if list.length}}
            <div class="cont-box nogaps" id="fe-list-wrapper">
                <div class="cont-use-detail">
                    <ul class="list-inner fe-lists">
                        {{>list list=list}}
                    </ul>
                    <div class="bt-more">
                        <button class="fe-more-btn none" aria-hidden="true">더 보기</button>
                    </div>
                </div>
            </div>
            {{else}}
            {{>empty}}
            {{/if}}
            <!--// .cont-box -->
        </div>
    </script>
    <script id="list-default" type="text/x-handlebars-template">
        {{#each list}}
        <li class="fe-yet-evented">
            <button title="상세내역 보기" class="fe-detail-link" data-list-id="{{listId}}">
                <dl>
                    <dt>
                        <p class="sv-name"><span class="blind">서비스명</span>{{useServiceNm}}</p>
                        <span class="sv-time"><span class="blind">결제일</span>{{FullDate}}</span>
                    </dt>
                    <dd><span class="blind">결제금액</span><span class="str">{{useAmt}}</span>원</dd>
                </dl>
            </button>
        </li>
        {{/each}}
    </script>

    <script id="list-empty" type="text/x-handlebars-template">
        <div class="cont-box nogaps-hoz">
            <div class="result-none type2">이용 내역이 없습니다.</div>
        </div>
    </script>
</body>
<% include ../../components/end.component.html %>
