<%#
* FileName: myt-fare.bill.contents.history.html
* Author: Lee kirim (kirim@sk.com)
* Date: 2018. 11. 29
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->

    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <%- include('../../../../../common/views/components/header.component.html', { title: '상세내역'}); %>

        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- payment-detail-wrap -->
                <div class="payment-detail-wrap" id="fe-detail-wrap">
					
				</div>
                <!-- payment-detail-wrap //-->
                <p class="payment-detail-btm-info">
                        콘텐츠이용료 주요 고객센터 안내
                </p>
                <ul class="custom-guide">
                    <li>
                        <dl>
                            <dt>구글플레이스토어</dt>
                            <dd>080-234-0051(무료)</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>원스토어</dt>
                            <dd>1500-6573(유료)</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>삼성스토어</dt>
                            <dd>1588-3366(유료)</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>옥수수</dt>
                            <dd>080-8282-106(무료)</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>멜론</dt>
                            <dd>1566-7727(유료)</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>유튜브 레드</dt>
                            <dd>유튜브(YouTube)하단 도움말→의견 보내기
                                <a href="https://support.google.com/youtube/contact/commerce_contact?hl=ko&cfsi=subs_red_2 " class="fe-link-external" target="_blank" title="새창열림">고객센터 바로가기</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <p class="payment-detail-btm-info">
					 고객정보 보호를 위해 서비스 명의 일부가 *로 표시되며, *로 가려진 정보는 사용처에서 확인 하실 수 있습니다.
				</p>
            </div>

        </div>

        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>

    <% include ../../components/javascript.component.html %>
    <script>
      $(document).ready(function () {
          new Tw.MyTFareBillContentsHitstoryDetail($(document), '<%- JSON.stringify(data)%>');
      });
    </script>
    <script id="fe-detail-contents" type="text/x-handlebars-template">
        <div class="payment-detail-box">
            <div class="detail-inner">
                <div class="detail-list">
                    <ul>
                        <li>
                            <div>
                                <span class="title">사용처</span>
                                <span class="tx-cont">{{useServiceCompany}}</span>
                            </div>
                            <div>
                                <ul class="inner-list">
                                    <li>
                                        <span class="title">서비스명</span>
                                        <span class="tx-cont">{{useServiceNm}}</span>
                                    </li>
                                    <li>
                                        <span class="title">구분</span>
                                        <span class="tx-cont">{{payFlag}}</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <span class="title">금액</span>
                            <span class="tx-cont">{{useAmt}} <span class="tx-regular">원</span></span>
                        </li>
                        <li>
                            <span class="title">공제액</span>
                            <span class="tx-cont">{{dedAmt}} <span class="tx-regular">원</span></span>
                        </li>
                        <li>
                            <span class="title">일시</span>
                            <span class="tx-cont">{{FullDate}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </script>

    <script id="fe-empty-contents" type="text/x-handlebars-template">
        <div class="cont-box nogaps-hoz">
            <div class="result-none type2">상세 내역을 조회할 수 없습니다.</div>
        </div>
    </script>
    
</body>
<% include ../../components/end.component.html %>
