<!-- og-5mktp-benefit-wrap -->
<div class="og-5mktp-benefit-wrap">
    <div class="cont-box nogaps-btm bgnone">
        <div class="headingbox-wrap">
            <div class="title">다른 혜택 보러가기</div>
        </div>
        <div class="productinfoscroll-box block-type slide-nopd">
            <!-- .widget -->
            <div class="widget">
                <div class="widget-box horizontal">
                    <div class="horizontal-slide slide-nopd">
                        <ul class="horizontal-list">
                            <li>
                                <a href="/common/util/5g-intro" class="product-info og-bnf-have-arr">
                                    <div class="title">초[超]시대,<br>생활이 되다<br>SKT 5GX</div>
                                </a>
                            </li>
                            <li>
                                <a href="/common/util/5g-intro/safe-life" class="product-info og-bnf-have-arr">
                                    <div class="title">초[超]시대의<br>안심이 되는<br>생활</div>
                                </a>
                            </li>
                            <li>
                                <a href="/common/util/5g-intro/amazing-life" class="product-info og-bnf-have-arr">
                                    <div class="title">초[超]시대의<br>놀라운 생활</div>
                                </a>
                            </li>
                            <li>
                                <a href="/common/util/5g-intro/enjoy-life" class="product-info og-bnf-have-arr">
                                    <div class="title">초[超]시대의<br>마음껏 누리는<br>생활</div>
                                </a>
                            </li>
                            <li>
                                <a href="/common/util/5g-intro/5gx-plan" class="product-info og-bnf-have-arr">
                                    <div class="title">초[超]시대 5GX!<br>데이터 무제한!<br>콘텐츠도 무제한!</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .widget -->
        </div>
    </div>
</div><!-- //og-5mktp-benefit-wrap -->

<% include ./5g.banner.component.html %>