<%#
* @file myt-join.suspend.status.html
* @author Hyeryoun Lee
* @since 2018-11-13
* 일시정지 신청현황(MS_03_05_03_01)
_%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); _%>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" id="fe-myt-join-suspend" data-menuId="<%= pageInfo.menuId %>">
        <%- include('../../../../../common/views/components/header.component.html', { title: '일시정지 신청현황', svcInfo: svcInfo}); _%>
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="charge-guide-wrap">
                        <div class="charge-cont">
                                <span class="sub-disc01">
                                    <span class="elem">회선번호</span>
                                </span>
                            <span class="tit-tgothic"><%- phoneNum %></span>
                            <span class="sub-disc04"><%= svcInfo.eqpMdlNm %></span>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->

                <%_ if (locals.status) { _%>
                <%- include('../../components/suspend/myt-join.suspend.status.temporal.html', status); _%>
                <%_ } _%>
                <%_ if (locals.progress) { _%>
                <%- include('../../components/suspend/myt-join.suspend.status.longterm.html', progress); _%>
                <%_ } _%>

                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <%_ if (!status || status.type === 'long-term' || status.isProgressing) { _%>
                        <li><button class="btn-tip" aria-haspopup="true" id="MS_03_05_03_01_tip_03">장기일시정지 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                        <%_ } else { _%>
                        <li><button class="btn-tip" aria-haspopup="true" id="MS_03_05_01_tip_06">일시정지 기간안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                        <li><button class="btn-tip" aria-haspopup="true" id="MS_03_05_01_tip_07">일시정지 요금안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                        <%_ } _%>
                    </ul>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// #contents -->
    </div>
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); _%>
    <% include ../../components/javascript.component.html _%>
    <script>
      $(document).ready(function () {
        new Tw.MyTJoinSuspendStatus($('#fe-myt-join-suspend'), <%- JSON.stringify({status, progress}) %>);
      });
    </script>
</body>
<% include ../../components/end.component.html _%>