<%#
* @file myt-join.suspend.html
* @author Hyeryoun Lee
* @since 2018-10-14
* 일시정지 신청/해제
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<!-- #skip_navigation -->
<div id="fe-myt-join-suspend" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <div class="popup-page nobg tw-popup fixed-bottom">
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '일시정지/해제', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
    <!--// #header -->
    <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps bgnone">
                    <!-- .component -->
                    <div class="component">
                        <div class="component-box tabs">
                            <div class="tab-area new01"><!-- 타입별 탭형태 변환 -->
                                <div class="tab-linker">
                                    <ul role="tablist">
                                        <li role="presentation"  aria-controls="tab1-tab" id="tab1">
                                            <a role="tab" aria-selected="true" href="#temporary" <% if(suspend.status) { %> class="disabled" <% } %> >일시정지</a>
                                        </li><!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                        <li role="presentation" aria-selected="false" aria-controls="tab2-tab" id="tab2">
                                            <a role="tab" aria-selected="false" href="#long-term"  >장기일시정지</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-contents">
                                    <ul>
                                        <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1" data-id="fe-tab-temporary">
                                            <hr class="cont-sp type1" aria-hidden="true"/>
                                            <div class="cont-box" data-suspend-state=<%= suspend.status %> >
                                                <div class="charge-guide-wrap">
                                                    <div class="charge-cont">
                                                        <span class="sub-disc01">
                                                            <span class="elem">회선번호</span>
                                                        </span>
                                                        <span class="tit-tgothic"><%= phoneNum %></span>
                                                        <span class="sub-disc04"><%= svcInfo.eqpMdlNm %></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if(suspend.status) { %>
                                            일시정지 중
                                            <% } else { %>
                                            <%- include('../../components/suspend/myt-join.suspend.temporal.content.html',
                                            {suspend, isApp}); %>
                                            <% }  %>
                                        </li>
                                        <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2" data-id="fe-tab-long-term">
                                            <hr class="cont-sp type1" aria-hidden="true"/>
                                            <div class="cont-box" data-suspend-state=<%= suspend.status %> >
                                                <div class="charge-guide-wrap">
                                                    <div class="charge-cont">
                                                        <span class="sub-disc01">
                                                            <span class="elem">회선번호</span>
                                                        </span>
                                                        <span class="tit-tgothic"><%= phoneNum %></span>
                                                        <span class="sub-disc04"><%= svcInfo.eqpMdlNm %></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <%- include('../../components/suspend/myt-join.suspend.longterm.content.html', {suspend, isApp}); %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .component -->
                    <footer id="fe-all-menu">
                    </footer>
                </div>

            </div>
        </div>
        <button class="prev-step fe-bt-back">취소</button>
    <!--// #contents -->
    </div>
</div>

<!--// #skip_navigation -->
<script>
  $(document).ready(function () {
    new Tw.MyTJoinSuspend($('#fe-myt-join-suspend'), <%- JSON.stringify({ suspend }) %> );
  });
</script>
<% include ../../components/end.component.html %>
