<%#
* @file test.cert-sms.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.12.17
%>

<%- include('../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- body -->
<body>
  <div class="wrap">
		<!-- .popup hbs -->
		<div class="popup-page tw-popup pb50">
			<!-- .container-wrap -->
			<div class="container-wrap">
				<h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
				<div class="container">
          <!-- chabot intro -->
          <!-- 200818 [OP002-7810] 수정_01 -->
					<div class="tod-chatbotIntro-img-wrap">
            <div class="img-wrap profile1"></div>
          </div>
          <!-- //200818 [OP002-7810] 수정_01 -->
          <div class="tod-chatbotIntro-tit-wrap">
						<div class="inner">
							<p class="tit"><strong>24시간 365일</strong> 이용하세요. </p>
							<p class="desc">
								<!-- 200818 [OP002-7810] 수정_02 -->
								<span class="profile2 tod-chatbot-img"></span>
								<!-- //200818 [OP002-7810] 수정_02 -->	
								<span class="txt">언제든지 모바일 T월드를 편하게<br>이용하실 수 있도록 도와드릴게요!</span>
							</p>
						</div>
          </div>
          <div class="tod-chatbotIntro-btn-wrap">
						<button type="button" class="btn-chabot-default"><span class="txt">챗봇 상담 시작하기</span></button>
						<!--
                        <a href="#" class="btn-chabot-default"><span class="txt">챗봇 상담 시작하기</span></a>
                        -->
						
					</div>
					<div class="tod-chatbotIntro-copy">
						<span class="txt">T 월드 챗봇 Ver. 0.1</span>
          </div>
          <!-- //chabot intro -->
				</div>
			</div>
			<!--// .container-wrap -->
			<!-- .popup-closeBtn -->
			<button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
			<!--// .popup-closeBtn -->
		</div>
		<!--// .popup hbs -->
	</div>
</body>
<% include ../components/javascript.component.html %>
<script>
  window.onload = function() {
    function animateSvg(elements, path, loop){
      var target = document.querySelectorAll(elements);

      bodymovin.loadAnimation({
        container: target[target.length - 1],
        path: path,
        renderer: 'svg',
        loop: loop,
        autoplay: true,
        rendererSettings: { progressiveLoad: false, }
      }).play();
    }

    animateSvg('.profile1', '<%= CDN %>/js/intro_start.json', true);
		animateSvg('.profile2', '<%= CDN %>/js/chatbot_1.json', false);
  }
</script>
<% include ../components/end.component.html %>