<script id="fe-home-do-like-this" type="text/x-handlebars-template">
    <% if(redisData.help && redisData.help.length > 0) { %>
    <!-- 이럴 땐 이렇게 하세요 -->
    <div class="section-box nogaps">
        <div class="main-tip-box box-type section-swiper-box">
            <a href="/customer/faq" type="button" class="stit tit">이럴 땐<br>이렇게 하세요</a>
            <!-- .widget -->
            <div class="widget">
                <div class="widget-box slider1">
                    <div class="slider-box">
                        <ul class="slider">
                            <% redisData.help.map((help) => { %>
                            <li>
                                <ul class="help-list">
                                    <% help.map((target) => { %>
                                    <li>
                                        <a data-url="/customer/faq/do-like-this?id=<%= target.icntsId %>" class="bt fe-home-internal" data-xt_eid="CMMA_A2_B6-112" data-xt_csid="NO" data-xt_action="BC">
                                            <span class="ico"><img src="<%= CDN %><%= target.mainExpsImgPathNm %>" alt="<%= target.mainExpsImgAltCtt %>"></span>
                                            <%- target.mainExpsTitNm %>
                                        </a>
                                    </li>
                                    <% }) %>
                                </ul>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// .widget -->
            <div class="btn-area">
                <a href="/customer/agentsearch" class="bt" data-xt_eid="CMMA_A2_B6-113" data-xt_csid="NO" data-xt_action="BC">매장 찾기</a>
                <a href="/customer/agentsearch/repair" class="bt" data-xt_eid="CMMA_A2_B6-114" data-xt_csid="NO" data-xt_action="BC">A/S센터 찾기</a>
            </div>
        </div>
    </div>
    <!-- //이럴 땐 이렇게 하세요 -->
    <% } %>
</script>