<div class="plan">
  <strong class="tit" data-tracker="V" data-tracker_tw_prod_id="<%- feePlanProd.prodId %>" data-tracker_tw_prod_nm="<%= feePlanProd.prodNm %>"><%= feePlanProd.prodNm %></strong>
  <span class="date">신청일: <%- feePlanProd.scrbDt %></span>
  <%# // NOTE: 해쉬 노출 안하기로 _%>
  <span class="val" data-hash="<%= feePlanProd.prodFltNm ? feePlanProd.prodFltNm : null %>">
    <%_ if (svcInfo.svcAttrCd === 'M2') { _%>
      <%# PPS인 경우 _%>
    <strong>상세참조</strong>
    <%_ } else { _%>
      <%# 모바일, T Pocket-Fi, T Login, T Wibro(?)인 경우 _%>
      <%_ if (feePlanProd.basFeeInfo) { _%>
        <%_ var basFeeInfo = feePlanProd.basFeeInfo; _%>
        <%_ if (basFeeInfo.isNaN) { _%>
    <strong><%= basFeeInfo.value %></strong>
        <%_ } else { _%>
    월정액(부가세 포함) <br /> <strong><%- basFeeInfo.value %>원</strong>
        <%_ } _%>
      <%_ } _%>
    <%_ } _%>
    </span>
</div>
<%_ if (feePlanProd.basOfrDataQtyCtt || feePlanProd.basOfrVcallTmsCtt || feePlanProd.basOfrCharCntCtt) { _%>
<div class="service-wrap">
  <div class="service">
    <%# PPS인 경우 _%>
    <%_ if (svcInfo.svcAttrCd === 'M2') { _%>
    <span class="sv-spec data">
      <i class="ico-phone-plan"></i><%= '기본제공금액조절사용' %>
    </span>
    <%_ } else { _%>
      <%_ if (feePlanProd.basOfrDataQtyCtt) { _%>
    <span class="sv-spec data">
      <i class="ico-data-plan"><span class="tod-blind">데이터</span></i><%- feePlanProd.basOfrDataQtyCtt.value.data ? (feePlanProd.basOfrDataQtyCtt.value.data + (feePlanProd.basOfrDataQtyCtt.isNaN ? '' : feePlanProd.basOfrDataQtyCtt.value.unit)) : feePlanProd.basOfrDataQtyCtt.value %>
    </span>
      <%_ } _%>
      <%# T-Pocket-Fi, T-Login 제외 _%>
      <%_ if (['M3', 'M4'].includes(svcInfo.svcAttrCd) === false) { _%>
        <%_ if (feePlanProd.basOfrVcallTmsCtt) { _%>
    <span class="sv-spec">
      <i class="ico-phone-plan"><span class="tod-blind">통화</span></i><%- feePlanProd.basOfrVcallTmsCtt.value %>
    </span>
        <%_ } _%>
        <%_ if (feePlanProd.basOfrCharCntCtt) { _%>
    <span class="sv-spec">
      <i class="ico-msg-plan"><span class="tod-blind">문자</span></i><%- feePlanProd.basOfrCharCntCtt.value + (feePlanProd.basOfrCharCntCtt.isNaN ? '' : feePlanProd.basOfrCharCntCtt.unit) %>
    </span>
        <%_ } _%>
      <%_ } _%>
    <%_ } _%>
  </div>
</div>
<%_ } _%>
