<div class="plan">
    <strong class="tit" data-tracker="V" data-tracker_tw_prod_id="<%= feePlan.feePlanProd.prodId %>" data-tracker_tw_prod_nm="<%= feePlan.feePlanProd.prodNm %>"><%= feePlan.feePlanProd.prodNm %></strong>
    <% if ( feePlan.feePlanProd.basFeeInfo && !feePlan.feePlanProd.basFeeInfo.isNaN ) { %>
    <span class="val"><%= feePlan.feePlanProd.basFeeInfo.value %>원</span>
    <% } %>
    <% if ( feePlan.feePlanProd.basFeeInfo && feePlan.feePlanProd.basFeeInfo.isNaN ) { %>
    <span class="val"><%= feePlan.feePlanProd.basFeeInfo.value %></span>
    <% } %>
</div>
<div class="sub">
    <% if ( feePlan.feePlanProd.prodFltNm ) { %>
    <span class="hash">#<%= feePlan.feePlanProd.prodFltNm %></span>
    <% } %>
    <% if ( feePlan.feePlanProd.basFeeInfo && !feePlan.feePlanProd.basFeeInfo.isNaN ) { %>
    <span class="rest">월정액(부가세 포함)</span>
    <% } %>
</div>
<% if ( feePlan.feePlanProd.basOfrDataQtyCtt || feePlan.feePlanProd.basOfrVcallTmsCtt || feePlan.feePlanProd.basOfrCharCntCtt ) { %>
<div class="service-wrap">
    <div class="service">
        <% if ( feePlan.feePlanProd.basOfrDataQtyCtt ) { %>
        <span class="sv-spec data">
            <% if ( feePlan.feePlanProd.basOfrDataQtyCtt.isNaN ) { %>
            <i class="ico-data-plan" title="데이터"></i><%= feePlan.feePlanProd.basOfrDataQtyCtt.value %>
            <% } else { %>
            <i class="ico-data-plan" title="데이터"></i><%= feePlan.feePlanProd.basOfrDataQtyCtt.value.data + feePlan.feePlanProd.basOfrDataQtyCtt.value.unit %>
            <% } %>
        </span>
        <% } %>
        <% if ( feePlan.feePlanProd.basOfrVcallTmsCtt ) { %>
        <span class="sv-spec">
            <i class="ico-phone-plan" title="통화"></i><%= feePlan.feePlanProd.basOfrVcallTmsCtt.value %>
        </span>
        <% } %>
        <% if ( feePlan.feePlanProd.basOfrCharCntCtt ) { %>
        <span class="sv-spec">
            <% if ( feePlan.feePlanProd.basOfrCharCntCtt.isNaN ) { %>
            <i class="ico-msg-plan" title="문자"></i><%= feePlan.feePlanProd.basOfrCharCntCtt.value %>
            <% } else { %>
            <i class="ico-msg-plan" title="문자"></i><%= feePlan.feePlanProd.basOfrCharCntCtt.value + feePlan.feePlanProd.basOfrCharCntCtt.unit %>
            <% } %>
        </span>
        <% } %>
    </div>
</div>
<% } %>