<div class="container-wrap">
    <div class="container">

        <% if (feePlan.prodDetailLinkYn === 'Y' && feePlan.linkProdId) { %>
        <a class="plan-compact-info" href="/product/callplan?prod_id=<%= feePlan.linkProdId %>">
            <%- include('./myt-join.myplan.wire.header-info.html') %>
        </a>
        <% } else { %>
        <div class="plan-compact-info">
            <%- include('./myt-join.myplan.wire.header-info.html') %>
        </div>
        <% } %>

        <% if (feePlan.dcBenefits.length > 0) { %>
        <!-- .cont-box -->
        <div class="cont-box nogaps-btm">
            <h3 class="tit-type6">무료 할인 혜택</h3>
            <ul class="review-list">
                <% for (var i in feePlan.dcBenefits) { %>
                <li>
                    <div class="txt">
                        <strong class="tit"><%= feePlan.dcBenefits[i].dcOferNm %></strong>
                        <div class="sub-info">
                            <% if ( feePlan.dcBenefits[i].penText ) { %><span class="item"><%= feePlan.dcBenefits[i].penText %></span><% } %>
                            <% if ( feePlan.dcBenefits[i].dcObjInvItmTypNm ) { %><span class="item"><%= feePlan.dcBenefits[i].dcObjInvItmTypNm %> 대상</span><% } %>
                        </div>
                        <% if ( feePlan.dcBenefits[i].dcStaDt && feePlan.dcBenefits[i].dcEndDt ) { %>
                        <div class="sale-period">
                            <span class="sale-tit">할인기간</span>
                            <span class="period"><%= feePlan.dcBenefits[i].dcStaDt %> ~ <%= feePlan.dcBenefits[i].dcEndDt %></span>
                        </div>
                        <% } %>
                    </div>
                    <% if (['01', '02'].indexOf(feePlan.dcBenefits[i].dcCttClCd) !== -1) { %>
                    <span class="val"><%= feePlan.dcBenefits[i].dcCttClCd !== '01' ? Math.ceil(feePlan.dcBenefits[i].dcVal) : feePlan.dcBenefits[i].dcVal %><%= (feePlan.dcBenefits[i].dcCttClCd === '01') ? '원' : '%' %> <span class="val-txt">할인</span></span>
                    <% } %>
                </li>
                <% } %>
            </ul>
        </div>
        <!--// .cont-box -->
        <% } %>

        <% if ( tipList ) { %>
        <!-- .cont-box -->
        <div class="cont-box noborder bgnone">
            <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
            <ul class="pg-chk-list02">
                <% for ( var i in tipList) { %>
                <li>
                    <button class="btn-tip" id="<%= tipList[i].code %>" page-id="<%= pageInfo.menuId %>" aria-haspopup="true">
                        <%= tipList[i].title %><i class="icon-badge-tip"><span class="blind">tip</span></i>
                    </button>
                </li>
                <% } %>
            </ul>
        </div>
        <!--// .cont-box -->
        <% } %>

    </div>
</div>