<div class="plan">
    <strong class="tit" data-tracker="V" data-tracker_tw_prod_id="<%- feePlan.prodId %>" data-tracker_tw_prod_nm="<%= feePlan.feeProdNm %>"><%= feePlan.feeProdNm %></strong>
    <span class="val"><%= feePlan.basFeeAmt %></span>
</div>
<div class="sub">
    <%_ if ( feePlan.feeManlSetYn === 'N' || !feePlan.feeManlSetTitNm ) { _%>
    <span class="rest">월정액(부가세 포함)</span>
    <%_
    }
    if ( feePlan.feeManlSetYn === 'Y' && feePlan.feeManlSetTitNm ) {
    _%>
    <span class="rest"><%= feePlan.feeManlSetTitNm %></span>
    <%_ } _%>
</div>
<%_ if ( feePlan.prodBasBenfCtt && (svcInfo.svcAttrCd === 'S1' || svcInfo.svcAttrCd === 'S2') ) { _%>
<div class="service-wrap">
    <div class="service">
        <span class="sv-spec">
            <%_ if (svcInfo.svcAttrCd === 'S1') { _%>
            <i class="ico-speed-plan" title="속도"></i>
            <%_
            }
            if (svcInfo.svcAttrCd === 'S2') {
            _%>
            <i class="ico-chan-plan" title="채널"></i>
            <%_ } _%>
            <%= feePlan.prodBasBenfCtt %>
        </span>
    </div>
</div>
<%_ } _%>