<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <!-- Grand open 접근성 수정 -->
            <li><a href="#contents-area">Skip to main contents</a></li>
            <!--  //Grand open 접근성 수정 -->
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <!-- #header -->
        <%- include('../../../../../common_en/views/components/header.component.html', { title: 'PLANS', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">Main contents</span></h2>
            <div class="container">
                <%_ if( isSubscribed && svcInfo.prodNmEn!=undefined && svcInfo.prodNmEn!=null && svcInfo.prodNmEn!="") {  _%>
                    <hr class="cont-sp type1" aria-hidden="true" />
                    <!-- .cont-box -->
                    <div class="cont-box nogaps-hoz">
                        <div class="subscribed-plan">
                            <p>Subscribed Plan</p>
                            <p class="plan-name"><%= svcInfo.prodNmEn %></p>
                        </div>
                    </div>
                    <!--// .cont-box -->
                <%_ } _%>

                <hr class="cont-sp type1" aria-hidden="true" />



                <div class="cont-box nogaps noborder">
                    <div class="main-slide-banner slide-pagingtype">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box">
                                <div class="slider-box">
                                    <ul class="slider" data-location="T" id="fe-banner-t"></ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!-- //스와이프 -->
                <!-- banner -->
                <button class="plan-banner" onclick='location.href="/en/product/callplan/miri"' data-xt_eid="MWMA_A10_B82_C1202-1" data-xt_csid="NO" data-xt_action="BC">
                    <img src="<%= CDN %>/img/en/img_plan_banner.jpg" alt="MIRI Pre-pay your bills in advance learn more">
                </button>
                <!--// banner -->

                <% const groups = productData.grpProdList; %>
                <% if (groups && groups.length > 0) { %> 
                <hr class="cont-sp type1" aria-hidden="true" />
                <!-- .cont-box -->
                <div class="cont-box nogaps-btm widget plan-list">
                    <div class="headingbox-wrap">
                        <h3 class="title"><%= productData.expsTitNm %></h3>
                    </div>
                    <div class="widget-box toggle01">
                        <ul class="representcharge-list">
                        <% const GROUP_MAX_COUNT = 7;
                        for (let i = 0; i < Math.min(groups.length, GROUP_MAX_COUNT); i++) {
                            const group = groups[i]; %>
                            <li>
                                <button role="button" aria-pressed="false" class="representcharge-info" data-xt_eid="<%=group.eidvalue%>" data-xt_csid="NO" data-xt_action="BC">
                                    <h4 class="title"><%= group.prodGrpEngNm %><% if (group.prodGrpFlagImgUrl) { %><img class="lte" src="<%= group.prodGrpFlagImgUrl %>" alt="<%= group.prodGrpFlagImgAlt %>"><% } %></h4>
                                    <% if (group.prodGrpIconImgUrl) { %> <div class="img-box"><% if (group.prodGrpIconImgUrl) { %><img src="<%= group.prodGrpIconImgUrl %>" alt=""><% } %></div><% } %>
                                    <p class="text"><%= group.prodGrpEngDesc %></p>
                                </button>

                                <div class="productinfoscroll-box slide-nopd">
                                    <% group.prodList.map(product => { %>
                                        <button class="plan-card" onclick='location.href="/en/product/callplan?prod_id=<%= product.prodId %>"' data-xt_eid="<%= product.eidvalue %>" data-xt_csid="NO" data-xt_action="BC">
                                            <span>
                                                <span class="plan-name"><%= product.prodEngNm %></span>
                                                <span class="fee">₩<span><%= product.basFeeInfo.value %></span></span>
                                            </span>
                                            <ul>
                                                <% if(product.basOfrGbDataQtyEngCtt!='-'){ %>
                                                <li>
                                                    <span class="data"><i><span class="blind">data</span></i> <%if(product.basOfrGbDataQtyEngCtt!=null){%>
                                                    <%=product.basOfrGbDataQtyEngCtt%><%if(product.basOfrGbDataQtyEngCtt!='Unlimited'){%>GB<%}}else{%>
                                                    <%= product.basOfrMbDataQtyCtt %>MB <% } %>
                                                    </span>
                                                </li>
                                                <% }else{ %>
                                                    <li>
                                                    </li>
                                                <% }if(product.basOfrVcallTmsEngCtt!='-'){ %>
                                                <li>
                                                    <span class="talktime"><i><span class="blind">call</span></i>
                                                    <% if(product.basOfrVcallTmsEngCtt=='Unlimited landline & mobile phone calls') { %>
                                                        Unlimited
                                                        <% } else {%>
                                                            <%= product.basOfrVcallTmsEngCtt %>
                                                    <% } %></span>
                                                </li>
                                                <% } else {%>
                                                    <li>
                                                    </li>
                                                <% }if(product.basOfrCharCntEngCtt!='-'){ %>
                                                <li>
                                                    <span class="units"><i><span class="blind">sms</span></i><%= product.basOfrCharCntEngCtt %></span>
                                                </li>
                                                <% } else {%>
                                                <li></li>
                                                <% } %>
                                            </ul>
                                        </button>
                                    <% }); %>
                                </div>
                            </li>
                        <% } %>
                        </ul>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <%- include('../../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function() {
         new Tw.ProductMobilePlan($('.wrap'));
     });
</script>
<% include ../../components/end.component.html %>
