<%#
* FileName: myt-data.gift.immediately.html
* Author: Jiman Park (jiman.park@sk.com)
* Date: 2018.09.06
%>

<div class="cont-box">
    <h4 class="tabcon-title0">받는 분 번호</h4>
    <div class="recently-tel-box">
        <div class="inputbox bt-add">
            <span class="input">
                <input type="text" class="fe-input_immediately_gift" placeholder="숫자만 입력" title="input" value="" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" maxlength="13">
                <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
            </span>
            <% if ( isApp ) { %>
            <span class="bt-box skyblue1">
                <button type="button" class="fe-btn_native_contact">주소록</button>
            </span>
            <% } %>
        </div>
    </div>
    <h4 class="tabcon-title0 mt30">
        선물할 데이터 량
        <!--<span class="title0-sub-tx0">31.2GB 남음</span>-->
    </h4>
    <!-- .widget -->
    <div class="widget">
        <div class="widget-box radio">
            <div class="radio-slide small">
                <ul class="select-list fe-immediately_data_select_list" role="radiogroup" style="width: 100%;">
                    <li class="radiobox disabled" role="radio" aria-checked="false" aria-disabled="true">
                        <input type="radio" name="radio1" value="2048" title="값1" disabled=""><!-- 체크상태일 경우 checked="checked" -->
                        <span class="radio-txt">
                                                                            <span>2.0</span><span class="unit">GB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox checked" role="radio" aria-checked="true">
                        <input type="radio" name="radio1" value="1024" title="값2" checked=""><!-- 체크상태일 경우 checked="false" -->
                        <span class="radio-txt">
                                                                            <span>1.0</span><span class="unit">GB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="900" title="값3"><!-- 비활성화상태일 경우 disabled="disabled" -->
                        <span class="radio-txt">
                                                                            <span>900</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="800" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>800</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="700" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>700</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="600" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>600</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="500" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>500</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="400" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>400</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="300" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>300</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="200" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>200</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="100" title="값4"><!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt">
                                                                            <span>100</span><span class="unit">MB</span>
                                                                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--// .widget -->
    <p class="tabcon-tx0 pt14">* 1.0GB는 고객님이 가장 많이 선택하는 데이터 량입니다.</p>
</div>

<!--<ul class="bt-slice full">-->
<!--<li class="bt-red1">-->
<!--<button class="fe-request_sending_data" disabled>선물하기</button>-->
<!--</li>-->
<!--</ul>-->