<%#
* FileName: payment.auto.etc.info.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.13
%>
<div class="cont-box">
    <!-- .widget -->
    <div class="widget"><!--2018-07-05 수정-->
        <div class="widget-box accordion">
            <h5 class="tit-a">꼭 확인해 주세요!</h5>
            <div class="acco-cover toggle on"><!-- toggle : 한개만 열기 -->
                <!--<div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>-->
                <div class="acco-style btn-hold">
                    <ul class="acco-list">
                        <li class="acco-box">
                            <!-- .on: 열기 -->
                            <div class="acco-tit"><span class="bullet">1.</span> 자동납부 신청 안내<button role="button" aria-pressed="false">상세보기</button></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">은행계좌로 자동이체를 신청하시면 자동납부 신청결과가 금융기관으로부터 3일(은행 영업일 기준)후에 당사에 반영되오니, 정상적으로 신청되었는지 추후에 반드시 확인하시기 바랍니다.</li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">2.</span> 이용안내<button role="button" aria-pressed="false">상세보기</button></div><!--2018-07-11 수정-->
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">모바일 T World에서는 고객님의 휴대폰 명의와 동일한 명의의 은행계좌나 카드로만 신청/변경 하실 수 있습니다.</li>
                                    <li class="list">정기 청구작업으로 인해 매월 5일 21시부터 6일 04시까지 자동납부 신청/변경/해지가 불가합니다.</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// .widget -->
</div>