<div class="widget">
    <div class="widget-box tfCombined">
        <div class="txfield-combined">
            <div class="txfield-combined-ti">
                <input class="input-focus fe-inquiry-title" type="text" placeholder="제목을 입력해주세요." title="이메일 문의 제목" value=""
                       maxlength="20"
                       aria-labelledby="aria-email-qacont">
                <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">20</span>자</span>
            </div>
            <div class="txfield-combined-tx">
                    <textarea class="input-focus fe-inquiry-content" cols="20" rows="3" placeholder="내용을 입력해주세요." maxlength="12000"
                              aria-labelledby="aria-email-qacont"></textarea>
                <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자</span>
            </div>
        </div>
    </div>
</div>