<%#
 * FileName: auth.login.service-pwd-fail.html
 * Author: Hakjoon Sim (hakjoon.sim@sk.com)
 * Date: 2018.07.11
%>

<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>로그인 실패</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div id="auth-login-service-pwd-fail" class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti">고객보호 비밀번호를<br /><em class="tx-bold">5회 이상 잘못 입력</em>하셨습니다.</p>
                        <ul class="suggest-list nodot">
                            <li>SK텔레콤 지점에 직접 방문하시어 초기화 후 이용해주시기 바랍니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" />

            <div class="cont-box nogaps">
                <div class="bt-link-box">
                    <a class="bt-link-tx" href="/auth/tid/logout">홈으로</a>
                </div>
            </div>

            <hr class="cont-sp type1" />

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="link-long">
                    <a href="" title="온라인 상담/문의 알아보기로 이동">온라인 상담/문의 알아보기<span class="ico"></span></a>
                </div>
                <div class="link-long last">
                    <a href="" title="지점/대리점 찾기 바로가기로 이동">지점/대리점 찾기 바로가기 <span class="ico"></span></a>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <% include ../../../../common/views/components/footer.component.html %>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.AuthLoginServicePwdFail($('#auth-login-service-pwd-fail'), false);
  });
</script>
<% include ../../components/end.component.html %>
