<%#
 * FileName: auth.login.fail.html
 * Author: Hakjoon Sim (hakjoon.sim@sk.com)
 * Date: 2018.07.06
%>

<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>아이디 찾기/비밀번호 재설정</h1>
            </div>
            <button class="prev-step common-back"><span class="blind">이전으로</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti"><em class="tx-bold">기본정보 입력 후<br />본인확인 절차를 거치시면 </em><br />아이디 찾기, 비밀번호 재설정을 <br />하실 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" />
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="link-long">
                    <a href="/auth/tid/find/id" title="아이디 찾기로 이동">아이디 찾기<span class="ico"></span></a>
                </div>
                <div class="link-long last">
                    <a href="/auth/tid/find/pw" title="비밀번호 재설정로 이동">비밀번호 재설정<span class="ico"></span></a>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <!-- footer -->
    <% include ../../../../common/views/components/footer.component.html %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>