<%#
* FileName: auth.login.easy-ios.html
* Author: Ara Jo (araara.jo@sk.com)
* Date: 2018.07.25
* CO_01_02_06_02
%>

<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="authLoginEasyIos" class="wrap">
    <%- include('../../../../common/views/components/header.component.html', { title: '간편 로그인', svcInfo: svcInfo }); %>
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti"><em class="tx-bold">SMS 인증 후</em> 간편하게<br />요금, 잔여량 조회 서비스를<br />이용하실 수 있습니다.</p>
                    </div>
                </div>
                <div class="box-citation">
                    <div class="citation-form">
                        <div class="form-cell">
                            <span id="aria-citation-name" class="form-ti">이름</span>
                            <span class="inputbox">
                                    <span class="input">
                                        <input type="text" value="" placeholder="휴대폰 명의자 이름" title="이름" aria-labelledby="aria-citation-name" />
                                    </span>
                                </span>
                        </div>
                        <div class="form-cell">
                            <span id="aria-citation-birth" class="form-ti">법정 생년월일</span>
                            <span class="inputbox">
                                    <span class="input">
                                        <input type="number" placeholder="명의자의 생년월일 6자리" value="" title="법정 생년월일" aria-labelledby="aria-citation-birth" aria-describedby="aria-birth-tx" />
                                    </span>
                                </span>
                            <span class="inputbox">
                                    <div class="widget">
                                        <div class="widget-box radio">
                                            <ul class="select-list" role="radiogroup">
                                                <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                                    <input type="radio" name="radio1" value="" title="남자" /><!-- 체크상태일 경우 checked="checked" -->
                                                    남자
                                                </li>
                                                <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                    <input type="radio" name="radio1" value="" title="여자" /><!-- 체크상태일 경우 checked="false" -->
                                                    여자
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </span>
                        </div>
                        <div class="form-cell">
                            <span id="aria-citation-phone" class="form-ti">SK 텔레콤 휴대폰 번호</span>
                            <span class="inputbox bt-add">
                                    <span class="input">
                                        <input type="number" placeholder="숫자만 입력" title="휴대폰 번호" aria-labelledby="aria-citation-phone" />
                                        <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                    <span class="bt-box">
                                        <button type="button">인증번호 받기</button>
                                    </span>
                                </span>
                            <span class="inputbox mt10">
                                    <span class="input">
                                        <input type="text" placeholder="인증번호 6자리" title="휴대폰 인증번호" aria-labelledby="aria-citation-phone" />
                                        <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                        </div>
                    </div>
                </div>
                <ul class="bt-slice">
                    <li class="bt-red1">
                        <button>간편 로그인</button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="link-long">
                    <button>아이디 로그인 하기<span class="ico"></span></button>
                </div>
                <div class="link-long last">
                    <button>회원 가입 하기<span class="ico"></span></button>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="box-confirm">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box accordion">
                            <h3 class="tit-a">이용안내</h3>
                            <div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
                                <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                <div class="acco-style">
                                    <ul class="acco-list">
                                        <li class="acco-box"><!-- .on: 열기 -->
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 간편 로그인이 무엇인가요?</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">간편 로그인은 아이디/비밀번호 로그인을 하지 않고 휴대폰 인증만으로 고객님의 이용정보를 쉽고 빠르게 조회할 수 있는 서비스 입니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">2.</span> 누구나 간편 로그인을 할 수 있나요?</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">고객님 명의의 SK텔레콤 휴대폰을 가지고 있으면 간편 로그인을 하실 수 있습니다.</li>
                                                    <li class="list">고객님 명의로 <em>“법인 폰 개인인증”</em> 서비스에 가입한 SK텔레콤 휴대폰 번호로 인증을 하셔도 가능합니다.</li>
                                                </ul>
                                                <div class="acco-bt-slice">
                                                    <ul class="bt-slice">
                                                        <li class="bt-white2">
                                                            <button>법인 폰 개인인증 서비스란?</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">3.</span> 입력한 정보가 일치하지 않는다고 나와요.</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">SK텔레콤 가입자와 휴대폰 사용자가 다르지는 않은지 확인해 보세요. 가입자와 사용자가 다르다면 가입자의 정보를 입력하여 다시 시도해 보세요.</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.AuthLoginEasyIos($('#authLoginEasyIos'));
  });
</script>
<% include ../../components/end.component.html %>