<%#
* @file common.util.service-block.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2019.01.17
%>

<%- include('../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- body -->
<body style="background:#fff; position:relative;">
<% if (blockYn === 'N') { %>
<div class="wrap checking_wrap">
    <i class="icon-warning-120"><span class="blind">warning</span></i>
    <p class="tit mb20">시스템 점검 중입니다<br>System Under Maintenance</p>
    <p class="txt">이용에 불편을 드려 죄송합니다.<br />더욱 편리하고 안정된 서비스를 제공하기 위해<br />T world 시스템을 점검하고 있습니다.</p>
    <p class="txt mt10">The T world system is currently under daily <br> maintenance to ensure stability and provide <br> better services for our customers. <br>We apologize for the inconvenience caused.</p>
    <% if (hideTime) { %>
    <p class="subTxt mt20"><%= fromDtm %> ~ <%= toDtm %></p>
    <% } %>
</div>
<% } else { %>
  <div class="wrap checking_wrap">
    <i class="icon-warning-120"><span class="blind">warning</span></i>
    <p class="tit mb20"><%- title %></p>
    <p class="txt"><%- content %></p>
    <% if (hideTime) { %>
    <p class="subTxt mt20"><%= fromDtm %> ~ <%= toDtm %></p>
    <% } %>
</div>
<% } %>  
<div class="checking_btn">
    <button type="button" class="fe-common-back">닫기 (Close)</button>
</div>
</body>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
  });
</script>
<% include ../components/end.component.html %>