<%#
* FileName: common.util.5g-intro_amazing-life.html
* Author: ankle breaker (byunma@sk.com)
* Date: 2019.04.05
%>

<%- include('../components/start.component.html'); %>
<body class="og-5mktp-wrap"><!-- 배경이 흰색일 경우 .bg-white -->
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="h-belt"><!-- 하단에 border가 없을 경우 .noborder -->
            <div class="h-default">
                <div class="h-tit">초[超]시대의 놀라운 생활</div>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">
            <!-- keyVisual -->
            <div class="og-5mktp-keyvisual">
                <div class="text-wrap">
                    <h2 class="tit">5G가 가져다 줄 <strong>초[超]시대<br> <span class="em">놀라운 생활</span></strong></h2>
                    <p>생활 속 다양한 취향저격 콘텐츠를<br> VR로 경험한다</p>
                </div>
                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_keyvisual_img_02.png" alt=""></div>
            </div>
            <!-- //keyVisual -->

            <!-- tabWrap -->
            <div class="component">
                <div class="component-box tabs">
                    <div class="tab-area og-5mktp-tab"><!-- JS: 탭영역 상단 fixed시 class="fixed" 추가 -->
                        <div class="tab-linker">
                            <ul role="tablist">
                                <li role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1"><a href="#"><span>프로야구</span></a></li>
                                <li role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2"><a href="#"><span>VR</span></a></li>
                                <li role="tab" aria-selected="false" aria-controls="tab3-tab" id="tab3"><a href="#"><span>초고화질</span></a></li>
                                <li role="tab" aria-selected="false" aria-controls="tab4-tab" id="tab4"><a href="#"><span>게임</span></a></li>
                            </ul>
                        </div>
                        <div class="tab-contents">
                            <ul>
                                <!-- 프로야구 -->
                                <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1">
                                    <div class="cont-box nogaps">
                                        <div class="og-5mktp-topbanr">
                                            <img class="img" src="<%= CDN %>/img/t_m5g/og_5mktp_banr_01.png" alt="">
                                            <div class="text-wrap" style="color:#fff;">
                                                <p class="txt_t">가장 빨리보는<br> 중계 서비스</p>
                                                <div class="txt">
                                                    <p>가장 빠른 중계 서비스 (T Live Streaming)</p>
                                                    <p class="subtx">네이버보다 +20초 먼저, U+보다 +10초 먼저,<br>카카오TV보다 +5초 먼저 (2018년 기준)</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="og-5mktp-contwrap pb0">
                                            <p class="og-5mktp-titype1">안보이는 부분 없이<br> 마음껏 자유롭게</p>

                                            <div class="og-5mktp-imgwrap-type1 mt30">
                                                <p class="og-5mktp-txtype4">5GX 와이드뷰 중계</p>
                                                <p class="og-5mktp-txtype2 mt6 og-color3">이제 한눈에 수비 시프트를 확인하세요.</p>
                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_1_1.png" alt="" style="margin-top:0.375rem;"></div>
                                            </div>
                                            <div class="og-5mktp-imgwrap-type1 mt26">
                                                <p class="og-5mktp-txtype4">VR 중계 기능</p>
                                                <p class="og-5mktp-txtype2 mt6 og-color3">특수 설치 VR 카메라를 통해 현장에 있는 듯한 체험이 가능합니다.</p>
                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_1_2.png" alt="" style="margin-top:1rem;"></div>
                                            </div>
                                        </div>

                                        <div class="og-5mktp-contwrap">
                                            <p class="og-5mktp-titype1 mb30">어디서든 친구,<br> 가족과 함께하는 응원</p>
                                            <div class="og-5mktp-imgwrap-type1">
                                                <p class="og-5mktp-txtype4">소셜 룸(Social Room)</p>
                                                <p class="og-5mktp-txtype2 mt6 og-color3">멀리 살아도, 바빠서 모이지 못해도<br> 언제 어디서든 함께 응원할 수 있습니다.</p>
                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_1_3.png" alt="" style="margin-top:-1.125rem;"></div>
                                                <p class="og-stxt og-color4 mt10">※ 별도의 장비(기어 VR 등)와 전용 앱(SKT 5GX VR) 설치 필요</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- //프로야구 -->

                                <!-- VR -->
                                <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2">
                                    <div class="cont-box nogaps">
                                        <div class="og-5mktp-contwrap">
                                            <p class="og-5mktp-titype1">상상을 초월하는 몰입감을 경험하다</p>

                                            <!-- 아이돌 -->
                                            <div id="bookmarkArea3_1" class="mt40">
                                                <div class="og-tab-linker mb24">
                                                    <ul>
                                                        <li class="on"><a href="#bookmarkArea3_1">아이돌<span class="blind">선택됨</span></a></li>
                                                        <li><a href="#bookmarkArea3_2">교육</a></li>
                                                        <li><a href="#bookmarkArea3_3">액티비티</a></li>
                                                        <li><a href="#bookmarkArea3_4">영화/애니</a></li>
                                                        <li><a href="#bookmarkArea3_5">컬처</a></li>
                                                    </ul>
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1">
                                                    <p class="og-5mktp-txtype2 tx-bold mb6">#아이돌들의 필수 콘텐츠, 덕후들의 필감 콘텐츠</p>
                                                    <p class="og-5mktp-titype1">주간 아이돌<br> 3D VR로 만나자!</p>
                                                    <p class="og-5mktp-txtype1 mt10">최고의 아이돌 스타들을 마치 녹화 현장에서 보듯이 생생하게 VR로 즐긴다!</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_1.png" alt="" style="margin-top:0.5rem;"></div>
                                                    <p class="og-5mktp-txtype3 mt8">이제는 아이돌 TV도 리얼하게 즐겨봐!</p>
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1">나도 DJ가 된 느낌으로<br> 아이돌과 만나?</p>
                                                    <p class="og-5mktp-txtype1 mt10">초절정 인기 아이돌 콘텐츠 ‘아이돌 라디오‘<br> VR로 DJ가 된듯 라디오 스튜디오에 있는듯 체험</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_2.png" alt="" style="margin-top:0.5rem;"></div>
                                                </div>
                                            </div>
                                            <!-- //아이돌 -->

                                            <!-- 교육 -->
                                            <div id="bookmarkArea3_2" class="mt40">
                                                <div class="og-tab-linker mb24">
                                                    <ul>
                                                        <li><a href="#bookmarkArea3_1">아이돌</a></li>
                                                        <li class="on"><a href="#bookmarkArea3_2">교육<span class="blind">선택됨</span></a></li>
                                                        <li><a href="#bookmarkArea3_3">액티비티</a></li>
                                                        <li><a href="#bookmarkArea3_4">영화/애니</a></li>
                                                        <li><a href="#bookmarkArea3_5">컬처</a></li>
                                                    </ul>
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1">
                                                    <p class="og-5mktp-txtype2 tx-bold mb6">#새로운_교육의_장</p>
                                                    <p class="og-5mktp-titype1">여행만 다녀와도<br> 영어 술술</p>
                                                    <p class="og-5mktp-txtype1 mt10">눈떠보니 해외에!<br> 국내 최초 VR 영어 스피킹 시뮬레이션</p>
                                                    <!-- slider -->
                                                    <div class="og-5mktp-imgslide-wrap type2 mt48 ml0">
                                                        <div class="widget">
                                                            <div class="widget-box slider1">
                                                                <div class="slider-box">
                                                                    <ul class="slider">
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <p class="og-5mktp-txtype3">LA를 여행하면서 겪을 수 있는<br> 다양한 실전 상황별 영어 말하기 학습</p>
                                                                                <div class="img mt12"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_3_1.png" alt="VR영어 스피킹 시뮬레이션 학습 예시 이미지">
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <p class="og-5mktp-txtype3">사용자의 음성을 인식/분석해<br> 답변에 따라 달라지는 현지인의 반응</p>
                                                                                <div class="img mt12"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_3_2.png" alt="VR영어 스피킹 시뮬레이션 현지인의 반응 예시 이미지">
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <p class="og-5mktp-txtype3">영어 말하기에 대한 피드백을 바로 받아<br> 효율적인 학습 관리</p>
                                                                                <div class="img mt12"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_3_3.png" alt="VR영어 스피킹 시뮬레이션 피드백 예시 이미지">
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <p class="og-5mktp-txtype3">가이드와 함께 영미권의 유명한 명소들을<br> 실감 나게 체험할 수 있는 VR 영상</p>
                                                                                <div class="img mt12"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_3_4.png"
                                                                                    alt="VR영어 스피킹 시뮬레이션 VR 영상 체험 예시 이미지"></div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--// slider -->
                                                    <p class="og-stxt og-color5 mt8">* SKT 5G 고객님에게는 무료 제공 (7천 원 상당, VR 팩 가입자 대상)</p>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt36">
                                                    <p class="og-5mktp-titype1">지금 바로<br> LA로 떠나보세요</p>
                                                    <div class="og-5mktp-youtube-wrap mt24">
                                                        <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_4.png" alt="HOLLYWOOD SIGN #LOS_ANGELES"></div>
                                                        <a href="https://vimeo.com/325630921/76283e117f" target="_blank" class="og-youtube-play" title="서비스 홍보 영상페이지로 이동(새창)"><img
                                                            src="<%= CDN %>/img/t_m5g/og_youtube_btn.png" alt="동영상 보기"></a>
                                                    </div>
                                                    <ul class="bt-slice mt10">
                                                        <li class="bt-white3">
                                                            <a href="#" target="_blank" title="새창"><i class="og-ico-app01"></i>Google Play 다운로드</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- //교육 -->

                                            <!-- 액티비티 -->
                                            <div id="bookmarkArea3_3" class="mt60">
                                                <div class="og-tab-linker mb24">
                                                    <ul>
                                                        <li><a href="#bookmarkArea3_1">아이돌</a></li>
                                                        <li><a href="#bookmarkArea3_2">교육</a></li>
                                                        <li class="on"><a href="#bookmarkArea3_3">액티비티<span class="blind">선택됨</span></a></li>
                                                        <li><a href="#bookmarkArea3_4">영화/애니</a></li>
                                                        <li><a href="#bookmarkArea3_5">컬처</a></li>
                                                    </ul>
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1">
                                                    <p class="og-5mktp-txtype2 tx-bold mb6">#뭐든_개인레슨이_최고</p>
                                                    <p class="og-5mktp-titype1">양정원에게 배우는 1:1<br> 피트니스 수업</p>
                                                    <p class="og-5mktp-txtype1 mt10">유명 피트니스 강사 양정원에게<br> 1:1 PT를 받아보세요</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_5.png" alt="" style="margin-top:0.75rem;"></div>
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1">필드에서 치는<br> 느낌 그대로, 골프 레슨</p>
                                                    <p class="og-5mktp-txtype1 mt10">국내 최초 1인칭 레슨<br> 레슨강사의 비법을 엿보자</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_6.png" alt="" style="margin-top:-3.5rem;"></div>
                                                </div>
                                            </div>
                                            <!-- //액티비티 -->

                                            <!-- 영화/애니 -->
                                            <div id="bookmarkArea3_4" class="mt60">
                                                <div class="og-tab-linker mb24">
                                                    <ul>
                                                        <li><a href="#bookmarkArea3_1">아이돌</a></li>
                                                        <li><a href="#bookmarkArea3_2">교육</a></li>
                                                        <li><a href="#bookmarkArea3_3">액티비티</a></li>
                                                        <li class="on"><a href="#bookmarkArea3_4">영화/애니<span class="blind">선택됨</span></a></li>
                                                        <li><a href="#bookmarkArea3_5">컬처</a></li>
                                                    </ul>
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1">
                                                    <p class="og-5mktp-txtype2 tx-bold mb6">#스토리텔링의 새로운 패러다임</p>
                                                    <p class="og-5mktp-titype1">영화 속 세상으로 들어가다</p>
                                                    <p class="og-5mktp-txtype1 mt10">이제 영화/애니/툰을 온 몸으로 감상한다</p>
                                                    <!-- slider -->
                                                    <div class="og-5mktp-imgslide-wrap mt48 ml0">
                                                        <div class="widget">
                                                            <div class="widget-box slider1">
                                                                <div class="slider-box">
                                                                    <ul class="slider">
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_7_1.png" alt="VR영화/애니/툰 포스터 - 조의 영역"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_7_2.png" alt="VR영화/애니/툰 포스터 - 마신자"></div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--// slider -->
                                                    <p class="og-stxt og-color5 mt8">VR 영화, VR 애니메이션, 그리고 VR툰을 경험해보세요.</p>
                                                </div>

                                            </div>
                                            <!-- //영화/애니 -->

                                            <!-- 컬처 -->
                                            <div id="bookmarkArea3_5" class="mt60">
                                                <div class="og-tab-linker mb24">
                                                    <ul>
                                                        <li><a href="#bookmarkArea3_1">아이돌</a></li>
                                                        <li><a href="#bookmarkArea3_2">교육</a></li>
                                                        <li><a href="#bookmarkArea3_3">액티비티</a></li>
                                                        <li><a href="#bookmarkArea3_4">영화/애니</a></li>
                                                        <li class="on"><a href="#bookmarkArea3_5">컬처<span class="blind">선택됨</span></a></li>
                                                    </ul>
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1">
                                                    <p class="og-5mktp-txtype2 tx-bold mb6">#여행은_편한게_제일</p>
                                                    <p class="og-5mktp-titype1">소파에서 세계일주</p>
                                                    <p class="og-5mktp-txtype1 mt10">세계 유명 도시 VR 투어</p>
                                                    <!-- slider -->
                                                    <div class="og-5mktp-imgslide-wrap mt48 ml0">
                                                        <div class="widget">
                                                            <div class="widget-box slider1">
                                                                <div class="slider-box">
                                                                    <ul class="slider">
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_8_1.png" alt="하루만에 보는 세계여행 VR투어 - 뉴욕"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_8_2.png" alt="하루만에 보는 세계여행 VR투어 - 이탈리아 밀라노"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_8_3.png" alt="하루만에 보는 세계여행 VR투어 - 인도 뉴델리"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_8_4.png" alt="하루만에 보는 세계여행 VR투어 - 영국 런던"></div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--// slider -->
                                                </div>
                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-txtype2 tx-bold mb6">#문화_감성_충만</p>
                                                    <p class="og-5mktp-titype1">반 고흐의 풍경이<br> 내 거실로</p>
                                                    <p class="og-5mktp-txtype1 mt10">내 방에서 편히 즐기는 전시회</p>
                                                    <!-- slider -->
                                                    <div class="og-5mktp-imgslide-wrap mt48 ml0">
                                                        <div class="widget">
                                                            <div class="widget-box slider1">
                                                                <div class="slider-box">
                                                                    <ul class="slider">
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_9_1.png" alt="VR 전시회 포스터 - 헬로우, 반고흐"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_9_2.png" alt="VR 전시회 포스터 - 클림트 인사이드"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_9_3.png" alt="VR 전시회 포스터 - 모네 빛을 그리다"></div>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="og-5mktp-imgslide">
                                                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_3_9_4.png" alt="VR 전시회 포스터 - 르누아르 여인의 향기"></div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--// slider -->
                                                    <p class="og-stxt og-color5 mt8">반 고흐, 클림트, 모네 등의 작품을 360도로 관람 가능<br> 도슨트 서비스(전시 작품 설명) 기본 + 데이터 사용 무료</p>
                                                </div>

                                            </div>
                                            <!-- //컬처 -->
                                        </div>
                                    </div>
                                </li>
                                <!-- //VR -->

                                <!-- 초고화질 -->
                                <li role="tabpanel" id="tab3-tab" aria-labelledby="tab3">
                                    <div class="cont-box nogaps">
                                        <div class="og-5mktp-topbanr">
                                            <img class="img" src="<%= CDN %>/img/t_m5g/og_5mktp_banr_02.png" alt="">
                                            <div class="text-wrap" style="">
                                                <p class="txt_t">초고화질 영상의<br> 신세계를 보다</p>
                                                <div class="txt">
                                                    <p>5GX 콘텐츠 초월,<br> 즐길 거리가 풍성해지는 시대</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="og-5mktp-contwrap">
                                            <p class="og-5mktp-titype1">화질이 좋을수록 데이터가 많이 필요하니까 oksusu에서 데이터 무료로 즐기세요.</p>
                                            <p class="og-5mktp-txtype2 mt10">oksusu에서 5G MAX, 초고화질 영상 볼 때<br> 데이터 사용 무료</p>
                                            <p class="og-stxt og-color4 mt4">※ 10Mbps의 속도로 데이터 차감 없이 이용 가능</p>
                                            <ul class="bt-slice item-two mt16">
                                                <li class="bt-white3">
                                                    <a href="https://www.onestore.co.kr/userpoc/apps/view?pid=0000296183" target="_blank" title="새창">oksusu 바로가기</a>
                                                </li>
                                            </ul>

                                            <div class="og-5mktp-imgwrap-type1 mt50">
                                                <p class="og-5mktp-txtype4">5G MAX</p>
                                                <p class="og-5mktp-txtype1 mt6">최신 영화와 명품 다큐멘터리, 보기만 해도 시원한 익스트림 스포츠 영상이 눈 전체에 담긴다!</p>
                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_2_2.png" alt="" style="margin-top:-0.5rem;"></div>
                                                <ul class="og-stxt-dot-list">
                                                    <li class="og-stxt-dot og-color3">영화 30여 종/다큐 20여 종</li>
                                                </ul>
                                            </div>
                                            <div class="og-5mktp-imgwrap-type1 mt50">
                                                <p class="og-5mktp-txtype4">초고화질</p>
                                                <p class="og-5mktp-txtype1 mt6">최신 인기 영화와 방송 프로그램을 초 고화질(FUD)로 시청하고 좋아하는 스타의 모습을 선택해 크게 키워보는 즐거움</p>
                                                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_2_3.png" alt="" style="margin-top:1rem;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- //초고화질 -->

                                <!-- 게임 -->
                                <li role="tabpanel" id="tab4-tab" aria-labelledby="tab4">
                                    <div class="cont-box nogaps">
                                        <div class="og-5mktp-topbanr">
                                            <img class="img" src="<%= CDN %>/img/t_m5g/og_5mktp_banr_03.png" alt="">
                                            <div class="text-wrap" style="color:#fff;">
                                                <p class="txt_t">게임,<br> 그 이상의 경험</p>
                                            </div>
                                        </div>

                                        <div class="og-5mktp-contwrap pt0">
                                            <!-- VR게임 -->
                                            <div id="bookmarkArea4_1">
                                                <div class="og-tab-linker mb34">
                                                    <ul>
                                                        <li class="on"><a href="#bookmarkArea4_1">VR게임<span class="blind">선택됨</span></a></li>
                                                        <li><a href="#bookmarkArea4_2">모바일게임</a></li>
                                                    </ul>
                                                </div>
                                                <p class="og-5mktp-titype1">게임의 재미를<br> 새로운 차원으로 레벨 업</p>
                                                <p class="og-5mktp-txtype1 mt10">VR 기기를 착용하면<br> 게임 속 세계로 순간이동</p>

                                                <div class="og-5mktp-imgwrap-type1 mt60">
                                                    <p class="og-5mktp-titype1">Rise of the Fallen</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_1.png" alt="" style="margin-top:-3rem;"></div>
                                                    <ul class="bt-slice item-two mt10">
                                                        <li class="bt-white3">
                                                            <a href="https://youtu.be/5WyaVnoeMYs" target="_blank" title="Rise of the Fallen 게임 스토어 페이지로 이동(새창)">동영상으로 미리보기</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1">GunJack</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_2.png" alt="" style="margin-top:-3.25rem;"></div>
                                                    <ul class="bt-slice item-two mt10">
                                                        <li class="bt-white3">
                                                            <a href="https://youtu.be/JF2aruO5jAY" target="_blank" title="GunJack 게임 스토어 페이지로 이동(새창)">동영상으로 미리보기</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1">Ocean Rift</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_3.png" alt="" style="margin-top:-3.25rem;"></div>
                                                    <ul class="bt-slice item-two mt10">
                                                        <li class="bt-white3">
                                                            <a href="https://youtu.be/Nnsln2TjDtM" target="_blank" title="Ocean Rift 게임 스토어 페이지로 이동(새창)">동영상으로 미리보기</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1">Death Horizon</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_4.png" alt="" style="margin-top:-3.25rem;"></div>
                                                    <ul class="bt-slice item-two mt10">
                                                        <li class="bt-white3">
                                                            <a href="https://youtu.be/CqWGkPQ2IMU" target="_blank" title="Death Horizon 게임 스토어 페이지로 이동(새창)">동영상으로 미리보기</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1">Slightly Heroes</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_5.png" alt="" style="margin-top:-3.25rem;"></div>
                                                    <ul class="bt-slice item-two mt10">
                                                        <li class="bt-white3">
                                                            <a href="https://youtu.be/a8Q-BKpwAGY" target="_blank" title="Slightly Heroes 게임 스토어 페이지로 이동(새창)">동영상으로 미리보기</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt60">
                                                    <p class="og-5mktp-txtype2">전 세계 1위의 VR게임 ‘건잭’ 등 5종 게임 무료 제공<br> 3만 7천 원 상당의 혜택(VR 팩 가입자 대상)</p>
                                                    <ul class="bt-slice mt10">
                                                        <li class="bt-red1">
                                                            <a href="https://m.tworld.co.kr/product/callplan?prod_id=NA00006531" target="_blank" title="새창">VR 팩 보러가기</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- //VR게임 -->

                                            <!-- 모바일게임 -->
                                            <div id="bookmarkArea4_2" class="mt60">
                                                <div class="og-tab-linker mb34">
                                                    <ul>
                                                        <li><a href="#bookmarkArea4_1">VR게임</a></li>
                                                        <li class="on"><a href="#bookmarkArea4_2">모바일게임<span class="blind">선택됨</span></a></li>
                                                    </ul>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1">
                                                    <p class="og-5mktp-titype1">득템 생활의 시작,<br> 5G 게임클랜으로 만렙 도전!</p>
                                                    <p class="og-5mktp-txtype1 mt10">5G로 더욱 강력해진 게임 혜택과 함께<br> 인기 모바일 게임을 즐기세요!</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_6.png" alt=""></div>
                                                    <p class="og-stxt">인기 게임을 데이터 걱정없이! 아이템 부담없이!<br> 데이터 프리와 특별한 게임 혜택으로 5G 게임 PLAY!</p>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1">HATCH 내 SKT 특별관에서<br> 추가 제공되는 게임을<br> 이용해보세요!</p>
                                                    <p class="og-5mktp-txtype2 mt14">게임도 음악이나 영화처럼 스트리밍하세요!</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_7.png" alt=""></div>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-titype1"
                                                        style="margin-right:-0.75rem;background:url('/img/t_m5g/og_bg_5mktp_brawl_goods.png') no-repeat 100% 100%;background-size:5.75rem auto;">SKT
                                                        대리점에서<br> 즐기는 <span class="og-5mktp-em">5G 브롤스타즈</span><br> 트리플 플레이!</p>
                                                    <p class="og-5mktp-txtype2 mt10">5월부터 전국 대리점에서 만나요!</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_8.png" alt="" style="margin-top:1rem;"></div>
                                                    <p class="og-stxt mt10">5G로 브롤스타즈를 체험하고 브롤스타즈 스페셜 굿즈를 받아가세요!</p>
                                                    <ul class="bt-slice mt10">
                                                        <li class="bt-white3">
                                                            <a href="http://www.sktgameclan.com" target="_blank" title="새창">브롤스타즈 체험존 위치 확인 하기</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="og-5mktp-imgwrap-type1 mt50">
                                                    <p class="og-5mktp-txtype2">자세한 내용은<br> <span class="og-5mktp-em">5G 게임클랜 페이지</span>에서 확인하세요!</p>
                                                    <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_img_life_2_4_9.png" alt="5G 게임클랜" style="margin-top:-1.375rem;"></div>
                                                    <ul class="bt-slice item-two">
                                                        <li class="bt-white3">
                                                            <a href="http://www.sktgameclan.com/5gbrawlstars" target="_blank" title="새창"><span class="blind">5G 게임클랜 페이지</span>바로가기</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <!-- //모바일게임 -->
                                        </div>
                                    </div>
                                </li>
                                <!-- //게임 -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //tabWrap -->

            <% include ../../components/5g/5g.other-benefits.component.html %>
        </div>
    </div>
    <!--// #contents -->
</div>

<% include ../../components/javascript.component.html %>
<script type="text/javascript">
  $(document).ready(function () {
    //탭 공통 스크립트
    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.href);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var $tablinker = $('.tab-linker'),
      $anchor = $('.og-tab-linker > ul > li > a'),
      tablinkerTop = $tablinker.offset().top,
      headerHeight = $('#header').outerHeight(),
      tablinkerHeight = $tablinker.outerHeight(),
      $win = $(window),
      tabCode = parseInt(getParameterByName('tab') === '' ? 0 : getParameterByName('tab'), 10) - 1,
      anchorCode = parseInt(getParameterByName('anchor') === '' ? 0 : getParameterByName('anchor'), 10) - 1,
      target;

    $tablinker.find('ul > li > a').on('click', function (e) {
      e.preventDefault();
      if ($win.scrollTop() > tablinkerTop - headerHeight) {
        $win.scrollTop(tablinkerTop - headerHeight);
      }
      setTimeout(function () {
        $('.slider1').find('.slider').slick('refresh');
      }, 300);
    });

    $anchor.on('click', function (e) {
      e.preventDefault();
      target = $(this).attr('href');
      if ($(target).length) {
        $('html, body').animate({
          'scrollTop': $(target).offset().top - headerHeight - tablinkerHeight
        }, 300, function () {
          $(target).find('.og-tab-linker > ul > li.on > a').focus();
        });
      }
    });

    $win.on('scroll', function () {
      $('.og-5mktp-tab').toggleClass('fixed', $win.scrollTop() + headerHeight >= tablinkerTop);
    });

    if (tabCode > 0) {
      $tablinker.find('> ul > li').attr('aria-selected', false).eq(tabCode).attr('aria-selected', true);
      if (anchorCode >= 0) {
        setTimeout(function () {
          $('html, body').animate({
            'scrollTop': $('.og-5mktp-contwrap:visible > div').eq(anchorCode).offset().top - headerHeight - tablinkerHeight
          }, 500);
        }, 1500);
      }
    }

    //하단 배너 플로팅
    var $win = $(window),
      $banner = $('.og-5mktp-btm-banner'),
      $bannerWrap = $('.og-5mktp-btm-banner-wrap'),
      timer;

    $bannerWrap.toggleClass('app', !!$('.g-wrap').length);	//App 일 경우 .app class 추가 (하단 플로팅배너 위치값)
    $win.on('touchstart touchend', function (e) {
      if (e.type === 'touchstart') {
        clearTimeout(timer);
        $banner.stop(true, true).slideUp();
      } else {
        timer = setTimeout(function () {
          $banner.stop(true, true).slideDown();
        }, 500);
      }
    });
  });
</script>
</body>
</html>