<%#
* FileName: common.util.5g-intro_safe-life.html
* Author: ankle breaker (byunma@sk.com)
* Date: 2019.04.05
%>

<%- include('../components/start.component.html'); %>
<body class="og-5mktp-wrap"><!-- 배경이 흰색일 경우 .bg-white -->
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="h-belt"><!-- 하단에 border가 없을 경우 .noborder -->
            <div class="h-default">
                <div class="h-tit">초[超]시대의 안심이 되는 생활</div>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <!-- 190329 수정 -->
    <div id="contents" class="container-wrap">
        <div class="container">
            <!-- keyVisual -->
            <div class="og-5mktp-keyvisual">
                <div class="text-wrap">
                    <h2 class="tit">가장 빠르고, 안전한 네트워크 <strong>초[超]시대<br> <span class="em">안심이 되는</span><br> 생활</strong></h2>
                    <p>독보적인 속도와 보안으로<br> 초연결 시대를 엽니다</p>
                </div>
                <div class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_keyvisual_img_01.png" alt=""></div>
            </div>
            <!-- //keyVisual -->

            <!-- og-5mktp-box-wrap -->
            <div class="og-5mktp-box-wrap">
                <!-- og-5mktp-box -->
                <div class="og-5mktp-box">
                    <div class="box-tit-wrap">
                        <p class="og-5mktp-box-tit">5G에서도<br>압도적인 속도</p>
                        <p class="og-5mktp-box-subtit">가장 빠른 5G 생활</p>
                    </div>
                    <div class="og-good-num og-wide-gap">
                        <img src="<%= CDN %>/img/t_m5g/og_speed.png" class="img" alt="최고속도 2.7Gbps = LTE 1.2 + 5G 1.5Gbps">
                    </div>
                    <div class="og-cont-wrap">
                        <p class="cont-em og-strong">LTE보다 20배 빠른 속도<span class="else">(LTE 1Gbps vs 5G 20Gbps)</span><br>LTE + 5G 동시 사용 기준</p>
                        <p class="cont-box-normal">고화질/고용량 콘텐츠를 제대로 즐기기 위해 가장 중요한 것은 속도.<br>SKT에서 압도적으로 빠른 5GX를 누리세요.</p>
                        <p class="og-gray-txt-pra">
                            <span class="box-refer og-strong">5GX 이용 가능 지역 확대 계획</span>
                            2019년 9월까지 주요 85개 시에 커버리지 구축 완료 예정
                        </p>
                    </div>
                </div><!-- //og-5mktp-box -->

                <!-- og-5mktp-box -->
                <div class="og-5mktp-box og-no-border og-nth-box2">
                    <div class="box-tit-wrap">
                        <p class="og-5mktp-box-tit">넘볼 수 없는<br>완벽 보안</p>
                    </div>
                    <div class="og-cont-wrap">
                        <p class="og-5mktp-box-subtit">가장 안전한 5G 생활</p>
                        <p class="cont-box-normal mg-type01">모든 것이 연결되는 시대, 보안의 중요성은 더 커졌죠. SKT만의 양자암호 기술로 안전한<br>5GX를 즐기세요!</p>
                        <p class="og-gray-txt-pra mg-type01">
                            SKT 5GX는 정보를<br>복제하거나 훔쳐가지 못하게<br>원천적으로 차단하는 보안 기술을<br>가지고 있습니다.
                        </p>
                    </div>
                </div><!-- //og-5mktp-box -->

                <!-- og-5mktp-box -->
                <div class="og-5mktp-box og-nth-box3">
                    <div class="box-tit-wrap">
                        <p class="og-5mktp-box-tit">가장 넓은<br>5G 커버리지</p>
                    </div>
                    <div class="og-cont-wrap">
                        <p class="og-5mktp-box-subtit">가장 넓은 5G 생활</p>
                        <p class="cont-box-normal mg-type01">“85개 시 전국망 구축을 시작으로<br>빈틈없는 커버리지 확대”</p>
                    </div>
                    <div class="og-good-num">
                        <img src="<%= CDN %>/img/t_m5g/og_open_map.png" class="img" alt="국내 최다 기지국 3월 중순 기준 (업데이트 예정)">
                    </div>
                </div><!-- //og-5mktp-box -->
                <div class="og-bg-wrap">
                    <img src="<%= CDN %>/img/t_m5g/og_skew_bg.png" alt="">
                </div>
            </div><!-- //og-5mktp-box-wrap -->

            <% include ../../components/5g/5g.other-benefits.component.html %>
        </div>
    </div>
    <!--// #contents -->
    <!-- //190329 수정 -->
</div>

<% include ../../components/javascript.component.html %>
<!-- 190329 수정 -->
<script type="text/javascript">
  $(document).ready(function () {
    //하단 배너 플로팅
    var $win = $(window),
      $banner = $('.og-5mktp-btm-banner'),
      $bannerWrap = $('.og-5mktp-btm-banner-wrap'),
      timer;

    $bannerWrap.toggleClass('app', !!$('.g-wrap').length);	//App 일 경우 .app class 추가 (하단 플로팅배너 위치값)
    $win.on('touchstart touchend', function (e) {
      if (e.type === 'touchstart') {
        clearTimeout(timer);
        $banner.stop(true, true).slideUp();
      } else {
        timer = setTimeout(function () {
          $banner.stop(true, true).slideDown();
        }, 500);
      }
    });
  });
</script>
<!-- //190329 수정 -->
</body>
</html>