<%#
* FileName: common.util.5g-intro.html
* Author: ankle breaker (byunma@sk.com)
* Date: 2019.04.05
%>

<%- include('../components/start.component.html'); %>
<body class="og-5mktp-intro"><!-- 배경이 흰색일 경우 .bg-white -->
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #contents -->
    <!-- 190401 수정 -->
    <div id="contents" class="container-wrap">
        <div class="container">
            <div class="og-5mktp-intro-headwrap">
                <div class="og-5mktp-intro-logo">
                    <img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_logo01.png" alt="SKT 5GX">
                    <span class="txt-r">초[超]시대 생활이되다</span>
                </div>
                <ul class="intro-menus">
                    <li>
                        <a href="/common/util/5g-intro/safe-life">
                            <span class="text-wrap">
                                <span class="subtx">초[超]격차 네트워크로 안심이 되는 생활</span>
                                <span class="tit">가장 빠르고, 가장 넓고,<br> 가장 안전한 네트워크</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/common/util/5g-intro/amazing-life">
                            <span class="text-wrap">
                                <span class="subtx">초[超]시대의 놀라운 생활</span>
                                <span class="tit">5GX가 선보이는<br> 상품 &amp; 서비스</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/common/util/5g-intro/enjoy-life">
                            <span class="text-wrap">
                                <span class="subtx">초[超]시대의 마음껏 누리는 생활 </span>
                                <span class="tit">오직 SK 텔레콤에서만<br> 제공하는 혜택</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="og-5mktp-intro-body">
                <ul>
                    <li class="og-5mktp-intro-bannr">
                        <a href="/common/util/5g-intro/5gx-plan" class="text-wrap">
                            <strong class="tit">5GX 플랜</strong>
                            <span class="txt">초고속 고용량 5G 콘텐츠와 서비스를<br> 자유롭게 쓰는 초[超]시대의 요금제</span>
                        </a>
                        <span class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_img_01.png" alt=""></span>
                    </li>
                    <li class="og-5mktp-intro-bannr tr mt0">
                        <a href="/common/util/5g-intro/amazing-life?tab=1" class="text-wrap">
                            <strong class="tit">프로직관러</strong>
                            <span class="txt">직접 가지 않아도, 친구와 만나지 않아도<br> VR 야구중계로 경기장의 생생함을 느낄 수 있어요</span>
                        </a>
                        <span class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_img_02.png" alt=""></span>
                    </li>
                    <li class="og-5mktp-intro-bannr">
                        <a href="/common/util/5g-intro/amazing-life?tab=2&anchor=1" class="text-wrap">
                            <strong class="tit">아이돌 덕후</strong>
                            <span class="txt">땀방울도 놓치지 않고 초 고화질 VR으로<br> 좋아하는 아이돌을 코앞에서 볼 수 있어요</span>
                        </a>
                        <span class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_img_03.png" alt=""></span>
                    </li>
                    <li class="og-5mktp-intro-bannr tr">
                        <a href="/common/util/5g-intro/amazing-life?tab=2&anchor=2" class="text-wrap">
                            <strong class="tit">자기관리 끝판왕</strong>
                            <span class="txt">출근할 때는 '비즈니스 영어',<br> 퇴근할 때는 '생활 영어'!<br> 골라 즐기는 다양한 테마별<br> VR 영어 학습</span>
                        </a>
                        <span class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_img_04.png" alt=""></span>
                    </li>
                    <li class="og-5mktp-intro-bannr">
                        <a href="/common/util/5g-intro/amazing-life?tab=2&anchor=5" class="text-wrap arrow-type2">
                            <strong class="tit">컬처홀릭</strong>
                            <span class="txt">하루만에 VR로 세계 일주하고,<br> 내방에서 파리 유명 미술관에도<br> 가보고!</span>
                        </a>
                        <span class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_img_05.png" alt=""></span>
                    </li>
                    <li class="og-5mktp-intro-bannr">
                        <a href="/common/util/5g-intro/amazing-life?tab=4" class="text-wrap">
                            <strong class="tit">게임만렙자</strong>
                            <span class="txt">우주에서 적을 물리치는 VR 게임 건잭부터<br> 바다 속 탐험이 가능한 오션리프트 까지</span>
                        </a>
                        <span class="img"><img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_img_06.png" alt=""></span>
                    </li>

                </ul>
            </div>

            <% include ../../components/5g/5g.banner.component.html %>
        </div>
    </div>
    <!-- //190401 수정 -->
    <!--// #contents -->
</div>

<!-- 인트로 커버 (페이지 진입시 잠깐 보였다 사라짐) -->
<!-- 190401 수정_02 -->
<div class="og-5mktp-intro-cover">
    <div class="og-5mktp-intro-logo">
        <img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_logo02.png" alt="SKT 5GX">
        <span class="txt-r"><span style="color:#cd0e2c;">초</span><span class="tx-normal" style="color:#cd0e2c;">[超]</span><span style="color:#ed7522;">시대</span> 생활이되다</span>
    </div>
    <div class="cover-cont">
        <strong><img src="<%= CDN %>/img/t_m5g/og_5mktp_intro_cover_txt.png" alt="초 시대, 생활이 되다"></strong>
        <p>SKT 5GX가 만드는 초시대적 세상,<br> 이제 우리의 생활이 됩니다.</p>
    </div>
</div>

<% include ../../components/javascript.component.html %>
<!-- //190401 수정_02 -->
<!-- //인트로 커버 (페이지 진입시 잠깐 보였다 사라짐) -->

<script type="text/javascript">
  $(document).ready(function () {
    setTimeout(function () {
      $('.og-5mktp-intro-cover').fadeOut();
    }, 2000);

    //하단 배너 플로팅
    var $win = $(window),
      $banner = $('.og-5mktp-btm-banner'),
      $bannerWrap = $('.og-5mktp-btm-banner-wrap'),
      timer;

    $bannerWrap.toggleClass('app', !!$('.g-wrap').length);	//App 일 경우 .app class 추가 (하단 플로팅배너 위치값)
    $win.on('touchstart touchend', function (e) {
      if (e.type === 'touchstart') {
        clearTimeout(timer);
        $banner.stop(true, true).slideUp();
      } else {
        timer = setTimeout(function () {
          $banner.stop(true, true).slideDown();
        }, 500);
      }
    });

    if (Tw.BrowserHelper.isApp()) {
      $('.fe-link-external').on('click', function (e) {
        e.preventDefault();
        Tw.CommonHelper.showDataCharge(function () {
          Tw.CommonHelper.openUrlExternal(e.currentTarget.href);
        });
      })
    }
  });
</script>
</body>
</html>