<!--<hr class="cont-sp type1" aria-hidden="true">-->
<!--<div class="cont-box">-->
    <!--<div class="inquiryform-wrap">-->
        <!--<p class="title">문의하실 내용을 작성해주세요.</p>-->
        <!--<div class="inputbox">-->
            <!--<div class="input">-->
                <!--<input type="text" placeholder="제목 입력" title="input" value="" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1">-->
                <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
            <!--</div>-->
            <!--<span class="byte"><span class="byte-current">0</span>/<span class="byte-total">20</span>자(최대)</span>-->
        <!--</div>-->
        <!--<div class="option-box">-->
            <!--<div class="inputbox textarea-type">-->
                <!--<div class="input">-->
                    <!--<textarea class="input-focus inner-tx" cols="20" rows="6" placeholder="내용 입력" maxlength="12000" aria-labelledby="aria-email-qacont"></textarea>-->
                    <!--<button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
                <!--</div>-->
                <!--<span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<hr class="cont-sp type1" aria-hidden="true">-->
<!--<div class="cont-box">-->
    <!--<div class="inquiryform-wrap">-->
        <!--<p class="title">연락가능번호를 작성해주세요.</p>-->
        <!--<div class="widget formradio-style01">-->
            <!--<div class="widget-box radio">-->
                <!--<ul class="select-list" role="radiogroup">-->
                    <!--<li class="radiobox type01-big checked" role="radio" aria-checked="true">&lt;!&ndash; 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" &ndash;&gt;-->
                        <!--<input type="radio" name="radio1-big" value="" title="값1" checked="">&lt;!&ndash; 체크상태일 경우 checked="checked" &ndash;&gt;-->
                        <!--휴대폰-->
                    <!--</li>-->
                    <!--<li class="radiobox type01-big" role="radio" aria-checked="false">&lt;!&ndash; 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" &ndash;&gt;-->
                        <!--<input type="radio" name="radio1-big" value="" title="값2">&lt;!&ndash; 체크상태일 경우 checked="false" &ndash;&gt;-->
                        <!--일반전화-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="inputbox bt-add">-->
            <!--<span class="input">-->
                <!--<input type="text" placeholder="받으실분 번호" title="input" value="" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1">-->
                <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
            <!--</span>-->
            <!--<span class="bt-box">-->
                <!--<button type="button">주소록</button>-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="widget formradio-style02">-->
            <!--<div class="widget-box check">-->
                <!--<ul class="select-list" role="group">-->
                    <!--<li class="checkbox type01-big checked" role="checkbox" aria-checked="true">&lt;!&ndash; 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" &ndash;&gt;-->
                        <!--<input type="checkbox" name="checkbox" value="" title="값1" checked="">&lt;!&ndash; 체크상태일 경우 checked="checked" &ndash;&gt;-->
                        <!--답변이 등록되면 SMS 알림을 받습니다.-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<p class="title">답변 받으실 이메일을 작성해주세요.</p>-->
        <!--<div class="inputbox">-->
            <!--<div class="input">-->
                <!--<input type="text" placeholder="답변 받으실 이메일" title="input" value="" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1">-->
                <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<hr class="cont-sp type1" aria-hidden="true">
<div class="cont-box nogaps-btm">
    <div class="inquiryform-wrap">
        <p class="title">개인정보 이용동의를 해주세요.</p>
        <ul class="termboxlist-wrap">
            <li>
                <div class="termboxs-wrap">
                    <div class="widget">
                        <div class="widget-box check">
                            <div class="infoviewic-wrap">
                                <ul class="select-list" role="group">
                                    <li class="checkbox type01-big" role="checkbox" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                        <input type="checkbox" name="checkbox" value="" title="값1" class="fe-<%-type%>_term1" required><!-- 체크상태일 경우 checked="checked" -->
                                        개인정보 수집이용에 대한 동의(필수)
                                    </li>
                                </ul>
                                <div class="infoviewictooltip"><button aria-haspopup="true" class="info-view-ic" title="tooltip보기">tooltip보기</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="termboxscroll-wrap">
                        <div class="termboxscroll">
                            개인정보 수집, 이용목적<br>SK텔레콤의 서비스(이동전화, 인터넷, 결합상품, <br>집전화, 인터넷 전화 WiBro, 멤버십 등) 관련 상담
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="termboxs-wrap">
                    <div class="widget">
                        <div class="widget-box check">
                            <div class="infoviewic-wrap">
                                <ul class="select-list" role="group">
                                    <li class="checkbox type01-big" role="checkbox" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                        <input type="checkbox" name="checkbox" value="" title="값1" class="fe-<%-type%>_term2" required><!-- 체크상태일 경우 checked="checked" -->
                                        개인정보 처리위탁에 대한 동의(필수)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="termboxscroll-wrap">
                        <div class="termboxscroll">
                            개인정보 처 리위탁을 받는자(“수탁자”)<br>㈜서비스 에이스, ㈜서비스 탑<br>개인정보 처리위탁을 하는 업무의 내용
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--// .cont-box -->
<div class="bt-fixed-area">
    <ul class="bt-slice full">
        <li class="bt-red1">
            <button class="fe-<%-type%>_register" disabled>등록하기</button>
        </li>
    </ul>
</div>