apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: bff-nodejs-deployment
  labels:
    app: bff-nodejs-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bff-nodejs-service
  template:
    metadata:
      labels:
        app: bff-nodejs-service
    spec:
      containers:
      - name: bff-nodejs
        image: mtwp.icp.skt.com:8500/mtw-prd/bff-nodejs-mobile:1.0
        env:
        - name: REDIS_PWD_KEY
          valueFrom:
            secretKeyRef:
              name: encsecret
              key: jasyptEnc
        ports:
        - containerPort: 3000
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "2000m"
            memory: "3072Mi"
          limits:
            cpu: "4000m"
            memory: "3072Mi"
        volumeMounts:
        - mountPath: /tworld/uploads                  # (root)/uploads 에 volume mount
          name: upload-volume                            # volumes 의 name과 동일하게 설정
#        livenessProbe:
#          httpGet:
#            path: /api/health
#            port: 3000
#          initialDelaySeconds: 5
#          periodSeconds: 5
#        readinessProbe:
#          httpGet:
#            path: /api/health
#            port: 3000
#          initialDelaySeconds: 5
#          periodSeconds: 5
#      nodeSelector:
#        kubernetes.io/hostname: 211.188.180.74        # 74번 Host Node 에만 앱을 배포 (현재 74, 75 에 배포 가능)
      volumes:
      - name: upload-volume
        persistentVolumeClaim:
          claimName: upload-pvc