<div class="popup tw-popup">
    <div class="popup-page nobg layer"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>닉네임 설정</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <div class="setting-nickname-box">
                        <span class="setting-nickname-title" id="aria-nickname-title1">닉네임</span>
                        <div class="inputbox error">
                            <div class="input">
                                <input type="text" placeholder="7글자 이내 입력" title="닉네임 7글자 이내 입력" aria-labelledby="aria-nickname-title1" aria-describedby="aria-from-label1 aria-exp-desc1" value="가나다라마법사">
                                <button class="cancel"><span class="blind">삭제</span></button>
                            </div>
                            <span id="aria-exp-desc3" class="error-txt" aria-hidden="true">사용하실 수 없는 닉네임 입니다.</span>
                            <div class="guide-byte">
                                <span id="aria-from-label3-2" class="guide-txt">* 특수문자, 2자리 이상의 숫자는 입력하실 수 없습니다.</span>
                                <span class="byte">
                                    <span class="byte-current">7</span> / <span class="byte-total">7</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button>적용</button> <!-- 2017-10-17 text수정 -->
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
