        <!-- .popup hbs -->
        <div class="popup-page tw-popup fixed-btn pt0"> <!-- 2017-10-17 클래스 추가 -->
            <!-- 2017-10-17 header 삭제 -->

            <!-- .container-wrap -->
            <div class="container-wrap"> <!-- 2017-10-17 클래스 추가 -->
                <h2 class="blind">내용</h2>
                <div class="container">
                    <h1 class="complete-title pt60">
                        <!-- 190831 리디자인_01 -->
                        <!-- 삭제 <img src="/img/ico/icon-check01.png" alt=""/> -->
                        <i class="icon-complete-120"><span class="blind-height0">완료</span></i>
                        <!-- //190831 리디자인_01 -->
                        <span>동의가 <strong>완료</strong>되었습니다.</span> <!-- 2017-10-17 text 변경 -->
                    </h1>
                    <div class="complete-info">
                        <dl>
                            <dt>SK 브로드밴드 서비스 이용 동의</dt>
                            <dd><strong>동의</strong></dd>
                        </dl>
                    </div>
                    <!-- 2017-10-17 하단 버튼 추가 -->
                    <div class="bt-fixed-area">
                        <ul class="bt-slice full">
                            <li class="bt-red1 fe-bt-confirm">
                                <button>확인</button>
                            </li>
                        </ul>
                    </div>
                    <!--// 2017-10-17 하단 버튼 추가 -->
                </div>
            </div>
            <!--// .container-wrap -->
            
            <!-- 2017-10-17 상단 x버튼 삭제 -->
        </div>
        <!--// .popup hbs -->