<!-- .popup hbs -->
<div class="popup-page tw-popup nobg fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>SK브로드밴드 서비스 이용 동의</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="tod-no-sbline-wrap">
                    <p class="tod-no-sbline-txt">
                        SK브로드밴드 서비스 이용에<br>필요한 회선이 없습니다.
                    </p>
                    <span class="ico">
                        <img src="{{cdn}}/img/myt/sb-no-result.png" alt="">
                    </span>
                </div>
                <a href="/product/wireplan" role="button" class="btn-round1 btn-style1">인터넷/전화/IPTV 보러가기</a>
            </div>
            <!--// .cont-box -->
            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li>
                        <button class="btn-tip" id="TC000094" aria-haspopup="true">유의사항 및 동의 철회 안내<i class="icon-badge-tip"><span class="blind">유의사항 및 동의 철회 안내 tip</span></i></button>
                    </li>
                </ul>
            </div>
            <!-- //.cont-box -->
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1 fe-bt-close">
                        <button>닫기</button> <!-- disabled -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- // .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-bt-close">팝업 페이지 닫기</button>
    <!--// .popup-closeBtn -->
</div>
<!-- // .popup hbs -->
