<div class="popup-page tw-popup fixed-bottom"><!-- 2019.03.25 fixed-btn -> fixed-bottom 변경--><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>SMS 인증</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="sms-confirm-box">
                       <div class="sms-confirm-des">인증 받으실 휴대폰 명의자 정보를 입력해 주세요.</div>
                        <div class="box-citation">
                            <div class="citation-form">
                                <div class="form-cell">
                                    <span id="aria-citation-name" class="form-ti">이름</span>
                                    <span class="inputbox">
                                        <span class="input">
                                            <input type="text" value="김종준" placeholder="휴대폰 명의자 이름" title="이름" aria-labelledby="aria-citation-name" aria-describedby=""/><!-- 오류일 경우 aria-sms-exp-desc1로 변경 -->
                                            <span class="ico none"></span>
                                        </span>
                                        <span id="aria-sms-exp-desc1" class="error-txt none" aria-hidden="true">이름을 입력해 주세요.</span>
                                        <!--<span id="aria-sms-exp-desc1" class="error-txt none" aria-hidden="true">입력하신 정보가 일치하지 않습니다.</span>-->
                                    </span>
                                </div>
                                <div class="form-cell">
                                    <span id="aria-citation-birth" class="form-ti">법정 생년월일</span>
                                    <span class="inputbox">
                                        <span class="input">
                                            <input type="number" placeholder="명의자의 생년월일 6자리" value="891205" title="법정 생년월일" aria-labelledby="aria-citation-birth" aria-describedby=""/><!-- 오류일 경우 aria-sms-exp-desc2로 변경 -->
                                            <span class="ico none"></span>
                                        </span>
                                        <!--<span id="aria-sms-exp-desc2" class="error-txt none" aria-hidden="true">생년월일 6자리를 정확히 입력해 주세요.-->
                                        <span id="aria-sms-exp-desc2" class="error-txt none" aria-hidden="true">법정 생년월일 6자리를 입력해 주세요.</span>
                                    </span>
                                    <span class="inputbox"><!-- 오류일 경우 class error 추가 -->
                                        <div class="widget">
                                            <div class="widget-box radio">
                                                <ul class="select-list" role="radiogroup" aria-describedby=""><!-- 오류일 경우 aria-sms-exp-desc5로 변경 -->
                                                    <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                                        <input type="radio" name="radio1" value="" title="남자" /><!-- 체크상태일 경우 checked="checked" -->
                                                        남자
                                                    </li>
                                                    <li class="radiobox type01" role="radio" aria-checked="true"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                        <input type="radio" name="radio1" value="" title="여자" checked /><!-- 체크상태일 경우 checked="false" -->
                                                        여자
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span id="aria-sms-exp-desc5" class="error-txt none" aria-hidden="true">성별을 선택해 주세요.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true"/>
                <!-- .cont-box -->
                <div class="cont-box pb50">
                    <div class="sms-confirm-box">
                        <div class="sms-confirm-des">인증 받으실 휴대폰번호와 전송된 인증번호를 입력해 주세요.</div>
                        <div class="box-citation">
                            <div class="citation-form">
                                <div class="form-cell">
                                    <span id="aria-citation-phone" class="form-ti">SK텔레콤 휴대폰 번호</span>
                                    <!-- 2019-01-17 inp-btn 추가 -->
                                    <span class="inputbox bt-add inp-btn validation"><!-- 오류일 경우 class error 추가, 통과일 경우 class validation 추가 -->
                                        <span class="input">
                                            <input type="number" placeholder="숫자만 입력" title="휴대폰 번호" value="01044622326" aria-labelledby="aria-citation-phone" aria-describedby="" /><!-- 통과일 경우 aria-describedby에 aria-sms-exp-desc3, 오류일 경우 aria-sms-exp-desc6 추가 -->
                                            <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                        </span>
                                        <span class="bt-box">
                                            <button type="button">인증번호 받기</button>
                                        </span>
                                    </span>
                                    <span class="tx-box">
                                        <span id="aria-sms-exp-desc3" class="validation-txt">정상적으로 발송되었습니다.</span>
                                        <span id="aria-sms-exp-desc6" class="error-txt none">재전송 제한시간(1분)이 지난 후에 이용해 주세요.</span>
                                    </span>
                                </div>
                                <div class="form-cell">
                                    <span class="inputbox error">
                                        <span class="input">
                                            <input type="number" placeholder="인증번호 숫사 6자리" title="휴대폰 인증번호" aria-labelledby="aria-citation-phone" aria-describedby="aria-sms-exp-desc4"/><!-- 통과일 경우 aria-describedby에 aria-sms-exp-desc4 삭제 -->
                                            <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                            <span class="ico"></span>
                                        </span>
                                        <span id="aria-sms-exp-desc4" class="error-txt" aria-hidden="true">인증번호가 일치하지 않습니다.</span><!-- 통과일 경우 class none 삭제 -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2019.03.25 하단버튼 div class="bt-fixed-area"로 감싸고 container 영역 밖으로 이동 -->
            <div class="bt-fixed-area">
                <!--// .cont-box -->
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button disabled>인증하기</button>
                    </li>
                </ul>
            </div>
        </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
