<div class="popup tw-popup">
    <div class="popup-page nobg layer"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>인증방식 선택</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box bgnone">
                    <div class="box-certifi-card">
                        <p class="certifi-ti-big pt8">아래 인증방식 중 한가지를 선택해 주세요.</p>
                        <ul class="certifi-card-list mt28 two"><!-- li 행별 최대 갯수 : 1개 .one, 2개 .two, 3개 .three -->
                            <li>
                                <button>
                                    <span class="ico-certifi-card type04" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">휴대폰 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type03" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">아이핀 인증</span></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
