<div class="popup">
    <div class="popup-page nobg layer">
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>공인인증서 인증</h1>
                </div>
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps-top">
                    <div class="sms-confirm-box">
                        <div class="sms-confirm-des"><strong>고객님 명의의 범용/금융거래용 공인인증서로 인증</strong>하신 후 이용하실 수 있습니다.</div>
                        <div class="agree-list mt8">
                            <div class="widget">
                                <div class="widget-box accordion">
                                    <div class="acco-cover on"><!-- toggle : 한개만 열기 -->
                                        <div class="acco-style none-title btn-hold">
                                            <ul class="acco-list"><!-- .on: 열기 -->
                                                <li class="acco-box on imp-view">
                                                    <div class="acco-tit">
                                                        <div class="widget">
                                                            <div class="widget-box check">
                                                                <div class="checkbox type01 all_chk" role="checkbox" aria-checked="true">
                                                                    <i class="ico"></i>
                                                                    <input type="checkbox" name="checkbox" value="" title="개인정보활용 동의" checked>
                                                                    <span class="ml10">개인정보활용 동의</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="acco-cont ml34">
                                                        <div class="agree-cont">
                                                            <p class="agree-cont-defined">본인은 귀사가 공인인증서 인증을 위해 한국정보인증으로부터 본인 식별정보(CI/DI)를 제공받아 본인 확인 목적으로 이용하는 것에 동의합니다. <br/>(※본인 식별정보(CI/DI)는 한국전자인증, 한국정보인증에서 발급한 공인인증서 인증시에만 제공받습니다.)</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--// .widget -->
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button>인증하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
