<div class="popup-page tw-popup fixed-btn fixed-bottom nobg">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>매장 속성 선택 </h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!--#form-->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true"/>
            <form id="fe-form" onsubmit="return false">
                <!-- .cont-box -->
                <div class="cont-box noborder">
                    <h3 class="tod-filter-title mt0">매장형태</h3>
                    <p class="tod-filter-desc">전체 / 지점 / 대리점 중 1개를 선택해주세요.</p>
                    <!-- option -->
                    <div class="tod-filter-radio">
                        <ul>
                            <li>
                                <span class="custom-form">
                                    <input type="radio" id="rad1-1" name="storeType" value="0" checked>
                                    <span class="r-type1"></span>
                                </span>
                                <label for="rad1-1">전체</label>
                            </li>
                            <li>
                                <span class="custom-form">
                                    <input type="radio" id="rad1-2" name="storeType" value="1">
                                    <span class="r-type1"></span>
                                </span>
                                <label for="rad1-2">지점</label>
                            </li>
                            <li>
                                <span class="custom-form">
                                    <input type="radio" id="rad1-3" name="storeType" value="2">
                                    <span class="r-type1"></span>
                                </span>
                                <label for="rad1-3">대리점</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz noborder">
                    <!-- 처리 가능업무 -->
                    <h3 class="tod-filter-title">처리 가능 업무</h3>
                    <div class="productfilter-type tod-productfilter-type">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box check">
                                <div class="productfilter">
                                    <ul class="select-list" role="group">
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="dvcChange" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-1" title="처리 업무">
                                            <!-- 체크상태일 경우 checked="checked" -->
                                            <span class="text" id="aria-comp-checkbox2-1">휴대폰 일반</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="rbpAsYn" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-4" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-4">A/S</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="hanaroCode" value="1"
                                                   aria-labelledby="aria-comp-checkbox2-5" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-5">유선/인터넷TV</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="secuConsulting" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-6" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-6">ADT캡스보안</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="appleYn" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-7" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-7">애플취급</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="pickupYn" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-8" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-8">바로픽업</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="nameTheft" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-9" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-9">명의도용접수</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="callHistSearch" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-10" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-10">통화 내역 조회</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="rentYn" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-11" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-11">임대폰</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="safeDealKiosk" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-12" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-12">안심거래 키오스크</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="skMagicRent" value="Y"
                                                   aria-labelledby="aria-comp-checkbox2-13" title="처리 업무">
                                            <span class="text" id="aria-comp-checkbox2-13">SK매직</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>

                    <!-- 전문 상담(명칭 변경됨) -> 예약 상담 업무 -->
                    <h3 class="tod-filter-title">예약 상담 업무</h3>
                    <div class="productfilter-type tod-productfilter-type">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box check">
                                <div class="productfilter">
                                    <ul class="select-list" role="group">
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="mobile" value="Y"
                                                   aria-labelledby="aria-comp-checkbox3-1" title="예약 상담">
                                            <!-- 체크상태일 경우 checked="checked" -->
                                            <span class="text" id="aria-comp-checkbox3-1">휴대폰일반</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="wire" value="Y"
                                                   aria-labelledby="aria-comp-checkbox3-2" title="예약 상담">
                                            <!-- 체크상태일 경우 checked="false" -->
                                            <span class="text" id="aria-comp-checkbox3-2">유선/인터넷/TV</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="caps" value="Y"
                                                   aria-labelledby="aria-comp-checkbox3-3" title="예약 상담">
                                            <!-- 비활성화상태일 경우 disabled="disabled" -->
                                            <span class="text" id="aria-comp-checkbox3-3">ADT캡스 보안</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>

                    <!-- 체험존 -->
                    <h3 class="tod-filter-title">체험존</h3>
                    <div class="productfilter-type tod-productfilter-type">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box check">
                                <div class="productfilter">
                                    <ul class="select-list" role="group">
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="fiveGxYn" value="Y"
                                                   aria-labelledby="aria-comp-checkbox4-1" title="체험존">
                                            <!-- 체크상태일 경우 checked="checked" -->
                                            <span class="text" id="aria-comp-checkbox4-1">5GX 체험존</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="vrYn" value="Y"
                                                   aria-labelledby="aria-comp-checkbox4-2" title="체험존">
                                            <!-- 체크상태일 경우 checked="false" -->
                                            <span class="text" id="aria-comp-checkbox4-2">VR 체험존</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="dvcExprZone" value="Y"
                                                   aria-labelledby="aria-comp-checkbox4-3" title="체험존">
                                            <!-- 비활성화상태일 경우 disabled="disabled" -->
                                            <span class="text" id="aria-comp-checkbox4-3">단말체험존</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>

                    <!-- 교육 프로그램-->
<!--                    <h3 class="tod-filter-title">교육 프로그램</h3>-->
<!--                    <div class="productfilter-type tod-productfilter-type">-->
<!--                        &lt;!&ndash; .widget &ndash;&gt;-->
<!--                        <div class="widget">-->
<!--                            <div class="widget-box check">-->
<!--                                <div class="productfilter">-->
<!--                                    <ul class="select-list" role="group">-->
<!--                                        <li class="checkbox" role="checkbox" aria-checked="true">-->
<!--                                            <input type="checkbox" name="speedYn" value="Y"-->
<!--                                                   aria-labelledby="aria-comp-checkbox5-1" title="교육 프로그램">-->
<!--                                            &lt;!&ndash; 체크상태일 경우 checked="checked" &ndash;&gt;-->
<!--                                            <span class="text" id="aria-comp-checkbox5-1">스마트폰 기초과정</span>-->
<!--                                        </li>-->
<!--                                        <li class="checkbox" role="checkbox" aria-checked="true">-->
<!--                                            <input type="checkbox" name="applEduYn" value="Y"-->
<!--                                                   aria-labelledby="aria-comp-checkbox5-2" title="교육 프로그램">-->
<!--                                            &lt;!&ndash; 체크상태일 경우 checked="false" &ndash;&gt;-->
<!--                                            <span class="text" id="aria-comp-checkbox5-2">스마트폰 응용과정</span>-->
<!--                                        </li>-->
<!--                                        <li class="checkbox" role="checkbox" aria-checked="true">-->
<!--                                            <input type="checkbox" name="codingEduYn" value="Y"-->
<!--                                                   aria-labelledby="aria-comp-checkbox5-3" title="교육 프로그램">-->
<!--                                            &lt;!&ndash; 비활성화상태일 경우 disabled="disabled" &ndash;&gt;-->
<!--                                            <span class="text" id="aria-comp-checkbox5-3">코딩 교실</span>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;// .widget &ndash;&gt;-->
<!--                    </div>-->

                    <!-- 기타 -->
                    <h3 class="tod-filter-title">기타</h3>
                    <div class="productfilter-type tod-productfilter-type">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box check">
                                <div class="productfilter">
                                    <ul class="select-list" role="group">
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="prkPsblCnt" value="1" aria-labelledby="aria-comp-checkbox6-1" title="기타"><!-- 체크상태일 경우 checked="checked" -->
                                            <span class="text" id="aria-comp-checkbox6-1">주차가능</span>
                                        </li>
                                        <li class="checkbox" role="checkbox" aria-checked="true">
                                            <input type="checkbox" name="disSlopeYn" value="Y" aria-labelledby="aria-comp-checkbox6-2" title="기타"><!-- 체크상태일 경우 checked="false" -->
                                            <span class="text" id="aria-comp-checkbox6-2">장애인경사로설치</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!--// .cont-box -->
            </form>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- 옵션 버튼영역 -->
    <div class="bt-fixed-area">
        <div class="tod-filter-btn">
            <!-- 초기화 -->
            <div class="tod-fleft">
                <button class="resetbtn fe-reset" role="button">초기화</button>
            </div>
            <!-- 데이터 step -->
            <div class="tod-fright">
                <button class="btn-round2 btn-style1 fe-select">매장 속성 선택</button>
            </div>
        </div>
    </div>
    <!--// #form-->

    <!-- .popup-closeBtn -->
    <button class="prev-step fe-close"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
