
        <!-- .popup hbs -->
        <div class="popup-page nobg tw-popup visit-country-popup">
        	<!-- #header -->
            <div class="header-wrap">
                <div class="page-header">
                    <div class="header-ti">
                        <h1>baro Box 이용 가능 국가</h1>
                    </div>
                </div>
            </div>
            <!--// #header -->
            <!-- .container-wrap -->
            <div class="container-wrap">
            	<h2 class="blind">내용</h2>
            	<div class="container">
            		<div class="cont-box noborder">
            			<button id="flab06" class="bt-dropdown rm-pop-dropdown" title="baro Box 요금제 선택" aria-haspopup="true">baro Box 글로벌 기간형</button>
            		</div>
            		<div class="cont-bos nogap">
            			<!-- .component -->
					    <div class="component">
							<!-- baro Box 글로벌 기간형 -->
					        <div class="component-box tabs" id="areaGlobal">
					            <div class="tab-area pop-tab-type1"><!-- 타입별 탭형태 변환 -->
					                <div class="tab-linker">
					                    <ul role="tablist">
					                        <li role="tab" aria-selected="true" aria-controls="pop-tab11" id="tab11"><button>가나다</button></li>
					                        <li role="tab" aria-selected="false" aria-controls="pop-tab12" id="tab12"><button>대륙</button></li>
					                    </ul>
					                </div>
					                <div class="tab-contents">
					                    <ul>
					                        <li role="tabpanel" id="pop-tab11" aria-labelledby="tab11">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab11-1" id="tab11-1"><button>ㄱ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-2" id="tab11-2"><button>ㄴ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-3" id="tab11-3"><button>ㄷ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-4" id="tab11-4"><button>ㄹ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-5" id="tab11-5"><button>ㅁ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-6" id="tab11-6"><button>ㅂ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-7" id="tab11-7"><button>ㅅ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-8" id="tab11-8"><button>ㅇ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-9" id="tab11-9"><button>ㅈ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-10" id="tab11-10"><button>ㅊ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-11" id="tab11-11"><button>ㅋ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-12" id="tab11-12"><button>ㅌ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-13" id="tab11-13"><button>ㅍ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab11-14" id="tab11-14"><button>ㅎ</button></li>
										                    </ul>
										                </div>
										                <div class="tab-contents">
										                    <ul>
										                        <li role="tabpanel" id="pop-tab11-1" aria-labelledby="tab11-1">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>괌</li>
										                        		<li>그리스</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-2" aria-labelledby="tab11-2">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>네덜란드</li>
										                        		<li>네팔</li>
										                        		<li>노르웨이</li>
										                        		<li>뉴질랜드</li>
										                        		<li>니카라과</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-3" aria-labelledby="tab11-3">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>대만</li>
										                        		<li>덴마크</li>
										                        		<li>독일</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-4" aria-labelledby="tab11-4">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>라오스</li>
																		<li>라트비아</li>
																		<li>러시아</li>
																		<li>루마니아</li>
																		<li>룩셈부르크</li>
																		<li>리투아니아</li>
																		<li>리히텐슈타인</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-5" aria-labelledby="tab11-5">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>마카오</li>
																		<li>말레이시아</li>
																		<li>멕시코</li>
																		<li>모리셔스</li>
																		<li>몬테네그로</li>
																		<li>몽골</li>
																		<li>미국</li>
																		<li>미얀마</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-6" aria-labelledby="tab11-6">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>방글라데시</li>
																		<li>베트남</li>
																		<li>벨기에</li>
																		<li>보스니아헤르체고비나</li>
																		<li>부탄</li>
																		<li>불가리아</li>
																		<li>브라질</li>
																		<li>브루나이</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-7" aria-labelledby="tab11-7">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>사우디아라비아</li>
																		<li>사이판</li>
																		<li>산마리노</li>
																		<li>세르비아</li>
																		<li>스리랑카</li>
																		<li>스웨덴</li>
																		<li>스위스</li>
																		<li>스페인</li>
																		<li>슬로바키아</li>
																		<li>슬로베니아</li>
																		<li>싱가포르</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-8" aria-labelledby="tab11-8">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>아랍에미리트</li>
																		<li>아르메니아</li>
																		<li>아르헨티나</li>
																		<li>아이슬란드</li>
																		<li>아일랜드</li>
																		<li>아제르바이젠</li>
																		<li>에스토니아</li>
																		<li>에콰도르</li>
																		<li>엘살바도르</li>
																		<li>영국</li>
																		<li>오스트리아</li>
																		<li>우루과이</li>
																		<li>우즈베키스탄</li>
																		<li>우크라이나</li>
																		<li>이스라엘</li>
																		<li>이집트</li>
																		<li>이탈리아</li>
																		<li>인도</li>
																		<li>인도네시아</li>
																		<li>일본</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-9" aria-labelledby="tab11-9">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>중국</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-10" aria-labelledby="tab11-10">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>체코</li>
																		<li>칠레</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-11" aria-labelledby="tab11-11">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>카자흐스탄</li>
																		<li>캄보디아</li>
																		<li>캐나다</li>
																		<li>코스타리카</li>
																		<li>콜롬비아</li>
																		<li>크로아티아</li>
																		<li>키르기즈스탄</li>
																		<li>키프로스</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-12" aria-labelledby="tab11-12">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>탄자니아</li>
																		<li>태국</li>
																		<li>터키</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-13" aria-labelledby="tab11-13">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>파나마</li>
																		<li>파라과이</li>
																		<li>파키스탄</li>
																		<li>페루</li>
																		<li>포르투칼</li>
																		<li>폴란드</li>
																		<li>푸에르토리코</li>
																		<li>프랑스</li>
																		<li>핀란드</li>
																		<li>필리핀</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab11-14" aria-labelledby="tab11-14">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>헝가리</li>
																		<li>호주</li>
																		<li>홍콩</li>
										                        		</ul>
										                        	</div>
										                        </li>
															</ul>
														</div>
													</div>
					                            </div>
					                        </li>
					                        <li role="tabpanel" id="pop-tab12" aria-labelledby="tab12">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab12-1" id="tab12-1"><button>아시아</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab12-2" id="tab12-2"><button>미주</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab12-3" id="tab12-3"><button>오세아니아</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab12-4" id="tab12-4"><button>유럽</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab12-5" id="tab12-5"><button>중동</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab12-6" id="tab12-6"><button>아프리카</button></li>
										                    </ul>
										                </div>
										                <div class="tab-contents">
										                    <ul>
										                        <li role="tabpanel" id="pop-tab12-1" aria-labelledby="tab12-1">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>네팔</li>
																		<li>대만</li>
																		<li>라오스</li>
																		<li>마카오</li>
																		<li>말레이시아</li>
																		<li>몽골</li>
																		<li>미얀마</li>
																		<li>방글라데시</li>
																		<li>베트남</li>
																		<li>부탄</li>
																		<li>브루나이</li>
																		<li>스리랑카</li>
																		<li>싱가포르</li>
																		<li>아제르바이젠</li>
																		<li>우즈베키스탄</li>
																		<li>인도</li>
																		<li>인도네시아</li>
																		<li>일본</li>
																		<li>중국</li>
																		<li>카자흐스탄</li>
																		<li>캄보디아</li>
																		<li>키르기즈스탄</li>
																		<li>태국</li>
																		<li>파키스탄</li>
																		<li>필리핀</li>
																		<li>홍콩</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab12-2" aria-labelledby="tab12-2">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>니카라과</li>
																		<li>멕시코</li>
																		<li>미국</li>
																		<li>브라질</li>
																		<li>아르헨티나</li>
																		<li>에콰도르</li>
																		<li>엘살바도르</li>
																		<li>우루과이</li>
																		<li>칠레</li>
																		<li>캐나다</li>
																		<li>코스타리카</li>
																		<li>콜롬비아</li>
																		<li>파나마</li>
																		<li>파라과이</li>
																		<li>페루</li>
																		<li>푸에르토리코</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab12-3" aria-labelledby="tab12-3">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>괌</li>
										                        		<li>뉴질랜드</li>
										                        		<li>사이판</li>
																		<li>호주</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab12-4" aria-labelledby="tab12-4">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>그리스</li>
																		<li>네덜란드</li>
																		<li>노르웨이</li>
																		<li>덴마크</li>
																		<li>독일</li>
																		<li>라트비아</li>
																		<li>러시아</li>
																		<li>루마니아</li>
																		<li>룩셈부르크</li>
																		<li>리투아니아</li>
																		<li>리히텐슈타인</li>
																		<li>몬테네그로</li>
																		<li>보스니아헤르체고비나</li>
																		<li>벨기에</li>
																		<li>불가리아</li>
																		<li>산마리노</li>
																		<li>세르비아</li>
																		<li>스웨덴</li>
																		<li>스위스</li>
																		<li>스페인</li>
																		<li>슬로바키아</li>
																		<li>슬로베니아</li>
																		<li>아르메니아</li>
																		<li>아이슬란드</li>
																		<li>아일랜드</li>
																		<li>에스토니아</li>
																		<li>영국</li>
																		<li>오스트리아</li>
																		<li>우크라이나</li>
																		<li>이탈리아</li>
																		<li>체코</li>
																		<li>크로아티아</li>
																		<li>키프로스</li>
																		<li>터키</li>
																		<li>포르투칼</li>
																		<li>폴란드</li>
																		<li>프랑스</li>
																		<li>핀란드</li>
																		<li>헝가리</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab12-5" aria-labelledby="tab12-5">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>사우디아라비아</li>
																		<li>아랍에미리트</li>
																		<li>이스라엘</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab12-6" aria-labelledby="tab12-6">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>남아프리카공화국</li>
																		<li>모리셔스</li>
																		<li>이집트</li>
																		<li>탄자니아</li>
										                        		</ul>
										                        	</div>
										                        </li>										                        
															</ul>
														</div>															                
													</div>
					                            </div>
					                        </li>					                        
					                    </ul>
					                </div>
					            </div>
					        </div>
							<!-- // baro Box 글로벌 기간형 -->
							<!-- baro Box 일본 -->
					        <div class="component-box tabs" style="display:none" id="areaJapan">
					            <div class="tab-area pop-tab-type1"><!-- 타입별 탭형태 변환 -->
					                <div class="tab-linker">
					                    <ul role="tablist">
					                        <li role="tab" aria-selected="true" aria-controls="pop-tab21" id="tab21"><button>가나다</button></li>
					                        <li role="tab" aria-selected="false" aria-controls="pop-tab22" id="tab22"><button>대륙</button></li>
					                    </ul>
					                </div>
					                <div class="tab-contents">
					                    <ul>
					                        <li role="tabpanel" id="pop-tab21" aria-labelledby="tab21">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab21-8" id="tab21-8"><button>ㅇ</button></li>        
										                    </ul>
										                </div>
										                <div class="tab-contents">
										                    <ul>
										                        <li role="tabpanel" id="pop-tab21-8" aria-labelledby="tab21-8">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>일본</li>
										                        		</ul>
										                        	</div>
										                        </li>										                        
															</ul>
														</div>															                
													</div>
					                            </div>
					                        </li>
					                        <li role="tabpanel" id="pop-tab22" aria-labelledby="tab22">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab22-1" id="tab22-1"><button>아시아</button></li>
										                    </ul>
										                </div>
										                <div class="tab-contents">
										                    <ul>
										                        <li role="tabpanel" id="pop-tab22-1" aria-labelledby="tab22-1">
										                        	<div class="cont-box">
										                        		<ul>
																		<li>일본</li>
										                        		</ul>
										                        	</div>
										                        </li>										                        						                        
															</ul>
														</div>															                
													</div>
					                            </div>
					                        </li>					                        
					                    </ul>
					                </div>
					            </div>
					        </div>
							<!-- // baro Box 일본 -->
							<!-- baro Box 미국,캐나다 -->
					        <div class="component-box tabs" style="display:none" id="areaUsa">
					            <div class="tab-area pop-tab-type1"><!-- 타입별 탭형태 변환 -->
					                <div class="tab-linker">
					                    <ul role="tablist">
					                        <li role="tab" aria-selected="true" aria-controls="pop-tab31" id="tab31"><button>가나다</button></li>
					                        <li role="tab" aria-selected="false" aria-controls="pop-tab32" id="tab32"><button>대륙</button></li>
					                    </ul>
					                </div>
					                <div class="tab-contents">
					                    <ul>
					                        <li role="tabpanel" id="pop-tab31" aria-labelledby="tab31">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab31-5" id="tab31-5"><button>ㅁ</button></li>        
																<li role="tab" aria-selected="false" aria-controls="pop-tab31-11" id="tab31-11"><button>ㅋ</button></li>        
										                    </ul>
										                </div>
										                <div class="tab-contents">
										                    <ul>
										                        <li role="tabpanel" id="pop-tab31-5" aria-labelledby="tab31-5">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>미국</li>
										                        		</ul>
										                        	</div>
										                        </li>
																<li role="tabpanel" id="pop-tab31-11" aria-labelledby="tab31-11">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>캐나다</li>
										                        		</ul>
										                        	</div>
										                        </li>
															</ul>
														</div>															                
													</div>
					                            </div>
					                        </li>
					                        <li role="tabpanel" id="pop-tab32" aria-labelledby="tab32">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab32-2" id="tab32-2"><button>미주</button></li>
										                    </ul>
										                </div>
										                <div class="tab-contents">
										                    <ul>
										                        <li role="tabpanel" id="pop-tab32-2" aria-labelledby="tab32-2">
										                        	<div class="cont-box">
										                        		<ul>
																		<li>미국</li>
																		<li>캐나다</li>
										                        		</ul>
										                        	</div>
										                        </li>										                        						                        
															</ul>
														</div>															                
													</div>
					                            </div>
					                        </li>					                        
					                    </ul>
					                </div>
					            </div>
					        </div>
							<!-- // baro Box 미국,캐나다 -->
							<!-- baro Box 아시아 -->
					        <div class="component-box tabs" style="display:none" id="areaAsia">
					            <div class="tab-area pop-tab-type1"><!-- 타입별 탭형태 변환 -->
					                <div class="tab-linker">
					                    <ul role="tablist">
					                        <li role="tab" aria-selected="true" aria-controls="pop-tab41" id="tab41"><button>가나다</button></li>
					                        <li role="tab" aria-selected="false" aria-controls="pop-tab42" id="tab42"><button>대륙</button></li>
					                    </ul>
					                </div>
					                <div class="tab-contents">
					                    <ul>
					                        <li role="tabpanel" id="pop-tab41" aria-labelledby="tab41">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab41-1" id="tab41-1"><button>ㄱ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-2" id="tab41-2"><button>ㄴ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-3" id="tab41-3"><button>ㄷ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-4" id="tab41-4"><button>ㄹ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-5" id="tab41-5"><button>ㅁ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-6" id="tab41-6"><button>ㅂ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-7" id="tab41-7"><button>ㅅ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-8" id="tab41-8"><button>ㅇ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-9" id="tab41-9"><button>ㅈ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-11" id="tab41-11"><button>ㅋ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-12" id="tab41-12"><button>ㅌ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-13" id="tab41-13"><button>ㅍ</button></li>
										                        <li role="tab" aria-selected="false" aria-controls="pop-tab41-14" id="tab41-14"><button>ㅎ</button></li>
										                    </ul>
										                </div>
										                <div class="tab-contents visit-country-popup-value">
										                    <ul>
										                        <li role="tabpanel" id="pop-tab41-1" aria-labelledby="tab41-1">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>괌</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-2" aria-labelledby="tab41-2">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>뉴질랜드</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-3" aria-labelledby="tab41-3">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>대만</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-4" aria-labelledby="tab41-4">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>라오스</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-5" aria-labelledby="tab41-5">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>마카오</li>
																		<li>말레이시아</li>
																		<li>몽골</li>
																		<li>미얀마</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-6" aria-labelledby="tab41-6">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>방글라데시</li>
																		<li>베트남</li>
																		<li>부탄</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-7" aria-labelledby="tab41-7">
										                        	<div class="cont-box">
										                        		<ul>
																		<li>사이판</li>
																		<li>스리랑카</li>
																		<li>싱가포르</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-8" aria-labelledby="tab41-8">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>아제르바이젠</li>
																		<li>우즈베키스탄</li>
																		<li>인도</li>
																		<li>인도네시아</li>
																		<li>일본</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-9" aria-labelledby="tab41-9">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>중국</li>
										                        		</ul>
										                        	</div>
										                        </li>										                        
										                        <li role="tabpanel" id="pop-tab41-11" aria-labelledby="tab41-11">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>카자흐스탄</li>
																		<li>캄보디아</li>
																		<li>키르기즈스탄</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-12" aria-labelledby="tab41-12">
										                        	<div class="cont-box">
										                        		<ul>
																		<li>태국</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-13" aria-labelledby="tab41-13">
										                        	<div class="cont-box">
										                        		<ul>
										                        		<li>필리핀</li>
										                        		</ul>
										                        	</div>
										                        </li>
										                        <li role="tabpanel" id="pop-tab41-14" aria-labelledby="tab41-14">
										                        	<div class="cont-box">
										                        		<ul>
																		<li>호주</li>
																		<li>홍콩</li>
										                        		</ul>
										                        	</div>
										                        </li>
															</ul>
														</div>
													</div>
					                            </div>
					                        </li>
					                        <li role="tabpanel" id="pop-tab42" aria-labelledby="tab42">
					                            <div class="cont-box nogaps">
					                            	 <div class="tab-area pop-tab-type2"><!-- 타입별 탭형태 변환 -->
										                <div class="tab-linker">
										                    <ul role="tablist">
										                        <li role="tab" aria-selected="true" aria-controls="pop-tab42-1" id="tab42-1"><button>아시아</button></li>
																<li role="tab" aria-selected="false" aria-controls="pop-tab42-3" id="tab42-3"><button>오세아니아</button></li>
										                    </ul>
										                </div>
										                <div class="tab-contents">
										                    <ul>
																<li role="tabpanel" id="pop-tab42-1" aria-labelledby="tab42-1">
										                        	<div class="cont-box">
										                        		<ul>
																		<li>대만</li>
																		<li>라오스</li>
																		<li>마카오</li>
																		<li>말레이시아</li>
																		<li>몽골</li>
																		<li>미얀마</li>
																		<li>방글라데시</li>
																		<li>베트남</li>
																		<li>부탄</li>
																		<li>스리랑카</li>
																		<li>싱가포르</li>
																		<li>아제르바이젠</li>
																		<li>우즈베키스탄</li>
																		<li>인도</li>
																		<li>인도네시아</li>
																		<li>일본</li>
																		<li>중국</li>
																		<li>카자흐스탄</li>
																		<li>캄보디아</li>
																		<li>키르기즈스탄</li>
																		<li>태국</li>
																		<li>필리핀</li>
																		<li>홍콩</li>
										                        		</ul>
										                        	</div>
										                        </li>
																<li role="tabpanel" id="pop-tab42-3" aria-labelledby="tab42-3">
										                        	<div class="cont-box">
										                        		<ul>
																		<li>괌</li>
																		<li>뉴질랜드</li>
																		<li>사이판</li>
																		<li>호주</li>
										                        		</ul>
										                        	</div>
										                        </li>
															</ul>
														</div>
													</div>
					                            </div>
					                        </li>					                        
					                    </ul>
					                </div>
					            </div>
					        </div>
							<!-- // baro Box 아시아 -->
					    </div>
					    <!--// .component -->
            		</div>
            	</div>
            </div>
             <!--// .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
            <!--// .popup-closeBtn -->
        </div>
