<div class="popup tw-popup rm-popup-familyroaming">
    <div class="popup-info nobg layer">
    	<img src="/img/product/rm-familyroaming-popup.png" style="width:100%" alt="가족로밍에 추가 가입하면 가족과 로밍 데이터를 공유하실 수 있습니다. / 대표회선과 가족회선이 가족결합상품을 통해 결합된 상태여야 가입하실 수 있습니다. (단, 가족결합상품과 가족로밍의 대표회선-가족회선 관계는 일치하지 않아도 됩니다.) / 가족회선은 4개까지 추가하실 수 있으며, 회선당 3,000원이 대표회선에 청구됩니다.">
    	<a href="/product/callplan?prod_id=NA00006995" class="rm-popup-familyroaming-btn fs14">가족로밍 가입하기</a>
    	<button type="button" class="rm-popup-familyroaming-btnclose blind">닫기</button>

    </div>
    <div class="popup-blind"></div>
</div>