<div class="keyword-list-base tw-popup" aria-hidden="false">
    <!-- 자동완성 폼 -->
    <div class="searchbox-layer01 none searchbox-lock" id="auto_complete_layer">
        <div class="cont-box nogaps-hoz">
            <div class="rec-list">
                <ul class="popularsearchword-list search-keyword" id="auto_complete_list">

                </ul>
            </div>
        </div>
    </div>

    <!--  최근검색어 -->

    <div class="searchbox-layer02 none searchbox-lock" id="recently_keyword_layer">
        <div class="lately-searchtext">
            <p class="text">최근검색어</p>
            <div class="btn">
                <button type="button" class="bt-link-tx underline remove-recently-list" data-index="all" >전체삭제</button>
            </div>
        </div>
        <div class="latelylist-wrap">
            <ul class="list" id="recently_keyword_list">

            </ul>
        </div>
        <div class="lately-searchclose close">
            <button type="button" class="closebtn">닫기</button>
        </div>
    </div>

    <div class="cont-layer-blind02 close " id="blind_layer"></div>
</div>
