<div class="popup tw-popup">
    <div class="popup-page nobg layer"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>수신/이용동의 설정</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
               <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <!-- .list-comp-input -->
                    <div class="list-comp-input-agree">
                        <div class="widget">
                            <div class="widget-box check">
                                <ul class="select-list" role="group">
                                    <li>
                                        <div class="checkbox type01" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" --><!-- 웹접근성 수정 -->
                                            <input type="checkbox" name="checkbox" value="" title="수신/이용동의 설정" aria-labelledby="aria-comp-checkbox1" /><!-- 체크상태일 경우 checked="false" -->
                                            <div class="comp-list-layout" id="aria-comp-checkbox1" >
                                                <p class="layout-text">
                                                    <span class="mtext">T world 광고성 정보 수신동의(선택)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <button class="agree-view"><span class="blind">자세히 보기</span></button>
                                    </li>
                                    <li>
                                        <div class="checkbox type01" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" --><!-- 웹접근성 수정 -->
                                            <input type="checkbox" name="checkbox" value="" title="수신/이용동의 설정" aria-labelledby="aria-comp-checkbox2" checked/><!-- 체크상태일 경우 checked="false" -->
                                            <div class="comp-list-layout" id="aria-comp-checkbox2" >
                                                <p class="layout-text">
                                                    <span class="mtext">T world 개인정보 수집/이용동의(선택)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <button class="agree-view"><span class="blind">자세히 보기</span></button>
                                    </li>
                                    <li>
                                        <div class="checkbox type01" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" --><!-- 웹접근성 수정 -->
                                            <input type="checkbox" name="checkbox" value="" title="수신/이용동의 설정" aria-labelledby="aria-comp-checkbox3" checked/><!-- 체크상태일 경우 checked="false" -->
                                            <div class="comp-list-layout" id="aria-comp-checkbox3" >
                                                <p class="layout-text">
                                                    <span class="mtext">위치정보 이용동의(선택)</span>
                                                </p>
                                            </div>
                                        </div>
                                        <button class="agree-view"><span class="blind">자세히 보기</span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bt-slice full">
                            <li class="bt-red1">
                                <button>저장</button>
                            </li>
                        </div>
                    </div>
                    <!--// .list-comp-input -->
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
