        <!-- .popup hbs -->
        <div class="popup-page tw-popup fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... 기본배경색은 white, 회색배경색은 .nobg -->
            <!-- #header -->
            <div class="header-wrap">
                <div class="page-header">
                    <div class="header-ti">
                        <h1>회선 등록</h1>
                    </div>
                </div>
            </div>
            <!--// #header -->
            <!-- .container-wrap -->
            <div class="container-wrap">
                <h2 class="blind">내용</h2>
                <div class="container">
                    컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br /><div style="padding:20px;background:red;"><button type="button" class="btn-test1">풀팝업 오픈 테스트</button></div>컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br /><div style="padding:20px;background:yellow;"><button type="button" class="btn-test2">레이어 팝업 오픈 테스트</button></div>컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />컨텐츠<br />
                    <!-- .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
                    <div class="bt-fixed-area">
                        <ul class="bt-slice full">
                            <li class="bt-red1">
                                <button>변경하기</button>
                            </li>
                        </ul>
                    </div>
                    <!-- // .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
                </div>
            </div>
            <!-- // .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="prev-step">취소</button>
            <!--// .popup-closeBtn -->
        </div>
        <!-- // .popup hbs -->