<%#
* @file customer.main.html
* @author Jiman Park (jiman.park@sk.com)
* @since 2018.10.24
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html',
    { title: '이용안내', svcInfo: svcInfo, option:{ line: false } }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <% if ( banners ) { %>
            <!-- .operation-guide-box -->
            <div class="operation-guide-box">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box slider1">
                        <ul class="slider">
                            <% banners.map( banner => { %>
                            <li>
                                <div class="operation-guide-banner">
                                    <% if ( banner.dtlBtnUseYn === 'Y' ) { %>
                                    <a href="/customer/faq#how" class="more-view">더보기</a>
                                    <% } %>
                                    <strong class="banner-tit pt10">
                                        <%-banner.titleNm%>
                                    </strong>
                                    <ul>
                                        <% if(banner.submMenuList) { %>
                                            <% banner.submMenuList.splice(0, 3).map( item => { %>
                                            <li><a href="/customer/faq/do-like-this?id=<%-item.contsId%>"
                                                class="banner-bt ico-type01"><%-item.contsNm%></a></li>
                                            <% }) %>
                                        <%} else if (banner.contsList) {%>
                                            <% banner.contsList.splice(0, 3).map( item => { %>
                                            <li><a href="/customer/faq/do-like-this?id=<%-item.contsId%>"
                                                class="banner-bt ico-type01"><%-item.contsNm%></a></li>
                                            <% }) %>
                                        <%}%>
                                        
                                    </ul>
                                    <% if ( banner.imgUrl || banner.bnnrFilePathNm ) { %>
                                    <img src="<%=CDN%><%-banner.imgUrl || banner.bnnrFilePathNm%>" alt="<%-banner.imgAltCtt || banner.bnnrImgAltCtt %>">
                                    <% } %>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <!--// .widget -->
            </div>
            <!--// .operation-guide-box -->
            <% } %>
            <!-- .cont-box -->
            <div class="cont-box pt16 pb16">
                <div class="box-main-type">
                    <div class="inputbox">
                            <span class="input">
                                <input class="fe-faq-search-text" type="text" placeholder="궁금하신 점을 직접 찾아보실 수 있어요" maxlength=""
                                       title="궁금하신 점을 직접 찾아보실 수 있어요">
                                <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                            </span>
                        <button type="button" class="btn-round2 btn-style3 fe-faq-search" disabled>검색</button>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps noborder">
                <p class="list-comp-title">고객님들이 자주 찾는 질문
                    <a href="/customer/faq" class="ico" title="자주 찾는 질문 더보기"><span class="blind">더보기</span></a>
                </p><!-- 웹접근성 수정 -->
            </div>

            <div class="cont-box nogaps-ver">
                <div class="main-faq-menu">
                    <ul>
                        <li>
                            <a href="/customer/faq/category?id=1100000&title=요금제" class="menu-bt ico-type01"><span
                                class="ico"></span>요금제</a>
                        </li>
                        <li>
                            <a href="/customer/faq/category?id=1200000&title=가입/변경/해지" class="menu-bt ico-type02"><span class="ico"></span>가입/변경/해지</a>
                        </li>
                        <li>
                            <a href="/customer/faq/category?id=1300000&title=요금조회/납부" class="menu-bt ico-type03"><span class="ico"></span>요금조회/납부</a>
                        </li>
                        <li>
                            <a href="/customer/faq/category?id=1400000&title=T로밍" class="menu-bt ico-type04"><span class="ico"></span>T로밍</a>
                        </li>
                        <li>
                            <a href="/customer/faq/category?id=1500000&title=T멤버십" class="menu-bt ico-type05"><span
                                class="ico"></span>T멤버십</a></li>
                        <li>
                            <a href="/customer/faq/category?id=1600000&title=앱/부가서비스" class="menu-bt ico-type06"><span class="ico"></span>앱/부가서비스</a>
                        </li>
                        <li>
                            <a href="/customer/faq/category?id=1700000&title=통화품질개선" class="menu-bt ico-type07"><span class="ico"></span>통화품질개선</a>
                        </li>
                        <li>
                            <a href="/customer/faq/category?id=1800000&title=T world 다이렉트" class="menu-bt ico-type08"><span class="ico"></span>T world
                                다이렉트</a>
                        </li>
                        <li>
                            <a href="/customer/faq/category?id=1900000&title=T world 이용안내" class="menu-bt ico-type09"><span
                                class="ico"></span>T world 이용안내</a>
                        </li>
                    </ul>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box nogaps noborder">
                <p class="list-comp-title">직접 방문하셔서 서비스를 받으시겠어요?</p>
            </div>
            <!--// .cont-box -->
            <!-- .cont-box -->
            <div class="cont-box nogaps-ver">
                <div class="main-faq-menu">
                    <ul>
                        <li><a href="/customer/agentsearch#name" class="menu-bt ico-type10"><span class="ico"></span>지점/대리점 찾기</a></li>
                        <li><a href="/customer/agentsearch/repair" class="menu-bt ico-type11"><span class="ico"></span>A/S센터 찾기</a></li>
                        <li><a href="/product/roaming/info/center" class="menu-bt ico-type12"><span class="ico"></span>로밍센터 찾기</a></li>
                    </ul>
                </div>
            </div>

            <% if ( researchList && researchList.length !== 0 ) { %>
            <hr class="cont-sp type1" aria-hidden="true">
            <!-- .cont-box -->
            <!--<div class="survey-box2">-->
                <!--&lt;!&ndash; .widget &ndash;&gt;-->
                <!--<div class="widget">-->
                    <!--<div class="widget-box slider1">-->
                        <!--<div class="slider-box">-->
                            <!--<ul class="slider" style="overflow:hidden;max-height:200px">-->
                                <!--<% researchList.map( item => { %>-->
                                <!--<li>-->
                                    <!--<a href="/customer/svc-info/researches/result?id=<%-item.bnnrRsrchId%>"><img-->
                                        <!--src="http://cdnm.tworld.co.kr<%-item.custCntrSubmImgflPathNm%>"-->
                                        <!--alt="<%-item.bnnrRsrchTitleNm%>"/></a>-->
                                <!--</li>-->
                                <!--<% }) %>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;// .widget &ndash;&gt;-->
            <!--</div>-->

           
            <hr class="cont-sp type1" aria-hidden="true">
            <!-- 2019.03.13 배너-->
            <div class="survey-box3">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box slider1">
                        <ul class="slider">
                        <% researchList.map( item => { %>
                            <li>
                                <div class="operation-guide-banner01"> 
                                    <strong class="banner-tit"><%-item.bnnrRsrchTitleNm%></strong>
                                    <ul>
                                    <% if ( item.bnnrRsrchTypCd === 'R' ) { %>
                                        <li><button class="fe-survey-btn banner-bt" data-link="/customer/svc-info/researches?id=<%-item.hintExUrl%>">설문 참여하기</button></li>
                                    <% } else if ( item.bnnrRsrchTypCd === 'P' ) { %>
                                        <li><button class="fe-survey-btn banner-bt" data-link="/customer/svc-info/researches?quiz=<%-item.bnnrRsrchId%>#research<%-item.bnnrRsrchId%>">설문 참여하기</button></li>
                                    <% } else if ( item.bnnrRsrchTypCd === 'Q' ) { %>
                                        <li><button class="fe-survey-btn banner-bt" data-link="/customer/svc-info/researches?quiz=<%-item.bnnrRsrchId%>#research<%-item.bnnrRsrchId%>">설문 참여하기</button></li>
                                    <% } %>
                                    </ul>
                                    <img src="<%=CDN%><%=item.custCntrSubmImgflPathNm%>" alt="<%=item.bnnrRsrchTitleNm%>" /> 
                                </div>
                            </li>
                        <% }) %>
                        </ul>
                    </div>
                </div>
                <!--// .widget -->
            </div>
            <!-- //2019.03.13 배너-->

            <% } %>

            <hr class="cont-sp type1" aria-hidden="true">
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="box-main-type">
                    <div class="list-comp-title">그 외 이용하실 수 있는 서비스!</div>
                    <ul class="service-bt-list">
                        <li><a href="/customer/document" class="btn-round2 btn-style3">가입 / 변경 / 해지 필요서류 안내</a></li>
                        <li><a href="/customer/emailconsult" class="btn-round2 btn-style3">이메일 상담하기</a></li>
                        <% if(!isApp) { %>
                        <li><a href="/customer/helpline" class="btn-round2 btn-style3">전화상담 예약하기</a></li>
                        <% } %>
                        <li><a href="/customer/svc-info/praise" class="btn-round2 btn-style3">칭찬합니다</a></li>
                        <li><a href="/customer/damage-info" class="btn-round2 btn-style3">이용자 피해예방센터</a></li>
                        <li><a href="/customer/svc-info/voice" class="btn-round2 btn-style3">목소리 인증서비스</a></li>
                    </ul>
                </div>
            </div>

            <!--<div class="cont-box nogaps noborder">-->
                <!--<p class="list-comp-title">그 외 이용하실 수 있는 서비스!</p>-->
            <!--</div>-->
            <!--<div class="cont-box nogaps-top noborder">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<div class="link-long">-->
                            <!--<a href="/customer/document">가입/변경/해지 필요서류 안내-->
                                <!--<span class="tx-sub">-->
                                    <!--<span class="ico"></span>-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="link-long">-->
                            <!--<a href="/customer/emailconsult">이메일 상담하기-->
                                <!--<span class="tx-sub">-->
                                    <!--<span class="ico"></span>-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="link-long">-->
                            <!--<a href="/customer/helpline">전화상담 예약하기-->
                                <!--<span class="tx-sub">-->
                                    <!--<span class="ico"></span>-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="link-long">-->
                            <!--<a href="/customer/svc-info/praise">칭찬합니다-->
                                <!--<span class="tx-sub">-->
                                    <!--<span class="ico"></span>-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="link-long">-->
                            <!--<a href="/customer/damage-info">이용자 피해예방센터-->
                                <!--<span class="tx-sub">-->
                                    <!--<span class="ico"></span>-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="link-long">-->
                            <!--<a href="/customer/svc-info/voice">목소리 인증서비스-->
                                <!--<span class="tx-sub">-->
                                    <!--<span class="ico"></span>-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->

            <% if ( noticeList && noticeList.length !== 0 ) { %>
            <hr class="cont-sp type1" aria-hidden="true">
            <!--// .cont-box -->

            <div class="cont-box nogaps">
                <div class="box-main-type">
                    <div class="list-comp-title">공지사항</div>
                    <ul class="link-long-list">
                        <% noticeList.map( item => { %>
                        <li>
                            <div class="link-long">
                                <a href="/customer/svc-info/notice/view?ntcId=<%-item.ntcId%>">
                                    <em>[안내]</em> <%-item.ntcTitNm%>
                                    <span class="ico"></span>
                                </a>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                    <a href="/customer/svc-info/notice" class="more" title="공지사항 더 보기">더 보기</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
<% include ../../components/javascript.component.html %>

<script>
  $(document).ready(function () {
    var oCustomerMain = new Tw.CustomerMain($('.wrap'));
  });
</script>
</body>
<% include ../../components/end.component.html %>
