<div class="tod-eventDetail" style="padding:0">
    <style type="text/css">
        .imagemap {position:relative;width:device-width;}
        .imagemap a {display:block; height:100%;}
    </style>
    <h1 class="blind">5GX Summer Festival 프로모션 페이지</h1>
    <div class="evtImg" style="position:relative;">
        <div>
            <img src="<%= CDN %>/img/event/img_event_mTL1.1.44_1.png" alt="5GX Summer Festival 프로모션 페이지">
            <div class="blind">
                <p>2019. 7. 24(수) - 8.31 (토) 5G가 팡팡! 혜택이 팡팡! KT 5G BOOST PARK에서 즐기세요! </p>
            </div>
        </div>

        <div>
            <img src="<%= CDN %>/img/event/img_event_mTL1.1.44_2.png" alt="">
            <div class="blind">
                <ul>
                    <li>세상 시원한 Cool 비치</li>
                    <li>이번 8월에 뜨거운 모래사장이 상에서 가장 시원한 아이스 비치가 됩니다!</li>
                    <li>Coming Soon 이스 비치에서 시원하게 다양한 SKT 5GX 체험하고 어마어마한 혜택 누리기! SK텔레콤 고객은 물론,KT, U+ 고객도 환영!</li>
                    <li>엔조이커플 : 머글들은 모르는 0순위 퀘스트 - 다이나믹 부산에서 펼쳐질 신상 AR 게임 대결 함께 0순위 퀘스트 깨러 떠나자!</li>
                </ul>
            </div>
        </div>

        <div class="imagemap">
            <img src="<%= CDN %>/img/event/img_event_mTL1.1.44_3.png" alt="">
            <div class="evtBtnBox" style="position:absolute; top:23%; left:33.6%; width:32.5%; height:3.3%;"><a href="/common/util/5g-intro/safe-life" onclick="return openInternal(this);"><span class="blind">쿨파크 자세히보기</span></a></div>
            <div class="blind">
                <h3>AR로 즐기는 Cool 파크</h3>
                <ul>
                    <li>모차원이 다른 AR/VR 서비스 부스트 파크에서 즐기자!</li>
                    <li>7/19~8/31 Boost Stadium LoL Park 화문 LoL 파크와 LCK결승전에서  SKT 5GX 서비스 체험하고, 프랑스 가서 롤드컵 직관하자!</li>
                    <li>Coming Soon  Boost Park 올림픽공원 림픽공원에서 AR 동물원의 자이언트 캣과 도심 속의 바캉스를 즐기자!</li>
                </ul>
            </div>
        </div>

        <div class="imagemap">
            <img src="<%= CDN %>/img/event/img_event_mTL1.1.44_4.png" alt="">
            <div class="evtBtnBox" style="position:absolute; top:24.2%; left:33.6%; width:32.5%; height:3.3%;"><a href="http://bit.ly/323q4zD" onclick="return openExternal(this);"><span class="blind">바로 자세히보기</span></a></div>
            <div class="blind">
                <h3>꿈같은 로밍 생활 Cool baro</h3>
                <ul>
                    <li>설마 해외까지 혜택이?  차원이 다른 baro의 즐거움</li>
                    <li>7/9~8/31 지금 baro 신청하고 바로 선물 받아가자!</li>
                    <li>7/15~8/31 항에서 baro 가입하고  ‘baro 라면’ 챙겨가자!</li>
                    <li>7/19~8/31 baro Box 퀴즈 풀고 1일 무료 이용권 받자!</li>
                    <li>7/20~8/31 ‘괌/사이판 국내처럼’ 이용후기 올리고 경품 받기!</li>
                </ul>
            </div>
        </div>

        <div class="imagemap">
            <img src="<%= CDN %>/img/event/img_event_mTL1.1.44_5.png" alt="">
            <div class="evtBtnBox" style="position:absolute; top:17.05%; left:33.6%; width:32.5%; height:2.3%;"><a href="http://bit.ly/2Lmagmj" onclick="return openExternal(this);"><span class="blind">쿨방학 자세히보기</span></a></div>
            <div class="blind">
                <h3>청춘들을 위한 Cool 방학</h3>
                <ul>
                    <li>‘0’이라면 웹툰, 게임, 드라마, 음악까지 SKT 5GX로 정주행하자!</li>
                    <li>7/20~8/31 데이터 차감 없이  네이버 웹툰 정주행하자!</li>
                    <li>7/20~8/31 리포터 AR게임 0주행하고  레어템 득템하자! </li>
                    <li>7/20~8/31 LoL 응원 메시지 남기고 롤드컵 티켓 득템하자! </li>
                    <li>7/20~8/31 POOQ & FLO 정주행 하고 배달 앱 쿠폰 득템하기!</li>
                </ul>
            </div>
        </div>

        <div class="imagemap">
            <img src="<%= CDN %>/img/event/img_event_mTL1.1.44_6.png" alt="">
            <div class="evtBtnBox" style="position:absolute; top:19.6%; left:33.6%; width:32.5%; height:2.6%;"><a href="http://bit.ly/2JGowmw" onclick="return openExternal(this);"><span class="blind">쿨혜택 자세히보기</span></a></div>
            <div class="evtBtnBox" style="position:absolute; top:44.5%; left:8.3%; right:8.3%; height:6%; z-index:1;"><a href="http://bit.ly/2Yacrzl" onclick="return openExternal(this);"><span class="blind">쿨혜택1 자세히보기</span></a></div>
            <div class="evtBtnBox" style="position:absolute; top:52.5%; left:8.3%; right:8.3%; height:5%; z-index:1;"><a href="http://bit.ly/32xSEJK" onclick="return openExternal(this);"><span class="blind">쿨혜택2 자세히보기</span></a></div>
            <div class="evtBtnBox" style="position:absolute; top:83.9%; left:8.3%; right:8.3%; height:5%; z-index:1;"><a href="http://m.11st.co.kr/MW/Gate/executeApp.tmall?goStore=Y&goUrl=http%3A//ticket.11st.co.kr/Product/Detail/262660" onclick="return openExternal(this);"><span class="blind">전 고객 혜택 자세히보기</span></a></div>
            <div class="blind">
                <h3>5대 특별 혜택 Cool 혜택</h3>
                <ul>
                    <li>5GX 고객이라면  존 T멤버십 Big 5 50% 할인은 기본! 5가지 특별 혜택이 추가로!</li>
                    <li>7/22~8/31 쥬라기월드 특별전 SKT 5GX VR 고객 무료 초청</li>
                    <li>7/22~8/31 5G VR 테마파크 50% 할인</li>
                    <li>7/22~8/31 SK텔레콤 고객이라면 쥬라기월드 특별전 입장권 20% 할인!</li>
                    <li>Coming Soon 세븐일레븐/메가박스/워터파크 파격 혜택도!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
  var openExternal = function(target) {
    var href = $(target).attr('href');
    Tw.CommonHelper.openUrlExternal(href);
    return false;
  }

  var openInternal = function(target) {
    var href = $(target).attr('href');
    var url = document.domain + href;
    Tw.CommonHelper.openUrlInApp(url);
    return false;
  }
</script>