<%#
* FileName: customer.faq.do-liekthis.html
* Author: Hakjoon Sim(hakjoon.simk@sk.com)
* Date: 2018.12.02
%>

<% include ../../components/start.component.html %>
<body>
    <link rel="stylesheet" type="text/css" href="<%= CDN %>/css/idpt-reset-mobile.css" media="all" /><!-- 고객센터 모바일 CSS -->
    <link rel="stylesheet" type="text/css" href="<%= CDN %>/css/idpt-service-mobile.css" media="all" /><!-- 이용안내 모바일 CSS -->
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <!-- #header -->
        <%- include('../../../../common/views/components/header.component.html', { title: '이럴 땐 이렇게 하세요', svcInfo: svcInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- <img src="/img/customer/tbd-CS_05_03.jpg" alt="" style="width:100%; vertical-align:top;"> -->
                <%- content %>
            </div>
        </div>
        <!--// #contents -->
        <footer id="fe-all-menu">
          <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
          <%- include('../../../../common/views/components/masking.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function(){
    $('.idpt-tab').each(function(){
        var tabBtn = $(this).find('li');
        $(tabBtn).click(function(){
            var i = $(this).index();
            $('.idpt-tab > li').removeClass('on').eq(i).addClass('on');
            $('.idpt-tab-content').removeClass('show').eq(i).addClass('show');
        });
    });

    // tooltip
    $('.info-tooltip').each(function(){
        $('.btn-tooltip-open').on('click', function(){
            var remStandard = $('body').css('font-size').replace('px','');
            var btnLeft = $(this).offset().left - 28;
            var btnRem = btnLeft/remStandard
            $('.idpt-tooltip-layer').css('left', btnRem + 'rem');
            $(this).next('div').show();
        });
    });
    $('.btn-tooltip-close').on('click', function(){
        $('.idpt-tooltip-layer').hide();
    });

    //accordian
    $('.idpt-accordian > li > a').on('click', function(){
        $('.idpt-accordian > li > a').removeClass('open');
        $('.idpt-accordian-cont').slideUp();
        if ($(this).parent().find('.idpt-accordian-cont').is(':hidden')){
            $(this).addClass('open');
            $(this).parent().find('.idpt-accordian-cont').slideDown();
        }
    });

    //toggle (FAQ)
    $('.idpt-toggle-btn').each(function(){
        $(this).click(function(){
            $(this).toggleClass('open').next('.idpt-toggle-cont').slideToggle();
        })
    });
  });
</script>
<% include ../../components/end.component.html %>