<%#
* FileName: customer.faq.category.html (CS_05_02_case1)
* Author: Hakjoon Sim(hakjoon.simk@sk.com)
* Date: 2018.12.02
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <!-- #header -->
        <%- include('../../../../common/views/components/header.component.html', { title: title, svcInfo: svcInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <div class="ti-caption-gray">
                        <button id="fe-btn-depth1" class="bt-select" title="카테고리 선택" aria-haspopup="true"><%= data.is2depth ? data.depth1[0].ifaqGrpNm : '전체' %></button>
                        <% if (data.is2depth) { %>
                        <div class="num">
                            <button id="fe-btn-depth2" class="bt-select" title="카테고리 선택" aria-haspopup="true">전체</button>
                        </div>
                        <% } %>
                    </div>

                    <div class="widget">
                        <div class="widget-box accordion2">
                            <div class="acco-style qanda-list"><!-- 스타일별 클래스 추가 -->
                                <ul class="acco-box" id="fe-result">
                                    <% for (const item of data.list) { %>
                                    <li class="acco-list"><!-- on , off -->
                                        <div class="acco-title">
                                            <button role="button" aria-pressed="false" class="list-q"><!-- .none-event 클릭못하게할때 -->
                                                <em class="ico">질문</em><%= item.inqCtt %>
                                            </button>
                                        </div>
                                        <div class="acco-content">
                                            <em class="ico">답변</em><%- item.answCtt %>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <% if (!data.isLast) { %>
                    <div class="bt-more">
                        <button id="fe-more">더보기</button>
                    </div>
                    <% } %>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// #contents -->
        <footer id="fe-all-menu">
          <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
          <%- include('../../../../common/views/components/masking.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script type="text/template" id="tpl_faq_result_item">
    {{#list}}
    <li class="acco-list"><!-- on , off -->
        <div class="acco-title">
            <button role="button" aria-pressed="false" class="list-q"><!-- .none-event 클릭못하게할때 -->
                <em class="ico">질문</em>{{inqCtt}}
            </button>
        </div>
        <div class="acco-content">
            <em class="ico">답변</em>{{{answCtt}}}
        </div>
    </li>
    {{/list}}
</script>
<script>
  $(document).ready(function () {
    new Tw.CustomerFaqCategory($('.wrap'), '<%= title %>', '<%= data.rootCategory %>',
      '<%- JSON.stringify(data.depth1) %>', '<%- JSON.stringify(data.depth2) %>');
  });
</script>
<% include ../../components/end.component.html %>