<%#
* @file customer.faq.html (CS_05_01)
* @author Hakjoon Sim (hakjoon.sim@sk.com)
* @since 2018.11.05
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <%- include('../../../../common/views/components/header.component.html', { title: '자주 하는 질문', svcInfo: svcInfo }); %>
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container">
                <div class="faq-main">
                    <div class="ti-caption-gray">
                        <h4 class="tit">FAQ</h4>
                    </div>

                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="inputbox address-wrap mt0" style="width:100%">
                            <span class="input">
                                <input id="fe-input" type="text" placeholder="키워드로 질문검색" maxlength="" title="키워드로 질문 입력" autocomplete="off">
                                <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                            </span>
                            <span class="space"></span>
                            <span class="bt-box disabled">
                                <button type="button" id="fe-search" disabled="disabled">검색</button> <!-- 비활성화인경우 disabled="disabled"   -->
                            </span>
                        </div>
                    </div>
                    <!--// .cont-box -->

                    <hr class="cont-sp type1" aria-hidden="true">

                    <!-- .cont-box -->
                    <div class="cont-box noborder">
                        <div class="main-faq-menu">
                            <ul>
                                <li><a href="/customer/faq/category?id=1100000&title=요금제" class="menu-bt ico-type01"><span class="ico"></span>요금제</a></li>
                                <li><a href="/customer/faq/category?id=1200000&title=가입/변경/해지" class="menu-bt ico-type02"><span class="ico"></span>가입/변경/해지</a></li>
                                <li><a href="/customer/faq/category?id=1300000&title=요금조회/납부" class="menu-bt ico-type03"><span class="ico"></span>요금조회/납부</a></li>
                                <li><a href="/customer/faq/category?id=1400000&title=T로밍" class="menu-bt ico-type04"><span class="ico"></span>T로밍</a></li>
                                <li><a href="/customer/faq/category?id=1500000&title=T멤버십" class="menu-bt ico-type05"><span class="ico"></span>T멤버십</a></li>
                                <li><a href="/customer/faq/category?id=1600000&title=앱/부가서비스" class="menu-bt ico-type06"><span class="ico"></span>앱/부가서비스</a></li>
                                <li><a href="/customer/faq/category?id=1700000&title=통화품질개선" class="menu-bt ico-type07"><span class="ico"></span>통화품질개선</a></li>
                                <li><a href="/customer/faq/category?id=1800000&title=T world 다이렉트" class="menu-bt ico-type08"><span class="ico"></span>T world 다이렉트</a></li>
                                <li><a href="/customer/faq/category?id=1900000&title=T world 이용안내" class="menu-bt ico-type09"><span class="ico"></span>T world 이용안내</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--// .cont-box -->

                    <!-- .cont-box -->
                    <div class="cont-box nogaps">
                        <ul class="link-long-list">
                            <li>
                                <div class="link-long">
                                    <button class="fe-external" value="https://www.skt-id.co.kr/serviceInfo/serviceInfo.do" title="새창">
                                        회원가입, 로그인 관련 자주 하는 질문 보기
                                        <span class="tx-sub">
                                            <span class="ico"><span class="blind">새창</span></span><!-- 웹접근성 수정 -->
                                        </span>
                                    </button>
                                </div>
                            </li>
                            <li id="how">
                                <div class="link-long">
                                    <button class="fe-external" value="https://www.sktsmarthome.com/html/costumer-support.html" title="새창">
                                        스마트 홈 관련 자주 하는 질문보기
                                        <span class="tx-sub">
                                            <span class="ico"><span class="blind">새창</span></span><!-- 웹접근성 수정 -->
                                        </span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// .cont-box -->

                    <div class="ti-caption-gray">
                        <h4 class="tit">이럴땐 이렇게 하세요</h4>
                    </div>

                    <div class="howto-list-wrap">
                        <div class="howto-list-box" id="how1">
                            <strong>데이터가 부족할 때는<br>이렇게</strong>
                            <ul>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00035">마음껏 데이터를 쓰고 싶다면~</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00034">데이터 초과 요금 걱정 마세요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00036">데이터를 다 썼는데 어떻게 하지?</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00037">남는 데이터를 나눠 줄 수 있다고?</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00066">데이터 걱정 없이 동영상 보는 방법</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00067">나만의 사용패턴에 맞는 할인 방법</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00068">태블릿에서도 데이터 사용하기</a></li>
                            </ul>
                        </div>
                        <!--
                        <div class="howto-list-box" id="how2">
                            <strong>T 멤버십 혜택을 즐기고<br>싶을 때는 이렇게 !</strong>
                            <ul>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=TIP0025">T 멤버십 기본혜택은?</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=TIP0027">초콜릿 멤버십 몰을 즐겨보세요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=TIP0028">VIP 혜택과 해외이용 혜택 보기</a></li>
                            </ul>
                        </div>
                        -->
                        <div class="howto-list-box" id="how3">
                            <strong>해외여행 가실 때는<br>이렇게</strong>
                            <ul>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00043">T로밍 서비스 이용방법은?</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00044">데이터 사용을 차단하고 싶어요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00046">해외여행 중 유용한 팁 알아보기</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00045">로밍 전용 요금제를 이용해 보세요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00047">해외여행 다녀와서 챙겨야 할 것은?</a></li>
                            </ul>
                        </div>
                        <div class="howto-list-box" id="how4">
                            <strong>휴대폰을 분실하셨을<br> 때는 이렇게</strong>
                            <ul>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00065">휴대폰 파손 시 처리 절차 안내</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00038">휴대폰 분실신고를 해야 한다면?</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00039">분실 휴대폰 위치 추적하기</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00040">임대폰 / 기기변경이 필요할 때</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00041">분실보험 드셨나요? 분실보상 받기</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00042">안심백업하셨나요? 데이터 복원하기</a></li>
                            </ul>
                        </div>
                        <div class="howto-list-box" id="how5">
                            <strong>부모님의 스마트 폰<br>사용은 이렇게</strong>
                            <ul>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00062">데이터 사용요금, 걱정 없이 쓰세요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00063">스마트폰 초보 탈출을 위한 이용방법</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00064">스마트폰 센스를 올려주는 활용 가이드</a></li>
                            </ul>
                        </div>
                        <div class="howto-list-box" id="how6">
                            <strong>우리 아이 스마트 폰<br>관리는 이렇게</strong>
                            <ul>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00055">똑똑한 엄마들의 자녀 요금 관리법</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00057">바른 휴대폰 사용습관 실천 가이드</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00056">아이 안전을 위한 스마트폰 활용방법</a></li>
                            </ul>
                        </div>
                        <div class="howto-list-box" id="how7">
                            <strong>개인정보 도용대비는<br>이렇게</strong>
                            <ul>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00048">스팸 정보를 차단하고 싶어요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00049">스미싱, 대처방법을 알려주세요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00050">휴대폰명의도용, 이렇게 대비하세요</a></li>
                                <li><a class="list-bt" href="/customer/faq/do-like-this?id=B00051">생활 속 예방으로 개인정보를 지키세요</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// #contents -->
        <footer id="fe-all-menu">
          <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
          <%- include('../../../../common/views/components/masking.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CustomerFaq($('.wrap'));
  });
</script>
<% include ../../components/end.component.html %>