<%#
* @file common.login.easy-fail.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.07.25
* CO_01_02_06_03
%>

<%- include('../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="bg-white">
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="commonMemberSloginFail" class="wrap">
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">

        </div>
    </div>
    <!--// #contents -->
    <!-- .popup hbs -->
    <div class="popup-page tw-popup fixed-bottom">
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <h3 class="complete-title pt60">
                    <img src="<%= CDN %>/img/ico/ico-login-fail.png" alt=""/>
                    <span><strong>아이디 로그인 후</strong><br />이용하실 수 있습니다.</span>
                </h3>
                <p class="complete-error-tx pt32">
                    <span class="tx2">서비스를 이용하시려면 &acute;T아이디 로그인&acute;을<br />하시거나 &acute;T아이디 회원가입&acute; 후 이용해 주세요.</span>
                </p>
                <div class="complete-btn-box pt40">
                    <ul class="bt-slice">
                        <li class="bt-white2">
                            <button class="fe-bt-login">아이디 로그인 하기</button>
                        </li>
                    </ul>
                    <ul class="bt-slice">
                        <li class="bt-white2">
                            <button class="fe-bt-signup">회원가입 하기</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-common-back">돌아가기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <!--// .popup hbs -->
</div>
</body>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.TidLandingComponent($('#commonMemberSloginFail'), '<%= target %>');
  });
</script>
<% include ../components/end.component.html %>