<%#
* FileName: payment.prepay.auto.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.26
%>
<!-- #header -->
<div id="header" class="header-wrap step-page">
    <div class="header step-page">
        <div class="header-ti">
            <h1>자동 선결제 신청</h1>
        </div>
        <button class="close-step fe-common-back"><span class="blind">닫기</span></button>
    </div>
</div>
<!--// #header -->
<h2 class="blind">내용</h2>
<div class="container">
    <div class="cont-box">
        <div class="pay-info">
            <h3 class="pay-tit">금액정보</h3>
            <ul class="account-inner">
                <li class="account-wrap type2">
                    <h4 class="account-tit">기준금액
                        <span class="max-account">최대 <em class="fe-standard-amount"><%= autoPrepayInfo.comboStandardAmount %></em>만원
                            <button class="max-account-info blind" aria-haspopup="true">기준 최대금액 설명 보기</button>
                        </span>
                    </h4>
                    <div class="account-form">
                        <span class="account-form-select">
                            <button class="bt-dropdown big fe-select-standard-amount" title="기준금액 변경 선택" aria-haspopup="true" id="<%= autoPrepayInfo.cmbAutoChrgStrdAmt %>">
                                <span class="ico"></span><%= autoPrepayInfo.comboStandardAmount %>만원
                            </button>
                        </span>
                    </div>
                </li>
                <li class="account-wrap type2">
                    <h4 class="account-tit">선결제 금액
                        <span class="max-account">최대 <em class="fe-standard-amount"><%= autoPrepayInfo.comboChargeAmount %></em>만원
                            <button class="max-account-info blind" aria-haspopup="true">선결제 최대금액 설명 보기</button>
                        </span>
                    </h4>
                    <div class="account-form">
                        <span class="account-form-select">
                            <button class="bt-dropdown big fe-select-prepay-amount" title="선결제 금액 변경 선택" aria-haspopup="true" id="<%= autoPrepayInfo.cmbAutoChrgAmt %>">
                                <span class="ico"></span><%= autoPrepayInfo.comboChargeAmount %>만원
                            </button>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <hr class="cont-sp type1" aria-hidden="true" />
    <div class="cont-box">
        <div class="pay-info fe-auto-card-wrap">
            <div class="widget">
                <h3 class="pay-tit" aria-checked="false">카드정보</h3>
                <% if (autoCardInfo !== null) { %>
                <div class="widget-box check">
                    <span class="checkbox type01 pay-check-box fe-auto-prepay-check-box" role="checkbox" aria-checked="false">
                        <input type="checkbox" name="checkbox" value="" title="자동납부정보와 동일">
                        자동납부정보와 동일
                    </span>
                </div>
                <div id="fe-s-card-info" class="none">
                    <span class="fe-s-card-number"><%= autoCardInfo.s_bank_card_num %></span>
                    <span class="fe-s-card-code"><%= autoCardInfo.s_bank_card_co_cd %></span>
                    <span class="fe-s-card-name"><%= autoCardInfo.s_bank_card_name %></span>
                </div>
                <% } %>
            </div>
            <ul class="account-inner">
                <li class="account-wrap">
                    <h4 class="account-tit">카드주명</h4>
                    <div class="account-form">
                        <span class="pay-view-box fe-card-owner"><%= svcInfo.mbrNm %></span>
                    </div>
                </li>
                <li class="account-wrap">
                    <h4 class="account-tit">생년월일</h4>
                    <div class="account-form">
                        <div class="inputbox input-context">
                            <span class="input">
                                <input type="number" class="fe-only-number fe-birth" maxlength="6" placeholder="(ex.890101)숫자만 입력" title="생년월일 숫자만 입력(ex.890101)">
                                <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="account-wrap">
                    <h4 class="account-tit">카드번호</h4>
                    <div class="account-form">
                        <div class="inputbox input-context">
                            <span class="input">
                                <input type="number" class="fe-only-number fe-card-number" placeholder="숫자만 입력" title="카드번호 숫자만 입력">
                                <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="account-wrap">
                    <h4 class="account-tit">유효기간</h4>
                    <div class="inputbox card-tbl">
                        <span class="input card-cell">
                            <input type="number" class="fe-only-number fe-card-y" maxlength="4" placeholder="YYYY" title="카드유효기간 년">
                            <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                        </span>
                        <span class="input card-cell">/</span>
                        <span class="input card-cell">
                            <input type="number" class="fe-only-number fe-card-m" maxlength="2" class="c-month" placeholder="MM" title="카드유효기간 월">
                            <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                        </span>
                    </div>
                </li>
                <li class="account-wrap">
                    <h4 class="account-tit">카드비밀번호</h4>
                    <div class="inputbox">
                        <span class="input">
                            <input type="password" class="fe-only-number fe-card-password" maxlength="2" placeholder="앞2자리 **" title="카드비밀번호 앞2자리">
                            <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="contents-btn">
            <ul class="bt-slice item-two">
                <li class="bt-white2">
                    <button class="fe-common-back">이전</button>
                </li>
                <li class="bt-red1">
                    <button class="fe-request-auto-prepay">신청하기</button>
                </li>
            </ul>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true" />
    <% include ../components/info/payment.prepay.micro.info.component.html %>
</div>