<%#
* @file product.roaming.fee.component.html
* @author Eunjung Jung
* @since 2018.11.21
%>

<script id="fe-rmtmpl-plan" type="text/x-handlebars-template">
    {{#each items}}
        <li class="type01">
            <a href="/product/callplan?prod_id={{prodId}}" class="product-infolink">
                <div class="products-titleinfo">
                    <h5 class="title">{{prodNm}}</h5>
                      <p class="info"><span class="money">{{basFeeAmt}}</span>{{#if isNumber}}원{{/if}}</p>
                </div>
                {{#if filters}}
                <div class="taglist-wrap">
                    {{#each filters}}
                        <button class="tag-text">#{{prodFltNm}}</button>
                    {{/each}}
                </div>
                {{/if}}
                <p class="products-detailinfo">{{prodSmryDesc}}</p>
            </a>
        </li>
    {{/each}}
</script>

<script id="fe-rmtmpl-filter" type="text/x-handlebars-template">
    {{#if filters}}
    {{#each filters}}
    #<span class="taglist">{{this}}</span>
    {{/each}}
    {{#if leftCount}} 외 {{leftCount}}건 {{/if}}
    {{else}}
    #<span class="taglist">전체 요금제</span>
    {{/if}}
</script>
