<%#
* FileName: product.roaming.info.center.icn-c.html
* Author: SeungKyu Kim  (ksk4788@pineone.com)
* Date: 2018.11.12
%>
<div class="cont-box" id="center3">
    <button id="flab04" class="bt-dropdown big" title="수령장소 선택" aria-haspopup="true">인천공항 2터미널 3층<span class="ico"></span></button>
    <div class="mapimg-area"><img src="<%= CDN %>/img/product/place-img-02.png" alt="인천공항 2터미널 3층 면세구역 251번 GATE, D~E 카운터 사이"/></div>
    <table class="data-a mt20">
        <caption>공항 로밍센터 처리업무, 위치, 업무시간 안내입니다.</caption>
        <colgroup>
            <col style="width:30%" />
            <col style="width:40%" />
            <col style="width:30%" />
        </colgroup>
        <thead>
        <tr>
            <th class="t-l" scope="col">처리업무</th>
            <th class="t-l" scope="col">위치</th>
            <th class="t-l" scope="col">업무시간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="t-l">baro Box 임대<br />/로밍 폰 임대</td>
            <td class="t-l">2터미널 3층 D-E 카운터 사이</td>
            <td class="t-l">06:00~22:00</td>
        </tr>
        <tr>
            <td class="t-l">자동로밍</td>
            <td class="t-l">2터미널 3층 면세구역 251번 Gate 앞</td>
            <td class="t-l">07:00~21:00</td>
        </tr>
        </tbody>
    </table>
</div>