<%#
* FileName: product.roaming.info.center.cju.html
* Author: SeungKyu Kim  (ksk4788@pineone.com)
* Date: 2018.11.12
%>
<div class="cont-box" id="center6">
    <div class="mapimg-area pt0"><img src="<%= CDN %>/img/product/place-img-04.png" alt="제주공항 5번 GATE 옆 T로밍센터 위치"/></div>
    <table class="data-a mt20">
        <caption>제주공항 로밍센터 처리업무, 위치, 업무시간 안내입니다.</caption>
        <colgroup>
            <col style="width:30%" />
            <col style="width:40%" />
            <col style="width:30%" />
        </colgroup>
        <thead>
        <tr>
            <th class="t-l" scope="col">처리업무</th>
            <th class="t-l" scope="col">위치</th>
            <th class="t-l" scope="col">업무시간</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        	<td class="t-l">T파이 임대/<br />로밍폰 임대</td>
            <td class="t-l" rowspan="2">국제선 1층 입국장<br />맞은편 (5번 Gate 옆)</td>
            <td class="t-l" rowspan="2">09:00~19:00</td>
        </tr>
        <tr>
            <td class="t-l">자동로밍</td>
        </tr>
        </tbody>
    </table>
</div>