<%#
* @file product.roaming.fi.inquire.component.html
* @author 김승규 (ksk4788@pineone.com)
* @since 2018.11.28
%>
<script id="tmplList" type="text/x-handlebars-template">
    {{#each list}}
    <li>
        <div class="basic-list">
            <ul>
                <li>
                    <span class="title gray">예약일</span>
                    <span class="tx-cont">{{rsv_rcv_dtm}}</span>
                </li>
                <li>
                    <span class="title gray">임대 기간</span>
                    <span class="tx-cont">{{rental_schd_sta_dtm}} ~ {{rental_schd_end_dtm}}</span>
                </li>
                <li>
                    <span class="title gray">방문 국가</span>
                    <span class="tx-cont">{{{visit_nat_lst}}}</span>
                </li>
                <li>
                    <span class="title gray">수령 장소</span>
                    <span class="tx-cont">{{show_rental_booth_org_id}}</span>
                </li>
                <li>
                    <span class="title gray">반납 장소</span>
                    <span class="tx-cont">{{show_rtn_sale_org_id}}</span>
                </li>
                <li>
                    <span class="title gray">진행 상태</span>
                    <span class="tx-cont tx-bold">{{show_rental_st_nm}}</span>
                </li>
            </ul>
        </div>
        <ul class="bt-slice item-two mt30">
            {{#if dateDifference}}
                <li class="bt-white2">
                    <button id="fe-cancel" data-response="{{json this}}">예약 취소</button>
                </li>
                <li class="bt-white2">
                    <button id="fe-edit" data-response="{{json this}}">예약 수정</button>
                </li>
            {{else}}
                <li class="bt-white2">
                    <button disabled>예약 취소</button>
                </li>
                <li class="bt-white2">
                    <button disabled>예약 수정</button>
                </li>
            {{/if}}
        </ul>
    </li>
    {{/each}}
</script>