<%#
* FileName: myt-data.prepaid.history.list.html
* Author: Jiyoung Jo (jiyoungjo@sk.com)
* Date: 2018.11.27
%>


<script id="fe-tmpl-charge-year" type="text/x-handlebars-template">
    <li class="year-tx" data-year="{{year}}" data-type="{{type}}">{{year}}</li>
</script>

<script id="fe-tmpl-charge-items" type="text/x-handlebars-template">
    {{#each items}}        
        <li>
            <p class="list-text">
                <span class="stext-b"><i class="badge badge-{{icon.type}}"><span class="blind">{{icon.name}}</span></i> {{../typeName}} 충전 <span class="data">{{data}}</span></span>
                <span class="stext"><span class="gray-tx">{{cardNm}}</span><span class="black-tx">{{payNm}}</span></span>
            </p>
            <div class="list-data">
                <button class="bt-link data-tx {{#if isCanceled}}gray-tx{{else}}blue-tx{{/if}}" data-origin-idx={{idx}}>{{amt}}원</button>
                {{#if isRefundable}}<button class="bt-link-tx underline red">취소</button>{{/if}}
            </div>
        </li>
    {{/each}}
</script>

<script id="fe-tmpl-charge-day" type="text/x-handlebars-template">
    <li class="list-box" data-type="{{type}}" data-key="{{key}}">
        <p class="list-date">
            <span class="date-tx">{{date}}</span>
        </p>
        <ul class="list-con">
            {{>chargeItems items=items}}
        </ul>
    </li>
</script>
