<%#
* FileName: payment.auto.home-etc.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.05
%>
<div class="pay-info">
    <span class="pay-tit">고객님께서는 현재 <br />
        <strong><%= payment.paymentTitle %></strong>를 이용 중 입니다.
    </span>
    <div class="payment-inner">
        <div class="payment-wrap">
            <ul class="contents-notice type1">
                <li class="noti-type2 fs-larger">자동납부를 신청하시면 편리하고 빠르게<br />
                    납부하실 수 있습니다.
                </li>
                <li class="noti-type2 fs-larger">자동납부 신청/변경/해지업무는 <strong>금융거래용 본인인증</strong> 후 이용이
                    가능하오니 참고하시기 바랍니다.
                </li>
            </ul>
        </div>
    </div>
    <div class="contents-btn">
        <ul class="bt-slice">
            <li class="bt-blue1">
                <a class="go-change new" href="#step1-change">자동납부 신청</a>
            </li>
        </ul>
    </div>
</div>