<%#
* FileName: payment.auto.complete-cancel.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.05
%>
<!-- #header -->
<div id="header" class="header-wrap step-page">
    <div class="header step-page">
        <div class="header-ti">
            <h1>자동납부 해지</h1>
        </div>
        <button class="close-step fe-common-back"><span class="blind">닫기</span></button>
    </div>
</div>
<!--// #header -->
<div class="container">
    <div class="cont-box nogaps-top">
        <div class="msg-present-box">
            <div class="msg-present-comp">
                <span class="ico"></span>
                <p class="txt"><span class="tx-bold">자동납부 해지</span> 가<br />완료되었습니다.</p>
            </div>
            <div class="msg-pay-info">
                <p class="msg-ti-s">지로납부 및 입금전용계좌납부<br />고객에게 입금전용계좌 SMS서비스를 제공합니다.</p>
                <p class="msg-ti-s">입금전용계좌 은행명과<br />문자 발송여부를 선택해 주세요.</p>
            </div>
            <div class="inner">
                <div class="account-wrap">
                    <h3 class="account-tit">입금전용계좌 은행</h3>
                    <div class="account-detail">
                        <div class="select-name">
                            <button class="bt-dropdown select-bank fe-auto-cancel-select-bank" title="은행 선택하기">은행명<span class="ico"></span></button>
                        </div>
                    </div>
                    <div class="widget msg-account-info">
                        <div class="widget-box radio">
                            <h3 class="account-tit">문자 발송여부</h3>
                            <ul class="select-list select-way" role="radiogroup">
                                <li class="radiobox type01 checked fe-sms-first-radio-box" role="radio" aria-checked="true">
                                    <input type="radio" name="radio1" value="예" title="예" checked="checked" />
                                    예(수신)
                                </li>
                                <li class="radiobox type01" role="radio" aria-checked="false">
                                    <input type="radio" name="radio1" value="아니오" title="아니오"/>
                                    아니오(미수신)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="contents-notice type1">
                    <li class="noti-type3">매월 납기일 전 입금전용 계좌번호 문자 안내 수신 동의</li>
                </ul>
            </div>
            <div class="contents-btn">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button class="fe-sms-get-confirm">문자 서비스 수신 확인</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true"/>
    <div class="cont-box">
        <!-- .widget -->
        <div class="widget"><!--2018-07-05 수정-->
            <div class="widget-box accordion">
                <h5 class="tit-a">꼭 확인해 주세요!</h5>
                <div class="acco-cover toggle on"><!-- toggle : 한개만 열기 -->
                    <div class="acco-style btn-hold">
                        <ul class="acco-list">
                            <li class="acco-box">
                                <!-- .on: 열기 -->
                                <div class="acco-tit"><span class="bullet">1.</span> 지로/입금전용계좌 납부 시 문자안내서비스(무료)를 제공 해 드리고 있습니다.<button role="button" aria-pressed="false">상세보기</button></div>
                                <div class="acco-cont">
                                    <ul class="list-dot">
                                        <li class="list">지로/입금전용계좌 납부를 신청하시는 경우 입금전용계좌 문자안내서비스(무료)를 제공 해 드리고 있습니다.</li>
                                        <li class="list">은행명(주거래 은행명)을 선택하시면 입금전용계좌 문자 안내 시 해당은행의 입금전용계좌번호를 안내 해 드립니다. 등록을 원치 않으시면 ‘미선택’으로도 선택 하실 수 있습니다.</li>
                                        <li class="list">은입금전용계좌 문자안내 신청 시 청구서와 별도로 매월 납기일 전에 선택하신 은행의 입금전용계좌를 문자메시지로 받아보실 수 있습니다. 별도의 문자 수신을 원치 않으시는 경우 문자발송 ‘아니오(미수신)’을 선택 해 주시면 됩니다.</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// .widget -->
    </div>
</div>