<!--
* FileName: payment.auto.input.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.05
-->
<div class="container">
    <div class="cont-box">
        <!-- .widget -->
        <div class="widget">
            <div class="widget-box step">
                <h3 class="step-ti"><em>STEP 01</em>정보입력</h3>
                <ul class="step-list">
                    <li class="on">1<span class="blind">연락처 입력</span></li>
                    <li>2<span class="blind">데이터 선택</span></li>
                </ul>
            </div>
        </div>
        <!-- //.widget -->
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <div class="cont-box">
        <div class="pay-info">
            <h4 class="pay-tit">납부 방법 선택 및 정보입력</h4>
            <div class="widget select-way">
                <div class="widget-box radio">
                    <ul class="select-list" role="radiogroup">
                        <li class="radiobox type01 checked" role="radio" aria-checked="true">
                            <input type="radio" name="radio1" value="은행계좌이체" title="은행계좌이체 선택" checked="checked" />
                            은행계좌이체
                        </li>
                        <li class="radiobox type01" role="radio" aria-checked="false">
                            <input type="radio" name="radio1" value="체크/신용카드 납부" title="체크/신용카드 선택"/>
                            체크/신용카드 납부
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="account-wrap">
                <h5 class="account-tit">은행명 / 계좌번호</h5>
                <div class="account-detail">
                    <div class="select-name">
                        <button class="bt-dropdown" title="은행 선택하기">은행명<span class="ico"></span></button>
                    </div>
                    <div class="inputbox input-context">
                        <span class="input">
                            <input type="text" placeholder="계좌번호 (숫자만 입력)" title="계좌번호">
                            <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="account-wrap">
                <h5 class="account-tit">휴대폰 번호</h5>
                <div class="account-detail">
                    <div class="inputbox">
                        <span class="input">
                            <input type="text" placeholder="숫자만 입력" title="카드번호">
                            <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                        </span>
                    </div>
                </div>
                <div class="contents-btn">
                    <ul class="bt-slice item-two">
                        <li class="bt-white2">
                            <button class="common-back">이전</button>
                        </li>
                        <li class="bt-blue1">
                            <button class="change"><a href="#complete-change">다음</a></button>
                        </li>
                    </ul>
                </div>
                <ul class="contents-notice type1">
                    <li class="noti-type3">최초 인출(승인)예정일은 자동납부 신청 후<br />
                        확인 하실 수 있습니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true"/>
    <div class="cont-box">
        <!-- .widget -->
        <div class="widget">
            <div class="widget-box accordion">
                <h5 class="tit-a">이용안내</h5>
                <div class="acco-cover toggle on"><!-- toggle : 한개만 열기 -->
                    <!--<div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>-->
                    <div class="acco-style btn-hold">
                        <ul class="acco-list">
                            <li class="acco-box">
                                <!-- .on: 열기 -->
                                <div class="acco-tit"><span class="bullet">1.</span> 자동납부 안내<button role="button" aria-pressed="false">상세보기</button></div>
                                <div class="acco-cont">
                                    <ul class="list-dot">
                                        <li class="list">은행계좌로 자동이체를 신청하시면 자동납부 신청결과가 금융기관으로부터 3일(은행 영업일 기준)후에 당사에 반영되오니, 정상적으로 신청되었는지 추후에 반드시 확인하시기 바랍니다.</li>
                                        <li class="list">T world 확인/스마트청구서/문자청구서/이메일청구서를 이용하시면 매월 15일 자동납부 승인요청이 가능합니다.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="acco-box">
                                <div class="acco-tit"><span class="bullet">2.</span> 요금납부일 변경 안내<button role="button" aria-pressed="false">상세보기</button></div>
                                <div class="acco-cont">
                                    <ul class="list-dot">
                                        <li class="list">현재 이용하고 계신 은행계좌이체의 요금납부일을 변경 하실 수 있습니다.</li>
                                        <li class="list">요금납부일은 언제든지 변경 가능하며 단, 매월 5일 이후 요금납부일을 변경 시에는 익월에 반영되며, 당월에는 요금납부일 변경 전 자동납부 정보로 인출됩니다.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="acco-box">
                                <div class="acco-tit"><span class="bullet">3.</span> 이용안내<button role="button" aria-pressed="false">상세보기</button></div>
                                <div class="acco-cont">
                                    <ul class="list-dot">
                                        <li class="list">요금납부일 변경은 지점/대리점/고객센터 포함 월 1회 가능</li>
                                        <li class="list">정기 청구작업으로 인해 매월 5일 21시부터 6일 04시까지 자동납부 신청/변경/해지가 불가합니다</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// .widget -->
    </div>
</div>