<!--
* FileName: myt.usage.troaming-share.html
* Author: 이정민 (skt.p130713@partner.sk.com)
* Date: 2018.08.03
-->
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<!-- wrap -->
<div id="fe-myt-usage-troaming-share" class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti align-l">
                <h1>T로밍 함께쓰기 사용량 조회</h1>
                <button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>
            </div>
            <button class="prev-step"><span class="blind">이전으로</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <div class="top-info">
                    <span class="info-text"><%= svcInfo.svcNum %> 번호로 <em><%= usageData.korLengStr %></em>과<br />T로밍을 이용 중이시네요!</span>
                    <div class="link-box">
                        <button role="button" class="link-btn type2"><%= usageData.roamProdNm %></button>
                        <span class="info-sub">남은 일수
                            <% if(usageData.showRemainDay.days !== 0) { %>
                                <em><%= usageData.showRemainDay.days %></em>일
                                <% if(usageData.showRemainDay.hours !== 0) { %>
                                    <em><%= usageData.showRemainDay.hours %></em>시간
                                <% } %>
                            <% } else { %>
                                <% if(usageData.showRemainDay.hours !== 0) { %>
                                    <em><%= usageData.showRemainDay.hours %></em>시간
                                    <% if(usageData.showRemainDay.minutes !== 0) { %>
                                    <em><%= usageData.showRemainDay.minutes %></em>분
                                    <% } %>
                                <% } else {%>
                                    <em><%= usageData.showRemainDay.minutes %></em>분
                                <% } %>
                            <% } %>
                        </span>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '데이터', items: [usageData.dataSharing.data], showUnitSwitch: true }); %>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box">
                <h2 class="title-h2">T로밍 함께쓰기 사용량 정보</h2>
                <div class="payment-detail-wrap">
                    <h3 class="usage-tit">총 사용량</h3>
                    <div class="usage-all">
                        <span class="usage-cont">
                            <em><%= usageData.showTotalUsed.data %></em><%= usageData.showTotalUsed.unit %>
                            <% if (usageData.showTotalUsedSub) { %>
                            <span class="sub-txt">(<%= usageData.showTotalUsedSub.data%><%= usageData.showTotalUsedSub.unit %>)</span></span>
                            <% } %>
                    </div>


                    <% if( usageData.showChildList.length > 0 ) { %>
                        <% for (var i = 0; i < usageData.showChildList.length; i++) { %>
                            <div class="payment-detail-box">
                                <div class="detail-inner">
                                    <div class="detail-list type2">
                                        <ul>
                                            <li>
                                                <span class="title">관계</span>
                                                <span class="tx-cont"><%= usageData.showChildList[i].role %></span>
                                            </li>
                                            <li>
                                                <span class="title">회선번호</span>
                                                <span class="tx-cont"><span class="ff-hn"><%= usageData.showChildList[i].svcNum %></span></span>
                                            </li>
                                            <li>
                                                <span class="title">고객명</span>
                                                <span class="tx-cont"><%= usageData.showChildList[i].custNm %></span>
                                            </li>
                                            <li>
                                                <span class="title">사용량</span>
                                                <span class="tx-cont"><span class="ff-hn">
                                                    <%= usageData.showChildList[i].showUsed.data %>
                                                    <%= usageData.showChildList[i].showUsed.unit %>
                                                </span></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <ul class="contents-notice type3">
                        <li class="noti-type2">실제 데이터 사용량과 다소 차이가 있을 수 있으니 참고용으로 활용하시기 바랍니다.</li>
                        <li class="noti-type2">T로밍 함께쓰기가 설정된 회선의 명의변경/해지/일시정지 등의 변경 처리가 발생할 경우 사용량을 조회할 수 없으며, 이에 따라 총 사용량과는 차이가 있을 수 있습니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }) %>
</div>
<!-- // wrap -->
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MytUsageTroamingShare($('#fe-myt-usage-troaming-share'));
    // var comp = new Tw.MytUsageView($('.container'));
  });
</script>
<% include ../../components/end.component.html %>