<% include ../../components/start.component.html %>

<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<!-- wrap -->
<div class="wrap">
    <!-- header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>실시간 사용량</h1>
                <button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>
            </div>
            <button class="prev-step"><span class="blind">이전으로</span></button>
            <button class="search-content"><span class="blind">검색하기</span></button>
        </div>
    </div>
    <!-- // header -->
    <!-- content -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <div class="top-info">
                    <button role="button" class="link-btn" id="<%= usageData.prodId %>"><%= usageData.prodName %></button>
                    <span class="info-sub">남은 일수 <em><%= remainDate %></em>일</span>
                </div>
            </div>
            <% if (usageData.data && usageData.data.length > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '데이터', items: usageData.data }); %>

                <div class="list-link">
                    <ul>
                        <li>
                            <button>리필하기<span class="qnt">(<span>5</span>)</span></button>
                        </li>
                        <li>
                            <button>T끼리 데이터선물 / 조르기</button>
                        </li>
                        <li>
                            <button>T데이터셰어링 사용량</button>
                        </li>
                    </ul>
                </div>

                <div class="msg-guide-link">
                    <strong class="tit">요금제 Tip</strong>
                    <p class="txt">통화는 자주 안 하지만 데이터가<br />부족하다면??</p>
                    <button class="bt-link-tx">다른 요금제 알아보기<span class="ico"></span></button>
                </div>

            </div>
            <% } %>

            <% if (usageData.voice && usageData.voice.length > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '음성/영상', items: usageData.voice }); %>

                <div class="list-link">
                    <ul>
                        <li>
                            <button>리필하기<span class="qnt">(<span>5</span>)</span></button>
                        </li>
                    </ul>
                </div>
            </div>
            <% } %>

            <% if (usageData.sms && usageData.voice.sms > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '문자', items: usageData.sms }); %>

            </div>
            <% } %>

            <% if (usageData.etc && usageData.voice.etc > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '기차', items: usageData.ect }); %>
            </div>
            <% } %>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box nogaps-hoz">
                <div class="link-long-group">
                    <div class="link-long">
                        <button>T로밍 함께쓰기<span class="ico"></span></button>
                    </div>
                    <div class="link-long">
                        <button>데이터 함께쓰기<span class="ico"></span></button>
                    </div>
                    <div class="link-long">
                        <button>데이터 한도요금제<span class="ico"></span></button>
                    </div>
                    <div class="link-long">
                        <button>팅 요금상품<span class="ico"></span></button>
                    </div>
                    <div class="link-long">
                        <button>24시간 데이터 50% 할인<span class="ico"></span></button>
                    </div>
                    <!-- 2017-07-27 버튼 추가 -->
                    <div class="link-long">
                        <button>내폰끼리 결합<span class="ico"></span></button>
                    </div>
                    <!--// 2017-07-27 버튼 추가 -->
                    <div class="link-long">
                        <button>자녀폰 사용량 조회 (<span class="bold">5</span>명)<span class="ico"></span><span class="badge badge-fam"><span class="blind">자녀</span></span></button>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box nogaps-btm">
                <h2 class="title-h2">이 메뉴도 보실래요?</h2>
                <div class="link-long-group mt18">
                    <div class="link-long">
                        <button>실시간 요금조회<span class="ico"></span></button>
                    </div>
                    <div class="link-long">
                        <button>나의 사용패턴<span class="ico"></span></button>
                    </div>
                </div>
            </div>

            <% include ../../components/usage/myt.usage.info.component.html %>
        </div>
    </div>
    <!-- // content -->
    <!-- footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.MytUsage($('#myt-usage'));
  });
</script>
<% include ../../components/end.component.html %>