<!--
* FileName: myt.usage.tdata-share-info.html
* Author: 이정민 (skt.p130713@partner.sk.com)
* Date: 2018.07.25
-->
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<!-- wrap -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti align-l">
                <h1>T데이터셰어링 서비스 안내</h1>
            </div>
            <button class="prev-step"><span class="blind">이전으로</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <div class="top-info">
                    <span class="info-text">홍길동 고객님은 <em>5</em>개 USIM으로 T데이터셰어링을 이용중이시네요!</span>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box nogaps-btm">
                <h2 class="title-h2">T데이터셰어링 사용량 정보</h2>
                <div class="payment-detail-wrap">
                    <div class="usage-wrap">
                        <h3 class="usage-tit">기본제공 데이터 사용량</h3>
                        <button role="button" class="ico-info"><span class="blind">기본제공 데이터 사용량 상세보기</span></button>
                    </div>
                    <div class="usage-all">
                        <span class="usage-cont"><em>1</em>GB <span class="sub-txt">(1,024MB)</span></span>
                    </div>

                    <div class="usage-wrap">
                        <h3 class="usage-tit">총 데이터 사용량</h3>
                        <button role="button" class="ico-info"><span class="blind">총 데이터 사용량 상세보기</span></button>
                    </div>
                    <div class="usage-all">
                        <span class="usage-cont"><em>1</em>GB <span class="sub-txt">(1,024MB)</span></span>
                    </div>

                    <div class="payment-detail-box">
                        <div class="detail-inner">
                            <div class="detail-list type2">
                                <ul>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 번호</span>
                                        <span class="tx-cont">
                                                <span class="ff-hn">1010-1003-7399-1F</span>
                                                <span class="divice-sort">(한도형)</span>
                                            </span>
                                    </li>
                                    <li>
                                        <span class="title">서비스 등록일</span>
                                        <span class="tx-cont"><span class="ff-hn">2018.05.16</span></span>
                                    </li>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 상태</span>
                                        <span class="tx-cont">사용중</span>
                                    </li>
                                    <li>
                                        <span class="title">이번달 사용량</span>
                                        <span class="tx-cont"><span class="ff-hn">0MB</span></span>
                                    </li>
                                    <li>
                                        <span class="title">서비스 해지</span>
                                        <span class="tx-cont"><button role="button" class="red-btn">해지하기</button></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="payment-detail-box">
                        <div class="detail-inner">
                            <div class="detail-list type2">
                                <ul>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 번호</span>
                                        <span class="tx-cont">
                                                <span class="ff-hn">1010-1003-7399-1F</span>
                                                <span class="divice-sort">(한도형)</span>
                                            </span>
                                    </li>
                                    <li>
                                        <span class="title">서비스 등록일</span>
                                        <span class="tx-cont"><span class="ff-hn">2018.05.16</span></span>
                                    </li>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 상태</span>
                                        <span class="tx-cont">
                                                <span class="block">분실신고</span>
                                                <button role="button" class="blue-btn mt12">분실신고해제</button>
                                            </span>
                                    </li>
                                    <li>
                                        <span class="title">이번달 사용량</span>
                                        <span class="tx-cont"><span class="ff-hn">0MB</span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="payment-detail-box">
                        <div class="detail-inner">
                            <div class="detail-list type2">
                                <ul>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 번호</span>
                                        <span class="tx-cont">
                                                <span class="ff-hn">1010-1003-7399-1F</span>
                                                <span class="divice-sort">(한도형)</span>
                                            </span>
                                    </li>
                                    <li>
                                        <span class="title">서비스 등록일</span>
                                        <span class="tx-cont"><span class="ff-hn">2018.05.16</span></span>
                                    </li>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 상태</span>
                                        <span class="tx-cont">일반해지</span>
                                    </li>
                                    <li>
                                        <span class="title">이번달 사용량</span>
                                        <span class="tx-cont"><span class="ff-hn">0MB</span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="payment-detail-box">
                        <div class="detail-inner">
                            <div class="detail-list type2">
                                <ul>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 번호</span>
                                        <span class="tx-cont">
                                                <span class="ff-hn">1010-1003-7399-1F</span>
                                                <span class="divice-sort">(한도형)</span>
                                            </span>
                                    </li>
                                    <li>
                                        <span class="title">서비스 등록일</span>
                                        <span class="tx-cont"><span class="ff-hn">2018.05.16</span></span>
                                    </li>
                                    <li>
                                        <span class="title">T데이터셰어링<br />USIM 상태</span>
                                        <span class="tx-cont">정지</span>
                                    </li>
                                    <li>
                                        <span class="title">이번달 사용량</span>
                                        <span class="tx-cont"><span class="ff-hn">0MB</span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bt-more-wrap">
                    <button role="button" class="bt-more" title="">더보기<span>(20)</span></button>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box nogaps-btm">
                <h2 class="title-h2">이 메뉴도 보실래요?</h2>
                <div class="link-long-group mt18">
                    <div class="link-long">
                        <button>실시간 요금조회<span class="ico"></span></button>
                    </div>
                    <div class="link-long">
                        <button>나의 사용패턴<span class="ico"></span></button>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box nogaps-hoz">
                <div class="box-confirm">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box accordion">
                            <h3 class="tit-a">이용안내</h3>
                            <div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
                                <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                <div class="acco-style">
                                    <ul class="acco-list">
                                        <li class="acco-box on">
                                            <!-- .on: 열기 -->
                                            <div class="acco-tit"><button role="button" aria-pressed="true">1. T 데이터셰어링 이용제한 안내</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">휴대폰 일시정지 시, T 데이터셰어링 서비스를 이용하실 수 없습니다.</li>
                                                    <li class="list">T 데이터셰어링을 해지한 USIM으로는 데이터 서비스를 사용하실 수 없습니다. 사용을 원하시는 경우, 다시 서비스 등록을 하셔야 합니다.</li>
                                                    <li class="list">올인원 등 기본제공 데이터가 있는 요금상품을 이용하시는 고객님께서는 기본제공 데이터 한도를 다 쓰면 서비스를 이용하실 수 없습니다.</li>
                                                    <li class="list">T 데이터셰어링 서비스 이용 시 시스템에 영향을 줄 경우 데이터 서비스 속도가 느려지거나 이용이 제한 될 수 있습니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false">2. T 데이터셰어링 자동해지</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list"><em>휴대폰 번호의 명의변경이나 해지 시</em> 등록된 모든 T 데이터셰어링 서비스도 자동 해지됩니다.</li>
                                                    <li class="list"><em>T 데이터셰어링을 사용할 수 있는 요금상품</em> (올인원 등 기본제공 데이터 혜택이 제공되는 요금상품 및 안심데이터 등 데이터 옵션 요금상품) <em>변경 시</em> 등록된 T 데이터셰어링 서비스도 자동 해지됩니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false">3. USIM 등록일 기준 안내</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">올인원 등 요금상품의 경우, USIM 등록일 기준으로 T 데이터셰어링 이용한도 내에서 이용이 가능합니다.</li>
                                                    <li class="list"><em>USIM 등록일이 2011년 3월 8일 이전 사용자의 경우,</em>
                                                        <ul class="inner-group type4"><!-- - 일 경우 -->
                                                            <li class="inner-list"><span class="bullet">-</span> 올인원 34/44 데이터 요금상품 등 : 해당 요금상품의 데이터 한도 내 이용 가능</li>
                                                            <li class="inner-list"><span class="bullet">-</span> 올인원 54, 64, 79, 94 계열 : 휴대폰 이용기준과 동일 (데이터 무제한 이용 가능)</li>
                                                        </ul>
                                                    </li>
                                                    <li class="list">
                                                        <em>USIM 등록일이 2011년 3월 8일 이전 사용자의 경우,</em>
                                                        <ul class="inner-group type4"><!-- - 일 경우 -->
                                                            <li class="inner-list"><span class="bullet">-</span> 올인원 34/44 데이터 요금상품 등 : 해당 요금상품의 데이터 한도 내 이용 가능</li>
                                                            <li class="inner-list"><span class="bullet">-</span> 올인원 54계열 : 700MB</li>
                                                            <li class="inner-list"><span class="bullet">-</span> 올인원 64계열 : 1GB</li>
                                                            <li class="inner-list"><span class="bullet">-</span> 올인원 79계열 : 1.5GB</li>
                                                            <li class="inner-list"><span class="bullet">-</span> 올인원 94계열 넘버원(무제한형) : 2GB.</li>
                                                        </ul>
                                                    </li>
                                                    <li class="list">2011년 3월 8일 이전 등록 USIM 이라도 휴대폰의 요금상품 변경에 따라 데이터 이용 기준이 변경 될 수 있습니다.
                                                        <ul class="inner-group type4"><!-- - 일 경우 -->
                                                            <li class="inner-list"><span class="bullet">-</span>2011년 3월 8일 기준 올인원34/44 및 데이터요금제 이용 고객은 2011년 3월 9일 이후 데이터 무제한요금상품으로 변경 하더라도 데이터 이용한도 내에서 이용 할 수 있습니다.</li>
                                                            <li class="inner-list"><span class="bullet">-</span> 데이터무제한 요금상품에서 올인원34/44 등 데이터 한도관리가 되는 요금상품으로 변경한 이후에는 데이터 이용 한도 내에서 이용 할 수 있습니다</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false">4. T 데이터셰어링 무제한형 USIM</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">T 데이터셰어링 무제한형 USIM을 사용하는 고객님의 '인터넷직접접속' 사용량은 이번 달 사용량 및 총 데이터 사용량 정보에 합산되지 않습니다.</li>
                                                    <li class="list">인터넷직접접속이란 단말기로 URL을 통해 인터넷서비스를 이용하는 것을 말합니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }) %>
</div>
<!-- // wrap -->
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    // var comp = new Tw.MytUsageView($('.container'));
  });
</script>
<% include ../../components/end.component.html %>