<% include ../../components/start.component.html %>

<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<!-- wrap -->
<div class="wrap" id="myt-usage">
    <!-- header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '실시간 사용량', svcInfo: svcInfo }); %>
    <!-- // header -->
    <!-- content -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <div class="top-info">
                    <button role="button" class="link-btn" id="<%= usageData.prodId %>"><%= usageData.prodName %></button>
                    <span class="info-sub">남은 일수 <em><%= remainDate %></em>일</span>
                </div>
            </div>
            <% if (usageData.data && usageData.data.length > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '데이터', items: usageData.data, showUnitSwitch: true }); %>

                <% if (svcInfo.svcAttrCd === 'M1') { %>
                <div class="list-link">
                    <ul>
                        <li class="fe-refill-btn" style="display: none;">
                            <a href="/recharge/refill">리필하기<span class="qnt">(<span class="fe-refill-cnt"></span>)</span></a>
                        </li>
                        <li>
                            <a href="/recharge/gift">T끼리 데이터선물 / 조르기</a>
                        </li>
                        <li class="fe-t-data-sharing-btn" style="display:none;">
                            <a href="/myt/usage/tdatashare">T데이터셰어링 사용량</a>
                        </li>
                    </ul>
                </div>

                <!-- 선택한 회선이 T데이터 셰어링 미가입 & 대상요금제 사용자일 경우 노출 -->
                <div class="msg-guide-link" style="display:none;">
                    <strong class="tit fe-ad1">데이터 Tip</strong>
                    <p class="txt">하나의 데이터로<br />여러 개의 기기를 이용한다고??</p>
                    <a href="/myt/usage/tdatashare/info" class="bt-link-tx">T데이터셰어링 알아보기<span class="ico"></span></a>
                </div>

                <!-- 데이터 촤과 사용중 중일 경우 노출 -->
                <div class="msg-guide-link fe-ad2" style="display:none;">
                    <strong class="tit">요금제 Tip</strong>
                    <p class="txt">통화는 자주 안 하지만 데이터가<br />부족하다면??</p>
                    <button class="bt-link-tx">다른 요금제 알아보기<span class="ico"></span></button>
                </div>
                <% } %>

            </div>
            <% } %>

            <% if (usageData.voice && usageData.voice.length > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '음성/영상', items: usageData.voice }); %>

                <div class="list-link">
                    <ul>
                        <li class="fe-refill-btn" style="display: none;">
                            <a href="/recharge/refill">리필하기<span class="qnt">(<span class="fe-refill-cnt"></span>)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <% } %>

            <% if (usageData.sms && usageData.sms.length > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '문자', items: usageData.sms }); %>

            </div>
            <% } %>

            <% if (usageData.etc && usageData.voice.etc > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <%- include('../../components/usage/myt.usage.graphbox.html', { type: '기차', items: usageData.ect }); %>
            </div>
            <% } %>

            <% if (svcInfo.svcAttrCd === 'M1') { %>
            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box nogaps-hoz fe-M1-menu">
                <div class="link-long-group">
                    <div class="link-long fe-t-roaming-sharing-btn" style="display:none;">
                        <a href="/myt/usage/troaming">T로밍 함께쓰기<span class="ico"></span></a>
                    </div>
                    <div class="link-long fe-data-sharing-btn" style="display:none;">
                        <a href="/myt/usage/datashare">데이터 함께쓰기<span class="ico"></span></a>
                    </div>
                    <% if (usageData.dataTopUp === 'Y') { %>
                    <div class="link-long">
                        <a href="/myt/usage/datalimit">데이터 한도요금제<span class="ico"></span></a>
                    </div>
                    <% } %>
                    <% if (usageData.ting === 'Y') { %>
                    <div class="link-long">
                        <a href="/myt/usage/ting">팅 요금상품<span class="ico"></span></a>
                    </div>
                    <% } %>
                    <% if (usageData.dataDiscount === 'Y') { %>
                    <div class="link-long">
                        <a href="/myt/usage/24hourdiscount">24시간 데이터 50% 할인<span class="ico"></span></a>
                    </div>
                    <% } %>
                    <div class="link-long fe-band-data-sharing" style="display:none;">
                        <a href="/myt/usage/band-data-sharing">내폰끼리 결합<span class="ico"></span></a>
                    </div>
                    <div class="link-long fe-child-btn" style="display:none;" >
                        <a href="/myt/usage/children">자녀폰 사용량 조회 (<span class="bold fe-child-cnt"></span>명)<span class="ico"></span><span class="badge badge-fam"><span class="blind">자녀</span></span></a>
                    </div>
                </div>
            </div>
            <% } %>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box nogaps-btm">
                <h2 class="title-h2">이 메뉴도 보실래요?</h2>
                <div class="link-long-group mt18">
                    <div class="link-long">
                        <a href="/myt/bill/hotbill">실시간 요금조회<span class="ico"></span></a>
                    </div>

                    <div class="link-long">
                        <a href="/myt/usage/pattern">나의 사용패턴<span class="ico"></span></a>
                    </div>
                </div>
            </div>

            <% include ../../components/usage/myt.usage.info.component.html %>
        </div>
    </div>
    <!-- // content -->
    <!-- footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.MytUsage($('#myt-usage'));
  });
</script>
<% include ../../components/end.component.html %>