<% include ../../components/start.sprint3.component.html %>

<!-- skip -->
<div class="skip"><a href="#content">본문 바로가기</a></div>
<!-- // skip -->
<!-- wrap -->
<div id="wrap">
    <!-- header -->
    <header class="header-sub">

    </header>
    <!-- // header -->
    <!-- content -->
    <div id="content">
        <!-- container -->
        <section class="container">
        </section>
        <!-- // container -->
    </div>
    <!-- // content -->
    <!-- footer -->
    <footer>
    </footer>
    <!-- // footer -->
</div>
<!-- // wrap -->

<div class="pop-container" style="display: block">
    <%=JSON.stringify(result)%>
    <!-- popup-full -->
    <div id="usage_change" class="popup-full" style="display: block">
        <div class="head">
            <% if (svcInfo) { %>
            <h1><span><%=svcInfo.mbrNm%></span>님이 가입하신 서비스</h1>
            <% } %>
            <a class="btn-close fe-common-back"><span class="blind">닫기</span></a>
        </div>
        <div class="body">
            <div class="management">
                <a href="#">다회선 관리</a>
            </div>
            <div class="prd-line">
                <% if( result.M && result.M.length !== 0 ){ %>
                <section>
                    <h2>
                        모바일
                        <span class="count">(<%=result.M.length%>)</span>
                    </h2>
                    <div class="btn-fn">
                        <a class="btn-type04 btn_show_all" data-type="M" data-type-name="모바일">전체보기</a>
                    </div>
                    <ul class="list">
                        <% for( let item of result.M ) { %>
                        <li class="rep"><!-- .rep 대표 // -->
                            <div class="row" data-svcMgmtNum="<%=item.svcMgmtNum%>">
                                <% if( item.svcAttrCd == 'M1' ) { %>
                                <div class="type">휴대폰</div>
                                <% } %>
                                <% if( item.svcAttrCd == 'M2' ) { %>
                                <div class="type">선불폰</div>
                                <% } %>
                                <% if( item.svcAttrCd == 'M3' ) { %>
                                <div class="type">T Pocket-Fi</div>
                                <% } %>
                                <% if( item.svcAttrCd == 'M4' ) { %>
                                <div class="type">T Login</div>
                                <% } %>
                                <% if( item.svcAttrCd == 'M5' ) { %>
                                <div class="type">T Wibro</div>
                                <% } %>
                                <div class="info">
                                    <div class="txt01">
                                        <span class="moebius-bold"><%=item.svcNum%></span>
                                        <% if( item.repSvcYn == 'Y' ) { %>
                                        <span class="tag-type01">대표</span>
                                        <% } %>
                                    </div>
                                    <div class="txt02"><%=item.nickNm%></div>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </section>
                <% } %>
                <section>
                    <% if( result.W && result.W.length !== 0 ){ %>
                    <h2>
                        인터넷/집전화/IPTV
                        <span class="count">(<%=result.W.length%>)</span>
                    </h2>
                    <div class="btn-fn"><a class="btn-type04 btn_show_all" data-type="W" data-type-name="인터넷/집전화/IPTV">전체보기</a></div>
                    <ul class="list">
                        <% for( let item of result.W ) { %>
                        <li class="rep"><!-- .rep 대표 // -->
                            <div class="row" data-svcMgmtNum="<%=item.svcMgmtNum%>">
                                <% if( item.svcCd == 'P' ) { %>
                                <div class="type">집전화</div>
                                <% } %>
                                <% if( item.svcCd == 'T' ) { %>
                                <div class="type">IPTV</div>
                                <% } %>
                                <% if( item.svcCd == 'I' ) { %>
                                <div class="type">인터넷</div>
                                <% } %>
                                <div class="info">
                                    <div class="txt01">
                                        <span class="moebius-bold"><%=item.svcNum%></span>
                                        <% if( item.repSvcYn == 'Y' ) { %>
                                        <span class="tag-type01">대표</span>
                                        <% } %>
                                    </div>
                                    <div class="txt02"><%=item.svcNickNm%></div>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </section>
                <% } %>
                <section>
                    <% if( result.S && result.S.length !== 0 ){ %>
                    <h2>
                        보안솔루션
                        <span class="count">(<%=result.S.length%>)</span>
                    </h2>
                    <div class="btn-fn"><a class="btn-type04 btn_show_all" data-type="S" data-type-name="보안솔루션">전체보기</a></div>
                    <ul class="list">
                        <% for( let item of result.S ) { %>
                        <li class="rep"><!-- .rep 대표 // -->
                            <div class="row" data-svcMgmtNum="<%=item.svcMgmtNum%>">
                                <div class="type">보안솔루션</div>
                                <div class="info">
                                    <div class="txt01">
                                        <span class="moebius-bold"><%=item.svcNum%></span>
                                        <% if( item.repSvcYn == 'Y' ) { %>
                                        <span class="tag-type01">대표</span>
                                        <% } %>
                                    </div>
                                    <div class="txt02"><%=item.svcNickNm%></div>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </section>
                <% } %>
            </div>
        </div>
    </div>
    <!-- // popup-full -->
    <!-- popup-full -->
    <div id="usage_change_sub" class="popup-full" style="display:none">
        <div class="head">
            <% if (svcInfo) { %>
            <h1><span><%=svcInfo.custNm%></span>님이 가입하신 서비스</h1>
            <% } %>
            <a class="btn-close fe-common-back"><span class="blind">닫기</span></a>
        </div>
        <div class="body">
            <div class="management">
                <a>다회선 관리</a>
            </div>
            <div class="prd-line">
                <section>
                    <h2 id="groupName">모바일<span class="count">(0)</span></h2>
                    <div class="btn-fn"><a class="btn-type05 btn_previous">이전</a></div>
                    <ul class="toggle-case" id="wrap_category">
                        <!-- insert category template data -->
                    </ul>
                    <div class="sort">
                        <select id="sort_type" name="">
                            <option value="register" selected>가입일순</option>
                            <option value="modified">최근 변경일순</option>
                        </select>
                    </div>
                    <ul id="sorted_list" class="list">
                        <!-- insert template data -->
                    </ul>
                    <!--<div class="btn-more">-->
                    <!--<a id="btn-load-data" class="btn-type06">더보기</a>-->
                    <!--</div>-->
                </section>
            </div>
        </div>
    </div>
    <!-- // popup-full -->
</div>

<!-- Template :: category -->
<script type="text/template" id="tpl_line_category">
    <li>
        <button type="button" class="filter on" data-type="all">전체</button>
    </li><!-- .on 활성화 // -->
    {{ _.each(list, function(item) { }}
    {{ if( item == 'C') { }}
    <li>
        <button type="button" class="filter" data-type="C">휴대폰</button>
    </li>
    {{ } }}

    {{ if( item == 'L') { }}
    <li>
        <button type="button" class="filter" data-type="L">T Pocket-Fi</button>
    </li>
    {{ } }}

    {{ if( item == 'W') { }}
    <li>
        <button type="button" class="filter" data-type="W">Tlogin</button>
    </li>
    {{ } }}

    {{ if( item == 'P') { }}
    <li>
        <button type="button" class="filter" data-type="P">집전화</button>
    </li>
    {{ } }}

    {{ if( item == 'T') { }}
    <li>
        <button type="button" class="filter" data-type="T">IPTV</button>
    </li>
    {{ } }}

    {{ if( item == 'I') { }}
    <li>
        <button type="button" class="filter" data-type="I">인터넷</button>
    </li>
    {{ } }}

    {{ if( item == 'O') { }}
    <li>
        <button type="button" class="filter" data-type="O">보안솔루션</button>
    </li>
    {{ } }}

    {{ }); }}
</script>
<!-- // Template :: category -->

<!-- Template :: line list -->
<script type="text/template" id="tpl_line_items">
    {{ _.each(list, function(item) { }}
    <li data-register={{=item.svcScrbDtm}} data-modified={{=item.lastUpdDtm}}>
        <div class="row" data-svcMgmtNum="{{=item.svcMgmtNum}}">
            {{ if( item.svcCd == 'C') { }}
            <div class="type">휴대폰</div>
            {{ } }}

            {{ if( item.svcCd == 'L') { }}
            <div class="type">T Pocket-Fi</div>
            {{ } }}

            {{ if( item.svcCd == 'W') { }}
            <div class="type">Tlogin</div>
            {{ } }}

            {{ if( item.svcCd == 'P') { }}
            <div class="type">집전화</div>
            {{ } }}

            {{ if( item.svcCd == 'T') { }}
            <div class="type">IPTV</div>
            {{ } }}

            {{ if( item.svcCd == 'I') { }}
            <div class="type">인터넷</div>
            {{ } }}

            {{ if( item.svcCd == 'O') { }}
            <div class="type">보안솔루션</div>
            {{ } }}

            <div class="info">
                <div class="txt01">
                    <span class="moebius-bold">{{=item.svcNum}}</span>
                    {{ if( item.repSvcYn == 'Y') { }}
                    <span class="tag-type01">대표</span>
                    {{ } }}
                </div>
                <div class="txt02">{{=item.svcNickNm}}</div>
            </div>
        </div>
    </li>
    {{ }); }}
</script>
<!-- // Template :: line list -->
<% include ../../components/javascript.sprint3.component.html %>
<script src="<%= CDN %>/js/auth.min.js"></script>
<script>
  $(document).ready(function () {
    var oMytUsageChange    = new Tw.MytUsageChange(new Tw.CustomerPwdComponent());
    var oMytUsageChangeSub = new Tw.MytUsageChangeSub();
  });
</script>

<% include ../../components/end.component.html %>