<!--
* FileName: myt.benefit.membership.detail.vip-non.html
* Author: 양정규 (skt.P130715@partner.sk.com)
* Date: 2018.08.17
-->
<!-- #header -->
<div id="header" class="header-wrap">
    <div class="header">
        <div class="header-ti align-l">
            <h1>T멤버십 VIP 혜택</h1>
        </div>
        <button class="prev-step fe-common-back"><span class="blind">이전으로</span></button>
    </div>
</div>
<!--// #header -->
<!-- #contents -->
<div id="contents" class="container-wrap">
    <h2 class="blind">내용</h2>
    <div class="container">
        <div class="cont-box">
            <div class="inner-block">
                <h2 class="title-h2">혜택 받는 법</h2>
                <div class="exp-top">
                			<span class="tx-exp"><span class="tx-bold">가입 기간, 납부 금액조건 </span><br />
                			충족 시 VIP 혜택 적용</span>
                </div>
                <div class="contents-btn">
                    <ul class="bt-slice">
                        <li class="bt-blue1">
                            <button>나의 멤버십 혜택 조회</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="inner-block">
                <h2 class="title-h2">급이 다른 T멤버십 VIP 혜택!</h2>
                <div class="benefit-img"><img src="/img/dummy/dmy-circuit04.png" alt=""/></div>
                <div class="contents-btn">
                    <ul class="bt-slice">
                        <li class="bt-white1">
                            <button>혜택 자세히보기</button>
                        </li>
                    </ul>
                </div>
                <div class="exp-list mt20">
                    <ul>
                        <li>
                            <span class="title">영화예매 혜택</span>
                            <span class="one-depth-line">연 6회 무료 및 6회 소진 후 1천원 할인 (메가박스 2천원 할인) 3D 영화 5,000원 관람 (조조, 청소년, 4D, 특별관 제외)</span>
                        </li>
                        <li>
                            <span class="title">쇼핑/생활 혜택</span>
                            <span class="one-depth-line">이마트 &gt; 짝수월 5% 구매혜택 + 5% 추가 증정 (T멤버십 초콜릿 구매 시) 등</span>
                        </li>
                        <li>
                            <span class="title">공연 혜택</span>
                            <span class="one-depth-line">매월 콘서트, 연극, 뮤지컬, 전시회 등 다양한 공연 업데이트</span>
                        </li>
                        <li>
                            <span class="title">외식 혜택</span>
                            <span class="one-depth-line">파파존스 피자 30% 등 다양한 할인 혜택</span>
                        </li>
                        <li>
                            <span class="title">여행/레저 혜택</span>
                            <span class="one-depth-line">제주 호텔(특급) 할인부터, 리조트, 골프, 승마, 요트 등 다양한 할인 혜택 제공</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--// #contents -->