<%#
* @file myt-fare.info.miri.html
* @author 양정규
* @since 2020.10.16
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->

    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <%- include('../../../../../common/views/components/header.component.html', { title: '미리납부하신 금액(MIRI)'}) %>

        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container">
                <div class="sort-area tod-sort-area">
                    <span class="total-qnt">총 <span class="num fe-count"><%-data.totalCnt%></span>건</span>
                    <span class="tod-select-wrap">
						<button id="0" class="btn-select fe-coach-change-target fe-filter">전체</button>
                        <!--최초 진입 시 1회 노출. 닫기 버튼 누르면 영구 비노출 처리.-->
                        <span class="tod-coach-mark fe-coach-change none">
                            <strong class="point">조회 항목</strong>을<br>변경할 수 있어요
                            <button class="close"><span class="blind">닫기</span></button>
                        </span>
					</span>
                </div>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <%_ const isHide = data.totalCnt < 1 ? '' : 'none';_%>
                    <div class="result-none type2 fe-empty-data <%-isHide%>">
                        이용 내역이 없습니다.
                    </div>
                    <!-- list -->
                    <div class="tod-miri-list fe-miri-list">
                        <div class="tod-miri-list-inner">
                            <!-- start : .tod-miri-item -->
                            <%_
                                let rows = 0;
                                let noneCls = '';
                                data.miriList.forEach( item => {
                            _%>
                            <div class="tod-miri-item fe-miri-item <%-noneCls%>">
                                <div class="tod-miri-date"><span class="sp-date"><%-item[0].opDt%></span></div>
                                <%_
                                    item.forEach( (subItem, idx) => {
                                    noneCls = rows > 19 ? 'none' : '';
                                _%>
                                <div class="tod-miri-info fe-miri-info <%-noneCls%>" data-pay-cl-cd="<%-subItem.payClCd%>">
                                    <%# payClCd 수납구분코드 (1: MIRI 충전, 4: MIRI 선납 차감, 5:MIRI 선납 환불)%>
                                    <%_
                                        const payClCd = {
                                            '1': 'org',
                                            '4': 'blue',
                                            '5': 'black'
                                        };
                                        const infoClsNm = payClCd[subItem.payClCd];
                                    _%>
                                    <div class="item <%-infoClsNm%>"><!-- class="item blue" -->
                                        <span class="tit"><%-subItem.payClCdNm%></span>
                                        <span class="data"><strong><%-subItem.ppayAmt%>원</strong></span>
                                    </div>
                                    <div class="item">
                                        <span class="tit"><%-subItem.lineType.svcName%> <em><%-subItem.lineType.svcNumOrAddr%></em></span>
                                        <%# 청구요금 or 미납요금 있는경우 노출함.%>
                                        <%_
                                            const invAmt = subItem.invAmt.replace(/[^0-9]/g, '');
                                            const payAmt = subItem.payAmt.replace(/[^0-9]/g, '');
                                            if(invAmt+payAmt > 0) {
                                            const invCls = invAmt < 1 ? 'none' : '';
                                            const payCls = payAmt < 1 ? 'none' : '';
                                        _%>
                                        <span class="data">
                                            <span class="data-item <%-invCls%>"><%-subItem.billMonth%>월 청구요금 <em><%-subItem.invAmt%>원</em></span>
                                            <span class="data-item <%-payCls%>">미납요금 <em><%-subItem.payAmt%>원</em></span>
                                        </span>
                                        <%_}_%>
                                    </div>
                                    <div class="item-result">
                                        <span class="tit">MIRI 잔액</span>
                                        <span class="data"><%-subItem.ppayBamt%>원</span>
                                    </div>
                                </div>
                                <%_ rows++; })_%>
                            </div>
                            <%_ })_%>
                        </div>
                    </div>
                    <!-- //list -->
                    <!-- 더보기 -->
                    <%_if(data.totalCnt > 20){_%>
                    <div class="btn-more fe-more">
                        <button>더보기</button>
                    </div>
                    <%_}_%>
                    <!-- //더보기 -->
                </div>
                <!--// .cont-box -->

                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li><button class="btn-tip" aria-haspopup="true">MIRI 이용 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>
        </div>
        <!--// #contents -->

        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        
    </div>
    <% include ../../components/javascript.component.html %>
    <script>
      $(document).ready(function () {
        new Tw.MyTFareInfoMiri($('.wrap'));
      });
    </script>
</body>
<% include ../../components/end.component.html %>
