<%#
* @file myt-fare.info.overpay-refund.history.detail.html
* @author Lee Kirim (kirim@sk.com)
* @since 2018.09.17
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->

    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <%- include('../../../../../common/views/components/header.component.html', { title: '과납 환불 상세 내역'}); %>

        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container">
                <!-- .cont-box -->
                 <div class="cont-box nogaps-hoz bg-payment">
                    <div class="user-bill-detail">
                        <ul>
                            <li>
                                <div class="head-text">
                                    <span class="tit">신청 일자</span>
                                    <span class="val"><%= data.reqDt%></span>
                                </div>
                            </li>
                            <li>
                                <div class="head-text">
                                    <span class="tit">신청 금액</span>
                                    <span class="val"><%= data.dataAmt%> 원</span>
                                </div>
                                <div class="sub-text">
                                    <span class="tit">과납 금액</span>
                                    <span class="val"><%= data.dataOverAmt%> 원</span>
                                </div>
                                <div class="sub-text">
                                    <span class="tit">채권보존료</span>
                                    <span class="val"><%= data.dataBondAmt%> 원</span>
                                </div>
                                <div class="sub-text">
                                    <span class="tit">합계금액</span>
                                    <span class="val"><%= data.dataAmt%> 원</span>
                                </div>
                            </li>
                            <li>
                                <div class="head-text">
                                    <span class="tit">처리결과</span>
                                    <% if(data.inProcess){ %>
                                    <span class="val" id="fe-detail-ing"><%= data.dataStatus%></span>
                                    <% }else{ %>
                                    <span class="val" id="fe-detail-etc"><%= data.dataStatus%> ( <%= data.dataAmt%>원 )</span>
                                    <%} %>
                                </div>
                                <% if(!data.inProcess){ %>
                                <div id="fe-detail-overpay-refund-result">
                                    <div class="sub-text">
                                        <span class="tit">은행</span>
                                        <span class="val"><%=data.rfndBankNm %></span>
                                    </div>
                                    <div class="sub-text">
                                        <span class="tit">계좌번호</span>
                                        <span class="val"><%=data.rfndBankNum %></span>
                                    </div>
                                    <div class="sub-text">
                                        <span class="tit">처리일자</span>
                                        <span class="val"><%=data.dataDt%></span>
                                    </div>
                                </div>
                                <%} %>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

            </div>
        </div>

        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>

    <% include ../../components/javascript.component.html %>
    <script>
      $(document).ready(function () {
        new Tw.MyTFareInfoOverpayRefundDetail($(document), '<%- JSON.stringify(data)%>');
      });
    </script>
</body>
<% include ../../components/end.component.html %>
