<%#
* @file myt-fare.bill.contents.history.html
* @author Lee kirim (kirim@sk.com)
* @since 2018.09.17
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->

    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <%- include('../../../../../common/views/components/header.component.html', { title: '휴대폰 결제/콘텐츠 이용내역'}); %>

        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>

            <div class="container" data-temp="<%=data%>">
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <!-- .component -->
                    <div class="component">
                        <div class="component-box tabs">
                            <div class="tab-area new01 tod-large"><!-- 타입별 탭형태 변환 -->
                                <div class="tab-linker">
                                    <ul role="tablist" style="width: 352px;">
                                        <%_
                                            const allow = !data.isBubin && svcInfo.isAdult;
                                            const disabledCls = allow ? undefined : 'disabled';
                                        _%>
                                        <li role="tab" aria-selected="false" aria-controls="tab1-tab" id="tab1"
                                        data-is-adult="<%-svcInfo.isAdult%>" data-is-bubin="<%-data.isBubin%>" data-hash="small">
                                            <a href="#" class="<%-disabledCls%>">휴대폰 결제</a>
                                        </li>
                                        <li role="tab" aria-selected="<%-!allow%>" aria-controls="tab2-tab" id="tab2" data-hash="contents">
                                            <a href="#">콘텐츠 이용료</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-contents">
                                    <ul>
                                        <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1" aria-selected="false">
                                        </li>
                                        <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2" aria-selected="false">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .component -->
                </div>
                <!--// .cont-box -->

                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02 fe-tip-contents">
                    </ul>
                </div>
            </div>

        </div>

        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>

    <% include ../../components/javascript.component.html %>
    <script id="fe-list-wrap" type="text/x-handlebars-template">
        <div class="cont-box nogaps fe-list-wrap">
            <div class="ti-caption-gray tod-border">
                <button class="bt-select fe-month-selector" title="월 선택">{{curMonth}}</button>
                <span class="num">총 <em>{{totalCnt}}</em>건</span>
            </div>

            <!-- .cont-box -->
            {{#if list.length}}
            <div class="cont-use-detail">
                <ul class="fe-lists">
                    {{>list list=list}}
                </ul>
                <div class="btn-more ml16 mr16 fe-more-btn none">
                    <button>더 보기</button>
                </div>
            </div>
            {{else}}
            {{>empty}}
            {{/if}}
            <!--// .cont-box -->
        </div>
    </script>
    <script id="list-default" type="text/x-handlebars-template">
        {{#each list}}
        <li>
            <button title="상세내역 보기" class="fe-detail-link" data-list-date="{{plainTime}}" data-list-id="{{listId}}">
                <dl>
                    <dt>
                        <p class="sv-name"><span class="blind">서비스명</span>{{serviceNm}}</p>
                        {{#if isMobile}}
                            <span class="sv-case"><span class="blind">결제구분</span>{{payMethodNm}}</span>
                        {{/if}}
                        <span class="sv-time"><span class="blind">결제일</span>{{FullDate}}</span>
                    </dt>
                    <dd><span class="blind">결제금액</span><span class="str">{{useAmt}}</span>원</dd>
                </dl>
            </button>
        </li>
        {{/each}}
    </script>

    <script id="list-empty" type="text/x-handlebars-template">
        <div class="cont-box nogaps">
            <p class="addree-no-result result-nolist no-sch">
                <span class="ico"></span>
                <span class="msg-no-sch"><span class="txt">이용 내역이 없습니다.</span></span>
            </p>
        </div>
    </script>

    <script id="fe-tip-templ" type="text/x-handlebars-template">
        <li><button class="btn-tip" id="{{id}}"><i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
    </script>

    <script>
      $(document).ready(function () {
        var data = '<%- escape(JSON.stringify(data || {})) %>';
        data = JSON.parse(window.unescape(data));
        new Tw.MyTFareBillSmallHistory($('.wrap'), data);
      });
    </script>
</body>
<% include ../../components/end.component.html %>
