<%#
* MenuName: 나의 요금 > 요금안내서 통합(일반)청구회선(MF_02_02)
* @file myt-fare.bill.guide.integrated-normal.html
* @author Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* @since 2018.09.12
* Summay: 요금안내서 통합일반(사용요금) 조회 화면
* Description: 메인(svcInfo) 회선이 통합(일반)청구 회선인 경우 조회화면
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<script id="fe-entryTplChild" type="text/x-handlebars-template">

    {{!-- 주석 : 자녀사용요금 --}}
    {{# each resData as |rootItem rootIndex|}}
    <li>
        <button data-target="childBillInfo" data-svc-mgmt-num="{{rootItem.svcMgmtNum}}">
            <span class="ico-wrap"><i class="icon-cellphone-80"><span class="blind">cellphone</span></i></span>
            <span class="cont">
                <span class="info-title">{{rootItem.eqpMdlNm}}<i class="icon-children ml6"><span class="blind">자녀</span></i></span>
                <span class="info-sub">{{rootItem.svcNum}}</span>
                <span class="price">{{rootItem.detailInfo.useAmtTot}}원</span>
            </span>
        </button>
    </li>
    {{/each}}
</script>

<script id="fe-entryTplUseBill" type="text/x-handlebars-template">

    <!-- .cont-box -->
    <div class="cont-box nogaps-btm">
        <div class="statement-cont type2">
            <div class="single-list">
                <span class="title">
                    {{!-- 주석 아이콘 --}}
                    {{#if_icon resData.useSvcType.svcType }}
                    {{/if_icon}}
                    <span class="in-tx type2">{{resData.useSvcType.svcType}}</span>
                </span>
            </div>

            <div class="statement-detail">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box accordion">
                        <div class="acco-cover"><!-- toggle : 한개만 열기 -->
                            <div class="acco-style">
                                <ul class="acco-list">

                                    {{!-- 주석 : billItmLclNm --}}
                                    {{# each resData.useBill as |largeItem largeIndex|}}

                                    <li class="acco-box noborder">

                                        <div class="acco-tit">
                                            <button role="button" aria-pressed="false">
                                                <div class="in-title">
                                                    <span class="tit">{{largeItem.id}}</span>
                                                    <span class="tx-cont {{#if_dc_red largeItem.id }}{{/if_dc_red}}">{{largeItem.totPrice}} 원</span>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="acco-cont">

                                            <div class="in-cont">
                                                <div class="basic-list">
                                                    <ul>

                                                        {{!-- 주석 billItmSclNm --}}
                                                        {{# each largeItem.children as |midItem midIndex|}}

                                                        <li>
                                                            <div class="inner-top">
                                                                <span class="title">

                                                                    {{!-- 주석 콘텐츠이용료 자세히보기 --}}
                                                                    {{#if_contents midItem.id }}
                                                                    {{/if_contents}}

                                                                    {{!-- 주석 타사 --}}
                                                                    {{#if_third_party midItem.id '콘텐츠이용료'}}
                                                                    {{/if_third_party}}
                                                                    {{#if_third_party midItem.id '소액결제'}}
                                                                    {{/if_third_party}}
                                                                </span>
                                                                <span class="tx-cont">{{midItem.totPrice}} 원</span>
                                                            </div>
                                                            <div class="inner-row">
                                                                <ul>

                                                                    {{!-- 주석 --}}
                                                                    {{# each midItem.children as |smaItem smaIndex|}}
                                                                    <li>
                                                                        <span class="title">{{smaItem.billItmNm}}</span>
                                                                        <span class="tx-cont">{{smaItem.invAmt}} 원</span>
                                                                    </li>
                                                                    {{/each}}

                                                                </ul>
                                                            </div>

                                                        </li>
                                                        {{/each}}

                                                    </ul>

                                                    <div class="noti-words">
                                                        <span class="inner-words" id="aria-footnote-{{@index}}-05">
                                                            <i class="icon-fnote ml6"><span class="blind">각주 참고</span></i>부가가치세 제외 대상 표시
                                                        </span>
                                                        <span class="inner-words" id="aria-footnote-{{@index}}-06">
                                                            <i class="icon-acompany"><span class="blind">타사</span></i>당사에서 청구 대행하는 타사 요금
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .widget -->
            </div>
        </div>
    </div>
    <!--// .cont-box -->

</script>

<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<div id="fe-wrap" class="wrap" data-menuId="<%= pageInfo.menuId %>">

    <%- include('../../../../common/views/components/header.component.html', { svcInfo: svcInfo, title: '요금안내서' }); %>

    <!-- #contents -->
    <div id="contents" class="container-wrap">

        <div class="container">
            <!-- DV001-17926 SB 변경으로 삭제
            <div class="user-greeting">
                <i class="icon-dialog-emoji-56"><span class="blind"></span></i>
                <% if(commDataInfo.discount != 0 ){ %>
                <p class="msg">이번 달에는 요금할인을 <%=commDataInfo.discount %>원 받으셨어요.<br /><span class="str">SK텔레콤과 함께해 주셔서 감사합니다.</span></p>
                <% } else { %>
                <p class="msg"><%= svcInfo.mbrNm %>님,<br /><span class="str">SK텔레콤과 함께해 주셔서 감사합니다.</span></p>
                <% } %>
            </div>
            -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="calling-plan">
                    <button class="wrap-link" data-target="goProdPageBtn" data-prod-page-url="/product/callplan?prod_id=<%= svcInfo.prodId %>">
                        <!-- DV001-14236 뱃지 MY-> 이용중으로 변경 -->
                        <i class="badge icon-badge-plan-my use"><span class="blind">이용 중</span></i>
                        <span class="stit"><%= svcInfo.prodNm %></span>
                    </button>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="user-month-bill">
                    <div class="this-month-bill">
                        <p class="stit"><%=commDataInfo.selClaimDt %></p>
                        <p class="msg">
                            <span class="str">
                                <%- commDataInfo.repSvcNm %>
                            </span>에<br />통합청구되었습니다.</p>
                        <p class="term"><%=commDataInfo.selStaDt %> ~ <%=commDataInfo.selEndDt %></p>
                        <div class="btn-wrap"><button class="btn-round2 btn-style3" data-target="conditionChangeBtn">청구월 변경</button></div>
                    </div>
                </div>
                <% if( billpayInfo.coClCd === 'B' ){ %>
                <p class="txt-desc2 tx-normal mt22">SK브로드밴드를 통해 가입하신 서비스일 경우 청구요금에 포함되지 않습니다. 전화 106 또는 SK브로드밴드 웹사이트를 이용해 주세요.</p>
                <% } %>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <div data-target="hbDetailListArea">

            </div>

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div id="divChildListHaeder">
                <div class="cont-box nogaps-btm">
                    <h3 class="tit-type6">자녀 회선 이용요금</h3>

                    <ul class="my-line-info" data-target="hbChildListArea">
                    </ul>
                </div>
                <hr class="cont-sp type1" aria-hidden="true"/>
            </div>
            <!--// .cont-box -->

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <ul class="full-link-list">
                    <% if ( roamDonaCallBtnYn.callgiftYn === 'Y' ) { %>
                    <li>
                        <button data-target="callGiftBtn">
                                <span class="inner">
                                    <span class="tit">콜기프트 사용요금</span>
                                </span>
                        </button>
                    </li>
                    <% } %>
                    <% if ( roamDonaCallBtnYn.roamingYn === 'Y' ) { %>
                    <li>
                        <button data-target="roamingBtn">
                                <span class="inner">
                                    <span class="tit">로밍 사용요금</span>
                                </span>
                        </button>
                    </li>
                    <% } %>
                    <% if ( roamDonaCallBtnYn.donationYn === 'Y' ) { %>
                    <li>
                        <button data-target="donationBtn">
                                <span class="inner">
                                    <span class="tit">기부금/후원금</span>
                                </span>
                        </button>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li><button id="MF_02_01_tip_01" type="button" class="btn-tip" aria-haspopup="tree">이용요금 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button id="MF_02_01_tip_02" type="button" class="btn-tip" aria-haspopup="tree">로밍 이용요금 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <!--
                    <li><button id="MF_02_01_tip_01" type="button" class="tip-view-btn" aria-haspopup="true" title="이용요금 안내">이용요금 안내<span class="tip-view">TIP</span></button></li>
                    <li><button id="MF_02_01_tip_02" type="button" class="tip-view-btn" aria-haspopup="true" title="로밍 이용요금 안내">로밍 이용요금 안내<span class="tip-view">TIP</span></button></li>
                    -->
                </ul>
            </div>
            <!--// .cont-box -->

            <!-- TBD
            <hr class="cont-sp type1" aria-hidden="true"/>
            <img src="<%= CDN %>/img/dummy/DC_02_TBD3.jpg" alt="페이지 바로가기 노출 영역" style="width:100%;vertical-align:top;"/>
             -->

        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>

<script>
  $(document).ready(function () {
    var oMyTFareGuide = new Tw.MyTFareBillGuideIntegratedNormal( $('#fe-wrap'), {
      reqQuery: <%-JSON.stringify(reqQuery) %>,
      svcMgmtNum: <%-JSON.stringify(svcInfo.svcMgmtNum) %>,
      allSvc: <%-JSON.stringify(allSvc) %>,
      billpayInfo : <%-JSON.stringify(billpayInfo) %>,
      commDataInfo : <%-JSON.stringify(commDataInfo) %>,
      intBillLineInfo : <%-JSON.stringify(intBillLineInfo) %>,
      childLineInfo : <%-JSON.stringify(childLineInfo) %>
  } );
  });
</script>
<% include ../../components/end.component.html %>
