<%#
* MenuName: 나의 요금 > 요금안내서 > 선불폰(PPS)(MF_02_04)
* @file myt-fare.bill.guide.pps.html
* @author Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* @since 2018.09.12
* Summary: 선불폰 이용내역 조회
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<script id="fe-entryTplList" type="text/x-handlebars-template">
    {{!-- 주석 : pps 리스트 --}}
    {{# each resData as |rootItem rootIndex|}}

    {{!-- 주석 : viewData --}}
    {{# each rootItem.viewData as |viewData viewDataIndex|}}
    <li>
        <div class="lineinfo-user">
            <span class="info-title">{{viewData.usedType}}</span>
            <span class="info-sub">{{viewData.usedDt}}</span>
        </div>
        <div class="lineinfo-data">
            {{#if_eq  rootItem.searchType 'typeVoice'}}
            <span class="info-title"><span class="num ff-tg-black">{{viewData.rate}}</span><span class="ff-tg-medium">원</span></span>
            {{else}}
            <span class="info-title"><span class="num ff-tg-black">{{viewData.used}}</span><span class="ff-tg-medium">{{viewData.dataUnit}}</span></span>
            {{/if_eq}}
        </div>
    </li>
    {{/each}}
    {{/each}}
</script>

<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="fe-wrap" class="wrap" data-menuId="<%= pageInfo.menuId %>">

    <%- include('../../../../common/views/components/header.component.html', { svcInfo: svcInfo, title: '요금안내서' }); %>

    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="ti-caption-gray"><!-- 2018-09-19 클래스명 변경 -->
                <h3 class="tit" id="aria-comp-bt1"><%=svcInfo.prodNm %></h3>
                <a class="detail-view" href="/product/callplan?prod_id=<%= svcInfo.prodId %>" aria-labelledby="aria-comp-bt1">
                    <span class="blind">자세히보기</span>
                </a>
            </div>
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="charge-guide-wrap">
                    <div class="charge-cont">
                        <% if (commDataInfo.ppsType === 'A') { %>
                        <span class="tit02 pt0">데이터양<br /><span class="tx-bold vbl"><%=commDataInfo.ppsProdAmt%> MB</span> 남았습니다.</span>
                        <% } %>
                        <% if (commDataInfo.ppsType === 'B') { %>
                        <span class="tit02 pt0">카드잔액<br /><span class="tx-bold vbl"><%=commDataInfo.ppsProdAmt%> 원</span> 남았습니다.</span>
                        <% } %>
                        <% if (commDataInfo.ppsType === 'C') { %>
                        <span class="tit02 pt0">카드잔액<br /><span class="tx-bold vbl"><%=commDataInfo.ppsProdAmt%> 원</span> 남았습니다.</span>
                        <% } %>

                    </div>
                    <span class="sub-disc01"><%=commDataInfo.ppsCurDate %></span>

                    <div class="charge-cont">
                        <div class="basic-list bg-type mt26">
                            <ul>
                                <li>
                                    <span class="title">발신/사용기간</span>
                                    <span class="tx-cont"><%=commDataInfo.ppsObEndDt %> 까지<br />발신가능</span>
                                </li>
                                <li>
                                    <span class="title">수신/데이터유지기간</span>
                                    <span class="tx-cont"><%=commDataInfo.ppsInbEndDt %> 까지<br />수신가능</span>
                                </li>
                                <li>
                                    <span class="title">번호유지기간</span>
                                    <span class="tx-cont"><%=commDataInfo.ppsNumEndDt %> 까지<br />번호유지</span>
                                </li>
                                <% if (commDataInfo.ppsType === 'C') { %>
                                <li>
                                    <span class="title">잔여데이터</span>
                                    <span class="tx-cont tx-red"><%=commDataInfo.ppsRemained %>MB</span>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
            <!--// .cont-box -->

            <div class="ti-caption-gray"><!-- 2018-09-19 클래스명 변경 -->
                <h4 class="tit">이용내역 확인</h4>
            </div>
            <!-- .cont-box -->
            <div class="cont-box">

                <% if (commDataInfo.ppsType === 'C') { %>
                <div class="check-style">
                    <div class="widget">
                        <div class="widget-box radio">
                            <ul class="select-list" role="radiogroup" data-target="searchType" >
                                <li class="radiobox type01 checked" id="aria-comp-radio1" role="radio" aria-checked="true"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                    <input type="radio" name="radio1" value="typeVoice" aria-labelledby="aria-comp-radio1" title="음성" checked /><!-- 체크상태일 경우 checked="checked" -->
                                    음성
                                </li>
                                <li class="radiobox type01" id="aria-comp-radio2" role="radio" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                    <input type="radio" name="radio1" aria-labelledby="aria-comp-radio2" value="typeData" title="데이터" /><!-- 체크상태일 경우 checked="false" -->
                                    데이터
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="inputbox date-selcet" >
                            <span class="date-type">
                            	<button class="bt-date" title="이용내역 조회 시작일 선택" aria-haspopup="true"
                                        data-value="<%=commDataInfo.ppsStartDateVal %>" data-target="startDtBtn" ><%=commDataInfo.ppsStartDateTxt %></button>
                            </span>
                    <span class="bar">~</span>
                    <span class="date-type">
                            	<button class="bt-date" title="이용내역 조회 종료일 선택" aria-haspopup="true"
                                        data-value="<%=commDataInfo.ppsEndDateVal %>" data-target="endDtBtn"><%=commDataInfo.ppsEndDateTxt %></button>
                            </span>
                </div>
                <ul class="bt-slice mt30">
                    <li class="bt-blue1">
                        <button data-target="searchBtn">조회하기</button>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps" data-target="">

                <div class="contents-empty" data-target="fingerprint">
                    <span class="ico type1"></span>
                    <p class="desc">원하시는 기간을 선택 후 조회해주세요.<br>(2개월씩만 가능합니다.)</p>
                </div>

                <div class="contents-empty" id="div-usage-empty" style="display: none;" aria-hidden="true">
                    <span class="ico type1"></span>
                    <p class="desc">이용내역이 없습니다.</p>
                </div>

                <ul class="list-comp-lineinfo type3 no-bt" data-target="detailList" >
                    <!--<li>-->
                    <!--<div class="lineinfo-user">-->
                    <!--<span class="info-title">국내음성통화</span>-->
                    <!--<span class="info-sub">2018.06.28</span>-->
                    <!--</div>-->
                    <!--<div class="lineinfo-data">-->
                    <!--<span class="info-title"><span class="num ff-tg-black">148</span><span class="ff-tg-medium">원</span></span>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>
                <div class="bt-more" data-target="addBtnArea" style="display: none;" aria-hidden="true">
                    <button data-target="addBtn">더보기<!-- <span data-target="curNum"></span>--></button>
                </div>
            </div>
            <!--// .cont-box -->

            <div class="bt-top">
                <button><span class="blind">최상단으로 가기</span></button>
            </div>

            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li><button id="MF_02_01_tip_01" type="button" class="btn-tip" aria-haspopup="tree">사용 금액 안내<i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                    <li><button id="MF_02_01_tip_02" type="button" class="btn-tip" aria-haspopup="tree">로밍 청구 요금 안내<i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                </ul>
            </div>
            <!--// .cont-box -->

        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>


<script>
  $(document).ready(function () {
    var oMyTFareGuide = new Tw.MyTFareBillGuidePps( $('#fe-wrap'), {
      reqQuery: <%-JSON.stringify(reqQuery) %>,
      ppsInfo;: <%-JSON.stringify(ppsInfo) %>,
      commDataInfo;: <%-JSON.stringify(commDataInfo) %>
  } )
  });
</script>
<% include ../../components/end.component.html %>