<%#
* MenuName: 나의 요금 > 요금안내서 > 기부금/후원금 상세조회(MF_02_01_04)
* @file myt-fare.bill.guide.donation.html
* @author Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* @since 2018.09.19
* Summary: 기부금/후원금 내역 조회화면
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>


<script id="fe-entryTplList" type="text/x-handlebars-template">
    {{!-- 주석 : 기부금/후원금 리스트 --}}
    {{# each resData as |rootItem rootIndex|}}
    <li>
        <div class="lineinfo-user">
        <span class="info-title">{{rootItem.sponCoNmInfo}}</span>
        <span class="info-sub">{{rootItem.billTcDt}}</span>
        </div>
        <div class="lineinfo-data">
        <span class="info-title"><span class="num ff-tg-black">{{rootItem.sponAmt}}</span><span class="ff-tg-medium">원</span></span>
        </div>
    </li>
    {{/each}}
</script>

<script id="fe-entryTpl" type="text/x-handlebars-template">
    {{!-- 주석 : 기부금/후원금 --}}
    <p class="tit">{{resData.startDt}} ~ {{resData.endDt}}</p>
    <p class="data"><em>{{resData.totalNum}}</em><span>원</span></p>
</script>


<div id="fe-wrap" class="wrap popup-page nobg tw-popup" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->

        <!-- #header -->
        <%- include('../components/header.component.html', { title: '기부금/후원금 상세조회', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->

        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="widget">
                        <div class="widget-box tube">
                            <ul class="tube-list three" role="radiogroup">
                                <li id="aria-comp-radio1" class="" role="radio" aria-checked="false" data-target="dateBtn" data-value="0" ><input aria-labelledby="aria-comp-radio1" type="radio" name="senddata" title="전일">전일</li>
                                <li id="aria-comp-radio2" class="" role="radio" aria-checked="false" data-target="dateBtn" data-value="1" ><input aria-labelledby="aria-comp-radio2" type="radio" name="senddata" title="1주일">1주일</li>
                                <li id="aria-comp-radio3" class="" role="radio" aria-checked="false" data-target="dateBtn" data-value="2" ><input aria-labelledby="aria-comp-radio3" type="radio" name="senddata" title="3주일">3주일</li>
                                <li id="aria-comp-radio4" class="" role="radio" aria-checked="false" data-target="dateBtn" data-value="3" ><input aria-labelledby="aria-comp-radio4" type="radio" name="senddata" title="1개월">1개월</li>
                                <li id="aria-comp-radio5" class="" role="radio" aria-checked="false" data-target="dateBtn" data-value="4" ><input aria-labelledby="aria-comp-radio5" type="radio" name="senddata" title="3개월">3개월</li>
                                <li id="aria-comp-radio6" class="" role="radio" aria-checked="false" data-target="dateBtn" data-value="5" ><input aria-labelledby="aria-comp-radio6" type="radio" name="senddata" title="6개월">6개월</li>
                            </ul>
                        </div>
                    </div>

                    <div class="date-select" data-target="dateSelect">
                        <span>원하시는 기간을 선택해주세요.</span>
                    </div>

                    <div class="data-result mt20" data-target="dataResult" style="display: none;" aria-hidden="true">

                    </div>

                    <div class="no-data" data-target="noData" style="display: none;" aria-hidden="true">
                        <span>이용내역이 없습니다.</span>
                    </div>

                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <ul class="list-comp-lineinfo type3 no-bt" data-target="detailList" >

                    </ul>
                    <div class="bt-more" data-target="addBtnArea" style="display: none;" aria-hidden="true">
                        <button data-target="addBtn">더보기 <span data-target="curNum"></span></button>
                    </div>
                </div>
                <!--// .cont-box -->

                <div class="bt-top">
                    <button><span class="blind">최상단으로 가기</span></button>
                </div>

                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li><button id="MF_02_01_04_tip_01" type="button" class="btn-tip" aria-haspopup="true">이용안내<i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-common-back" data-target="popupCloseBt"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->

    <!--// .popup hbs -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>

<script>
  $(document).ready(function () {
    var oMyTFareGuide = new Tw.MyTFareBillGuideDonation( $('#fe-wrap'), {
      reqQuery: <%-JSON.stringify(reqQuery) %>
  } )
  });
</script>
<% include ../../components/end.component.html %>
