<%#
* MenuName: 나의 가입정보 > 서브메인(인터넷/집전화/IPTV 회선) > 설치장소변경(MS_04_04)
* @file myt-join.wire.modify.address.html
* @author Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* @since 2018.10.15
* Summary: 회선 가입정보를 조회하고 인터넷/집전화/IPTV 설치장소 변경 신청화면으로 이동
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<div id="fe-wrap" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="page popup-page nobg tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->

        <!-- #header -->
        <%- include('../components/header.component.html', { title: '설치장소 변경', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->

        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="myinfo-wrap">
                        <div class="myinfo-cont">
                            <div class="subtitle">
                                <span class="name">현재 설치장소</span>
                            </div>
                            <div class="title">
                                <span><%=resDataInfo.basAddr %></span>
                            </div>
                            <span class="subtitle2">
                                    <span class="elem"><%=resDataInfo.wireReqrNm %></span>
                                    <span class="elem"><%=commDataInfo.svcState %></span>
                                </span>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true">
                <div class="ti-caption-gray tod-caption-white">
                    <h3 class="tit">설치장소 변경 신청</h3>
                </div>
                <div class="cont-box">
                    <div class="form-type">
                        <h3 class="form-title">건물 유형</h3>

                        <button data-target="select_building" class="bt-dropdown big" title="건물 유형 선택" aria-haspopup="true">유형 선택<span class="ico"></span></button>

                        <h3 class="form-title">변경 설치장소</h3>
                        <div class="form-box">
                            <div class="inputbox bt-add inp-btn">
                                <span class="input">
                                    <input type="text" class="fe-zip" title="우편번호" readonly/>
                                </span>
                                <span class="bt-box3">
                                    <button type="button" id="btnPostSearch" class="btn-round2 btn-style3">우편번호 검색</button>
                                </span>
                            </div>
                            <div class="inputbox mt10">
                                <span class="input">
                                    <input class="fe-main-address" type="text" title="기본주소" value="" placeholder="" readonly>
                                </span>
                            </div>
                            <div class="inputbox mt10">
                                <span class="input">
                                    <input class="fe-detail-address" type="text" title="" value="" readonly>
                                </span>
                            </div>
                            <span class="error-txt" style="display: none;" id="fe-err-no-location" aria-hidden="true">변경 설치 장소를 입력해 주세요.</span>
                        </div>

                        <h3 class="form-title">이사 날짜</h3>
                        <span class="inputbox">
                            <span class="input">
                                <input type="date" title="이사 날짜 선택" data-target="select_house_input" placeholder=""/>
                            </span>
                        </span>
                        <span class="error-txt" style="display: none;" id="fe-err-no-movdt" aria-hidden="true">날짜를 선택해주세요.</span>

                        <!--<h3 class="form-title">중단 희망 날짜</h3>-->
                        <!--<span class="inputbox">-->
                        <!--<span class="input">-->
                        <!--<input type="date" title="중단 희망 날짜" data-target="select_stop_input" placeholder="당일 이후로 선택"/>-->
                        <!--</span>-->
                        <!--</span>-->
                        <h3 class="form-title"><label for="formInput02">중단 희망 날짜</label></h3>
                        <span class="inputbox">
                                <span class="input">
                                    <input type="date" title="중단 희망 날짜 오늘 이후로 선택" id="formInput02" data-target="select_stop_input" />
                                </span>
                            </span>
                        <p class="sincetoday-txt">오늘 이후 선택 가능 합니다.</p>
                        <span class="error-txt" style="display: none;" id="fe-err-no-stopdt" aria-hidden="true">날짜를 선택해주세요.</span>

                        <!--<h3 class="form-title">설치 희망 날짜<button id="MS_04_04_tip_02" class="tip-view">TIP</button></h3>-->
                        <!--<span class="inputbox">-->
                        <!--<span class="input">-->
                        <!--<input type="date" title="설치 희망 날짜" data-target="select_install_input" placeholder="당일 이후로 선택"/>-->
                        <!--</span>-->
                        <!--</span>-->
                        <h3 class="form-title"><label for="formInput03">설치 희망 날짜</label><button id="MS_04_04_tip_02" class="tip-view" title="설치 희망 날짜 TIP보기" aria-haspopup="true">TIP</button></h3>
                        <span class="inputbox">
                                <span class="input">
                                    <input type="date" title="설치 희망 날짜 오늘 이후로 선택" id="formInput03" data-target="select_install_input" />
                                </span>
                            </span>
                        <p class="sincetoday-txt">오늘 이후 선택 가능 합니다.</p>
                        <span class="error-txt" style="display: none;" id="fe-err-no-instdt" aria-hidden="true">날짜를 선택해주세요.</span>

                        <h3 class="form-title">휴대폰 번호</h3>
                        <div class="form-box">
                                <span class="inputbox bt-add error"><!-- 입력 필드 오류 시 .error 추가 -->
                                    <span class="input">
                                        <input data-target="input_hp" type="tel" name="" title="휴대폰 번호" value=""
                                               placeholder="숫자만 입력" maxlength="13" />
                                        <button class="cancel" id="btn_hp_del"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                            <span class="error-txt" id="spanHpValid" aria-hidden="true" style="display: none;"></span>
                        </div>

                        <h3 class="form-title">일반전화 (선택)</h3>
                        <div class="form-box">
                                <span class="inputbox bt-add error"><!-- 입력 필드 오류 시 .error 추가 -->
                                    <span class="input">
                                        <input data-target="input_phone" type="tel" name="" title="일반전화(선택)" value=""
                                               placeholder="숫자만 입력" maxlength="13" />
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                        </div>
                    </div>
                </div>

                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li><button id="MS_04_04_tip_01" type="button" class="btn-tip" aria-haspopup="true">서비스 제한 <i class="icon-badge-tip"><span class="blind">서비스 제한 tip</span></i></button></li>
                        <li><button id="MS_04_04_tip_03" type="button" class="btn-tip" aria-haspopup="true">설치장소 변경 접수 <i class="icon-badge-tip"><span class="blind">설치장소 변경 접수 tip</span></i></button></li>
                        <li><button id="MS_04_04_tip_04" type="button" class="btn-tip" aria-haspopup="true">서비스 불가지역 <i class="icon-badge-tip"><span class="blind">서비스 불가지역 tip</span></i></button></li>
                        <li><button id="MS_04_04_tip_05" type="button" class="btn-tip" aria-haspopup="true">추가비용 <i class="icon-badge-tip"><span class="blind">추가비용 tip</span></i></button></li>
                        <!--<li>서비스 제한 <button id="MS_04_04_tip_01" type="button" class="tip-view">TIP</button></li>-->
                        <!--<li>설치장소 변경 접수 <button id="MS_04_04_tip_03" type="button" class="tip-view">TIP</button></li>-->
                        <!--<li>서비스 불가지역 <button id="MS_04_04_tip_04" type="button" class="tip-view">TIP</button></li>-->
                        <!--<li>추가비용 <button id="MS_04_04_tip_05" type="button" class="tip-view">TIP</button></li>-->
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button data-target="submitApply" disabled >신청하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step" id="page-prev-step">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->

</div>


<script>
  $(document).ready(function () {
    var oMyTWireInfo = new Tw.MyTJoinWireModifyAddress( $('#fe-wrap'), {
      reqQuery: <%-JSON.stringify(reqQuery) %>,
      mbrNm: <%-JSON.stringify(svcInfo.mbrNm) %>,
      resDataInfo: <%-JSON.stringify(resDataInfo) %>,
      commDataInfo: <%-JSON.stringify(commDataInfo) %>
  } );
  });
</script>
<% include ../../components/end.component.html %>
