<%#
* MenuName: 나의 가입정보 > 서브메인 > 인터넷/집전화/IPTV 신청내역 > 장애/AS 신청현황(MS_04_01_03)
* FileName: myt-join.wire.as.history.html
* Author: Lee Gyu-gwang (skt.P134910@partner.sk.com)
* Date: 2018.10.08
* Summary: 인터넷/집전화/IPTV 장애/AS 신청내역 목록 조회 화면
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { svcInfo: svcInfo, title: '장애 A/S 신청현황' }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="ti-caption-gray">
                <span class="num">총<em><%= data.totalCnt %></em>건</span>
            </div>

            <script id="list-cont-box-tmplt" type="text/x-handlebars-template">
                <div class="cont-box nogaps">
                    <div class="history-list">
                        <ul></ul>
                    </div>
                </div>
            </script>

            <script id="list-cont-item-tmplt" type="text/x-handlebars-template">
                <li data-no="{{ troubleNum }}">
                    <span class="tx-date">{{ noYearDate troubleDt }}</span>
                    <button>
                        <div class="li-elem item-one">
                            <div class="title-box">
                                <span class="tit">{{ svcNm }}</span>
                                <span class="sub-tit ellipsis">{{ troubleDetail }}</span>
                            </div>
                        </div>
                        <span class="blind">{{ svcNm }} 자세히 보기</span>
                    </button>
                </li>
            </script>

            <script id="list-year-div-tmplt" type="text/x-handlebars-template">
                <div class="data-select-wrap">
                    <span class="data-tit">{{ year }}</span>
                </div>
            </script>

            <!-- .cont-box -->
            <div id="cont-boxes">

            </div>
            <!--
            <div class="bt-more" style="display:none;">
                <button>더보기</button>
            </div>
            -->
            <script id="bt-more-tmplt" type="text/x-handlebars-template">
                <div class="bt-more">
                    <button>더보기</button>
                </div>
            </script>

            <script id="no-data-tmplt" type="text/x-handlebars-template">
                <div class="cont-box nogaps">
                    <div class="contents-empty">
                        <span class="ico type1"><span class="blind">느낌표(!)</span></span>
                        <p class="desc">장애 A/S 신청내역이 없습니다.</p>
                    </div>
                </div>
            </script>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li><button id="MS_04_01_03_tip_01" type="button" class="btn-tip" aria-haspopup="true">장애 A/S 방문 취소 <i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                    <li><button id="MS_04_01_03_tip_02" type="button" class="btn-tip" aria-haspopup="true">106을 통해 장애 A/S 신청한 경우 <i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                    <!--<li>장애 A/S 방문 취소 <button id="MS_04_01_03_tip_01" type="button" class="tip-view" title="장애 A/S 방문 취소" aria-haspopup="true">TIP</button></li>-->
                    <!--<li>106을 통해 장애 A/S 신청한 경우 <button id="MS_04_01_03_tip_02" type="button" class="tip-view" title="106을 통해 장애 A/S 신청한 경우" aria-haspopup="true">TIP</button></li>-->
                </ul>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
<script>
  $(document).ready(function () {
    new Tw.MyTJoinWireAS($('.wrap'), '<%- JSON.stringify(data) %>');
  });
</script>

<% include ../../components/end.component.html %>
