<%#
* MenuName: 나의가입정보(인터넷/집전화/IPTV) > 가입자 명의 변경
* @file myt-join.wire.guide.change-ownership.html
* @author 이정민 (skt.p130713@partner.sk.com)
* @since 2018.10.19
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<!-- #skip_navigation -->
<!-- Grand open 접근성 수정
<div id="skipNav" class="skip_navi">
   <ul>
       <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
   </ul>
</div>
-->
<!--// #skip_navigation -->

<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="popup-page nobg tw-popup"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '명의변경 신청방법 안내', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="guide-words">
                        <ol>
                            <li>
                                <p class="title"><span class="num">01</span>전화로 신청</p>
                                <div class="cont-noti mt14">
                                    <ul class="bullet-type">
                                        <li>1600-2000(유료)또는 <br />080-816-2000(무료)로 전화 신청</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p class="title"><span class="num">02</span>서류 준비 후 팩스로 발송</p>
                                <div class="cont-noti mt14">
                                    <ul class="bullet-type">
                                        <li>
                                            이용권승계신청서, <br />
                                            양수/양도인 또는 사업자등록증
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <p class="title"><span class="num">03</span>상담사 통화</p>
                                <div class="cont-noti mt14">
                                    <ul class="bullet-type">
                                        <li>상담사가 양수/양도인 통화 후 변경 처리</li>
                                    </ul>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <!--// .cont-box -->

                <!-- .cont-box -->
                <div class="cont-box bgtype noborder">
                    <div class="box-suggest">
                        <div class="suggest-info">
                            <ul class="suggest-list type2 mt0">
                                <li>이용권 승계 신청서, 양수/양도인 신분증 앞면 또는 사업자등록증(신분증의 경우 주민등록번호 뒷자리는 가려 주세요.)</li>
                                <li>양수인의 주소와 유선서비스 설치 장소의 주소가 동일하지 않을 경우에는 설치장소가 동일함을 확인할 수 있는 서류 필요</li>
                                <li>이용권 승계 신청서는 상담사를 통해 팩스로 받거나, 해당 페이지 상단의 [이용권 승계 신청서 다운로드] 이용</li>
                            </ul>
                            <ul class="suggest-list nodot">
                                <li>단, 필요서류는 최근 3개월 이내에 발급받은 것이어야 함.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li>
                            <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_07_tip_01">
                                승계안내<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_07_tip_02">
                                기존 서비스<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_07_tip_03">
                                전화번호<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_07_tip_04">
                                이용요금<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_07_tip_05">
                                TB끼리 온 가족<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-common-back"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <!--// .popup hbs -->
</div>
<% include ../../components/end.component.html %>
