<%#
* MenuName: 나의 가입정보 > 서브메인(인터넷/집전화/IPTV 회선) > 상품변경(MS_04_05)
* @file myt-join.wire.modify.product.html
* @author Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* @since 2018.10.15
* Summary: 회선 가입정보를 조회하고 인터넷/집전화/IPTV 상품변경 변경 신청화면으로 이동
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<div id="fe-wrap" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="popup-page nobg tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->

        <!-- #header -->
        <%- include('../components/header.component.html', { title: '상품 변경', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->

        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="myinfo-wrap">
                        <div class="myinfo-cont">
                            <div class="subtitle">
                                <span class="name">요금제</span>
                            </div>
                            <div class="title">
                                <span><%=svcInfo.prodNm %></span>
                            </div>
                            <span class="subtitle2">
                                    <span class="elem"><%=resDataInfo.wireReqrNm %></span>
                                    <span class="elem"><%=commDataInfo.svcState %></span>
                                </span>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true">
                <div class="ti-caption-gray tod-caption-white">
                    <h3 class="tit">상품 변경 신청</h3>
                </div>
                <div class="cont-box">
                    <div class="form-type">
                        <h3 class="form-title">상품 선택</h3>
                        <button data-target="select_product" class="bt-dropdown big" title="" aria-haspopup="true">상품 선택<span class="ico"></span></button>
                        <span class="error-txt" aria-hidden="true" style="display: none;"></span>

                        <h3 class="form-title">요금제 선택</h3>
                        <button data-target="select_product_bill" class="bt-dropdown big" title="" aria-haspopup="true" disabled >요금제 선택<span class="ico"></span></button>
                        <span class="error-txt" aria-hidden="true" style="display: none;"></span>


                        <h3 class="form-title">휴대폰 번호</h3>
                        <div class="form-box">
                                <span class="inputbox bt-add error"><!-- 입력 필드 오류 시 .error 추가 -->
                                    <span class="input">
                                        <input data-target="input_hp" type="tel" name="" title="휴대폰 번호" value=""
                                               placeholder="숫자만 입력" maxlength="13" />
                                        <button class="cancel" id="btn_hp_del"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                            <span class="error-txt" id="spanHpValid" aria-hidden="true" style="display: none;"></span>
                        </div>
                        <h3 class="form-title">일반전화 (선택)</h3>
                        <div class="form-box">
                                <span class="inputbox bt-add error"><!-- 입력 필드 오류 시 .error 추가 -->
                                    <span class="input">
                                        <input data-target="input_phone" type="tel" name="" title="일반전화(선택)" value=""
                                               placeholder="숫자만 입력" maxlength="13" />
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                        </div>
                    </div>
                </div>

                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li><button id="MS_04_05_tip_01" type="button" class="btn-tip" aria-haspopup="true">서비스 제한 <i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                        <li><button id="MS_04_05_tip_02" type="button" class="btn-tip" aria-haspopup="true">가입상품 변경 <i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                        <li><button id="MS_04_05_tip_03" type="button" class="btn-tip" aria-haspopup="true">약정기간 <i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                        <li><button id="MS_04_05_tip_04" type="button" class="btn-tip" aria-haspopup="true">서비스 이용불가 <i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                        <li><button id="MS_04_05_tip_05" type="button" class="btn-tip" aria-haspopup="true">세트상품 <i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                        <!--<li>서비스 제한 <button id="MS_04_05_tip_01" type="button" class="tip-view">TIP</button></li>-->
                        <!--<li>가입상품 변경 <button id="MS_04_05_tip_02" type="button" class="tip-view">TIP</button></li>-->
                        <!--<li>약정기간 <button id="MS_04_05_tip_03" type="button" class="tip-view">TIP</button></li>-->
                        <!--<li>서비스 이용불가 <button id="MS_04_05_tip_04" type="button" class="tip-view">TIP</button></li>-->
                        <!--<li>세트상품 <button id="MS_04_05_tip_05" type="button" class="tip-view">TIP</button></li>-->
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button data-target="submitApply" disabled >신청하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step" id="page-prev-step">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->

</div>


<script>
  $(document).ready(function () {
    var oMyTWireInfo = new Tw.MyTJoinWireModifyProduct( $('#fe-wrap'), {
      reqQuery: <%-JSON.stringify(reqQuery) %>,
      svcAttrCd: <%-JSON.stringify(svcInfo.svcAttrCd) %>,
      resDataInfo: <%-JSON.stringify(resDataInfo) %>,
      commDataInfo: <%-JSON.stringify(commDataInfo) %>
  } );
  });
</script>
<% include ../../components/end.component.html %>
