<%#
* FileName: myt-join.wire.as.detail.html
* Author: Lee Gyu-gwang (skt.P134910@partner.sk.com)
* Date: 2018.10.08
%>

<% include ../components/start.component.html %>
<p>
    장애 A/S 신청 현황 상세

    'custNm': '고객명',
    'cntcNum': '연락전화번호',
    'addrNm': '설치주소',
    'mvotOperCoId': '출동작업업체ID',
    'mvotOperCoNm': '출동작업업체명',
    'coPhonNum': '출동작업업체전화번호',
    'mvotCoFnshOpertrId': '행복기사사번',
    'mvotCoFnshOpertrNm': '행복기사명',
    'opertrPhonNum': '행복기사전화번호',
    'operSchdDtm': '방문예정일시'

</p>
<% include ../components/javascript.component.html %>
<% include ../components/end.component.html %>
