<%#
* MenuName: 나의가입정보(인터넷/집전화/IPTV) > 약정기간 변경
* FileName: myt-join.wire.modify.period.html
* Author: 이정민 (skt.p130713@partner.sk.com)
* Date: 2018.10.19
* Summary: 유선 약정기간 정보 조회 화면
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<!-- #skip_navigation -->
<!-- Grand open 접근성 수정
<div id="skipNav" class="skip_navi">
   <ul>
       <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
   </ul>
</div>
-->
<!--// #skip_navigation -->

<div id="fe-myt-join-wire-modify-period" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="popup-page nobg tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <%- include('../components/header.component.html', { title: '약정기간 변경', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <div id="main">
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="myinfo-wrap">
                            <div class="myinfo-cont">
                                <div class="subtitle">
                                    <span class="name">할인</span>
                                </div>
                                <div class="title">
                                    <span><%= wireAgreementsInfo.dcNm %></span>
                                </div>
                                <span class="subtitle2">
                                        <span class="elem"><%= wireAgreementsInfo.custNm %></span>
                                        <span class="elem"><%= wireAgreementsInfo.prepayCnt %></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <!--// .cont-box -->

                    <div class="ti-caption-gray">
                        <h3 class="tit">약정기간 변경 신청</h3>
                    </div>
                    <div class="cont-box">
                        <div class="form-type form-wrap">
                            <h3 class="form-title">약정 기간</h3>
                            <button class="bt-dropdown big fe-btn-select-period" title="약정 기간 선택" aria-haspopup="true">선택<span class="ico"></span></button>
                            <p class="input-txt-type02 pb10 pt6 fe-select-period-err" style="display: none;" aria-hidden="true">약정기간을 선택해 주세요.</p>
                            <div class="data-result mt10 fe-agreements-penalty-result" style="display: none;">
                                <div class="div-half">
                                    <div class="elem">
                                        <p class="tit">이용 중단 기간</p>
                                        <p class="data"><em class="fe-use-mth-cnt"></em><span>개월</span></p>
                                    </div>
                                    <div class="elem">
                                        <p class="tit">
                                            해지 위약금
                                            <button class="tip-view" title="해지 위약금 TIP보기" id="MS_04_06_tip_04">TIP</button>
                                        </p>
                                        <p class="data"><em class="fe-term-brch-amt"></em><span>원</span></p>
                                    </div>
                                </div>
                            </div>
                            <h3 class="form-title">휴대폰 번호</h3>
                            <div class="form-phone mt0">
								<span class="select">
									<button class="bt-dropdown big fe-phone1" title="휴대폰 앞자리 선택" aria-haspopup="true">선택<span class="ico"></span></button>
								</span>
                                <span class="hyp"></span>
                                <span class="inputbox">
                                    <span class="input">
                                        <input type="tel" maxlength="4" title="휴대폰 중간자리 입력" class="fe-phone2" onInput="return Tw.InputHelper.inputNumberOnly(this);">
                                        <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                                <span class="hyp"></span>
                                <span class="inputbox">
                                    <span class="input">
                                        <input type="tel" maxlength="4" title="휴대폰 끝자리 입력" class="fe-phone3" onInput="return Tw.InputHelper.inputNumberOnly(this);">
                                        <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                            </div>
                            <p class="input-txt-type02 pb10 pt6 fe-select-phone-err" style="display: none;" aria-hidden="true">휴대폰 번호가 올바르지 않습니다.</p>
                            <h3 class="form-title">일반전화 (선택항목)</h3>
                            <div class="form-phone mt0">
								<span class="select">
									<button class="bt-dropdown big fe-tel1" title="휴대폰 앞자리 선택" aria-haspopup="true">선택<span class="ico"></span></button>
								</span>
                                <span class="hyp"></span>
                                <span class="inputbox">
                                    <span class="input">
                                        <input type="tel" maxlength="4" title="휴대폰 중간자리 입력" class="fe-tel2" onInput="return Tw.InputHelper.inputNumberOnly(this);">
                                        <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                                <span class="hyp"></span>
                                <span class="inputbox">
                                    <span class="input">
                                        <input type="tel" maxlength="4" title="휴대폰 끝자리 입력" class="fe-tel3" onInput="return Tw.InputHelper.inputNumberOnly(this);">
                                        <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr class="cont-sp type1" aria-hidden="true">

                    <div class="cont-box noborder bgnone">
                        <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                        <ul class="pg-chk-list02">
                            <li>
                                <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_05_tip_01">
                                    서비스 제한<i class="icon-badge-tip"><span class="blind">tip</span></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_06_tip_02">
                                    약정기간 변경<i class="icon-badge-tip"><span class="blind">tip</span></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_06_tip_03">
                                    위약금<i class="icon-badge-tip"><span class="blind">tip</span></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-tip" aria-haspopup="true" id="MS_04_06_tip_05">
                                    약정기간 변경 신청내역<i class="icon-badge-tip"><span class="blind">tip</span></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="bt-fixed-area">
                        <ul class="bt-slice full">
                            <li class="bt-red1">
                                <button class="fe-btn-request" disabled="">신청하기</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="confirm" style="display: none;">
                    <div class="cont-box noborder nogaps bgnone">
                        <div class="myfare-result-wrap type2">
                            <div class="myfare-list">
                                <ul>
                                    <li>
                                        <dl class="show-data">
                                            <dt>이름</dt>
                                            <dd class="tx-bold"><%= wireAgreementsInfo.custNm %></dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl class="show-data">
                                            <dt>휴대폰</dt>
                                            <dd class="tx-bold fe-label-phone"></dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl class="show-data">
                                            <dt>일반전화</dt>
                                            <dd class="tx-bold fe-label-tel"></dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-suggest ml16">
                            <div class="suggest-info">
                                <ul class="suggest-list nodot mt0">
                                    <li>
                                        신청 완료 버튼을 누르시면 <br />
                                        고객센터 상담사가 연락드립니다.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bt-fixed-area">
                        <ul class="bt-slice full">
                            <li class="bt-red1">
                                <button class="fe-btn-submit">신청완료</button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-common-back"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->
</div>


<script>
  $(document).ready(function () {
    new Tw.MyTJoinWireModifyPeriod($('#fe-myt-join-wire-modify-period'), {
      dcNm: '<%= wireAgreementsInfo.dcNm %>',
      beforeTerm: '<%= wireAgreementsInfo.beforeTerm %>',
      termEndDt: '<%= wireAgreementsInfo.termEndDt %>',
      grpProdYn: '<%= wireAgreementsInfo.grpProdYn %>',
      smartDirectYn: '<%= wireAgreementsInfo.smartDirectYn %>',
      isBroadbandJoined: '<%= isBroadbandJoined %>'
    });
  });
</script>
<% include ../../components/end.component.html %>
