<%#
* FileName: myt.bill.billguide.subDonationBill.html
* Author: 김명환 (skt.P130714@partner.sk.com)
* Date: 2018.07.16
* Info: 기부금/후원금
%>
<script id="fe-amt-total" type="text/x-handlebars-template">
    <div class="result-box price">
        <h3 class="blind">조회결과:</h3>
        <p class="result-value">
            <span class="num">{{amt}}</span>
            <span class="txt">원</span>
        </p>
        <p class="result-date">{{startDt}} ~ {{endDt}}</p>
    </div>
</script>
<script id="fe-amt-list" type="text/x-handlebars-template">
    <ul class="payment-detail-wrap">
        <!-- 박스하나 시작 -->
        {{#each donationList}}
        <li class="payment-detail-box">
            <div class="detail-inner">
                <div class="detail-list">
                    <ul>
                        <li>
                            <span class="title">기부일자</span>
                            <span class="tx-cont">{{ billTcDt }}</span>
                        </li>
                        <li>
                            <span class="title">금액</span>
                            <span class="tx-cont"><strong>{{ sponAmt }}</strong>원</span>
                        </li>
                        <li>
                            <span class="title">업체내역</span>
                            <span class="tx-cont">{{ sponCoNmInfo }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</script>
<script id="fe-amt-empty" type="text/x-handlebars-template">
    <div class="result-box no-result">
        <h3 class="blind">조회결과:</h3>
        <p>이용내역이 없습니다.</p>
    </div>
</script>
<script id="fe-amt-paging" type="text/x-handlebars-template">
    <div class="paging">
        <!--<a href="#" role="button" class="prev"><span class="pg-blind">이전 페이지로 이동</span></a>-->
        {{#each pages}}
            {{#if isActive}}
                <a role="button" class="fe-btn-page active" title="현재페이지" data-idx="{{ idx }}">{{ idx }}</a>
            {{else}}
                <a role="button" class="fe-btn-page" data-idx="{{ idx }}">{{ idx }}</a>
            {{/if}}
        {{/each}}
        <!--<a href="#" role="button" class="next disabled"><span class="pg-blind">다음 페이지로 이동</span></a>&lt;!&ndash; 비활성화시 disabled 클래스 추가 &ndash;&gt;-->
    </div>
</script>
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#content">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="fe-wrapFdev" class="wrap">
    <!-- #header -->
    <div  class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>기부금/후원금 상세조회</h1>
                <!--<button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>-->
            </div>
            <button class="prev-step"><span class="blind">이전으로</span></button>
            <!--<button class="search-content"><span class="blind">검색하기</span></button>-->
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div  class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="cont-box nogaps-hoz">
                <div class="inquiry-tit">
                    <p class="tit-wrap"><span class="num">010-12**-56**</span><span class="mark-txt">기부금/후원금</span><br />내역을 조회해보세요.</p></p>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <div class="widget">
                    <div class="widget-box tube">
                        <ul class="tube-list three" role="radiogroup">
                            <li role="radio" aria-checked="false" data-unit="1" data-measurements="days"><input type="radio" name="selectdate" title="전일 선택">전일</li>
                            <li role="radio" aria-checked="false" data-unit="7" data-measurements="days"><input type="radio" name="selectdate" title="1주일 선택">1주일</li>
                            <li role="radio" aria-checked="false" data-unit="3" data-measurements="weeks"><input type="radio" name="selectdate" title="3주일 선택">3주일</li>
                            <li role="radio" aria-checked="false" data-unit="1" data-measurements="month"><input type="radio" name="selectdate" title="1개월 선택">1개월</li>
                            <li role="radio" aria-checked="false" data-unit="3" data-measurements="month"><input type="radio" name="selectdate" title="3개월 선택">3개월</li>
                            <li role="radio" aria-checked="false" data-unit="6" data-measurements="month"><input type="radio" name="selectdate" title="6개월 선택">6개월</li>
                        </ul>
                    </div>
                </div>
                <div class="fe-amt-total-wrap">
                    <div class="result-box no-result">
                        <p>원하시는 기간을 선택해주세요.</p>
                    </div>
                </div>
                <div class="fe-amt-list-wrap"></div>
                <div class="fe-amt-paging-wrap"></div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box accordion">
                        <h5 class="tit-a">이용안내</h5>
                        <div class="acco-cover on"><!-- toggle : 한개만 열기 -->
                            <div class="acco-style btn-hold">
                                <ul class="acco-list">
                                    <li class="acco-box on">
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">
                                                    최근 6개월까지만 조회 가능합니다.
                                                    <ul class="inner-group type1">
                                                        <li class="inner-list"><span class="bullet">예)</span>조회일이 7월 15일인 경우 1.15~6.14까지 조회 가능</li>
                                                    </ul>
                                                </li>
                                                <li class="list">본인이 아닌 타인에게 아이디와 패스워드가 유출 될 경우 중요한 개인정보 유출의 우려가 있음으로 발신번호 일부가 *로 표시됩니다.</li>
                                                <li class="list">인쇄하기 기능은 온라인 티월드(<a class="text-link" href="http://www.tworld.co.kr" title="티월드로 이동하기 - 새창열림">www.tworld.co.kr</a>)에서만 가능합니다. </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .widget -->
            </div>

        </div>
    </div>
    <!--// #contents -->
    <% include ../../../../../common/views/components/footer.component.html %>
</div>

<% include ../../components/javascript.component.html %>

<script>
  $(document).ready(function () {
    new Tw.mytBillBillguideSubDonationBill($('#fe-wrapFdev'));
  });
</script>

<% include ../../components/end.component.html %>