<!-- .cont-box -->
<div class="cont-box fe-wrap-service-category">
    <div class="option-box">
        <div>
            <button class="bt-dropdown big fe-service_depth1 tx-bold" title="서비스 선택" aria-haspopup="true" data-service-depth1="CELL">휴대폰</button>
            <!--<button class="bt-dropdown big fe-service_depth1" title="서비스 선택" aria-haspopup="true">서비스 선택</button>-->
            서비스의
        </div>
        <div>
            <button class="bt-dropdown big fe-service_depth2" title="문의사항 선택" aria-haspopup="true">문의사항 선택</button>
            대해
        </div>
        <p>문의합니다.</p>
        <div class="link-long questionbox-wrap fe-wrap-email-faq">
            <a href="" class="disabled fe-btn_faq" aria-hashpopup='true' title="질문유형과 관계있는 FAQ 정보로 이동">자주 찾는 질문을 먼저 살펴보세요.
                <span class="tx-sub">
                    <span class="ico"><span class="blind">더보기</span></span><!-- 웹접근성 수정 -->
                </span>
            </a>
        </div>
        <p class="emailconsulting-wrap pt20 pb0" style="display: none" aria-hidden='true'>SK브로드밴드를 통해 가입한 서비스에 대한 문의는 SK브로드밴드 고객센터(106) 또는 웹사이트(www.skbroadband.com)를 이용해 주세요.</p>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true">