<script type="text/template" id="tpl_quality_cell">
    <div class="cont-box">
        <!-- 와이브로 삭제요청으로 blind 처리 -->
        <div class="widget formradio-style01 blind" aria-hidden="false">
            <div class="widget-box radio blind" aria-hidden="false">
                <ul class="select-list fe-quality-inqSvcClCd" role="radiogroup">
                    <li class="radiobox type01 checked" role="radio" aria-checked="true" id="aria-quality-cell-radio1">
                        <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio1-big1" value="C" title="휴대폰" checked="" aria-labelledby="aria-quality-cell-radio1"><!-- 체크상태일 경우 checked="checked" -->
                        휴대폰
                    </li>
                    <li class="radiobox type01 ml30" role="radio" aria-checked="false" id='aria-quality-cell-radio2'>
                        <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                        <input type="radio" name="radio1-big1" value="W" title="와이브로" aria-labelledby="aria-quality-cell-radio2"><!-- 체크상태일 경우 checked="false" -->
                        와이브로
                    </li>
                </ul>
            </div>
        </div>
        <div class="inquiryform-wrap">
            <p class="title">문의하실 회선과 현상, 지역정보를 선택해 주세요.</p>
            <!--<% if ( allSvc.m && allSvc.m.length >= 2 ) { %>
            <div class="info-form-box">
                <button class="bt-dropdown big tx-bold fe-select-line fe-quality-line" title="문의하실 회선정보 선택" aria-haspopup="true"
                        data-svcMgmtNum="<%-allSvc.m[0].svcMgmtNum%>"><%-convertTelFormat(allSvc.m[0].svcNum)%><span class="ico"></span>
                </button>
            </div>
            <% } else if( allSvc.m && allSvc.m.length === 1 ) { %>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-quality-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" data-svcMgmtNum="<%-allSvc.m[0].svcMgmtNum%>"
                           value="<%-convertTelFormat(allSvc.m[0].svcNum)%>" disabled>
                </div>
            </div>
            <% } else { %>
            <div class="inputbox">
                <div class="input">
                    <input type="tel" class="fe-quality-line fe-numeric fe-phone" placeholder="회선정보 입력" title="문의하실 회선정보 입력" value="" maxlength="13">
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <% } %>-->
            <div class="inputbox">
                <div class="input">
                    <input type="tel" class="fe-quality-line fe-numeric fe-phone" placeholder="회선정보 입력 (필수)" title="회선정보 입력 (필수)" value="" maxlength="13" required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-occurrence" title="현상선택 (필수)" aria-haspopup="true" required>현상선택 (필수)<span class="ico"></span></button>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-occurrence_detail" title="세부현상 선택 (필수)" aria-haspopup="true" required>세부현상 선택 (필수)<span class="ico"></span></button>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-place" title="발생위치 선택 (필수)" aria-haspopup="true" required>발생위치 선택 (필수)<span class="ico"></span></button>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-place_detail" title="건물종류 선택 (필수)" aria-haspopup="true" required>건물종류 선택 (필수)<span class="ico"></span></button>
            </div>
            <p class="title">문의하실 상세현황을 기재해 주세요.</p>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="상세한 현상 입력 (필수)" title="상세한 현상 입력 (필수)" maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required></textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-text_name" placeholder="접수자 성함 입력 (필수)" title="접수자 성함 입력 (필수)" value="" aria-labelledby="aria-exp-label1"
                           aria-describedby="aria-exp-desc1" required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <p class="title">발생 지역 주소와 발생시기를 기재해 주세요.</p>
            <div class="inputbox bt-add inp-btn">
                <span class="input">
                    <input type="text" class="fe-zip" placeholder="우편번호 조회 (필수)" title="발생 지역 우편번호 조회 입력" value="" readonly="" disabled required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </span>
                <span class="bt-box">
                    <button type="button" class="fe-search-post">우편번호 조회</button>
                </span>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-main-address" value="" title="기본주소" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"
                           readonly="" disabled required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-detail-address" value="" title="상세주소" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"
                           readonly="" disabled required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-occurrence_date" title="발생시기 선택 (필수)" aria-haspopup="true" required>발생시기 선택 (필수)<span class="ico"></span></button>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'quality' }); %>
</script>

<script type="text/template" id="tpl_quality_wibro">
    <div class="cont-box">
        <div class="widget formradio-style01">
            <div class="widget-box radio">
                <ul class="select-list fe-quality-inqSvcClCd" role="radiogroup">
                    <li class="radiobox type01 checked" role="radio" aria-checked="false">
                        <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio1-big1" value="C" title="휴대폰"><!-- 체크상태일 경우 checked="checked" -->
                        휴대폰
                    </li>
                    <li class="radiobox type01 ml30" role="radio" aria-checked="true">
                        <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                        <input type="radio" name="radio1-big1" value="W" title="와이브로" checked="checked"><!-- 체크상태일 경우 checked="false" -->
                        와이브로
                    </li>
                </ul>
            </div>
        </div>
        <div class="inquiryform-wrap">
            <p class="title">문의하실 회선과 현상, 지역정보를 선택해 주세요.</p>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-numeric-uppercase fe-quality-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" value="" maxlength="20">
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-occurrence" title="현상선택 (필수)" aria-haspopup="true" required>현상선택 (필수)<span class="ico"></span></button>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-occurrence_detail" title="세부현상 선택 (필수)" aria-haspopup="true" required>세부현상 선택 (필수)<span class="ico"></span></button>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-place" title="발생위치 선택 (필수)" aria-haspopup="true" required>발생위치 선택 (필수)<span class="ico"></span></button>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-place_detail" title="건물종류 선택 (필수)" aria-haspopup="true" required>건물종류 선택 (필수)<span class="ico"></span></button>
            </div>
            <p class="title">문의하실 상세현황을 기재해 주세요.</p>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="상세한 현상 입력 (필수)" title="상세한 현상 입력 (필수)" maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required></textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-text_name" placeholder="접수자 성함 입력 (필수)" title="접수자 성함 입력 (필수)" value="" aria-labelledby="aria-exp-label1"
                           aria-describedby="aria-exp-desc1" required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <p class="title">발생 지역 주소와 발생시기를 기재해 주세요.</p>
            <div class="inputbox bt-add inp-btn">
                <span class="input">
                    <input type="text" class="fe-zip" placeholder="우편번호" title="우편번호" value="" readonly="" disabled>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </span>
                <span class="bt-box">
                    <button type="button" class="fe-search-post">우편번호 조회</button>
                </span>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-main-address" value="" title="우편주소" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"
                           readonly="" disabled>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-detail-address" value="" title="상세주소" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"
                           readonly="" disabled>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-occurrence_date" title="발생시기 선택 (필수)" aria-haspopup="true">발생시기 선택 (필수)<span class="ico"></span></button>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'quality' }); %>
</script>

<script type="text/template" id="tpl_quality_internet">
    <div class="cont-box">
        <!-- 2019-07-12 OP002-439 사용안함 -->
        <div class="widget formradio-style01 none">
            <div class="widget-box radio">
                <ul class="select-list fe-quality-inqSvcClCd" role="radiogroup">
                    <li class="radiobox type01 checked" role="radio" aria-checked="true">
                        <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                        <input type="radio" name="radio1-big1" value="I" title="인터넷/TV" checked=""><!-- 체크상태일 경우 checked="false" -->
                        인터넷/TV
                    </li>
                    <li class="radiobox type01 ml30" role="radio" aria-checked="false">
                        <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio1-big1" value="P" title="집전화"><!-- 체크상태일 경우 checked="checked" -->
                        집전화
                    </li>
                </ul>
            </div>
        </div>

        <div class="inquiryform-wrap">
            <% if ( allSvc.s && allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'}).length >= 2 ) {
            var filteredLine = allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'});
            %>
            <p class="title">문의하실 내용을 작성해 주세요.</p>
            <div class="info-form-box">
                <button class="bt-dropdown big tx-bold fe-quality-line fe-select-phone-line" title="문의하실 회선정보 선택" aria-haspopup="true"
                        data-svcMgmtNum="<%-filteredLine[0].svcMgmtNum%>"><%-filteredLine[0].addr%><span class="ico"></span>
                </button>
            </div>
            <% } else if ( allSvc.s && allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'}).length >= 1 ) {
            var filteredLine = allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'});
            %>
            <p class="title">문의하실 내용을 작성해 주세요.</p>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-quality-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" data-svcMgmtNum="<%-filteredLine[0].svcMgmtNum%>"
                           value="<%-filteredLine[0].addr%>" disabled>
                </div>
            </div>
            <%}%>
            <!--<% if ( allSvc.s && allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'}).length >= 2 ) {
                var filteredLine = allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'});
            %>
            <p class="title">문의하실 회선과 현상을 선택 후 내용을 기재해 주세요</p>
            <div class="info-form-box">
                <button class="bt-dropdown big tx-bold fe-quality-line fe-select-phone-line" title="문의하실 회선정보 선택" aria-haspopup="true"
                        data-svcMgmtNum="<%-filteredLine[0].svcMgmtNum%>"><%-filteredLine[0].addr%><span class="ico"></span>
                </button>
            </div>
            <% } else if ( allSvc.s && allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'}).length >= 1 ) {
                var filteredLine = allSvc.s.filter(function(item){return item.svcGr === 'I' || item.svcGr === 'T'});
            %>
            <p class="title">문의하실 회선과 현상을 선택 후 내용을 기재해 주세요</p>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-quality-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" data-svcMgmtNum="<%-filteredLine[0].svcMgmtNum%>"
                           value="<%-filteredLine[0].addr%>" disabled>
                </div>
            </div>

            <% } else { %>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-quality-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" value="" maxlength="20">
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <p class="title">문의하실 설치 주소와 현상을 선택 후<br>내용을 기재해 주세요.</p>
            <div class="inputbox bt-add inp-btn">
                <span class="input">
                    <input type="text" class="fe-zip" placeholder="우편번호 조회" title="발생 지역 우편번호 조회 입력" value="" readonly="" disabled>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </span>
                <span class="bt-box">
                    <button type="button" class="fe-search-post">우편번호 조회</button>
                </span>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" value="" class="fe-main-address"  title="input" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" readonly="" disabled>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-detail-address" value="" title="input" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"
                           readonly="" disabled>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <% } %>-->  <!--2019.04.15 VOC 대응 무조건 주소입력-->
            <!-- 2019-07-12 OP002-439 : 사용안함
            <p class="title">문의하실 설치 주소와 현상을 선택 후<br>내용을 기재해 주세요.</p>
            <div class="inputbox bt-add inp-btn">
                <span class="input">
                    <input type="text" class="fe-zip" placeholder="우편번호 조회 (필수)" title="발생 지역 우편번호 조회 입력" value="" readonly="" disabled required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </span>
                <span class="bt-box">
                    <button type="button" class="fe-search-post">우편번호 조회</button>
                </span>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" value="" class="fe-main-address"  title="기본주소" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" readonly="" disabled required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-detail-address" value="" title="상세주소" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"
                           readonly="" disabled required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>-->

            <!--<div class="inputbox bt-add">-->
                <!--<span class="input">-->
                    <!--<input type="text" class="fe-zip" placeholder="우편번호 조회" title="input" value="" disabled aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" readonly="">-->
                    <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
                <!--</span>-->
                <!--<span class="bt-box type01">-->
                    <!--<button type="button" class="fe-search-post">우편번호 조회</button>-->
                <!--</span>-->
            <!--</div>-->
            
            <div class="inputbox">
                <div class="input">
                    <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" title="제목 입력" maxlength="20" required></textarea>
                    <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value="" aria-labelledby="aria-exp-label1"-->
                           <!--aria-describedby="aria-exp-desc1" required>-->
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
                <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">20</span>자(최대)</span>
            </div>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="내용 입력" title="내용 입력" maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required></textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
            <div class="fileplus-wrap">
                <p class="text">최대 5개 파일을 등록하실 수 있습니다.</p>
                <div class="bt-alone">
                    <button class="bt-bg-blue1 fe-upload-file-quality">파일 첨부하기</button>
                </div>
            </div>
            <ul class="filename-list">
            </ul>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'quality' }); %>
</script>

<script type="text/template" id="tpl_quality_phone">
    <div class="cont-box">
        <div class="widget formradio-style01">
            <div class="widget-box radio">
                <ul class="select-list fe-quality-inqSvcClCd" role="radiogroup">
                    <li class="radiobox type01 checked" role="radio" aria-checked="false">
                        <!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                        <input type="radio" name="radio1-big1" value="I" title="인터넷/TV"><!-- 체크상태일 경우 checked="false" -->
                        인터넷/TV
                    </li>
                    <li class="radiobox type01 ml30" role="radio" aria-checked="true">
                        <!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio1-big1" value="P" title="집전화" checked=""><!-- 체크상태일 경우 checked="checked" -->
                        집전화
                    </li>
                </ul>
            </div>
        </div>
        <div class="inquiryform-wrap">
            <p class="title">문의하실 회선과 현상을 선택 후 내용을 기재해 주세요</p>
            <!--<% if ( allSvc.s && allSvc.s.filter(function(item){return item.svcGr === 'U'}).length >= 2 ) {
                var filteredLine = allSvc.s.filter(function(item){return item.svcGr === 'U'});
            %>
            <div class="info-form-box">
                <button class="bt-dropdown big tx-bold fe-quality-line fe-select-phone-line" title="문의하실 회선정보 선택" aria-haspopup="true"
                        data-svcMgmtNum="<%-filteredLine[0].svcMgmtNum%>"><%-convertTelFormat(filteredLine[0].svcNum)%><span class="ico"></span>
                </button>
            </div>
            <% } else if ( allSvc.s && allSvc.s.filter(function(item){return item.svcGr === 'U'}).length >= 1 ) {
                var filteredLine = allSvc.s.filter(function(item){return item.svcGr === 'U'});
            %>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-quality-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" data-svcMgmtNum="<%-filteredLine[0].svcMgmtNum%>"
                           value="<%-convertTelFormat(filteredLine[0].svcNum)%>" disabled>
                </div>
            </div>

            <% } else { %>            
            <div class="inputbox">
                <div class="input">
                    <input type="tel" class="fe-quality-line fe-numeric fe-phone _phone" pattern="[0-9]*" placeholder="회선정보 입력" title="문의하실 회선정보 입력" value="" maxlength="13">
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <% } %>--> <!--VOC 대응 무조건 회선번호 입력 2019.04.15-->
            <div class="inputbox">
                <div class="input">
                    <input type="tel" class="fe-quality-line fe-numeric fe-phone _phone" pattern="[0-9]*" placeholder="회선정보 입력 (필수)" title="회선정보 입력 (필수)" value="" maxlength="13" required>
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <!--<p class="title">문의하실 설치 주소와 현상을 선택 후<br>내용을 기재해 주세요.</p>-->
            <!--<div class="inputbox bt-add">-->
                <!--<span class="input">-->
                    <!--<input type="text" class="fe-zip" placeholder="우편번호 조회" title="input" value="" disabled aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" readonly="">-->
                    <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
                <!--</span>-->
                <!--<span class="bt-box type01">-->
                    <!--<button type="button" class="fe-search-post">우편번호 조회</button>-->
                <!--</span>-->
            <!--</div>-->
            <!--<div class="inputbox">-->
                <!--<div class="input">-->
                    <!--<input type="text" value="" class="fe-main-address"  title="input" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" readonly="">-->
                    <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="inputbox">-->
                <!--<div class="input">-->
                    <!--<input type="text" class="fe-detail-address" value="" title="input" aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1"-->
                           <!--readonly="">-->
                    <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="inputbox">
                <div class="input">
                    <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" maxlength="20" required></textarea>
                    <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value="" aria-labelledby="aria-exp-label1"-->
                           <!--aria-describedby="aria-exp-desc1" required>-->
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
                <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">20</span>자(최대)</span>
            </div>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="내용 입력" maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required></textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
            <div class="fileplus-wrap">
                <p class="text">최대 5개 파일을 등록하실 수 있습니다.</p>
                <div class="bt-alone">
                    <button class="bt-bg-blue1 fe-upload-file-quality">파일 첨부하기</button>
                </div>
            </div>
            <ul class="filename-list">
            </ul>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'quality' }); %>
</script>

<script type="text/template" id="tpl_quality_cell_content">
  1. 접수자 : {{text_name}}
  2. 문의서비스 : {{inqSvcClCd}}
  3. 문의번호 : {{svcNum}}
  4. 현상 : {{occurrence}} / {{occurrence_detail}}
  5. 발생지역 : 발생지역 ( {{inptZip}} / {{inptBasAddr}} {{inptDtlAddr}} )
  6. 발생장소 : {{place}} / {{place_detail}}
  7. 발생시기 : {{occurrence_date}}
  8. 상세현상 : {{text_content}}
</script>
