<script type="text/template" id="tpl_service_cell">
    <div class="cont-box">
        <div class="inquiryform-wrap">
            <p class="title">문의하실 내용을 작성해 주세요.</p>

            <% if ( allSvc.m && allSvc.m.length >= 2 ) { %>
            <div class="info-form-box">
                <button class="bt-dropdown big tx-bold fe-select-line fe-service-line" title="문의하실 회선정보 선택" aria-haspopup="true"
                        data-svcMgmtNum="<%-allSvc.m[0].svcMgmtNum%>"><%-convertTelFormat(allSvc.m[0].svcNum)%><span class="ico"></span></button>
            </div>
            <% } else if( allSvc.m && allSvc.m.length === 1 ) { %>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-service-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" data-svcMgmtNum="<%-allSvc.m[0].svcMgmtNum%>"
                           value="<%-convertTelFormat(allSvc.m[0].svcNum)%>" disabled>
                </div>
            </div>
            <% } else { %>
            <div class="inputbox">
                <div class="input">
                    <input type="tel" class="fe-service-line fe-phone" placeholder="회선정보 입력" title="문의하실 회선정보 입력" value="" maxlength="13">
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <% } %>
            <div class="inputbox">
                <div class="input">
                    <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" maxlength="20" required></textarea>
                    <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value="" maxlength="20"-->
                           <!--aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" required>-->
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
                <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">20</span>자(최대)</span>
            </div>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content"
                                  cols="20" rows="6"
                                  placeholder="{{{placeHolder}}}"
                                  maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required>{{#if isDefaultValue}}{{else}}{{{placeHolder}}}{{/if}}</textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
            <!--<div class="fileplus-wrap">
                <p class="text">최대 5개 파일을 등록하실 수 있습니다.</p>
                <div class="bt-alone">
                    <button class="bt-bg-blue1 fe-upload-file-service">파일 첨부하기</button>
                </div>
            </div>
            <ul class="filename-list">
            </ul>-->
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'service' }); %>
</script>

<script type="text/template" id="tpl_service_internet">
    <div class="cont-box">
        <div class="inquiryform-wrap">
            <p class="title">문의하실 내용을 작성해 주세요.</p>
            <% if( allSvc.s && allSvc.s.length >= 2 ) { %>
            <div class="info-form-box">
                <% if ( allSvc.s[0].svcGr === 'U' ) { %>
                <button class="bt-dropdown big tx-bold fe-select-line" title="문의하실 회선정보 선택" aria-haspopup="true"
                        data-svcMgmtNum="<%-allSvc.s[0].svcMgmtNum%>"><%-allSvc.s[0].svcNum%><span class="ico"></span></button>
                <% } else { %>
                <button class="bt-dropdown big tx-bold fe-select-line" title="문의하실 회선정보 선택" aria-haspopup="true"
                        data-svcMgmtNum="<%-allSvc.s[0].svcMgmtNum%>"><%-allSvc.s[0].addr%><span class="ico"></span></button>
                <% } %>
            </div>
            <% } else if( allSvc.s && allSvc.s.length === 1 ) { %>
            <div class="inputbox">
                <div class="input">
                    <% if ( allSvc.s[0].svcGr === 'U' ) { %>
                    <input type="text" placeholder="회선정보 입력" title="문의하실 회선정보 입력" data-svcMgmtNum="<%-allSvc.s[0].svcMgmtNum%>"
                           value="<%-allSvc.s[0].svcNum%>" disabled>
                    <% } else { %>
                    <input type="text" placeholder="회선정보 입력" title="문의하실 회선정보 입력" data-svcMgmtNum="<%-allSvc.s[0].svcMgmtNum%>"
                           value="<%-allSvc.s[0].addr%>" disabled>
                    <% } %>
                </div>
            </div>
            <% } else { %>
            <div class="inputbox">
                <div class="input">
                    <input type="text" class="fe-service-line" placeholder="회선정보 입력" title="문의하실 회선정보 입력" value="" maxlength="20">
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
            </div>
            <% } %>
            <div class="inputbox">
                <div class="input">
                    <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" maxlength="20" required></textarea>
                    <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value="" maxlength="20"-->
                           <!--aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" required>-->
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
                <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">20</span>자(최대)</span>
            </div>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="내용 입력" maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required></textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span>/<span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
            <!--<div class="fileplus-wrap">
                <p class="text">최대 5개 파일을 등록하실 수 있습니다.</p>
                <div class="bt-alone">
                    <button class="bt-bg-blue1 fe-upload-file-service">파일 첨부하기</button>
                </div>
            </div>
            <ul class="filename-list">
            </ul>-->
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'service' }); %>
</script>

<script type="text/template" id="tpl_service_direct">
    <div class="cont-box">
        <div class="inquiryform-wrap">
            <p class="title">주문번호와 내용을 작성해주세요.</p>
            <div class="inputbox bt-add">
                <span class="input">
                    <input type="text" class="fe-text_order" placeholder="주문번호 조회" title="input" value="" aria-labelledby="aria-exp-label1"
                           aria-describedby="aria-exp-desc1" required disabled>
                    <!--<button class="cancel" style="display: none;"><span class="blind">삭제</span></button>-->
                </span>
                <span class="bt-box">
                    <button type="button" class="fe-search-order">조회하기</button>
                </span>
            </div>
            <p class="tip-text">* 배송, 교환/반품 관련 문의 시 주문번호를 선택해 주시면<br>보다 정확한 답변이 가능합니다.</p>
            <div class="inputbox">
                <div class="input">
                    <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" maxlength="20" required></textarea>
                    <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value="" maxlength="20"-->
                           <!--aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" required>-->
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
                <span class="byte"><span class="byte-current">0</span> / <span class="byte-total">20</span>자(최대)</span>
            </div>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="내용 입력" maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required></textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span> / <span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'service' }); %>
</script>

<script type="text/template" id="tpl_service_direct_brand">
    <div class="cont-box">
        <div class="inquiryform-wrap">
            <p class="title">문의하실 상품의 브랜드와 기종 선택 후 내용을 작성해주세요.</p>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-select-brand" title="브랜드 선택" aria-haspopup="true">브랜드 선택<span class="ico"></span></button>
            </div>
            <div class="info-form-box">
                <button class="bt-dropdown big fe-select-device" title="기종 선택" aria-haspopup="true">기종 선택<span class="ico"></span></button>
            </div>
            <div class="inputbox">
                <div class="input">
                    <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" maxlength="20" required></textarea>
                    <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value="" maxlength="20"-->
                           <!--aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" required>-->
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
                <span class="byte"><span class="byte-current">0</span> / <span class="byte-total">20</span>자(최대)</span>
            </div>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="내용 입력" maxlength="12000"
                                  aria-labelledby="aria-email-qacont" required></textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span> / <span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'service' }); %>
</script>

<script type="text/template" id="tpl_service_chocolate">
    <div class="cont-box">
        <div class="inquiryform-wrap">
            <p class="title">내용을 작성해주세요.</p>
            <div class="inputbox">
                <div class="input">
                    <textarea class="text-auto-expand fe-text_title" rows="1" placeholder="제목 입력" maxlength="20" required></textarea>
                    <!--<input type="text" class="fe-text_title" placeholder="제목 입력" title="input" value="" maxlength="20"-->
                           <!--aria-labelledby="aria-exp-label1" aria-describedby="aria-exp-desc1" required>-->
                    <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                </div>
                <span class="byte"><span class="byte-current">0</span> / <span class="byte-total">20</span>자(최대)</span>
            </div>
            <div class="option-box">
                <div class="inputbox textarea-type">
                    <div class="input">
                        <textarea class="input-focus inner-tx fe-text_content" cols="20" rows="6" placeholder="
원활한 상담을 위해 아래 정보를 입력해주세요.
성함:
구매 휴대폰번호:
구매한 상품명:
문의내용:" maxlength="12000" aria-labelledby="aria-email-qacont" required>
원활한 상담을 위해 아래 정보를 입력해주세요.
성함:
구매 휴대폰번호:
구매한 상품명:
문의내용:
                        </textarea>
                        <button href="javascript:void(0)" class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                    </div>
                    <span class="byte"><span class="byte-current">0</span> / <span class="byte-total">12,000</span>자(최대)</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" aria-hidden="true">
    <%- include('../../components/email/customer.email.common.template.html', { type: 'service' }); %>
</script>

<script type="text/template" id="tpl_service_direct_order">
    <div class="popup-page tw-popup fixed-bottom fe-wrap_direct_order">
        <!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>주문번호 조회</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <div class="container" style="padding-bottom: 4.5rem">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="basic-text">
                        <p class="top-tx-m">주문 관련 문의는<br>고객님이 주문하신 상품이 있는 경우에만<br>문의하실 수 있으며, 주문번호를 입력해 주셔야 합니다.</p>
                    </div>
                </div>
                <hr class="cont-sp type1" aria-hidden="true">
                <div class="cont-box nogaps">
                    <div class="component">
                        <div class="component-box tabs">
                            <div class="tab-area type1"><!-- 타입별 탭형태 변환 -->
                                <div class="tab-linker">
                                    <ul role="tablist" style="width: 100%;">
                                        <li role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1"><a>쇼핑내역</a></li>
                                        <li role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2"><a>외신단말/중고기기</a></li>
                                    </ul>
                                </div>
                                <div class="tab-contents">
                                    <ul>
                                        <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1">
                                            {{#each listShop}}
                                            <div class="list-comp-input">
                                                <div class="widget">
                                                    <div class="widget-box check">
                                                        <ul class="select-list" role="group">
                                                            <li class="checkbox type01" role="checkbox" aria-checked="false">
                                                                <input type="checkbox" name="checkbox" value="" title=""
                                                                       aria-labelledby="aria-comp-checkbox1">
                                                                <div class="comp-list-layout gaptype01">
                                                                    <div class="shoppingbox-wrap">
                                                                        <p class="title tx-bold">{{{ordProdNm}}}</p>
                                                                        <div class="shoppinginfo-wrap">
                                                                            <div class="info">
                                                                                <dl class="detail">
                                                                                    <dt>주문번호</dt>
                                                                                    <dd class="fe-order-number">{{ordNo}}</dd>
                                                                                    <dt>주문일자</dt>
                                                                                    <dd>{{ordDate}}</dd>
                                                                                    <dt>주문·배송상태</dt>
                                                                                    <dd>{{ordStat}}</dd>
                                                                                </dl>
                                                                            </div>
                                                                            <div class="imgbox">
                                                                                <img src="<%= CDN %>/img/dummy/img_products.png">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {{else}}
                                            <div class="contents-empty">
                                                <span class="ico type1"></span>
                                                <p class="desc">주문내역이 없습니다.</p>
                                            </div>
                                            {{/each}}
                                            {{#if isMoreListShop}}
                                            <div class="bt-more">
                                                <button class="fe-direct-more">더 보기</button>
                                            </div>
                                            {{/if}}
                                        </li>
                                        <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2">
                                            {{#each listUsed}}
                                            <div class="list-comp-input">
                                                <div class="widget">
                                                    <div class="widget-box check">
                                                        <ul class="select-list" role="group">
                                                            <li class="checkbox type01" role="checkbox" aria-checked="false">
                                                                <input type="checkbox" name="checkbox" value=""
                                                                       title="SM-G150NS / 블랙 / 기기변경 / band데이터 29 / T 기본약정 24개월 / 29,900원 / 미약정"
                                                                       aria-labelledby="aria-comp-checkbox1">
                                                                <div class="comp-list-layout gaptype01">
                                                                    <div class="shoppingbox-wrap">
                                                                        <p class="title tx-bold">{{ordProdNm}}</p>
                                                                        <div class="shoppinginfo-wrap">
                                                                            <div class="info">
                                                                                <dl class="detail">
                                                                                    <dt>주문번호</dt>
                                                                                    <dd class="fe-order-number">{{ordNo}}</dd>
                                                                                    <dt>주문일자</dt>
                                                                                    <dd>{{ordDate}}</dd>
                                                                                    <dt>주문·배송상태</dt>
                                                                                    <dd>{{ordStat}}</dd>
                                                                                </dl>
                                                                            </div>
                                                                            <div class="imgbox">
                                                                                <img src="<%= CDN %>/img/dummy/img_products.png">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="bt-more blind">
                                                        <button>더 보기</button>
                                                    </div>
                                                </div>
                                            </div>
                                            {{else}}
                                            <div class="contents-empty">
                                                <span class="ico type1"></span>
                                                <p class="desc">주문내역이 없습니다.</p>
                                            </div>
                                            {{/each}}
                                            {{#if isMoreListUsed}}
                                            <div class="bt-more">
                                                <button class="fe-direct-more">더 보기</button>
                                            </div>
                                            {{/if}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--// .cont-box -->

                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-select-order" disabled>선택하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
</script>