<% if (status === 'quality' && category === 'wibro' ) { %>
    <% include ../components/email/customer.email.quality-wibro.html %>
<% } else { %>

<div class="email-question-top">
    <p class="tx-dropdown-box">
        <button class="tx-dropdown blue fe-btn-select-call" title="이메일 문의" aria-haspopup="true">서비스
            선택
        </button>
        <br>
        통화품질 개선을<br>요청합니다.
    </p>
    <span class="ico-ill-email"></span>
    <button class="bt-link-tx">지금 해결할 수 있는 문의가 있는지 살펴보세요<span class="ico"></span></button>
</div>
<div class="cont-box">
    <div class="box-email-form">
        <p class="page-desc2"><em>*</em>표시는 필수 입력 항목입니다.</p>
        <div class="email-form">
            <div class="form-cell fe-wrap-call">
                <span class="form-ti">
                    문의하실 내용을 작성해주세요
                    <span class="point-indicate ml4" aria-hidden="true">*</span>
                </span>
                <div class="widget">
                    <div class="widget-box tfCombined">
                        <div class="txfield-combined">
                            <div class="txfield-combined-ti">
                                <input class="input-focus fe-inquiry-title" type="text"
                                       placeholder="제목을 입력해주세요."
                                       title="이메일 문의 제목" value="" maxlength="20"
                                       aria-labelledby="aria-email-qacont">
                                <span class="byte"><span class="byte-current">0</span>/<span
                                    class="byte-total">20</span>자</span>
                            </div>
                            <div class="txfield-combined-tx">
                                <textarea class="input-focus fe-inquiry-content" cols="20" rows="3"
                                          placeholder="내용을 입력해주세요."
                                          aria-labelledby="aria-email-qacont"
                                          maxlength="12000"></textarea>
                                <span class="byte"><span class="byte-current">0</span>/<span
                                    class="byte-total">12,000</span>자</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-file-addlist">
                    <div class="file-addlist-top">
                        <div class="addlist-cell"><p class="ti">최대 5개 이미지를 등록할 수<br>있습니다.</p></div>
                        <div class="addlist-cell">
                            <div class="widget">
                                <div class="widget-box file">
                                    <span class="inputbox bt-add">
                                        <span class="bt-box">
                                            파일첨부
                                            <input class="file fe-upload-file" type="file" value="파일첨부">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../components/email/customer.email.contact.html', {type: 'call'}); %>
        </div>
    </div>
</div>
<% } %>