<% if ( basicInfo && ( basicInfo.bgimgUrl || basicInfo.smrySurrColor ) ) { %>
<style type="text/css">
    <% if ( basicInfo.smrySurrColor ) { %>
    .bg-productdetail .header-wrap { background-color: <%= basicInfo.smrySurrColor %> }
    .bg-productdetail .productdetails-bg { background-color: <%= basicInfo.smrySurrColor %> }
    .productdetails-ledgercase .btn .bt-white1 { color: <%= basicInfo.smrySurrColor %> }
    <% } %>
    <% if ( basicInfo.bgimgUrl ) { %>
    .bg-productdetail .productdetails-bg { background-image: url('<%= CDN %><%= basicInfo.bgimgUrl %>'); }
    <% } %>
</style>
<% } %>