<%#
* @file customer.researches.html
* @author Jiyoung Jo
* @since 2018.11.02
* id: CS_12_01
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="<%= researches.length > 0 ? '' : 'bg-white' %>">
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <!-- Grand open 접근성 수정 -->
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
            <!--  //Grand open 접근성 수정 -->
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../common/views/components/header.component.html', { title: '설문조사', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <div class="container">
                <!-- .cont-box -->
                <% if (researches.length > 0) { %>
                <div class="cont-box nogaps">
                    <!-- .poll-info -->
                    <div class="poll-info">
                        <h3 class="poll-tit">설문으로<strong>고객님의 의견</strong>을<br /> 들려 주세요</h3>
                    </div>
                    <!-- // .poll-info -->
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box accordion">
                            <h5 class="tit-a blind">설문조사</h5>
                            <div class="acco-cover focuson">
                                <!-- toggle : 한개만 열기 -->
                                <div class="acco-style poll">
                                    <ul class="acco-list">
                                        <!-- .on: 열기 -->  
                                        <% const DEFAULT_LIST_COUNT = showCount, 
                                            leftCount = researches.length - DEFAULT_LIST_COUNT, 
                                            len = Math.min(DEFAULT_LIST_COUNT, researches.length); 
                                        for (let i = 0; i < len; i++) {
                                            const research = researches[i]; %>
                                        <a style="display: block;position: relative;top: -52px;visibility: hidden;" id="research<%= research.bnnrRsrchId %>" aria-hidden="true"></a>
                                        <li class="acco-box <%= research.isProceeding ? 'on' : '' %>" data-research-id="<%= research.bnnrRsrchId %>" data-type-code="<%= research.bnnrRsrchTypCd %>" data-answer-num="<%= research.canswNum %>">
                                            <div class="acco-tit">
                                                <span class="poll-question"><%= research.bnnrRsrchTitleNm %></span>
                                                <span class="poll-date"><%= research.staDtm %><span class="blind">에서</span><span class="vt" aria-hidden="true">~</span> <%= research.endDtm %></span>
                                                <em class="poll-condition"><%= research.isProceeding? '진행 중':'종료' %></em>
                                                <button role="button" aria-pressed="true"><span class="blind"><%= research.bnnrRsrchTitleNm %></span></button><!-- 웹접근성 수정 - 내용이 고정적이지 않으므로 개발 작업 필요 -->
                                            </div>
                                            <div class="acco-cont">
                                                <div class="cont-box">
                                                    <% if (research.bnnrRsrchTypCd === "R") { 
                                                        if (research.qstnHtmlCtt) { %>
                                                            <%- research.qstnHtmlCtt %>
                                                        <% } %>
                                                        <ul class="bt-slice mt0">
                                                            <li class="bt-blue1">
                                                                <a href="/customer/svc-info/researches?id=<%= research.hintExUrl %>">설문 시작하기</a>
                                                            </li>
                                                        </ul>
                                                    <% } else { %>
                                                        <% if (research.bnnrRsrchTypCd === 'Q' && research.hintExUrl) { %><div class="mb20"><button class="bt-link-tx underline fe-hint" data-hint-url="<%= research.hintExUrl %>">힌트 보기</button></div><% }
                                                        const examCount = research.examples.length;
                                                        if (examCount > 0) { %>
                                                            <ul class="survey-researchbox <%= research.bnnrRsrchSortMthdCd === 'D' ? 'type2' : '' %> <%= research.hasHtml ? 'btn-dtl' : ''%>">
                                                                <% research.examples.map((exam, idx) =>  {%>
                                                                <li class="category-type" aria-checked="false">
                                                                    <% if (exam.image) { %><div class="poll-img"><img src="<%= CDN %><%= exam.image %>" /></div><% } %>
                                                                    <div class="chkform-wrap">
                                                                        <span class="custom-form"><input type="radio" id="radio<%= research.bnnrRsrchId %>_<%= idx %>" name="radio<%= research.bnnrRsrchId %>" <%= research.isProceeding ? '' : 'disabled' %> ><span class="r-type1"></span></span>
                                                                        <label for="radio<%= research.bnnrRsrchId %>_<%= idx %>"><%= exam.content %></label>
                                                                    </div>
                                                                    <%- exam.motHtml %>
                                                                </li>
                                                                <% }); %>
                                                            </ul>
                                                            <% if (research.examples[examCount - 1].isEtc) { %><textarea class="poll-area mt10 mb10" data-etc-idx="<%= examCount %>" cols="20" rows="3" placeholder="기타항목 선택시 내용을 입력해주세요." <%= research.isProceeding ? '' : 'disabled' %>></textarea><% } %>
                                                            <% if (research.motMsgHtmlCtt) { %><div class="mb20"><%- research.motMsgHtmlCtt %></div><% } %>
                                                        <% } %>
                                                        <% if (research.isProceeding) { %>
                                                            <ul class="bt-slice item-two">
                                                                <li class="bt-white2">
                                                                    <a href="/customer/svc-info/researches/result?id=<%= research.bnnrRsrchId %>">결과보기</a>
                                                                </li>
                                                                <li class="bt-blue1">
                                                                    <button class="fe-submit" disabled>참여하기</button>
                                                                </li>
                                                            </ul>
                                                        <% } else { %>
                                                            <ul class="bt-slice mt0">
                                                                <li class="bt-blue1">
                                                                    <a href="/customer/svc-info/researches/result?id=<%= research.bnnrRsrchId %>">결과보기</a>
                                                                </li>
                                                            </ul>
                                                        <% } %>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </li>
                                        <% }; %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                    <!-- .bt-more -->
                    <div class="bt-more <%= leftCount > 0 ? '' : 'none' %>" aria-hidden="<%= leftCount <= 0 %>">
                        <button>더보기</button>
                    </div>
                    <!-- // .bt-more -->
                </div>
            </div>
            <% } else { %>
                <div class="cont-box nogaps-hoz noborder">
                    <div class="contents-empty">
                        <span class="ico type1"></span>
                        <p class="desc">진행 중인 설문이 없습니다.</p>
                    </div>
                </div>
            <% } %>                
        </div>
        <!--// #contents -->
        <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>
</body>

<%- include ../../components/researches/customer.researches.list.html %>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
      new Tw.CustomerResearches($('.wrap') < % -JSON.stringify(researches.slice(20)) % >
    )
    });
</script>
<% include ../../components/end.component.html %>