<%_
    const isSmall = title === 'small';
    const tabName = isSmall ? 'tab1' : 'tab2';
_%>
<li role="tabpanel" id="cont-<%-tabName%>-tab" class="fe-<%-tabName%>" data-title="<%-title%>" aria-labelledby="cont-<%-tabName%>" aria-selected="true">
    <%_
        if(!isBubin && data){
            const {autoChrgStCd} = data;
            const isUsed = autoChrgStCd === 'U'; // U:사용중, D: 신규
            const stateCd = autoChrgStCd === 'U' ? 'U' : 'D';
            const autoPrepayUrl = isUsed ? '/myt-fare/bill/'+ title +'/auto/info' : '/myt-fare/bill/'+ title +'/auto',
            prepayTitle = isUsed ? '변경/해지' : '신청';
    _%>
    <div class="section-group">
        <div class="head-tit">
            <a href="<%-autoPrepayUrl%>" class="link" data-make-eid="tabAutoPrepay<%-stateCd%>">자동 선결제<span class="right-txt"><%-prepayTitle%></span></a>
        </div>
        <div class="section-cont">
            <%_if(!isUsed){_%>
            <p class="warning">설정한 이용 한도 이상 이용 시 설정한 금액만큼 추가로 이용할 수 있습니다. 자동 선결제 신청하고 잔여 한도 걱정 없이 편리하게 이용하세요.</p>
            <%_ } else {
            const {autoBankCardNm, autoBankCardNumH, autoChargeAmount, autoChargeStandardAmount} = data;
            _%>
            <ul class="report-list item-no-border">
                <li class="report-item">
                    <dl class="report-define d-wrap">
                        <dt class="report-tit">결제 정보</dt>
                        <dd class="report-cont"><%- `${autoBankCardNm} ${autoBankCardNumH}` %></dd>
                    </dl>
                </li>
                <li class="report-item">
                    <dl class="report-define d-wrap">
                        <dt class="report-tit">기준 금액</dt>
                        <dd class="report-cont"><%-autoChargeStandardAmount%>원</dd>
                    </dl>
                </li>
                <li class="report-item">
                    <dl class="report-define d-wrap">
                        <dt class="report-tit">선결제 금액</dt>
                        <dd class="report-cont"><%-autoChargeAmount%>원</dd>
                    </dl>
                </li>
            </ul>
            <%_}_%>
            <%_if(isSmall){ // 소액결제일때만 노출 _%>
            <div class="btn-area mb0">
                <a href="/myt-fare/bill/small/block" class="rect-btn" data-make-eid="autoBlockHistory">자동 결제 차단 내역</a>
            </div>
            <%_}_%>
        </div>
    </div><!-- //section-group -->
    <%_}_%>
    <div class="section-group">
        <div class="head-tit">
            <%_
                const isPrd = String(process.env.NODE_ENV) === 'prd';
                let tipId = isSmall ? 'TC000119' : 'TC000120';
                if (isPrd) {
                    tipId = isSmall ? 'TC000120' : 'TC000121';
                } else {
                    tipId = isSmall ? 'TC000119' : 'TC000120';
                }
            _%>
            이용 내역<button id="<%-tipId%>" type="button" class="tip" aria-haspopup="true" title="tip" data-make-eid="historyTip"></button>
        </div>
        <div class="section-cont">
            <ul class="dot-list">
                <%_if(isSmall){_%>
                <li class="dot-item">온/오프라인 사용처(콘텐츠 제공사)에서 휴대폰으로 결제한 내역을 조회하실 수 있습니다.</li>
                <%_} else {_%>
                <li class="dot-item">구글 플레이, 원스토어 등에서 구매하신 내역입니다.</li>
                <li class="dot-item">요금안내서에는 ‘콘텐츠 이용료‘  항목으로 안내됩니다.</li>
                <%_}_%>
                <li class="dot-item">문자(SMS) 또는 공동인증서 (구 공인인증서) 인증 후 조회하세요.</li><!-- 201210 [OP002-10555] 수정01 -->
            </ul>
            <div class="btn-area mb0">
                <a href="#<%-title%>" class="rect-btn fe-history" data-make-eid="search">조회하기</a>
            </div>
        </div>
    </div><!-- //section-group -->
</li>
