<%#
* @file customer.agentsearch.near.html (CS_02_03)
* @author Hakjoon Sim (hakjoon.sim@sk.com)
* @since 2018.10.29
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <%- include('../../../../common/views/components/header.component.html', { title: '내 위치와 가까운 매장', svcInfo: svcInfo }); %>
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- cont-box 20190704 퍼블 요청으로 p-shop 클래스 뺌 -->
                <div class="cont-box noborder" id="fe-p-shop">
                    <!-- .shop-info -->
                    <div class="shop-info">
                        <!-- 2019.02.14 수정 -->
                        <!-- .shop-step -->
                        <div class="shop-box">
                            <!-- .shop-step -->
                            <div class="shop-step tod-shop-header mb20">
                                <span class="step-tx"><em id="fe-region1"></em><span class="arrow">&gt;</span><em id="fe-region2"></em></span>  <!-- 이곳의 기존 소스 화살표 나오는 부분 검토필요 -->
                                <div class="tod-area-btnwrap">
                                    <button class="btn-round2 btn-style3 tod-ico-btn" id="fe-myLocation"><span>내 위치</span></button>
                                    <button class="btn-round2 btn-style3" id="fe-change-region">위치 변경</button>
                                </div>
                            </div>
                            <!-- <div class="shop-step">
                                <span class="step-tx"><em id="fe-region1"></em><em id="fe-region2"></em></span>
                                <div class="bt-alone"><button class="bt-bg-blue1" id="fe-change-region">위치변경</button></div>
                            </div> -->
                            <!-- // .shop-step -->
                            <!-- filter -->

                            

                            <!-- <div class="shop-filter">
                                <div class="inline">
                                    <button class="bt-dropdown text-type01" title="매장 선택" aria-haspopup="true">전체</button>
                                </div>
                            </div> -->
                        </div>

                        <!-- 190520_추가 01-->
                        <div class="shop-result">
                            <span class="count">총 <em id="fe-result-count"></em>개</span>
                            <div class="inline">
                                <button class="bt-dropdown text-type01 tod-cate-sel" title="매장 선택" aria-haspopup="true">전체</button>
                                <!-- 웹접근성 수정 -->
                            </div>
                            <!-- <div class="tod-fright"><button class="btn-round2 btn-style3" id="fe-btn-view-list">리스트보기</button></div> -->
                            <div class="tod-bt-alone"><a href="#list" class="btn-round2 btn-style3 none" id="fe-btn-view-list">리스트보기</a></div>
                            <div class="tod-bt-alone"><a href="#map" class="btn-round2 btn-style3 none" id="fe-btn-view-map">지도보기</a></div>
                            <!-- <div class="tod-fright"><button class="btn-round2 btn-style3 none" id="fe-btn-view-map">지도보기</button></div> -->
                            <!-- this.$inputFile.css('display', 'none'); -->
                        </div>
                        <!-- //190520_추가 01-->
                            

                        <!-- // filter -->
                        <div class="none" id="fe-div-map">
                            <!-- .shop-map -->
                            <div class="shop-map">
                                <div id="fe-tmap-box"></div>
                                <!-- .switch -->
                                <!-- <div class="btn-switch">
                                    <div class="bt-alone"><button class="bt-line-gray2" id="fe-btn-view-list">리스트보기</button></div>
                                </div> -->
                                <!-- // .switch -->
                            </div>
                            <!-- // .shop-map -->
                        </div> <!-- end of fe-div-map -->
                        <div class="none" id="fe-div-list">
                            <!-- .shop-result -->
                            <!-- <div class="shop-result">
                                <span class="count">총 <em id="fe-result-count"></em>개의 매장이 검색되었습니다.</span>
                                <div class="bt-alone"><button class="bt-line-gray2" id="fe-btn-view-map">지도보기</button></div>
                            </div> -->
                            <!-- // .shop-result -->
                            <!-- .shop-txt -->
                            <div class="shop-txt">
                                <ul id="fe-list">
                                    <li>
                                        <dl class="type02">
                                            <dt>신사대리점 직영점</dt>
                                            <dd>서울시 중구 만리재로 175, 상가2동 102호<br />(만리동 2가 37-2)<button class="bt-tel"><span
                                                        role="img" class="blind">매장으로 전화하기</span></button></dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl class="type02">
                                            <dt>에스알대리점 모란직영점(수진-태평점)</dt>
                                            <dd>서울 관악구 관악로 201<br />(봉천동 859-40)<button class="bt-tel"><span role="img"
                                                        class="blind">매장으로 전화하기</span></button></dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl class="type02">
                                            <dt>아이티모바일대리점 수원탑동점</dt>
                                            <dd>서울시 양천구 목동동로 379, 106호<br />(목동 907-17)<button class="bt-tel"><span
                                                        role="img" class="blind">매장으로 전화하기</span></button></dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                            <div class="cont-box nogaps none" id="fe-empty-result">
                                <div class="contents-empty">
                                    <span class="ico type1"></span>
                                    <p class="desc">검색 결과가 없습니다.</p>
                                </div>
                            </div>
                            <!-- // .shop-txt -->
                        </div> <!-- end of fe-div-list -->
                    </div>
                    <!-- // .shop-info -->
                </div>
                <!-- // cont-box -->
                <!-- .cont-box -->
                <div class="none" id="fe-div-list-btns">
                    <div class="cont-box nogaps">
                        <div class="bt-more" id="fe-more-div">
                            <button role="button" id="fe-btn-more" title="">더보기</button>
                        </div>
                    </div>
                    <!-- // .cont-box -->
                    <!-- .bt-top -->
                    <!-- <div class="bt-top"> -->
                        <!-- <button>top으로 이동</button> -->
                    <!-- </div> -->
                    <!-- // .bt-top -->
                </div>
            </div>
        </div>
        <!--// #contents -->
        <footer id="fe-all-menu">
            <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
            <%- include('../../../../common/views/components/masking.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<% include ../../components/tmap.component.html %>
<script type="text/template" id="tpl_list_item">
    {{#list}}
  <li class='fe-type-{{storeType}}'>
      <dl class="type02 fe-list" value={{locCode}}>
          <dt>{{storeName}}</dt>
          <dd>{{searchAddr}}<br />({{jibunAddr}})
              <a class="bt-tel" href="tel:{{tel}}"><span role="img" class="blind">매장으로 전화하기</span></a>
          </dd>
      </dl>
  </li>
  {{/list}}
</script>

<script>
    $(document).ready(function () {
        new Tw.CustomerAgentsearchNear($('.wrap'), '<%= svcInfo !== null %>');
    });
</script>
<% include ../../components/end.component.html %>