<%#
* @file customer.document.html
* @author Jayoon Kong (jayoon.kong@sk.com)
* @since 2018.10.16
%>
<%- include('../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '필요서류 안내', svcInfo: svcInfo }); %>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 id="contents" class="blind">내용</h2>
        <div class="container">
            <div class="cont-box nogaps">
                <!-- .component -->
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area type1 required-doc"><!-- 타입별 탭형태 변환 -->
                            <div class="tab-linker">
                                <ul role="tablist">
                                    <% if (isEtc) { %>
                                    <li role="presentation" aria-selected="false" aria-controls="tab1-tab" id="tab1">
                                        <a role="tab">휴대폰</a>
                                    </li><!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                    <li role="presentation" aria-selected="true" aria-controls="tab2-tab" id="tab2">
                                        <a role="tab">인터넷/집전화/IPTV</a>
                                    </li>
                                    <% } else { %>
                                    <li role="presentation" aria-selected="true" aria-controls="tab1-tab" id="tab1">
                                        <a role="tab">휴대폰</a>
                                    </li><!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                    <li role="presentation" aria-selected="false" aria-controls="tab2-tab" id="tab2">
                                        <a role="tab">인터넷/집전화/IPTV</a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="tab-contents">
                                <ul>
                                    <!-- 휴대폰 -->
                                    <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1" data-value="EST_SW">
                                        <!-- .cont-box -->
                                        <div class="cont-box nogaps">
                                            <!-- .accordion -->
                                            <div class="widget">
                                                <div class="widget-box accordion2">
                                                    <div class="acco-style required-doc"><!-- 스타일별 클래스 추가 -->
                                                        <ul class="acco-box">
                                                            <li class="acco-list on" data-index="1"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="" title="가입">
                                                                        <i class="step">STEP 1</i>
                                                                        <span class="question">어떤 서비스를 이용하려고 하시나요?</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list division-four skin01" role="radiogroup">
                                                                                <% for (var i = 0; i < mobileCategoryList.length; i++) { %>
                                                                                <li class="radiobox type05 <%= mobileCategoryList[i].ncssDocGuidClId %>" role="radio" aria-checked="false"
                                                                                    id="aria-comp-radio<%= mobileCategoryList[i].expsSeq %>">
                                                                                    <input type="radio" name="radio1" value=""
                                                                                           aria-labelledby="aria-comp-radio<%= mobileCategoryList[i].expsSeq %>"
                                                                                           id="<%= mobileCategoryList[i].ncssDocGuidClId %>"
                                                                                           title="<%= mobileCategoryList[i].ncssDocGuidClNm %>" />
                                                                                    <% if (mobileCategoryList[i].isLong) { %>
                                                                                        <%= mobileCategoryList[i].name1 %><br /><%= mobileCategoryList[i].name2 %>
                                                                                    <% } else { %>
                                                                                        <%= mobileCategoryList[i].ncssDocGuidClNm %>
                                                                                    <% } %>
                                                                                </li>
                                                                                <% } %>
                                                                                <li class="radiobox type01 none fe-standard-node" role="radio" aria-checked="false">
                                                                                    <input type="radio" name="radio2" value="" />
                                                                                    <span class="txt"></span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="2"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="법인(장애법인)_국가기관 신규가입">
                                                                        <i class="step">STEP 2</i>
                                                                        <span class="question">처리하실 상세 서비스를 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="3"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="">
                                                                        <i class="step">STEP 3</i>
                                                                        <span class="question">처리하실 세부 서비스를 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="4"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="상장/비상장/공공법인">
                                                                        <i class="step">STEP 4</i>
                                                                        <span class="question">이용대상자를 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="5"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="대표자">
                                                                        <i class="step">STEP 5</i>
                                                                        <span class="question">지점/대리점 방문자를 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// .accordion -->
                                        </div>
                                        <!--// .cont-box -->
                                    </li>
                                    <!-- 인터넷/전화/TV -->
                                    <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2" data-value="EST_W">
                                        <!-- .cont-box -->
                                        <div class="cont-box nogaps">
                                            <!-- .accordion -->
                                            <div class="widget">
                                                <div class="widget-box accordion2">
                                                    <div class="acco-style required-doc"><!-- 스타일별 클래스 추가 -->
                                                        <ul class="acco-box">
                                                            <li class="acco-list on" data-index="1"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="" title="가입">
                                                                        <i class="step">STEP 1</i>
                                                                        <span class="question">어떤 서비스를 이용하려고 하시나요?</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list division-four skin01" role="radiogroup">
                                                                                <% for (var i = 0; i < etcCategoryList.length; i++) { %>
                                                                                <li class="radiobox type05 <%= etcCategoryList[i].ncssDocGuidClId %>" role="radio" aria-checked="false"
                                                                                    id="aria-comp-radio<%= etcCategoryList[i].expsSeq %>">
                                                                                    <input type="radio" name="radio1" value=""
                                                                                           aria-labelledby="aria-comp-radio<%= etcCategoryList[i].expsSeq %>"
                                                                                           id="<%= etcCategoryList[i].ncssDocGuidClId %>"
                                                                                           title="<%= etcCategoryList[i].ncssDocGuidClNm %>" />
                                                                                    <% if (etcCategoryList[i].isLong) { %>
                                                                                        <span class="txt"><%= etcCategoryList[i].name1 %><br /><%= etcCategoryList[i].name2 %></span>
                                                                                    <% } else { %>
                                                                                        <span class="txt"><%= etcCategoryList[i].ncssDocGuidClNm %></span>
                                                                                    <% } %>
                                                                                </li>
                                                                                <% } %>
                                                                                <li class="radiobox type01 none fe-standard-node" role="radio" aria-checked="false">
                                                                                    <input type="radio" name="radio2" value="" />
                                                                                    <span class="txt"></span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="2"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="신규가입_인터넷/전화/IPTV">
                                                                        <i class="step">STEP 2</i>
                                                                        <span class="question">처리하실 상세 서비스를 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="3"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="">
                                                                        <i class="step">STEP 3</i>
                                                                        <span class="question">처리하실 사항을 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="4"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="개인">
                                                                        <i class="step">STEP 4</i>
                                                                        <span class="question">이용대상자를 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="acco-list off" data-index="5"><!-- on , off -->
                                                                <div class="acco-title">
                                                                    <button role="button" aria-pressed="" class="none-event" title="대리인">
                                                                        <i class="step">STEP 5</i>
                                                                        <span class="question">지점/대리점 방문자를 선택해 주세요.</span>
                                                                        <span class="result-txt"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="acco-content">
                                                                    <div class="widget">
                                                                        <div class="widget-box radio">
                                                                            <ul class="select-list skin02" role="radiogroup"></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// .accordion -->
                                        </div>
                                        <!--// .cont-box -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .component -->
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!--// .cont-box -->
            <div class="cont-box">
                <!-- guide -->
                <div class="customer-guide required-doc-param">
                    <span class="ico"></span>
                    <span class="txt">처리하실 서비스를 선택하시면 <strong>필요서류를 안내</strong>해 드립니다.</span>
                </div>
                <div class="customer-guide required-doc-result"><!-- result로 결과값 출력 -->
                    <span class="txt">고객님께서 <strong>준비하셔야 할 필요서류</strong>입니다.</span>
                    <div class="result">
                        <ol class="item fe-doc-result"></ol>
                    </div>
                </div>
                <!-- // guide -->
            </div>
        </div>
    </div>
    <!--// #contents -->
    <footer id="fe-all-menu">
        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </footer>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CustomerDocument($('.wrap'));
  });
</script>
<% include ../components/end.component.html %>