<%#
* FileName: myt.join.product-service.fee-alarm.change.html
* Author: 양지훈 (jihun202@sk.com)
* Date: 2018.08.17
%>
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap step-page">
        <div class="header step-page">
            <div class="header-ti">
                <h1>요금제 변경 가능일 알림 서비스</h1>
            </div>
            <button class="close-step fe-btn_back"><span class="blind">닫기</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="cont-box">
                <div class="top-info">
                    <p class="info-text"><em><%= feePlanInfo.feePlanProd.prodNm %></em><br />요금 상품을 사용하고 있습니다.</p>
                    <div class="note-comment">
                        <span>신청일 <span class="ff-hn vbl"></span></span>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box">
                <% if (alarmInfo.smsStCd === '01') { %>
                <div class="subscribe-info">
                    <h3 class="tit">서비스 신청 정보</h3>
                    <ul>
                        <li>
                            <dl>
                                <dt>적용 회선번호</dt>
                                <dd class="ff-hn"><%= alarmInfo.svcNum %><% if (svcInfo.nickNm) { %><br />(<%= svcInfo.nickNm %>)<% } %></dd>
                            </dl>
                        </li>
                        <li class="sub-list">
                            <dl>
                                <dt>알람서비스</dt>
                                <dd>
                                    <dl>
                                        <dt>예정일</dt>
                                        <dd class="ff-hn"><%= alarmInfo.notiSchdDt %></dd>
                                    </dl>
                                    <dl>
                                        <dt>신청일</dt>
                                        <dd class="ff-hn"><%= alarmInfo.reqDt %></dd>
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                        <li class="sub-list">
                            <dl>
                                <dt class="ff-hn">SMS</dt>
                                <dd>
                                    <dl>
                                        <dt>처리상태</dt>
                                        <dd><%= alarmInfo.smsStNm %></dd>
                                    </dl>
                                    <dl>
                                        <dt>상태사유코드</dt>
                                        <dd><%= alarmInfo.smsTrmsStNm %></dd>
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>신청 당시 요금제</dt>
                                <dd><%= alarmInfo.feeProdNm %></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <ul class="bt-slice item-two mt40">
                    <li class="bt-white2">
                        <button class="fe-btn_back">취소하기</button>
                    </li>
                    <li class="bt-red1">
                        <button class="fe-btn_delete">해지하기</button>
                    </li>
                </ul>
                <% } else { %>
                <ul class="bt-slice item-two mt40">
                    <li class="bt-white2">
                        <button class="fe-btn_back">취소하기</button>
                    </li>
                    <li class="bt-red1">
                        <button class="fe-btn_put">신청하기</button>
                    </li>
                </ul>
                <% } %>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box nogaps-hoz">
                <div class="box-confirm">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box accordion">
                            <h3 class="tit-a">이용안내</h3>
                            <div class="acco-cover toggle">
                                <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                <div class="acco-style">
                                    <ul class="acco-list">
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 요금제 변경 가능일 알림 서비스</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">1개월 이내 요금제 변경 제한이 해제되는 시점에, SMS를 발송하여 이후 요금제 변경이 가능함을 안내해 드리는 서비스입니다.</li>
                                                    <li class="list">요금 상품은 1개월 이내 1회만 변경 가능합니다.</li>
                                                    <li class="list">요금제 변경 가능일 SMS 알림은 휴일인 경우에도 발송됩니다.</li>
                                                    <li class="list">요금제 변경은 T world 및 고객센터, 지점 및 가까운 대리점에서 이용 가능합니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">2.</span> 할인프로그램 또는 요금 약정 할인 가입자</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list"><em>할인프로그램 또는 요금약정할인 가입 고객님께서는 요금제 변경으로 인한 불이익이 발생하실 수 있어, T world에서 요금제 변경이 불가</em>하오니 변경하시려면 고객센터 또는 지점/대리점을 이용해 주시기 바랍니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">3.</span> 약정요금제 변경</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">가입 당시 약정한 요금 상품을 변경하실 경우 고객님의 약정잔여기간을 고려하여 <em>할부 지원금 차액이 다음달 청구 요금에 반영(반환 혹은 추가지원)</em>되어 정산됩니다. </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">4.</span> 온가족행복플랜 계열</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">온가족행복플랜 계열은 온가족행복플랜 결합 여부에 따라 사용중인 요금 상품이 정상 조회되지 않을 수 있습니다.</li>
                                                    <li class="list">온가족행복플랜 결합을 가입하지 않으신 경우, T world, 고객센터, 지점/대리점을 통해 일반 요금제로 변경하시기 바랍니다. </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MyTJoinProductServiceFeeAlarmChange($('.wrap'));
  });
</script>
<% include ../../components/end.component.html %>