<%#
* FileName: myt.join.product-service.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.08.13
%>
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #contents -->
    <div id="myt-join-fee-plan" class="container-wrap">
        <% include ../../components/join/myt.join.fee-plan.component.html %>
    </div>
    <div id="myt-join-additions" class="container-wrap" style="display:none;">
        <% include ../../components/join/myt.join.additions.component.html %>
    </div>
    <div id="myt-join-combinations" class="container-wrap" style="display:none;">
        <% include ../../components/join/myt.join.combinations.component.html %>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MyTJoinFeePlan($('#myt-join-fee-plan'));
    new Tw.MyTJoinAdditions($('#myt-join-additions'));
    new Tw.MyTJoinCombinations($('#myt-join-combinations'));
  });
</script>
<% include ../../components/end.component.html %>