<%#
* FileName: myt.bill.billguide.subRoamingBill.html
* Author: 김명환 (skt.P130714@partner.sk.com)
* Date: 2018.07.16
* Info: 로밍 사용요금
%>

<div id="roamingBill" >
    <!-- #header -->
    <div  class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>로밍 사용요금 상세조회</h1>
                <!--<button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>-->
            </div>
            <button class="prev-step"><span class="blind">이전으로</span></button>
            <!--<button class="search-content"><span class="blind">검색하기</span></button>-->
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div  class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="cont-box nogaps-hoz">
                <div class="inquiry-tit">
                    <p class="tit-wrap"><span class="num">010-12**-56**</span><span class="mark-txt">로밍</span><br />사용요금을 조회해보세요.</p></p><!-- 2017-07-06 텍스트 수정 -->
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <div class="widget">
                    <div class="widget-box tube">
                        <ul class="tube-list three" role="radiogroup">
                            <li class="checked" role="radio" aria-checked="true"><input type="radio" name="selectdate" title="전일 선택" checked="checked">전일</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="selectdate" title="1주일 선택">1주일</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="selectdate" title="3주일 선택">3주일</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="selectdate" title="1개월 선택">1개월</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="selectdate" title="3개월 선택">3개월</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="selectdate" title="6개월 선택">6개월</li>
                        </ul>
                    </div>
                </div>
                <div class="result-box no-result">
                    <p>원하시는 기간을 선택해주세요.</p>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box accordion">
                        <h5 class="tit-a">이용안내</h5>
                        <div class="acco-cover on"><!-- toggle : 한개만 열기 -->
                            <div class="acco-style btn-hold">
                                <ul class="acco-list">
                                    <li class="acco-box on">
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">최근 6개월까지만 조회 가능합니다.</li>
                                                <li class="list">로밍 청구요금의 경우 국내 사용료와 달리 해외사업자의 과금자료를 기준으로 요금이 부과되므로 사용 후 즉시요금이 부과되지 않습니다. 이로 인해 요금 청구 전 조회한 &acute;로밍청구내역서&acute;이 금액과 최종 청구금액이 다를 수 있습니다. </li>
                                                <li class="list">로밍 청구요금은 서비스 이용 후 다음월 청구되며, 해외사업자의 과금자료 전송 지연으로 인해 최대 3개월후까지 청구될 수 있습니다. </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .widget -->
            </div>

        </div>
    </div>
    <!--// #contents -->
</div>