<%- include('../../components/start.component.html', { pageInfo: pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">Go to Main</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <%- include('../../../../../common_en/views/components/header.component.html',
    { title: 'SUPPORT', svcInfo: svcInfo}); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="support-video">
                    <p class="title">CONTACT INFORMATION</p>
                    <p>Do you need more information?<br>SK Telecom is always ready to help</p>
                    <div class="video-card">
                        <button class="embed-container" title="Open new window" data-xt_eid="MWMA_A10_B83-11" data-xt_csid="NO" data-xt_action="BC" tabindex="1">
                            <img src="<%= CDN %>/img/en/img_guide_miri.png" alt="SK Telecom's new way to pay in advance MIRI" />
                        </button>
                        <button onclick='location.href="customer/videoguide"' data-xt_eid="MWMA_A10_B83-13" data-xt_csid="NO" data-xt_action="BC">
                            <strong>Watch and learn</strong>
                            Using Telco Services in Korea
                        </button>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="store-info">
                    <p>Reluctant to visit an SK Telecom T world<br>store <strong>due to the language barrier?</strong></p>
                    <button class="btn-round1 btn-style1" onclick='location.href="customer/agentsearch"' data-xt_eid="MWMA_A10_B83-3" data-xt_csid="NO" data-xt_action="BC">Global T world Stores</button>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <ul class="support-link">
                    <li class="faq" onclick='location.href="customer/faq"' data-xt_eid="MWMA_A10_B83-2" data-xt_csid="NO" data-xt_action="BC">
                        <button>
                            <strong>FAQ</strong>
                            Frequently Asked Questions
                        </button>
                    </li>
                    <li class="doc" onclick='location.href="customer/document"' data-xt_eid="MWMA_A10_B83-4" data-xt_csid="NO" data-xt_action="BC">
                        <!-- 200917 text 변경 -->
                        <button>
                            <strong>Required Documents</strong>
                            Find out what you need to sign up for<br>a mobile phone as a foreign resident
                        </button>
                        <!-- //200917 text 변경 -->
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="cs-info cc">
                    <p>Customer Center
                        <span class="lang-badge">CHN</span>
                        <span class="lang-badge">ENG</span>
                        <span class="lang-badge">JPN</span>
                    </p>
                    <dl>
                        <dt>E-mail</dt>
                        <dd>callcenter@sk.com</dd>
                        <dt>Tel</dt>
                        <dd><button class="fe-tel bt-link-tx underline" data-tel="080-252-5011">080-252-5011</button></dd>
                    </dl>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="cs-info rc">
                    <p>Roaming Center
                        <span class="lang-badge">CHN</span>
                        <span class="lang-badge">ENG</span>
                        <span class="lang-badge">JPN</span>
                    </p>
                    <dl>
                        <dt>Domestic</dt>
                        <dd><button class="fe-tel bt-link-tx underline" data-tel="1599-2011">1599-2011</button> <span>(Domestic)</span></dd>
                        <dt>Overseas</dt>
                        <dd><button class="fe-tel bt-link-tx underline" data-tel="+82-2-6343-9000">+82-2-6343-9000</button> <span>(press 5)</span></dd>
                        <dt>Website</dt>
                        <dd><button class="bt-link-tx underline fe-outlink" value="https://www.skroaming.com/main.asp?isSKT=Yes" title="Open new window" data-xt_eid="MWMA_A10_B83-5" data-xt_csid="NO" data-xt_action="BC">www.skroaming.com</button></dd>
                    </dl>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
       
            <div class="popupDiv"></div>
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>
<% include ../../components/javascript.component.html %>

<script>
  $(document).ready(function () {
    var oCustomerMain = new Tw.CustomerMain($('.wrap'));
  });
</script>
</body>
<% include ../../components/end.component.html %>
