<!-- #header -->
<div id="header" class="header-wrap">
    <div class="h-belt">
        <div class="h-default">
            <div class="h-menu">
                <a type="button" href="/main/menu" class="icon-gnb-menu"><span class="blind">메뉴열기</span></a>
            </div>
            <div class="h-tit"><%- title %></div>
            <div class="h-serarch">
                <button class="icon-gnb-search"><span class="blind">검색</span></button>
            </div>
        </div>
    </div>
</div>
<!--// #header -->