<!-- #header -->
<div id="header" class="header-wrap">
    <div class="header">
        <div class="header-ti align-l">
            <h1><%= title %></h1>
        </div>
        <button class="prev-step fe-common-back"><span class="blind">이전으로</span></button>


        <% if (svcInfo) { %>
        <% if (svcInfo.totalSvcCnt === '0') { %>
        <ul class="bt-slice item-free header-bt">
            <li class="bt-blue1">
                <button id="fe-bt-signup" title="신규가입">신규가입</button>
            </li>
        </ul>
        <% } else if (svcInfo.totalSvcCnt !== '0' && svcInfo.expsSvcCnt === '0') { %>
        <ul class="bt-slice item-free header-bt">
            <li class="bt-blue1">
                <a href="/auth/line" title="회선 등록">회선 등록</a>
            </li>
        </ul>
        <% } else { %>
        <button id="fe-bt-line" class="bt-dropdown small <% if(svcInfo.expsSvcCnt === '1') { %>no-arrow<% } %>" title="회선 선택" aria-haspopup="true" data-svcMgmtNum="<%= svcInfo.svcMgmtNum %>" data-urlAuth="<%= svcInfo.urlAuth %>">
            <%= svcInfo.svcNum %>
            <span class="ico"></span>
        </button><!--팝업 호출된후 disabled부여-->
        <% } %>
        <% } else { %>
        <ul class="bt-slice item-free header-bt">
            <li class="bt-blue1">
                <button class="fe-bt-login" title="로그인">로그인</button>
            </li>
        </ul>
        <% } %>
    </div>
</div>
<!--// #header -->