<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="shortcut icon" href="<%= CDN %>/img/common/favicon.ico" />
    <link rel="shortcut icon" href="<%= CDN %>/img/common/favicon.png" />
    <link rel="apple-touch-icon" href="<%= CDN %>/img/common/favicon.png" />
    <script src="<%= CDN %>/js/vendor.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= CDN %>/css/<%= style %>" media="all" />
    <link rel="stylesheet" type="text/css" href="<%= CDN %>/css/vendor.css" media="all" />
    <% include ../components/stylesheet.component.html %>
    <script type="text/javascript" src="<%= CDN %>/js/netfunnel.js" charset="UTF-8"></script>
	<script>
      $(document).ready(function() {
        var $count = $('.container-wrap span.tod-txcolor6.nwait');
        var $time = $('.container-wrap span.tod-txcolor6.tps');


        var referer = '<%- referer %>';
        var action = '<%- action %>';
        var callbackEvents = {
          continued: function(event, params) {
            var msg = 'success:'
              + ',code=' + params.code
              + ',key=' + params.data.key
              + ',ip=' + params.data.ip
              + ',port=' + params.data.port
              + ',nnext=' + params.data.nnext
              + ',nwait=' + params.data.nwait
              + ',tps=' + params.data.tps
              + ',ttl=' + params.data.ttl;
            $count.val(params.data.nwait);
            $time.val(params.data.tps);
            console.warn(msg);
            // window.location.href = referer;
          },
          stop: function(event) {
            console.log('stopped::', event);
            window.history.back();
          },
          success: function(){
            window.location.href = referer;
          },
          block: function(evt, ret){
            console.warn('############ BLCOK :::: ', ret.data);
            alert(ret);
          }
        };
        window.addEventListener('load', function(){
          NetFunnel_Action({
            action_id: action
          }, callbackEvents);
        });
      });
	</script>
</head>
<body class="bg-white"><!-- 배경이 흰색일 경우 .bg-white -->
    <div class="wrap">
        <!-- #header -->
        <div id="header" class="header-wrap home">
            <div class="h-belt"><!-- 보더라인 없을 경우 .noborder -->
                <div class="h-default">
                    <div class="h-logo"><button class="icon-gnb-home-T"><span class="blind">홈으로</span></button></div>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <div class="wrap checking_wrap mt0">
                <img src="<%= CDN %>/img/common/wait.png" alt="">
                <p class="tit tx-medium mt30 mb20">잠시만 기다리시면<br> 자동 접속됩니다.</p>
                <p class="txt mb5">고객님 앞에 <span class="tod-txcolor6 nwait">0</span>명이 접속 중입니다.</p>
                <p class="txt">예상 대기시간 <span class="tod-txcolor6 tps"></span></p>
            </div>
            <div class="bt-fixed-area">
                <p class="tod-wait">다시 접속하시면 대기시간이 길어지니<br> 잠시만 기다려 주세요. </p>
            </div>
        </div>
        <!--// #contents -->
    </div>
</body>
</html>
