<%#
* @file product.mobileplan.list.html
* @author Jiyoung Jo
* @since 2018.10.08
* ID: MP_02
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
  <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <!-- Grand open 접근성 수정 -->
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
            <!--  //Grand open 접근성 수정 -->
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../common/views/components/header.component.html', { title: '요금제', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                
                <!-- 사용중인 상품 -->
                <% if (svcInfo && svcInfo.svcAttrCd.includes('M')) { %>
                <hr class="cont-sp type1" aria-hidden="true"/>
                <div class="cont-box nogaps">
                    <div class="calling-plan">
                        <a href="/myt-join/myplan" class="wrap-link">
                            <i class="badge icon-badge-plan-use"><span class="blind">이용중</span></i>
                            <span class="stit"><%= svcInfo.prodNm %></span>
                        </a>
                    </div>
                </div>
                <% } %>
                <!--//사용중인 상품 -->

                <!-- 필터옵션영역 -->
				<div class="cont-box bgnone noborder gaps-style03">
                    <div class="contheader-box">
                        <div class="totalfilter-wrap">
                            <span class="total">총 <span class="number-text"><%= plans.productCount %></span>건</span>
                            <!-- <button type="button" class="filter-btn">필터</button> -->
                                <% const filters = plans.searchOption && plans.searchOption.searchFltIds;
                                if (filters) { %>
                                    <button type="button" class="filter-btn date-in fe-select-filter" aria-haspopup="true">
                                        <span class="datebox">
                                        <% for (let i = 0; i < Math.min(2, filters.length); i++) {
                                            if (i > 0) { %>, <% } %>
                                            <%= filters[i].prodFltNm %>
                                        <% } %>
                                        </span>
                                        <% if (filters.length > 2) { %>
                                            <span class="text">외</span> 
                                            <span class="number"><%= filters.length - 2 %></span>
                                            <span class="text">건</span>
                                        <% } %>
                                    </button>
                                <% } else if (plans.searchOption && plans.searchOption.searchProdTagNm) { %>
                                    <button type="button" class="filter-btn date-in fe-select-filter" aria-haspopup="true">
                                        <span class="datebox"><%= plans.searchOption.searchProdTagNm %></span>
                                    </button>
                                <% } else { %>
                                    <button type="button" class="filter-btn fe-select-filter" aria-haspopup="true">전체 요금제</button>
                                <% } %>
                            </button>
                        </div>
                        <div class="filter-select">
                            <button type="button" class="filterselect-btn fe-select-order" aria-haspopup="true">
                                <% if (params.searchOrder === 'highprice') { %>
                                    높은 가격순
                                <% } else if (params.searchOrder === 'lowprice') { %>
                                    낮은 가격순
                                <% } else { %>
                                    추천순
                                <% } %>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- //필터옵션영역 -->

                <!-- 이런 요금제는 어떠세요? -->
                <% const products = plans.products;
                if (products) { %>
                <div class="cont-box bgnone nogaps-hoz noborder"><!-- 더보기 버튼이 있을때 noborder 필요 -->
                    <ul class="extraservice-list">
                        <% products.map(plan => { %>
                            <li class="category-type">
                                <a href="/product/callplan?prod_id=<%= plan.prodId %>" class="link">
                                    <div class="products-titleinfo">
                                        <p class="title"><%= plan.prodNm %></p>
                                        <% if (plan.basFeeAmt.isNaN) { %>
                                            <p class="info"><span class="money"><%= plan.basFeeAmt.value %></span></p>
                                        <% } else { %>
                                            <p class="info">월<span class="money"><%= plan.basFeeAmt.value %></span>원</p>
                                        <% } %>
                                    </div>
                                    <% if (plan.filters) { %>
                                    <div class="taglist-wrap">
                                        <% plan.filters.map(filter => { %>
                                            #<%= filter.prodFltNm %>&nbsp;&nbsp;
                                        <% }); %>
                                    </div>
                                    <% } %>
                                    <ul class="products-detailinfo02">
                                        <% if (plan.basOfrDataQtyCtt) { %>
                                        <li class="category-type type01">
                                            <p class="gb"><i class="blind">데이터</i><%= plan.basOfrDataQtyCtt.isNaN ? plan.basOfrDataQtyCtt.value : plan.basOfrDataQtyCtt.value.data + plan.basOfrDataQtyCtt.value.unit %></p>
                                        </li>
                                        <% }
                                        if (plan.basOfrVcallTmsCtt) { %>
                                        <li class="category-type type02">
                                            <p class="type">
                                                <i class="blind">음성</i>
                                                <%= plan.basOfrVcallTmsCtt.value %>
                                            </p>
                                        </li>
                                        <% }
                                        if (plan.basOfrCharCntCtt) { %>
                                        <li class="category-type type03">
                                            <p class="basic">
                                                <i class="blind">문자</i>
                                                <%= plan.basOfrCharCntCtt.isNaN ? plan.basOfrCharCntCtt.value : plan.basOfrCharCntCtt.value + plan.basOfrCharCntCtt.unit %>
                                            </p>
                                        </li>
                                        <% } %>
                                    </ul>
                                </a>
                            </li>
                        <% }); %>
                    </ul>

                    <% const leftCount = plans.productCount - products.length, last = products[products.length - 1]; %>
                    <div class="extraservice-more full-width">
                        <button class="<%= leftCount ? '' : 'none' %> btn bbe5" aria-hidden="<%= leftCount <= 0 %>" data-last-product="<%= last && last.prodId %>" data-left-count="<%= leftCount %>">
                            더 보기
                        </button>
                    </div>
                </div>
                <% } %>
                <!-- //이런 요금제는 어떠세요? -->

                <!-- //부가서비스 목록 -->
                <% if ( false ) { // @TODO 해당 페이지 다음 차수 개발, 진입 안되도록 히든 처리 %>
                <hr class="cont-sp type1" aria-hidden="true"/>
                <div class="findyourplan-wrap">
                    <a class="link" href="/product/mobileplan/find">
                        <dl class="desc">
                            <dt class="title">내게 맞는 요금제 찾기</dt>
                            <dd class="text">내 사용패턴, 할인 정보 등에 딱 맞는<br>요금제를 추천해드려요!</dd>
                        </dl>
                    </a>
                </div>
                <% } %>
                
                <!-- 다른 페이지를 찾고 계신가요? -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">다른 페이지를 찾고 계신가요?</h3>
                    <ul class="pg-link-list">
                        <li>
                            <a href="/product/mobileplan-add"><i class="icon-vas-40"></i>부가서비스</a>
                        </li>
                        <li>
                            <a href="/product/wireplan"><i class="icon-internet-40"></i>인터넷 / 전화 /  IPTV</a>
                        </li>
                        <li>
                            <a href="/product/roaming"><i class="icon-roaming-40"></i>T로밍</a>
                        </li>
                        <li>
                            <a href="/benefit/submain/discount"><i class="icon-discount-40"></i>혜택 / 할인 > 요금 할인</a>
                        </li>
                        <li>
                            <a href="/benefit/submain/combinations"><i class="icon-discount-40"></i>혜택 / 할인 > 결합 할인  </a>
                        </li>
                    </ul>
                </div>
                <!-- //다른 페이지를 찾고 계신가요? -->
            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
      new Tw.ProductList($('.wrap'), JSON.parse('<%- JSON.stringify(params) %>'), { code: 'F01100', type: 'plans' });
  });
</script>
<% include ../../components/mobileplan/product.mobileplan.list.component.html %>
<% include ../../components/end.component.html %>
