<!--
* FileName: myt.bill.reissue.html
* Author: Kim InHwan (skt.P132150@partner.sk.com)
* Date: 2018.07.04
-->
<% include ../../components/start.component.html %>

<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header step-page">
            <div class="header-ti">
                <h1>요금안내서 재발행</h1>
            </div>
            <button class="close-step"><span class="blind">닫기</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div id="myt-bill-reissue" class="container">
            <div class="cont-box nogaps-top">
                <div class="change-plan">
                    <h3 class="tit-type">사용중인 요금안내서</h3>
                    <!-- 여기서 요금안내서 타입 출력  (if or switch) -->
                    <p class="txt-type">Bill letter</p>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box nogaps-top">
                <div class="change-plan">
                    <dl>
                        <!-- 요금서가 두개인 경우 사용 if문 처리 -->
                        <!--<dt>어떤 요금안내서를 재발행 하시겠어요?</dt>
                        <dd>
                            &lt;!&ndash; .widget &ndash;&gt;
                            <div class="widget">
                                <div class="widget-box tube">
                                    <ul class="tube-list two" role="radiogroup">
                                        <li role="radio" aria-checked="true"><input type="radio" name="senddata" title="Bill Letter">Bill Letter</li>
                                        <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="이메일">이메일</li>
                                    </ul>
                                </div>
                            </div>
                            &lt;!&ndash; //.widget &ndash;&gt;
                        </dd>-->
                        <dt>재발행 시점을 선택해주세요</dt>
                        <dd>
                            <!-- .widget -->
                            <div class="widget">
                                <div class="widget-box tube">
                                    <ul class="tube-list two" role="radiogroup">
                                        <li role="radio" aria-checked="true"><input type="radio" name="senddata"
                                                                                    title="청구시점">청구시점
                                        </li>
                                        <li role="radio" aria-checked="false"><input type="radio" name="senddata"
                                                                                     title="현재시점">현재시점
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //.widget -->
                        </dd>
                        <dt>재발행할 월을 선택해주세요</dt>
                        <dd>
                            <!-- .widget -->
                            <div class="widget">
                                <div class="widget-box tube">
                                    <ul class="tube-list two" role="radiogroup">
                                        <li role="radio" aria-checked="false"><input type="radio" name=""
                                                                                     title="2018년 6월">2018년 6월<span
                                                class="date">2018.05.31</span></li>
                                        <li role="radio" aria-checked="false"><input type="radio" name=""
                                                                                     title="2018년 5월">2018년 5월<span
                                                class="date">2018.04.30</span></li>
                                        <li role="radio" aria-checked="false"><input type="radio" name=""
                                                                                     title="2018년 4월">2018년 4월<span
                                                class="date">2018.03.31</span></li>
                                        <li role="radio" aria-checked="false"><input type="radio" name=""
                                                                                     title="2018년 3월">2018년 3월<span
                                                class="date">2018.02.28</span></li>
                                        <li role="radio" aria-checked="false"><input type="radio" name=""
                                                                                     title="2018년 2월">2018년 2월<span
                                                class="date">2018.01.31</span></li>
                                        <li role="radio" aria-checked="false"><input type="radio" name=""
                                                                                     title="2018년 1월">2018년 1월<span
                                                class="date">2018.12.30</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //.widget -->
                            <div class="contents-notice type1">
                                <span class="noti-type3">재발행은 이번 달~최근 6개월까지 가능합니다.</span>
                            </div>
                        </dd>
                    </dl>
                    <ul class="bt-slice">
                        <li class="bt-red1">
                            <button>재발행 신청하기</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--// #contents -->
</div>

<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        var comp = new Tw.MyTBillReissue($('#myt-bill-reissue'));
    });
</script>
<% include ../../components/end.component.html %>