<% include ../components/start.component.html %>
<!-- skip -->
<div class="skip"><a href="/home">본문 바로가기</a></div>
<!-- // skip -->
<!-- wrap -->
<div id="wrap">
    <!-- header -->
    <header class="header">
        <h1 class="title"><a href="#">T world</a></h1>
        <div class="user-numbers">
            <a href="#link" class="moebius"><%= svcInfo.svcNum %></a>
        </div>
        <button class="btn-search"><span class="blind">검색</span></button>
    </header>
    <!-- // header -->
    <!-- content -->
    <div id="content">
        <!-- container -->
        <section class="container">
            <div class="info-userdata">
                <p><strong><%= svcInfo.custNm %></strong>님의 이번달</p>
                <p class="coment">데이터가 부족해요</p>
            </div>
            <div class="slider-area">
                <div class="ttl-area">
                    <p class="ttl"><%= usageData.prodName %></p>
                    <p class="days">잔여일수<b class="moebius-bold"><%= remainDate %></b>일</p>
                </div>
                <div class="slick-type01">
                    <div class="belt">
                        <!-- class명 자유 해당 depth div가 1개 unit-->
                        <% if( usageData.data ) { %>
                        <% usageData.data.map(function(data, i) { %>
                        <div class="card type-data">
                            <div class="head">
                                <strong>데이터</strong>
                                <span><%= data.skipName %></span>
                            </div>
                            <div class="bar-area">
                                <div class="chart">
                                    <% if(data.isUnlimit) { %>
                                    <p><span class="moebius-bold mugen">무제한</span></p>
                                    <strong class="total"><em>무제한</em></strong>
                                    <% } else { %>
                                    <p>
                                        <span class="moebius-bold"><%= data.showRemained.data %></span>
                                        <em><%= data.showRemained.unit %></em>
                                    </p>
                                    <strong class="total">
                                        <span class="moebius-bold"><%= data.showTotal.data %></span>
                                        <em><%= data.showTotal.unit %></em>
                                    </strong>
                                    <% } %>
                                </div>
                                <div class="bar">
                                    <span style="width:<%= usageData.data[i].usedRatio %>%;"></span>
                                    <!-- width:퍼센테이지 필요, 0%의 경우 display:none; // -->
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <% } %>
                        <% if( usageData.voice ) { %>
                        <% usageData.voice.map(function(voice, i) { %>
                        <div class="card type-voice">
                            <div class="head">
                                <strong>음성</strong>
                                <span><%= voice.skipName %></span>
                            </div>
                            <div class="bar-area">
                                <div class="chart m">
                                    <% if(usageData.data[i].isUnlimit) { %>
                                    <p><span class="moebius-bold mugen">무제한</span></p>
                                    <strong class="total"><em>무제한</em></strong>
                                    <% } else { %>
                                    <p>
                                        <% if ( voice.showRemained.hours !== 0) { %>
                                        <span class="moebius-bold"><%= voice.showRemained.hours %></span><em>시간</em>
                                        <% } %>
                                        <% if ( voice.showRemained.min !== 0) { %>
                                        <span class="moebius-bold"><%= voice.showRemained.min %></span><em>분</em>
                                        <% } %>
                                        <% if ( voice.showRemained.sec !== 0) { %>
                                        <span class="moebius-bold"><%= voice.showRemained.sec %></span><em>초</em>
                                        <% } %>
                                    </p>
                                    <strong class="total">
                                    <% if ( voice.showTotal.hours !== 0) { %>
                                    <span class="moebius-bold"><%= voice.showTotal.hours %></span><em>시간</em>
                                    <% } %>
                                    <% if ( voice.showTotal.min !== 0) { %>
                                    <span class="moebius-bold"><%= voice.showTotal.min %></span><em>분</em>
                                    <% } %>
                                    <% if ( voice.showTotal.sec !== 0) { %>
                                    <span class="moebius-bold"><%= voice.showTotal.sec %></span><em>초</em>
                                    <% } %>
                                    </strong>
                                    <% } %>
                                </div>
                                <div class="bar">
                                    <span style="width:<%= voice.usedRatio %>%;"></span><!-- width:퍼센테이지 필요, 0%의 경우 display:none; // -->
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <% } %>
                        <% if( usageData.sms ) { %>
                        <% usageData.sms.map(function(sms, i) { %>
                        <div class="card type-message">
                            <div class="head">
                                <strong>문자</strong>
                                <span><%= sms.skipName %></span>
                            </div>
                            <div class="bar-area">
                                <div class="chart">
                                    <p><span class="moebius-bold mugen">무제한</span></p>
                                    <strong class="total"><em>무제한</em></strong>
                                </div>
                                <div class="bar">
                                    <span style="width:100%;"></span><!-- width:퍼센테이지 필요, 0%의 경우 display:none; // -->
                                </div>
                            </div>
                        </div>
                        <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
            <!-- //slider-area -->
            <div class="user-level">
                <div class="level type0">T멤버십 Leaders club</div>
                <div class="cost">
                    <span>연간 누적 혜택</span><strong class="moebius-bold">95,200</strong><em>원</em>
                </div>
                <div class="codes">
                    <img src="/skt/img/temp/img_barcode.png" alt=""/>
                </div>
            </div>
            <!-- //user-level -->
            <div class="favorite-tag">
                <p class="ttl">즐겨찾는 메뉴</p>
                <a href="#link" class="tag"><span>요금조회/납부</span></a>
                <a href="#link" class="tag"><span>충전/선물/리필</span></a>
                <a href="#link" class="tag"><span>T멤버십</span></a>
                <a href="#link" class="tag"><span>인터넷/전화/TV</span></a>
                <a href="#link" class="tag"><span>T로밍</span></a>
            </div>
        </section>
        <!-- // container -->
    </div>
    <!-- // content -->
    <!-- // wrap -->
    <% include ../components/footer.component.html %>
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.HomeMain($('.wrap'));
  });
</script>
<% include ../components/end.component.html %>