<% include ../components/start.component.html %>
<!-- skip -->
<div class="skip"><a href="#content">본문 바로가기</a></div>
<!-- // skip -->
<!-- wrap -->
<div id="wrap">
    <!-- header -->
    <header class="header gnb">
        <h1 class="title"><a href="/home">T world</a></h1>
        <button class="setting"><span>설정</span></button>
        <button class="close common-back"><span class="blind">닫기</span></button>
    </header>
    <!-- // header -->
    <!-- content -->
    <div id="content">
        <!-- container -->
        <section class="container">

            <div class="recently-menu">
                <p class="ttl">최근 방문한 메뉴</p>
                <a href="" class="recent"><span>사용량 조회</span></a><a href="" class="recent"><span>요금조회</span></a>
                <a href="" class="recent"><span>로밍안내</span></a><a href="" class="recent"><span>이용안내</span></a>
            </div>

            <div id="gnb">
                <ul>
                    <li>
                        <a href="#" class="menu01"><span>My T</span></a>
                        <ul class="subs">
                            <li>
                                <a href="#" class="menuSub01"><span>Home</span></a>
                                <ul>
                                    <li><a href="/myt">사용량 조회</a></li>
                                    <li><a href="#">사용패턴</a></li>
                                    <li><a href="#">통화내역조회</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="menuSub02"><span>나의 사용량/사용내역</span></a>
                                <ul>
                                    <li><a href="/myt">사용량 조회</a></li>
                                    <li><a href="#">사용패턴</a></li>
                                    <li><a href="#">통화내역조회</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="menuSub03"><span>리필/선물/충전</span></a></li>
                            <li><a href="#" class="menuSub04"><span>나의 서비스 조회/변경</span></a></li>
                            <li><a href="#" class="menuSub05"><span>요금조회</span></a></li>
                            <li><a href="#" class="menuSub06"><span>요금납부</span></a></li>
                            <li><a href="#" class="menuSub07"><span>나의 T멤버십/혜택</span></a></li>
                            <li><a href="#" class="menuSub08"><span>나의 T로밍/T다이렉트</span></a></li>
                            <li><a href="#" class="menuSub09"><span>쿠폰/포인트</span></a></li>
                            <li><a href="#" class="menuSub10"><span>나의 활동/보관함</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu02"><span>상품서비스</span></a>
                        <ul class="subs">
                            <li>
                                <a href="#">2-1메뉴</a>
                                <ul>
                                    <li><a href="#">3메뉴</a></li>
                                    <li><a href="#">3메뉴</a></li>
                                    <li><a href="#">3메뉴</a></li>
                                </ul>
                            </li>
                            <li><a href="#">2메뉴</a></li>
                            <li><a href="#">2메뉴</a></li>
                            <li><a href="#">2메뉴</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu03"><span>T멤버십/혜택</span></a>
                        <ul class="subs">
                            <li><a href="#">2메뉴</a></li>
                            <li><a href="#">2메뉴</a></li>
                            <li><a href="#">2메뉴</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu04"><span>T로밍</span></a>
                        <ul class="subs">
                            <li><a href="#">2메뉴</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu05"><span>T다이렉트</span></a>
                        <ul class="subs">
                            <li><a href="#">2메뉴</a></li>
                            <li><a href="#">2메뉴</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu06"><span>고객센터</span></a>
                        <ul class="subs">
                            <li><a href="#">2메뉴</a></li>
                            <li><a href="#">2메뉴</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu07"><span>이벤트</span></a>
                        <ul class="subs">
                            <li><a href="#">2메뉴</a></li>
                            <li><a href="#">2메뉴</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- //#gnb -->
            <div class="btn-group gnb">
                <div class="col2">
                    <a href="#" class="btn-type00">회원정보</a>
                    <a href="#" class="btn-type00">로그아웃</a>
                </div>
            </div>

            <article class="family">
                <p class="ttl">Family Sites</p>
                <div class="slick-type02">
                    <div class="belt">
                        <!-- class명 자유 해당 depth div가 1개 unit-->
                        <div class="card"><img src="../../img/temp/img_temp01.png" alt="banner1"/></div>
                        <div class="card"><img src="../../img/temp/img_temp01.png" alt="banner2"/></div>
                        <div class="card"><img src="../../img/temp/img_temp01.png" alt="banner3"/></div>
                        <div class="card"><img src="../../img/temp/img_temp01.png" alt="banner4"/></div>
                    </div>
                </div>
            </article>
            <!-- //family -->
        </section>
        <!-- // container -->
    </div>
    <!-- // content -->
    <% include ../components/footer.component.html %>
</div>
<!-- // wrap -->
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.HomeMenu($('.wrap'));
  });
</script>
<% include ../components/end.component.html %>