<% include ../components/start.component.html %>
<!-- skip -->
<div class="skip"><a href="#content">본문 바로가기</a></div>
<!-- // skip -->
<!-- wrap -->
<div id="wrap">
    <!-- header -->
    <header class="header">
        <h1 class="title"><a href="#">T world</a></h1>
        <div class="user-numbers">
            <a href="#link" class="moebius">010-46**-10**</a>
        </div>
        <button class="btn-search"><span class="blind">검색</span></button>
    </header>
    <!-- // header -->
    <!-- content -->
    <div id="content">
        <!-- container -->
        <section class="container">
            <div class="info-userdata">
                <p><strong>김호*</strong>님의 이번달</p>
                <p class="coment">데이터가 부족해요</p>
            </div>
            <div class="slider-area">
                <div class="ttl-area">
                    <p class="ttl">Band 데이터 6.5G</p>
                    <p class="days">잔여일수<b class="moebius-bold">18</b>일</p>
                </div>
                <div class="slick-type01">
                    <div class="belt">
                        <!-- class명 자유 해당 depth div가 1개 unit-->
                        <div class="card type-data">
                            <div class="head">
                                <strong>데이터</strong>
                                <span>선물 받은 데이터</span>
                            </div>
                            <div class="bar-area">
                                <div class="chart">
                                    <p><span class="moebius-bold">2.4</span><em>GB</em></p>
                                    <strong class="total"><span class="moebius-bold">10</span><em>GB</em></strong>
                                </div>
                                <div class="bar">
                                    <span style="width:24%;"></span><!-- width:퍼센테이지 필요, 0%의 경우 display:none; // -->
                                </div>
                            </div>
                        </div>
                        <div class="card type-data">
                            <div class="head">
                                <strong>데이터</strong>
                                <span>데이터 통화 11GB 무료</span>
                            </div>
                            <div class="bar-area">
                                <div class="chart">
                                    <p><span class="moebius-bold">1.9</span><em>GB</em></p>
                                    <strong class="total"><span class="moebius-bold">11</span><em>GB</em></strong>
                                </div>
                                <div class="bar">
                                    <span style="width:17%;"></span><!-- width:퍼센테이지 필요, 0%의 경우 display:none; // -->
                                </div>
                            </div>
                        </div>
                        <div class="card type-voice">
                            <div class="head">
                                <strong>음성</strong>
                                <span>영상,부가전화 300분</span>
                            </div>
                            <div class="bar-area">
                                <div class="chart">
                                    <p><span class="moebius-bold">4</span><em>시간</em><span
                                        class="moebius-bold">51</span><em>분</em></p>
                                    <strong class="total"><span class="moebius-bold">5</span><em>시간</em></strong>
                                </div>
                                <div class="bar">
                                    <span style="width:80%;"></span><!-- width:퍼센테이지 필요, 0%의 경우 display:none; // -->
                                </div>
                            </div>
                        </div>
                        <div class="card type-message">
                            <div class="head">
                                <strong>문자</strong>
                                <span>SMS/MMS/ⓜ메신저</span>
                            </div>
                            <div class="bar-area">
                                <div class="chart">
                                    <p><span class="moebius-bold mugen">무제한</span></p>
                                    <strong class="total"><em>무제한</em></strong>
                                </div>
                                <div class="bar">
                                    <span style="width:100%;"></span><!-- width:퍼센테이지 필요, 0%의 경우 display:none; // -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //slider-area -->
            <div class="user-level">
                <div class="level type0">T멤버십 Leaders club</div>
                <div class="cost">
                    <span>연간 누적 혜택</span><strong class="moebius-bold">95,200</strong><em>원</em>
                </div>
                <div class="codes">
                    <img src="/skt/img/temp/img_barcode.png" alt=""/>
                </div>
            </div>
            <!-- //user-level -->
            <div class="favorite-tag">
                <p class="ttl">즐겨찾는 메뉴</p>
                <a href="#link" class="tag"><span>요금조회/납부</span></a>
                <a href="#link" class="tag"><span>충전/선물/리필</span></a>
                <a href="#link" class="tag"><span>T멤버십</span></a>
                <a href="#link" class="tag"><span>인터넷/전화/TV</span></a>
                <a href="#link" class="tag"><span>T로밍</span></a>
            </div>
        </section>
        <!-- // container -->
    </div>
    <!-- // content -->
    <!-- // wrap -->
    <% include ../components/footer.component.html %>
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.HomeMainView($('.wrap'));
  });
</script>
<% include ../components/end.component.html %>