<%#
* @file myt-data.cookiz.immediately.html
* @author Jiman Park (jiman.park@sk.com)
* @since 2018.09.19
%>

<div class="cont-box">
    <h4 class="tabcon-title0">
        충전 금액
        <button class="btn-tip" id="DC_04_02_01_tip_01"><i class="icon-badge-tip"><span class="blind">tip</span></i></button>
    </h4>
    <% if( svcInfo.prodId === 'NA00001464' || svcInfo.prodId === 'NA00001465' ) { %>
    <div class="widget">
        <div class="widget-box radio">
            <div class="radio-slide">
                <ul class="select-list fe-cookiz_immediately_select_list" role="radiogroup" style="width: 100%;">
                    <li class="radiobox" role="radio" aria-checked="true">
                        <input type="radio" name="radio4" value="5000" title="값2" checked=""><!-- 체크상태일 경우 checked="false" -->
                        <span class="radio-txt">
                            <span>5,000</span><span class="unit">원</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="tabcon-tx0 pt14">* 안심음성 요금제는 5,000원 충전만 가능합니다.</p>
    <% } else { %>
    <div class="widget">
        <div class="widget-box radio">
            <div class="radio-slide">
                <ul class="select-list fe-cookiz_immediately_select_list" role="radiogroup"
                    style="width: 100%;">
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="20000" title="값1" aria-labelledby="aria-comp-radio1">
                        <!-- 체크상태일 경우 checked="checked" -->
                        <span class="radio-txt" id="aria-comp-radio1">
                                        <span>20,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="19000" title="충전금액" aria-labelledby="aria-comp-radio2">
                        <!-- 체크상태일 경우 checked="checked" -->
                        <span class="radio-txt" id="aria-comp-radio2">
                                        <span>19,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="18000" title="충전금액" aria-labelledby="aria-comp-radio3">
                        <!-- 체크상태일 경우 checked="checked" -->
                        <span class="radio-txt" id="aria-comp-radio3">
                                        <span>18,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="17000" title="충전금액" aria-labelledby="aria-comp-radio4">
                        <!-- 체크상태일 경우 checked="checked" -->
                        <span class="radio-txt" id="aria-comp-radio4">
                                        <span>17,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="16000" title="충전금액" aria-labelledby="aria-comp-radio5">
                        <!-- 체크상태일 경우 checked="checked" -->
                        <span class="radio-txt" id="aria-comp-radio5">
                                        <span>16,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="15000" title="충전금액" aria-labelledby="aria-comp-radio6">
                        <!-- 체크상태일 경우 checked="false" -->
                        <span class="radio-txt" id="aria-comp-radio6">
                                        <span>15,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="14000" title="충전금액" aria-labelledby="aria-comp-radio7">
                        <!-- 체크상태일 경우 checked="false" -->
                        <span class="radio-txt" id="aria-comp-radio7">
                                        <span>14,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="13000" title="충전금액" aria-labelledby="aria-comp-radio8">
                        <!-- 체크상태일 경우 checked="false" -->
                        <span class="radio-txt" id="aria-comp-radio8">
                                        <span>13,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="12000" title="충전금액" aria-labelledby="aria-comp-radio9">
                        <!-- 체크상태일 경우 checked="false" -->
                        <span class="radio-txt" id="aria-comp-radio9">
                                        <span>12,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="11000" title="충전금액" aria-labelledby="aria-comp-radio10">
                        <!-- 체크상태일 경우 checked="false" -->
                        <span class="radio-txt" id="aria-comp-radio10">
                                        <span>11,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="10000" title="충전금액" aria-labelledby="aria-comp-radio11"><!-- 비활성화상태일 경우 disabled="disabled" -->
                        <span class="radio-txt" id="aria-comp-radio11">
                                        <span>10,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="9000" title="충전금액" aria-labelledby="aria-comp-radio12"><!-- 비활성화상태일 경우 disabled="disabled" -->
                        <span class="radio-txt" id="aria-comp-radio12">
                                        <span>9,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="8000" title="충전금액" aria-labelledby="aria-comp-radio13"><!-- 비활성화상태일 경우 disabled="disabled" -->
                        <span class="radio-txt" id="aria-comp-radio13">
                                        <span>8,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="7000" title="충전금액" aria-labelledby="aria-comp-radio14"><!-- 비활성화상태일 경우 disabled="disabled" -->
                        <span class="radio-txt" id="aria-comp-radio14">
                                        <span>7,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="6000" title="충전금액" aria-labelledby="aria-comp-radio15"><!-- 비활성화상태일 경우 disabled="disabled" -->
                        <span class="radio-txt" id="aria-comp-radio15">
                                        <span>6,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="5000" title="충전금액" aria-labelledby="aria-comp-radio16">
                        <!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt" id="aria-comp-radio16">
                                        <span>5,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="4000" title="충전금액" aria-labelledby="aria-comp-radio17">
                        <!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt" id="aria-comp-radio17">
                                        <span>4,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="3000" title="충전금액" aria-labelledby="aria-comp-radio18">
                        <!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt" id="aria-comp-radio18">
                                        <span>3,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="2000" title="충전금액" aria-labelledby="aria-comp-radio19">
                        <!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt" id="aria-comp-radio19">
                                        <span>2,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                    <li class="radiobox" role="radio" aria-checked="false">
                        <input type="radio" name="radio1" value="1000" title="충전금액" aria-labelledby="aria-comp-radio20">
                        <!-- 체크된 비활성화 상태일 경우 체크상태와 비활성화 상태를 전부 적용 -->
                        <span class="radio-txt" id="aria-comp-radio20">
                                        <span>1,000</span><span class="unit">원</span>
                                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <% } %>
</div>
<hr class="cont-sp type1" aria-hidden="true">
<div class="cont-box nogaps-btm">
    <h3 class="tx-bold">꼭 확인해 주세요</h3>
    <ul class="noti-list02">
        <li><button aria-haspopup="true" class="tip-view-btn" id="DC_04_02_01_tip_02" page-id="DC_04_02_01">상한금액 안내<span class="tip-view">TIP</span></button></li>
        <li><button aria-haspopup="true" class="tip-view-btn" id="DC_04_02_01_tip_03" page-id="DC_04_02_01">요금상품 안내<span class="tip-view">TIP</span></button></li>
        <li><button aria-haspopup="true" class="tip-view-btn" id="DC_04_02_01_tip_04" page-id="DC_04_02_01">매월 자동 충전 안내<span class="tip-view">TIP</span></button></li>
        <li><button aria-haspopup="true" class="tip-view-btn" id="DC_04_02_01_tip_05" page-id="DC_04_02_01">충전 허용금액 변경 안내<span class="tip-view">TIP</span></button></li>
    </ul>
</div>
