<%#
* MenuName: 나의 데이터/통화 > 실시간 잔여량
* @file en.myt-data.hotdata.html
* @author 김기남 (skt.P161322@partner.sk.com)
* @since 2020.09.15
* Summary: 영문 실시간 휴대폰 잔여량 및 부가 서비스 조회 화면
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area">Skip to main contents</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="myt-data-hotdata" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <%- include('../../../../../common_en/views/components/header.component.html', { title: 'MY DATA / TALK / TEXT', svcInfo: svcInfo }); %>
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">Main contents</span></h2>
        <div class="container">
            <%- include('../../../../common_en/views/components/common.select-line.component.html', { svcInfo: svcInfo, xtEid: { single: "MWMA_A10_B81_C1200-1", multiple : "MWMA_A10_B81_C1200-1" } }); %>
            
            <%_ if (usageData && usageData.data && usageData.data.length > 0) { _%>
                <%- include('../../components/usage/en.myt-data.usage.circle-graphbox.html', { type: 'data', color: 'red', typeStr: 'Data', items: usageData.data, usageData: usageData }); _%>
            <%_ } _%>

            <%_ if (usageData && usageData.voice && usageData.voice.length > 0) { _%>
                <%- include('../../components/usage/en.myt-data.usage.circle-graphbox.html', { type: 'voice', color: 'green', typeStr: 'Video · Additional Calls', items: usageData.voice }); _%>
            <%_ } _%>

            <%_ if (usageData && usageData.sms && usageData.sms.length > 0) { _%>
                <%- include('../../components/usage/en.myt-data.usage.circle-graphbox.html', { type: 'sms', color: 'yellow', typeStr: 'SMS / MMS', items: usageData.sms }); _%>
            <%_ } _%>
        </div>

        <%- include('../../components/usage/myt-data.usage.information.html'); %>

    </div>
    <!--// #contents -->
    <%- include('../../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo }); %>
</div>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        new Tw.LineComponent($('#myt-data-hotdata'), '.fe-bt-line', true, null);
    });

</script>
<% include ../../components/end.component.html %>