<%#
* MenuName: 나의 데이터/통화 > 실시간 잔여량
* @file myt-data.usage.error.html
* @author 김기남 (skt.P161322@partner.sk.com)
* @since 2020.09.16
* Summary: 영문 실시간 잔여량 에러 화면
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area">Skip to main contents</a></li>
        </ul>
    </div>

    <div class="wrap">
        <%- include('../../../../../common_en/views/components/header.component.html', { title: 'MY DATA / TALK / TEXT', svcInfo: svcInfo }); %>
    
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">Main contents</span></h2>
            <div class="container">
                
                <%_ if ( errorCode !== 'LINE_NOT_EXIST' ) { _%>
                    <%- include('../../../../common_en/views/components/common.select-line.component.html', { svcInfo: svcInfo, xtEid: { single: "MWMA_A10_B81_C1200-1", multiple : "MWMA_A10_B81_C1200-1" } }); %>
                    <hr class="cont-sp type1" aria-hidden="true" />
                <%_ } _%>
                
                <div class="cont-box nogaps-hoz">
                    <div class="container warning pb120">
                        <h3 class="complete-title pt60 mt0">
                            <img src="<%= CDN %>/img/en/ico_notice_point_gray.png" alt=""/>
                            <span class="mid-txt"><%- error.title.replace(/\n/gi, '<br />')%></span>
                        </h3>
                        <p class="complete-error-tx">
                            <span class="tx2">
                                <%- error.contents.replace(/\n/gi, '<br />') %>
                            </span>

                            <%_ if ( errorCode === 'LINE_NOT_EXIST' ) { _%>
                                <button id="goto-line" class="bt-link-tx underline mt10" data-xt_eid="MWMA_A10_B81_C1200-7" data-xt_csid="NO" data-xt_action="BC">Register Line</button>
                            <%_ } _%>
                        </p>
                    </div>
                </div>
                
                <%_ if ( errorCode !== 'LINE_NOT_EXIST' ) { _%>
                    <%- include('../../components/usage/myt-data.usage.information.html'); %>
                <%_ } _%>
                
            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo }); %>
    </div>
</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () { 
    new Tw.LineComponent($('#contents'), '.fe-bt-line', true, null);
    new Tw.CommonLineComponent($('#contents'), '<%= svcInfo ? svcInfo.svcMgmtNum : "" %>', '<%= svcInfo ? svcInfo.svcAttrCd : "" %>');
  });
</script>
<% include ../../components/end.component.html %>   