<%#
* @file myt-fare.history.monthly.html
* @author Lee Sanghyoung (silion@sk.com)
* @since 2018.09.17
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->

    <div class="wrap">
        <% if(isMicro) { %>
        <%- include('../../../../../common/views/components/header.component.html', { title: currentMonth + '월 소액결제 상세', svcInfo: svcInfo}); %>
        <% } else { %>
        <%- include('../../../../../common/views/components/header.component.html', { title: currentMonth + '월 콘텐츠 이용료 상세', svcInfo: svcInfo}); %>
        <% } %>

        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>

            <div class="container">

                <!-- payment-detail-wrap -->
                <div class="payment-detail-wrap">
                    <div class="payment-detail-box mb0">
                        <div class="detail-inner">
                            <div class="detail-list">
                                <ul>
                                    <li>
                                        <div>
                                            <span class="title">사용금액</span>
                                            <span class="tx-cont"><%=data.usageAmount%> <span class="tx-regular">원</span></span>
                                        </div>
                                        <div>
                                            <ul class="inner-list">
                                                <li>
                                                    <span class="title">이용한도</span>
                                                    <span class="tx-cont"><%=data.useLimit%> 원</span>
                                                </li>
                                                <li>
                                                    <span class="title">잔여한도</span>
                                                    <span class="tx-cont"><%=data.restLimit%> 원</span>
                                                </li>
                                                <li>
                                                    <span class="title">선결제 하신 금액</span>
                                                    <span class="tx-cont"><%=data.prepaid%> 원</span>
                                                </li>
                                                <li>
                                                    <span class="title">선결제 가능 금액</span>
                                                    <span class="tx-cont"><%=data.restPrepay%> 원</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// payment-detail-wrap -->
                <p class="payment-detail-btm-info">
                    잔여한도 = 이용한도 – 사용 금액 + 선결제 하신 금액<br />
                    - 사용 금액 : 이번 달 소액결제 사용 금액<br />
                    - 선결제 하신 금액 : 이번 달 선결제 하신 소액결제 금액
                </p>

            </div>


        </div>

        <footer id="fe-all-menu">
            <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
            <%- include('../../../../common/views/components/masking.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>

    <% include ../../components/javascript.component.html %>
    <script>
      $(document).ready(function () {
        new Tw.MyTFareContentsHistory($(document));
      });
    </script>
</body>
<% include ../../components/end.component.html %>
