<%#
* @file myt-data.cookiz.html
* @author Jiman Park (jiman.park@sk.com)
* @since 2018.09.13
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body class="bg-white">
<div class="wrap step" data-menuId="<%= pageInfo.menuId %>">
    <div class="popup-page tw-popup nobg fixed-bottom" id="fe-cookiz-wrap">
        <!-- #header -->
        <!-- OP002-3195 [myT] (W-1908-027-03) 쿠키즈 요금제 변경 요청 OP002-3882 Start -->
        <%- include('../components/header.component.html', { title: '팅·쿠키즈·안심음성요금', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!-- OP002-3195 [myT] (W-1908-027-03) 쿠키즈 요금제 변경 요청 OP002-3882 End -->
        <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps">
                <ul class="link-long-list">
                    <% if ( isApp ) { %>
                    <li>
                        <div class="link-long">
                            <button class="fe-request-gift">팅 선물 조르기
                                <span class="tx-sub">
                                    <span class="ico"><span class="blind">팅 선물 조르기 자세히보기</span></span>
                                </span>
                            </button>
                        </div>
                    </li>
                    <% } %>
                    <li>
                        <div class="link-long">
                            <button class="fe-auth-history">충전 권한 내역 변경
                                <span class="tx-sub">
                                    <span class="ico"><span class="blind">충전 권한 내역 변경 자세히보기</span></span>
                                </span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <hr class="cont-sp type1" aria-hidden="true">
            <!-- .cont-box -->
            <div class="cont-box nogaps noborder">
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area type1"><!-- 타입별 탭형태 변환 -->
                            <div class="tab-linker">
                                <ul role="tablist" style="width: 100%;">
                                    <li role="presentation" aria-selected="true" aria-controls="tab1-tab" id="tab1">
                                        <a role="tab" aria-selected="true" class="fe-replace-history" href="/myt-data/recharge/cookiz">이번 달 충전</a>
                                    </li>
                                    <!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                    <li role="presentation" aria-selected="false" aria-controls="tab2-tab" id="tab2">
                                        <a role="tab" aria-selected="false" class="fe-replace-history" href="/myt-data/recharge/cookiz?auto=true#auto">매달 자동충전</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-contents">
                                <ul>
                                    <li role="tabpanel" id="tab1-tab" aria-labelledby="tab1" aria-selected="true">
                                        <% include ../../components/cookiz/myt-data.cookiz.immediately.html %>
                                    </li>
                                    <li role="tabpanel" id="tab2-tab" aria-labelledby="tab2" aria-selected="false">
                                        <% include ../../components/cookiz/myt-data.cookiz.monthly.html %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt-fixed-area">
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button class="fe-recharge_cookiz_immediately" disabled>충전하기</button>
                    <% if ( subscriptions.regularTopUpYn !== 'Y' ) { %>
                    <button class="fe-recharge_cookiz_monthly" disabled style="display:none;">충전하기</button>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="prev-step fe-common-back">취소</button>
    <!--// .popup-closeBtn -->
    </div>
</div>

<% include ../../components/javascript.component.html %>

<script>
  $(document).ready(function () {
    var oMyTDataCookiz = new Tw.MyTDataCookiz($('.wrap'));
    var oMyTDataCookizImmediately = new Tw.MyTDataCookizImmediately($('.wrap'));
    var oMyTDataCookizMonthly = new Tw.MyTDataCookizMonthly($('.wrap'));
    new Tw.MyTDataCookizOptions($('.wrap'), JSON.parse('<%- JSON.stringify(svcInfo) %>'));
  });
</script>

</body>
<% include ../../components/end.component.html %>
