<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="rn">
<div id="roamingGuide" class="wrap">
    
     <!-- 202011 - 웹접근성 수정건 적용 : 스킵네비 추가 시작 -->
     
    <%- include('../components/header.component.html', { title: '자동로밍', svcInfo: svcInfo }) %>
    <div id="contents" class="first">
    <div class="card title">
        <h2>
            별도 신청 없이 쓸 수 있는,
            <span class="colorPoint">자동로밍 서비스란?</span>
        </h2>
        <p class="description">
            내 휴대폰, 내 번호 그대로<br />
            해외에서 바로 이용할 수 있는 서비스입니다.
        </p>
    </div>
    <div class="anchors">
        <a href="#lte" class="active">LTE 자동로밍</a>
        <a href="#gsm">3G/GSM 자동로밍</a>
    </div>
    <div class="anchorsShadow"></div>

    <div id="lte">
        <div class="card">
            <h2>LTE 자동로밍을 쓰신다면?</h2>
            <div class="auto-explain">
                <img class="icon" src="<%= CDN %>/img/product/roam/ico_auto_lte.svg" />
                <h3>3G 자동로밍보다 훨씬 빠르게</h3>
                <ul class="description">
                    <li>데이터 로밍 서비스를 이용</li>
                    <li>음성 및 SMS는 3G 자동로밍과 동일하게 이용</li>
                </ul>
                <div class="links">
                    <a class="link" data-command="showCountries">이용 가능 국가 보기</a>
                </div>
            </div>
        </div>
        <div class="card config pb4">
            <h2>설정 방법</h2>
            <h3>휴대폰에서 LTE 로밍 설정</h3>
            <p>
                LTE 데이터 로밍을 이용하기 위해 휴대폰에서 LTE 사용 모드 및 지정된 사업자 망을 설정해주세요.
                현지 사정에 따라 LTE 데이터 통신이 원활하지 않은 경우 3G 데이터로 접속될 수 있습니다.
            </p>

            <div class="qna">
                <div class="q">
                    <span class="title">iOS: 아이폰 6S(iOS9 기준)</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_expand.svg" width="13">
                </div>
                <div class="a">
                    <img src="<%= CDN %>/img/product/vi-set-loaming1.png" width="100%" />
                    <ol>
                        <li>'설정'에서 '셀룰러' 선택</li>
                        <li>셀룰러 데이터 ON</li>
                        <li>셀룰러 데이터 옵션 &gt; 데이터 로밍 ON</li>
                        <li>셀룰러 데이터 옵션 &gt; LTE 활성화<br />(음성 및 데이터 / 데이터 전용 중 선택)</li>
                    </ol>
                </div>

                <div class="q">
                    <span class="title">안드로이드</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_expand.svg" width="13">
                </div>
                <div class="a">
                    <img src="<%= CDN %>/img/product/vi-set-loaming2.png" width="100%" />
                    <ol>
                        <li>환경 설정에서 'T로밍' 선택</li>
                        <li>'데이터 로밍 설정', 'LTE 로밍 사용' 체크
                    </ol>
                </div>
            </div>

            <h3>LTE 로밍 수동 설정</h3>

            <div class="qna">
                <div class="q">
                    <span class="title">일반폰</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_expand.svg" width="13">
                </div>
                <div class="a pb15">
                    <p>
                        메뉴 &gt; 1.T서비스 &gt; 1.글로벌 로밍 &gt;
                        1.시스템 선택 &gt; 확인 &gt; 2.수동 선택 &gt; 국가별 할인망 선택
                    </p>
                </div>

                <div class="q">
                    <span class="title">스마트폰(iOS)</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_expand.svg" width="13">
                </div>
                <div class="a" width="100%">
                    <img src="<%= CDN %>/img/product/vi-set-loaming3.png" width="100%" />
                    <ol>
                        <li>'설정'에서 '네트워크 사업자' 선택</li>
                        <li>자동 OFF</li>
                        <li>제휴 이동통신사망 선택</li>
                    </ol>
                </div>
                <div class="q">
                    <span class="title">안드로이드</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_expand.svg" width="13">
                </div>
                <div class="a">
                    <img src="<%= CDN %>/img/product/vi-set-loaming4.png" width="100%" />
                    <ol>
                        <li>'설정'에서 'T로밍' 선택</li>
                        <li>로밍 이동통신사 선택</li>
                        <li>수동 선택</li>
                        <li>해외 할인망 선택</li>
                    </ol>
                    <ul>
                       <li>
                           대부분의 국가에서 SK텔레콤 지정 이동통신사망으로 자동 설정이지만, 혹시라도 안될 경우에는,
                           위 내용을 참고하셔서 수동설정해 주세요.
                           지정 이동통신사망 이외에서 로밍 이용 시 과다한 요금이 발생할 수 있습니다.
                       </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="gsm">
        <div class="card">
            <h2>3G 자동로밍을 쓰신다면?</h2>
            <div class="auto-explain">
                <img class="icon" src="<%= CDN %>/img/product/roam/ico_auto_3g.svg" />
                <ul class="description">
                    <li>3G 방식 국가에서 음성은 물론 영상 통화까지 이용</li>
                    <li>대부분의 3G 휴대폰으로 이용 가능</li>
                </ul>
                <ul class="warning">
                    <li>3G란 3세대 휴대폰으로 영상통화가 되는 기종입니다.</li>
                </ul>
            </div>
        </div>
        <div class="card config gsm">
            <h2>GSM 자동로밍을 쓰신다면?</h2>
            <div class="auto-explain">
                <img class="icon" src="<%= CDN %>/img/product/roam/ico_auto.svg" />
                <ul class="description">
                    <li>GSM 자동로밍할 수 있는 휴대폰 출시!</li>
                    <li>유럽 및 일부 동남아 지역에서는 GSM 방식 사용</li>
                </ul>
            </div>

            <div class="qna">
                <div class="q">
                    <span class="title">통화방법</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_expand.svg" width="13">
                </div>
                <div class="a">
                    <div class="int-call-wrap">
                        <p class="nationality">
                            <i class="ico type01"></i>
                            <span class="txt">방문국</span>
                            <span class="arrow"><span class="blind">에서</span></span>
                            <i class="ico type02"></i>
                            <span class="txt">한국</span>
                        </p>
                        <p class="extxt">예) 중국에서 한국의 010-1234-5678로 전화할 때</p>
                        <div class="calling-steps">
                            <p class="step">
                                <span class="tit">0을<br />길게누름</span>
                                <span class="ico-plus"></span>
                                <span class="arr ml28"></span>
                            </p>
                            <p class="step">
                                <span class="tit">한국<br />국가 번호</span>
                                <span class="num">82</span>
                                <span class="arr"></span>
                            </p>
                            <p class="step">
                                <span class="tit">상대방<br />전화번호(0 제외)</span>
                                <span class="num">10-1234-5678</span>
                                <span class="arr ml20 mr14"></span>
                            </p>
                            <p class="step">
                                <span class="tit"><br />통화</span>
                                <i class="ico-phone"></i>
                            </p>
                        </div>
                        <p class="nationality">
                            <i class="ico type01"></i>
                            <span class="txt">방문국</span>
                            <span class="arrow"><span class="blind">에서</span></span>
                            <i class="ico type03"></i>
                            <span class="txt">한국을 제외한 모든 국가</span>
                        </p>
                        <p class="extxt">예) 중국에서 일본의 010-1234-5678로 전화할 때</p>
                        <div class="calling-steps">
                            <p class="step">
                                <span class="tit">0을<br />길게누름</span>
                                <span class="ico-plus"></span>
                                <span class="arr ml28"></span>
                            </p>
                            <p class="step">
                                <span class="tit">국가 번호<br />예) 일본81</span>
                                <span class="num asterisk">**</span>
                                <span class="arr ml22"></span>
                            </p>
                            <p class="step">
                                <span class="tit">상대방<br />전화번호(0 제외)</span>
                                <span class="num">10-1234-5678</span>
                                <span class="arr ml20 mr14"></span>
                            </p>
                            <p class="step">
                                <span class="tit"><br />통화</span>
                                <i class="ico-phone"></i>
                            </p>
                        </div>
                    </div>
                    <ul class="description">
                        <li>영상통화 시 통화 버튼 대신 영상통화 버튼을 누르시면 됩니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/roaming-next/roaming.guide.cs.html'); %>
    <div class="h36"></div>
    </div>
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }) %>
</div>
<%- include('../../components/roaming-next/roaming.menu.html', {svcInfo}); %>
</body>
<% include ../../components/javascript.component.html %>
<script type="text/javascript">
  var baseDiv = '#roamingGuide';
  $(document).ready(function () {
    var main = new Tw.RoamingGuides($(baseDiv));
    main.prepareAnchorTabs();
  });
</script>
<% include ../../components/end.component.html %>
