<%- include('../../components/start.component.html',
  {
    pageInfo: locals.pageInfo,
    includeRoam: true,
    includeCalendar: true,
  });
%>
<body class="rn">
<div id="roamingMain">
    <div id="gnb">
        <span class="menu">
            <img src="<%= CDN %>/img/product/roam/menu_black.png" alt="컨텍스트 메뉴" width="24" height="24" />
        </span>
        <img class="logo" src="<%= CDN %>/img/product/roam/logo.png" alt="로고" width="94" height="24" />
    </div>
    <div class="background"></div>
    <div id="contents">
        <h2>해외여행 갈 땐</h2>
        <h2 class="colorPoint">T로밍과 함께 !</h2>
        <p class="description">
            T로밍 요금제를 통해 해외에서도 국내처럼 <br />
            자유롭게 baro 통화하세요.
        </p>
        <div class="card">
            <h3>국가별 맞춤 로밍 요금제 추천</h3>
            <p class="description">여행하실 나라를 선택해주세요</p>
            <div id="nations">
                <ul></ul> 
            </div>
            <p class="description">찾으시는 나라가 없으신가요?</p>
            <form action="#" onsubmit="searchNation(); return false;">
                <div class="field-container">
                    <input type="text" placeholder="원하시는 국가 명을 입력해주세요" id="nation-search" />
                    <img src="<%= CDN %>/img/product/roam/ico_search_a.png" width="21" height="21" alt="Search" />
                </div>
            </form>
            <div class="link">
                <a href="#" onclick="openNationsDialog(); return false;">전체 국가보기</a>
            </div>
        </div>
        <div class="banner">
            <!-- TODO: 배너 API 연동 -->
            <a href="/product/roaming/info/barocall">
                <img src="<%= CDN %>/img/product/roam/banner_01.png" alt="광고배너 Baro 통화" />
            </a>
        </div>
        <div class="card">
            <h3>로밍 요금제 한눈에 보기</h3>
            <div id="tariffs">
            </div>
        </div>
        <div class="card no-padding">
            <a href="/product/roaming/coupon">
                <div class="menu-link border-bottom">
                    <img class="icon" src="<%= CDN %>/img/product/roam/ico_coupon.png" width="32" />
                    <span>로밍 카드/쿠폰</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_arrow.png" width="13" />
                </div>
            </a>
            <a href="/product/roaming/fi/guide">
                <div class="menu-link">
                    <img class="icon" src="<%= CDN %>/img/product/roam/ico_barobox.png" width="32" />
                    <span>baro Box 대여</span>
                    <img class="arrow" src="<%= CDN %>/img/product/roam/ico_arrow.png" width="13" />
                </div>
            </a>
        </div>
    </div>
    <!--
        TODO:
        출국 전 알아두면 좋은 정보
        로밍 중 휴대폰 분실 안내
    -->
</div>
<div id="nationsDialog" class="dialog">
    <div class="header">
        <h1>로밍 가능한 전체 국가</h1>
        <div class="close" onclick="closeDialog()">
            <svg width="20" height="20" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <g fill="#000">
                    <rect height="3" rx="1.5" transform="matrix(.70710678 .70710678 -.70710678 .70710678 20.353553 -8.137825)" width="42" x="-1" y="19"/>
                    <rect height="3" rx="1.5" transform="matrix(-.70710678 .70710678 .70710678 .70710678 19.646447 -8.137825)" width="42" x="-1" y="19"/>
                </g>
            </svg>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li id="major">주요국가</li>
            <li id="europe">유럽</li>
            <li id="asia">아시아</li>
            <li id="america">미주</li>
            <li id="oceania">오세아니아</li>
            <li id="middleeast">중동</li>
            <li id="africa">아프리카</li>
        </ul>
    </div>
    <div class="content">
        <ul>

        </ul>
    </div>
</div>
<div id="scheduleDialog" class="dialog">
    <div class="header">
        <img src="<%= CDN %>/img/product/roam/img_nation_m_01.png" width="100%" />
        <div class="summary">
            <h1><span id="target-nation"></span>, 언제 떠나세요?</h1>
            <div>
                <div class="date">
                    <h2>가는날</h2>
                    <h3 id="date-depart">-</h3>
                </div>
                <div class="date">
                    <h2>오는날</h2>
                    <h3 id="date-arrive">-</h3>
                </div>
            </div>
        </div>
        <div class="close" onclick="closeDialog()">
            <svg width="20" height="20" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <g fill="#fff">
                    <rect height="3" rx="1.5" transform="matrix(.70710678 .70710678 -.70710678 .70710678 20.353553 -8.137825)" width="42" x="-1" y="19"/>
                    <rect height="3" rx="1.5" transform="matrix(-.70710678 .70710678 .70710678 .70710678 19.646447 -8.137825)" width="42" x="-1" y="19"/>
                </g>
            </svg>
        </div>
    </div>
    <div id="scheduleContent"><div id="calendar"></div></div>
    <div id="scheduleConfirm" class="bottom-button not-prepared" onclick="tryConfirm();">
        추천 요금제 확인
    </div>
</div>
<script type="text/x-handlebars-template" id="tpl-nation-card">
    <li onclick="openScheduleDialog('{{ code }}', '{{ name }}');">
        <img src="{{ imageUrl }}" width="{{ width }}">
        <span>{{ name }}</span>
    </li>
</script>
<script type="text/x-handlebars-template" id="tpl-tariff-card">
    <div class="tariff">
        <img src="<%= CDN %>/img/product/roam/{{ icon }}" alt="product-icon" /> 
        <h4>{{ title }}</h4>
        <h5>{{ subtitle }}</h5>
    </div>
</script>
</body>
<% include ../../components/javascript.component.html %>
<script type="text/javascript">
  $(document).ready(function () {
    new Tw.NextRoaming($('#roamingMain'), '<%= pageInfo.menuId %>')
    fillRecommendedNations();
    fillTariffs();
    prepareNations();
    $('#nation-search').autocomplete({
      source: allNations,
      delay: 100,
      minLength: 1,
    });
    setupNationsDialog();
    // openSchedulePopup('japan');
  });
  function prepareNations() {
    let all = [];
    const categories = Object.keys(nations);
    for (let i=0; i<categories.length; i+=1) {
      let category = categories[i];
      if (category === 'major')
        continue;
      const items = nations[category].split(', ');
      all = all.concat(items);
    }
    all.sort();
    allNations = all;
  }
  function setupNationsDialog() {
    const menuItems = $('#nationsDialog .menu li');
    for (var i=0; i<menuItems.length; i++) {
      menuItems[i].onclick = function (event) {
        onClickNationGroup(event.target)
      };
    }
  }
  function onClickNationGroup(menu) {
    $('#nationsDialog .menu li').removeClass('active');
    menu.className = 'active';
    const selectedNations = nations[menu.id].split(', ')
    const targetList = $('#nationsDialog .content ul')
    targetList.html('');
    for (var nation of selectedNations) {
      var li = document.createElement('li');
      li.onclick = function(e) {
        var nationName = e.target.innerText
        openScheduleDialog('ETC', nationName);
      };
      li.innerText = nation;
      targetList.append(li);
    }
  }
  function fillRecommendedNations() {
    const GAP = 6;
    const COLUMN = 3;
    const container = document.getElementById('nations');
    const nationWidth = Math.floor((container.clientWidth - GAP * COLUMN) / COLUMN);
    const ul = document.querySelector('#nations ul');
    const template = Handlebars.compile($('#tpl-nation-card').html());
    for (let i = 0; i < recommendedNationList.length; i++) {
      const item = recommendedNationList[i];
      const li = template({
        width: nationWidth - GAP,
        name: item.name,
        code: item.code,
        imageUrl: item.url,
      });
      ul.innerHTML += li;
    }
  }

  function fillTariffs() {
    const template = Handlebars.compile($('#tpl-tariff-card').html());
    const container = document.getElementById('tariffs');
    container.innerHTML = '';
    for (var i=0; i<tariffList.length; i++) {
      const item = tariffList[i];
      container.innerHTML += template({
        icon: item.icon,
        title: item.name,
        subtitle: item.description,
      });
    }
  }
  function openNationsDialog() {
    onClickNationGroup(document.getElementById('major'));
    $('#roamingMain').css('display', 'none');
    $('#nationsDialog').css('display', 'block');
  }

  function openScheduleDialog(code, name) {
    $('#scheduleDialog').css('display', 'block');
    $('#roamingMain').css('display', 'none');

    $('#date-depart').html('-');
    $('#date-arrive').html('-');
    $('#target-nation').html(name);
    $('#target-nation').attr('data-code', code);

    $('div#calendar').daterangepicker({
      element: $('div#calendar'),
      parentEl: 'div#calendar',
      minDate: moment().add(1, 'days').format('YYYY-MM-DD'),
    }, function(start, end) {
      if (start && end) {
        $('#scheduleConfirm').removeClass('not-prepared');
      } else {
        $('#scheduleConfirm').addClass('not-prepared');
      }

      if (start) {
        $('#date-depart').html(start.format('YYYY.MM.DD'));
      }
      if (end) {
        $('#date-arrive').html(end.format('YYYY.MM.DD'));
      } else {
        $('#date-arrive').html('-');
      }
    });
  }

  function searchNation() {
    try {
      var nationName = $('#nation-search').val();
      var nationCode = 'ETC';
      openScheduleDialog(nationCode, nationName);
    } catch (e) {
      console.error(e);
    }
  }

  function tryConfirm() {
    const classes = $('#scheduleConfirm').attr('class');
    if (classes.indexOf('not-prepared') >= 0) {
      return false;
    }

    var startDate = moment($('#date-depart').html(), 'YYYY.MM.DD');
    var endDate = moment($('#date-arrive').html(), 'YYYY.MM.DD');
    var countryCode = $('#target-nation').attr('data-code');
    var countryName = $('#target-nation').html();
    document.location.href = '/product/roaming/offer?code=' + countryCode + '&name=' + countryName +
      '&from=' + startDate.format('YYYYMMDD') +
      '&to=' + endDate.format('YYYYMMDD');
  }

  function closeDialog() {
    $('#nationsDialog').css('display', 'none');
    $('#scheduleDialog').css('display', 'none');
    $('#roamingMain').css('display', 'block');
  }

  const tariffList = [
    {url: '', name: 'baro 요금제', description: '전세계 주요국가에서', icon: 'icon_planet.png'},
    {url: '', name: 'One Pass', description: '출장을 자주 간다면', icon: 'icon_onepass.png'},
    {url: '', name: 'One Pass VIP', description: '해외에서도 데이터를 무제한으로', icon: 'icon_vip.png'},
  ];

  const recommendedNationList = [
    {'url': '<%= CDN %>/img/product/roam/img_nation_s_01.png', 'name': '중국', 'code': 'CHN'},
    {'url': '<%= CDN %>/img/product/roam/img_nation_s_02.png', 'name': '일본', 'code': 'JPN'},
    {'url': '<%= CDN %>/img/product/roam/img_nation_s_03.png', 'name': '베트남', 'code': 'VNM'},
    {'url': '<%= CDN %>/img/product/roam/img_nation_s_04.png', 'name': '필리핀', 'code': 'PHL'},
    {'url': '<%= CDN %>/img/product/roam/img_nation_s_05.png', 'name': '미국', 'code': 'USA'},
    {'url': '<%= CDN %>/img/product/roam/img_nation_s_06.png', 'name': '이탈리아', 'code': 'ITA'},
  ];

  const nations = {
    'major': '중국, 일본, 베트남, 필리핀, 미국, 이탈리아',
    // EUR
    'europe': '건지섬, 그리스, 네덜란드, 노르웨이, 니제르, 덴마크, 독일, 라트비아, 러시아, 루마니아, 룩셈부르크, 리투아니아, ' +
      '리히텐슈타인, 마케도니아, 맨섬, 모나코, 몬테네그로, 몰타, 바티칸, 벨기에, 벨라루스, 보스니아헤르체고비나, 부르키나파소, ' +
      '불가리아, 산마리노, 세르비아, 스발바르 제도, 스웨덴, 스위스, 스페인, 슬로바키아, 슬로베니아, 아르메니아, 아이슬란드, ' +
      '아일랜드, 알바니아, 에스토니아, 에티오피아, 영국, 오스트리아, 올란드제도, 우크라이나, 이탈리아, 저지섬, 조지아(그루지야), ' +
      '지브롤터, 체코, 크로아티아, 키프로스, 터키, 페로제도, 포르투갈, 폴란드, 프랑스, 핀란드, 헝가리',
    // ASP
    'asia': '네팔, 대만, 라오스, 마카오, 말레이시아, 몽골, 미얀마, 방글라데시, 베트남, 부탄, 브루나이, 스리랑카, ' +
      '싱가포르, 아제르바이젠, 우즈베키스탄, 인도, 인도네시아, 일본, 중국, 카자흐스탄, 캄보디아, 키르기즈스탄, 태국, 파키스탄, 필리핀, 홍콩',
    // AMC
    'america': '과테말라, 니카라과, 도미니카 공화국, 멕시코, 미국, 버진아일랜드, 브라질, 아르헨티나, 에콰도르, 엘살바도르, ' +
      '우루과이, 칠레, 캐나다, 코스타리카, 콜롬비아, 파나마, 페루, 푸에르토리코',
    // OCN
    'oceania': '뉴질랜드, 호주',
    // MET
    'middleeast': '아랍에미리트(UAE), 이스라엘, 카타르',
    // AFT
    'africa': '가봉, 니제르, 르완다, 마다가스카르, 모리셔스, 알제리, 우간다, 이집트, 잠비아, 케냐, 콩고 민주공화국, 차드, 탄자니아',
  };
  var allNations = [];
</script>
<% include ../../components/roaming-next/calendar.javascript.html %>
<% include ../../components/end.component.html %>
