<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="rn">
<div id="roamingTariffs" class="wrap">
    <div id="appbar" class="gnb-opaque">
        <span class="menu icon-gnb-menu">
            <img src="<%= CDN %>/img/product/roam/ico_menu_b.svg" alt="메뉴" width="24" height="24" />
        </span>
        <h1>T로밍 요금제</h1>
        <a href="/common/search-main">
            <img class="search" src="<%= CDN %>/img/svg/icon_48px_titlebar_search.svg" width="24" height="24" alt="검색"/>
        </a>
    </div>
    <%- include('../components/header.component.html', { title: 'T로밍 요금제', svcInfo: svcInfo }) %>
    <div id="contents">
    <div class="header">
        <h2>나의 여행 <span class="colorPoint">패턴</span>을 <span class="colorPoint">선택</span>해 보세요!</h2>
        <div class="anchors">
            <div class="anchor">
                <button role="link">
                    <img src="<%= CDN %>/img/product/roam/tab_01_on.png" width="128" />
                </button>
            </div>
            <div class="anchor">
                <button role="link">
                    <img src="<%= CDN %>/img/product/roam/tab_02_off.png" width="128" />
                </button>
            </div>
            <div class="anchor">
                <button role="link">
                    <img src="<%= CDN %>/img/product/roam/tab_03_off.png" width="128" />
                </button>
            </div>
            <div class="anchor">
                <button role="link">
                    <img src="<%= CDN %>/img/product/roam/tab_04_off.png" width="128" />
                </button>
            </div>
            <div class="anchor">
                <button role="link">
                    <img src="<%= CDN %>/img/product/roam/tab_05_off.png" width="128" />
                </button>
            </div>
        </div>
    </div>
    <div id="groups">
    </div>
    <div class="card">
      <h2>국가별 요금제 찾기</h2>

      <form class="search-form">
        <div class="field-container">
          <input type="text" placeholder="원하는 국가명을 입력해 주세요." id="nation-search" />
            <button role="link" title="국가 검색">
                <img src="<%= CDN %>/img/product/roam/ico_search_a.png" alt="Search" />
            </button>
        </div>
      </form>
      <div class="link">
        <a href="#" class="fe-show-nations">전체 국가 보기</a>
      </div>
    </div>
    </div>
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }) %>
</div>
<script type="text/x-handlebars-template" id="tpl-tariff-group">
    <div class="group" id="group-{{id}}">
        <div class="summary">
            <img src="{{ background }}" />
            <h2>{{ name }}</h2>
            <p>
                {{{ description }}}
            </p>
        </div>
        <div class="tariffs">
            {{#each items}}
            <a href="/product/callplan?prod_id={{ id }}">
                <div class="tariff">
                    <span class="price">{{ price }}</span>
                    <h3>{{ name }}</h3>
                    <div class="data">
                        <img src="<%= CDN %>/img/product/roam/ico_storage.svg" width="12" height="12" alt="storage" />
                        <span>{{ data }}</span>
                    </div>
                    <span class="phone">{{ phone }}</span>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</script>
<%- include('../../components/roaming-next/schedule.picker.html'); %>
<%- include('../../components/roaming-next/roaming.menu.html', {svcInfo}); %>
</body>
<% include ../../components/javascript.component.html %>
<script type="text/javascript">
  $(document).ready(function () {
    new Tw.RoamingTariffs($('#roamingTariffs'),
      JSON.parse('<%- JSON.stringify(groups) %>'),
      {
        'EUR': JSON.parse('<%- JSON.stringify(nations.eur) %>'),
        'AFR': JSON.parse('<%- JSON.stringify(nations.afr) %>'),
        'ASP': JSON.parse('<%- JSON.stringify(nations.asp) %>'),
        'AMC': JSON.parse('<%- JSON.stringify(nations.amc) %>'),
        'MET': JSON.parse('<%- JSON.stringify(nations.met) %>'),
        'OCN': JSON.parse('<%- JSON.stringify(nations.ocn) %>'),
      }
    );
  });
</script>
<% include ../../components/roaming-next/calendar.javascript.html %>
<% include ../../components/end.component.html %>
