<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body class="rn">
<div id="roamingAddons">
    <div id="appbar" class="gnb-opaque">
        <span class="menu icon-gnb-menu">
            <img src="<%= CDN %>/img/product/roam/ico_menu_b.svg" alt="메뉴" width="24" height="24" />
        </span>
        <h1>T로밍 부가서비스</h1>
        <a href="/common/search-main">
            <img class="search" src="<%= CDN %>/img/svg/icon_48px_titlebar_search.svg" width="24" height="24" alt="검색" />
        </a>
    </div>
    <%- include('../components/header.component.html', { title: 'T로밍 부가서비스', svcInfo: svcInfo }) %>
    <div id="contents">
        <div class="filters">
            <h2>부가서비스 종류</h2>
            <% Object.keys(filters).map(filterId => {%>
            <span class="tag" id="tag<%= filterId %>">
                #<%= filters[filterId] %>
            </span>
            <% }) %>
        </div>
        <div class="items">
        </div>
        <div class="h36"></div>
    </div>
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }) %>
</div>
<%- include('../../components/roaming-next/roaming.menu.html', {svcInfo}); %>
</body>
<% include ../../components/javascript.component.html %>
<script type="text/javascript">
  $(document).on('ready', function () {
    new Tw.RoamingAddons($('#roamingAddons'),
      JSON.parse('<%- JSON.stringify(addonData.products) %>'),
      JSON.parse('<%- JSON.stringify(addonUsing) %>')
    );
  });
</script>
<% include ../../components/roaming-next/roaming.addons.component.html %>
<% include ../../components/end.component.html %>
