<%#
* FileName: myt-data.submain.family-moa.html
* Author: 김인환 (skt.p132150@partner.sk.com)
* Date: 2018.09.17
%>


<!-- #contents -->
<div id="contents" class="container-wrap">
    <h2 class="blind">내용</h2>
    <div class="container">
        <hr class="cont-sp type1" aria-hidden="true"/>

        <!-- .cont-box -->
        <div class="cont-box">
            <div class="box-data-family-banner">
                <div class="info-data-family-banner">
                    <dl class="data-family-list">
                        <dt>나의 T가족모아 데이터<button class="ico"></button></dt>
                        <dd><em class="data">10.6</em><em class="unit">GB</em><span class="tx">남음</span></dd>
                    </dl>
                    <span class="ico-data-family"></span>
                    <span class="data-family-limit">자유사용</span>
                </div>
            </div>
        </div>
        <!--// .cont-box -->

        <hr class="cont-sp type1" aria-hidden="true"/>

        <!-- .cont-box -->
        <div class="cont-box">
            <div class="box-data-family-banner">
                <div class="info-data-family-banner">
                    <dl class="data-family-list">
                        <dt>나의 T가족모아 데이터<button class="ico"></button></dt>
                        <dd><em class="data">1</em><em class="unit">GB</em><span class="tx">남음</span></dd>
                    </dl>
                    <span class="ico-data-family"></span>
                    <span class="data-family-limit">한도 1GB</span>
                </div>
            </div>
        </div>
        <!--// .cont-box -->

        <hr class="cont-sp type1" aria-hidden="true"/>

        <!-- .cont-box -->
        <div class="cont-box">
            <div class="box-data-family-banner">
                <div class="info-data-family-banner">
                    <dl class="data-family-list">
                        <dt>나의 T가족모아 데이터<button class="ico"></button></dt>
                        <dd><em class="data">모두 소진</em></dd>
                    </dl>
                    <span class="ico-data-family"></span>
                    <span class="data-family-limit">한도 1GB</span>
                </div>
            </div>
        </div>
        <!--// .cont-box -->

        <hr class="cont-sp type1" aria-hidden="true"/>

        <!-- .cont-box -->
        <div class="cont-box">
            <div class="box-data-family-banner">
                <div class="info-data-family-banner">
                    <dl class="data-family-list">
                        <dt>나의 T가족모아 데이터<button class="ico"></button></dt>
                        <dd><em class="data">0</em><em class="unit">GB</em><span class="tx">남음</span></dd>
                    </dl>
                    <span class="ico-data-family"></span>
                    <span class="data-family-limit">한도 0GB</span>
                </div>
            </div>
        </div>
        <!--// .cont-box -->
    </div>
</div>
<!--// #contents -->