<%#
* @file myt-data.submain.html
* @author Kim InHwan (skt.p132150@partner.sk.com)
* @since 2018.09.17
%>

<section class="cont-card" data-id="recent_usage">
    <div class="section-inner">
        <div class="head-tit low">최근 사용량
            <button type="button" class="tip" title="최근데이터사용량" id="TC000023" page-id="DC1" aria-haspopup="true" data-xt_eid="<%=data.xtEid.recentUsageTip%>" data-xt_csid="NO" data-xt_action="BC">TIP</button>
            <a href="#" class="link white-space" title="최근 사용량으로 이동" data-xt_eid="<%=data.xtEid.recentUsageMore%>" data-xt_csid="NO" data-xt_action="BC"></a>
        </div>
        <div class="card-cont">
            <div class="recent-graph-tab">
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area new01 small">
                            <div class="tab-linker">
                                <ul class="fe-tab-wrap" role="tablist" style="width: 100%;">
                                    <li role="presentation" aria-selected="true"><!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                        <a href="#none" role="tab" aria-selected="true" aria-controls="graph-tab1-tab" id="graph-tab1" data-xt_eid="<%=data.xtEid.recentUsageData%>" data-xt_csid="NO" data-xt_action="BC">데이터</a><!-- 링크 이동시 활성화 된 탭에 aria-selected="true" 설정 -->
                                    </li>
                                    <li role="presentation" aria-selected="false">
                                        <a href="#none" role="tab" aria-selected="false" aria-controls="graph-tab2-tab" id="graph-tab2" data-xt_eid="<%=data.xtEid.recentUsageVoice%>" data-xt_csid="NO" data-xt_action="BC">음성</a>
                                    </li>
                                    <li role="presentation" aria-selected="false">
                                        <a href="#none" role="tab" aria-selected="false" aria-controls="graph-tab3-tab" id="graph-tab3" data-xt_eid="<%=data.xtEid.recentUsageChar%>" data-xt_csid="NO" data-xt_action="BC">문자</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-contents">
                                <ul class="data-graph"> <!-- 201211 [OP002-10304] 수정08 -->
                                    <li role="tabpanel" id="graph-tab1-tab" aria-labelledby="graph-tab1" aria-selected="true">
                                        <div class="recent-graph-inner kjs0 fe-tab-data fe-tab-body">
                                        </div>
                                    </li>
                                    <li role="tabpanel" id="graph-tab2-tab" aria-labelledby="graph-tab2" aria-selected="false">
                                        <div class="recent-graph-inner kjs1 fe-tab-voice fe-tab-body">
                                        </div>
                                    </li>
                                    <li role="tabpanel" id="graph-tab3-tab" aria-labelledby="graph-tab3" aria-selected="false">
                                        <div class="recent-graph-inner kjs2 fe-tab-sms fe-tab-body">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
