<%#
* @file myt-data.submain.remnant.html
* @author Kim InHwan (skt.p132150@partner.sk.com)
* @since 2018.09.17
* Update: 2018.11.26
%>
<% if (data.svcInfo.svcAttrCd === 'M1') { %>
<!-- Phone -->
<!-- .cont-box -->
    <% if (data.remnant && data.remnant.info) { %>
        <% if (data.remnant.info.code === 'BFF0006' || data.remnant.info.code === 'BFF0011') { %>
            <% if (data.remnant.info.isBlock === 'N') {
                var msg = (data.remnant.info.fallbackClCd === 'F0004') ? data.remnant.info.fallbackMsg : data.remnant.info.msg;
            %>
                <div class="cont-box pt0">
                    <div class="notice-point">
                        <p class="t-np1">서비스 점검 중 입니다.</p>
                        <p class="t-np2"><%= msg %></p>
                        <% if (data.remnant.info.fromDate && data.remnant.info.toDate) { %>
                        <p class="t-np3"><%= data.remnant.info.fromDate %> ~ <%= data.remnant.info.toDate %></p>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <div class="cont-box pt0">
                <% if (data.remnant.info.code === 'BLN0001') { %>
                <div class="notice-point">
                    <p class="t-np1">잠시 후 다시 이용해 주세요</p>
                    <p class="t-np2">안정적으로 실시간 조회를 하실 수 있도록<br>조회 횟수를 제한하고 있습니다.</p>
                    <p class="t-np3">2시간 동안 최대 12회 조회 가능</p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0002') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">당월 혹은 전월에 기존 <br>요금제로 재 변경한 이력이 있습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0003') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">당월 혹은 전월에 정지 이력이 있습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0005') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">본인이 법정대리인으로 <br> 등록된 자녀 회선이 아닙니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0006') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">잔여량 조회에 실패하였습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0004' || data.remnant.info.code === 'BLN0007') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">잔여량 조회 가능 항목이 없습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2"><%= data.remnant.info.code %></p>
                    <p class="t-np3"><%= data.remnant.info.msg %></p>
                </div>
                <% } %>
            </div>
        <% } %>
    <% } else { %>
        <hr class="cont-sp type1" aria-hidden="true"/>
        <div class="cont-box pt0" data-id="remnant-container">
        <% if (data.isDataShow) { %>
        <% var totalData = data.remnantData.total; %>
            <ul class="date-graph-list b-line">
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt1">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= totalData.totalRemainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="blue"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                                <!-- loop -->
                                <div class="c100 p<%= totalData.etcRemainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="red"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt1">남은 데이터</span>
                        <div class="date">
                            <span class="remain">
                                <% if (data.remnantData.totalLimit) { %>
                                <strong>무제한</strong>
                                <% } else { %>
                                <strong><%= totalData.showRemained.data %><%= totalData.showRemained.unit %></strong> 남음
                                <% } %>
                            </span>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
            </ul>
        <% } else if (data.isVoiceShow || data.isSmsShow) { %>
            <ul class="date-graph-list">
                <% if (data.isVoiceShow) { %>
                <% var rvoice = data.remnantData.voice[0]; %>
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt2">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= rvoice.remainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="green"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt2"><%= rvoice.skipNm %></span>
                        <div class="date">
                        <span class="remain">
                            <strong>
                                <% if (rvoice.isUnlimit) { %>
                                    무제한 </strong>
                                <% } else { %>
                                    <% if (rvoice.showRemained.hours > 0 ) { %>
                                    <%= rvoice.showRemained.hours %>시간
                                    <% } %>
                                    <%= rvoice.showRemained.min %>분</strong>남음
                                <% } %>
                        </span>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
                <% } %>
                <% if (data.isSmsShow) { %>
                <% var rsms = data.remnantData.sms[0]; %>
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt3">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= rsms.remainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="yellow"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt3"><%= rsms.skipNm %></span>
                        <div class="date">
                        <span class="remain">
                            <strong>
                            <% if (rsms.isUnlimit) { %>
                                <% if(rsms.total === '기본제공') { %>
                                무제한 </strong>
                                <% } else { %>
                                <%= rsms.total %>건 </strong>남음
                                <% } %>
                            <% } else { %>
                                <%= rsms.showRemained %>건 </strong> 남음
                            <% } %>
                        </span>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
                <% } %>
            </ul>
        <% } else if (data.isSpDataShow) { %>
        <% var sdata = data.remnantData.sdata[0]; %>
            <ul class="date-graph-list b-line">
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt13">
                        <div class="left">
                            <!-- .donut-chart.small -->
                            <div class="donut-chart small">
                                <div class="donut-chart-area">
                                    <!-- loop -->
                                    <div class="c100 p<%= sdata.remainedRatio %>"><!-- .p+(0~100) // -->
                                        <div class="red"><!-- red, yellow, green, blue, comet // -->
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // loop -->
                                </div>
                            </div>
                            <!-- // .donut-chart.small -->
                        </div>
                        <div class="cont">
                            <span class="txt1" id="aria-comp-bt13"><%= sdata.skipNm %></span>
                            <div class="date">
                                <span class="remain">
                                    <%_ if (sdata.isUnlimit) { _%>
                                        <strong>무제한 </strong>
                                    <%_ } else { _%>
                                        <strong><%_ if (sdata.showRemained.data) { _%>
                                                <%- sdata.showRemained.data %><%- sdata.showRemained.unit %>
                                            <%_ } else { _%>
                                                <%- sdata.showRemained %>원
                                            <%_ } _%></strong>남음
                                    <%_ } _%>
                                </span>
                            </div>
                        </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
            </ul>
        <% } %>
            <div class="user-month-bill mt16">
                <div class="detail-bill type1">
                    <ul>
                        <%_ if (data.remnantData && data.remnantData.gdata.length > 0) {
                            var rdata = data.remnantData.total; _%>
                        <li>
                            <span class="tit">나의 데이터</span>
                            <span class="value type1">
                                <% if (data.remnantData.totalLimit) { %>
                                <strong>무제한</strong>
                                <% } else { %>
                                <strong><%- rdata.showEtcmoaRemained.data + rdata.showEtcmoaRemained.unit %></strong> 남음
                                <% } %>
                            </span>
                        </li>
                        <%_ }
                        // (T가족모아옵션)
                        if (data.isTmoaData) { _%>
                        <li>
                            <span class="tit">
                                T가족모아데이터
                                <% if (data.isTmoaInsProdId && data.isTmoaProdId) { %>
                                <button type="button" class="ml10 btn-round3 btn-style3" data-id="family-moa">공유</button>
                                <% } else { %>
                                <span class="ml8"><a class="bt-link-tx small underline" href="/myt-data/familydata">자세히</a></span>
                                <% } %>
                            </span>
                            <span class="value type2"><strong><%- data.family.remained + (data.family.remained === '0'? 'KB' : '') %></strong> 남음</span>
                        </li>
                        <%_ } else if (data.isTmoaInsProdId) { _%>
                        <li>
                            <span class="tit">
                                T가족모아데이터를
                                <a class="bt-link-tx underline" href="/product/callplan?prod_id=NA00006031">가입</a>
                                해보세요!
                            </span>
                        </li>
                        <%_ }
                        // 5GX 시간권/장소권
                        if (data._5gxTicket) {
                        _%>
                        <li>
                            <span class="tit">5GX 시간권 <span class="ml8"><a class="bt-link-tx small underline" href="/myt-data/familydata">자세히</a></span></span>
                            <%_
                            // 부스트파크 옵션 이용자가 아닌 경우
                            if (data._5gxTicket.time) {
                            _%>
                                <span class="value type2">
                                    <%_
                                    if (data._5gxTicket.remained) {
                                    // 시간 설정 OFF
                                    _%>
                                    <strong><%- data._5gxTicket.remained.string %></strong> 남음
                                    <%_
                                    } else {
                                    // 시간 설정 ON
                                    _%>
                                    <strong>사용중</strong>
                                    <%_ } _%>
                                </span>
                            <%_ } _%>
                        </li>
                        <%_ } _%>
                    </ul>
                </div>
            </div>
            <%_ if (data.immCharge || data.present) {
            var twoItem = data.immCharge && data.present; _%>
            <ul class="bt-slice <%= twoItem? 'item-two': 'solid' %> pt20">
                <%_ if(data.immCharge) { _%>
                <li data-id="immCharge">
                    <button class="btn-round1 btn-style1">즉시 충전</button>
                </li>
                <%_ }
                if (data.present) { _%>
                <li data-id="present">
                    <button class="btn-round1 btn-style1">T끼리 데이터 선물</button>
                </li>
                <%_ } _%>
            </ul>
            <%_ } _%>
        </div>
        <%_ if (data.isDataShow) {
            if (data.isVoiceShow || data.isSmsShow) { _%>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box nogaps-hoz">
                <ul class="date-graph-list">
                    <%_ if (data.isVoiceShow && data.voiceItemToShow) {
                    var rvoice = data.voiceItemToShow; _%>
                    <li>
                        <!-- 2019.02.10 링크 영역 확대 -->
                        <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt4">
                        <div class="left">
                            <!-- .donut-chart.small -->
                            <div class="donut-chart small">
                                <div class="donut-chart-area">
                                    <!-- loop -->
                                    <div class="c100 p<%= rvoice.remainedRatio %>"><!-- .p+(0~100) // -->
                                        <div class="green"><!-- red, yellow, green, blue, comet // -->
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // loop -->
                                </div>
                            </div>
                            <!-- // .donut-chart.small -->
                        </div>
                        <div class="cont">
                            <span class="txt1" id="aria-comp-bt4"><%= rvoice.skipNm %></span>
                            <div class="date">
                                <span class="remain">
                                    <strong>
                                        <% if (rvoice.isUnlimit) { %>
                                            무제한 </strong>
                                        <% } else { %>
                                            <% if (rvoice.showRemained.hours > 0 ) { %>
                                            <%= rvoice.showRemained.hours %>시간
                                            <% } %>
                                            <%= rvoice.showRemained.min %>분</strong>남음
                                        <% } %>
                                </span>
                            </div>
                        </div>
                        </a>
                        <!-- //접근성 수정-->
                    </li>
                    <% } %>
                    <% if (data.isSmsShow) { %>
                    <% var rsms = data.remnantData.sms[0]; %>
                    <li>
                        <!-- 2019.02.10 링크 영역 확대 -->
                        <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt5">
                        <div class="left">
                            <!-- .donut-chart.small -->
                            <div class="donut-chart small">
                                <div class="donut-chart-area">
                                    <!-- loop -->
                                    <div class="c100 p<%= rsms.remainedRatio %>"><!-- .p+(0~100) // -->
                                        <div class="yellow"><!-- red, yellow, green, blue, comet // -->
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // loop -->
                                </div>
                            </div>
                            <!-- // .donut-chart.small -->
                        </div>
                        <div class="cont">
                            <span class="txt1" id="aria-comp-bt5"><%= rsms.skipNm %></span>
                            <div class="date">
                                <span class="remain">
                                    <strong>
                                    <% if (rsms.isUnlimit) { %>
                                        <% if(rsms.total === '기본제공') { %>
                                        무제한 </strong>
                                        <% } else { %>
                                        <%= rsms.total %>건 </strong>남음
                                        <% } %>
                                    <% } else { %>
                                        <%= rsms.showRemained %>건 </strong>남음
                                    <% } %>
                                </span>
                            </div>
                        </div>
                        </a>
                        <!-- //접근성 수정-->
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        <% } %>
    <% } %>
<!-- Phone -->
<% } else if (data.svcInfo.svcAttrCd === 'M2') { %>
<!-- PPS -->
    <% if (data.remnant && data.remnant.info) { %>
        <% if (data.remnant.info.code === 'BFF0006' || data.remnant.info.code === 'BFF0011') { %>
            <% if (data.remnant.info.isBlock === 'N') {
                var msg = (data.remnant.info.fallbackClCd === 'F0004') ? data.remnant.info.fallbackMsg : data.remnant.info.msg;
            %>
            <div class="cont-box pt0">
                <div class="notice-point">
                    <p class="t-np1">서비스 점검 중 입니다.</p>
                    <p class="t-np2"><%= msg %></p>
                    <% if (data.remnant.info.fromDate && data.remnant.info.toDate) { %>
                    <p class="t-np3"><%= data.remnant.info.fromDate %> ~ <%= data.remnant.info.toDate %></p>
                    <% } %>
                </div>
            </div>
            <% } %>
        <% } else { %>
            <div class="cont-box pt0">
                <% if (data.remnant.info.code === 'BLN0001') { %>
                <div class="notice-point">
                    <p class="t-np1">잠시 후 다시 이용해 주세요</p>
                    <p class="t-np2">안정적으로 실시간 조회를 하실 수 있도록<br>조회 횟수를 제한하고 있습니다.</p>
                    <p class="t-np3">2시간 동안 최대 12회 조회 가능</p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0002') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">당월 혹은 전월에 기존 <br>요금제로 재 변경한 이력이 있습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0003') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">당월 혹은 전월에 정지 이력이 있습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0005') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">본인이 법정대리인으로 <br> 등록된 자녀 회선이 아닙니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0006') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">잔여량 조회에 실패하였습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else if (data.remnant.info.code === 'BLN0004' || data.remnant.info.code === 'BLN0007') { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2">잔여량 조회 가능 항목이 없습니다.</p>
                    <p class="t-np3"></p>
                </div>
                <% } else { %>
                <div class="notice-point">
                    <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                    <p class="t-np2"><%= data.remnant.info.code %></p>
                    <p class="t-np3"><%= data.remnant.info.msg %></p>
                </div>
                <% } %>
                <div class="cont-box pt0" data-id="remnant-container">
                    <ul class="bt-slice solid">
                        <li data-id="immCharge">
                            <button class="btn-round1 btn-style1">선불폰 충전</button>
                        </li>
                    </ul>
                </div>
            </div>
        <% } %>
    <% } else { %>
        <hr class="cont-sp type1" aria-hidden="true"/>
        <div class="cont-box pt0" data-id="remnant-container">
            <% if (data.isDataShow) { %>
            <% var totalData = data.remnantData.total; %>
            <ul class="date-graph-list b-line">
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt6">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= totalData.totalRemainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="blue"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                                <!-- loop -->
                                <div class="c100 p<%= totalData.etcRemainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="red"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt6">남은 데이터</span>
                        <div class="date">
                            <span class="remain">
                                <% if (data.remnantData.totalLimit) { %>
                                <strong>무제한</strong>
                                <% } else { %>
                                <strong><%= totalData.showRemained.data %><%= totalData.showRemained.unit %></strong> 남음
                                <% } %>
                            </span>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
            </ul>
            <% } else if (data.isSpDataShow || data.isVoiceShow || data.isSmsShow) { %>
            <ul class="date-graph-list">
                <% if (data.isSpDataShow) { %>
                <% var sdata = data.remnantData.sdata[0]; %>
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt7">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= sdata.remainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="red"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt7"><%= sdata.skipNm %></span>
                        <div class="date">
                                <span class="remain">
                                    <strong>
                                        <% if (sdata.isUnlimit) { %>
                                        무제한 </strong>
                                        <% } else { %>
                                            <% if (sdata.showRemained.data) { %>
                                             <%= sdata.showRemained.data %><%= sdata.showRemained.unit %>
                                            <% } else { %>
                                             <%= sdata.showRemained %>원
                                            <% } %>
                                            </strong>남음
                                        <% } %>
                                </span>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
                <% } %>
                <% if (data.isVoiceShow) { %>
                <% var rvoice = data.remnantData.voice[0]; %>
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt8">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= rvoice.remainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="green"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt8"><%= rvoice.skipNm %></span>
                        <div class="date">
                            <span class="remain">
                                <strong>
                                    <% if (rvoice.isUnlimit) { %>
                                        무제한 </strong>
                                    <% } else { %>
                                        <% if (rvoice.showRemained.hours > 0 ) { %>
                                        <%= rvoice.showRemained.hours %>시간
                                        <% } %>
                                        <%= rvoice.showRemained.min %>분</strong>남음
                                    <% } %>
                            </span>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
                <% } %>
                <% if (data.isSmsShow) { %>
                <% var rsms = data.remnantData.sms[0]; %>
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt9">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= rsms.remainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="yellow"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt9"><%= rsms.skipNm %></span>
                        <div class="date">
                            <span class="remain">
                                <strong>
                                <% if (rsms.isUnlimit) { %>
                                    <% if(rsms.total === '기본제공') { %>
                                    무제한 </strong>
                                    <% } else { %>
                                    <%= rsms.total %>건 </strong>남음
                                    <% } %>
                                <% } else { %>
                                    <%= rsms.showRemained %>건 </strong>남음
                                <% } %>
                            </span>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
                <% } %>
            </ul>
            <%_
            }
            if (!data.emptyData) {
            _%>
            <div class="user-month-bill mt16">
                <div class="detail-bill type1">
                    <ul>
                        <%_ if (data.remnantData && data.remnantData.gdata.length > 0) {
                        var rdata = data.remnantData.total _%>
                        <li>
                            <span class="tit">나의 데이터</span>
                            <span class="value type1">
                                <%_ if (data.remnantData.totalLimit) { _%>
                                <strong>무제한</strong>
                                <%_ } else { _%>
                                <strong><%- rdata.showEtcmoaRemained.data %><%- rdata.showEtcmoaRemained.unit %></strong> 남음
                                <%_ } _%>
                            </span>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <%_
            }
            _%>
            <ul class="bt-slice solid mt20">
                <li data-id="immCharge">
                    <button class="btn-round1 btn-style1">선불폰 충전</button>
                </li>
            </ul>
        </div>
        <% if (data.isDataShow) { %>
            <% if (data.isVoiceShow || data.isSmsShow) { %>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box nogaps-hoz">
                <ul class="date-graph-list">
                    <% if (data.isVoiceShow) { %>
                    <% var rvoice = data.remnantData.voice[0]; %>
                    <li>
                        <!-- 2019.02.10 링크 영역 확대 -->
                        <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt10">
                            <div class="left">
                                <!-- .donut-chart.small -->
                                <div class="donut-chart small">
                                    <div class="donut-chart-area">
                                        <!-- loop -->
                                        <div class="c100 p<%= rvoice.remainedRatio %>"><!-- .p+(0~100) // -->
                                            <div class="green"><!-- red, yellow, green, blue, comet // -->
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- // loop -->
                                    </div>
                                </div>
                                <!-- // .donut-chart.small -->
                            </div>
                            <div class="cont">
                                <span class="txt1" id="aria-comp-bt10"><%= rvoice.skipNm %></span>
                                <div class="date">
                                <span class="remain">
                                    <strong>
                                        <% if (rvoice.isUnlimit) { %>
                                            무제한 </strong>
                                        <% } else { %>
                                            <% if (rvoice.showRemained.hours > 0 ) { %>
                                            <%= rvoice.showRemained.hours %>시간
                                            <% } %>
                                            <%= rvoice.showRemained.min %>분</strong>남음
                                        <% } %>
                                </span>
                                </div>
                            </div>
                        </a>
                        <!-- //접근성 수정-->
                    </li>
                    <% } %>
                    <% if (data.isSmsShow) { %>
                    <% var rsms = data.remnantData.sms[0]; %>
                    <li>
                        <!-- 2019.02.10 링크 영역 확대 -->
                        <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt11">
                            <div class="left">
                                <!-- .donut-chart.small -->
                                <div class="donut-chart small">
                                    <div class="donut-chart-area">
                                        <!-- loop -->
                                        <div class="c100 p<%= rsms.remainedRatio %>"><!-- .p+(0~100) // -->
                                            <div class="yellow"><!-- red, yellow, green, blue, comet // -->
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- // loop -->
                                    </div>
                                </div>
                                <!-- // .donut-chart.small -->
                            </div>
                            <div class="cont">
                                <span class="txt1" id="aria-comp-bt11"><%= rsms.skipNm %></span>
                                <div class="date">
                                <span class="remain">
                                    <strong>
                                    <% if (rsms.isUnlimit) { %>
                                        <% if(rsms.total === '기본제공') { %>
                                            무제한 </strong>
                                            <% } else { %>
                                            <%= rsms.total %>건 </strong>남음
                                            <% } %>
                                    <% } else { %>
                                        <%= rsms.showRemained %>건 </strong>남음
                                    <% } %>
                                </span>
                                </div>
                            </div>
                        </a>
                        <!-- //접근성 수정-->
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        <% } %>
    <% } %>
<!-- PPS -->
<% } else if (data.svcInfo.svcAttrCd === 'M3' || data.svcInfo.svcAttrCd === 'M4') { %>
    <!-- T-PocketFi & T-Login -->
    <% if (data.remnant && data.remnant.info) { %>
        <% if (data.remnant.info.code === 'BFF0006' || data.remnant.info.code === 'BFF0011') { %>
            <% if (data.remnant.info.isBlock === 'N') {
                var msg = (data.remnant.info.fallbackClCd === 'F0004') ? data.remnant.info.fallbackMsg : data.remnant.info.msg;
            %>
            <div class="cont-box pt0">
                <div class="notice-point">
                    <p class="t-np1">서비스 점검 중 입니다.</p>
                    <p class="t-np2"><%= msg %></p>
                    <% if (data.remnant.info.fromDate && data.remnant.info.toDate) { %>
                    <p class="t-np3"><%= data.remnant.info.fromDate %> ~ <%= data.remnant.info.toDate %></p>
                    <% } %>
                </div>
            </div>
            <% } %>
        <% } else { %>
        <div class="cont-box pt0">
            <% if (data.remnant.info.code === 'BLN0001') { %>
            <div class="notice-point">
                <p class="t-np1">잠시 후 다시 이용해 주세요</p>
                <p class="t-np2">안정적으로 실시간 조회를 하실 수 있도록<br>조회 횟수를 제한하고 있습니다.</p>
                <p class="t-np3">2시간 동안 최대 12회 조회 가능</p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0002') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">당월 혹은 전월에 기존 <br>요금제로 재 변경한 이력이 있습니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0003') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">당월 혹은 전월에 정지 이력이 있습니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0005') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">본인이 법정대리인으로 <br> 등록된 자녀 회선이 아닙니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0006') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">잔여량 조회에 실패하였습니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0004' || data.remnant.info.code === 'BLN0007') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">잔여량 조회 가능 항목이 없습니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2"><%= data.remnant.info.code %></p>
                <p class="t-np3"><%= data.remnant.info.msg %></p>
            </div>
            <% } %>
        </div>
        <% } %>
    <% } else { %>
        <hr class="cont-sp type1" aria-hidden="true"/>
        <div class="cont-box pt0" data-id="remnant-container">
            <% if (data.isDataShow) { %>
            <% var totalData = data.remnantData.total; %>
            <ul class="date-graph-list b-line">
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt12">
                    <div class="left">
                        <!-- .donut-chart.small -->
                        <div class="donut-chart small">
                            <div class="donut-chart-area">
                                <!-- loop -->
                                <div class="c100 p<%= totalData.totalRemainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="blue"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                                <!-- loop -->
                                <div class="c100 p<%= totalData.etcRemainedRatio %>"><!-- .p+(0~100) // -->
                                    <div class="red"><!-- red, yellow, green, blue, comet // -->
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- // loop -->
                            </div>
                        </div>
                        <!-- // .donut-chart.small -->
                    </div>
                    <div class="cont">
                        <span class="txt1" id="aria-comp-bt12">남은 데이터</span>
                        <div class="date">
                            <% if (data.remnantData.totalLimit) { %>
                            <strong>무제한</strong>
                            <% } else { %>
                            <strong><%= totalData.showRemained.data %><%= totalData.showRemained.unit %></strong> 남음
                            <% } %>
                        </div>
                    </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
            </ul>
            <% } %>
            <div class="user-month-bill mt16">
                <div class="detail-bill type1">
                    <ul>
                        <!-- DV001-15208 차감중인 공제 항목의 합한 데이터를 노출한다. -->
                        <% if (data.remnantData && data.remnantData.gdata.length > 0) { %>
                        <% var rdata = data.remnantData.total %>
                        <li>
                            <span class="tit">나의 데이터</span>
                            <span class="value type1">
                                <strong><%= rdata.showEtcmoaRemained.data %><%= rdata.showEtcmoaRemained.unit %></strong> 남음
                            </span>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <ul class="bt-slice solid mt20">
                <li data-id="immCharge">
                    <button type="button" title="즉시 충전" class="btn-round1 btn-style1">즉시 충전</button>
                </li>
            </ul>
        </div>
    <% } %>
<% } else { %>
    <!-- 유선(인터넷, 집전화, IPTV) -->
    <% if (data.remnant && data.remnant.info) { %>
        <% if (data.remnant.info.code === 'BFF0006' || data.remnant.info.code === 'BFF0011') { %>
            <% if (data.remnant.info.isBlock === 'N') {
                var msg = (data.remnant.info.fallbackClCd === 'F0004') ? data.remnant.info.fallbackMsg : data.remnant.info.msg;
            %>
            <div class="cont-box pt0">
                <div class="notice-point">
                    <p class="t-np1">서비스 점검 중 입니다.</p>
                    <p class="t-np2"><%= msg %></p>
                    <% if (data.remnant.info.fromDate && data.remnant.info.toDate) { %>
                    <p class="t-np3"><%= data.remnant.info.fromDate %> ~ <%= data.remnant.info.toDate %></p>
                    <% } %>
                </div>
            </div>
            <% } %>
        <% } else { %>
        <div class="cont-box pt0">
            <% if (data.remnant.info.code === 'BLN0001') { %>
            <div class="notice-point">
                <p class="t-np1">잠시 후 다시 이용해 주세요</p>
                <p class="t-np2">안정적으로 실시간 조회를 하실 수 있도록<br>조회 횟수를 제한하고 있습니다.</p>
                <p class="t-np3">2시간 동안 최대 12회 조회 가능</p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0002') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">당월 혹은 전월에 기존 <br>요금제로 재 변경한 이력이 있습니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0003') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">당월 혹은 전월에 정지 이력이 있습니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0005') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">본인이 법정대리인으로 <br> 등록된 자녀 회선이 아닙니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0006') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">잔여량 조회에 실패하였습니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else if (data.remnant.info.code === 'BLN0004' || data.remnant.info.code === 'BLN0007') { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2">잔여량 조회 가능 항목이 없습니다.<br>전화/인터넷전화의 정액요금제 고객님만 조회 가능합니다.</p>
                <p class="t-np3"></p>
            </div>
            <% } else { %>
            <div class="notice-point">
                <p class="t-np1">잔여량 조회 서비스를<br>이용하실 수 없습니다</p>
                <p class="t-np2"><%= data.remnant.info.code %></p>
                <p class="t-np3"><%= data.remnant.info.msg %></p>
            </div>
            <% } %>
        </div>
        <% } %>
    <% } else { %>
        <hr class="cont-sp type1" aria-hidden="true"/>
        <div class="cont-box pt0" data-id="remnant-container">
        <% if (data.isVoiceShow || data.isSmsShow) { %>
            <ul class="date-graph-list">
                <% if (data.isVoiceShow) { %>
                <% var rvoice = data.remnantData.voice[0]; %>
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt2">
                        <div class="left">
                            <!-- .donut-chart.small -->
                            <div class="donut-chart small">
                                <div class="donut-chart-area">
                                    <!-- loop -->
                                    <div class="c100 p<%= rvoice.remainedRatio %>"><!-- .p+(0~100) // -->
                                        <div class="green"><!-- red, yellow, green, blue, comet // -->
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // loop -->
                                </div>
                            </div>
                            <!-- // .donut-chart.small -->
                        </div>
                        <div class="cont">
                            <span class="txt1" id="aria-comp-bt2"><%= rvoice.skipNm %></span>
                            <div class="date">
                                        <span class="remain">
                                            <strong>
                                                <% if (rvoice.isUnlimit) { %>
                                                    무제한 </strong>
                                                <% } else { %>
                                                    <% if (rvoice.showRemained.hours > 0 ) { %>
                                                    <%= rvoice.showRemained.hours %>시간
                                                    <% } %>
                                                    <%= rvoice.showRemained.min %>분</strong>남음
                                                <% } %>
                                        </span>
                            </div>
                        </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
                <% } %>
                <% if (data.isSmsShow) { %>
                <% var rsms = data.remnantData.sms[0]; %>
                <li>
                    <!-- 2019.02.10 링크 영역 확대 -->
                    <a class="r-btn" href="/myt-data/hotdata" aria-labelledby="aria-comp-bt3">
                        <div class="left">
                            <!-- .donut-chart.small -->
                            <div class="donut-chart small">
                                <div class="donut-chart-area">
                                    <!-- loop -->
                                    <div class="c100 p<%= rsms.remainedRatio %>"><!-- .p+(0~100) // -->
                                        <div class="yellow"><!-- red, yellow, green, blue, comet // -->
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // loop -->
                                </div>
                            </div>
                            <!-- // .donut-chart.small -->
                        </div>
                        <div class="cont">
                            <span class="txt1" id="aria-comp-bt3"><%= rsms.skipNm %></span>
                            <div class="date">
                                        <span class="remain">
                                            <strong>
                                            <% if (rsms.isUnlimit) { %>
                                                <% if(rsms.total === '기본제공') { %>
                                                무제한 </strong>
                                                <% } else { %>
                                                <%= rsms.total %>건 </strong>남음
                                                <% } %>
                                            <% } else { %>
                                                <%= rsms.showRemained %>건 </strong> 남음
                                            <% } %>
                                        </span>
                            </div>
                        </div>
                    </a>
                    <!-- //접근성 수정-->
                </li>
                <% } %>
            </ul>
        <% } %>
        </div>
    <% } %>
<% } %>
