<%#
* FileName: myt-data.submain.other-line.html
* Author: Kim InHwan (skt.p132150@partner.sk.com)
* Date: 2018.09.17
* Update: 2018.11.26
%>

<li data-svc-mgmt-num="<%= data.svcMgmtNum %>"  data-name="<%= data.nickNm %>"  data-num="<%= data.svcNum %>">
    <button>
        <span class="ico-wrap"><i class="icon-cellphone-80"><span class="blind">cellphone</span></i></span>
        <span class="cont">
            <span class="info-title">
                <%= data.nickNm %>
                <% if (data.child) { %>
                <span class="badge-type1">
                    <i class="icon-children"><span class="blind">자녀</span></i>
                </span>
                <% } %>
            <span class="info-sub"><%= data.svcNum %></span>
            <span class="price"><%= data.data %><%= data.unit %></span>
            </span>
        </span>
    </button>
</li>