<%#
* FileName: myt-data.submain.html
* Author: Kim InHwan (skt.p132150@partner.sk.com)
* Date: 2018.09.17
%>

<% if (data.pattern && (data.pattern.data.length > 0 || data.pattern.voice.length > 0)) { %>
<!-- .cont-box -->
<hr class="cont-sp type1" aria-hidden="true"/>

<div class="cont-box pb0" data-id="pattern_chart">
    <div class="ti-caption-type01 pb20">
        <h2 class="tit">
        <% if (data.pattern.data.length > 0 ) { %>
        최근 데이터 사용량
        <% } else if (data.pattern.voice.length > 0) { %>
        최근 음성 사용량
        <% } %>
        </h2>
    </div>
    <div class="chart-wrap pattern">
    </div>
</div>
<% } %>