<% include ../components/header.component.html %>
<div class="container">
    <h1>Home</h1>
    <h2><%=test1%></h2>
    <button type="button" class="btn-test">Button</button>
    <div class="div-test"></div>
    <div class="prd-summary">
        <div class="inner">
            <div class="icon"><img src="../../img/ico_band.png" alt=""></div>
            <div class="prd-name">Band 데이터 6.5G</div>
            <div class="remaining-date">남은일수 <strong class="moebius-bold">18</strong>일</div>
        </div>
    </div>
    <div class="prd-state">
        <!-- section -->
        <section>
            <h2>데이터</h2>
            <div class="btn-change">
                <input class="checkbox" id="checkbox1" type="checkbox">
                <label for="checkbox1" class="checkbox-label">
                    <span class="off">GB</span>
                    <span class="look"></span>
                    <span class="on">MB</span>
                </label>
            </div>
            <div class="box-white">
                <!-- data -->
                <div class="data">
                    <div class="sec">
                        <h3>데이터 리필</h3>
                        <div class="progressbar-type01">
                            <span class="base"></span>
                            <div class="val" style="width:62%;"><!-- width:퍼센테이지 필요 // -->
                                <span class="fill"></span>
                                <span class="fill2"></span>
                            </div>
                        </div>
                        <div class="tail">
                            <div class="base">잔여 <strong class="moebius-bold">828.19</strong>MB</div>
                            <div class="rt"><strong class="moebius-bold">2,000</strong>MB</div>
                        </div>
                    </div>
                    <div class="sec">
                        <h3>데이터통화 16GB 무료</h3>
                        <div class="progressbar-type01">
                            <span class="base"></span>
                            <div class="val" style="width:100%;"><!-- width:퍼센테이지 필요 // -->
                                <span class="fill"></span>
                                <span class="fill2"></span>
                            </div>
                        </div>
                        <div class="tail">
                            <div class="base">잔여 <strong class="moebius-bold">828.19</strong>MB</div>
                            <div class="rt"><strong class="moebius-bold">828.19</strong>MB</div>
                        </div>
                    </div>
                    <div class="sec">
                        <h3>데이터통화 일 2GB</h3>
                        <div class="progressbar-type02">
                            <span class="base"></span>
                            <div class="val">
                                <span class="fill"></span>
                                <span class="fill2"></span>
                            </div>
                        </div>
                        <div class="tail">
                            <div class="base2">무제한</div>
                        </div>
                    </div>
                    <div class="sec mb20">
                        <h3>B tv 모바일 pack</h3>
                        <div class="progressbar-type02">
                            <span class="base"></span>
                            <div class="val">
                                <span class="fill"></span>
                                <span class="fill2"></span>
                            </div>
                        </div>
                        <div class="tail">
                            <div class="base2">무제한</div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <div class="col1">
                            <a href="#" class="btn-type01">당일 사용량 조회</a>
                        </div>
                    </div>
                </div>
                <!-- // data -->
                <!-- ad -->
                <div class="ad">
                    <div class="btn-group">
                        <div class="col2">
                            <a href="#" class="btn-type02">리필하기(5)</a>
                            <a href="#" class="btn-type02">T끼리 데이터 선물</a>
                        </div>
                        <div class="col1">
                            <a href="#" class="btn-type02">T 데이터 셰어링</a>
                        </div>
                    </div>
                </div>
                <!-- // ad -->
                <!-- tip -->
                <div class="tip">
                    <h3>요금제 <strong>Tip</strong></h3>
                    <div class="txt">
                        통화는 자주 안 하지만
                        <strong>데이터가 부족하다면??</strong>
                    </div>
                    <div class="link"><a href="#">데이터 무제한 요금제 알아보기</a></div>
                </div>
                <!-- // tip -->
            </div>
        </section>
        <!-- // section -->
        <!-- section -->
        <section>
            <h2>음성/영상</h2>
            <div class="box-white">
                <!-- data -->
                <div class="data">
                    <div class="sec">
                        <h3>영상, 부가전화 300분</h3>
                        <div class="progressbar-type01">
                            <span class="base"></span>
                            <div class="val" style="width:62%;"><!-- width:퍼센테이지 필요 // -->
                                <span class="fill"></span>
                                <span class="fill2"></span>
                            </div>
                        </div>
                        <div class="tail">
                            <div class="base">잔여 <strong class="moebius-bold">4</strong>시간 <strong class="moebius-bold">50</strong>분</div>
                            <div class="rt"><strong class="moebius-bold">5</strong>시간</div>
                        </div>
                    </div>
                    <div class="sec">
                        <h3>SKT 고객간 음성 무제한</h3>
                        <div class="progressbar-type02">
                            <span class="base"></span>
                            <div class="val">
                                <span class="fill"></span>
                                <span class="fill2"></span>
                            </div>
                        </div>
                        <div class="tail">
                            <div class="base2">무제한</div>
                        </div>
                    </div>
                    <div class="sec mb0">
                        <h3>집전화·이동전화 음성 무제한</h3>
                        <div class="progressbar-type02">
                            <span class="base"></span>
                            <div class="val">
                                <span class="fill"></span>
                                <span class="fill2"></span>
                            </div>
                        </div>
                        <div class="tail">
                            <div class="base2">무제한</div>
                        </div>
                    </div>
                </div>
                <!-- // data -->
                <!-- ad2 -->
                <div class="ad2">
                    <div class="btn-group">
                        <div class="col2">
                            <a href="#" class="btn-type02">리필하기(5)</a>
                        </div>
                    </div>
                </div>
                <!-- // ad2 -->
            </div>
        </section>
        <!-- // section -->
        <!-- section -->
        <section>
            <h2>음성/영상</h2>
            <div class="box-white">
                <div class="sec">
                    <h3>SMS/MMS/ⓜ메신저</h3>
                    <div class="progressbar-type01">
                        <span class="base"></span>
                        <div class="val" style="width:62%;"><!-- width:퍼센테이지 필요 // -->
                            <span class="fill"></span>
                            <span class="fill2"></span>
                        </div>
                    </div>
                    <div class="tail">
                        <div class="base">잔여 <strong class="moebius-bold">2,600</strong>원(<strong class="moebius-bold gray">26</strong>건)</div>
                        <div class="rt"><strong class="moebius-bold">5,000</strong>원 (<strong class="moebius">50</strong>건)</div>
                    </div>
                </div>
                <div class="sec mb0">
                    <h3>SMS/MMS/ⓜ메신저 기본제공</h3>
                    <div class="progressbar-type01">
                        <span class="base"></span>
                        <div class="val" style="width:100%;"><!-- width:퍼센테이지 필요 // -->
                            <span class="fill"></span>
                            <span class="fill2"></span>
                        </div>
                    </div>
                    <div class="tail">
                        <div class="base2">무제한</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // section -->
        <!-- section -->
        <section>
            <h2>기타</h2>
            <div class="box-white">
                <div class="sec mb0">
                    <h3>T쿠폰 10000 프로모션</h3>
                    <div class="progressbar-type01">
                        <span class="base"></span>
                        <div class="val" style="width:62%;"><!-- width:퍼센테이지 필요 // -->
                            <span class="fill"></span>
                            <span class="fill2"></span>
                        </div>
                    </div>
                    <div class="tail">
                        <div class="base">잔여 <strong class="moebius-bold">8,603</strong>원</div>
                        <div class="rt"><strong class="moebius-bold">10,000</strong>원</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // section -->
    </div>
</div>
<% include ../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        var comp = new Tw.ProductMobileView($('.container'));
    });
</script>
<% include ../components/footer.component.html %>