<div class="popup-page"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>사용불가 서비스</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="top-info">
                    <span class="info-text">사용중인 부가상품 및 부가요금제 중<br><span class="tx-bold">USIM 기변으로 인한 사용불가</span><br />서비스 안내 내용입니다.</span>
                </div>
                <div class="account-wrap mt40">
                    <div class="payment-wrap">
                        <h5 class="payment-tit">사용 불가 서비스</h5>
                        {{#each data.list}}
                        <div class="point-wrap">
                            <div class="point-box">
                                <ul>
                                    <li>
                                        <dl class="type2">
                                            <dt>서비스명</dt>
                                            <!--<dd>T렌탈보험 i 프리미엄</dd>-->
                                            <dd>{{prodNm}}</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl class="type2">
                                            <dt>월정액/비고</dt>
                                            <!--<dd><span class="ff-hn vb">7,100</span>원</dd>-->
                                            <dd><span class="ff-hn vb">{{prodAmt}}</span>원</dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="contents-btn">
                    <ul class="bt-slice">
                        <li class="bt-blue1">
                            <button class="fe-confirm-unavailable">확인</button>
                        </li>
                    </ul> 
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
               <div class="box-confirm">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box accordion">
                            <h3 class="tit-a">이용안내</h3>
                            <div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
                                <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                <div class="acco-style">
                                    <ul class="acco-list">
                                        <li class="acco-box">
                                            <!-- .on: 열기 -->
                                            <div class="acco-tit"><button role="button" aria-pressed="true"><span class="bullet">1. </span>USIM 기변이란?</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">고객이 USIM 카드 탈/장착만으로 기기변경 하는 것을 말합니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">2. </span>USIM 기변할 경우</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">USIM 기변 시 기존의 유료 서비스가 유지되며, <strong>새 단말기가 지원하지 않는 서비스는 고객님이 해지하셔야</strong> 합니다. </li>
                                                    <li class="list">새 단말기가 지원하지 않는 서비스를 고객님이 해지하지 않을 경우 당월에는 그대로 과금되며, 3개월 후 자동 해지 됩니다.</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">3. </span>스마트세이프, 폰세이프 등 보험연계상품</button></div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">스마트세이프, 폰세이프 등 보험연계상품의 경우, <strong>USIM 기변하여 사용중인 단말기에는 보상이 적용되지 않습니다.</strong></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
