<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>사용량 조회</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-hoz noborder">
                <div class="box-inquiry-info2">
                    <span class="inquiry-info-stxt">010-23**-45**</span>
                    <span class="inquiry-info-txt"><strong>휴대폰 사용량</strong> 입니다.</span>
                </div>

                <p class="box-topdate">2018.06.01 ~ 2018.06.06</p>

                <ul class="gift-box-info">
                    <li class="gift-box-info-list">
                        <span class="gift-box-tit">음성통화</span>
                        <span class="gift-box-tx"><strong>1</strong>시간 <strong>20</strong>분 <strong>51</strong>초</span>
                        <span class="ico-gift2"></span>
                    </li>
                    <li class="gift-box-info-list">
                        <span class="gift-box-tit">문자메시지</span>
                        <span class="gift-box-tx"><strong>50</strong>건</span>
                        <span class="ico-gift3"></span>
                    </li>
                    <li class="gift-box-info-list">
                        <span class="gift-box-tit">데이터</span>
                        <span class="gift-box-tx"><strong>3</strong>GB(828.19MB)</span>
                        <span class="ico-gift"></span>
                    </li>
                </ul>

                <p class="box-undtxt2">실제 사용량과 다소 차이가 있을수 있으니 단순 참고용으로 활용하시기 바랍니다.</p>
            </div>
            <!--// content 영역 -->
            <div class="footer-wrap btn-area-msg">
                <div class="bt-popup">
                    <ul class="bt-slice">
                        <li class="bt-white2">
                            <button>더 자세한 사용량이 궁금하세요?</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
