<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>요금납부일 변경</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box noborder">
                <div class="pay-info">
                    <h4 class="pay-tit">요금납부일 선택</h4>
                    <div class="account-wrap">
                        <h5 class="account-tit">요금납부일</h5>
                        <div class="widget">
                            <div class="widget-box tube">
                                <ul class="tube-list three" role="radiogroup">
                                    <li class="checked" role="radio" aria-checked="true"><input type="radio" name="senddata" checked="" title="15 일">15 일</li>
                                    <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="21 일">21 일</li>
                                    <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="23 일">23 일</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents-btn">
                    <ul class="bt-slice item-two">
                        <li class="bt-white2">
                            <button>취소</button>
                        </li>
                        <li class="bt-red1">
                            <button>변경하기</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->
    </div>
    <!--// #contents -->

    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
