<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>자동납부 통합인출 서비스 해지 신청</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
          <!-- content 영역 -->
          <div class="cont-box noborder">
              <div class="inner">
                  <h3 class="contents-tit">자동납부계좌번호</h3>
                  <div class="contents-formbox">
                    <span class="inputbox">
                      <span class="input">
                        <input type="number" placeholder="계좌번호 (숫자만 입력)" title="계좌번호 (숫자만 입력)">
                        <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                      </span>
                    </span>
                    <div class="box-suggest">
                        <div class="suggest-info">
                            <ul class="suggest-list">
                                <li>자동납부 통합인출 서비스는 동일한 계좌로 여러 회선을 사용하는 경우 요금납부를 1건으로 통합 관리할 수 있는 서비스 입니다.</li>
                                <li>인출 예정일 2일전에(영업일 기준) 서비스 해지 신청을 하시면 당월부터 기존과 같이 청구서 별 요금이 각각 출금되며, 이후에 신청하시면 다음 달 부터 적용됩니다.</li>
                            </ul>
                        </div>
                    </div>
                  </div>
              </div>


          </div>
            <!--// content 영역 -->
            <div class="footer-wrap btn-area-msg">
                <div class="page-gnb">
                    <div class="bt-popup">
                        <ul class="bt-slice">
                            <li class="bt-blue1">
                                <button>자동납부 통합인출 서비스 해지 신청</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
