<div class="popup-page bg-none">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>요금상품 변경에 따른 할부지원금 차액안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box">
            	<h3 class="product-tit">할부지원금 차액안내</h3>
            	<p class="product-p-14">2011년 11월 23일 이후 신규가입/기기변경 고객님께서는 가입 당시 약정한 요금제를 변경하실 경우 할부지원금 차액이 다음달 청구요금에 반영(할부지원금의 반환 혹은 추가지원)되어 정산됩니다. 프리미엄패스1 가입자의 경우 6개월 유지 시 차액 정산금은 청구되지 않습니다. </p>
              	
              	<div class="product-before-after mt40">
					<div class="box-contents before">
						<span class="title-tx tx-bold">변경 전</span>
						<div class="basic-list pt14">
							<ul>
								<li>
									<span class="title">요금상품</span>
									<span class="tx-cont">올인원54</span>
								</li>
								<li>
									<span class="title">할부지원금</span>
									<span class="tx-cont ff-hn">내폰끼리 결합</span>
								</li>
								<li>
									<span class="title">이용요금</span>
									<span class="tx-cont"><em class="tx-bold vbl ml12">71,000</em> 원</span>
								</li>
							</ul>
						</div>
					</div>
            		<div class="box-contents after">
            			<div class="tit-wrap">
							<span class="title-tx tx-bold txt-red">변경 후</span>
            				<span class="tit-con vbl"><span class="tx-bold vbl">차액<em class="txt-red ml8 mr2 vbl">+ 49,000</em></span>원</span>
            			</div>
						<div class="basic-list pt14">
							<ul>
								<li>
									<span class="title">요금상품</span>
									<span class="tx-cont">data 인피니티</span>
								</li>
								
								<li>
									<span class="title">할부지원금</span>
									<span class="tx-cont"><em class="tx-bold vbl ml12">120,000</em> 원</span>
								</li>
							</ul>
						</div>
					</div>
             	</div>
             	
            	<p class="product-info mt20">고객님의 약정잔여기간(약정기간 - 사용기간)을 고려하여,보조금 차액 정산 부과액 또는 환급액이 결정됩니다.</p>
              	<div class="mt16">
               		<button class="bt-link-tx">나의 휴대폰 약정/할부 확인하러 가기<span class="ico"></span></button>
               	</div>
               	
                <div class="widget product-pop-agree mt28">
					<div class="widget-box check">
						<div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="false">
							<i class="ico"></i>
							<input type="checkbox" name="checkbox" value="" title="위 내용을 확인했으며 동의합니다">
							<span class="agree-txt">위 내용을 확인했으며 동의합니다.</span>
						</div>
					</div>
				</div>
				<ul class="bt-slice item-two mt40">
					<li class="bt-white2">
						<button>취소</button>
					</li>
					<li class="bt-red1">
						<button>확인</button>
					</li>
				</ul>
            </div>
            
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
