<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<%- include('../../components/javascript.component.html') %>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area">Skip to main contents</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div id="fe-myt-fare-mini" class="wrap" data-menuId="<%= pageInfo.menuId %>" >
        <!-- #header -->
        <%- include('../../../../../common_en/views/components/header.component.html', { title: 'MIRI Payments', svcInfo: svcInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">

            <h2 id="contents-area" tabindex="-1"><span class="blind">Main contents</span></h2>
            <div class="container" data-id="submain-container">

            <div class="sort-area tod-sort-area">
                <span class="total-qnt">Total <span class="num fe-count"><%-data.totalCnt%></span></span>
                <span class="tod-select-wrap">
                    <button id="0" class="btn-select fe-filter" >All</button>
                </span>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <%_ const isHide = data.totalCnt < 1 ? '' : 'none';_%>
                <div class="result-none type2 fe-empty-data <%-isHide%>">
                    No Usage History
                </div>                
            
                <!-- list -->
                <div class="tod-miri-list fe-miri-list" >
                    <div class="tod-miri-list-inner">
                        <!-- start : .tod-miri-item -->
                        <%_
                        let rows = 0;
                        let noneCls = '';
                        data.miriList.forEach( item => {
                        _%>
                        <div class="tod-miri-item fe-miri-item <%-noneCls%>">
                            <div class="tod-miri-date"><span class="sp-date"><%-item[0].opDtFmt%></span></div>
                            <%_
                                item.forEach( (subItem, idx) => {
                                noneCls = rows > 19 ? 'none' : '';
                            _%>
                            <div class="tod-miri-info fe-miri-info <%-noneCls%>" data-pay-cl-cd="<%-subItem.payClCd%>">
                                <%# payClCd 수납구분코드 (1: MIRI 충전, 4: MIRI 선납 차감, 5:MIRI 선납 환불)%>
                                <%_
                                    const payClCd = {
                                        '1': 'org',
                                        '4': 'blue',
                                        '5': 'black'
                                    };
                                    const payClCdNm = {
                                        '1': 'MIRI Top-up',
                                        '4': 'Paid from MIRI',
                                        '5': 'Refunded to MIRI'
                                    };                                    
                                    const infoClsNm = payClCd[subItem.payClCd];
                                    const payClsNm = payClCdNm[subItem.payClCd];
                                _%>
                                <div class="item <%-infoClsNm%>"><!-- class="item blue" -->
                                    <span class="tit"><%-payClsNm%></span>
                                    <span class="data"><strong>₩<%-subItem.ppayAmt%></strong></span>
                                </div>
                                <div class="item">
                                    <span class="tit"><%-subItem.lineType.svcName%> <em><%-subItem.lineType.svcNumOrAddr%></em></span>
                                    <%# 청구요금 or 미납요금 있는경우 노출함.%>
                                    <%_
                                        let payAmt = 0;
                                        let unpaidAmt = 0;
                                        if (subItem.payClCd === '4') {
                                            payAmt = (subItem.payAmtText || '0').replace(/[^0-9]/g, '');
                                            unpaidAmt = (subItem.unPaidAmtText || '0').replace(/[^0-9]/g, '');
                                        }

                                        if(payAmt+unpaidAmt > 0) {
                                            const invCls = payAmt < 1 ? 'none' : '';
                                            const payCls = unpaidAmt < 1 ? 'none' : '';                                        
                                    _%>
                                    <span class="data">
                                        <span class="data-item <%-invCls%>"><%-subItem.billMonth%>. Fees <em>₩<%-subItem.payAmtText%></em></span>
                                        <span class="data-item <%-payCls%>">Unpaid Bills <em>₩<%-subItem.unPaidAmtText%></em></span>
                                    </span>
                                    <%_}_%>
                                </div>
                                <div class="item-result">
                                    <span class="tit">MIRI Balance</span>
                                    <span class="data">₩<%-subItem.ppayBamt%></span>
                                </div>
                            </div>
                            <%_ rows++; })_%>
                        </div>
                        <%_ })_%>

                        

                    </div>
                </div>
                <!-- //list -->
                <!-- 더보기 -->
                <%_if(data.totalCnt > 20){_%>
                <div class="btn-more fe-more">
                    <button>View More</button>
                </div>
                <%_}_%>
                <!-- //더보기 -->
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box nogaps">
                <div class="widget">
                    <div class="widget-box accordion">
                        <div class="acco-cover toggle">
                            <div class="acco-style  type-qa qa-lease">
                                <ul class="acco-list pt0">
                                    <li class="acco-box">
                                        <div class="acco-tit">
                                            <button role="button" aria-pressed="true"><img src="<%=CDN%>/img/en/ico_fs-info.png" alt="" />Important Things to Note</button>
                                        </div>
                                        <div class="acco-cont information-usebox"> <!-- 201014 영문 반영 -->
                                            <p class="fs-info">When topping up your MIRI account, details on the topped up amount will be sent to you via text message</p>
                                            <p class="fs-info">Your monthly fees will be deducted from your topped up MIRI balance</p>
                                            <p class="fs-info">When paying your bills, details of your payment will be sent to you via text message</p>
                                            <p class="fs-info">The remaining MIRI balance can only be refunded upon cancellation of the mobile line</p>
                                            <p class="fs-info">Please contact the customer call center (1599-0011, charged / mobile phones 114) for details</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// #contents -->
        <%- include('../../../../../common_en/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>
    <script>
    $(document).ready(function () {
        new Tw.MyTFareInfoMiri($('.wrap'));
    });
    </script>
<%- include('../../components/end.component.html') %>