<div class="popup tw-popup">
    <div class="popup-page nobg"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>이용안내</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">

                <!-- .cont-box -->
                <div class="cont-box">
                    <h3 class="tit-type2">등급안내</h3>
                    <div class="cont-noti pt10">
                        <ul class="bullet-type bk-type">
                            <li>T 멤버십은 SK텔레콤 이동전화 서비스를 장기간 이용하고 계신 고객님을 우대해 드리고자 동일한 납부금액을 유지하더라도 가입기간이 오래될수록 승급이 용이한 구조이며, 향후 등급 예측이 가능합니다.</li>
                            <li>신규 및 명의변경 고객은 신규 및 명의변경(M월) 후 M+1월부터 M+12월까지 총 납부금액 및 연체이력을 기준으로 M+15월 1일에 등급을 재산정하여 부여합니다.
                                <ul class="dash-type pt10">
                                    <li>멤버십등급과 재산정된 등급 중 더 유리한 등급을 제공해 드리며, 익년도 멤버십 등급 부여 전까지 유지됩니다.</li>
                                    <li>등급 재산정은 2018년 6월 1일부터 시행됩니다.
                                        <span class="block pt6">예) '17년 5월 중 신규 가입하여 '17년 6월~ '18년 5월까지 67만원(VAT별도) 납부하고 1만원 이상 연체이력 3회 미만의 회선은 '18년 8월 1일에 골드 등급 부여</span>
                                    </li>
                                    <li class="star">회선당 1회만 등급 재산정되며, 가족결합 상품에 가입된 회선을 명의변경한 일부 회선은 등급 재산정에서 제외 됩니다.</li>
                                </ul>
                            </li>
                            <li>2018년 1월 1일<br />이후 월정액(순액) * 75,900원(VAT포함, 이하 ‘VIP 요금제’라 함) 이상 모든 요금제 가입 및 요금제 유지 시 익월 1일 / 16일에 멤버십 VIP 등급을 제공합니다.
                                <ul class="dash-type pt10">
                                    <li class="star">2018년 1월 1일 이후 VIP 요금제 가입자는 요금제 가입일에 따라 VIP 승급일이 달라집니다.</li>
                                    <li>익월 1일 승급 대상자 : 직전월 1일~15일 VIP 요금제 가입 후 승급일까지 해지/일시정지 이력이 없는 고객</li>
                                    <li>익월 16일 승급 대상자 : 직전월 16일~30/31일 VIP 요금제 가입 후 승급일까지 해지/일시정지 이력이 없는 고객</li>
                                    <li>VIP 요금제 해지 시 기존 T멤버십 등급체계에 의해 부여되었던 등급으로 원복 됩니다.</li>
                                    <li class="star">
                                        월정액(순액) 의미 :<br />
                                        24개월 기준 요금약정 할인금액을 제외한 요금제 월정액 (선택약정 요금할인 금액은 포함)<br />
                                        예) band 데이터 퍼펙트S 월정액(순액) = 75,900원 (VAT포함)<br />
                                        예) 전국민 무한 100 월정액(순액) = 83,600원 (VAT포함, 월정액 110,000원 - 요금약정 24개월 할인액 26,400원)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box">
                    <h3 class="tit-type2">누계 납부금액 산정기준</h3>
                    <div class="cont-noti pt10">
                        <span class="type3">전전년도 10월 ~ 전년도 9월까지 총 사용금액에 대한 납부금액</span>
                        <ul class="bullet-type bk-type pt16">
                            <li>납부금액 중 온가족할인 등의 할인금액, 부가세, 단말할부금, 소액결제, 로밍요금 중 국제전화사업자 매출 해당 금액, 정보이용료, 일부 부가서비스 등은 등급 산정 납부금액에서 제외됩니다.</li>
                            <li>서비스 가입 당해 연도에는 누계 납부금액이 존재하지 않으므로 Silver등급이 부여됩니다.</li>
                            <li>1만원 이상 3회 이상 연체 시 한 등급이 하향 조정 됩니다.</li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
