<div class="popup-page nobg tw-popup fixed-btn"><!-- .fixed-btn 하단에 고정된 버튼이 있는 경우 -->
  <!-- #header -->
  <div class="header-wrap">
    <div class="page-header">
      <div class="header-ti">
        <h1>가입상담예약</h1>
      </div>
    </div>
  </div>
  <!--// #header -->
  <!-- .container-wrap -->
  <div class="container-wrap">
    <h2 class="blind">내용</h2>
    <div class="container">

      <div class="ti-caption-gray bdt">
        <h3 class="tit">결합가족 정보</h3>
      </div>

      <!-- .cont-box -->
      <div class="cont-box">
        <ul class="form-data-list">
          <li>
            <label class="tit" for="flab01">가족관계</label>
            <span class="inputbox">
              <button id="flab01" class="bt-dropdown big" title="가족관계 선택" aria-haspopup="true">선택<span class="ico"></span></button>
            </span>
          </li>
          <li>
            <label class="tit" for="flab03">이름</label>
            <span class="inputbox">
              <span class="input">
                <input id="flab03" type="text" value="" />
              </span>
            </span>
          </li>
          <li>
            <label class="tit" for="flab05">휴대폰 번호</label>
            <span class="inputbox">
            <span class="input">
              <input id="flab05" type="number" placeholder="숫자만 입력"  title="휴대폰 숫자만 입력">
              <button class="cancel"><span class="blind">삭제</span></button>
            </span>
          </span>
          </li>
        </ul>
        <ul class="bt-slice mt30">
          <li class="bt-blue1">
            <button>가족 추가하기</button>
          </li>
        </ul>
      </div>
      <!--// .cont-box -->

      <div class="fe-family_wrap" style="display: none">
        <hr class="cont-sp type1" aria-hidden="true"/>

        <!-- 결합가족 목록 -->
        <div class="cont-box gaps-style02 pb0">
          <h3 class="suggest-tag-title">결합가족 목록</h3>
          <div class="list-comp-input-agree fusion">
            <div class="widget">
              <div class="widget-box check">
                <ul class="select-list" role="group">
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--//결합가족 목록 -->
      </div>

      <div class="ti-caption-gray">
        <h3 class="tit">서류 첨부</h3>
      </div>
      <!-- .cont-box -->
      <div class="cont-box">
        <h3>구비서류</h3>
        <div class="cont-noti pt8">
          <span class="type3">가족관계증명서, 주민등록등본, 제적등본, 건강보험증(의료보험증), 혼인관계증명서, 혼인신고접수증 중 1개 제출 가능</span>
        </div>
        <div class="file-wrap type1 pt20">
          <div class="widget">
            <div class="widget-box file">
              <span class="inputbox bt-add">
                <span class="input">
                    <input class="fileview" type="text" placeholder="서류를 등록해주세요" title="파일명" />
                </span>
                <span class="space"></span>
                <span class="bt-box">
                    파일찾기
                    <input class="file" type="file" value="파일찾기" />
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="cont-noti pt20">
          <ul class="bullet-type">
            <li>첨부파일은 최대 2MB 까지 등록 가능 합니다.</li>
            <li>MS워드, 한글hwp, 이미지(jpg, bmp, gif, pdf) 파일을 첨부할 수 있습니다.</li>
          </ul>
        </div>
        <ul class="bt-slice pt30">
          <li class="bt-blue1">
            <button>서류 추가하기</button>
          </li>
        </ul>
      </div>
      <!--// .cont-box -->

      <div class="fe-file_wrap" style="display: none">
        <hr class="cont-sp type1" aria-hidden="true"/>

        <!-- .cont-box -->
        <div class="cont-box">
          <h3>첨부된 서류</h3>
          <div class="basic-list li-line one-line pt10">
            <ul>
            </ul>
          </div>
        </div>
        <!--// .cont-box -->
      </div>

      <div class="bt-fixed-area">
        <ul class="bt-slice full">
          <li class="bt-red1">
            <button>신청하기</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!--// .container-wrap -->
  <!-- .popup-closeBtn -->
  <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
  <!--// .popup-closeBtn -->
</div>