<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>유상 및 무상 서비스</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box">
                <div class="blt-list-wrap">
                    <h3 class="blt-list-tit">소비자 피해 유형</h3>
                    <div class="blt-list-box">
                        <p class="blt-list-sub">보증기간 내 정상적인 사용조건에서 성능, 기능상의 고장발생</p>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">구입 후 10일 이내에 중요한 수리를 해야 할 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 해당 없음</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">구입 후 1개월 이내에 중요한 수리를 해야 할 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 무상 수리</span>
                                <span class="blt-hyphen">보증 기간 이후 : 해당 없음</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">제품 구입 시 운송과정 및 제품 설치 중 피해가 발생한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환</span>
                                <span class="blt-hyphen">보증 기간 이후 : 해당 없음</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">교환된 제품이 1개월 이내에 중요한 수리를 해야하는 고장이 발생한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 해당 없음</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">제품 교환이 불가능한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 해당 없음</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">동일한 원인으로 고장이 3회까지 발생할 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 무상수리</span>
                                <span class="blt-hyphen">보증 기간 이후 : 유상수리</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">동일한 원인으로 고장이 4회까지 발생할 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 유상수리</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">서로 다른 원인으로 고장이 5회째 발생한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 유상수리</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">소비자가 수리 의뢰한 제품을 사업자가 분실한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 정액을 감가상각한 금액에 감가상가한 금액의 10%를 가산하여 환급</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">보증기간 내 정상적인 사용조건에서 성능, 기능상의 고장 발생</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 정액을 감가상각한 금액에 감가상가한 금액의 10%를 가산하여 환급</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">수리용 부품은 있으나 수리가 불가능한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 정액 감가상각 후 환급</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">소비자의 고의 과실로 인한 고장 발생</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 제품 교환 또는 환급</span>
                                <span class="blt-hyphen">보증 기간 이후 : 정액 감가상각 후 환급</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="blt-list-box">
                        <p class="blt-list-sub">소비자의 고의 과실로 인한 고장 발생</p>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">수리가 불가능한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 유상수리에 해당하는 금액 징수 후 제품 교환</span>
                                <span class="blt-hyphen">보증 기간 이후 : 유상수리 금액 징수 후 감가상각 적용 제품 교환</span>
                            </dd>
                        </dl>
                        <dl class="blt-dot-box">
                            <dt class="blt-dot">수리가 가능한 경우</dt>
                            <dd class="blt-hyphen-box">
                                <span class="blt-hyphen">보증 기간 이내 : 유상수리</span>
                                <span class="blt-hyphen">보증 기간 이후 : 유상수리</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box noborder nogaps-btm">
                <div class="box-block">
                    <div class="box-block-list3 first">
                        <ul>
                            <li>유무상 판정기준은 AS센터에서 단말기 상태를 확인한 후 정확하게 판정을 내릴 수 있습니다.</li>
                            <li>통신사 및 제조사의 수리비는 업무 정책에 따라 상이할 수 있습니다. (RIM의 경우에는 예외적인 기준을 적용)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
