<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>위치변경</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box">
                <button class="bt-dropdown big" title="지역설정" aria-haspopup="true">서울<span class="ico"></span></button>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box noborder">
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box tube">
                        <ul class="tube-list three" role="radiogroup">
                            <li class="checked" role="radio" aria-checked="true"><input type="radio" name="senddata" checked title="강남구">강남구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">강동구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">강북구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">강서구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">관악구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">광진구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">구로구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">금천구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">노원구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">도봉구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">동대문구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">동작구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">마포구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">서대문구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">서초구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">성동구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">성북구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">송파구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">양천구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">영등포구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">용산구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">은평구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">종로구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">중구</li>
                            <li role="radio" aria-checked="false"><input type="radio" name="senddata" title="">중랑구</li>
                        </ul>
                    </div>
                </div>
                <!-- //.widget -->
                <div class="mt40">
                    <ul class="bt-slice item-two">
                        <li class="bt-white2">
                            <button>취소</button>
                        </li>
                        <li class="bt-red1">
                            <button>완료</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
