<div class="popup tw-popup">
    <div class="popup-page nobg layer"><!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>본인인증 수단 선택</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box bgnone">
                    <div class="box-certifi-card">
                        <p class="certifi-ti-big pt8">아래 인증방법 중 하나를 선택하여 본인확인을 해주세요.</p>
                        <ul class="certifi-card-list mt28 three"><!-- li 행별 최대 갯수 : 1개 .one, 2개 .two, 3개 .three -->
                            <li>
                                <button>
                                    <span class="ico-certifi-card type1" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">SK텔레콤<br />SMS 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type2" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">KT 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type3" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">LG U+ 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type4" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">알뜰폰 SMS<br />인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type5" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">아이핀 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type6" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">이메일 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type7" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">지문 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type8" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">비밀번호 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type9" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">공인인증서<br />인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type10" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">비밀번호+휴대폰<br />SMS 인증</span></span>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <span class="ico-certifi-card type11" aria-hidden="true"></span>
                                    <span class="certifi-card-tx"><span class="tx">휴대폰<br />SMS 인증</span></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
