<div class="popup">
    <div class="popup-page nobg layer half"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>SMS 인증</h1>
                </div>
                <!-- .popup-closeBtn -->
                <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
                <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps-top">
                    <div class="sms-confirm-box pt10">
                        <div class="sms-confirm-des"><span>고객님 휴대폰으로 전송 받으신 인증번호</span>를 입력해 주세요.</div>
                        <div class="box-citation">
                            <div class="citation-form mt0">
                                <div class="form-cell">
                                    <dl class="certifi-repre">
                                        <dt>휴대폰 번호</dt>
                                        <dd>{{data.mdn}}</dd>
                                    </dl>
                                    <span class="inputbox">
                                        <ul class="bt-slice">
                                            <li class="bt-white1">
                                                <button id="fe-bt-cert" aria-describedby="">인증번호 다시 받기</button>
                                            </li>
                                        </ul>
                                        <span class="input">
                                            <span id="aria-sms-exp-desc1" class="guide-txt none">재전송 제한시간(1분)이 지난 후에 이용해 주세요.</span>
                                            <span id="aria-sms-exp-desc2" class="validation-txt none">정상적으로 발송되었습니다.</span>
                                        </span>
                                    </span>
                                </div>
                                <div class="form-cell division-line">
                                    <span class="inputbox"><!-- 오류일 경우 class error 추가, 통과일 경우 class validation 추가 -->
                                        <span class="input">
                                            <input id="fe-input-cert" type="text" placeholder="인증번호 숫자 6자리" title="휴대폰 인증번호" value="" aria-labelledby="aria-citation-phone" aria-describedby=""/><!-- 오류일 경우 aria-describedby에 aria-sms-exp-desc3 추가 -->
                                            <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                        </span>
                                        <span id="aria-sms-exp-desc3" class="error-txt none" aria-hidden="true">인증번호가 일치하지 않습니다.</span><!-- 오류일 경우 class none 삭제 -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="bt-slice">
                        <li class="bt-red1">
                            <button id="fe-bt-confirm" disabled>확인</button>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <div class="box-confirm">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box accordion">
                                <h3 class="tit-a">이용안내</h3><!-- 2018-06-19 : h태그 수정/삭제 -->
                                <div class="acco-cover toggle">
                                    <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                    <div class="acco-style">
                                        <ul class="acco-list">
                                            <li class="acco-box">
                                                <!-- .on: 열기 -->
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 인증번호가 안와요~</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">인증문자는 <em>114 번호로 발신</em>되오니 해당 번호의 단말기 <em>스팸설정 여부 및 스팸편지함을 확인</em>해 주세요.</li>
                                                        <li class="list">스팸필터링 부가서비스 가입 후 114 번호를 스팸설정 하신 경우 <em>스팸설정을 해제</em>해 주세요.</li>
                                                        <li class="list"><em>착신 관련 서비스</em>에 가입되어 있는 경우 SMS 인증문자가 수신되지 않을 수 있습니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
