<div class="popup-page"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>SMS 인증</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="sms-confirm-box">
                       <div class="sms-confirm-des"><span>인증 받으실 휴대폰 명의자 정보를</span> 입력해 주세요</div>
                        <div class="box-citation">
                            <div class="citation-form">
                                <div class="form-cell">
                                    <span id="aria-citation-name" class="form-ti">이름</span>
                                    <span class="inputbox">
                                        <span class="input">
                                            <input type="text" placeholder="휴대폰 명의자 이름" title="이름" value="김종준" aria-labelledby="aria-citation-name" aria-describedby="aria-sms-exp-desc1"/>
                                            <span class="ico none"></span>
                                        </span>
                                        <span id="aria-sms-exp-desc1" class="error-txt none" aria-hidden="true">입력하신 정보가 일치하지 않습니다.</span>
                                    </span>
                                </div>
                                <div class="form-cell">
                                    <span id="aria-citation-birth" class="form-ti">법정 생년월일</span>
                                    <span class="inputbox">
                                        <span class="input">
                                            <input type="number" placeholder="명의자의 생년월일 6자리" value="891205" title="법정 생년월일" aria-labelledby="aria-citation-birth" aria-describedby="aria-sms-exp-desc2"/>
                                            <span class="ico none"></span>
                                        </span>
                                        <span id="aria-sms-exp-desc2" class="error-txt none" aria-hidden="true">생년월일 6자리를 정확히 입력해 주세요.</span>
                                    </span>
                                    <span class="inputbox">
                                        <div class="widget">
                                            <div class="widget-box radio">
                                                <ul class="select-list" role="radiogroup">
                                                    <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                                                        <input type="radio" name="radio1" value="" title="남자" /><!-- 체크상태일 경우 checked="checked" -->
                                                        남자
                                                    </li>
                                                    <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
                                                        <input type="radio" name="radio1" value="" title="여자" /><!-- 체크상태일 경우 checked="false" -->
                                                        여자
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sms-confirm-box">
                        <div class="sms-confirm-des"><span>인증 받으실 휴대폰번호와 전송된 인증번호를</span> 입력해 주세요</div>
                        <div class="box-citation">
                            <div class="citation-form">
                                <div class="form-cell">
                                    <span id="aria-citation-phone" class="form-ti">SK 텔레콤 휴대폰 번호</span>
                                    <span class="inputbox bt-add">
                                        <span class="input">
                                            <input type="number" placeholder="숫자만 입력" title="휴대폰 번호" value="01044622326" aria-labelledby="aria-citation-phone" aria-describedby="" /><!-- 통과일 경우 aria-describedby에 aria-sms-exp-desc3 추가 -->
                                            <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                        </span>
                                        <span class="bt-box">
                                            <button type="button">인증번호 받기</button>
                                        </span>
                                        <span class="tx-box">
                                            <span id="aria-sms-exp-desc3" class="guide-txt">정상적으로 발송되었습니다.</span>
                                        </span>
                                    </span>
                                </div>
                                <div class="form-cell division-line">
                                    <span class="inputbox error">
                                        <span class="input">
                                            <input type="number" placeholder="인증번호 숫사 6자리" title="휴대폰 인증번호" aria-labelledby="aria-citation-phone" aria-describedby="aria-sms-exp-desc4"/><!-- 통과일 경우 aria-describedby에 aria-sms-exp-desc4 삭제 -->
                                            <button href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></button>
                                            <span class="ico"></span>
                                        </span>
                                        <span id="aria-sms-exp-desc4" class="error-txt none" aria-hidden="true">인증번호가 일치하지 않습니다.</span><!-- 통과일 경우 class none 삭제 -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="bt-slice">
                        <li class="bt-red1">
                            <button>확인</button>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <div class="box-confirm">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box accordion">
                                <h3 class="tit-a">이용안내</h3>
                                <div class="acco-cover"><!-- toggle : 한개만 열기 -->
                                    <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                    <div class="acco-style">
                                        <ul class="acco-list">
                                            <li class="acco-box"><!-- .on: 열기 -->
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 아무 휴대폰 번호를 넣어도 인증이 가능한가요?</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list"><em>고객님 명의의 SK텔레콤 휴대폰</em>이라면 인증을 하실 수 있습니다.</li>
                                                        <li class="list"><em>고객님 명의로 “법인 폰 개인인증” 서비스에 가입</em>한 SK텔레콤 휴대폰 번호로 인증을 하셔도 가능합니다.<div class="acco-link"><button class="bt-link-tx">법인 폰 개인인증 서비스란?<span class="ico"></span></button></div></li>
                                                    </ul>
                                                    <ul class="list-dot">
                                                        <li class="list"><em>로그인한 아이디에 등록</em>되어 있는 <em>법인명</em>의 SK텔레콤 휴대폰 번호로도 이용하실 수 있습니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
