<div class="popup-page nobg"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>비밀번호 실패</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti">고객보호 비밀번호를<br /><em class="tx-bold">5회 이상 잘못 입력</em>하셨습니다.</p>
                        <ul class="suggest-list nodot">
                            <li>SK텔레콤 지점에 직접 방문하시어 초기화 후 이용해주시기 바랍니다.</li>
                        </ul>
                        <div class="suggest-bt">
                            <ul class="bt-slice">
                                <li class="bt-red1">
                                    <button>확인</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="link-long">
                    <a href="" title="온라인 상담/문의 알아보기로 이동">온라인 상담/문의 알아보기<span class="ico"></span></a>
                </div>
                <div class="link-long last">
                    <a href="" title="지점/대리점 찾기 바로가기로 이동">지점/대리점 찾기 바로가기 <span class="ico"></span></a>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
