<div class="popup-page nobg"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>회선 정보 변경 안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti"><em class="tx-bold">첫 번째로 조회하시던 회선</em>이 <br />변경 되었습니다.</p>
                        <dl class="suggest-circuit">
                            <dt class="circuit-ti">변경된 첫 번째 회선 번호</dt>
                            <dd class="circuit-tx">010-2345-6789</dd>
                        </dl>
                        <ul class="suggest-list">
                            <li>명의변경 또는 회선 해지(번호이동)로 인하여 첫 번째 조회 회선으로 지정하셨던 회선이 변경되었습니다.</li>
                            <li>다른 회선으로 첫 번째 회선을 바꾸시려면 ‘회원정보 관리 &gt; 회선관리’에서 가능합니다.</li>
                        </ul>
                        <div class="suggest-bt">
                            <ul class="bt-slice">
                                <li class="bt-red1">
                                    <button>첫 번째 조회 회선 변경하러 가기</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
