<div class="popup-page nobg"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>회선 등록 완료</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box nogaps-hoz">
                <div class="msg-member-box">
                    <div class="msg-member-comp">
                        <span class="ico"></span>
                        <p class="txt"><span class="tx-bold">이용회선이<br />등록</span>되었습니다.</p>
                        <p class="tx-sub">총 등록 회선 <span class="tx-bold">12</span>개</p>
                    </div>
                    <div class="member-data-cont">
                        <div class="bt-gap">
                            <ul class="bt-slice">
                                <li class="bt-blue1">
                                    <button>다시 회선 설정하기</button>
                                </li>
                            </ul>
                        </div>
                        <ul class="result-list nodot">
                            <li class="list">선택하신 회선들은 <span class="tx-point">회원정보&gt;회선관리</span> 메뉴에서 보실 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box nogaps">
                <div class="bt-link-box">
                    <a class="bt-link-tx" href="">홈으로</a>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
