<div class="popup-page nobg"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>회선 정보 변경 안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="box-suggest">
                    <div class="suggest-info">
                        <p class="suggest-ti"><em class="tx-bold">변경된 회선</em>이 있습니다.</p>
                        <ul class="suggest-list nodot">
                            <li>사용하시던 회선 중 다른 고객님의 명의로 등록된 회선이 있어, 회원님의 회선목록에서는 삭제 되었습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" />

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="link-long">
                    <a href="" title="온라인 상담/문의 알아보기로 이동">온라인 상담/문의 알아보기<span class="ico"></span></a>
                </div>
                <div class="link-long last">
                    <a href="" title="T월드 고객센터 바로가기로 이동">T월드 고객센터 바로가기 <span class="ico"></span></a>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
