<div class="popup">
    <div class="popup-page nobg layer half"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>공인인증서 인증</h1>
                </div>
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps-top">
                    <div class="sms-confirm-box pt10">
                        <div class="sms-confirm-des"><span>고객님 명의의 범용/금융거래용 공인인증서로 인증</span>하신 후 이용하실 수 있습니다.</div>
                        <hr class="certifi-line-black mt16" aria-hidden="true" />
                        <div class="agree-list">
                            <div class="widget">
                                <div class="widget-box accordion">
                                    <div class="acco-cover on"><!-- toggle : 한개만 열기 -->
                                        <div class="acco-style none-title btn-hold">
                                            <ul class="acco-list"><!-- .on: 열기 -->
                                                <li class="acco-box on imp-view">
                                                    <div class="acco-tit">
                                                        <div class="widget">
                                                            <div class="widget-box check">
                                                                <div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="false">
                                                                    <i class="ico"></i>
                                                                    <input type="checkbox" name="checkbox" value="" title="개인정보활용 동의">
                                                                    <span>개인정보활용 동의</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="acco-cont">
                                                        <div class="agree-cont">
                                                            <p class="agree-cont-defined">본인은 귀사가 공인인증서 인증을 위해 한국정보인증으로부터 본인 식별정보(CI/DI)를 제공받아 본인 확인 목적으로 이용하는 것에 동의합니다. <br/>(※본인 식별정보(CI/DI)는 한국전자인증, 한국정보인증에서 발급한 공인인증서 인증시에만 제공받습니다.)</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--// .widget -->
                        </div>
                        <ul class="bt-slice mt40">
                            <li class="bt-red1">
                                <button disabled>인증하기</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <div class="box-confirm">
                        <!-- .widget -->
                        <div class="widget">
                            <div class="widget-box accordion">
                                <h3 class="tit-a">이용안내</h3><!-- 2018-06-19 : h태그 수정/삭제 -->
                                <div class="acco-cover toggle">
                                    <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                    <div class="acco-style">
                                        <ul class="acco-list">
                                            <li class="acco-box">
                                                <!-- .on: 열기 -->
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 금융거래용 공인인증서가 뭔가요?</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">금융 거래용 공인인증서는 <em>금융기관</em>에 입출금이 가능한 예금에 가입하고 <em>인터넷뱅킹을 신청하시면 발급/등록이 가능</em>합니다. 자세한 사항은 이용하시는 금융기관에 문의하시기 바랍니다.</li>
                                                        <li class="list">공인인증서 관련 확인사항은 국가에서 지정한 공인인증서 발급기관에서만 확인가능 하므로, 한국정보 인증의 <em>고객만족센터(1577-8787)로 문의</em>하시기 바랍니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
