<div class="popup-page nobg">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>SKT 이동전화 광고 정보 수신동의</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz noborder">
                <div class="popup-sub-box">
                    <p class="popup-page-param2">다음과 같이 <em>동의 여부</em>가<br/>선택되었습니다.</p>
                    <div class="define-list-cont">
                        <ul class="define-list-data">
                            <li>
                                <dl>
                                    <dt class="ti-data">고객 혜택 제공을 위한 <br/>개인정보 수집·이용 동의</dt>
                                    <dd class="tx-data">
                                        <div class="txt">동의</div>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="ti-data">광고정보 수신 동의</dt>
                                    <dd class="tx-data">
                                        <div class="txt">미동의</div>
                                    </dd>
                                </dl>
                            </li>
                            <li class="txt-only">
                                고객님의 가입정보/모바일 사용 패턴 등을 바탕으로 최적화된 광고/커머스(상거래)/정보 등 다양한 맞춤형 정보 제공 및 혜택을 추천 해드릴 수 있도록 노력하겠습니다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <!-- .cont-box -->
            <div class="cont-box">
                <ul class="bt-slice">
                    <!-- li갯수 별로(가로 정렬 버튼이 2개 이상일 경우) .item-two, three, four, five, six, seven -->
                    <li class="bt-red1">
                        <button>확인</button>
                    </li>
                </ul>
                <span class="bt-txt">본 수신동의를 철회하고자 할 경우 1504번을 통해 <br/>본인 인증 후 철회할 수 있습니다.</span>
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
</div>
