<div class="popup-page nobg">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>회선 편집 방법</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz noborder">
                <div class="popup-sub-box">
                    <ol>
                        <li>
                            <dt class="popup-page-param3">
                                <span class="num">01</span>
                                T world 사용 회선 추가하기
                            </dt>
                            <dd class="popup-page-data1">
                                <div class="data-txt">사용 가능한 회선은 SK 텔레콤에 가입된 고객님의 회선이지만, T world 사용 회선에 등록되지 않은 회선입니다.</div>
                                <div class="data-txt">T world에서 제공하는 고객님의 회선과 관련된 다양한 혜택과 각종 서비스를 이용하시려면 아래에 있는 추가 아이콘을 눌러 주세요.</div>
                                <div class="data-img">
                                    <img src="/img/dummy/dmy-circuit01.png" alt="TBD"/>
                                </div>
                            </dd>
                        </li>
                        <li>
                            <dt class="popup-page-param3">
                                <span class="num">02</span>
                                회선 그만보기
                            </dt>
                            <dd class="popup-page-data1">
                                <div class="data-txt">T world에서 관리하고 싶지 않은 회선이 사용중인 회선으로 있다면 아래 삭제 아이콘을 눌러 주세요. 다시 추가할 때까지 T world에서 조회와 서비스 이용을 그만 합니다.</div>
                                <div class="data-img">
                                    <img src="/img/dummy/dmy-circuit02.png" alt="TBD"/>
                                </div>
                            </dd>
                        </li>
                        <li>
                            <dt class="popup-page-param3">
                                <span class="num">03</span>
                                순서 변경하기
                            </dt>
                            <dd class="popup-page-data1">
                                <div class="data-txt">사용중인 회선에 오른쪽에 있는 이동 아이콘을 눌러 주세요. T world에서 조회할 회선의 노출 순서를 변경할 수 있습니다.</div>
                                <div class="data-img">
                                    <img src="/img/dummy/dmy-circuit03.png" alt="TBD"/>
                                </div>
                                <div class="data-sub-txt">드래그 하여 원하는 위치로 움직이거나, 화살표를 눌러 한 칸씩 위/아래도 이동시킬 수 있습니다.</div>
                            </dd>
                        </li>
                    </ol>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
</div>
