<div class="popup-page"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>Foreigner(외국인) 인증</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-hoz noborder">
                <div class="box-citation eng">
                    <span class="citation-ti">Alien Registration Number</span>
                    <p class="citation-tx">If you registered alien registration number please enter your date of birth. If you registered social security number or driver’s license number, please enter your social security number or driver’s license number.</p>
                    <div class="citation-form">
                        <div class="form-cell">
                            <span id="aria-citation-name" class="form-ti">Name</span>
                            <span class="inputbox">
                                <span class="input">
                                    <input type="text" value="" title="Name" aria-labelledby="aria-citation-name" aria-describedby="aria-name-tx" />
                                </span>
                                <span id="aria-name-tx" class="guide-txt">Please enter your first and last name(case-sensitive)</span>
                            </span>
                        </div>
                        <div class="form-cell">
                            <span id="aria-citation-birth" class="form-ti">Number</span>
                            <span class="inputbox">
                                <span class="input">
                                    <input type="number" value="" title="Number" aria-labelledby="aria-citation-birth" aria-describedby="aria-birth-tx" />
                                </span>
                                <span id="aria-birth-tx" class="guide-txt">Please enter your Alien Registration Number<br />* Date of Birth / Social security / License Number</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--// content 영역 -->
            <div class="footer-wrap btn-area-msg">
                <div class="page-gnb">
                    <div class="bt-popup btn-wrap">
                         <ul class="bt-slice item-two"> <!-- 2018-06-20 버튼 클래스 변경 -->
                            <li class="bt-white2"><button data-target="sendTextCancelBtn">Cancel</button></li>
                            <li class="bt-red1"><button data-target="sendTextBtn">Check</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
