<div class="popup-page nobg">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>SKT 이동전화 광고 정보 수신동의</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="popup-sub-box">
                    <p class="popup-page-param1">고객님의 가입정보/모바일 사용 패턴 등을 바탕으로 최적화된 광고/커머스(상거래)/정보 등 다양한 혜택을 추천 받으실 수 있는 서비스입니다.</p>
                    <div class="define-list-cont">
                        <ul class="define-list-data">
                            <li>
                                <dl>
                                    <dt class="ti-data">회선 닉네임</dt>
                                    <dd class="tx-data">
                                        <div class="txt">내퐁</div>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="ti-data">가입동의 휴대폰 번호</dt>
                                    <dd class="tx-data">
                                        <div class="txt">010-1234-5678</div>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1">
            <!-- .cont-box -->
            <div class="cont-box agree-list">
                <!-- .widget -->
                <div class="agree-list">
                    <div class="widget">
                        <div class="widget-box accordion">
                            <div class="widget">
                                <div class="widget-box check">
                                    <div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="true">
                                        <i class="ico"></i>
                                        <input type="checkbox" name="checkbox" value="값1" title="체크박스" checked/>
                                        <span class="tit-a">고객 혜택 제공을 위한 개인정보 수집·이용, 광고성 정보 수신에 모두 동의합니다.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="acco-cover">
                                <!-- toggle : 한개만 열기 -->
                                <div class="acco-style btn-hold">
                                    <ul class="acco-list">
                                        <!-- .on: 열기 -->
                                        <li class="acco-box">
                                            <div class="acco-tit">
                                                <div class="widget">
                                                    <div class="widget-box check">
                                                        <div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="true">
                                                            <i class="ico"></i>
                                                            <input type="checkbox" name="checkbox" value="값1" title="체크박스" checked/>
                                                            <span>고객 혜택 제공을 위한 개인정보 수집·이용, 광고성 정보 수신에 모두 동의합니다.</span>
                                                        </div>
                                                    </div>
                                                </div>하위내용 형태 <button role="button" aria-pressed="false"></button>
                                            </div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">팅 계열 요금상품 이용 고객이 음성 리필하기 선택 시, 고객이 설정한 데이터 상한금액을 제외한 <em>기본 제공량의 20%를 추가 제공</em>합니다.
                                                        <ul class="inner-group type1">
                                                            <!-- 예) 일 경우 -->
                                                            <li class="inner-list"><span class="bullet">예)</span>선물하기 전 잔여 데이터가 700MB인 경우 200 MB 선물하기 → 가능 (선물 후 잔여 데이터 500 MB) 300 MB 선물하기 → 불가 (선물 후 잔여 데이터 400 MB) LTE 안심옵션의 무료 데이터는 선물하기 불가</li>
                                                            <li class="inner-list"><span class="bullet">예)</span> 예의 내용</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <div class="acco-bt-slice">
                                                    <ul class="bt-slice">
                                                        <li class="bt-gray2">
                                                            <button>기존 계정으로 바로 로그인 하기</button>
                                                        </li>
                                                        <li class="bt-gray2">
                                                            <a href="">아이디 찾기/비밀번호 재설정하기</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><span class="bullet">1.</span> 서비스 이용안내
                                                <button role="button" aria-pressed="false">상세보기</button>
                                            </div>
                                            <div class="acco-cont">
                                                <ul class="list-dot">
                                                    <li class="list">온가족행복플랜의 경우, 음성/데이터 추가 혜택 제공량은 리필하기 대상에서 제외됩니다.
                                                    </li>
                                                </ul>
                                                <div class="acco-bt-slice">
                                                    <ul class="bt-slice">
                                                        <li class="bt-gray2">
                                                            <button>기존 계정으로 바로 로그인 하기</button>
                                                        </li>
                                                        <li class="bt-gray2">
                                                            <button>아이디 찾기/비밀번호 재설정하기</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="list-dot">
                                                    <li class="list">온가족행복플랜의 경우, 음성/데이터 추가 혜택 제공량은 리필하기 대상에서 제외됩니다.
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><span class="bullet">1.</span> 서비스 이용안내</div>
                                        </li>
                                        <li class="acco-box">
                                            <div class="acco-tit"><span class="bullet">1.</span> 서비스 이용안내 <button role="button" aria-pressed="false">상세보기</button></div>
                                            <div class="acco-cont">
                                                <ul class="inner-group type1">
                                                    <!-- 예) 일 경우 -->
                                                    <li class="inner-list"><span class="bullet">예)</span>선물하기 전 잔여 데이터가 700MB인 경우 200 MB 선물하기 → 가능 (선물 후 잔여 데이터 500 MB) 300 MB 선물하기 → 불가 (선물 후 잔여 데이터 400 MB) LTE 안심옵션의 무료 데이터는 선물하기 불가</li>
                                                    <li class="inner-list"><span class="bullet">예)</span> 예의 내용</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <!--// .widget -->
                                </div>
                </div>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>