<div class="popup-page nobg tw-popup fixed-btn">
  <!-- .container-wrap -->
  <div class="container-wrap">
    <h2 class="blind">내용</h2>
    <div class="container">
      <h1 class="complete-title">
        <img src="/img/dummy/dmy-complete.jpg" alt=""/>
        <span><strong>{{text}} 완료</strong></span>
      </h1>
      {{#if subtexts}}
        <p class="complete-tx0">
        {{#each subtexts}}
          {{{this}}}<br>
        {{/each}}
        </p>
      {{/if}}
      <ul class="bt-slice full">
        <li class="bt-red1">
          <button class="fe-btn_success_close">닫기</button>
        </li>
      </ul>
    </div>
  </div>
</div>
