<div class="popup-page no-btn"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>데이터/음성 리필 서비스 안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box noborder">
                <h3 class="board-ti">

                </h3>
                <div class="box-board">
                    <dl>
                        <dt class="board-ti">
                            <span class="ti-small">SKT 장기가입 고객님들께만 드리는 혜택</span>
                            <p class="ti-big"><em class="tx-bold">데이터 2배 </em>또는 <em class="tx-bold">음성20%</em> 무료 리필쿠폰</p>
                        </dt>
                        <dd class="board-tx">
                            <p class="tx-big">가입기간이 길수록 리필하기 혜택이 늘어납니다.</p>
                            <div class="board-img"><img src="/img/dummy/ex-board.jpg" alt="서비스 안내 그래프" /></div>
                            <p class="tx-caption"><span class="caption-blatt">※</span> SK텔레콤을 2년 이상 이용 시, 리필쿠폰이 1년 단위로 가입년수 갱신 시점마다 새롭게 제공되며 데이터, 음성 상관없이 <em class="tx-bold">월 1회 대상</em> 요금상품에 한해 이용 가능합니다.</p>
                        </dd>
                    </dl>
                </div>

                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box accordion">
                        <h2 class="tit-a blind">리필하기 가능요금상품 목록</h2>
                        <div class="acco-cover">
                            <div class="acco-style">
                                <ul class="acco-list">
                                    <li class="acco-box">
                                        <div class="acco-tit"><button>음성/데이터 리필하기 가능요금상품</button></div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li>T끼리 요금상품</li>
                                                <li>무료음성 Ⅱ</li>
                                                <li>올인원 34/44(커플, 특수 포함)</li>
                                                <li>LTE 요금상품(커플, 특수 포함)</li>
                                                <li>실버스마트15</li>
                                                <li>올인원팅</li>
                                                <li>LTE팅</li>
                                                <li>골든에이지15/34/42/52</li>
                                                <li>손사랑34/42/52</li>
                                                <li>소리사랑34/42/52</li>
                                                <li>전국민 무한</li>
                                                <li>3G/LTE 맞춤형 요금상품</li>
                                                <li>온가족 행복플랜</li>
                                                <li>band 데이터</li>
                                                <li>band 데이터 팅</li>
                                                <li>band 데이터 어르신</li>
                                                <li>Star Ting 18</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="acco-box">
                                        <div class="acco-tit"><button>데이터 리필하기 가능요금상품</button></div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li>태블릿 요금상품</li>
                                                <li>LTE 데이터전용</li>
                                                <li>LTE 모뎀</li>
                                                <li>LTE 태블릿</li>
                                                <li>LTE Data 함께쓰기 (Basic 제외)</li>
                                                <li>T login</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="acco-box">
                                        <div class="acco-tit"><button>음성 리필하기 가능요금상품</button></div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li>50(+)요금</li>
                                                <li>복지210(+)요금</li>
                                                <li>무료문자</li>
                                                <li>무료음성</li>
                                                <li>소리사랑 요금상품</li>
                                                <li>손사랑요금상품</li>
                                                <li>올인원 54/64/79/94(커플/특수 포함)</li>
                                                <li>특수통신요금상품 (기본 음성 제공량이 있는 경우)</li>
                                                <li>넘버원요금상품</li>
                                                <li>뉴실버요금상품</li>
                                                <li>팅 스마트</li>
                                                <li>팅 프리존</li>
                                                <li>팅 주니어 표준+</li>
                                                <li>팅 PLUS</li>
                                                <li>온가족 행복플랜 팅</li>
                                                <li>소리사랑 온가족</li>
                                                <li>손사랑 온가족</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .widget -->
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <a href="#closepage" class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></a>
    <!--// .popup-closeBtn -->
</div>
