<div class="popup-page"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>문자보내기</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="msg-send-box">
                <p class="msg-name">정*영<em class="tx-tel"> 010-23**-45**</em></p>
                <div class="msg-txt">
                    <textarea class="txt-bg" placeholder="메시지로마음을표현해보세요 (80자 이내)" cols="30" rows="5" title="문자메시지 작성하기 (80자 이내)"></textarea>
                </div>
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// .container-wrap -->
    <div class="footer-wrap btn-area-msg">
        <div class="page-gnb">
            <div class="bt-popup btn-wrap">
                 <ul class="bt-slice ver item-three">
                    <li class="bt-white1"><button data-target="sendTextCancelBtn">취소</button></li>
                    <li class="bt-red1"><button data-target="sendTextBtn">보내기</button></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .popup-closeBtn -->
    <a href="#closepage" class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></a>
    <!--// .popup-closeBtn -->
</div>
