<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>리필하기 가능요금상품</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-hoz noborder">
                <!-- 유동적 -->
                <!-- .widget -->
                <div class="widget">
                    <div class="widget-box accordion">
                        <h2 class="tit-a blind">리필하기 가능요금상품 목록</h2>
                        <div class="acco-cover">
                            <div class="acco-style">
                                <ul class="acco-list">
                                    <li class="acco-box">
                                        <div class="acco-tit">
                                            <button>음성/데이터 리필하기 가능요금상품</button>
                                        </div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">T끼리 요금상품</li>
                                                <li class="list">무료음성 Ⅱ</li>
                                                <li class="list">올인원 34/44(커플, 특수 포함)</li>
                                                <li class="list">LTE 요금상품(커플, 특수 포함)</li>
                                                <li class="list">실버스마트15</li>
                                                <li class="list">올인원팅</li>
                                                <li class="list">LTE팅</li>
                                                <li class="list">골든에이지15/34/42/52</li>
                                                <li class="list">손사랑34/42/52</li>
                                                <li class="list">소리사랑34/42/52</li>
                                                <li class="list">전국민 무한</li>
                                                <li class="list">3G/LTE 맞춤형 요금상품</li>
                                                <li class="list">온가족 행복플랜</li>
                                                <li class="list">band 데이터</li>
                                                <li class="list">band 데이터 팅</li>
                                                <li class="list">band 데이터 어르신</li>
                                                <li class="list">Star Ting 18</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="acco-box">
                                        <div class="acco-tit">
                                            <button>데이터 리필하기 가능요금상품</button>
                                        </div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">태블릿 요금상품</li>
                                                <li class="list">LTE 데이터전용</li>
                                                <li class="list">LTE 모뎀</li>
                                                <li class="list">LTE 태블릿</li>
                                                <li class="list">LTE Data 함께쓰기 (Basic 제외)</li>
                                                <li class="list">T login</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="acco-box">
                                        <div class="acco-tit">
                                            <button>음성 리필하기 가능요금상품</button>
                                        </div>
                                        <div class="acco-cont">
                                            <ul class="list-dot">
                                                <li class="list">50(+)요금</li>
                                                <li class="list">복지210(+)요금</li>
                                                <li class="list">무료문자</li>
                                                <li class="list">무료음성</li>
                                                <li class="list">소리사랑 요금상품</li>
                                                <li class="list">손사랑요금상품</li>
                                                <li class="list">올인원 54/64/79/94(커플/특수 포함)</li>
                                                <li class="list">특수통신요금상품 (기본 음성 제공량이 있는 경우)</li>
                                                <li class="list">넘버원요금상품</li>
                                                <li class="list">뉴실버요금상품</li>
                                                <li class="list">팅 스마트</li>
                                                <li class="list">팅 프리존</li>
                                                <li class="list">팅 주니어 표준+</li>
                                                <li class="list">팅 PLUS</li>
                                                <li class="list">온가족 행복플랜 팅</li>
                                                <li class="list">소리사랑 온가족</li>
                                                <li class="list">손사랑 온가족</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .widget -->
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
    <div class="footer-wrap">
        <div class="page-gnb">
            <div class="bt-popup">
                <ul class="bt-slice full">
                    <li class="bt-blue1">
                        <button>요금제 변경하러 가기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .popup-closeBtn -->
    <a href="#closepage" class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></a>
    <!--// .popup-closeBtn -->
</div>
