<div class="popup-page"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>대상 요금상품 보기</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <!-- .widget -->
            <div class="widget show-price-plan">
                <div class="widget-box accordion">
                    <!--<h5 class="tit-a"></h5>-->
                    <div class="acco-cover toggle">
                        <!--<div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>-->
                        <div class="acco-style">
                            <ul class="acco-list">
                                <li class="acco-box">
                                    <!-- .on: 열기 -->
                                    <div class="acco-tit"><button role="button" aria-pressed="true">데이터 선물하는 고객</button></div>
                                    <div class="acco-cont">
                                        <ul class="list-dot txt-spacing">
                                            <li class="list">LTE 42/52/62/72/85/100(커플, 특수 포함), T끼리 45/55 /65, LTE 맞춤형, 전국민 무한, 손사랑 34/42/52, 소리사랑 34/42/52, 골든에이지 34/42/52, 온가족행복플랜 48/58/68/72/78/85/100, 골든에이지 온가족 6/44/54, 소리사랑 온가족, 손사랑 온가족, band 데이터 36/42/47/51/59/80/100, band 데이터 어르신 34/40 가입고객
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="acco-box">
                                    <div class="acco-tit"><button role="button" aria-pressed="false">데이터 선물 받는 고객</button></div>
                                    <div class="acco-cont">
                                        <ul class="list-dot">
                                            <li class="list">올인원 34/44, 올인원커플 44, 올인원특수 34/44, 올인원 팅 34/44, 팅스마트 19/24/29, 맞춤형, 실버스마트 15, LTE 팅, T끼리 맞춤형, LTE 34/42/52/62/72/85/100(커플, 특수 포함),골든에이지, T끼리 35/45/55/65, 전국민 무한, LTE 맞춤형, 손사랑 34/42/52, 소리사랑 34/42/52, 온가족행복플랜 팅, 온가족플랜, 온가족행복플랜, 골든에이지 온가족, 소리사랑 온가족, 손사랑 온가족, band 데이터, band 팅, band 어르신, T끼리 어르신, 쿠키즈18 가입고객
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="acco-box">
                                    <div class="acco-tit"><button role="button" aria-pressed="false">데이터 자동 선물 받는 고객</button></div>
                                    <div class="acco-cont">
                                        <ul class="list-dot">
                                            <li class="list">T끼리 온가족할인, T가족결합(착한가족), TB끼리온가족무료, TB끼리 온가족프리, 온가족플랜, 온가족행복플랜 가입고객
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .widget -->
            <!--// content 영역 -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!--//T끼리 선물하기 화면에서 삭제.
    <div class="footer-wrap">
        <div class="page-gnb">
            <div class="bt-popup">
                <ul class="bt-slice full">
                    <li class="bt-blue1">
                        <button>요금제 변경하러 가기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
