<div class="popup-page nobg"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>자녀 실시간 잔여량</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="plan-title">
                    <h3 class="tit">뉴 T끼리 맞춤형<br />(200분+6GB)</h3>
                    <div class="bt-alone"><button class="bt-bg-blue1">나의 요금제</button></div>
                </div>
            </div>
            <!--// .cont-box -->

            <div class="data-type">
                <h4 class="tit">데이터</h4>
                <p class="num">총 데이터 잔여량 <em>36.7</em> GB</p>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <ul class="graphlist-wrap">
                    <li class="graphbox-li">
                        <h5 class="graphbox-title">기본 제공 데이터 100GB</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">35</span>GB</p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">사용<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">50</span>GB</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar red" style="width:30%"></span>
                        </div>
                        <div class="share-info mt20">
                            <p class="data">공유 25GB 가능<button aria-haspopup="true" class="info-view-ic">정보보기</button></p>
                            <button class="btn-share">15GB 공유 중</button>
                        </div>
                    </li>
                    <li class="graphbox-li">
                        <h5 class="graphbox-title">데이터 리필 8GB</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">6</span>GB</p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">사용<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">2</span>GB</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar red" style="width:30%"></span>
                        </div>
                        <p class="chargedate-box">쿠폰등록일 <span>2018.01.01</span></p>
                    </li>
                    <li class="graphbox-li">
                        <h5 class="graphbox-title">B tv 모바일 PACK</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">35</span>GB</p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">오늘사용<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">0</span>GB</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar red" style="width:30%"></span>
                        </div>
                    </li>
                    <li class="graphbox-li runout"><!-- 데이터 소진시 runout 클래스 추가 -->
                        <h5 class="graphbox-title">멜론 익스트리밍 2.4GB</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">0</span>GB</p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">오늘사용<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">2.4</span>GB</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar"></span><!-- 데이터 없을때 -->
                        </div>
                    </li>
                    <li class="graphbox-li unlimited"><!-- 무제한 데이터 unlimited 클래스 추가 -->
                        <h5 class="graphbox-title">한도초과후 데이터 무료</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">무제한</span></p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">사용<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">0</span>GB</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar blue-stripe" style="width:100%;"></span><!-- 무제한 데이터 -->
                        </div>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <div class="data-type">
                <h4 class="tit">음성/영상</h4>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <ul class="graphlist-wrap">
                    <li class="graphbox-li">
                        <h5 class="graphbox-title">영상, 부가 전화 300분</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음</p>
                                <p class="data-state"><span class="str">4</span>시간<span class="str ml4">40</span>분</p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">사용</p>
                                <p class="data-state"><span class="str">19</span>분<span class="str ml4">40</span>초</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar red" style="width:30%"></span>
                        </div>
                        <p class="chargedate-box">쿠폰등록일 <span>2018.01.01</span></p>
                    </li>
                    <li class="graphbox-li unlimited"><!-- 무제한 데이터 unlimited 클래스 추가 -->
                        <h5 class="graphbox-title">SKT 고객간 음성 무제한</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">무제한</span></p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">사용<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">14</span>분<span class="str ml4">40</span>초</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar blue-stripe" style="width:100%;"></span><!-- 무제한 데이터 -->
                        </div>
                    </li>
                    <li class="graphbox-li unlimited">
                        <h5 class="graphbox-title">집전화, 이동전화 음성 무제한</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">무제한</span></p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">사용<span class="blind">(데이터량)</span></p>
                                <p class="data-state"><span class="str">40</span>초</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar blue-stripe" style="width:100%;"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

            <div class="data-type">
                <h4 class="tit">문자</h4>
            </div>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <ul class="graphlist-wrap">
                    <li class="graphbox-li">
                        <h5 class="graphbox-title">SMS/MMS/ⓜ메신저 200건</h5>
                        <div class="amountdata-num">
                            <div class="date-info">
                                <p class="data-title">남음</p>
                                <p class="data-state"><span class="str">125</span>건</p>
                            </div>
                            <div class="date-info">
                                <p class="data-title">사용</p>
                                <p class="data-state"><span class="str">75</span>건</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar red" style="width:30%"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <!--// .cont-box -->

        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
