<div class="popup">
    <div class="popup-page nobg layer">
        <!-- .no-btn 하단에 버튼이 없을 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>충전방법 선택</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box nogaps noborder">
                    <p class="link-long-ti first">나의 보유 쿠폰 사용</p>
                    <ul class="link-long-list">
                        <li>
                            <div class="link-long">
                                <button>나의 리필 쿠폰
                                    <span class="tx-sub">2장
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <hr class="cont-sp type1" aria-hidden="true"/>
                    <p class="link-long-ti">선불 쿠폰 구매/충전</p>
                    <ul class="link-long-list">
                        <li>
                            <div class="link-long">
                                <button>T 데이터 쿠폰
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="link-long">
                                <button>T 쿠폰
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="link-long">
                                <button>제주도 프리 쿠폰
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <hr class="cont-sp type1" aria-hidden="true"/>
                    <p class="link-long-ti">요금 충전</p>
                    <ul class="link-long-list">
                        <li>
                            <div class="link-long">
                                <button>데이터 한도 요금제
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="link-long">
                                <button>팅 쿠키즈 안심 음성 요금
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="link-long">
                                <button>팅요금제 충전 선물
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <div class="popup-blind"></div>
</div>
