<!-- #gnb -->
<div id="gnb" class="gnb-wrap">
    <h2 class="blind">GNB 영역</h2>
    <ul class="gnb-list">
        <li>
            <a class="bt-gnb on" href="/home" title="HOME으로 이동"><!-- .on : 메뉴 활성화 시 -->
                <span class="ico home"></span>
                <span class="gnb-tx"><span class="eng">HOME</span></span>
            </a>
        </li>
        <li>
            <a class="bt-gnb" href="/myt" title="MY T로 이동">
                <span class="ico myt"></span>
                <span class="gnb-tx"><span class="eng">MY T</span></span>
            </a>
        </li>
        <li>
            <a class="bt-gnb" href="#none" title="T 채널로 이동">
                <span class="ico tchannel"></span>
                <span class="gnb-tx"><span class="eng">T</span> 채널</span>
            </a>
        </li>
        <li>
            <a class="bt-gnb" href="/home/menu" title="전체 메뉴로 이동">
                <span class="ico all"></span>
                <span class="gnb-tx">전체 메뉴</span>
            </a>
        </li>
    </ul>
</div>
<!--// #gnb -->
