<!-- #header -->
<div id="header">
    <h1>{{title}}</h1>
    <!-- #gnb -->
    <div id="gnb" class="gnb">
        <ul>
            {{#each menu}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
    <!--// #gnb -->
</div>
<!--// #header -->
