<!-- .popup hbs -->
<div class="popup-page tw-popup"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <h1 class="complete-title">
                <img src="/img/ico/icon-check01.png" alt=""/>
                {{#if data.isFinger}}
                <span><strong>지문인증 해지</strong> 완료</span>
                {{else}}
                <span><strong>Face ID 해지</strong> 완료</span>
                {{/if}}
            </h1>
            {{#if data.isFinger}}
            <div class="complete-info">
                <ul class="con-dot-txt0">
                    <li>지문인증 서비스를 이용하시려면 아래의 ‘지문 등록/재등록’ 버튼을 눌러 지문정보를 다시 등록해 주셔야 합니다.</li>
                </ul>
            </div>
            <div class="complete-btn-box pt38">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button id="fe-bt-go-register-finger">지문 등록/재등록</button>
                    </li>
                </ul>
            </div>
            {{else}}
            <div class="complete-info">
                <ul class="con-dot-txt0">
                    <li>Face ID 인증 서비스를 이용하시려면 아래의 ‘Face ID 등록/재등록’ 버튼을 눌러 얼굴정보를 다시 등록해 주셔야 합니다.</li>
                </ul>
            </div>
            <div class="complete-btn-box pt38">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button id="fe-bt-go-register-face">Face ID 등록/재등록</button>
                    </li>
                </ul>
            </div>
            {{/if}}
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->