<div class="popup-page nobg tw-popup fixed-btn">
  <!-- .fixed-btn 하단에 고정된 버튼이 있는 경우 -->
  <!-- #header -->
  <div class="header-wrap">
    <div class="page-header">
      <div class="header-ti">
        <h1>요금제 비교하기</h1>
      </div>
    </div>
  </div>
  <!--// #header -->
  <!-- .container-wrap -->
  <div class="container-wrap">
    <h2 class="blind">내용</h2>
    <div class="container">
      <img src="/img/dummy/product_dummy_MP_02_02_01.png" width="100%">
    </div>
  </div>
  <!-- .popup-closeBtn -->
  <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
  <!--// .popup-closeBtn -->
</div>