<div class="popup-page">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>소멸예정 포인트 안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap hidden-x">
        <h2 class="blind">내용</h2>
        <div class="container"><!--2018-07-11 수정-->
            <div class="cont-box">
                <div class="inner-block">
                    <h2 class="title-h2">소멸예정 포인트</h2>
                    <div class="tx-top">
                        <span class="tx-ctx">{{data.currentYear}}년 {{data.currentMonth}}월 소멸예정 포인트는 <span class="em-color tx-bold ff-hn">{{data.exprdPoint}}</span><span class="tx-bold">원</span> 입니다.<br />소멸예정 포인트는 소멸예정월의 말일까지 유효합니다.</span>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box">
                <div class="inner-block">
                    <h2 class="title-h2">소멸예정포인트란 무엇이며, 포인트가 언제부터 소멸 되나요?</h2>
                    <div class="tx-top">
                        <span class="tx-ctx fs-type1">소멸예정포인트는 2007년 4월 이후 적립된 레인보우포인트의 유효기간(7년)이 만료됨에 따라 소멸될 포인트 입니다.</span>
                    </div>
                    <div class="contents-info-list mt40">
                        <div class="history-list">
                             <ul class="basic-type title-type">
                                <li>
                                    <span class="in-item"><span class="tx-bold">적립시점</span><br />(적립포인트)</span>
                                    <span class="in-item"><span class="tx-bold">사용가능 기한</span></span>
                                    <span class="in-item"><span class="tx-bold">소멸예정일</span></span>
                                </li>
                            </ul>
                            <ul class="basic-type inner-type">
                                <li>
                                    <span class="in-item ff-hn">2017.5<br />(1,000점)</span>
                                    <span class="in-item ff-hn">2024.05.31</span>
                                    <span class="in-item ff-hn">2024.06.01</span>
                                </li>
                                <li>
                                    <span class="in-item ff-hn">2017.6<br />(2,000점)</span>
                                    <span class="in-item ff-hn">2024.06.30</span>
                                    <span class="in-item ff-hn">2024.07.01</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box">
                <div class="inner-block">
                    <h2 class="title-h2">왜 포인트를 소멸 하나요?</h2>
                    <div class="tx-top">
                        <span class="tx-ctx fs-type1">
                            휴대폰 이용약관에 2004.1.1 이후 5년이 경과된 레인보우포인트는 소멸하도록 명시되어 있으며, 이에 따라 유효기간이 만료된 레인보우포인트는 소멸하게 됩니다. 
                        다만, 방송통신위원회와의 협의를 통해 2012년 5월부터 소멸유효기간을 기존 5년에서 7년으로 연장하게 되었고. 이에 따라 유효기간 7년이 만료된 레인보우포인트는 2014년 5월부터 발생하게 되며, 이때 이후 소멸 될 
                        예정 입니다.
                        </span>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box">
                <div class="inner-block">
                    <h2 class="title-h2">레인보우포인트가 소멸되지 않게 하고 싶은데 어떻게 하면 되나요?</h2>
                    <div class="tx-top">
                        <span class="tx-ctx fs-type1">
                            유효기간 7년이 만료되는 시점에 소멸대상 포인트가 있다면 소멸이 될 수 밖에 없습니다. 따라서 소멸시점 이전까지 소멸예정 포인트를 사용하시는 게 최상의 방법입니다.
                        </span>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box">
                <div class="inner-block">
                    <h2 class="title-h2">레인보우포인트를 어떻게(어디에서) 사용 할 수 있나요?</h2>
                    <div class="tx-top">
                        <span class="tx-ctx fs-type1">
                            레인보우포인트는 국내음성통화료, NATE도토리 충전, 부가서비스 납부, 로밍이용료, 임대료, A/S요금납부, VM정보료납부, 1004사랑나눔납부 시 이용 하실 수 있습니다.
                        </span>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true">

            <div class="cont-box">
                <div class="inner-block">
                    <h2 class="title-h2">사용문의</h2>
                    <div class="tx-top">
                        <span class="tx-ctx fs-type1">
                            my T 휴대폰 > 요금납부 > 온라인 요금납부에서 하실 수 있습니다. <br />기타 사용은 고객센터 080-011-6000 (무료)를 통해 하실 수 있습니다.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <!--// #contents -->
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
