<div class="popup-page">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>요금안내서 미리보기 </h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap hidden-x">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box"><!--2018-07-05 수정-->
                <div class="component-box flcard-s-default">
                    <div class="flcard-s-cont">
                        <div class="flcard-s-area">
                            <!-- .widget -->
                            <div class="widget">
                                <div class="widget-box slider3">
                                    <!--<h5 class="tit-a blind">위젯 슬라이드</h5>--><!-- 2018-06-19 : h태그 수정/삭제 -->
                                    <div class="type3">
                                        <div class="slider-box">
                                            <!-- type1: 카드형 -->
                                            <ul class="slider">
                                                <li class="swiper-slide">
                                                    <div class="swiper-cont bg-color3">
                                                        <div class="t-commend-info">
                                                            <span class="ico-commend"><em class="blind">추천</em></span>
                                                            <p class="commend-info-txt">T World<br /> 확인</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="swiper-slide">
                                                    <div class="swiper-cont bg-color3">
                                                        <div class="t-commend-info">
                                                            <!--<span class="ico-commend"><em class="blind">추천</em></span>-->
                                                            <p class="commend-info-txt">문자</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="swiper-slide">
                                                    <div class="swiper-cont bg-color4">
                                                        <div class="t-commend-info">
                                                            <span class="ico-commend"><em class="blind">추천</em></span>
                                                            <p class="commend-info-txt">Bill Letter</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="swiper-slide">
                                                    <div class="swiper-cont bg-color3">
                                                        <div class="t-commend-info">
                                                            <!--<span class="ico-commend"><em class="blind">추천</em></span>-->
                                                            <p class="commend-info-txt">Bill Letter</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="swiper-slide">
                                                    <div class="swiper-cont bg-color3">
                                                        <div class="t-commend-info">
                                                            <span class="ico-commend"><em class="blind">추천</em></span>
                                                            <p class="commend-info-txt">Bill Letter</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="swiper-slide">
                                                    <div class="swiper-cont bg-color3">
                                                        <div class="t-commend-info">
                                                            <span class="ico-commend"><em class="blind">추천</em></span>
                                                            <p class="commend-info-txt">Bill Letter</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //.widget -->
                        </div>
                    </div>
                    <div class="commend-detail-info">
                        <p class="txt">휴대폰 MMS를 통해 요금안내서를 받으실 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box nogaps">
                <!-- .component -->
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area type1"><!-- 타입별 탭형태 변환 -->
                            <div class="tab-linker">
                                <ul role="tablist">
                                    <li role="tab" aria-selected="false" aria-controls="aria-tab1-tab" id="aria-tab1"><a href="">휴대폰</a></li>
                                    <li role="tab" aria-selected="true" aria-controls="aria-tab2-tab" id="aria-tab2"><a href="">인터넷/집전화/IPTV</a></li><!-- true 열림 -->
                                </ul>
                            </div>
                            <div class="tab-contents" style="height:500px;">
                                <p>이미지 수급 후 진행 예정</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box noborder">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button>"문자"로 변경하기</button>
                    </li>
                </ul>
            </div>
        </div>
    <!--// #contents -->
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
