<div class="popup-page bg-none">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>전월요금보기</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-top">
				<div class="box-inquiry-info">
					<span class="inquiry-info-stxt">010-23**-45**</span>
					<span class="inquiry-info-txt"><strong>휴대폰 전월 요금</strong> 입니다.</span>
				</div>
            </div>
            <!--// content 영역 -->
			<hr class="cont-sp type1" aria-hidden="true"/>
			<!-- content 영역 -->
            <div class="cont-box">
				<div class="payment-all">
					<h3 class="blind">실시간 요금</h3>
					<span><em>201,020</em> 원</span>
					<p class="term">2018.06.01~ 2018.06.06</p>
				</div>
            </div>
            <!--// content 영역 -->
			<hr class="cont-sp type1" aria-hidden="true"/>
			<!-- content 영역 -->
            <div class="cont-box nogaps noborder">
                <!-- .accordion -->
                <div class="widget">
                    <div class="widget-box accordion2">
                        <div class="acco-style payment-list">
                            <ul class="acco-box">
                                <!-- 아코디언 한줄 -->
                                <li class="acco-list"><!-- on , off -->
                                    <!-- 아코디언 타이틀 -->
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                            <span class="pt-tit-wrap">
                                                <span class="pt-tit">통신서비스요금</span>
                                                <span class="pt-price"><span class="num">12,550</span>원</span>
                                            </span>
                                        </button>
                                    </div>
                                    <!--// 아코디언 타이틀 -->
                                    <!-- 아코디언 내용 -->
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <!-- depth-1 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">월정액</dt>
                                                    <dd class="pdt-price"><span class="num">24,480</span>원</dd>
                                                </dl>
                                            </li>
                                            <!--// depth-1 -->
                                            <!-- depth-2 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">국내통화료</dt>
                                                    <dd class="pdt-price"><span class="num">20</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">음성통화료</dt>
                                                            <dd class="pdt-price"><span class="num">0</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--// depth-2 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">데이터통화료</dt>
                                                    <dd class="pdt-price"><span class="num">24,480</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">요금할인</dt>
                                                    <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd><!-- 할인 항목 숫자에 discount 클래스 추가 -->
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">온가족+B인터넷할인</dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">oksusu_쿠폰할인</dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">oksusu_요금할인</dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-01">부가가치세(세금)<span class="badge badge-other"><span class="blind">타사</span></span></dt><!-- 2018-07-11 아이콘 변경 --><!-- 주석 달린 텍스트 aria-labelledby, role 속성 추가 -->
                                                    <dd class="pdt-price"><span class="num">1,760</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-02">부가세총액<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">3,760</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-02">할인부가세<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="footnote-01"><span class="badge badge-other"><span class="blind">타사</span></span>부가가치세 제외 대상 표시</li><!-- 2018-07-11 아이콘 변경 --><!-- 상단 텍스트 aria-labelledby 와 id 속성값을 동일하게 처리해야 함 -->
                                                <li id="footnote-02"><span class="ico-foot-2"></span>당사에서 청구 대행하는 타사 요금</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--// 아코디언 내용 -->                                    
                                </li>
                                <!--// 아코디언 한줄 -->
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                            <span class="pt-tit-wrap">
                                                <span class="pt-tit">부가사용금액</span>
                                                <span class="pt-price"><span class="num">11,399</span>원</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">부가서비스이용료</dt>
                                                    <dd class="pdt-price"><span class="num">1,499</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">착신전환서비스</dt>
                                                            <dd class="pdt-price"><span class="num">532</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">oksusu_기본월정액</dt>
                                                            <dd class="pdt-price"><span class="num">532</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-03">콘텐츠이용료<span class="badge badge-other"><span class="blind">타사</span></span></dt><!-- 2018-07-11 아이콘 변경 -->
                                                    <dd class="pdt-price"><span class="num">1,760</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-04">티스토어콘텐츠<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">9,900</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="footnote-03"><span class="badge badge-other"><span class="blind">타사</span></span>부가가치세 제외 대상 표시</li><!-- 2018-07-11 아이콘 변경 -->
                                                <li id="footnote-04"><span class="ico-foot-2"></span>당사에서 청구 대행하는 타사 요금</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                            <span class="pt-tit-wrap">
                                                <span class="pt-tit">단말기할부금</span>
                                                <span class="pt-price"><span class="num">14,610</span>원</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">단말기할부금</dt>
                                                    <dd class="pdt-price"><span class="num">14,610</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-05">단말기할부원금<span class="badge badge-other"><span class="blind">타사</span></span></dt><!-- 2018-07-11 아이콘 변경 -->
                                                            <dd class="pdt-price"><span class="num">14,050</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-06">단말기할부이자<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">532</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="footnote-05"><span class="badge badge-other"><span class="blind">타사</span></span>부가가치세 제외 대상 표시</li><!-- 2018-07-11 아이콘 변경 -->
                                                <li id="footnote-06"><span class="ico-foot-2"></span>당사에서 청구 대행하는 타사 요금</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// .accordion -->
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
