<div class="popup-page">
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>통합청구 회선안내 </h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap hidden-x">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box noborder">
                <div class="commend-bill-info">
                    <p class="bill-tit">
                        <span class="bill-tel num">010-23**-45**</span>
                        <strong>통합청구 등록회선</strong> 입니다.
                    </p>
                    <div class="contents-info-list">
                        <span class="bill-num">총<em>4</em>개</span>
                        <ul class="bill-history">
                            <li>
                                <div class="info-user">
                                    <span class="info-title">휴대폰</span>
                                </div>
                                <div class="info-data">
                                    <span class="info-title num"><span class="badge badge-allpay"><span class="blind">통합대표</span></span>010-23**-45**</span>
                                    <span class="info-sub">갤러시 S6 LTE-A</span>
                                </div>
                            </li>
                            <li>
                                <div class="info-user">
                                    <span class="info-title">휴대폰</span>
                                </div>
                                <div class="info-data">
                                    <span class="info-title num">010-23**-45**</span>
                                    <span class="info-sub">LG Q6</span>
                                </div>
                            </li>
                            <li>
                                <div class="info-user">
                                    <span class="info-title">집전화</span>
                                </div>
                                <div class="info-data">
                                    <span class="info-title num">031-12**-45**</span>
                                </div>
                            </li>
                            <li>
                                <div class="info-user">
                                    <span class="info-title">IPTV</span>
                                </div>
                                <div class="info-data">
                                    <span class="info-title num">107동 603호</span>
                                    <span class="info-sub-type1">권선동,수원아이파크시티1단<br />(권선동,1360)</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <!--// #contents -->
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
