<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti align-l">
                <h1>콘텐츠 이용료 고객센터 안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <div class="point-info">
                    <h3 class="blind">콘텐츠 이용료 고객센터 안내</h3>
                    <!-- payment-detail-wrap -->
               		<div class="payment-detail-wrap">
               			<div class="payment-detail-box">
							<div class="detail-inner">
								<div class="detail-list">
                                    <ul>
                                        <li>
                                            <span class="title">구글플레이스토어</span>
											<span class="tx-cont"><a href="tel:080-234-0051" class="blue-btn ff-hn">080-234-0051</a><span class="ff-smaller">(무료)</span></span>
                                        </li>
                                        <li>
                                            <span class="title">원스토어</span>
											<span class="tx-cont"><a href="tel:1600-6573" class="blue-btn ff-hn">1600-6573</a><span class="ff-smaller">(유료)</span></span>
                                        </li>
                                        <li>
                                            <span class="title">삼성스토어</span>
											<span class="tx-cont"><a href="tel:080-8282-106" class="blue-btn ff-hn">080-8282-106</a><span class="ff-smaller">(무료)</span></span>
                                        </li>
                                        <li>
                                            <span class="title">옥수수</span>
											<span class="tx-cont"><a href="tel:080-8282-106" class="blue-btn ff-hn">080-8282-106</a><span class="ff-smaller">(무료)</span></span>
                                        </li>
                                        <li>
                                            <span class="title">멜론</span>
											<span class="tx-cont"><a href="tel:1566-7727" button class="blue-btn ff-hn">1566-7727</a><span class="ff-smaller">(유료)</span></span>
                                        </li>
                                        <li>
                                            <span class="title">유튜브 레드</span>
											<span class="tx-cont"><a class="blue-btn" target="_blank">이메일보내기</a></span>
                                        </li>
                                    </ul>
                                </div>
               				</div>
               			</div>
               		</div>
               		<!--// payment-detail-wrap -->
                </div>
            </div>
            <!--// .cont-box -->
            <div class="footer-wrap btn-area-msg">
                <div class="page-gnb">
                    <div class="bt-popup">
                        <ul class="bt-slice">
                            <li class="bt-blue1">
                                <button>확인</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
