<div class="popup-page bg-none">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>이용정지 해제</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-top noborder">
                <div class="box-suggest">
                    <div class="suggest-info suggest-info-type2">
                        <p class="suggest-ti space-btm">고객님의 미납요금 <em class="tx-bold col-red">300,000</em>원이 내일까지 납부 확인되지 않으면 다시 이용이 정지됩니다.</p><!-- 2017-07-06 텍스트 수정 -->
                        <p class="suggest-ti"><em class="tx-bold">지금 정지해제를 하시겠습니까?</em></p>
                        <ul class="suggest-list nodot">
                            <li>자동납부고객님은 이중인출의 우려가 있으니 통장의 잔고를 비워주시기 바랍니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <div class="footer-wrap btn-area-msg">
        <div class="bt-popup">
            <ul class="bt-slice item-two">
                <li class="bt-white2">
                    <button>취소</button>
                </li>
                <li class="bt-blue1">
                    <button>이용정지해제</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
