<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>환불처리 상세내역</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-top">
				<div class="payment-detail-wrap">
                    <div class="payment-detail-box">
                        <div class="detail-inner">
                            <div class="detail-list">
                                <ul>
                                    <li>
                                        <span class="title">신청일자</span>
										<span class="tx-cont">2018.05.23</span>
                                    </li>
                                    <li>
                                        <div class="inner-top">
											<span class="title">신청금액</span>
											<span class="tx-cont">27,000 원</span>
										</div>
										<div class="inner-row">
											<ul>
												<li>
													<span class="title">과납</span>
													<span class="tx-cont">27,000 원</span>
												</li>
												<li>
													<span class="title">채권보전료</span>
													<span class="tx-cont">0 원</span>
												</li>
												<li>
													<span class="title">합계</span>
													<span class="tx-cont">27,000 원</span>
												</li>
											</ul>
										</div>
                                    </li>
                                    <li>
                                        <div class="inner-top">
											<span class="title">처리결과</span>
											<span class="tx-cont">송금완료(27,000원)</span>
										</div>
										<div class="inner-row">
											<ul>
												<li>
													<span class="title">은행</span>
													<span class="tx-cont">국민은행</span>
												</li>
												<li>
													<span class="title">계좌번호</span>
													<span class="tx-cont">9870*** ******</span>
												</li>
												<li>
													<span class="title">처리일자</span>
													<span class="tx-cont">2018.05.28</span>
												</li>
											</ul>
										</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
	<div class="footer-wrap btn-area-msg">
        <div class="page-gnb">
            <div class="bt-popup">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button>닫기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
