<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>포인트 조회하기</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box noborder">
                <div class="inner">
                    <div class="pay-info">
                        <h4 class="pay-tit">카드번호 입력 및 제3자 <br />
                            정보 제공동의</h4>
                    </div>
                    <div class="account-wrap">
                        <h5 class="account-tit">카드번호</h5>
                        <div class="inputbox">
                            <span class="input">
                                <!-- 접근성 수정 --><!-- 2018-07-12 수정 -->
                                <input type="number" placeholder="카드번호 (숫자만 입력)" title="카드번호 (숫자만 입력)" aria-describedby="aria-cardinfo-desc2">
                                <a href="javascript:void(0)" class="cancel"><span class="blind">삭제</span></a>
                            </span>
                        </div>
                        <div class="contents-notice type1" id="aria-cardinfo-desc2">
                            <span class="noti-type3">OK캐쉬백 서비스를 신청하지 않은 고객은 멤버쉽 카드 번호로
                                OK캐쉬백 수납이 불가능하오니, 소지하고 계신 타 OK캐쉬백
                                카드번호를 입력해 주시기 바랍니다.
                            </span>
                        </div>
                    </div>
                    <div class="agree-list type-03">
                        <div class="widget">
                            <div class="widget-box accordion">
                                <div class="acco-cover on">
                                    <!-- toggle : 한개만 열기 -->
                                    <div class="acco-style btn-hold">
                                        <ul class="acco-list">
                                            <!-- .on: 열기 -->
                                            <li class="acco-box">
                                                <div class="acco-tit">
                                                    <div class="widget">
                                                        <div class="widget-box check">
                                                            <div class="checkbox type02 checked all_chk" role="checkbox" aria-checked="false">
                                                                <i class="ico"></i>
                                                                <input type="checkbox" name="checkbox" value="" title="OK캐쉬백 제3자 정보 제공동의(필수)"><!-- 접근성 수정 -->
                                                                <span>OK캐쉬백 제3자 정보 제공동의(필수)</span>
                                                            </div>
                                                        </div>
                                                    </div><button role="button" aria-pressed="true">상세보기</button><!--// 2018-07-11 수정-->
                                                </div>
                                                <div class="acco-cont">
                                                    <div class="agree-cont">
                                                        <p class="agree-cont-defined">
                                                               본인은 OK캐쉬백 포인트 조회/사용을 위해 본인의 카드번호 및 비밀번호를 회원 본인확인 및 OK캐쉬백 포인트 조회, 사용으로만 SK 플래닛에 제공하는 것에 동의합니다.
제공된 정보는 별도로 저장되지 않습니다.<br /><br />고객님께서는 동의거부 권리가 있으며, 동의거부 시 포인트 조회 및 사용이 불가합니다. OK캐쉬백 제 3자 정보게종에 동의하시려면 아래 동의에 체크해 주시기 바랍니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// .widget -->
                    </div>
                </div>
            </div>
            <div class="footer-wrap btn-area-msg">
                <div class="page-gnb">
                    <div class="bt-popup">
                        <ul class="bt-slice">
                            <li class="bt-blue1">
                                <button>조회하기</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
