<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>ok캐쉬백 납부 상세내역</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box nogaps-hoz noborder">
				<div class="payment-detail-box">
                    <div class="detail-inner">
                        <div class="detail-list">
                            <ul>
                                <li>
                                    <span class="title">납부금액</span>
                                    <span class="tx-cont"><strong>27,000</strong> 원</span>
                                </li>
                                <li>
                                    <span class="title">납부내용</span>
                                    <span class="tx-cont">2018년 05월 청구분<br />010-23**-45**</span>
                                </li>
                                <li>
                                    <div class="inner-top">
                                        <span class="title">요청내역</span>
                                    </div>
                                    <div class="inner-row">
                                        <ul>
                                            <li>
                                                <span class="title">요청결과</span>
                                                <span class="tx-cont">납부완료</span>
                                            </li>
                                            <li>
                                                <span class="title">요청일시</span>
                                                <span class="tx-cont">2018.05.23</span>
                                            </li>
                                            <li>
                                                <span class="title">승인일시</span>
                                                <span class="tx-cont">2018.05.23</span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">포인트 종류</span>
                                    <span class="tx-cont">OK캐쉬백 포인트</span>
                                </li>
                                <li>
                                    <span class="title">카드번호</span>
                                    <span class="tx-cont">1212*********</span>
                                </li>
                                <li>
                                    <span class="title">승인번호</span>
                                    <span class="tx-cont">1234567</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				<p class="box-undtxt2">즉시납부의 OK캐쉬백/T포인트 <strong>납부취소는 납부 후 20일 이내</strong>에만 가능합니다.</p>
            </div>
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
	<div class="footer-wrap btn-area-msg">
        <div class="page-gnb">
            <div class="bt-popup">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button>닫기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
