<div class="popup-page">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>레인보우 포인트 납부예약</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- #contents -->
            <div id="contents" class="container-wrap">
                <h2 class="blind">내용</h2>
                <div class="container">
                    <div class="cont-box">
                        <div class="point-info">
                            <h3 class="blind">레인보우 포인트 상세</h3>
                        </div>
                        <div class="point-wrap mg-top">
                            <div class="point-box">
                                <ul>
                                    <li>
                                        <dl>
                                            <dt>납부예약포인트</dt>
                                            <dd><em class="number">1,000</em> 점</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>요청내용</dt>
                                            <dd>로밍사용요금-납부신청완료<br />
                                                010-23**-45**
                                            </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>요청결과</dt>
                                            <dd>납부예약 신청완료</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>포인트 종류</dt>
                                            <dd>레인보우 포인트</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt>처리 영업장</dt>
                                            <dd>T월드</dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                            <div class="contents-notice type1">
                                <span class="noti-type2">포인트납부 납부예약 취소는 신청 후 30일 이내에 가능합니다.
                                        (단, 이미 요금납부 처리 완료된 포인트는 취소 불가)
                                </span>
                                <span class="noti-type2">신청하신 포인트보다 청구요금이 적은 경우 남은 포인트는 
                                        이월됩니다.
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--// .cont-box -->
                </div>
            </div>
            <!--// #contents -->
        </div>
    </div>
    <!--// #contents -->
	<div class="footer-wrap btn-area-msg">
        <div class="page-gnb">
            <div class="bt-popup">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button>닫기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
