<div class="popup-page bg-none">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>요금상품 변경에 따른 초과과금 안내</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            <div class="cont-box">
            	<h3 class="product-tit">초과과금 안내</h3>
            	<p class="product-p-14">선택하신 요금상품으로 변경 시, 기본 제공량 초과로 인해 현재 사용중인 요금상품 (올인원54) 보다 더 많은 요금이 발생할 수 있습니다.</p>
            	<div class="product-pop-list mt30">
            		<ul>
            			<li>
            				<span class="list-tit">선택하신 요금상품</span>
            				<span class="list-con">data 인피니티</span>
            			</li>
            			<li>
            				<span class="list-tit">사용중인 요금상품</span>
            				<span class="list-con">band 데이터 퍼펙트</span>
            			</li>
            			<li>
            				<span class="list-tit">DATA 초과 사용량</span>
            				<span class="list-con ff-fn vbl tx-bold">1,000 MB</span>
            			</li>
            			<li>
            				<span class="list-tit">음성통화 초과사용량</span>
            				<span class="list-con vbl tx-bold">25 분</span>
            			</li>
            			<li class="pb0">
            				<span class="list-tit">추가 예상 요금</span>
            				<span class="list-con vbl tx-bold">15,000 원</span>
            			</li>
            		</ul>
            	</div>
            </div>
            
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box">
                <h3 class="product-tit">현재 선택하신 요금상품으로 <br /><span class="tx-bold vbl">변경을 계속하시겠습니까?</span></h3>
                <p class="product-p-14">고객님께서 선택하신 요금상품으로 변경 할 경우, 해당 요금상품의 기본제공량 외에 추가 요금이 발생할 수 있사오니, 아래 요금상품 변경 시 유의사항을 다시 한 번 확인해주세요.</p>
				<ul class="bt-slice item-two mt40">
					<li class="bt-white2">
						<button>취소</button>
					</li>
					<li class="bt-blue1">
						<button>확인</button>
					</li>
				</ul>
            </div>
            
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box nogaps-hoz">
				<div class="box-confirm">
					<!-- .widget -->
					<div class="widget">
						<div class="widget-box accordion">
							<h5 class="tit-a">이것만은 꼭 확인하세요.</h5>
							<div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
								<div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
								<div class="acco-style btn-hold">
									<ul class="acco-list">
										<li class="acco-box">
											<!--<div class="acco-tit"><span class="bullet">2.</span> 포인트 합산은 1점 단위로 합산하실 수 있습니다.</div>-->
											<ul class="list-dot pt20">
												<li class="list tx-bold">요금제의 기본제공 음성/문자/데이터 혜택은 월 중 요금제 변경 시 실제 이용기간을 기준으로 일할 계산하며 초과 사용량에 대해서는 다음달 청구요금에 반영됩니다.</li>
												<li class="list tx-bold">초과 과금 예시)
													<ul class="inner-group type4"><!-- - 일 경우 -->
														<li class="inner-list"><span class="bullet">-</span>band 데이터 1.2G 사용 고객이 총 900MB의 데이터 사용 후 16일에 요금제 변경 시(30일 기준)</li>
														<li class="inner-list"><span class="bullet">-</span>변경 전 사용일 (1~15일) 기준 제공량 : 약 600MB (= 1.2GB X 15일/30일)</li>
														<li class="inner-list"><span class="bullet">-</span>초과사용량 : 300MB (= 사용량 900MB - 일할 제공량 600MB)</li>
														<li class="inner-list"><span class="bullet">-</span>초과 사용한 데이터 300MB에 대해 종량 요율(22.528원/MB)로 과금 (단, 최대 19,800원)</li>
													</ul>
													<a class="bt-link-tx" href="">데이터요금 기준 안내<span class="ico"></span></a>
												</li>
												<li class="list">일부 요금제를 변경/해지 하실 경우, 해당 요금제 가입 시 자동가입 된 상품들은 자동으로 가입/해지 됩니다.</li>
											</ul>
											
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--// .widget -->
				</div>
			</div>
        </div>
    </div>
    <!--// #contents -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
