<div class="popup-page"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>팝업페이지 타이틀</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- content 영역 -->
            컨텐츠영역
            <!--// content 영역 -->
        </div>
    </div>
    <!--// #contents -->
    <div class="footer-wrap">
        <div class="page-gnb">
            <div class="bt-popup">
                <ul class="bt-slice full">
                    <li class="bt-blue1">
                        <button>팝업페이지 버튼영역</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .popup-closeBtn -->
    <a href="#closepage" class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></a>
    <!--// .popup-closeBtn -->
</div>
