<!-- .popup share -->
<div class="popup">
    <div class="popup-info">
        <div class="popup-header">
            <h5 class="popup-title">{{title}}</h5>
            <a href="#popup-close" class="popup-closeBtn"><span class="ico"></span></a>
        </div>
        <div class="popup-sns">
            <ul>
                <li>
                    <a class="sns-ico-fb" href="#">
                        <span class="ico"></span><br/>
                        <span class="send-txt">페이스북</span>
                    </a>
                </li>
                <li>
                    <a class="sns-ico-tw" href="#">
                        <span class="ico"></span>
                        <span class="send-txt">트위터</span>
                    </a>
                </li>
                <li>
                    <a class="sns-ico-ko" href="#">
                        <span class="ico"></span><br/>
                        <span class="send-txt">카카오톡</span>
                    </a>
                </li>
                <li>
                    <a class="sns-ico-ks" href="#">
                        <span class="ico"></span><br/>
                        <span class="send-txt">카카오스토리</span>
                    </a>
                </li>
                <li>
                    <a class="sns-ico-nv" href="#">
                        <span class="ico"></span><br/>
                        <span class="send-txt">네이버블로그</span>
                    </a>
                </li>
                <li>
                    <a class="sns-ico-band" href="#">
                        <span class="ico"></span><br/>
                        <span class="send-txt">네이버밴드</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup-send">
            <div class="sns-copy-box">
                <div class="url_copy">
                    <p><a href="{{url}}" onclick="return false;">{{url}}</a></p>
                </div>
                <p class="url_info">URL을 길게 누르시면 복사하실 수 있습니다.</p>
                <!-- <span class="sns-copy-url" href="#sns-copy"></span>
                <a class="btn-copy-url" href="#url-copy" data-clipboard-text="">복사</a> -->
            </div>
        </div>
    </div>
    <div class="popup-blind"></div>
</div>
<!--// .popup share -->
