<!-- .popup hbs -->
<div class="popup-page tw-popup">
    <!-- .no-btn 하단에 버튼이 없을 경우 -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <h1 class="complete-title">
                <img src="/img/dummy/dmy-complete.jpg" alt="" />
                <span><strong>회선 등록</strong> 완료</span>
            </h1>
            <div class="complete-info">
                <dl>
                    <dt>총 회선등록</dt>
                    <dd><strong>{{ data.registerLength }}</strong> 개</dd>
                </dl>
            </div>
            <div class="complete-btn-box pt40">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <a href="/common/line">다시 설정하기</a>
                    </li>
                </ul>
                <div class="bt-link-box">
                    <a href="/main/home" class="bt-link-tx">홈으로</a>
                </div>
            </div>
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->