<div class="popup tw-popup">
    <div class="popup-page nobg"><!-- .half 화면에서 50%로 보여질때 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti align-l">
                    <h1>자녀 실시간 사용요금</h1>
                </div>
                <!-- .popup-closeBtn -->
                <button class="popup-closeBtn fe-common-back"></button>
                <!--// .popup-closeBtn -->
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <div class="ti-caption-gray"><!-- 2018-09-19 클래스명 변경 -->
                    <h3 class="tit">{{ data.svcInfo.prodNm }}</h3>
                    <button class="detail-view"><span class="blind">자세히보기</span></button>
                </div>
                <!-- .cont-box -->
                <div class="cont-box pt10">
                    <div class="charge-guide-wrap">
                        <div class="charge-cont">
								<span class="sub-disc01">
									<span class="elem">{{ data.svcInfo.svcNum }}<span class="badge badge-fam"><span class="blind">자녀회선</span></span></span>
								</span>
                            <span class="tit"><span class="charge-txt">119,090</span>원</span>
                            <span class="sub-disc01">사용기간 : 2018.7.1~2018.7.15</span>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-hoz">
                    <div class="statement-cont">
                        <div class="statement-detail type2" id="fe-child-bill-menu">
                            <!-- .widget -->
                            <!--// .widget -->
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- TBD -->
                <img src="/img/dummy/DC_02_TBD2.jpg" alt="이용안내 노출 영역" style="width:100%;vertical-align:top;"/>

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- TBD -->
                <img src="/img/dummy/DC_02_TBD3.jpg" alt="페이지 바로가기 노출 영역" style="width:100%;vertical-align:top;"/>


            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <div class="popup-blind"></div>
</div>
