<div class="popup-page nobg tw-popup fixed-btn fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->
    <div class="header-wrap">
        <div class="page-header">
            <div class="header-ti">
                <h1>조건 선택</h1>
            </div>
        </div>
    </div>
    <!--// #header -->
    <!-- .container-wrap -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="ti-caption-gray bdt">
                <h3 class="tit">필터를 선택해주세요</h3>
                <div class="num">
                    <button class="resetbtn">초기화</button>
                </div>
            </div>
            <!-- .cont-box -->
            <div class="cont-box">
                <div class="discount-look-ahead discount-type">
                    <div class="board-type">
                        <p>국가</p>
                        <div>
                            <div class="widget">
                                <div class="widget-box radio">
                                    <ul class="select-list" role="radiogroup">
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio4" value="" title="글로벌" checked="checked" /><!-- 체크상태일 경우 checked="checked" -->
                                            <span class="radio-txt">글로벌</span>
                                        </li>
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio4" value="" title="아시아"/><!-- 체크상태일 경우 checked="false" -->
                                            <span class="radio-txt">아시아</span>
                                        </li>
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio4" value="" title="중국"/><!-- 비활성화상태일 경우 disabled="disabled" -->
                                            <span class="radio-txt">중국</span>
                                        </li>
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio4" value="" title="일본"/><!-- 비활성화상태일 경우 disabled="disabled" -->
                                            <span class="radio-txt">일본</span>
                                        </li>
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio4" value="" title="미주"/><!-- 비활성화상태일 경우 disabled="disabled" -->
                                            <span class="radio-txt">미주</span>
                                        </li>
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio4" value="" title="유럽"/><!-- 비활성화상태일 경우 disabled="disabled" -->
                                            <span class="radio-txt">유럽</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p>테마</p>
                        <div>
                            <div class="widget">
                                <div class="widget-box radio">
                                    <ul class="select-list" role="radiogroup">
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio5" value="" title="데이터" /><!-- 체크상태일 경우 checked="checked" -->
                                            <span class="radio-txt">데이터</span>
                                        </li>
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio5" value="" title="음성" checked="checked" /><!-- 체크상태일 경우 checked="false" -->
                                            <span class="radio-txt">음성</span>
                                        </li>
                                        <li class="radiobox btn-type01" role="radio">
                                            <input type="radio" name="radio5" value="" title="SNS"/><!-- 체크상태일 경우 checked="false" -->
                                            <span class="radio-txt">SNS</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- 추천태그 -->
            <div class="cont-box">
                <h3>#추천태그</h3>
                <div class="suggest-tag-list openlist-wrap">
                    <ul>
                        <li><a href="#" class="link">#중국 갈 때 좋은</a></li>
                        <li><a href="#" class="link">#미국 갈 때 좋은</a></li>
                        <li><a href="#" class="link">#무료</a></li>
                        <li><a href="#" class="link">#해외에서 폰을 분실했을 때</a></li>
                        <li><a href="#" class="link">#데이터 걱정 없는</a></li>
                        <li><a href="#" class="link">#정액형 요금제</a></li>
                        <li><button type="button" class="link">#SMS 발송 해주는</button></li>
                    </ul>
                </div>
            </div>
            <!--//추천태그 -->

            <!-- .bt-slice -->
            <ul class="bt-slice full">
                <li class="bt-red1">
                    <button>적용하기</button>
                </li>
            </ul>
            <!-- // .bt-slice -->
        </div>
    </div>
    <!--// .container-wrap -->
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>

