<div class="popup-page tw-popup nobg"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
    <!-- #header -->

    <!--// #header -->
    <form action="/common/search" method="get" >
        <input id="search_input" type="text" name="keyword" value="{{data.recommendKeywordData}}" aria-labelledby="aria-citation-phone" style="border: 1px solid #424242">
        <input type="submit" value="검색">
    </form>

    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
    <h3>최근검색어</h3>
    <ul>
        <li>test1</li>
        <li>test2</li>
        <li>test3</li>
        <li>test4</li>
        <li>test5</li>
    </ul>
    <h3>자동완성</h3>
    <ul id="autocomplete_list">

    </ul>
    <h3>인기검색어</h3>
    <ul>
        {{#each data.famousKeywordData}}
            <li>{{this.content}}</li>
        {{/each}}
    </ul>
</div>