<!-- .popup hbs -->
<div class="popup-page nobg no-btn coupon-type tw-popup"><!-- .no-btn 하단에 버튼이 없을 경우 -->
    <div class="coupon-wrap landscape"><!-- .landscape 세로회전 -->
        <h1><span class="blind">T멤버십 바코드</span></h1>
        <dl class="coupon-header">
            <dt>
                <span class="badge badge-vip"></span><span class="txt">T멤버십(Leaders Club)</span>
            </dt>
            <dd>
                <button class="link-benefit">연간누적 혜택<span class="ico"></span></button>
                <span class="benefit-cont"><em class="ff-tg-black">119,090</em><span class="ff-tg-medium">원 사용</span></span>
            </dd>
        </dl>
        <div class="barcode-img">
            <img src="/img/dummy/barcode.jpg" alt="2497 4150 4581 3416"/>
        </div>
        <button class="link-tpay">멤버십 할인과 휴대폰 결제를 한번에! <span class="point">T pay</span><span class="ico"></span></button>
    </div>
    <!-- .popup-closeBtn -->
    <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button>
    <!--// .popup-closeBtn -->
</div>
<!--// .popup hbs -->