<%_
    const hasButtons = (addition.btnList && addition.btnList.length > 0);
    const hasLink = addition.prodLinkYn === "Y";
    const chargeTxt = addition.payFreeYn === 'Y' ? '무료' : '유료';
_%>
<li class="<%- hasLink ? 'add-con' : null; %>" data-is-free="<%- addition.payFreeYn === 'Y' %>">
    <%_ if (hasLink) { _%>
    <a href="/product/callplan?prod_id=<%= addition.linkProdId || addition.prodId %>">
<div class="lineinfo-user">
    <span class="info-title"><%= addition.prodNm %></span>
            <span class="info-sub">가입일 <%- addition.scrbDt %></span>
</div>
<div class="lineinfo-data">
            <%_ if (addition.basFeeTxt) { _%>
            <span class="info-title tx-red"><%= addition.basFeeTxt %><%- (/^[0-9,]+$/.test(addition.basFeeTxt)) ? '원' : null %></span>
    <%_ } else { _%>
            <span class="info-title tx-red"><%-chargeTxt%></span>
    <%_ } _%>
            <span class="ico"><span class="blind">자세히 보기</span></span>
</div>
    </a>
    <%_ } else { _%>
    <div class="no-link">
        <div class="lineinfo-user">
            <span class="info-title"><%= addition.prodNm %></span>
            <span class="info-sub">가입일 <%- addition.scrbDt %></span>
        </div>
        <div class="lineinfo-data">
            <%_ if (addition.basFeeTxt) { _%>
            <span class="info-title tx-red"><%= addition.basFeeTxt %><%- (/^[0-9,]+$/.test(addition.basFeeTxt)) ? '원' : null %></span>
            <%_ } else { _%>
            <span class="info-title tx-red"><%-chargeTxt%></span>
            <%_ } _%>
        </div>
    </div>
    <%_ } _%>
<%_ if (hasButtons) { _%>
    <div class="bt-wrap">
        <%_ addition.btnList.forEach(btn => { _%>
        <button class="btn-round5 btn-line-blue fe-btn-link" data-url="<%= btn.btnLinkUrl %>" data-prod-id="<%= addition.linkProdId || addition.prodId %>"><%= btn.btnNm %></button>
        <%_ }); _%>
    </div>
<%_ } _%>
</li>
