<%#
* 나의 가입정보 > 나의 부가상품
* @file myt-join.myplanadd.wireless.html
* @author Jiyoung Jo
* @since 2018.10.11
* ID: MS_06
_%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); _%>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%- pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../common/views/components/header.component.html', { title: '나의 부가상품', svcInfo: svcInfo, pageInfo: locals.pageInfo }); _%>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <%- include('../../../../../common/views/components/common.select-line.component.html', { svcInfo: svcInfo, xtEid: { single: "CMMA_A3_B13_C62-1", multiple: "CMMA_A3_B13_C62-2" } }); _%>
            <%_
                const {dcPrograms, joined, roaming : additionsRoaming, combinations} = additions;
                const {paids:additionsPaid, frees:additionsFree} = joined,
                    totalAdditions = dcPrograms.length + additionsPaid.length + additionsFree.length;
            _%>
            <div class="tod-sel-top-wrap">
                <div class="link-cont">
                    <a href="#tod-all" title="선택">전체 <%- totalAdditions %></a>
                    <%_ if (dcPrograms.length) { _%>
                    <a href="#tod-cont1">옵션/할인 <%- dcPrograms.length %></a>
                    <%_ } _%>
                    <%_ if (additionsPaid.length) { _%>
                    <a href="#tod-cont2">유료 <%- additionsPaid.length %></a>
                    <%_ } _%>
                    <%_ if (additionsFree.length) { _%>
                    <a href="#tod-cont3">무료 <%- additionsFree.length %></a>
                    <%_ } _%>
                </div>
            </div>

            <%_ if (totalAdditions === 0) { _%>
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="add-prd-wrap">
                    <div class="contents-empty">
                        <!-- Grand open 접근성 수정 -->
                        <span class="ico type1"><span class="blind"></span></span>
                        <!-- // Grand open 접근성 수정 -->
                        <p class="desc">현재 사용 중인 <br> 부가상품 없습니다.</p>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true"/>
            <%_ } else { _%>
                <%_ if (dcPrograms.length) { _%>
            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <h3 class="tit-type7">옵션/할인 프로그램 <%- dcPrograms.length %>개</h3>
                <div class="add-prd-wrap tod-type02">
                    <ul class="list-comp-lineinfo tod-js-list-ctrl" id="tod-cont1">
                        <%_ dcPrograms.forEach(dcProgram => { _%>
                            <%- include('./myt-join.myplanadd.wireless.discount.html', { dcProgram }); _%>
                        <%_ }); _%>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>
                <%_ } _%>
                <%_ if (additionsPaid.length > 0) { _%>

            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <h3 class="tit-type7">유료 부가서비스 <%- additionsPaid.length %>개</h3>
                <div class="add-prd-wrap tod-type02">
                    <ul class="list-comp-lineinfo tod-js-list-ctrl" id="tod-cont2">
                        <%_ additionsPaid.forEach(addition => { _%>
                            <%- include('./myt-join.myplanadd.wireless.joined.html', { addition }); _%>
                        <%_ }); _%>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>
                <%_ } _%>
                <%_ if (additionsFree.length > 0) { _%>

            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <h3 class="tit-type7">무료 부가서비스 <%- additionsFree.length %>개</h3>
                <div class="add-prd-wrap tod-type02">
                    <ul class="list-comp-lineinfo tod-js-list-ctrl" id="tod-cont3">
                        <%_ additionsFree.forEach(addition => { _%>
                            <%- include('./myt-join.myplanadd.wireless.joined.html', { addition }); _%>
                        <%_ }); _%>
                    </ul>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true" />
                <%_ } _%>
            <%_ } _%>

            <%# OP002-12175 나의 결합상품 건수 노출%>
            <%_if(combinations && combinations.comProdCnt > 0) {_%>
            <div class="cont-box nogaps">
                <ul class="full-link-list type02">
                    <li>
                        <a href="/myt-join/combinations">
                            <span class="inner">
                                <span class="tit">나의 결합상품</span>
                                <span class="text tod-txt-point"><%-combinations.comProdCnt%>건</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <%_}_%>
            <%_ if (additionsRoaming && (additionsRoaming.recentlyJoinsProdNm || additionsRoaming.addRoamingProdCnt > 0)) { _%>

            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <ul class="full-link-list type02">
                        <li>
                        <a href="/product/roaming/my-use<%- additionsRoaming.recentlyJoinsProdNm ? null : '#add' %>">
                            <span class="inner">
                                <span class="tit">나의 로밍 요금제/부가서비스</span>
                                <span class="text tod-txt-point"><%- (additionsRoaming.recentlyJoinsProdNm ? 1 : 0) + additionsRoaming.addRoamingProdCnt %>건</span>
                                <!--<span class="text tod-txt-point">
                                    <%_ if (additionsRoaming.recentlyJoinsProdNm) { _%>
                                        <%= additionsRoaming.recentlyJoinsProdNm %>
                                        <%_ if (additionsRoaming.addRoamingProdCnt > 0) { _%>
                                        <span class="etc-num">외 <%- additionsRoaming.addRoamingProdCnt %>건</span>
                                        <%_ } _%>
                                    <%_ } else { _%>
                                        <%- additionsRoaming.addRoamingProdCnt %>건
                                    <%_ } _%>
                                </span>-->
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true">
            <%_ } _%>

            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <h3 class="suggest-tag-title">다른 부가서비스를 찾고 계신가요?</h3>
                <div class="extra-servicebox">
                    <a type="button" class="btn-round2 btn-style3" href="/product/mobileplan-add/list?filters=F01231">데이터</a>
                    <a type="button" class="btn-round2 btn-style3" href="/product/mobileplan-add/list?filters=F01232">혜택 / 편의</a>
                    <a type="button" class="btn-round2 btn-style3" href="/product/mobileplan-add/list?filters=F01233">안심/보험</a>
                    <a type="button" class="btn-round2 btn-style3" href="/product/mobileplan-add/list?filters=F01234">통화 / 메세지</a>
                    <a type="button" class="btn-round2 btn-style3" href="/product/mobileplan-add/list?filters=F01235">콘텐츠 이용</a>
                    <a type="button" class="btn-round2 btn-style3" href="/product/mobileplan-add/list?filters=F01236">인증 / 결제</a>
                </div>
            </div>
            <!--// .cont-box -->

            <!-- .cont-box -->
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <%# PPS (선불폰) 인 경우, MS_06_01_tip_03, 그외 무선인 경우, MS_06_01_tip_01 _%>
                    <li><button id="MS_06_01_tip_0<%- svcInfo.svcAttrCd === 'M3' ? 3 : 1 %>" class="btn-tip" aria-haspopup="true">부가서비스 이용안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                </ul>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
</div>
<%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); _%>
<%- include('../../components/javascript.component.html') _%>
<script type="text/javascript">
  $(document).ready(function () {
    var $anchor = $('.tod-sel-top-wrap > .link-cont > a'),
      $content = $('.tod-js-list-ctrl');

    $anchor.on('click', function (e) {
      e.preventDefault();
      $(this).addClass('on').attr('title', '선택').siblings().removeClass('on').attr('title', '');
      if ($(this).attr('href') === '#tod-all') {
        $content.show();
      } else {
        $content.hide();
        $($(this).attr('href')).show();
      }
      $(window).scrollTop(0);
    });
  });
</script>
<script>
    $(document).ready(function () {
      new Tw.MyTJoinMyPlanAdd({
        $element: $('#contents')
      });
    });
    // NOTE: hash가 있는 채로 들어오면, scroll이 발생하게 되는데, 무조건 맨 위로 올려버린다.
    if (location.hash) {
      $(window).on('load', function () {
        $(window).scrollTop(0);
      });
    }
</script>
<%- include('../../components/end.component.html') _%>
