<%#
* FileName: myt-join.product.additions.html
* Author: Jiyoung Jo (jiyoungjo@sk.com)
* Date: 2018.10.11
* ID: MS_06
%>

<% include ../../components/start.component.html %>

<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#gnb">메뉴 바로가기</a></li>
            <li><a href="#contents">본문 바로가기</a></li>
            <li><a href="#footer">푸터 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../common/views/components/header.component.html', { title: '나의 부가서비스', svcInfo: svcInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">

                <div class="add-prd-top-wrap">
                    <span class="select">
                        <button class="on fe-all-btn">전체</button>
                        <button class="fe-pay-btn">유료만 보기</button>
                    </span>
                    <span class="counts">총 <em><%= additions.length %></em>개</span>
                </div>

                <div class="cont-box nogaps">
                    <div class="add-prd-wrap">
                        <div class="contents-empty fe-empty <%= additions.length > 0 ? 'none' : '' %>">
                            <span class="ico type1"><span class="blind">느낌표(!)</span></span>
                            <p class="desc">현재 사용 중인 부가상품이 없습니다.</p>
                        </div>
                        <% if (additions.length > 0) { %>
                        <ul class="list-comp-lineinfo">
                            <% additions.map(addition => { 
                                const hasButtons = addition.btnList && addition.btnList.length > 0, hasLink = addition.prodLinkYn === "Y"; %>
                            <li class="add-con" data-isFree ="<%= !addition.basFeeTxt || addition.basFeeTxt === '무료' %>">
                                <!-- 리스트 하단에 추가 컨텐츠 있을 경우 li에 class="add-con" 추가 -->
                                <% if (hasLink) { %>
                                <a href="/product/callplan/<%= addition.linkProdId || addition.prodId %>">
                                <% } else { %>
                                <div class="not-link">
                                <% } %>
                                    <div class="lineinfo-user">
                                        <span class="info-title"><%= addition.prodNm %></span>
                                        <span class="info-sub2">가입일 <%= addition.scrbDt %></span>    
                                    </div>
                                    <div class="lineinfo-data">
                                        <% if (/^[0-9,]+$/.test(addition.basFeeTxt)) { %>
                                        <span class="info-title num"><%= addition.basFeeTxt %><span class="unit ml4">원</span></span>
                                        <% } else { %>
                                            <span class="info-title num"><%= addition.basFeeTxt || '무료' %></span>
                                        <% } %>
                                        <% if (hasLink) { %><span class="ico"><span class="blind"><%= addition.prodNm %> 자세히 보기</span></span><% } %>
                                    </div>
                                <% if (hasLink) { %>
                                </a>
                                <% } else { %>
                                </div>
                                <% } %>
                                    
                                <% if (hasButtons) { %>
                                    <span class="bt-wrap">
                                        <% addition.btnList.map(btn => { %>
                                            <a class="bt-tx-blue" href="<%= btn.btnLinkUrl %>?prod_id=<%= addition.prodId %>"><%= btn.btnNm %></a>
                                        <% }); %>
                                    </span>
                                <% } %>
                            </li>
                            <% }); %>
                        </ul>
                        <% } %>
                    </div>
                </div>

                <% if (roaming && roaming.roamingAddProdJoinYn === "Y") { %>
                <hr class="cont-sp type1" aria-hidden="true" />
                <!-- .cont-box -->
                <div class="cont-box nogaps">
                    <div class="add-prd-wrap">
                        <ul class="list-comp-lineinfo">
                            <li class="add-con">
                                <a href="/product/roaming/my-use">
                                    <div class="lineinfo-user">
                                        <span class="info-title">나의 로밍 요금제 및<br>부가서비스</span>
                                    </div>
                                    <div class="lineinfo-data">
                                        <span class="info-title"><%= roaming.recentlyJoinsProdNm %><%= roaming.addProdCnt > 0 ? '외 ' + roaming.addProdCnt + '건' : '' %></span>
                                        <span class="ico"><span class="blind">나의 로밍 요금제 및 부가서비스 자세히 보기</span></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->
                <% } %>

                
                <hr class="cont-sp type1" aria-hidden="true" />
                <!-- 꼭 확인해 주세요 2018.11.02 추가 -->
				<div class="cont-box nogaps-btm">
                    <h3 class="tx-bold">꼭 확인해 주세요</h3>
                    <ul class="noti-list02">
                        <% const tip = svcInfo.svcAttrCd === 'M3' ? 3 : 1%>
                        <li>
                            <button id="MS_06_01_tip_0<%= tip %>" type="button" class="tip-view-btn" title="부가서비스 이용안내 TIP보기" aria-haspopup="true">부가서비스 이용안내
                                <span class="tip-view">TIP</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- //꼭 확인해 주세요 -->
            </div>
        </div>
        <!--// #contents -->
    </div>
    <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</body>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        new Tw.MyTJoinMyPlanAdd($('.wrap'));
    });
</script>
<% include ../../components/end.component.html %>