<%#
* @file myt-join.myplanadd.thigh5.html
* @author 이정민 (skt.p130713@partner.sk.com)
* @since 2019.05.31
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>

<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <!-- Grand open 접근성 수정 -->
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
            <!--  //Grand open 접근성 수정 -->
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div id="myt-join-myplanadd-thigh5" class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../common/views/components/header.component.html', { title: 'T high5 적금 현황 조회', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true" />
                <!-- .cont-box -->
                <div class="cont-box pb0">
                    <div class="ti-caption-type01">
                        <h3 class="tit">상품 가입 현황</h3>
                    </div>
                    <div class="data-list-type1">
                        <ul class="type1">
                            <li>
                                <span class="stit">상품명</span>
                                <span class="use">T high5 적금</span>
                            </li>
                            <li>
                                <span class="stit">가입일</span>
                                <span class="use"><%= scrbDt %></span>
                            </li>
                            <li>
                                <span class="stit">적금가입기간 </span>
                                <span class="use"><%= joinTermCd %>개월</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tod-listDown-btn">
						<span class="bt-wrap">
							<button class="bt-link-tx small underline fe-btn-open-app">자세히 보기</button>
						</span>
                    </div>
                </div><!-- //.cont-box -->
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box pb0">
                    <div class="ti-caption-type01">
                        <h3 class="tit">T high5 적금 혜택 현황</h3>
                    </div>
                    <div class="data-list-type1">
                        <ul class="type1 tod-high5">
                            <li>
                                <span class="stit">우대 혜택</span>
                                <span class="use">우대금리 2%</span>
                            </li>
                            <!--
                            아래의 경우만 노출
                            'NC00000075',   // 12개월 고금리
                            'NC00000077',   // 24개월 고금리-->
                            <% if (dGradeYn === 'Y') { %>
                            <li>
                                <span class="stit">추가 혜택</span>
                                <span class="use">
                                    T high5 캐시백 1%
                                    <!--군 요금제 사용자인 경우-->
                                    <%if (thigh5HeroYn === 'Y') {%>
                                    <br>T high5 0히어로 캐시백 1%
                                    <%}%>
                                </span>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div><!-- //.cont-box -->
                <hr class="cont-sp type1" aria-hidden="true">
                <% if (dGradeYn === 'Y') { %>
                <div class="cont-box">
                    <div class="ti-caption-type01">
                        <h2 class="tit">
                            추가 혜택  변경 유예기간
                            <button type="button" class="btn-tip" id="TC000062" page-id="M001886" aria-haspopup="true"><i class="icon-badge-tip"><span class="blind">Tip</span></i></button>
                        </h2>
                    </div>
                    <div class="tod-graph-wrap ">
                        <div class="tod-time-info tod-less-price"> <!-- 5만원 이하 요금제 사용 일 수 1일 ~ 44일 인 경우 tod-less-price 클래스 추가  -->
                            <div class="date-info use_time">
                                <p class="data-title">5만원 이하 요금제 사용일</p>
                            </div>
                            <div class="date-info defer_time">
                                <p class="data-state"><span class="blind">사용일</span><span class="str tod-txcolor6"><%= dGradeDay %></span><span class="blind">유예기간</span><span class="str">/44</span>일</p>
                            </div>
                        </div>
                        <div class="bar-chart-hoz">
                            <span class="data-bar red" style="width:<%= dGradeDayPercent %>%"></span>
                        </div>
                    </div>
                </div>
                <hr class="cont-sp type1" aria-hidden="true">
                <% } %>
                <div class="cont-box nogaps">
                    <ul class="full-link-list">
                        <li>
                            <a href="/myt-join/myplan/alarm">
								<span class="inner">
									<span class="tit">요금제 변경 가능 알림 서비스</span>
								</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li>
                            <button id="TC000075" page-id="" class="btn-tip" aria-haspopup="true">
                                추가 혜택이 변경되는 경우<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                        <li>
                            <button id="TC000076" page-id="" class="btn-tip" aria-haspopup="true">
                                불입액 연체중도 해지 경우<i class="icon-badge-tip"><span class="blind">tip</span></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->
            </div>
        </div>
        <!--// #contents -->
    </div>
    <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</body>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        new Tw.MyTJoinMyPlanAddThigh5($('#myt-join-myplanadd-thigh5'));
    });
</script>
<% include ../../components/end.component.html %>
