<%#
* FileName: product.setting.MP_02_02_03_01.html
* Author: JiHun Yang (jihun202@sk.com)
* Date: 2018.10.11
%>
<% if ( settingInfo ) { %>
<input type="hidden" id="current_prod_id" value="<%= settingInfo.beforeTDiyGrCd %>">
<input type="hidden" id="update_api_code" value="<%= updateApiCode %>">
<% } %>
<div class="container fe-join_setup" data-id="MP_02_02_03_01">
  <% if ( settingInfo ) { %>
  <!-- .cont-box -->
  <div class="cont-box">
    <div class="product-tit-wrap">
      <span class="tit-small">변경할 상품 옵션 설정하세요.</span>
      <span class="tit-big">DATA 인피니티</span>
    </div>
  </div>
  <!--// .cont-box -->
  <% } %>

  <div class="product-select-wrap">
    <span class="data-tit">인피니티 상품 혜택</span>
  </div>

  <!-- .cont-box -->
  <div class="cont-box nogaps-hoz">
    <div class="list-comp-input production-benefit-wrap">
      <div class="widget">
        <div class="widget-box radio">
          <ul class="select-list" role="group">
            <li class="radiobox type01-big" role="radio" aria-checked="false">
              <input type="radio" name="radio" value="NA00006114" title="인피니티 여행" aria-labelledby="aria-comp-radio1">
              <div class="comp-list-layout" id="aria-comp-radio1" aria-hidden="true">
                <span class="ico ico-travel"></span>
                <p class="layout-text">
                  <span class="mtext">인피니티 여행</span>
                  <span class="stext">T 로밍 Onepass 월 1회/ 1개월 + 마티나 라운지 이용권 1회/ 3개월</span>
                </p>
              </div>
            </li>
            <li class="radiobox type01-big" role="radio" aria-checked="false">
              <input type="radio" name="radio" value="NA00006115" title="인피티니 영화" aria-labelledby="aria-comp-radio2">
              <div class="comp-list-layout" id="aria-comp-radio2" aria-hidden="true">
                <span class="ico ico-movie"></span>
                <p class="layout-text">
                  <span class="mtext">인피니티 영화</span>
                  <span class="stext">영화 월 2회 무료관람</span>
                </p>
              </div>
            </li>
            <li class="radiobox type01-big" role="radio" aria-checked="false">
              <input type="radio" name="radio" value="NA00006116" title="인피니티 스마트워치" aria-labelledby="aria-comp-radio3">
              <div class="comp-list-layout" id="aria-comp-radio3" aria-hidden="true">
                <span class="ico ico-watch"></span>
                <p class="layout-text">
                  <span class="mtext">인피니티 스마트워치</span>
                  <span class="stext">스마트 워치 요금지원</span>
                </p>
              </div>
            </li>
            <li class="radiobox type01-big" role="radio" aria-checked="false">
              <input type="radio" name="radio" value="NA00006117" title="인피니티 클럽 할인" aria-labelledby="aria-comp-radio4">
              <div class="comp-list-layout" id="aria-comp-radio4" aria-hidden="true">
                <span class="ico ico-club"></span>
                <p class="layout-text">
                  <span class="mtext">인피니티 클럽 할인</span>
                  <span class="stext">스마트폰 구입 6개월 후 새로 구입 시 기존 할부금 할인<br>(출고가 70%까지)</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--// .cont-box -->

  <div class="myt-note-wrap type3">
    <span class="tit r-mark">4개의 옵션 중 1가지를 선택 할 수 있으며, 변경일 기준으로 30일 이내에 다른 옵션으로 변경이 불가합니다.</span>
  </div>
  <img src="/img/dummy/DC_02_TBD2.jpg" alt="이용안내 노출 영역" style="width:100%;vertical-align: top; margin-bottom: 3.75rem">
  <ul class="bt-slice full">
    <li class="bt-red1">
      <% if ( settingInfo ) { %>
      <button class="fe-btn_setup_ok">변경완료</button>
      <% } else { %>
      <button class="fe-btn_setup_ok" disabled="disabled">설정완료</button>
      <% } %>
    </li>
  </ul>
</div>