<%#
* FileName: product.setting.MV_02_02_01.html
* Author: JiHun Yang (jihun202@sk.com)
* Date: 2018.10.13
%>
<% if ( settingInfo ) { %>
<input type="hidden" id="update_api_code" value="<%= updateApiCode %>">
<% } %>
<div class="container fe-join_setup" data-id="MV_02_02_01">
  <div class="cont-box">
    <div class="product-tit-wrap">
      <span class="tit-small">변경할 상품 옵션 설정하세요.</span>
      <span class="tit-big">요금상품명(부가상품명)</span>
    </div>
  </div>

  <div class="product-select-wrap">
    <span class="data-tit">내폰끼리 결합 회선 설정</span>
    <span class="data-number">010-12**-24**</span>
  </div>

  <!-- .cont-box -->
  <div class="cont-box">
    <div class="input-number-wrap">
      <h3 class="tit">내폰끼리 결합 할 회선</h3>
      <div class="form-box">
        <span class="inputbox bt-add error"><!-- 입력 필드 오류 시 .error 추가 -->
            <span class="input">
                <input type="number" placeholder="010-12**-24**" value="010-12**-24**" title="데이터 함께쓰기를 설정할 회선번호" aria-labelledby="aria-citation-phone" aria-describedby="aria-phone-tx1" maxlength="11">
                <button class="cancel"><span class="blind">삭제</span></button>
            </span>
            <span class="bt-box">
                <button type="button">주소록</button>
            </span>
        </span>
        <span id="aria-phone-tx1" class="input-comment">동일명의 band 데이터 / T시그니처 요금제에 가입된 회선이 2개 이상일 경우, 회선을 결합하실 수 있습니다. (단, 법인명의, 데이터 함께쓰기 가입회선 불가)</span>
        <span id="aria-phone-tx2" class="input-comment mt12">내폰끼리 결합상품은 band 데이터 / T시그니처 요금제 이용자의 한하여 가입이 가능합니다.</span>
      </div>
    </div>
    <ul class="bt-slice style1">
      <li class="bt-blue1">
        <button>추가하기</button>
      </li>
    </ul>
  </div>
  <!--// .cont-box -->

  <hr class="cont-sp type1" aria-hidden="true"/>

  <!-- .cont-box -->
  <div class="cont-box nogaps">
    <div class="input-number-wrap">
      <h3 class="tit type1">결합 신청된 회선</h3>
      <div class="list-comp-thumnail">
        <ul class="comp-box">
          <li class="list-box">
            <div class="list-ico"><span class="ico type5">김</span></div>
            <p class="list-text">
              <span class="mtext">김*드</span>
              <span class="stext gray">010-12**-24**</span>
            </p>
            <div class="list-btn">
              <div class="bt-alone"><button class="bt-line-gray1">삭제</button></div>
            </div>
          </li>
          <li class="list-box">
            <div class="list-ico"><span class="ico type6">홍</span></div>
            <p class="list-text">
              <span class="mtext">홍*동</span>
              <span class="stext gray">010-12**-24**</span>
            </p>
            <div class="list-btn">
              <div class="bt-alone"><button class="bt-line-gray1">삭제</button></div>
            </div>
          </li>
          <li class="list-box">
            <div class="list-ico"><span class="ico type7">이</span></div>
            <p class="list-text">
              <span class="mtext">이*욱</span>
              <span class="stext gray">010-12**-24**</span>
            </p>
            <div class="list-btn">
              <div class="bt-alone"><button class="bt-line-gray1">삭제</button></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--// .cont-box -->

  <hr class="cont-sp type1" aria-hidden="true"/>

  <img src="/img/dummy/DC_02_TBD2.jpg" alt="이용안내 노출 영역" style="width:100%;vertical-align: top; margin-bottom: 3.75rem">
  <div class="bt-fixed-area">
    <ul class="bt-slice full">
      <li class="bt-red1">
        <button>설정완료</button>
      </li>
    </ul>
  </div>
</div>