<%#
* MenuName: 나의 가입정보 > 서브메인 [회선정보]
* @file myt-join.submain.adv.dis-info.html (MS)
* @author Kim InHwan (skt.P132150@partner.sk.com)
* @since 2021.01.21
_%>
<%_ if (data.isContractPlan) { _%>
  <%_ if ( data.myContractPlan.muPointYn === 'Y' ) { _%>
    <section class="cont-card">
      <div class="section-inner" data-id="contract-plan"
           data-xt_eid="<%= data.xtCode.usedContractPlan %>" data-xt_csid="NO" data-xt_action="BC">
        <div class="head-tit"><a href="#" data-id="contract-plan" class="link"
        data-xt_eid="<%= data.xtCode.usedContractPlan %>" data-xt_csid="NO" data-xt_action="BC">무약정 플랜 포인트</a></div>
        <div class="card-cont">
          <ul class="ico-list">
            <li class="item">
              <div class="ico-item">
                <i class="ico"><img src="<%= CDN %>/img/myt/submain-ico12.svg" alt=""></i>
                <div class="list-txt">
                  <span class="item-sub-txt">잔여 포인트</span>
                  <span class="item-tit"><%- data.myContractPlan.point %>P</span>
                </div>
              </div>
            </li>
            <li class="item">
              <div class="ico-item">
                <i class="ico"><img src="<%= CDN %>/img/myt/submain-ico12.svg" alt=""></i>
                <div class="list-txt">
                  <span class="item-sub-txt">총 적립</span>
                  <span class="item-tit"><%- data.myContractPlan.count %>건</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  <%_ } else { _%>
    <div class="submain-banner">
      <a href="#" data-id="contract-plan" data-xt_eid="<%= data.xtCode.contractPlan %>" data-xt_csid="NO" data-xt_action="BC">
        <p class="banner-comment">
          <span class="bsub-txt">매달 포인트 적립 받아 요금 납부 할인 혜택</span><!-- 201207 [OP002-10282] 수정03 : 텍스트 수정 -->
          <strong>무약정 플랜 포인트</strong>
        </p>
        <img src="<%= CDN %>/img/myt/submain-banner05.png" alt="">
      </a>
    </div>
  <%_ } _%>
<%_ } _%>
<%_ if (data.myDeviceInstallment || data.myDiscountInfo) { _%>
<!-- 201207 [OP002-10282] 수정04 : 텍스트 수정 -->
<section class="cont-card">
  <div class="section-inner">
    <div class="head-tit">
      <a href="#" data-id="installement" class="link"
         data-xt_eid="<%= data.xtCode.disInfo %>" data-xt_csid="NO" data-xt_action="BC">약정할인/기기 할부 정보</a>
    </div>
    <div class="card-cont">
      <div class="hoz-group-wrap">
        <%_ if (data.myDeviceInstallment) { _%>
        <div class="small-group-wrap">
          <p class="card-sub-tit">기기 할부 정보</p>
          <ul class="report-list item-no-border smaller">
            <li class="report-item">
              <dl class="report-define d-wrap">
                <dt class="report-tit">남은 할부</dt>
                <dd class="report-cont"><%= data.myDeviceInstallment.invRmn %>개월</dd>
              </dl>
            </li>
            <li class="report-item">
              <dl class="report-define d-wrap">
                <dt class="report-tit">남은 할부 금액</dt>
                <dd class="report-cont"><%= data.myDeviceInstallment.invBamt %>원</dd>
              </dl>
            </li>
          </ul>
        </div>
        <%_ } _%>
        <%_ if (data.myDiscountInfo) { _%>
        <div class="small-group-wrap">
          <p class="card-sub-tit"><%= data.myDiscountInfo.name %></p>
          <div class="horizon-bar-wrap small">
            <div class="horizon-bar">
              <span class="data" data-id="my-discount-info" style="width:<%= data.myDiscountInfo.graphPercent %>%">
                <span class="bar"></span>
                <!-- 201201 [OP002-10282] 수정01: bar-bubble의 너비값이 bar너비보다 크면 left 추가 / 아래 스크립트 참조 -->
                <span class="bar-bubble"><%= data.myDiscountInfo.remainDate %>일 남음</span>
              </span>
            </div>
            <!-- 210105 [OP002-10282] 수정03 -->
            <div class="data-date">
              <span class="start-date">
                <%= data.myDiscountInfo.startDate %>
                <span class="day-dec">시작일</span>
              </span>
              <span class="end-date">
                <%= data.myDiscountInfo.endDate %>
                <span class="day-dec">종료일</span>
              </span>
            </div>
            <!-- //210105 [OP002-10282] 수정03 -->
          </div>
        </div>
        <%_ } _%>
      </div>
    </div>
  </div>
</section>
<!-- //201207 [OP002-10282] 수정04 -->
<%_ } _%>
