<%#
* FileName: myt-join.submain.pause-state.html
* Author: Kim InHwan (skt.P132150@partner.sk.com)
* Date: 2018.10.10
%>

<hr class="cont-sp type1" aria-hidden="true"/>
<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="link-long-list">
        <li>
            <div class="link-long">
                <!-- 장기일시정지 관련 API 기능 들어오면 처리 -->
                <button data-id="pause_c">일시 정지/해제
                    <% if (data.myPausedState.svcStCd === 'AC') { %>
                    <span class="ico"></span>
                    <% } else { %>
                    <span class="tx-sub">
                        <span class="normal">
                            <%= data.myPausedState.sDate %> ~ <%= data.myPausedState.eDate %>
                        </span>
                        <span class="ico"></span>
                    </span>
                    <% } %>
                </button>
            </div>
        </li>
    </ul>
</div>
<!--// .cont-box -->




