<%#
* FileName: myt-join.submain.wire-more-info.html
* Author: Kim InHwan (skt.P132150@partner.sk.com)
* Date: 2018.10.11
%>

<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="btn-link-list">
        <li>
            <button data-id="addr-chg">설치장소 변경</button>
        </li>
        <li>
            <button data-id="prod-chg">상품 변경</button>
        </li>
        <li>
            <button data-id="inst-chg">약정기간 변경</button>
        </li>
        <li>
            <button data-id="transfer-fee">명의변경</button>
        </li>
        <li class="last-line">
            <button data-id="svc-cancel">서비스 해지</button>
        </li>
        <li class="last-line">
            <button data-id="wire-pause">일시 정지 &middot; 해제</button>
        </li>
    </ul>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="btn-link-list">
        <li class="last-line">
            <button data-id="until-info">이용계약정보</button>
        </li>
        <li class="last-line">
            <button data-id="work-notify">망 작업 알림 받기</button>
        </li>
    </ul>
</div>
<!--// .cont-box -->