<%#
* @file myt-join.submain.pause-state.html
* @author Kim InHwan (skt.P132150@partner.sk.com)
* @since 2018.10.10
* @desc MS_case2
_%>
<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="full-link-list">
        <%_ if (data.myPausedState && data.myPausedState.svcStCd) { _%>
        <!--정지 상태 영역-->
        <li>
            <button data-id="pause_c">
                <span class="inner">
                <%_
                if (data.myPausedState.svcStCd === 'AC') {
                    if (data.myLongPausedState && data.myLongPausedState.state) {
                        var longStateCd = data.myLongPausedState.opStateCd;
                        if (data.myPausedState.armyDt || data.myPausedState.armyExtDt) {
                _%>
                    <span class="tit">정지 현황</span>
                    <span class="text">장기일시정지 해제 중</span>
                        <%_
                        } else {
                            if (longStateCd === 'C' && data.myLongPausedState.stateReleased) {
                                // data.myPausedState.svcStCd === 'AC', 장기일시정지 (data.myLongPausedState), 처리 완료(C), 날짜가 이시 시작됨
                        _%>
                    <span class="tit">정지</span>
                    <span class="text">신청하기</span>
                    <%_
                            } else {
                    _%>
                    <span class="tit">정지 현황<%_ if (!longStateCd) { _%><span class="sub"><%- data.myPausedState.sDate %>~<%- data.myPausedState.eDate %></span><%_ } _%></span>
                    <span class="text">장기일시정지 <%- longStateCd ? data.myLongPausedState.opState : '중' %></span>
                    <%_
                            }
                        }
                    } else {
                        if (data.myPausedState.armyDt || data.myPausedState.armyExtDt) {
                    _%>
                        <span class="tit">정지 현황</span>
                        <span class="text">장기일시정지 해제 중</span>
                        <%_ } else if (data.myPausedState.reservedYn === 'Y') { _%>
                        <span class="tit">정지 현황<span class="sub"><%- data.myPausedState.sDate %>~<%- data.myPausedState.eDate %></span></span>
                        <span class="text">정지 예약중</span>
                        <%_ } else { _%>
                        <span class="tit">정지</span>
                        <span class="text">신청하기</span>
                        <%_
                        }
                    }
                } else {
                    if (data.myLongPausedState && data.myLongPausedState.state) {
                        var longStateCd = data.myLongPausedState.opStateCd;
                    _%>
                    <span class="tit">정지 현황<span class="sub"><%- data.myPausedState.sDate %>~<%- data.myPausedState.eDate %></span></span>
                    <span class="text">
                        <%# DV001-19840 정지중 & 장기일시정지 2가지 포함 case인경우. "정지 중" 텍스트 항시 노출 _%>
                        <%_ if (['21', '22', '27'].indexOf(data.myPausedState.svcChgRsnCd) === -1) { _%>
                        정지 중<br/>
                        <%_ } _%>
                        장기일시정지 <%- longStateCd ? data.myLongPausedState.opState : '중' %>
                    </span>
                    <%_ } else { _%>
                    <span class="tit">정지 현황<span class="sub"><%- data.myPausedState.sDate %>~<%- data.myPausedState.eDate || '' %></span></span>
                    <span class="text">정지 중</span>
                    <%_
                    }
                }
                    _%>
                </span>
            </button>
        </li>
        <!--// 정지 상태 영역-->
        <%_
        }
        if (data.type === 0) {
            if (data.isOldNumber) {
        _%>
        <li>
            <button type="button" data-id="old_number" title="010 전환 번호변경" aria-haspopup="true">
                <span class="inner">
                    <span class="tit">010 전환 번호변경</span>
                    <span class="text">신청하기</span>
                </span>
            </button>
        </li>
        <%_
            }
            if (data.isNotChangeNumber) {
        _%>
        <li>
            <button type="button" data-id="change_number" title="번호변경 안내서비스" aria-haspopup="true">
                <span class="inner">
                    <span class="tit">번호변경 안내서비스</span>
                    <span class="text"><%- data.numberChanged ? '연장 및 해지' : '신청하기' %></span>
                </span>
            </button>
        </li>
        <%_
            }
        }
        _%>
    </ul>
</div>
<!--// .cont-box -->
