<%#
* FileName: myt-join.submain.pause-state.html
* Author: Kim InHwan (skt.P132150@partner.sk.com)
* Date: 2018.10.10
%>

<% if (data.myPausedState || data.isOldNumber || data.isNotChangeNumber) { %>
<hr class="cont-sp type1" aria-hidden="true"/>
<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="full-link-list">
        <% if (data.myPausedState && data.myPausedState.svcStCd) { %>
        <li>
            <button data-id="pause_c">
                <span class="inner">
                <% if (data.myPausedState.svcStCd === 'AC') { %>
                    <% if (data.myLongPausedState && data.myLongPausedState.state) { %>
                        <% if (data.myLongPausedState.isArmy) { %>
                        <span class="tit">일시정지 현황</span>
                        <span class="text">장기일시정지 해제 중</span>
                        <% } else { %>
                        <span class="tit">일시정지 현황</span>
                        <span class="text">장기일시정지 중 / <%= data.myLongPausedState.sDate %> ~ <%= data.myLongPausedState.eDate %></span>
                        <% } %>
                    <% } else { %>
                        <% if ( data.myPausedState.armyDt ) { %>
                        <span class="tit">일시정지 현황</span>
                        <span class="text">장기일시정지 해제 중</span>
                        <% } else { %>
                        <span class="tit">일시정지</span>
                        <span class="text">신청하기</span>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <span class="tit">일시정지 현황
                        <span class="sub"><%= data.myPausedState.sDate %> ~ <%= data.myPausedState.eDate %></span>
                    </span>
                    <span class="text">
                        <% if (data.myLongPausedState && data.myLongPausedState.state) { %>
                            <% if (data.myPausedState.state) { %>
                                장기일시정지 중
                            <% } else {%>
                                장기일시정지 <%= data.myLongPausedState.opState %>
                            <% } %>
                        <% } else {%>
                            일시정지 중
                        <% } %>
                    </span>
                </span>
                <% } %>
            </button>
        </li>
        <% } %>
        <% if (data.isOldNumber) { %>
        <li>
            <button data-id="old_number">
                <span class="inner">
                    <span class="tit">010 전환 번호변경</span>
                    <span class="text">신청하기</span>
                </span>
            </button>
        </li>
        <% } %>
        <% if (data.isNotChangeNumber) { %>
        <li>
            <button data-id="change_number">
                <span class="inner">
                    <span class="tit">번호변경 안내서비스</span>
                    <span class="text">
                        <% if (data.numberChanged) { %>
                        연장 및 해지
                        <% } else { %>
                        신청하기
                        <% } %>
                    </span>
                </span>
            </button>
        </li>
        <% } %>
    </ul>
</div>
<!--// .cont-box -->
<% } %>




