<a href="/product/callplan?prod_id=<%=thisPlan.prodId%>" class="item-link">
    <div class="rn-tag">
        <div class="col-left">
            <% if(thisPlan.filters) { %>
                <% for(let n=0; n< thisPlan.filters.length; n++) { %>
                    <% if(isTheme == 'Y') { %>
                        <% if(thisPlan.filters[n].prodFltId == 'F01713'){ %>
                            <span class="i-tag-cr1">5G</span>
                        <% } else if(thisPlan.filters[n].prodFltId == 'F01121') {%>
                            <span class="i-tag-cr2">LTE</span>
                        <% } else if(thisPlan.filters[n].prodFltId == 'F01122') {%>
                            <span class="i-tag-cr4">3G</span>
                        <% } else if(thisPlan.filters[n].prodFltId == 'F01124') {%>
                            <span class="i-tag-cr3">스마트기기</span>
                        <% } else if(thisPlan.filters[n].prodFltId == 'F01125') {%>
                            <span class="i-tag-cr3">선불</span>
                        <% } %>
                    <% } %>
                    <% if(thisPlan.filters[n].prodFltId == 'F01163'){ %>
                        <span class="i-tag-cr5">시니어</span>
                    <% } else if(thisPlan.filters[n].prodFltId == 'F01164') { %>
                        <span class="i-tag-cr5">복지</span>
                    <% } else if(thisPlan.filters[n].prodFltId == 'F01162') { %>
                        <span class="i-tag-cr5">어린이/청소년</span>
                    <% } else if(thisPlan.filters[n].prodFltId == 'F01165') { %>
                        <span class="i-tag-cr5">대학생/군인</span>
                    <% } %>
                <% } %>
            <% } else if(thisPlan.prodFltList) { %>
                <% for(let n=0; n< thisPlan.prodFltList.length; n++) { %>
                    <% if(isTheme == 'Y') { %>
                        <% if(thisPlan.prodFltList[n].prodFltId == 'F01713'){ %>
                            <span class="i-tag-cr1">5G</span>
                        <% } else if(thisPlan.prodFltList[n].prodFltId == 'F01121') {%>
                            <span class="i-tag-cr2">LTE</span>
                        <% } else if(thisPlan.prodFltList[n].prodFltId == 'F01122') {%>
                            <span class="i-tag-cr4">3G</span>
                        <% } else if(thisPlan.prodFltList[n].prodFltId == 'F01124') {%>
                            <span class="i-tag-cr3">스마트기기</span>
                        <% } else if(thisPlan.prodFltList[n].prodFltId == 'F01125') {%>
                            <span class="i-tag-cr3">선불</span>
                        <% } %>
                    <% } %>
                    <% if(thisPlan.prodFltList[n].prodFltId == 'F01163'){ %>
                        <span class="i-tag-cr5">시니어</span>
                    <% } else if(thisPlan.prodFltList[n].prodFltId == 'F01164') { %>
                        <span class="i-tag-cr5">복지</span>
                    <% } else if(thisPlan.prodFltList[n].prodFltId == 'F01162') { %>
                        <span class="i-tag-cr5">어린이/청소년</span>
                    <% } else if(thisPlan.prodFltList[n].prodFltId == 'F01165') { %>
                        <span class="i-tag-cr5">대학생/군인</span>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <div class="col-right">
            <% if(svcInfo){ %>
                <% if(svcInfo.prodId == thisPlan.prodId){ %>
                    <span class="i-tag-myplan">사용중</span>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="rn-prod-name">
        <p class="p-name"><%= thisPlan.prodNm %></p>
        <p class="p-price">
            <% if(thisPlan.basFeeAmt.value !== '기본제공' && thisPlan.basFeeAmt.value !== '상세참조' && thisPlan.basFeeAmt.value !== '제공안함') { %>
                <%= thisPlan.basFeeAmt.value %>원
            <% } else { %>
                <%= thisPlan.basFeeAmt.value %>
            <% } %>
    </div>

    <div class="rn-prod-info">
        <ul class="p-etc">
            <% if(thisPlan.basOfrDataQtyCtt){ %>
                <li>
                    <i class="p-icon18-data"><span class="blind">데이터</span></i> 
                    <% if(typeof(thisPlan.basOfrDataQtyCtt.value)=='string') { %>
                        <%= thisPlan.basOfrDataQtyCtt.value %>
                    <% } else { %>
                        <%= thisPlan.basOfrDataQtyCtt.value.data+thisPlan.basOfrDataQtyCtt.value.unit %>
                    <% } %>
                </li>
            <% } %>
            <% if(thisPlan.basOfrVcallTmsCtt){ %>
                <li>
                    <i class="p-icon18-phone"><span class="blind">통화</span></i>
                    <% if(!thisPlan.basOfrVcallTmsCtt.value.unit) { %>
                    <%= thisPlan.basOfrVcallTmsCtt.value %>
                    <% } else { %>
                        <%= thisPlan.basOfrVcallTmsCtt.value.data+thisPlan.basOfrVcallTmsCtt.value.unit %>
                    <% } %>
                </li>
            <% } %>
            <% if(thisPlan.basOfrCharCntCtt){ %>
                <li>
                    <i class="p-icon18-sms"><span class="blind">문자</span></i>
                    <% if(thisPlan.basOfrCharCntCtt.unit) { %>
                        <%= thisPlan.basOfrCharCntCtt.value %><%= thisPlan.basOfrCharCntCtt.unit %>
                    <% } else { %>
                        <%= thisPlan.basOfrCharCntCtt.value %>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </div>
<% if(thisPlan.prodSmryExpsTypCd == '2') { %>
    <div class="rn-prod-benefit">
        <% if(thisPlan.benefitList.sepBenefitList) { %>
            <ul>
                <% for ( let k=0; k < thisPlan.benefitList.sepBenefitList.length; k++ ) { %>
                    <li>
                        <i class="p-icon16-img">
                            <img src="<%= cdn %><%= thisPlan.benefitList.sepBenefitList[k].rgstImgUrl %>" alt="<%= thisPlan.benefitList.sepBenefitList[k].rgstImgAlt %>">
                        </i>
                        <span class="txt"><%= thisPlan.benefitList.sepBenefitList[k].expsBenfNm + ' ' + thisPlan.benefitList.sepBenefitList[k].benfDtlCtt%></span>

                        <% if (thisPlan.benefitList.sepBenefitList[k].useAmt) { %>
                            <span class="price">
                                <del><%= thisPlan.benefitList.sepBenefitList[k].benfAmt.value %>원</del>
                                <i class="icon-arr">&rarr;</i> 
                                <em><%= thisPlan.benefitList.sepBenefitList[k].useAmt.value %>원</em>
                            </span>
                        <% } %>
                        
                    </li>
                <% } %>
            </ul>
        <% } %>

        <%# 추가 혜택 %>
        <% if ( thisPlan.benefitList.chooseBenefitList.length > 0) { %>
            <div class="p-benefit-choice">
                <p class="title">추가혜택 <strong>1개</strong>를 선택해주세요</p>
                <ul>
                    <% for ( let k=0; k < thisPlan.benefitList.chooseBenefitList.length; k++ ) { %>
                        <li>
                            <i class="p-icon16-img">
                                <img src="<%= cdn %><%= thisPlan.benefitList.chooseBenefitList[k].rgstImgUrl %>" alt="<%= thisPlan.benefitList.chooseBenefitList[k].rgstImgAlt %>">
                            </i>
                            <span class="txt"><%= thisPlan.benefitList.chooseBenefitList[k].expsBenfNm + ' ' + thisPlan.benefitList.chooseBenefitList[k].benfDtlCtt%></span>

                            <% if ( thisPlan.benefitList.chooseBenefitList[k].useAmt ) { %>
                                <span class="price">
                                    <del><%= thisPlan.benefitList.chooseBenefitList[k].benfAmt.value %>원</del>
                                    <i class="icon-arr">&rarr;</i> 
                                    <em><%= thisPlan.benefitList.chooseBenefitList[k].useAmt.value %>원</em>
                                </span>
                            <% } %> 
                        </li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </div>
<% } %>
</a>
<% if (thisPlan.compareYN && (thisPlan.tabCode != 'prod-band')) { %>
    <% if (svcInfo) { %>
        <% if (svcInfo.prodId != thisPlan.prodId) { %>
            <div class="rn-prod-bottom">
                <div class="rn-btn-right">
                    <a class="btn-compare" data-prod-id="<%= thisPlan.prodId %>" data-prod-nm="<%= thisPlan.prodNm %>"
                        data-prod-fee="
                        <% if(thisPlan.basFeeAmt.value !== '기본제공' && thisPlan.basFeeAmt.value !== '상세참조' && thisPlan.basFeeAmt.value !== '제공안함') { %>
                            <%= thisPlan.basFeeAmt.value %>원
                        <% } else { %>
                            <%= thisPlan.basFeeAmt.value %>
                        <% } %>"
                        data-prod-call="
                        <% if(thisPlan.basOfrVcallTmsCtt){ %>
                            <% if(!thisPlan.basOfrVcallTmsCtt.value.unit) { %>
                                <%= thisPlan.basOfrVcallTmsCtt.value %>
                            <% } else { %>
                                <%= thisPlan.basOfrVcallTmsCtt.value.data+thisPlan.basOfrVcallTmsCtt.value.unit %>
                            <% } %>
                        <% } %>"
                        data-prod-text="
                        <% if(thisPlan.basOfrCharCntCtt){ %>
                            <% if(thisPlan.basOfrCharCntCtt.unit) { %>
                                <%= thisPlan.basOfrCharCntCtt.value %><%= thisPlan.basOfrCharCntCtt.unit %>
                            <% } else { %>
                                <%= thisPlan.basOfrCharCntCtt.value %>
                            <% } %>
                        <% } %>"
                        data-prod-data="
                        <% if(thisPlan.basOfrDataQtyCtt){ %>
                            <% if(typeof(thisPlan.basOfrDataQtyCtt.value)=='string') { %>
                                <%= thisPlan.basOfrDataQtyCtt.value %>
                            <% } else { %>
                                <%= thisPlan.basOfrDataQtyCtt.value.data+thisPlan.basOfrDataQtyCtt.value.unit %>
                            <% } %>
                        <% } %>"
                        >내 요금제와 비교</a>
                </div>
            </div>
        <% } %>
    <% } %>
<% } %>
