<%#
* FileName: myt.benefit.recommend.detail-tsign.html
* Author: 김명환 (skt.P130714@partner.sk.com)
* Date: 2018.08.16
* Info:
%>
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<!-- wrap -->
<div id="fe-wrap" class="wrap" >
    <!-- header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '추천혜택 자세히보기', svcInfo: svcInfo });
    %>
    <!-- // header -->
    <!-- content -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <div class="inner-block">
                    <% if( reqQuery.type == 'A') { %>
                    <h2 class="title-h2">나의 추천 혜택</h2>
                    <div class="exp-top">
                        <span class="tx-exp">T 시그니처 <span class="ff-hn vbl">Master</span> <span class="tx-bold vbl">데이터 35G, 음성 무제한</span></span>
                        <span class="tx-exp">T 시그니처 <span class="ff-hn vbl">Classic</span> <span class="tx-bold vbl">데이터 20G, 음성 무제한</span></span>
                    </div>
                    <% } %>

                    <% if( reqQuery.type == 'B') { %>
                    <h2 class="title-h2">혜택 받는 법</h2>
                    <div class="exp-top">
                        <span class="tx-exp"><span class="tx-bold vbl">T 시그니처</span> 이용 시<br>사용하는 요금제에 따라 혜택 적용</span>
                    </div>
                    <% } %>

                    <div class="contents-btn">
                        <ul class="bt-slice">
                            <li class="bt-blue1">
                                <button>T 시그니처 바로가기</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="inner-block">
                    <h2 class="title-h2">"통신, Device, 안심" 3대 영역에서<br />최고의 혜택을 누리세요!</h2>
                    <div class="benefit-img"><img src="/img/dummy/dmy-circuit04.png" alt=""/></div>
                    <div class="contents-btn">
                        <ul class="bt-slice">
                            <li class="bt-white1">
                                <button>혜택 자세히보기</button>
                            </li>
                        </ul>
                    </div>
                    <div class="exp-list mt20">
                        <ul>
                            <li>
                                <span class="title">T시그니처 가입 시</span>
                                <span class="one-depth-line tx-bold">T아이폰 클럽 무료 가입 + 태블릿 요금 9,900(VAT 포함)할인 (T tap 9 요금제는무료 사용 가능)</span>
                            </li>
                            <li>
                                <span class="title">통신 혜택</span>
                                <ul class="dash-list">
                                    <li>스마트 워치 이용요금 지원</li>
                                    <li>T로밍 <span class="ff-hn vbl">LTE One Pass</span> 이용권 적립</li>
                                    <li>멤버십 <span class="ff-hn vbl">VIP</span> 등급</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="inner-block">
                    <div class="exp-list no-bullet">
                        <ul>
                            <li>
                                <span class="title">* T시그니처 회선과 동일명의 스마트워치 회선에 <span class="ff-hn vbl">VIP</span>스마트 워치할인_모 신청시, 스마트워치 이용요금 할인</span>
                                <span class="one-depth-line">할인 대상 스마트워치 요금제 : <span class="ff-hn vbl">LTE Watch, T</span>아웃도어</span>
                            </li>
                        </ul>
                        <button class="bt-link-tx mt16"><span class="ff-hn vbl">VIP</span>스마트워치할인_모 신청하기<span class="ico"></span></button>
                    </div>
                </div>

                <div class="inner-block">
                    <div class="exp-list">
                        <ul>
                            <li>
                                <span class="title ff-hn">Device Care</span>
                                <ul class="dash-list">
                                    <li>분실/파손 걱정 없는 최신 단말 교체 프로그램</li>
                                    <li>'프리미엄클럽2' (멤버십 할인 혜택)</li>
                                    <li>프리미엄 단말 임대 이용요금 지원</li>
                                </ul>
                            </li>
                            <li>
                                <span class="title">안심 <span class="ff-hn vbl">Care</span></span>
                                <ul class="dash-list">
                                    <li><span class="ff-hn vbl">Privacy</span> 보호를 위한 050안심번호</li>
                                    <li>개인 자료/사진을 지켜요 '클라우드배리 <span class="ff-hn vbl">Upgrade</span>'</li>
                                    <li>모바일 금융 사고 보상(삼성화재)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // content -->
    <!-- footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MytBenefitRecommendDetailTsign( $('#fe-wrap'), {
      reqQuery: <%-JSON.stringify(reqQuery) %>,
      svcInfo: <%-JSON.stringify(svcInfo) %>
    });
  });
</script>
<% include ../../components/end.component.html %>