<!--
* FileName: myt.benefit.point.html.html
* Author: Hyeryoun Lee (skt.P130712@partner.sk.com)
* Date: 2018. 8. 14.
-->
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<!-- wrap -->
<div class="wrap" id="#myt-benefit-point">
    <!-- header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '포인트 혜택', svcInfo: svcInfo });
    %>
    <!-- // header -->
    <!-- content -->
    <div id="contents" class="container-wrap">

    </div>
    <!-- // content -->
    <!-- footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.MyTBenefitPoint($('#myt-benefit-point'));
  });
</script>
<% include ../../components/end.component.html %>