<!--
* FileName: myt.benefit.point.html.html
* Author: Hyeryoun Lee (skt.P130712@partner.sk.com)
* Date: 2018. 8. 14.
-->
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<!-- wrap -->
<div class="wrap" id="#myt-benefit-point">
    <!-- header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '포인트 혜택', svcInfo: svcInfo });
    %>
    <!-- // header -->
    <!-- content -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <h2 class="title-h2">포인트 혜택</h2>
                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <span class="title">OK캐쉬백</span>
                            <span class="tx-cont"><span class="ff-hn tx-bold">1,623</span> 점</span>
                        </li>
                        <li>
                            <span class="title">T포인트</span>
                            <span class="tx-cont"><span class="ff-hn tx-bold">9,000</span> 점</span>
                        </li>
                        <li>
                            <button class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">레인보우 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold">2,142</span> 점</span>
                                    </span>
                            </button>
                        </li>
                    </ul>
                    <div class="contents-notice line-top pt30 mt30">
                        <span class="noti-type3">다음달 청구요금을 포인트로<br />미리 납부 예약해보세요.</span>
                    </div>
                    <button class="bt-link-tx pt18">포인트 납부하기 <span class="ico"></span></button>
                </div>

                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <button class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">무약정플랜 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold">10,000</span> 점</span>
                                    </span>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <button class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">지켜줘서 고마워<br />현역플랜 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold">10,000</span> 점</span>
                                    </span>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <button class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">쿠키즈팅 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold">10,000</span> 점</span>
                                    </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- // content -->
    <!-- footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    var comp = new Tw.MyTBenefitPoint($('#myt-benefit-point'));
  });
</script>
<% include ../../components/end.component.html %>