<%#
* FileName: myt-data.limit.tab.html
* Author: Jiman Park (jiman.park@sk.com)
* Date: 2018.09.06
%>

<div class="cont-box nogaps">
    <h3 class="sub-title0">데이터 차단<button aria-haspopup="true" class="info-view-ic">정보보기</button></h3>
    <div class="cont-box nogaps-hoz">
        <ul class="on-off-list">
            <li>
                이번 달 차단
                <span class="widget">
                    <span class="widget-box switch">
                        <span class="btn-switch type1">
                            <span class="switch-style" role="checkbox" aria-checked="false">
                                <span class="off-tx">꺼짐</span>
                                <input type="checkbox" title="이번 달 차단">
                                <span class="on-tx">켜짐</span>
                            </span>
                        </span>
                    </span>
                </span>
            </li>
            <li>
                다음 달부터 차단
                <span class="widget">
                    <span class="widget-box switch">
                        <span class="btn-switch type1 on">
                            <span class="switch-style" role="checkbox" aria-checked="true">
                                <span class="off-tx">꺼짐</span>
                                <input type="checkbox" title="이번 달 차단" checked="checked">
                                <span class="on-tx">켜짐</span>
                            </span>
                        </span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>