<%#
* FileName: myt.join.product-service.combination.share-data.html
* Author: Jiyoung Jo (jiyoungjo@sk.com)
* Date: 2018.08.20
* MY_01_01_119
%>

<div id="main">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti align-l">
                <h1>사용중인 상품</h1>
            </div>
            <button class="prev-step fe-common-back"><span class="blind">이전으로</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <% const isGoodFamily = combination.planCode === '2133'; %>
            <div class="cont-box">
                <div class="top-info mb22">
                    <a role="button" class="link-btn tx-normal"><%= combination.plan %></a>  <!-- TODO: 상세페이지 Link 이동 추가 -->
                </div>
                <div class="payment-detail-box">
                    <div class="detail-inner">
                        <div class="detail-list type2">
                            <ul>
                                <li>
                                    <span class="title">신청일</span>
                                    <span class="tx-cont"><span class="ff-hn vbl"><%= combination.joinDate %></span></span>
                                </li>
                                <li>
                                    <span class="title">결합회선</span>
                                    <span class="tx-cont"><span class="ff-hn vbl"><%= combination.count %></span>회선</span>
                                </li>
                                <% if (!isGoodFamily) { %>
                                <li>
                                    <span class="title">가입상태</span>
                                    <span class="tx-cont"><%= combination.status %></span>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <% if (isGoodFamily) { %>
                <div class="benefits-area">
                    <strong class="benefits-tit">예상 혜택</strong>
                    <!-- .component -->
                    <div class="component">
                        <div class="component-box flcardcta">
                            <div class="flcard-cont">
                                <div class="flcard-area">
                                    <div class="store-card">
                                        <p class="card-ti">결합가족끼리<br /><em class="tx-bold">매월 데이터 선물</em></p>
                                        <div class="txt-extra">(횟수제한 없음)</div>
                                    </div>
                                </div>
                                <span class="ico-ill-benefit"></span>
                            </div>
                        </div>
                    </div>
                    <!--// .component -->
                    <div class="benefits-txt">2~3회선 결합시 500MB, 4~5회선 결합시 1,000MB  가능<br />1회당 100MB~1GB까지 선물 가능 (100MB 단위)</div>
                </div>
            <% } else { %>
                <hr class="cont-sp type1" aria-hidden="true" />
            <% } %>


            <div class="cont-box">
                <h2 class="title-h2">데이터 나눠쓰세요!</h2>
                <div class="basic-list pt34">
                    <ul>
                        <li>
                            <span class="title">혜택 받으신 데이터</span>
                            <span class="tx-cont"><span class="ff-hn"><%= combination.benefitData %> MB</span></span>
                        </li>
                        <li>
                            <span class="title">나눠쓰기 남은 데이터</span>
                            <span class="tx-cont"><span class="ff-hn tx-red"><span class="tx-bold vbl fe-remain-data"><%= combination.remainData %></span> MB</span></span>
                        </li>
                    </ul>
                </div>
                <% if (combination.remainData === '0') { %>
                    <div class="contents-notice line-top mt20">
                        <span class="noti-ico">남은 데이터가 없습니다. 다음 달에 이용해주세요.</span>
                    </div>
                <% } else if (combination.isRepresentation) { %>
                <div class="contents-btn">
                    <ul class="bt-slice">
                        <li class="bt-white1">
                            <button>데이터 나눠쓰기</button><!-- TODO: 나눠쓰기 step -->
                        </li>
                    </ul>
                </div>
                <% } else { %>
                <div class="contents-notice line-top mt20">
                    <span class="noti-ico">데이터가 필요하시면 가족대표에게 요청해보세요</span>
                </div>
                <% } %>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />

            <div class="cont-box nogaps">
                <div class="widget">
                    <div class="widget-box accordion2">
                        <div class="acco-style user-list"><!-- 스타일별 클래스 추가 -->
                            <ul class="acco-box">
                                <% for (let i = 0; i < combination.members.length; i++) { %>
                                    <% const member = combination.members[i]; %>
                                    <% const isMine = combination.representationId === member.managementId; %>
                                    <li class="acco-list"><!-- on , off -->
                                        <div class="acco-title">
                                            <button role="button" aria-pressed="">
                                                <span class="info-line"><%= member.name %>  <%= member.isRepresentation ? '' : '(' + member.relation + ')' %>
                                                    <% if (member.isRepresentation) { %><span class="badge badge-fam-members"><span class="blind">가족대표</span></span><% } %>
                                                    <% if (isMine) { %><span class="badge badge-me"><span class="blind">나</span></span><% } %>
                                                </span>
                                                <span class="info-line ff-hn"><%= member.svcNumber %></span>
                                            </button>
                                        </div>
                                        <div class="acco-content">
                                            <div class="detail-list">
                                                <ul>
                                                    <li>
                                                        <span class="title">가족대표와의 관계</span>
                                                        <span class="tx-cont"><%= member.relation %><%= isMine? '(내번호)' : '' %></span>
                                                    </li>
                                                    <li>
                                                        <span class="title">총 받은 데이터</span>
                                                        <span class="tx-cont"><span class="ff-hn vbl"><%= member.benefitData %> MB</span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
                
            <div class="cont-box nogaps-hoz">
                <div class="box-confirm">
                    <!-- .widget -->
                    <div class="widget">
                        <div class="widget-box accordion">
                            <h3 class="tit-a">이용안내</h3>
                            <div class="acco-cover toggle">
                                <div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>
                                <div class="acco-style">
                                    <ul class="acco-list">
                                        <% if (isGoodFamily) { %>
                                            <li class="acco-box">
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 중복가입 가능 혜택</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">T가족결합(착한가족)은 TB끼리 온가족무료, TB끼리 온가족프리, T끼리온가족할인과 중복 가입이 가능합니다.</li>
                                                        <li class="list">단, T끼리온가족할인에 가입된 고객은 T가족결합(착한가족) 혜택 중 월정액 할인 대상에서 제외됩니다.</li>
                                                        <li class="list">T끼리온가족할인 구성원 중 가입년수만 합산되고 월정액 할인 대상이 아닌 고객도(예시 : 스페셜할인, LTE플러스할인 이용 고객) T가족결합(착한가족)의 월정액 할인 대상에서 제외됩니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="acco-box">
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">2.</span> 중복 제공 불가 혜택</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">T가족결합(착한가족)에 가입할 경우 장기가입할인 및 레인보우포인트 적립은 제공하지 않습니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="acco-box">
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">3.</span> T가족결합(착한가족) 안내</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">T가족결합(착한가족)의 월정액 할인혜택은 종료되었습니다. (대상자에 한해 24개월간 제공 후 종료)</li>
                                                        <li class="list">T가족결합(착한가족)은 2015년 5월 1일부터 신규/전환 가입이 중단되었습니다.</li>
                                                        <li class="list">기존 가입 고객은 해지 전까지 서비스를 이용할 수 있습니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        <% } else { %>
                                            <li class="acco-box">
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">1.</span> 장기가입할인 및 레인보우포인트 적립</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">가족나눔데이터에 가입할 경우 장기가입할인 및 레인보우포인트 적립은 제공하지 않습니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="acco-box">
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">2.</span> 중복가입</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">가족나눔데이터는 TB끼리 온가족무료, TB끼리 온가족프리, TB끼리 TV플러스와 <em>중복 가입이 가능</em>합니다.</li>
                                                        <li class="list">T끼리온가족할인, T가족결합(착한가족), 온가족 행복플랜과 <em>중복 가입 불가</em>합니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="acco-box">
                                                <div class="acco-tit"><button role="button" aria-pressed="false"><span class="bullet">3.</span> 사용 가능한 요금제</button></div>
                                                <div class="acco-cont">
                                                    <ul class="list-dot">
                                                        <li class="list">가족데이터 나눠쓰기는 기본제공량이 있는 요금제 (band데이터 요금제 등) 이용 고객에게만 가능합니다.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// .widget -->
                </div>
            </div>
        </div>
    </div>
    <!--// #contents -->
</div>
<% if (combination.isRepresentation) { %>
<div id="share">
    <% include myt.join.product-service.combination.share-data.process.html %>
</div>
<div id="complete">
    <% include myt.join.product-service.combination.share-data.complete.html %>
</div>
<% } %>