<%#
* FileName: myt.join.product-service.fee-plan.wireless.html
* Author: 양지훈 (jihun202@sk.com)
* Date: 2018.08.20
%>
<div class="cont-box">
    <div class="box-contents">
        <button class="title-bt" title="<%= feePlan.useFeePlanPro.prodNm %> 상세페이지로 이동"><%= feePlan.useFeePlanPro.prodNm %></button>
        <div class="basic-list pt14">
            <ul>
                <li>
                    <span class="title">신청일</span>
                    <span class="tx-cont ff-hn"><%= feePlan.useFeePlanPro.scrbDt %></span>
                </li>
                <li>
                    <span class="title">월정액(부가세 포함)</span>
                    <span class="tx-cont"><span class="ff-hn vbl tx-bold"><%= feePlan.useFeePlanPro.basFeeTxt %></span> 원</span>
                </li>
            </ul>
        </div>
        <div class="in-ico-list">
            <ul>
                <% if (feePlan.useFeePlanPro.basDataTxt) { %>
                <li class="ico-type1 ff-hn"><%= feePlan.useFeePlanPro.basDataTxt %></li>
                <% } %>
                <% if (feePlan.useFeePlanPro.basOfrVcallTmsTxt) { %>
                <li class="ico-type2"><%= feePlan.useFeePlanPro.basOfrVcallTmsTxt %></li>
                <% } %>
                <% if (feePlan.useFeePlanPro.basOfrLtrAmtTxt) { %>
                <li class="ico-type3"><%= feePlan.useFeePlanPro.basOfrLtrAmtTxt %></li>
                <% } %>
            </ul>
        </div>
        <div class="link-long-group pt20">
            <div class="link-long">
                <a href="">잔여기본통화 조회<span class="ico"></span></a>
            </div>
            <div class="link-long">
                <a href="">요금제 변경하기 <span class="ico"></span></a>
            </div>
            <!--<div class="link-long">-->
                <!--<a href="">버튼 1<span class="ico"></span></a>-->
            <!--</div>-->
            <!--<div class="link-long">-->
                <!--<a href="">버튼 2<span class="ico"></span></a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<% if (feePlan.tClassProd.tClassProdList.length > 0) { %>
<hr class="cont-sp type1" aria-hidden="true" />

<div class="cont-box">
    <h2 class="title-h2"><%= feePlan.tClassProd.tClassNm %></h2>
    <div class="box-list mt20">
        <ul>
            <% for (var i in feePlan.tClassProd.tClassProdList) { %>
            <li>
                <div class="box-contents">
                    <a href="" class="title-bt" title="<%= feePlan.tClassProd.tClassProdList[i].prodNm %> 상세페이지로 이동"><%= feePlan.tClassProd.tClassProdList[i].prodNm %></a>
                    <div class="basic-list pt14">
                        <ul>
                            <li>
                                <span class="title">신청일</span>
                                <span class="tx-cont ff-hn"><%= feePlan.tClassProd.tClassProdList[i].scrbDt %></span>
                            </li>
                        </ul>
                    </div>
                    <div class="contents-notice pt24">
                        <span class="exp-bk-small"><%= feePlan.tClassProd.tClassProdList[i].prodDesc %></span>
                    </div>
                    <div class="link-long-group pt20">
                        <div class="link-long">
                            <a href="">설정 변경하기<span class="ico"></span></a>
                        </div>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<% } %>

<%- include('../../components/join/myt.join.product-service.fee-plan.' + svcCdName[svcInfo.svcAttrCd] + '.html')  %>