<%#
* FileName: product.mobileplan-add.terminate.html
* Author: Ji Hun Yang (jihun202@sk.com)
* Date: 2018.10.13
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>"></div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(function () {
    new Tw.ProductMobileplanAddTerminate($('.wrap'), '<%= prodId %>', '<%- escape(JSON.stringify(joinTermInfo)) %>');
  });
</script>
<% include ../../components/end.component.html %>