<%#
* FileName: myt-data.familydata.history.html
* Author: Jiyoung Jo (jiyoungjo@sk.com)
* Date: 2019.01.16
* id: 
%>

<% include ../../components/start.component.html %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
		<%- include('../../../common/views/components/header.component.html', { title: '이번 달 공유내역', svcInfo: svcInfo }); %>
        <!--// #header --> 
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <div class="container">
				<hr class="cont-sp type1" aria-hidden="true" />

				<!-- .cont-box -->
				<div class="cont-box pb0">
					<div class="ti-caption-type01">
						<h2 class="tit">나의 총 공유 데이터 <button class="btn-tip" id="DC_02_04_tip_01"><i class="icon-badge-tip"><span class="blind">tip</span></i></button></h2>
						<p class="num"><em><%= histories.total %></em>GB</p>
					</div>
					<div class="data-list-type1">
						<ul class="type1">
                            <% histories.list.map((history, idx) => { %>
                                <li data-idx="<%= idx %>" data-serial-number="<%= history.shrPotSerNum %>">
                                    <span class="stit"><strong><%= history.shrPotGbQty %>GB</strong> 공유</span>
                                    <div class="sta">
                                        <span><%= history.shrPotDonaAplyDt %></span>
                                    </div>
                                    <div class="use fe-before">
                                        <button type="button" class="btn-round2 btn-style3">조회</button>
                                    </div>
                                </li>
                            <% }); %>
						</ul>
                    </div>
                    
                    <!-- .btn-more -->
                    <!-- <div class="btn-more">
                        <button>더 보기</button>
                    </div> -->
                    <!-- // .btn-more -->

				</div>
                <!--// .cont-box -->
                
				<div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li><button class="btn-tip" id="DC_02_04_tip_02">이번 달 공유내역 유의사항<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    </ul>
                </div>

			</div>
        </div>
        <!--// #contents -->
        <%- include('../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    </div>
</body>
<%- include ../../components/familydata/myt-data.familydata.history.component.html %>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
      new Tw.MyTDataFamilyHistory($('.wrap'), <%- JSON.stringify(histories.list) %>);
  });
</script>
<% include ../../components/end.component.html %>