<%#
* FileName: membership.submain.component.html
* Author: EUNJUNG JUNG
* Date: 2018.12.19
%>
<script id="tmplList" type="text/x-handlebars-template">
    {{#each list}}
    <li>
        <a class="brand-inner" href="/membership/benefit/brand-benefit?cateCd={{coCd}}&brandCd={{brandCd}}">
            <span class="inner" id="aria-label-brand0{{@index}}">
                <span class="logo"><img src="{{appIcoImgUrl}}" alt=""></span>
                <span class="intro">
                    <strong class="brand-name">{{coPtnrNm}}</strong>
                    {{#if showIcoGrd1}}
                    <span class="section">
                        {{#each showIcoGrd1}}
                        <em class="ico-s {{this}}-tag">{{this}}</em>
                        {{/each}}
                        {{icoCont1}}
                    </span>
                    {{/if}}
                    {{#if showIcoGrd2}}
                    <span class="section">
                        {{#each showIcoGrd2}}
                        <em class="ico-s {{this}}-tag">{{this}}</em>
                        {{/each}}
                        {{icoCont2}}
                    </span>
                    {{/if}}
                </span>
            </span>
        </a>
        <div class="map-view"><button class="map"
                                      data-brandcd="{{ brandCd }}"
                                      data-cocd="{{ coCd }}"
                                      data-joincd="{{ joinCd }}" aria-labelledby="aria-label-brand0{{@index}}">지도보기</button></div>
    </li>
    {{/each}}
</script>


<script id="tmplList-no-data" type="text/x-handlebars-template">
    <div class="cont-box">
        <p class="no-brand">내 주변에 제휴 브랜드가 없습니다.</p>
    </div>
</script>