<!--<link rel="stylesheet" type="text/css" href="<%= CDN %>/css/common.css" media="all" />-->
<!--<link rel="stylesheet" type="text/css" href="<%= CDN %>/css/layout.css" media="all" />-->
<!--<link rel="stylesheet" type="text/css" href="<%= CDN %>/css/widgets.css" media="all" />-->
<!--<link rel="stylesheet" type="text/css" href="<%= CDN %>/css/components.css" media="all" />-->
<link rel="stylesheet" type="text/css" href="<%= CDN %>/css/<%= style %>" media="all" />
<link rel="stylesheet" type="text/css" href="<%= CDN %>/css/vendor.css" media="all" />

<style type="text/css">
    body.rn #roamingMyuse .item {
        margin-top: 20px;
    }
    body.rn #gnb .search {
        position: absolute;
        right: 15px;
        top: 13px;
        font-size: 14px;
    }
    body.rn #roamingOn #gnb .search {
        display: none;
    }
    body.scroll #roamingOn #gnb .search {
        display: block;
    }
    body.rn #scheduleDialog #calendarGuide {
        display: none;
        position: absolute;
        top: 180px;
        right: 20px;
        width: 102px;
        height: 32px;
        background-color: #5d60ff;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        font-weight: 500;
        padding: 13px;
        border-radius: 6px;
    }
    body.rn #scheduleDialog #calendarGuide .tailContainer {
        position: relative;
        height: 20px;
    }
    body.rn #scheduleDialog #calendarGuide .tail {
        position: absolute;
        bottom: 0px;
        left: 43px;
        width: 12px;
        height: 16px;
        background-color: #5d60ff;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    body.rn #scheduleDialog #calendarGuide .date {
        display: block;
        font-weight: 700;
        margin-bottom: 3px;
        color: white;
    }
    body.rn #roamingOn .card .naMessage {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 45px;
        font-size: 13px;
        font-weight: 400;
        color: #959595;
    }
    body.rn #roamingOn .card .naTime {
        color: #959595;
        font-size: 13px;
        font-weight: 300;
        margin-left: 45px;
    }
</style>
