<%#
* FileName: payment.realtime.complete.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.05
%>
<div class="container">
    <div class="cont-box nogaps-hoz">
        <div class="msg-present-box">
            <div class="msg-present-comp">
                <span class="ico"></span>
                <p class="txt"><span class="tx-bold">납부</span>가 정상적으로<br />처리되었습니다.</p>
            </div>
            <div class="pay-data-cont">
                <ul class="t-pay-data complete-payment">
                    <li>
                        <dl>
                            <dt class="ti-data">요청(처리)일시</dt>
                            <dd class="tx-data">
                                <span class="blind">날짜</span><span class="num date"></span><br />
                                <span class="blind">시간</span><span class="num time"></span>
                            </dd>
                        </dl>
                    </li>
                    <li class="account card none">
                        <dl>
                            <dt class="ti-data">납부금액</dt>
                            <dd class="tx-data"><span class="tx-bold num payAmt"></span> 원</dd>
                        </dl>
                    </li>
                    <li class="card none">
                        <dl>
                            <dt class="ti-data">납부형태</dt>
                            <dd class="tx-data payment-card-type"></dd>
                        </dl>
                    </li>
                    <li class="account none">
                        <dl>
                            <dt class="ti-data">은행명</dt>
                            <dd class="tx-data bank-name"></dd>
                        </dl>
                    </li>
                    <li class="card none">
                        <dl>
                            <dt class="ti-data">카드사</dt>
                            <dd class="tx-data bank-name"></dd>
                        </dl>
                    </li>
                    <li class="account none">
                        <dl>
                            <dt class="ti-data">계좌번호</dt>
                            <dd class="tx-data"><span class="num bankOrCardAccn"></span></dd>
                        </dl>
                    </li>
                    <li class="card point none">
                        <dl>
                            <dt class="ti-data">카드번호</dt>
                            <dd class="tx-data"><span class="num bank-number"></span></dd>
                        </dl>
                    </li>
                    <li class="account card none">
                        <dl>
                            <dt class="ti-data">예금주</dt>
                            <dd class="tx-data"><%= svcInfo.mbrNm %></dd>
                        </dl>
                    </li>
                    <li class="point none">
                        <dl>
                            <dt class="ti-data">납부포인트</dt>
                            <dd class="tx-data point-info"></dd>
                        </dl>
                    </li>
                    <li>
                        <h3 class="ti-pay-detail">상세내역</h3>
                        <ul class="inquiry detail-payment none">
                            <li>
                                <span class="ti-data svc-name"></span>
                                <span class="tx-data num svc-number"></span>
                            </li>
                            <li>
                                <span class="ti-data">청구년월</span>
                                <span class="tx-data invDt"></span>
                            </li>
                            <li>
                                <span class="ti-data">사용요금</span>
                                <span class="tx-data num invAmt"></span><span class="won">원</span>
                            </li>
                        </ul>
                    </li>
                    <li class="account card none">
                        <dl>
                            <dt class="ti-data">환불계좌정보</dt>
                            <dd class="tx-data">
                                <span class="blind">계좌번호</span><span class="num payovrBankNum"></span><br />
                                <span class="blind">은행명</span><span class="bank refund-bank-name"></span>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="contents-notice">
                            <span class="noti-type1">계좌이체 취소는 영업점 또는 고객센터를 통해 환불<br />신청하실 수 있습니다.</span>
                            <span class="noti-type1 customer">(고객센터 : 국번없이 1599-0011(유료) / 휴대폰 114)</span>
                        </div>
                    </li>
                </ul>
                <div class="bt-gap">
                    <ul class="bt-slice">
                        <li class="bt-white1">
                            <a href="/payment/history/realtime">요금납부 상세내역</a>
                        </li>
                        <li class="bt-blue1">
                            <button class="common-back">확인</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" />
    <div class="cont-box nogaps">
        <div class="bt-link-box">
            <a class="bt-link-tx" href="/home">홈으로</a>
        </div>
    </div>
    <hr class="cont-sp type1" />
</div>