<%#
* FileName: payment.realtime.input.sms.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.05
%>
<!-- #header -->
<div id="header" class="header-wrap">
    <div class="header step-page">
        <div class="header-ti">
            <h1>납부하기</h1>
        </div>
        <button class="close-step fe-cancel-process"><span class="blind">닫기</span></button>
    </div>
</div>
<!--// #header -->
<div class="container">
    <div class="cont-box">
        <!-- .widget -->
        <div class="widget">
            <div class="widget-box step">
                <h3 class="step-ti"><em>STEP 02</em>정보입력</h3>
                <ul class="step-list">
                    <li>1<span class="blind">연락처 입력</span></li>
                    <li class="on">2<span class="blind">데이터 선택</span></li>
                </ul>
            </div>
        </div>
        <!-- //.widget -->
    </div>
    <hr class="cont-sp type1" aria-hidden="true"/>
    <div class="cont-box">
        <div class="pay-info">
            <h4 class="pay-tit">입금전용 계좌 선택</h4>
            <div class="account-wrap">
                <div class="account-detail">
                    <div class="select-name">
                        <button class="bt-dropdown select-bank fe-select-bank-sms" title="은행 선택하기">은행명<span class="ico"></span></button>
                    </div>
                </div>
                <div class="contents-notice type1">
                    <span class="noti-type3">자동납부 인출이 진행되고 있는 경우 입금전용계좌 요금납부 시
                            이중납부가 발생될 수 있으니, 자동납부 인출 중이 아닌 경우에만
                            이용하여 주시기 바랍니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--// .cont-box -->
    <hr class="cont-sp type1" aria-hidden="true"/>
    <div class="cont-box">
        <div class="pay-info">
            <h4 class="pay-tit">SMS 받을 휴대폰 번호</h4>
            <div class="account-wrap">
                <div class="point-box">
                    <ul>
                        <li>
                            <dl>
                                <dt>휴대폰 번호</dt>
                                <dd><em class="number"><%= svcInfo.svcNum %></em></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contents-btn">
            <ul class="bt-slice item-two">
                <li class="bt-white2">
                    <button class="fe-common-back">이전</button>
                </li>
                <li class="bt-red1">
                    <button class="fe-pay-sms fe-pay"><a href="#complete">SMS보내기</a></button>
                </li>
            </ul>
        </div>
    </div>
    <!--// .cont-box -->
    <hr class="cont-sp type1" aria-hidden="true"/>
    <% include ../components/info/payment.realtime.input.sms.info.component.html %>
    <!--// .cont-box -->
</div>