<div class="container">
    <div class="cont-box nogaps-hoz">
        <div class="msg-present-box">
            <div class="msg-present-comp">
                <span class="ico"></span>
                <p class="txt"><span class="tx-bold">납부</span>가 정상적으로<br />처리되었습니다.</p>
            </div>
            <div class="pay-data-cont">
                <ul class="t-pay-data">
                    <li>
                        <dl>
                            <dt class="ti-data">요청(처리)일시</dt>
                            <dd class="tx-data">
                                <span class="blind">날짜</span><span class="num">2018.06.25</span><br />
                                <span class="blind">시간</span><span class="num">17:23:42</span>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="ti-data">납부금액</dt>
                            <dd class="tx-data"><span class="tx-bold num">102,860</span> 원</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="ti-data">은행명</dt>
                            <dd class="tx-data">국민은행</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="ti-data">계좌번호</dt>
                            <dd class="tx-data"><span class="num">01121*******</span></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="ti-data">예금주</dt>
                            <dd class="tx-data">송창익</dd>
                        </dl>
                    </li>
                    <li>
                        <h3 class="ti-pay-detail">상세내역</h3>
                        <ul class="inquiry">
                            <li>
                                <span class="ti-data">휴대폰</span>
                                <span class="tx-data num">010-12**-45**</span>
                            </li>
                            <li>
                                <span class="ti-data">청구년월</span>
                                <span class="tx-data num">2018.05</span>
                            </li>
                            <li>
                                <span class="ti-data">사용요금</span>
                                <span class="tx-data num">102,860</span><span class="won">원</span>
                            </li>
                            <li class="line-gap">
                                <span class="ti-data num">IPTV_smart STB<br/>(서울 강남구 선릉로 72길 26-80)</span>
                            </li>
                            <li>
                                <span class="ti-data">청구년월</span>
                                <span class="tx-data num">2018.05</span>
                            </li>
                            <li>
                                <span class="ti-data">납부금액</span>
                                <span class="tx-data num">102,860</span><span class="won">원</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <dl>
                            <dt class="ti-data">환불계좌정보</dt>
                            <dd class="tx-data">
                                <span class="blind">계좌번호</span><span class="num">01121*******</span><br />
                                <span class="blind">은행명</span><span class="bank">(농협)</span>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <div class="contents-notice">
                            <span class="noti-type1">계좌이체 취소는 영업점 또는 고객센터를 통해 환불<br />신청하실 수 있습니다.</span>
                            <span class="noti-type1 customer">(고객센터 : 국번없이 1599-0011(유료) / 휴대폰 114)</span>
                        </div>
                    </li>
                </ul>
                <div class="bt-gap">
                    <ul class="bt-slice">
                        <li class="bt-white1">
                            <button>요금납부 상세내역</button>
                        </li>
                        <li class="bt-blue1">
                            <button>확인</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" />
    <div class="cont-box nogaps">
        <div class="bt-link-box">
            <a class="bt-link-tx" href="">홈으로</a>
        </div>
    </div>
    <hr class="cont-sp type1" />
</div>