<%#
* MenuName: 나의 요금 > 서브메인 (상단 청구요금 영역)
* @file myt-fare.submain.claim-pay.html
* @author 양정규
* @since 2020.11.10
%>
<%# 청구 내역 없을때%>
<%_if(!data.isBroadBand && (data.latestDates.length < 1 || data.isNewMember) ){_%>
<% include ../components/submain/myt-fare.submain.non-data.html %>
<%_ } else {
    const isRep = data.svcInfo.actRepYn === 'Y'; // 통합청구 대표여부
    const guide = data.guide || {}, // 요금안내서 정보
        repSvcNm = ((guide.data || {}).commDataInfo || {}).repSvcNm || ''; // 통합청구 대표번호
_%>
<section class="cont-card">
    <div class="charge-wrap">
        <div class="charge-cont">
            <div class="month-charge">
                <% include ../components/submain/myt-fare.submain.claim-pay.date.html %>
                <dl class="sel-bill">
                    <dt class="term"><%- data.type !== 'UF' ? '청구요금' : '이용요금' %></dt>
                    <a href="/myt-fare/billguide/guide?date=<%-data.claimDt%>">
                        <dd class="charge">
                            <%-data.totalClaim%><span class="unit">원</span>
                        </dd>
                    </a>
                </dl>
                <%_
                    const {prepay='0', remainPayment='0', unpaid='0'} = data;
                    <!--분할 납부한 요금이 있거나, 미납금액이 있는경우-->
                    if( prepay !== '0' ||  unpaid !== '0'){
                _%>
                <ul class="default-list">
                    <%_if( prepay !== '0') {_%>
                    <li class="default-item">
                        <span class="default-tit"><%-data.month%>월 분할 납부한 요금</span>
                        <span class="default-cost"><%-data.prepay%>원</span>
                    </li>
                    <li class="default-item">
                        <span class="default-tit">남은 요금</span>
                        <span class="default-cost"><%-data.remainPayment%>원</span>
                    </li>
                    <%_} else {_%>
                    <li class="default-item">
                        <span class="default-tit"><%-data.month%>월 요금</span>
                        <span class="default-cost"><%-data.claimPay%>원</span>
                    </li>
                    <%_}_%>
                    <%_if(unpaid !== '0') {_%>
                    <li class="default-item strong">
                        <a href="/myt-fare/unbill">
                            <span class="default-tit">미납요금</span>
                            <span class="default-cost"><%-data.unpaid%>원</span>
                        </a>
                    </li>
                    <%_}_%>
                </ul>
                <%_}_%>
            </div>
            <p class="payment-msg">
                <!--통합청구 대표일때-->
                <%_
                    if(data.type !== 'UF'){
                        const {paymentInfo = {}} = data;
                        const {isPaid, isThisMonth, payDate} = data.autoPayment;
                        payText = isPaid ? '납부완료' : isThisMonth ? '납부될 예정' : '미납',
                        payTextEnd = isPaid ? '되었습니다.' : isThisMonth ? '입니다.' : '되었습니다.';
                _%>
                <strong class="highlight"><%-`${data.month}월 요금이 ${payText}`%></strong> <%-payTextEnd%>
                <span class="detail-type"><%-`${payDate} ${paymentInfo.payMthdNm}`%></span>
                <%_} else if(repSvcNm){_%>
                <strong class="highlight"><%- repSvcNm%>에 통합청구</strong> 되었습니다.
                <%_}_%>
            </p>
            <!--요금 상세내역 영역-->
            <%# SK브로드밴드 인 경우%>
            <%_if(data.isBroadBand){_%>
            <div class="detail-charge-box">
                <p class="detail-error-tit">SK브로드밴드 가입회선 이용안내</p>
                <p class="detail-error-txt">전화 106 또는 SK브로드밴드 웹사이트를<br>이용해 주시기 바랍니다.</p>
                <div class="btn-area medium">
                    <a href="http://www.skbroadband.com/Main.do" target="_blank" class="rect-btn" data-make-eid="skbroadband">SK브로드밴드 바로가기</a>
                </div>
            </div>
            <%_} else if(guide.data) {_%>
            <div class="detail-charge-box">
                <div class="detail-tit"><a href="/myt-fare/billguide/guide?date=<%-data.claimDt%>" data-make-eid="detailBill">요금 상세 내역</a></div>
                <ul class="report-list item-no-border fe-charge-list">
                    <%# 요금 상세내역 리스트 handlebars-template 영역%>
                </ul>
            </div>
            <%_}_%>

            <%_if(data.type !== 'UF'){_%>
            <p class="guide-txt">이번달에 받으신 할인혜택은 <strong><%-data.claimDisAmtAbs || 0%>원</strong> 입니다.</p>
            <%_}_%>

            <%_if(data.miriBalance){_%>
            <div class="detail-charge-box">
                <div class="detail-tit"><a href="/myt-fare/info/miri" data-make-eid="miri">미리 납부하신 금액(MIRI)</a></div>
                <ul class="report-list item-no-border">
                    <li class="report-item">
                        <dl class="report-define d-wrap">
                            <dt class="report-tit">잔액</dt>
                            <dd class="report-cont"><%- data.miriBalance%>원<!--1,260원--></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <%_}_%>

            <!-- 요금납부 (통합청구 대표) -->
            <%_ if(data.type !== 'UF' && data.isNotAutoPayment){
                const {isThisMonth, isPaid} = data.autoPayment;
                // 미납버튼 노출 조건:
                // 1. 당월인경우: 당월 납부예정(납부 전)이라도, 미납요금버튼 미노출이나, 당월보다 이전 미납금액 있으면 노출.
                // 2. 이전달인 경우: 선택 월 포함 미납금액 있으면 노출
                const isShowUnpaid = unpaid !== '0' ? true : !isThisMonth && !isPaid ? true : false;
                const classNm = isThisMonth && isShowUnpaid ? 'btn2' : '';
            _%>
            <div class="btn-area <%-classNm%>">
                <%_if(isThisMonth){ // 당월 일때만 요금납부 버튼 노출 _%>
                <a href="#" class="round-btn fe-payment" data-make-eid="charge">요금 납부</a>
                <%_}_%>
                <a href="/myt-fare/unbill" class="round-btn line <%- isShowUnpaid ? '' : 'none'%>" data-make-eid="unPaid">미납 요금 납부</a>
            </div>
            <%_}_%>
        </div>
    </div>
</section>
<%_}_%>

<%# 요금 상세내역/실시간 이용요금 템플릿%>
<script id="fe-charge" type="text/x-handlebars-template">
    {{#list}}
    <li class="report-item">
        <dl class="report-define d-wrap">
            <dt class="report-tit">{{title}}<!--휴대폰-->
                {{#if hasDetail}}
                <span class="detail-info">{{detail}}<!--010-50**-88**--></span>
                {{/if}}
            </dt>
            <dd class="report-cont">{{value}}원<!--1,260원--></dd>
        </dl>
    </li>
    {{/list}}
</script>

<script>
  $(document).ready(function () {
    new Tw.MyTFareSubMainGuide({
      $element: $('.wrap'),
      data: {
        svcInfo: JSON.parse('<%- JSON.stringify(data.svcInfo) %>'),
        guide: JSON.parse('<%- JSON.stringify(data.guide) %>')
      }
    });
  });
</script>
