<%#
* MenuName: 나의 요금 > 서브메인(MF2)_6개월간 청구요금 없음
* FileName: myt-fare.submain.claim-pay-none.html
* Author: Kim InHwan (skt.p132150@partner.sk.com)
* Date: 2019. 01. 09
%>

<!-- .cont-box -->
<div class="cont-box">
    <div class="user-month-bill">
        <div class="this-month-bill">
            <div class="exception-case">
                <i class="icon-warning-120"><span class="blind"></span></i>
                <p class="msg">최근 6개월 내 <%= data.type === 'UF'? '이용한': '청구된' %> <br>요금이 없습니다.</p>
            </div>
        </div>
    </div>
</div>
<!--// .cont-box -->