<%#
* MenuName: 나의 요금 > 서브메인(MF2)_상세버튼(미납,실시간,요금안내서 설정,납부방법)
* @file myt-fare.submain.payment-detail.html
* @author Kim InHwan (skt.p132150@partner.sk.com)
* @since 2018.09.27
* Update: 2018.11.27
%>

<% if (data.unPaidTotSum) { %>
<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="full-link-list">
        <li>
            <button type="button" data-id="non-payment">
                <span class="inner">
                    <span class="tit">미납요금</span>
                    <span class="text type2"><%= data.unPaidTotSum %>원</span>
                </span>
            </button>
        </li>
    </ul>
</div>
<!--// .cont-box -->
<% } %>
<% if ((data.isRealTime && data.isNotFirstDate) || data.paymentInfo) { %>
<hr class="cont-sp type1" aria-hidden="true"/>
<!-- .cont-box -->
<div class="cont-box nogaps">
    <ul class="full-link-list">
        <% if (data.isRealTime && data.isNotFirstDate) { %>
        <li>
            <button type="button" data-id="realtime-pay">
                <span class="inner">
                    <span class="tit">실시간 요금 조회</span>
                    <span class="text type2"></span>
                </span>
            </button>
        </li>
        <% } %>
        <!--납부/청구 정보 있을때만 노출-->
        <% if (data.paymentInfo) { %>
            <% if (data.type !== 'UF') { %>
            <li>
                <button type="button" data-id="bill-type">
                    <span class="inner">
                        <span class="tit">요금안내서 설정</span>
                        <span class="text type2"><%= data.paymentInfo.billTypeNm %></span>
                    </span>
                </button>
            </li>
            <% } %>
            <li>
                <button type="button" data-id="pay-mthd"
                        class="<%= data.type === 'UF'? 'no-link':''; %>">
                    <span class="inner">
                        <span class="tit">납부방법</span>
                        <% if (data.type === 'UF') { %>
                            <span class="text type2">통합청구 이용 중</span>
                        <% } else { %>
                            <span class="text type2"><%= data.paymentInfo.payMthdNm %></span>
                        <% } %>
                    </span>
                </button>
            </li>
        <% } %>
        <%if(data.isShowAffiliateCard){%>
        <!-- 190805 [OP002-2962] 임시배너 추가_01 -->
        <li>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <div class="cont-box nogaps-ver pt12 pb12">
                <div class="membership-use-particulars">
                    <div class="widget">
                        <div class="widget-box toggle">
                            <div class="bt-detail type1" style="position:relative">
                                <span class="tx-title" style="padding:0 1.625rem 0 4.375rem;vertical-align:middle;font-size:0.9375rem">
                                    <span class="ico-wrap"style="position:absolute;top:50%;left:1rem;margin-top:-1.375rem"><img src="<%=CDN%>/img/ico/ico-banner-target01.png" alt="" style="width:2.75rem;height:2.75rem"></span>
                                    <span>은행자동납부 신청하면 이런 점이 좋아요!</span>
                                    <button class="tod-no-pseudo bt-link-tx underline ml8" style="position:relative;top:auto !important;left:auto;display:block;width:auto;height:auto;margin:0 !important;font-size:0.8125rem;text-decoration:underline;transform:none !important;-webkit-transform:none !important;color:#1788CE" data-id="apply" data-xt_eid="CMMA_A3_B12-11" data-xt_csid="NO" data-xt_action="BV" data-xt_action2="BC">신청하기</button>
                                </span>
                                <button class="bt-toggle tod-type1" role="button" aria-pressed="true" title="상세보기" style="position:absolute;top:50%;right:0;width:1.88rem;margin-top:-1.09rem"><span class="blind">상세보기</span></button>
                            </div>
                            <div class="toggler">
                                <div class="acco-cont" style="border-top:0;background:#fff">
                                    <div class="in-cont" style="padding:0 1.625rem 0 4.375rem;font-size:0.75rem;line-height:1rem;color:#666">
                                        <p>기기할부금과 소액결제 금액은 연말정산에 포함됩니다. <br>은행계좌로 납부할 경우, 신용카드로 하는 것보다 <br>더 많은 소득공제를 받으실 수 있습니다. <br>(은행계좌 납부 30%, 신용카드 납부 15%)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
        </li>
        <!-- // 190805 [OP002-2962] 임시배너 추가_01 -->
        <% } %>
        <% if (data.paymentInfo && data.type !== 'UF') { %>
        <li>
            <button type="button" data-id="change-address">
                    <span class="inner">
                        <span class="tit">청구지 주소/연락처 변경</span>
                        <span class="text type2">조회/수정</span>
                    </span>
            </button>
        </li>
        <% } %>
    </ul>
</div>
<!--// .cont-box -->
<% } %>
