<%#
* MenuName: 나의 요금 > 서브메인(MF2)_청구/사용요금
* FileName: myt-fare.submain.claim-pay.html
* Author: Kim InHwan (skt.p132150@partner.sk.com)
* Date: 2018.09.27
* Update: 2018.11.27
%>

<!-- .cont-box -->
<div class="cont-box">
    <div class="user-month-bill">
        <div class="this-month-bill">
            <% if (data.isPPS) { %>
            <div class="exception-case">
                <span class="ico-wrap"><i class="icon-cellphone-48"><span class="blind"></span></i></span>
                <p class="msg">선불폰을 사용 중입니다.</p>
            </div>
            <% } else { %>
                <p class="stit">이번 달
                    <% if (data.type === 'UF') { %>
                    이용요금
                    <% } else { %>
                    청구요금
                    <% } %>
                </p>
                <% if (data.type === 'UF') { %>
                <p class="price"><%= data.useAmtTot %>원</p>
                <p class="term"><%= data.usageFirstDay %> ~ <%= data.usageLastDay %></p>
                <% } else { %>
                <p class="price"><%= data.claimPay %>원</p>
                <p class="term"><%= data.claimFirstDay %> ~ <%= data.claimLastDay %></p>
                <% } %>
            <% } %>
        </div>
        <% if (data.type === 'UF') { %>
        <p class="msg-type1 mt42">
            <% if (data.isBroadBand) { %>
            SK브로드밴드를 통해 가입하신 서비스일 경우<br />
            청구요금에 포함되지 않습니다.<br />
            전화 106 또는 SK브로드밴드 웹사이트를 이용해 주세요.
            <% } else { %>
                <% if (!data.isPPS) { %>

                    고객님은 현재 통합청구 이용 중이며<br />
                    할인금액을 제외한 이용요금으로 조회됩니다.
                <% } %>
            <% } %>
        </p>
        <% } else { %>
        <!-- DV001-17926 sb변경으로 삭제
        <div class="detail-bill">
            <ul>
                <li>
                    <span class="tit">이용요금</span>
                    <span class="value type2"><%= data.claimUseAmt %>원</span>
                </li>
                <li>
                    <span class="tit">할인요금</span>
                    <span class="value type2 discount">
                        <%= data.claimDisAmt === '0'? data.claimDisAmt : '-' + data.claimDisAmt %>원
                    </span>
                </li>
            </ul>
        </div>
        -->

        <p class="msg-type2 mt42">총 <span class="txt-point"><%= data.claimDisAmtAbs %>원</span>을 할인 받으셨습니다.</p><!--2019.03.20 추가-->

        <% } %>
    </div>
    <ul class="bt-slice <%= data.svcInfo.svcAttrCd !== 'M2' &&
                            data.type !== 'UF' &&
                            data.isNotAutoPayment ? 'item-two': 'solid' %> mt20 mb4">
        <% if (data.type === 'UF') { %>
            <% if (data.svcInfo.svcAttrCd === 'M2') { %>
                <li><button data-id="used-brkd" type="button" class="btn-round1 btn-style4">사용내역 확인</button></li>
            <% } else { %>
                <li><button data-id="used-detail" type="button" class="btn-round1 btn-style4">이용요금 자세히보기</button></li>
            <% } %>
        <% } else { %>
            <% if (data.svcInfo.svcAttrCd === 'M2') { %>
                <li><button data-id="used-brkd" type="button" class="btn-round1 btn-style4">사용내역 확인</button></li>
            <% } else { %>
                <% if (data.isNotAutoPayment) { %>
                <li><button data-id="bill-pym" type="button" class="btn-round1 btn-style4">요금 납부</button></li>
                <% } %>
                <li><button data-id="bill-report" type="button" class="btn-round1 btn-style1">요금안내서</button></li>
            <% } %>
        <% } %>
    </ul>
</div>
<!--// .cont-box -->