<%#
* MenuName: 나의 요금 > 서브메인(pps)
* @file myt-fare.submain.pps.html
* @author 양정규
* @since 2020.11.09
%>
<%
    const {commDataInfo, reqQuery, ppsInfo} = data.guide;
    const isDataType = commDataInfo.ppsType === 'A';
%>
<section class="cont-card">
    <div class="charge-wrap">
        <div class="charge-cont">
            <div class="month-charge">
                <p class="payment-msg top">
                    <strong class="highlight"><%-`사용 가능한 ${isDataType ? '데이터양' : '잔액'}`%></strong> 입니다.
                </p>
                <dl class="sel-bill">
                    <dt class="term pps"><span class="date"><%-commDataInfo.ppsCurDate%></span><%-commDataInfo.ppsCurTime%><!--09:17--></dt>
                    <dd class="charge"><%=commDataInfo.ppsProdAmt%><span class="unit"><%-`${isDataType ? 'MB' : '원'}`%></span></dd>
                </dl>
            </div>
            <div class="detail-charge-box">
                <div class="detail-tit">요금 상세 내역</div>
                <ul class="report-list item-no-border pps">
                    <li class="report-item">
                        <dl class="report-define d-wrap">
                            <dt class="report-tit">발신/사용기간</dt>
                            <dd class="report-cont"><%=commDataInfo.ppsObEndDt %> 까지 발신가능</dd>
                        </dl>
                    </li>
                    <li class="report-item">
                        <dl class="report-define d-wrap">
                            <dt class="report-tit">수신/데이터유지기간</dt>
                            <dd class="report-cont"><%=commDataInfo.ppsInbEndDt %> 까지 수신가능</dd>
                        </dl>
                    </li>
                    <li class="report-item">
                        <dl class="report-define d-wrap">
                            <dt class="report-tit">번호유지기간</dt>
                            <dd class="report-cont"><%=commDataInfo.ppsNumEndDt %> 까지 번호유지</dd>
                        </dl>
                    </li>
                    <%_ if (commDataInfo.ppsType === 'C') { _%>
                    <li class="report-item">
                        <dl class="report-define d-wrap">
                            <dt class="report-tit">잔여데이터</dt>
                            <dd class="report-cont">
                                <span class="report-sub"><%=commDataInfo.ppsRemained %> MB</span>
                            </dd>
                        </dl>
                    </li>
                    <%_}_%>
                </ul>
            </div>
            <!--<div class="btn-area">
                <button class="round-btn fe-imm-charge">선불폰 충전</button>
            </div>-->
        </div>
    </div>
</section>

<section class="cont-card">
    <div class="section-inner" data-target="detailList">
        <div class="head-tit">
            최근 이용 내역
            <span class="head-btn-area">
                <a href="/myt-fare/billguide/guide" class="rect-btn small" data-make-eid="ppsHistory">내역 조회</a>
            </span>
        </div>
        <%# .fe-entryTplList 들어가는 영역%>
    </div>
</section>

<%- include('../components/submain/myt-fare.submain.other-menu.html') _%> <%# 다른메뉴를 찾고있나요 영역%>

<script id="fe-entryTplList" type="text/x-handlebars-template">
    {{#if resData}}
    {{#resData}}
        <div class="small-wrap">
            <ul class="report-list item-no-border">
                <li class="report-item">
                    <dl class="report-define d-wrap">
                        <dt class="report-tit">사용일자</dt>
                        <dd class="report-cont">{{usedDt}}</dd>
                    </dl>
                </li>
                <li class="report-item">
                    <dl class="report-define d-wrap">
                        <dt class="report-tit">사용금액</dt>
                        <dd class="report-cont">{{used}}{{dataUnit}}</dd>
                    </dl>
                </li>
                <li class="report-item">
                    <dl class="report-define d-wrap">
                        <dt class="report-tit">사용내역</dt>
                        <dd class="report-cont">{{usedType}}</dd>
                    </dl>
                </li>
            </ul>
        </div>
    {{/resData}}
    {{else}}
        <div class="warning-box">
            <div class="warning-inner">
                <p class="warning-tit">이용내역이 없습니다.</p>
            </div>
        </div>
    {{/if}}
</script>

<script>
  $(document).ready(function () {
    new Tw.MyTFareSubmainPps( $('.wrap'), {
      reqQuery: JSON.parse('<%-JSON.stringify(reqQuery) %>'),
      svcInfo: JSON.parse('<%-JSON.stringify(svcInfo) %>'),
      ppsInfo: JSON.parse('<%-JSON.stringify(ppsInfo) %>'),
      commDataInfo: JSON.parse('<%-JSON.stringify(commDataInfo) %>')
    });
  });
</script>
