<%#
* @file common.cert.nice.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.08.23
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<form id="applyForm" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb">
    <input type="hidden" name="m" value="checkplusSerivce"/>
    <input type="hidden" name="EncodeData" value="<%= data %>"/>
</form>
<div class="wrap"></div>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {

    // chrome 팝업 차단 해제 시 window.opener을 찾지 못하여 인증완료되지 못하는 오류 수정
    // 인증 요청 전 이 팝업을 close 시킨다.
    var userAgentString = Tw.BrowserHelper.getUserAgent();
    var chromeAgent = userAgentString.indexOf("Chrome") > -1; 
    if(chromeAgent && Tw.FormatHelper.isEmpty(window.opener)) {
      window.open('','_self').close();
    } else {
      var $applyForm = $('#applyForm');
      $applyForm.submit();
    }

  });
</script>
<% include ../../components/end.component.html %>