    <%#
* @file benefit.membership.join.html
* @author 김인환 (skt.p132150@partner.sk.com)
* @since 2018.10.25
%>

    <%- include('../../components/start.component.html', { pageInfo: data.pageInfo }); %>

<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>

<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= data.pageInfo.menuId %>">
    <div class="popup-page tw-popup fixed-bottom h60 nobg"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom
    기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... 기본배경색은 white, 회색배경색은 .nobg -->
        <!-- #header -->
        <%- include('../components/header.component.html', { title: 'T멤버십 가입', type: 'popup', svcInfo: data.svcInfo, pageInfo: data.pageInfo }); %>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap" data-id="container">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true" />
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="membership-ico">
                        <i class="ico-memb"></i>
                    </div>
                    <div class="base-list in-form">
                        <ul>
                            <li>
                                <span class="title">카드 종류</span>
                                <span class="tx-cont pl16">T멤버십</span>
                            </li>
                            <li class="ver-top">
                                <span class="title">카드 유형</span>
                                <span class="tx-cont pl16">
                                    <span class="in-text pb0">
                                        모바일 카드
                                        <span class="exp-tx pt8">스마트폰 이용 고객님께는 자동으로 모바일 카드가 발급되며, 바로 사용하실 수 있습니다.</span>
                                    </span>
                                </span>
                            </li>
                            <% if (data.isCorporateBody) { %>
                            <%- include('../components/join/membership.join.corporate.html', { data }); %>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true" />
                <!-- .cont-box -->
                <div class="cont-box">
                    <div class="tit-wrap">
                        <h3 class="tit-type6 tx-regular">T멤버십 이용/약관 동의 </h3>
                    </div>
                    <div class="input-list agree-type pt24">
                        <ul>
                            <li class="all-agree">
                                <span class="custom-form all" data-id="all-agree-t">
                                    <input type="checkbox" id="chk1" name="checkbox1"><span class="c-type1"></span>
                                </span>
                                <label for="chk1">
                                    <span class="tx-tit tx-bold">모두 동의</span>
                                </label>
                            </li>
                            <li>
                                <span class="custom-form" data-role="TL" data-id="L_01" data-type="svc">
                                    <input type="checkbox" id="chk2" name="checkbox1"><span class="c-type1"></span>
                                </span>
                                <label for="chk2">
                                    <span class="tx-tit">T멤버십 회원약관 동의 (필수)</span>
                                </label>
                                <button class="more-vw" data-type="BE_04_02_L01"><span class="blind">자세히 보기</span></button>
                            </li>
                            <li>
                                <span class="custom-form" data-role="TL" data-id="L_02" data-type="psi">
                                    <input type="checkbox" id="chk3" name="checkbox1"><span class="c-type1"></span>
                                </span>
                                <label for="chk3">
                                    <span class="tx-tit">개인정보 수집/이용 동의 (필수)</span>
                                </label>
                                <button class="more-vw" data-type="BE_04_02_L02"><span class="blind">자세히 보기</span></button>
                            </li>
                            <li>
                                <span class="custom-form" data-role="TL" data-id="L_05" data-type="policy">
                                    <input type="checkbox" id="chk4" name="checkbox1"><span class="c-type1"></span></span>
                                <label for="chk4">
                                    <span class="tx-tit">개인정보 처리방침 (필수)</span>
                                </label>
                                <button class="more-vw" data-type="BE_04_02_L09"><span class="blind">자세히 보기</span></button>
                            </li>
                            <li>
                                <span class="custom-form" data-role="TL" data-type="ad">
                                    <input type="checkbox" id="chk5" name="checkbox1"><span class="c-type1"></span></span>
                                <label for="chk5">
                                    <span class="tx-tit">광고성 정보 수신 동의 (선택)</span>
                                </label>
                                <button class="more-vw" data-type="BE_04_02_L03"><span class="blind">자세히 보기</span></button>
                            </li>
                            <li>
                                <span class="custom-form" data-role="TL" data-type="bsi">
                                    <input type="checkbox" id="chk6" name="checkbox1"><span class="c-type1"></span></span>
                                <label for="chk6">
                                    <span class="tx-tit">고객님께 혜택을 드리기 위한 개인정보 수집/이용 동의 (선택)</span>
                                </label>
                                <button class="more-vw" data-type="BE_04_02_L04"><span class="blind">자세히 보기</span></button>
                            </li>
                            <li>
                                <span class="custom-form" data-role="TL" data-type="sms">
                                    <input type="checkbox" id="chk7" name="checkbox1"><span class="c-type1"></span></span>
                                <label for="chk7">
                                    <span class="tx-tit">T멤버십 이용내역 안내 서비스 가입 (선택)</span>
                                    <span class="tx-sub-s">SK 텔레콤 T멤버십 이용내역을 문자(SMS/MMS)로 안내해 드리는 무료 서비스입니다.</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--// .cont-box -->


                <hr class="cont-sp type1" aria-hidden="true" />

                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">
                    <div class="tit-wrap">
                        <h3 id="fe-anchor-okcashback" class="tit-type6 tx-regular">OK캐쉬백 이용/약관 동의</h3>
                    </div>
                    <p class="exp-single pt14">OK캐쉬백 기능을 추가하시면, OK캐쉬백을 적립/사용하실 수 있습니다. OK캐쉬백 기능을 추가하시겠습니까?</p>
                    <div class="simple-form mt30 pb20">
                        <span class="custom-form" data-id="usage_cashbag"><input type="checkbox" id="chk8" name="checkbox2"><span class="c-type1"></span></span>
                        <label for="chk8">OK캐쉬백 기능 추가하기</label>
                    </div>
                    <div class="in-agree-wrap blind-height0" data-id="cashbag_list">
                        <div class="input-list agree-type">
                            <ul>
                                <li class="all-agree">
                                    <span class="custom-form all" data-id="all-agree-c">
                                        <input type="checkbox" id="chk9" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="chk9">
                                        <span class="tx-tit tx-bold">모두 동의</span>
                                    </label>
                                </li>
                                <li>
                                    <span class="custom-form" data-role="CL" data-id="L_03" data-type="ovc">
                                        <input type="checkbox" id="chk10" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="chk10">
                                        <span class="tx-tit">OK캐쉬백 카드 서비스 이용약관 동의 (필수)</span>
                                    </label>
                                    <button class="more-vw" data-type="BE_04_02_L05"><span class="blind">자세히 보기</span></button>
                                </li>
                                <li >
                                    <span class="custom-form" data-role="CL" data-id="L_04" data-type="odi">
                                        <input type="checkbox" id="chk11" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="chk11">
                                        <span class="tx-tit">OK캐쉬백 암호화된 동일인 식별정보 제공 동의 (필수)</span>
                                    </label>
                                    <button class="more-vw" data-type="BE_04_02_L06"><span class="blind">자세히 보기</span></button>
                                </li>
                                <li >
                                    <span class="custom-form" data-role="CL" data-type="mak">
                                        <input type="checkbox" id="chk12" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="chk12">
                                        <span class="tx-tit">OK캐쉬백 마케팅 활용을 위한 개인정보 제3자 제공 동의(선택)</span> <!-- OP002-2365 [M] OCB 최신 약관 및 동의 현행화 관련 수정 -->
                                    </label>
                                    <button class="more-vw" data-type="BE_04_02_L07"><span class="blind">자세히 보기</span></button>
                                </li>
                                <!-- OP002-2365 [M] OCB 최신 약관 및 동의 현행화 관련 삭제 start -->
                                <!--<li><!-- 2019.03.12 내용추가-->
                                <!--
                                    <span class="custom-form"  data-role="CL" data-type="osi">
                                        <input type="checkbox" id="chk13" name="checkbox3"><span class="c-type1"></span></span>
                                    <label for="chk13">
                                        <span class="tx-tit">OK캐쉬백 사용할인 금액에 대한 OK캐쉬백 적립안내 (선택)</span>
                                    </label>
                                </li>
                                -->
                                <!-- OP002-2365 [M] OCB 최신 약관 및 동의 현행화 관련 삭제  end -->
                            </ul>
                            <ul class="announcement-box">
                                <li class="announcement-bullet type01">필수동의 사항에 동의하셔야 T멤버십 카드로 OK캐쉬백을 적립/사용하실 수 있습니다. 단, OK캐쉬백 포인트가 적립될 경우 OK캐쉬백 수수료 정책에 따라 서비스 이용수수료가 차감된 포인트가 최종 적립됩니다.</li>
                                <li class="announcement-bullet type01">T멤버십 가입 후 ‘OK캐쉬백 마케팅 활용을 위한 개인정보 제3자 제공 동의’ 여부는 OK캐쉬백 고객행복센터(1599-0512)에서 변경하실 수 있습니다.</li> <!-- OP002-2365 [M] OCB 최신 약관 및 동의 현행화 관련 수정 -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->

                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <ul class="announcement-box">
                        <li class="announcement-bullet type01">필수동의 항목에 전부 체크한 다음, 필수입력 항목이 있는 경우에는 내용을 전부 입력하시면 T멤버십에 가입됩니다.</li>
                        <li class="announcement-bullet type01">T멤버십 카드는 본인명의의 1회선당 1개씩 발급됩니다.</li>
                        <li class="announcement-bullet type01">법인사업자 고객님의 경우, 법인 통신 담당자가 T멤버십 가입을 승인한 후에 실제 사용하시는 고객님께 T멤버십 카드가 발급됩니다.</li>
                        <li class="announcement-bullet type01">고객님의 개인정보 제공/활용에 대한 동의와 동의 철회, 개인정보 오류를 정정하시려면 SK텔레콤 고객센터(휴대폰 114, 무료)나 지점에서 신청하실 수 있습니다.</li>
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>
            <!-- .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button disabled="disabled" data-id="join-btn">가입하기</button>
                    </li>
                </ul>
            </div>
            <!-- // .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
        </div>
        <!-- // .container-wrap -->

        <button class="prev-step fe-common-back">취소</button>
    </div>
</div>
<% include ../../components/javascript.component.html %>
</body>
<script>
  // client 작업 중
  var data = '<%- JSON.stringify(data) %>';
  $(document).ready(function () {
    new Tw.MyTBenefitMembershipJoin({
      $element: $('[data-id=container]'),
      data: JSON.parse(data)
    });
  });
</script>
<% include ../components/end.component.html %>
