<%#
* FileName: myt-fare.bill.hotbill
* Author: Hyeryoun Lee (skt.P130712@partner.sk.com)
* Date: 2018. 9. 21.
%>
<% include ../../components/start.component.html %>
<% include ../../components/javascript.component.html %>
<% include ../../components/bill/myt-fare.bill.hotbill.billgroup.html %>


<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<div id="fe-myt-fare-hotbill" class="wrap">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '실시간 사용요금', svcInfo: svcInfo, line:true }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container loading">
            <div class="ti-caption-gray"><!-- 2018-09-19 클래스명 변경 -->
                <h3 class="tit"><%= svcInfo.prodNm %></h3>
                <button class="detail-view"><span class="blind">자세히보기</span></button>
            </div>
            <!-- .cont-box -->
            <% if(billAvailable){ %>
            <div class="cont-box pt10">
                <div class="charge-guide-wrap">
                    <div class="charge-cont">
                        <span class="tit"><span class="charge-txt" id="fe-total"></span>원</span>
                        <span class="sub-disc01"id="fe-period">사용기간 : </span>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="cont-box">
                <p class="cont-msg-big">
                    <span class="tx-bold vbl">매월 2일</span>부터 실시간 <br />
                    사용요금 조회가 가능합니다.
                </p>
            </div>
            <% } %>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="statement-cont">
                    <div class="statement-detail type2" id="fe-bill-menu">
                        <!-- .widget -->
                        <!--// .widget -->
                    </div>
                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box nogaps" id="fe-unpaid-bill" style="display:none;">
                <ul class="link-long-list">
                    <li>
                        <div class="link-long">
                            <button>미납요금
                                <span class="tx-sub">
											<span class="normal"><i class="tx-bold" id="fe-unpaid-amount">8,000</i> 원</span>
											<span class="ico"></span>
										</span>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>

            <% if(lines.length > 0) { %>
            <div class="ti-caption-gray"><!-- 2018-09-19 클래스명 변경 -->
                <h4 class="tit">다른 회선 실시간 요금</h4>
            </div>
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <ul class="list-comp-lineinfo">
                    <% for (let i = 0; i < lines.length; i++) { %>
                    <li>
                        <button data-idx=<%= i %>>
                            <div class="lineinfo-user">
                                <span class="info-title"><%= lines[i].eqpMdlNm %>
                                    <% if (lines[i].child) { %>
                                    <span class="badge badge-fam"><span class="blind">자녀회선</span></span>
                                    <% } %>
                                </span>
                                <span class="info-sub"><%= lines[i].svcNum %></span>
                            </div>
                            <div class="lineinfo-data">
                                <span class="info-title"><%= lines[i].bill %><span class="unit ml4">원</span></span>
                                <span class="ico"></span>
                            </div>
                        </button>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- TBD -->
            <img src="/img/dummy/DC_02_TBD2.jpg" alt="이용안내 노출 영역" style="width:100%;vertical-align:top;"/>

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- TBD -->
            <img src="/img/dummy/DC_02_TBD3.jpg" alt="페이지 바로가기 노출 영역" style="width:100%;vertical-align:top;"/>


        </div>
    </div>
    <!--// #contents -->
</div>

<!--// #skip_navigation -->
<script>
  $(document).ready(function () {
    new Tw.MyTFareHotBill($('#fe-myt-fare-hotbill'));
  });
</script>
<% include ../../components/end.component.html %>
