<%#
* @file myt-fare.bill.set.html
* @author 양정규 (skt.P130715@partner.sk.com)
* @since 2018.09.12
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/bill/myt-fare.bill.set.integrated.component.html %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '요금안내서 설정',svcInfo:svcInfo}); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <hr class="cont-sp type1" aria-hidden="true"/> <!--리디자인-->
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <div class="calling-plan">
                    <a class="wrap-link" href="/product/callplan?prod_id=<%=svcInfo.prodId%>">
                        <!-- 2019.03.20 뱃지 수정 : 이용중 -> MY : use class 삭제 -->
                        <i class="badge icon-badge-plan-my"><span class="blind">MY</span></i>
                        <span class="stit"><%=svcInfo.prodNm%></span>
                    </a>
                </div>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- //190831 리디자인_01 -->

            <!-- .cont-box -->
            <div class="cont-box now-fee-box">
                <p class="tit">
                    현재 요금안내서<br/>
                    <strong><%= data.billInfo[0].nm %></strong>
                </p>

                <% if(data.billInfo.length > 1) {%>
                <dl class="info-tx0">
                    <dt>함께 받는 요금안내서</dt>
                    <% for (let i=1; i < data.billInfo.length; i++) { %>
                        <dd>
                            <strong>
                                <%= i > 1 ? ',':'';%>
                                <%= data.billInfo[i].nm  %>
                            </strong>
                        </dd>
                    <%}%>
                </dl>
                <%}%>

                <div class="cont-box nogaps pt22">
                    <%if (['1', 'ADD'].indexOf(data.billInfo[0].cd) !== -1) {%>
                        <dl class="info-tx1">
                            <dt>우편 주소</dt>
                            <dd><%= '[' + data.zip +'] ' + data.basAddr + data.dtlAddr%></dd>
                        </dl>
                        <!--우편물 발송주기 표시 일때-->
                        <%if(data.billSndCyclYn === 'Y'){%>
                        <div class="info-line">
                            <dl class="info-tx1">
                                <dt>우편물 발송주기</dt>
                                <dd>
                                    <%
                                        let jugi = {
                                            '1' : '매월',
                                            '2' : '격월',
                                            '3' : '분기',
                                            '4' : '반기'
                                        };
                                    %>
                                    <%=jugi[data.billSndCyclCd]%>
                                </dd>
                            </dl>
                        </div>
                        <%}%>
                    <%}%>

                    <!--안내서가 "이메일"을 포함하는 경우만 보임-->
                    <%if(data.billInfo.some( (o) => o.cd === '2')){%>
                        <dl class="info-tx1">
                            <dt>이메일 주소</dt>
                            <dd><%=data.invEmailAddr%></dd>
                        </dl>
                        <!--"전자추가발송" 이 아닌 경우만 보임-->
                        <%if('ADD' !== data.billInfo[0].cd){%>
                        <dl class="info-tx1">
                            <dt>이메일 보안설정</dt>
                            <dd><%=data.scurMailYn === 'Y' ? '예':'아니오'%></dd>
                        </dl>
                        <dl class="info-tx1">
                            <dt>혜택 정보 받기</dt>
                            <dd><%=data.emailRcvAgreeYn === 'Y' ? '예':'아니오'%></dd>
                        </dl>
                        <%}%>
                    <%}%>

                    <!--우편, 유선 ( 문자 )일 때, 핸드폰 번호 보임 -->
                    <%
                        if(data.hpNum) {
                        let _hpTitle = ['1', 'ADD'].indexOf(data.billInfo[0].cd) !== -1 ? '연락처':'휴대폰번호';
                    %>
                        <dl class="info-tx1">
                            <dt><%=_hpTitle%></dt>
                            <dd><%=data.hpNum%></dd>
                        </dl>
                    <%}%>

                    <%
                        if ( data.options.length > 0 ) {
                        let options = {
                            '1':'Bill Letter 보안강화',
                            '2':'휴대폰번호 전체 표시',
                            '3':'콘텐츠 이용 상세내역 표시',
                            '4':'법정대리인 함께 수령',
                            '5':'문자 수신'
                        };
                    %>
                    <dl class="info-tx1">
                        <dt>설정한 옵션</dt>
                        <dd>
                            <% for(let i=0; i< data.options.length; i++) { %>
                                <%= options[data.options[i]]%>
                                <%if( (i+1) < data.options.length ){%><br/><%}%>
                            <%}%>
                        </dd>
                    </dl>
                    <%}%>

                    <!--모바일 퀵 만 노출-->
                    <%if(['D', 'E'].indexOf(data.curBillType) !== -1){%>
                    <dl class="info-tx1">
                        <dt>모바일퀵(모바일M) 서비스는 2011년 5월 31일자로 종료되었습니다. <br/>
                            기존 이용 고객님께서는 하단의 [다른 요금안내서로 받기]로 변경하시거나 SKT 고객센터를 통해 요금안내서 유형을 변경하시기 바랍니다.</dt>
                    </dl>
                    <%}%>
                    <!--// 모바일 퀵 만 노출-->
                </div>

                <!--"정보변경" 없는 유형 : T world 확인(SMS 수신불가 단말), 전자추가발송, 모바일 퀵-->
                <%
                    if( (!('P' === data.curBillType && 'N' === data.isusimchk ) && ['D', 'E', 'ADD'].indexOf(data.billInfo[0].cd) === -1) ) {
                    let params = 'isChangeInfo=Y&billType='+ data.billInfo[0].cd + (data.billInfo.length > 1 ? '&subBillType=' + data.billInfo[1].cd : '');
                %>
                <div class="bt-alone">
                    <a class="btn-round2 btn-style3" href="/myt-fare/billsetup/change?<%=params%>">정보변경</a>
                </div>
                <%}%>

                <!--모바일 퀵 은 "반송내역", "재발행" 비노출-->
                <%
                    if(['D', 'E'].indexOf(data.curBillType) === -1){
                    let _itemClassNm = 'P' !== data.curBillType ? 'item-two' : '';
                %>
                <ul class="bt-slice pt40 <%=_itemClassNm%>">
                    <li>
                        <button class="btn-round1 btn-style4" data-url="/myt-fare/billsetup/historyreturn">반송내역</button>
                    </li>
                    <!--T world 확인은 재발행 기능 없음-->
                    <% if ( 'P' !== data.curBillType ) { %>
                    <li>
                        <button class="btn-round1 btn-style1" data-url="/myt-fare/billsetup/reissue">재발행</button>
                    </li>
                    <%}%>
                </ul>
                <%}%>
                <!--// 모바일 퀵 은 "반송내역", "재발행" 비노출-->
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <%if(data.integrateList && data.integrateList.length > 0){%>
            <div class="cont-box nogaps-hoz">
                <div class="list-comp-input type01">
                    <h3 class="tit">통합청구 등록회선</h3>
                    <div class="widget">
                        <div class="widget-box radio">
                            <ul id="fe-integrate-list" class="select-list" role="group">
                                <!--통합청구 등록회선 리스트 영역-->
                            </ul>
                            <div class="btn-more none">
                                <button>더 보기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="cont-sp type1" aria-hidden="true"/>
            <%}%>
            <!--// .cont-box -->

            <!-- .cont-box -->
            <div class="cont-box pb0">
                <p class="con-tit0 pb6">다른 요금안내서로 받기</p>
                <p class="con-txt0 pb12">T world 계정 또는 Bill Letter로 받아보시면<br/>종이 안내서보다 빠르고 안전하게 보관하실 수 있습니다.</p>
                <ul class="link-long-list nopd">
                    <%
                        let icoName = {
                            'P': 'ico-ch-tw',
                            'H': 'ico-ch-letter',
                            'B': 'ico-ch-msg',
                            '2': 'ico-ch-email',
                            '1': 'ico-ch-post'
                        };
                        data.billList.forEach( (bill) => {
                    %>
                    <li>
                        <div class="link-long lower-h">
                            <a href="/myt-fare/billsetup/change?billType=<%=bill.cd%>&subBillType=<%=bill.cd !== 'P' ? 'X':'NO'%>">
                                <span class="<%=icoName[bill.cd]%>"></span><%= bill.nm %>
                                <span class="tx-sub">
                                    <span class="ico"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <%})%>
                </ul>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1" aria-hidden="true" />

            <!-- .cont-box -->
            <p class="fee-banner0">
                <%
                    let billLetterInfo = {
                        title : '이번달 Bill Letter가 도착했습니다~',
                        msg : '월별 청구 금액과 상세 내역 등을<br /> 언제든지 편리하게 확인하세요.',
                        img : 'ic-img',
                        info : 'Bill Letter 앱 실행'
                    };
                    if ( 'H' !== data.billInfo[0].cd ) {
                        billLetterInfo.title = 'Bill Letter를 알고 계세요? ';
                        billLetterInfo.msg = '쌓여가는 요금안내서,<br/> Bill Letter 앱으로 한 번에 관리하세요.';
                        billLetterInfo.img = 'ic-img2';
                        billLetterInfo.info = 'Bill Letter 앱 다운로드';
                    }
                %>
                <a id="fe-app-down" href="#" title="<%=billLetterInfo.info%>">
                    <span class="tit"><%= billLetterInfo.title%></span>
                    <span class="tx0"><%- billLetterInfo.msg%></span>
                    <span class="<%=billLetterInfo.img%>"></span>
                </a>
            </p>

            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo  }); %>
</div>
</body>

<% include ../../components/javascript.component.html %>

<script>
  $(document).ready(function () {
    new Tw.MyTFareBillSet($('.wrap'), JSON.parse('<%-JSON.stringify(data.integrateList)%>'));
  });
</script>
<% include ../../components/end.component.html %>
