<!--
* FileName: myt-fare.bill.set.reissue.html
* Author: 양정규 (skt.P130715@partner.sk.com)
* Date: 2018.10.01
-->
<%- include('../../components/start.component.html', { pageInfo: data.pageInfo }); %>
<body>
<div id="fe-myt-fare-bill-set-reissue" class="wrap" data-menuId="<%= data.pageInfo.menuId %>">
    <div class="popup-page tw-popup fixed-bottom h60">
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '요금안내서 재발행', type: 'popup', svcInfo: data.svcInfo, pageInfo: data.pageInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->

                <!--요금서가 두개인 경우 처리-->
                <% if (data.billIsueTyps && data.billIsueTyps.length > 1) { %>
                <div class="cont-box">
                    <p class="con-tit0 pb12">재발행 할 요금안내서</p>
                    <div class="widget">
                        <div class="widget-box radio">
                            <div class="radio-slide big">
                                <ul class="select-list fe-bill-isue-typs" role="radiogroup">
                                    <% for (var i = 0; i < data.billIsueTyps.length; i++) { %>
                                        <li class="radiobox <%= (i === 0) ? 'checked': ''%>" role="radio" aria-checked="<%= (i === 0) ? 'checked': ''%>">
                                            <input type="radio" name="radio1" value="<%= data.billIsueTyps[i] %>" aria-labelledby="aria-comp2-radio<%=i%>" title="재발행 할 요금안내서" <%= (i === 0) ? 'checked': ''%>/>
                                            <span class="radio-txt" id="aria-comp2-radio<%=i%>">
                                                <span><%= data.billIsueTypNms[i] %></span>
                                            </span>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <!-- 휴대폰 && T world 타입이 아닌경우 재발행 시점 표시-->
                <% if (data.type === '01' && data.billIsueTypCd !== 'P') { %>
                <div class="cont-box">
                    <p class="con-tit0 pb12">재발행 시점</p>
                    <div class="widget">
                        <div class="widget-box radio">
                            <div class="radio-slide big">
                                <ul class="select-list fe-bill-isue-typ-cds" role="radiogroup">
                                    <li class="radiobox" role="radio">
                                        <input type="radio" name="radio4" value="" title="재발행 시점" aria-labelledby="aria-comp3-radio1" checked/>
                                        <span class="radio-txt" id="aria-comp3-radio1">
                                            <span>청구 시점</span>
                                        </span>
                                    </li>
                                    <li class="radiobox" role="radio">
                                        <input type="radio" name="radio4" value="" title="재발행 시점" aria-labelledby="aria-comp3-radio2"/>
                                        <span class="radio-txt" id="aria-comp3-radio2">
                                            <span>현재 시점</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <!-- 유선인 경우 재발행 사유 표시-->
                <% if (data.type === '02' && data.reasons && data.reasons.length > 0) { %>
                <div class="cont-box nogaps pt20">
                    <p class="con-tit0 pl16 pb14">재발행 사유</p>
                    <div class="list-comp-input">
                        <div class="widget">
                            <div class="widget-box radio">
                                <ul class="select-list fe-reisu-rsn-cd" role="group">
                                    <% for (var i = 0; i < data.reasons.length; i++) { %>
                                    <li class="radiobox type01-big mid-top <%= (i === 0 ? 'checked': '') %>" role="radio" aria-checked="<%= (i === 0 ? 'true': 'false') %>">
                                        <input type="radio" name="radio2" value="<%= data.reasons[i].commCdVal %>" title="재발행 사유" aria-labelledby="aria-comp1-radio<%=i%>" <%= (i === 0 ? 'checked="checked"': '') %> />
                                        <div class="comp-list-layout" id="aria-comp1-radio<%=i%>">
                                            <p class="layout-text">
                                                <span class="mtext"><%= data.reasons[i].commCdValNm %></span>
                                            </p>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <% if (data.halfYear && data.halfYear.length > 0 ) { %>
                <div class="cont-box nogaps pt20">
                    <p class="con-tit0 pl16 pb6">재발행 월</p>
                    <div class="list-comp-input">
                        <div class="widget">
                            <div class="widget-box radio">
                                <ul class="select-list fe-inv-yms" role="group">
                                    <% for (var i = 0; i < data.halfYear.length; i++) { %>
                                    <li class="radiobox type01-big mid-top <%= (i === 0 ? 'checked': '') %>" role="radio" aria-checked="<%= (i === 0 ? 'true': 'false') %>">
                                        <input type="radio" name="radio" value="<%= data.halfYear[i].type3 %>" title="재발행 월" aria-labelledby="aria-comp-radio<%=i%>" <%= (i === 0 ? 'checked="checked"': '') %> />
                                        <div class="comp-list-layout" id="aria-comp-radio<%=i%>">
                                            <p class="layout-text">
                                                <span class="mtext"><%= data.halfYear[i].type1%></span> <span class="tx-normal">(<%= data.halfYear[i].type2%>)</span>
                                            </p>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true"/>
                <% } %>

                <!-- .cont-box -->
                <hr class="cont-sp type1" aria-hidden="true"/><!-- 2018-11-02 수정 -->
                <!-- .cont-box --><!-- 2018-11-02 수정 -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <% let tipId = data.billIsueTypCd === '1' ? 'MF_04_01_tip_02':'MF_04_01_tip_01'%>
                        <li>
                            <button id="<%=tipId%>" type="button" class="btn-tip" aria-haspopup="true">
                                요금안내서 재발행 이용안내<i class="icon-badge-tip"><span class="blind">요금안내서 재발행 이용안내 tip</span></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <!--// .cont-box -->
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-btn-submit">신청하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// #contents -->
        <footer id="fe-all-menu">
            <%- include('../../../../common/views/components/masking.component.html', { svcInfo: data.svcInfo, pageInfo: data.pageInfo }); %>
        </footer>
        <!-- .popup-closeBtn -->
        <button id="fe-back" class="prev-step fe-common-back">취소</button>
        <!--// .popup-closeBtn -->
    </div>
</div>
</body>

<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MyTFareBillSetReIssue($('#fe-myt-fare-bill-set-reissue'), {
      billIsueTypCd: '<%= data.billIsueTypCd %>',
      billIsueTypNm: '<%= data.billIsueTypNm %>',
      billIsueTyps: '<%= data.billIsueTyps %>',
      type: '<%= data.type %>'
    });
  });
</script>
<% include ../../components/end.component.html %>