<%#
* FileName: myt-fare.bill.point.html
* Author: Jayoon Kong (jayoon.kong@sk.com)
* Date: 2018.09.18
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation // data-menuId는 tooltip 오픈 시 사용됨 -->
    <div id="myt-fare-bill-point" class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <div class="popup-page tw-popup fixed-bottom h60">
            <!-- #header (공통 component 사용) -->
            <%- include('../components/header.component.html', { title: 'OK캐쉬백/T포인트 납부', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
            <!--// #header -->
            <!-- .container-wrap -->
            <div class="container-wrap">
                <h2 class="blind">내용</h2>
                <div id="contents" class="container">
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <!-- 미납 회선정보 공통 컴포넌트 -->
                        <% include ../../components/bill/myt-fare.bill.common.component.html %>
                    </div>
                    <!--// .cont-box -->
                    <hr class="cont-sp type1" aria-hidden="true"/>
                    <!-- .cont-box -->
                    <div class="cont-box noborder">
                        <div class="user-info-form">
                            <div class="info-form-box">
                                <p class="form-label" id="aria-exp-label1">
                                    납부포인트 <button id="MF_01_03_tip_01" class="tip-view" title="납부포인트" aria-haspopup="true" type="button">TIP</button>
                                </p>
                                <ul class="bt-slice fe-get-point-wrapper">
                                    <li class="bt-blue1">
                                        <button class="fe-get-point">포인트 조회하기</button>
                                    </li>
                                </ul>
                                <div class="select-point-box fe-point-box" style="display:none;">
                                    <div class="select-point-dropdown">
                                        <button id="10" data-code="CPT" class="bt-dropdown big fe-select-point" title="납부 포인트 종류" aria-haspopup="true">
                                            OK캐쉬백<span class="ico"></span>
                                        </button>
                                    </div>
                                    <div class="select-point-input">
                                        <div class="inputbox">
                                            <span class="input">
                                                <input type="tel" inputmode="numeric" min="0" pattern="[0-9]*" placeholder="1,000포인트 이상"
                                                       class="fe-point required-input-field fe-only-number" data-valid-label="point"
                                                       title="납부 포인트를 1,000포인트 이상 입력해 주세요" value="" aria-describedby="aria-exp-desc1" maxlength="8">
                                                <button class="cancel" style="display: none;" aria-hidden="true"><span class="blind">삭제</span></button>
                                            </span>
                                            <span id="aria-exp-desc1" class="error-txt fl-type fe-error-msg" aria-hidden="true" style="display:none;"></span>
                                        </div>
                                    </div>
                                    <span id="aria-exp-desc1" class="select-point-info">
                                        OK캐쉬백<span class="fe-cashbag-point"></span>P /
                                        T포인트 <span class="fe-t-point"></span>P
                                    </span>
                                </div>
                            </div>
                            <div class="info-form-box top-line">
                                <p class="form-label">비밀번호</p>
                                <span class="inputbox">
                                    <span class="input">
                                        <input type="password" class="fe-point-pw required-input-field" placeholder="비밀번호 입력"
                                               minlength="6" maxlength="16" title="비밀번호 입력" value="" data-valid-label="password">
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                    <span id="aria-exp-desc1" class="error-txt fe-error-msg" aria-hidden="true" style="display:none;">비밀번호가 올바르지 않습니다.</span>
                                </span>
                                <button class="bt-link-tx underline mt18 fe-find-password" title="새창">OK캐쉬백 비밀번호 찾기</button>
                            </div>
                        </div>
                    </div>
                    <!--// .cont-box -->

                    <hr class="cont-sp type1" aria-hidden="true"/>

                    <!-- .cont-box -->
                    <div class="cont-box nogaps-btm">
                        <h3 class="tx-bold">꼭 확인해 주세요</h3>
                        <ul class="noti-list02">
                            <li>
                                <button id="MF_01_01_tip_01" class="tip-view-btn" aria-haspopup="true" type="button">
                                    요금납부 안내<span class="tip-view">TIP</span>
                                </button>
                            </li>
                            <li>
                                <button id="MF_01_01_tip_02" class="tip-view-btn" aria-haspopup="true" type="button">
                                    이용정지 고객 안내<span class="tip-view">TIP</span>
                                </button>
                            </li>
                            <li>
                                <button id="MF_01_01_tip_03" class="tip-view-btn" aria-haspopup="true" type="button">
                                    통합청구이용고객 안내<span class="tip-view">TIP</span>
                                </button>
                            </li>
                            <li>
                                <button id="MF_01_03_tip_02" class="tip-view-btn" aria-haspopup="true" type="button">
                                    OK캐쉬백 포인트 안내<span class="tip-view">TIP</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!--// .cont-box -->

                </div>
                <!-- .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
                <div class="bt-fixed-area">
                    <ul class="bt-slice full">
                        <li class="bt-red1">
                            <button class="fe-check-pay" disabled>납부하기</button>
                        </li>
                    </ul>
                </div>
                <!-- // .bt-fixed-area 바닥고정 버튼은 이 안에다가 추가 -->
            </div>
            <!--// #contents -->
            <!-- .popup-closeBtn -->
            <button class="prev-step fe-close">취소</button>
            <!--// .popup-closeBtn -->
        </div>
        <footer id="fe-all-menu">
            <%- include('../../../../common/views/components/masking.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MyTFareBillPoint($('#myt-fare-bill-point'));
  });
</script>
<% include ../../components/end.component.html %>
