<%#
* @file myt-fare.bill.hotbill
* @author Hyeryoun Lee
* @since 2018-9-21
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>
<% include ../../components/bill/myt-fare.bill.hotbill.lines.html %>
<% include ../../components/bill/myt-fare.bill.hotbill.billgroup.html %>

<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<div id="fe-myt-fare-hotbill" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html',
    { title: title, svcInfo: svcInfo }); %>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 id="contents" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <% if(!isPrev) { %>
            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box nogaps">
                <div class="calling-plan">
                    <% if(locals.child) { %>
                    <a class="wrap-link" href="/product/callplan?prod_id=<%= locals.childProdId %>">
                        <i class="icon-badge-plan-child mr8"><span class="blind">자녀</span></i>
                        <span class="stit"><%= locals.childProdNm %></span>
                    </a>
                    <% } else {%>
                    <a class="wrap-link" href="/product/callplan?prod_id=<%= svcInfo.prodId %>">
                        <!-- DV001-14236 뱃지 MY-> 이용중으로 변경 -->
                        <i class="badge icon-badge-plan-my use"><span class="blind">이용 중</span></i>
                        <span class="stit"><%= svcInfo.prodNm %></span>
                    </a>
                    <% } %>
                </div>
            </div>
            <% } %>
            <!-- .cont-box -->
            <% if(billAvailable){ %>
            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="user-month-bill mt0">
                    <div class="this-month-bill">
                        <% if(locals.child) { %>
                        <p class="stit"><%= locals.child %></p>
                        <% } %>
                        <p class="price tx-bold mt0" id="fe-total">원</p>
                        <p class="term" id="fe-period">이용기간: </p>
                    </div>
                </div>
            </div>


            <hr class="cont-sp type1" aria-hidden="true"/>
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz">
                <div class="statement-cont type2">
                    <div class="statement-detail" data-role="fe-bill-menu">
                        <div class="cont-loading-area fe-loading-bill">
                        </div>
                        <!-- .widget -->
                        <!--// .widget -->
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
            <!--// .cont-box -->
            <% } else { %>
            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box">
                <p class="msg-type1"><span class="tx-bold">매월 2일</span>부터 실시간 이용요금을<br />조회하실 수 있습니다.</p>
            </div>
            <!--// .cont-box -->

            <% } %>
            <% if(preBillAvailable) { %>
            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box nogaps fe-prev-wrapper"  >
                <ul class="full-link-list">
                    <li>
                        <a href="/myt-fare/bill/hotbill/prev" id="fe-bt-prev">
                                <span class="inner">
                                    <span class="tit">지난달 요금 보기</span>
                                </span>
                        </a>
                    </li>
                </ul>
            </div>
            <% } %>

            <% if( lines.length > 0) { %>
            <hr class="cont-sp type1" aria-hidden="true"/>

            <div class="cont-box nogaps-btm">
                <h3 class="tit-type6">다른 회선 실시간 이용요금</h3>
                <!-- .cont-box -->
                <ul class="my-line-info" id="fe-line-info">
                </ul>

                <div class="btn-more" style="display: none;" id="fe-bt-more" aria-hidden="true">
                    <button >더 보기<span></span></button>
                </div>

            </div>
            <% } %>
            <!--// .cont-box -->
            <% if(!isPrev) { %>
            <div class="cont-box noborder bgnone">
                <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                <ul class="pg-chk-list02">
                    <li><button class="btn-tip" id="MF_03_tip_01" aria-haspopup="true">실시간 이용요금 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MF_03_tip_02" aria-haspopup="true">요금제 변경 및 일시정지하신 경우<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MF_03_tip_03" aria-haspopup="true">시스템 점검 작업 시<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MF_03_tip_04" aria-haspopup="true">가입비 등 일회성 납부 항목<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MF_03_tip_05" aria-haspopup="true">분리납부 요금 사용내역<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MF_03_tip_06" aria-haspopup="true">신규가입 및 명의변경하신 경우<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MF_03_tip_07" aria-haspopup="true">타 유/무선 통신사 제공서비스 경우<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                    <li><button class="btn-tip" id="MF_03_tip_08" aria-haspopup="true">해외로밍 시 이용요금 조회<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                </ul>
            </div>
            <% } %>

        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>

<!--// #skip_navigation -->
<script>
  $(document).ready(function () {
    new Tw.MyTFareHotBill($('#fe-myt-fare-hotbill'), <%- JSON.stringify({ lines }) %>);
  });
</script>
<% include ../../components/end.component.html %>
