<%#
* @file common.logout.expire.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.07.03
* CO_01_03_02
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- body -->
<body class="bg-white hidden">
<div id="commonLogoutExpire" class="wrap">
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">

        </div>
    </div>
    <!--// #contents -->
    <!-- .popup hbs -->
    <div class="popup-page tw-popup sign-page">
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <h3 class="complete-title pt60">
                    <img src="<%= CDN %>/img/ico/ico-login-fail.png" alt=""/>
                    <span><strong>자동으로 로그아웃</strong><br />되었습니다.</span>
                </h3>
                <p class="complete-error-tx pt32">
                    <span class="tx2">재로그인을 해주시기 바랍니다.</span>
                </p>
                <div class="complete-btn-box pt40">
                    <ul class="bt-slice">
                        <li class="bt-white2">
                            <a class="fe-replace-history" href="/main/home">홈으로</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-bt-replace-login">로그인 하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <!--// .popup hbs -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CommonMemberLogoutExpire();
    new Tw.TidLandingComponent($('#commonLogoutExpire'), '<%= target %>');
  });
</script>
<% include ../../components/end.component.html %>