<%#
* FileName: common.logout.complete.html
* Author: Ara Jo (araara.jo@sk.com)
* Date: 2018.07.03
* CO_01_03_01
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- body -->
<body class="bg-white hidden">
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <div class="container">

        </div>
    </div>
    <!--// #contents -->
    <!-- .popup hbs -->
    <div class="popup-page tw-popup sign-page">
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <h3 class="complete-title pt60">
                    <img src="<%= CDN %>/img/ico/icon-check01.png" alt=""/>
                    <span><strong>안전하게 로그아웃</strong><br />되었습니다.</span>
                </h3>
                <p class="complete-error-tx pt32">
                    <span class="tx2">T world 이용에 감사 드립니다.</span>
                    <span class="tx2 block pt20">항상 더 좋은 서비스로 여러분에게 보답하는<br />T world가 되도록 노력하겠습니다.</span>
                </p>
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <a class="fe-replace-history" href="/main/home">홈으로</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
    </div>
    <!--// .popup hbs -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CommonMemberLogoutComplete();
  });
</script>
<% include ../../components/end.component.html %>