<%#
* @file common.line.edit.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.10.01
* CO_01_05_02_04
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="commonLineEdit" class="wrap">
    <!-- #header -->
    <%- include('../../../../common/views/components/header.component.html', { title: '회선관리', svcInfo: svcInfo, line: false }) %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">
            <div class="ti-caption-gray bgnone">
                <span class="num"><button type="button" class="tod-icon tod-icon-save01 mr2 fe-bt-complete"><span>저장</span></button></span><!-- 회선관리_순서변경 -->
            </div>
            <!-- .cont-box -->
            <div class="cont-box bgnone pt0 pb60 mb60 noborder tod-widget-wrap">
                    <% 
                    if (lineList.m && lineList.m.length > 0) { 
                        const tmpList = lineList.m;
                        const tmpCnt = lineList.mCnt;
                        const tmpTitle = lineList.mTitle;
                        const tmpCategory = 'm';
                %>
                <% include ../../components/common.member.line.edit.component.html %>
                <% } %>
                <% 
                    if (lineList.s && lineList.s.length > 0) { 
                        const tmpList = lineList.s;
                        const tmpCnt = lineList.sCnt;
                        const tmpTitle = lineList.sTitle;
                        const tmpCategory = 's';
                %>
                <% include ../../components/common.member.line.edit.component.html %>
                <% } %>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <!-- footer -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
    <!-- // footer -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<script id="fe-line-exposable-tmpl" type="text/x-handlebars-template">
    {{#each list}}
    <li class="ui-state-default fe-item fe-item-inactive" data-svcmgmtnum="{{ svcMgmtNum }}" data-showname="{{ showName }}" data-svcnum="{{ svcNum }}">
        <div class="state-box">
            <p class="ti">{{ showName }}</p>
            <span class="ph">{{ showDetail }}</span>
        </div>
        <div class="bt-active">
            <button class="fe-bt-add" type="button">추가</button>
        </div>
        <span class="ico-move" aria-hidden="true"><span class="blind">목록 이동</span><span class="ico"></span></span><!-- 접근성 수정 -->
        <div class="state-bt">
            <button class="bt-sort up"><span class="blind">해당 회선 위로</span></button>
            <button class="bt-sort down"><span class="blind">해당 회선 아래로</span></button>
        </div>
    </li>
    {{/each}}
</script>
<script>
  $(document).ready(function () {
    new Tw.CommonMemberLineEdit($('#commonLineEdit'));
  });
</script>
<% include ../../components/end.component.html %>