<%#
* FileName: common.login.easy-aos.html
* Author: Ara Jo (araara.jo@sk.com)
* Date: 2018.07.25
* CO_ME_01_02_06_01
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup fixed-bottom h60"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <div class="header-wrap noborder"> <!-- 타이틀 없을 경우 -->
        </div>
        <!--// #header -->

        <!-- .container-wrap -->
        <div id="commonLoginEasyAos" class="container-wrap">
            <div class="container">

                <!-- .cont-box -->
                <div class="cont-box noborder">
                    <div class="pg-member">
                        <div class="logo-t"><span class="blind">T</span></div>
                        <h3 class="member-tit pt24">간편 로그인</h3>
                        <p class="complete-error-tx pt12">
                            <span class="tx666">본인확인 후 간편하게 요금, 잔여량 조회 <br />서비스를 이용하실 수 있습니다.</span>
                        </p>
                        <div class="easy-login-form mt48">
                            <dl class="mb24">
                                <dt>휴대폰 번호</dt>
                                <% if(mdn) { %>
                                <dd class="fe-mdn" data-mdn="<%= mdn.original %>"><%= mdn.show %></dd>
                                <% } else { %>
                                <dd class="fe-mdn"></dd>
                                <% } %>
                            </dl>
                            <span id="fe-inputbox" class="inputbox"> <!-- 입력 필드 오류 시 .error 추가 -->
                                <span class="input">
                                    <input id="fe-input-birth" type="number" placeholder="생년월일/외국인 등록번호 6자리" title="생년월일/외국인 등록번호 6자리 입력" value="" maxlength="6">
                                    <!-- 오류메세지 추가시 aria-describedby 속성 추가 aria-describedby="aria-id-num" -->
                                    <button id="fe-bt-delete" class="cancel" style="display: none;" aria-hidden="true"><span class="blind">삭제</span></button>
                                </span>
                                <span class="tx-box">
                                    <span id="aria-id-num" class="error-txt none fe-error">명의자 정보와 일치하지 않습니다.</span><!-- 입력 필드 오류 시 추가, 나타내지 않을때는 .none 추가 -->
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- //.cont-box -->
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="fe-easy-login" disabled>간편 로그인</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->


        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-common-back"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <!--// .popup hbs -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CommonMemberSloginAos($('#commonLoginEasyAos'), '<%= mdn !== null %>', '<%= target %>');
  });
</script>
<% include ../../components/end.component.html %>