<%#
 * FileName: common.member.login.cust-pwdfail.html
 * Author: Jayoon Kong (jayoon.kong@sk.com)
 * Date: 2018.12.04
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap">
        <!-- #header -->
        <div id="header" class="header-wrap"></div>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <div class="container">
            </div>
        </div>
        <!--// #contents -->
        <!-- .popup hbs -->
        <div class="popup-page tw-popup fixed-bottom"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
            <!-- .container-wrap -->
            <div class="container-wrap">
                <div class="container">
                    <div class="complete-wrap">
                        <div class="title-box">
                            <i class="icon-warning-120"><span class="blind">warning</span></i>
                            <p class="tx-tit">
                                <span class="tx-highlight">고객번호 비밀번호를<br />
                                    <span class="tx-red1">5회 이상 잘못 입력</span>하셨습니다.
                                </span>
                            </p>
                        </div>
                        <div class="tx-contents">
                            <p class="basic-txt">SK텔레콤 지점에 직접 방문하여 초기화 후<br />이용해 주시기 바랍니다.</p>

                            <ul class="bt-slice item-one">
                                <li><a href="/customer/agentsearch" class="btn-round2 btn-style3">지점∙대리점 찾기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li><a href="/main/home" type="button" class="btn-floating btn-style2">확인</a></li>
                </ul>
            </div>
            <!--// .container-wrap -->
            <!-- .popup-closeBtn -->
            <!-- <button class="popup-closeBtn"><span class="blind">팝업 페이지 닫기</span></button> -->
            <!--// .popup-closeBtn -->
        </div>
        <!--// .popup hbs -->
    </div>
</body>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>