<%#
 * @file common.member.tid-pwd.html
 * @author Jayoon Kong (jayoon.kong@sk.com)
 * @since 2019.1.4
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div id="commonLoginFind" class="wrap">
        <!-- #header -->
        <%- include('../../../../../common/views/components/header.component.html', { title: '아이디 찾기/비밀번호 재설정', svcInfo: svcInfo }); %>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->
                <div class="cont-box nogaps noborder">
                    <ul class="link-long-list">
                        <li>
                            <div class="link-long">
                                <button class="fe-bt-find-id">아이디 찾기
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="link-long">
                                <button class="fe-bt-find-pw">비밀번호 재설정
                                    <span class="tx-sub">
                                        <span class="ico"></span>
                                    </span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- //.cont-box -->
                <p class="extra-txt ml16">* 기본정보 입력 후 본인확인 절차를 거치시면 아이디 찾기,<br />비밀번호 재설정을 하실 수 있습니다.</p>
            </div>
        </div>
        <!--// #contents -->
        <footer id="fe-all-menu">
            <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.TidLandingComponent($('#commonLoginFind'));
  });
</script>
<% include ../../components/end.component.html %>
