<% include ../../components/start.component.html %>

<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<div class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>팅요금 선물 내역</h1>
                <button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>
            </div>
            <button class="prev-step common-back"><span class="blind">이전으로</span></button>
            <button class="search-content"><span class="blind">검색하기</span></button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box">
                <button class="bt-dropdown big" title="회선 선택" aria-haspopup="true"><%= svcInfo.svcNum %><span class="ico"></span></button>
            </div>
            <!--// .cont-box -->
            <hr class="cont-sp type1">
            <!-- .cont-box -->
            <div class="cont-box nogaps">
                <!-- .component -->
                <div class="component">
                    <div class="component-box tabs">
                        <div class="tab-area type1"><!-- 타입별 탭형태 변환 -->
                            <div class="tab-linker">
                                <ul role="tablist">
                                    <li role="tab" aria-selected="true" aria-controls="aria-tab1-tab" id="aria-tab1">
                                        <button>선물내역</button>
                                    </li><!-- true 열림 -->
                                    <li role="tab" aria-selected="false" aria-controls="aria-tab2-tab" id="aria-tab2">
                                        <button>선물 차단 내역</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-contents">
                                <ul>
                                    <li role="tabpanel" id="aria-tab1-tab" aria-labelledby="aria-tab1" aria-selected="true">
                                        <div class="inner">
                                            <div class="contents-info-list">
                                                <p class="ti-desc"><strong><span class="num">0</span>개</strong> 선물 내역이 있습니다.</p>
                                                <div class="list-top">
                                                    <!-- .widget -->
                                                    <div class="inline">
                                                        <button class="bt-dropdown small" title="셀렉트 선택">전체 · 3개월<span class="ico"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!--// .widget -->
                                                <ul id="wrap_gift_history" class="gift-history">
                                                </ul>
                                            </div>
                                        </div>
                                        <button class="gift-bt-more">더보기(<span class="num">20</span>)</button>
                                    </li>
                                    <li role="tabpanel" id="aria-tab2-tab" aria-labelledby="aria-tab2" aria-selected="false">
                                        <div class="inner">
                                            <div class="contents-info-list">
                                                <p class="ti-desc"><strong><span class="num">0</span>개</strong> 선물 차단 내역이 있습니다.</p>
                                                <div class="list-top">
                                                    <div class="inline">
                                                        <button class="bt-dropdown small" title="셀렉트 선택">전체 · 3개월<span class="ico"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <!--// .widget -->
                                                <ul id="wrap_gift_block_history" class="gift-history">
                                                </ul>
                                            </div>
                                        </div>
                                        <button class="gift-bt-more">더보기(<span class="num">20</span>)</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <% include ../../../../../common/views/components/footer.component.html %>
</div>

<script id="tpl_ting_item_history" type="text/x-handlebars-template">
    {{#list}}
    <li>
        {{#ifCond opClCd '===' '1'}}
        <div class="info-change">
            <span class="arrow-receive" role="img" aria-label="받음"><span class="blind">받음</span></span>
        </div>
        {{/ifCond}}
        {{#ifCond opClCd '===' '2'}}
        <div class="info-change">
            <span class="arrow-send" role="img" aria-label="보냄"><span class="blind">보냄</span></span>
        </div>
        {{/ifCond}}
        <div class="info-user">
            <span class="info-title">{{custNm}}</span>
            <span class="info-sub">{{svcNum}}</span>
            <span class="info-date">{{opDt}}</span>
        </div>
        <div class="info-data">
            <span class="info-title">{{amt}} 원</span>
            <span class="info-sub">{{opClNm}}</span>
        </div>
    </li>
    {{/list}}
</script>

<script id="tpl_ting_item_block_history" type="text/x-handlebars-template">
    {{#list}}
    <li>
        <div class="info-user">
            <span class="info-title">{{custNm}}</span>
            <span class="info-sub">{{svcNum}}</span>
            <span class="info-date">{{opDt}}</span>
        </div>
        <div class="info-data">
            <span class="info-title">{{opClNm}}</span>
            <span class="info-sub">{{opOrgNm}}</span>
        </div>
    </li>
    {{/list}}
</script>

<script id="tpl_ting_item_no_history" type="text/x-handlebars-template">
    <div class="cont-box nogaps-hoz">
        <!-- .contents-empty -->
        <div class="contents-empty">
            <span class="ico"></span>
            <p class="desc">{{content}}</p>
        </div>
        <!--// .contents-empty -->
    </div>
</script>

<% include ../../components/javascript.component.html %>

<script>
  $(document).ready(function () {
    var oRechargeTingHistoryComponent = new Tw.RechargeTingHistory($(document));
  });
</script>

<% include ../../components/end.component.html %>