<!--
* FileName: bill-letter-sms.component.html
* Author: 이정민 (skt.p130713@partner.sk.com)
* Date: 2018.07.05
-->
<div class="change-plan">
    <h3 class="tit-type spc2">요금안내서 정보설정</h3>
    <dl>
        <dt>Bill Letter 조회 시, 보안설정하시겠습니까?</dt>
        <dd>
            <!-- .widget -->
            <div class="widget">
                <div class="widget-box tube">
                    <ul class="tube-list two" role="radiogroup">
                        <% if (selectedBillGuide.scurBillYn === 'N') { %>
                        <li role="radio" aria-checked="true" class="checked"><input type="radio" name="infoset" title="설정없이 조회 선택">설정없이 조회</li>
                        <li role="radio" aria-checked="false"><input type="radio" name="infoset" title="생년월일 입력 후, 조회 선택">생년월일 입력 후, 조회</li>
                        <% } else {%>
                        <li role="radio" aria-checked="false"><input type="radio" name="infoset" title="설정없이 조회 선택">설정없이 조회</li>
                        <li role="radio" aria-checked="true" class="checked"><input type="radio" name="infoset" title="생년월일 입력 후, 조회 선택">생년월일 입력 후, 조회</li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <!-- //.widget -->
            <div class="contents-notice type1">
                <span class="noti-type3">생년월일 입력 후 조회하시면 Bill Letter의 보안을 강화할 수 있습니다. </span>
            </div>
        </dd>
    </dl>
</div>
<div class="inner">
    <div class="contents-btn">
        <ul class="bt-slice">
            <li class="bt-blue1">
                <% if (isUpdate) { %>
                <button class="btn-update">요금안내서 정보변경하기</button>
                <% } else { %>
                <button class="btn-change">&quot;Bill Letter+문자&quot;로 변경하기</button>
                <% } %>
            </li>
        </ul>
    </div>
</div>