<!--
* FileName: email-change-complete.component.html
* Author: 이정민 (skt.p130713@partner.sk.com)
* Date: 2018.07.13
-->
<div class="cont-box">
    <!-- .widget -->
    <div class="widget">
        <div class="widget-box accordion">
            <h5 class="tit-a">이용안내</h5>
            <div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
                <!--<div class="bt-whole"><button role="button" aria-pressed="false"><span class="blind">내용 열기</span></button></div>-->
                <div class="acco-style btn-hold"> <!-- 2018-07-11 수정 -->
                    <ul class="acco-list">
                        <li class="acco-box">
                            <!-- .on: 열기 -->
                            <div class="acco-tit"><span class="bullet">1.</span> 이메일 요금안내서 <button role="button" aria-pressed="false">상세보기</button></div><!-- 2018-07-11 수정 -->
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">이메일 요금안내서는 휴대폰 요금안내서를 <strong>고객님의 이메일로 받아 볼 수 있는 편리한 서비스</strong> 입니다.</li>
                                    <li class="list">이메일 요금안내서는 <strong>납부방법에 상관없이 신청 가능</strong>하며, 지로납부를 이용하시는 경우 <strong>이메일 요금안내서가 발송</strong>되오니, 이메일 요금안내서에 기재된 지로번호와 전자납부번호를 이용하여 납부해 주시기 바랍니다.

                                    </li>
                                    <li class="list">"문자 요금안내서+이메일 요금안내서" 유형을 신청하시면 청구 상세내역을 이메일로 함께 받아보실 수 있으며, 기타(우편) 요금안내서는 발행되지 않습니다.
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <!-- .on: 열기 -->
                            <div class="acco-tit"><span class="bullet">2.</span> 요금안내서 발송 <button role="button" aria-pressed="false">상세보기</button></div><!-- 2018-07-11 수정 -->
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list"><strong>매월 5일까지</strong> 신청 시 <strong>당월부터 변경된 요금안내서가 발송</strong> 되며, <strong>6일 이후</strong> 신청 시에는 <strong>다음달부터 변경된 요금안내서를 발송</strong>해 드립니다.</li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <!-- .on: 열기 -->
                            <div class="acco-tit"><span class="bullet">3.</span> 다회선 청구 <button role="button" aria-pressed="false">상세보기</button></div><!-- 2018-07-11 수정 -->
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">여러 개의 회선에 대해 통합요금안내서를 받으시는 경우 통합청구 대표번호로만 신청이 가능하며 전체 금액이 합산되어 발송됩니다.
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <!-- .on: 열기 -->
                            <div class="acco-tit"><span class="bullet">4.</span> 콘텐츠 이용료 상세내역 <button role="button" aria-pressed="false">상세보기</button></div><!-- 2018-07-11 수정 -->
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">‘콘텐츠이용료 청구 상세내역’은 <strong>보안 이메일 여부가 "예"</strong>인 경우에만 신청하실 수 있습니다.</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// .widget -->
</div>