<!--
* FileName: myt.bill.hotbill.info.component.html
* Author: Hyeryoun Lee (skt.P130712@partner.sk.com)
* Date: 2018.07.08
-->
<div class="cont-box">
    <!-- .widget -->
    <div class="widget">
        <div class="widget-box accordion">
            <h5 class="tit-a">꼭 확인해 주세요</h5>
            <div class="acco-cover on"><!-- toggle : 한개만 열기 -->
                <div class="acco-style btn-hold">
                    <ul class="acco-list">
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">1.</span> 당월 1일 부터 현재까지의 이동전화 요금 확인 가능 <!--<button role="button" aria-pressed="false">상세보기</button>--></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">
                                        <strong>요금제 변경 및 일시정지 하신 경우</strong>
                                        <ul class="inner-group type4">
                                            <li class="inner-list"><span class="bullet">-</span><strong>기본제공 음성/문자/데이터 혜택은 일할 계산되며,  초과 이용 시 초과 사용 내역에 대해 별도 요금 청구</strong></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="acco-cover toggle"><!-- toggle : 한개만 열기 -->
                <div class="acco-style btn-hold">
                    <ul class="acco-list">
                        <li class="acco-box">
                            <!-- .on: 열기 -->
                            <div class="acco-tit"><span class="bullet">2.</span> 실제 요금안내서와 다를 수 있으므로 단순 참고용으로 활용 부탁드립니다. <button role="button" aria-pressed="false">상세보기</button></div>
                            <div class="acco-cont">
                                <ul class="inner-group type1">
                                    <!-- 2018-07-06 수정-->
                                    <li class="inner-list"><span class="bullet">예)</span>'NATE 카드상품권'의 경우 '데이터 정보료'로 조회되나 월말 기준으로 공제되어 실제 청구되지 않음</li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">3.</span> 시스템 점검 작업 시 서비스 이용 불가 <button role="button" aria-pressed="false"></button></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">매월 5일에는 당월 사용요금 점검작업으로 서비스 이용 불가 (21시-익일 08시 까지)
                                    </li>
                                    <li class="list">전월 요금은 매월 7일까지 ‘전월요금 조회’에서 확인 가능
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">4.</span> 가입비 등 일회성 납부 항목의 경우 <button role="button" aria-pressed="false"></button></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">일회성 납부 항목의 경우 매월 7일까지 전월과 당월에 중복 조회되나 실제 중복 청구 되지 않음<br />예) 가입비, 단말기 할부, USIM, 가산금, 자동납부 할인, 미납요금 등</li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">5.</span> 분리납부 요금 사용 내역 <button role="button" aria-pressed="false"></button></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">고객이 분리납부 요청한 금액과 분리납부 대상이 추가적으로 납부할 금액을 합산 후 제공하여 0원으로 표기</li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">6.</span> 신규가입 및 명의변경 하신 경우 <button role="button" aria-pressed="false"></button></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">가입일(변경일) 히우부터 실시간 요금 확인 가능</li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">7.</span> 타 유/무선 통신사 제공서비스 경우 <button role="button" aria-pressed="false"></button></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">과금 방식 변경으로 금액에 다소 차이가 있을 수 있음<br />예) KT 114
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="acco-box">
                            <div class="acco-tit"><span class="bullet">8.</span> 해외로밍 시 사용한 요금 조회 <button role="button" aria-pressed="false"></button></div>
                            <div class="acco-cont">
                                <ul class="list-dot">
                                    <li class="list">실시간 확인 불가하며, 다음달 8일 부터 ‘사용요금’에서 확인 가능
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--// .widget -->
</div>