<%#
* FileName: myt.bill.billguide.combineRepresentPage.html
* Author: 김명환 (skt.P130714@partner.sk.com)
* Date: 2018.07.14
* Info: 사용요금이 없을때
%>
<div class="cont-box  nogaps-btm noborder">
    <button class="bt-dropdown big" title="월별 요금안내서 선택" aria-haspopup="true" data-target="totPaySelectBtn"><%=commDataInfo.selClaimDtBtn %><span class="ico"></span></button><!-- 2018-07-12 접근성 수정 -->
    <!-- .contents-empty -->
    <div class="contents-empty contents-empty-pd80">
        <span class="ico"></span>
        <p class="desc">사용하신 요금이 없습니다. </p>
    </div>
    <!--// .contents-empty -->
</div>