<%#
* FileName: myt.bill.billguide.subDetailSpecification.html
* Author: 김명환 (skt.P130714@partner.sk.com)
* Date: 2018.07.16
* Info: 통합청구 대표 > 상세요금 내역
%>

<div id="dtailSpecification" >
    <!-- #header -->
    <div class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>상세요금내역</h1><!-- 2017-07-06 텍스트 수정 -->
                <!--<button class="depth-view" role="button" aria-pressed="false"><span class="blind">메뉴구조보기</span></button>-->
            </div>
            <button class="prev-step"><span class="blind">이전으로</span></button>
            <!--<button class="search-content"><span class="blind">검색하기</span></button>-->
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">

            <div class="cont-box">
                <div class="payment-info family">
                    <p class="tit"><span class="num">2018</span>년 <span class="num">5</span>월 청구된<br /><span class="num"><strong>250,000</strong></span>원의 상세내역입니다.</p>
                </div>
            </div>

            <hr class="cont-sp type1" aria-hidden="true" />
            <div class="cont-box noborder nogaps-btm">
                <button class="bt-dropdown big" title="서비스 선택">서비스 전체<span class="ico"></span></button><!-- 2017-07-06 텍스트 수정 -->
            </div>

            <div class="cont-box nogaps noborder">
                <!-- 휴대폰 -->
                <div class="payment-summary-wrap">
                    <h3 class="tit">휴대폰/SKT</h3>
                    <div class="payment-summary">
							<span class="type">
								<span class="blind">사용중인 요금제 </span>
								<a class="bt-link-tx" href="">Band 데이터 6.5G<span class="ico"></span></a>
							</span>
                        <span class="total">
								<span class="blind">해당 회선의 청구요금 합계 </span>
								<strong class="num">321,450 </strong>원
							</span>
                    </div>
                </div>
                <!-- .accordion -->
                <div class="widget">
                    <div class="widget-box accordion2">
                        <div class="acco-style payment-list">
                            <ul class="acco-box">
                                <!-- 아코디언 한줄 -->
                                <li class="acco-list"><!-- on , off -->
                                    <!-- 아코디언 타이틀 -->
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">통신서비스요금</span>
                                                    <span class="pt-price"><span class="num">12,550</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <!--// 아코디언 타이틀 -->
                                    <!-- 아코디언 내용 -->
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <!-- depth-1 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">월정액</dt>
                                                    <dd class="pdt-price"><span class="num">24,480</span>원</dd>
                                                </dl>
                                            </li>
                                            <!--// depth-1 -->
                                            <!-- depth-2 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">국내통화료</dt>
                                                    <dd class="pdt-price"><span class="num">20</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">음성통화료</dt>
                                                            <dd class="pdt-price"><span class="num">0</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--// depth-2 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">데이터통화료</dt>
                                                    <dd class="pdt-price"><span class="num">24,480</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">요금할인</dt>
                                                    <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd><!-- 할인 항목 숫자에 discount 클래스 추가 -->
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">온가족+B인터넷할인</dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">oksusu_쿠폰할인</dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">oksusu_요금할인</dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-01">부가가치세(세금)<span class="ico-foot-2"></span></dt><!-- 주석 달린 텍스트 aria-labelledby, role 속성 추가 -->
                                                    <dd class="pdt-price"><span class="num">1,760</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-02">부가세총액<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">3,760</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-02">할인부가세<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price discount"><span class="num">-13,760</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="footnote-01"><span class="ico-foot-2"></span>부가가치세 제외 대상 표시</li><!-- 상단 텍스트 aria-labelledby 와 id 속성값을 동일하게 처리해야 함 -->
                                                <li id="footnote-02"><span class="badge badge-other"><span class="blind">타사</span></span>당사에서 청구 대행하는 타사 요금</li><!-- 2018-07-11 아이콘 변경 -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!--// 아코디언 내용 -->
                                </li>
                                <!--// 아코디언 한줄 -->
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">부가사용금액</span>
                                                    <span class="pt-price"><span class="num">11,399</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">부가서비스이용료</dt>
                                                    <dd class="pdt-price"><span class="num">1,499</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">착신전환서비스</dt>
                                                            <dd class="pdt-price"><span class="num">532</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">oksusu_기본월정액</dt>
                                                            <dd class="pdt-price"><span class="num">532</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-03">콘텐츠이용료<span class="badge badge-other"><span class="blind">타사</span></span></dt><!-- 2018-07-11 아이콘 변경 -->
                                                    <dd class="pdt-price"><span class="num">1,760</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-04">티스토어콘텐츠<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">9,900</span>원</dd>
                                                        </dl>
                                                        <div class="btn-wrap"><a class="bt-link-tx" href="">자세히 보기 (본인인증 필요)<span class="ico"></span></a></div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-03">소액결제<span class="badge badge-other"><span class="blind">타사</span></span></dt><!-- 2018-07-11 아이콘 변경 -->
                                                    <dd class="pdt-price"><span class="num">1,760</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-04">소액결제다날<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">9,900</span>원</dd>
                                                        </dl>
                                                        <div class="btn-wrap"><a class="bt-link-tx" href="">자세히 보기 (본인인증 필요)<span class="ico"></span></a></div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="footnote-03"><span class="ico-foot-2"></span>부가가치세 제외 대상 표시</li>
                                                <li id="footnote-04"><span class="badge badge-other"><span class="blind">타사</span></span>당사에서 청구 대행하는 타사 요금</li><!-- 2018-07-11 아이콘 변경 -->
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">단말기할부금</span>
                                                    <span class="pt-price"><span class="num">14,610</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-05">단말기할부금<span class="badge badge-other"><span class="blind">타사</span></span></dt><!-- 2018-07-11 아이콘 변경 -->
                                                    <dd class="pdt-price"><span class="num">14,610</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-06">단말기할부원금<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">14,050</span>원</dd>
                                                        </dl>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit" role="note" aria-labelledby="footnote-06">단말기할부이자<span class="ico-foot-2"></span></dt>
                                                            <dd class="pdt-price"><span class="num">532</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="footnote-05"><span class="ico-foot-2"></span>부가가치세 제외 대상 표시</li>
                                                <li id="footnote-06"><span class="badge badge-other"><span class="blind">타사</span></span>당사에서 청구 대행하는 타사 요금</li><!-- 2018-07-11 아이콘 변경 -->
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">기타요금</span>
                                                    <span class="pt-price"><span class="num">80,000</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-07">미리납부하신금액<span class="ico-foot-2"></span></dt>
                                                    <dd class="pdt-price discount"><span class="num">-2,570</span>원</dd>
                                                </dl>
                                            </li>
                                            <!-- <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="footnote-08">미리납부하신금액<span class="ico-foot-2"></span></dt>
                                                    <dd class="pdt-price discount"><span class="num">-2,570</span>원</dd>
                                                </dl>
                                            </li> -->
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="footnote-07"><span class="ico-foot-2"></span>부가가치세 제외 대상 표시</li>
                                                <li id="footnote-08"><span class="badge badge-other"><span class="blind">타사</span></span>당사에서 청구 대행하는 타사 요금</li><!-- 2018-07-11 아이콘 변경 -->
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// .accordion -->
                <!--// 휴대폰- ->

                <!-- 인터넷/SKT -->
                <div class="payment-summary-wrap">
                    <h3 class="tit">인터넷/SKT</h3>
                    <div class="payment-summary">
							<span class="type">
								<span class="blind">사용중인상품명</span>
								<a class="bt-link-tx" href="">사용중인상품명<span class="ico"></span></a>
							</span>
                        <span class="total">
								<span class="blind">해당 회선의 청구요금 합계 </span>
								<strong class="num">321,450 </strong>원
							</span>
                    </div>
                </div>
                <!-- .accordion -->
                <div class="widget">
                    <div class="widget-box accordion2">
                        <div class="acco-style payment-list">
                            <ul class="acco-box">
                                <!-- 아코디언 한줄 -->
                                <li class="acco-list"><!-- on , off -->
                                    <!-- 아코디언 타이틀 -->
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">사용요금</span>
                                                    <span class="pt-price"><span class="num">12,550</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <!--// 아코디언 타이틀 -->
                                    <!-- 아코디언 내용 -->
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <!-- depth-1 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">기본료</dt>
                                                    <dd class="pdt-price"><span class="num">12,550</span>원</dd>
                                                </dl>
                                            </li>
                                            <!--// depth-1 -->
                                        </ul>
                                    </div>
                                    <!--// 아코디언 내용 -->
                                </li>
                                <!--// 아코디언 한줄 -->
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">요금할인</span>
                                                    <span class="pt-price discount"><span class="num">- 11,399</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">약정할인</dt>
                                                    <dd class="pdt-price discount"><span class="num">-1,499</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">TB끼리온가족무료</dt>
                                                    <dd class="pdt-price discount"><span class="num">-1,760</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">프로모션할인</dt>
                                                    <dd class="pdt-price discount"><span class="num">-1,760</span>원</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">부가가치세(세금)</span>
                                                    <span class="pt-price"><span class="num">14,610</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">부가세(T)</dt>
                                                    <dd class="pdt-price"><span class="num">14,610</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="aria-footnote-01">할인부가세(T) <span class="ico-foot-2"></span></dt>
                                                    <dd class="pdt-price discount"><span class="num">-14,610</span>원</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="aria-footnote-01"><span class="ico-foot-2"></span>부가가치세 제외 대상 표시</li><!-- 상단 텍스트 aria-labelledby 와 id 속성값을 동일하게 처리해야 함 -->
                                                <li><span class="badge badge-other"><span class="blind">타사</span></span>당사에서 청구 대행하는 타사 요금</li><!-- 2018-07-11 아이콘 변경 -->
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// .accordion -->
                <!--// 인터넷/SKT -->

                <!-- IPTV/SKB -->
                <div class="payment-summary-wrap">
                    <h3 class="tit">IPTV/SKB</h3>
                    <div class="payment-summary">
							<span class="type">
								<span class="blind">사용중인상품명</span>
								<a class="bt-link-tx" href="">사용중인상품명<span class="ico"></span></a>
							</span>
                        <span class="total">
								<span class="blind">해당 회선의 청구요금 합계 </span>
								<strong class="num">321,450 </strong>원
							</span>
                    </div>
                </div>
                <!-- .accordion -->
                <div class="widget">
                    <div class="widget-box accordion2">
                        <div class="acco-style payment-list">
                            <ul class="acco-box">
                                <!-- 아코디언 한줄 -->
                                <li class="acco-list"><!-- on , off -->
                                    <!-- 아코디언 타이틀 -->
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">사용요금</span>
                                                    <span class="pt-price"><span class="num">12,550</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <!--// 아코디언 타이틀 -->
                                    <!-- 아코디언 내용 -->
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <!-- depth-1 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">기본료</dt>
                                                    <dd class="pdt-price"><span class="num">12,550</span>원</dd>
                                                </dl>
                                            </li>
                                            <!--// depth-1 -->
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">장비임대료</dt>
                                                    <dd class="pdt-price"><span class="num">12,550</span>원</dd>
                                                </dl>
                                                <ul class="payment-detail-depth2">
                                                    <li>
                                                        <dl class="pdt-wrap">
                                                            <dt class="pdt-tit">셋톱박스임대료</dt>
                                                            <dd class="pdt-price"><span class="num">8,000</span>원</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--// 아코디언 내용 -->
                                </li>
                                <!--// 아코디언 한줄 -->
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">요금할인</span>
                                                    <span class="pt-price discount"><span class="num">- 11,399</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">약정할인</dt>
                                                    <dd class="pdt-price discount"><span class="num">-1,499</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">결합할인</dt>
                                                    <dd class="pdt-price discount"><span class="num">-1,760</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit">프로모션할인</dt>
                                                    <dd class="pdt-price discount"><span class="num">-1,760</span>원</dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="aria-footnote-02">원단위조정금액<span class="ico-foot-2"></span></dt>
                                                    <dd class="pdt-price discount"><span class="num">-14,610</span>원</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="aria-footnote-02"><span class="ico-foot-2"></span>부가가치세 제외 대상 표시</li><!-- 상단 텍스트 aria-labelledby 와 id 속성값을 동일하게 처리해야 함 -->
                                                <li><span class="badge badge-other"><span class="blind">타사</span></span>당사에서 청구 대행하는 타사 요금</li><!-- 2018-07-11 아이콘 변경 -->
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="acco-list">
                                    <div class="acco-title">
                                        <button role="button" aria-pressed="false">
                                                <span class="pt-tit-wrap">
                                                    <span class="pt-tit">부가가치세(세금)</span>
                                                    <span class="pt-price"><span class="num">14,610</span>원</span>
                                                </span>
                                        </button>
                                    </div>
                                    <div class="acco-content">
                                        <ul class="payment-detail-depth1">
                                            <li>
                                                <dl class="pdt-wrap">
                                                    <dt class="pdt-tit" role="note" aria-labelledby="aria-footnote-03">부가세(B)  <span class="ico-foot-2"></span></dt>
                                                    <dd class="pdt-price discount"><span class="num">-14,610</span>원</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <div class="footnote-txt">
                                            <ul>
                                                <li id="aria-footnote-03"><span class="ico-foot-2"></span>부가가치세 제외 대상 표시</li><!-- 상단 텍스트 aria-labelledby 와 id 속성값을 동일하게 처리해야 함 -->
                                                <li><span class="badge badge-other"><span class="blind">타사</span></span>당사에서 청구 대행하는 타사 요금</li><!-- 2018-07-11 아이콘 변경 -->
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// .accordion -->
                <!--// IPTV/SKB -->
                <div class="bt-full-wrap pd-ver">
                    <div class="bt-full-more">
                        <button>더보기<span>(20)</span></button>
                    </div>
                </div>
            </div>
            <!--// .cont-box-->
        </div>
    </div>
    <!--// #contents -->
</div>
