<%#
* FileName: myt-fare.bill.hotbill.billgroup
* Author: Hyeryoun Lee (skt.P130712@partner.sk.com)
* Date: 2018. 10. 2.
%>
<script id="tmplBillGroup" type="text/x-handlebars-template">
    <div class="widget">
        <div class="widget-box accordion">
            <div class="acco-cover"><!-- toggle : 한개만 열기 -->
                <div class="acco-style">
                    <ul class="acco-list pt0">
                        {{#each billItems}}
                        <li class="acco-box">
                            <div class="acco-tit">
                                <button role="button" aria-pressed="false">
                                    <div class="in-title">
                                        <span class="tit">{{@key}}</span>
                                        <span class="tx-cont type2">{{this.total}}원</span>
                                    </div>
                                </button>
                            </div>
                            <div class="acco-cont">
                                <div class="in-cont">
                                    <div class="basic-list">
                                        <ul>
                                            {{#each this}}
                                            {{#isBill @key}}
                                            <li>
                                                <div class="inner-top">
                                                    {{#if noVAT}}
                                                    <span class="title" role="note" aria-labelledby="aria-footnote-05">{{@key}}
                                                        <i class="icon-fnote"><span class="blind">각주 참고</span></i></span>
                                                    {{else}}
                                                    {{#if is3rdParty}}
                                                    <span class="title" role="note" aria-labelledby="aria-footnote-06">{{@key}}
                                                        <i class="icon-acompany"><span class="blind">타사</span></i>
                                                    </span>
                                                    {{else}}
                                                    <span class="title">{{@key}}</span>
                                                    {{/if}}
                                                    {{/if}}
                                                    {{#if discount}}
                                                    <span class="tx-cont txt-point tx-bold">{{this.total}} 원</span>
                                                    {{else}}
                                                    <span class="tx-cont">{{this.total}}원</span>
                                                    {{/if}}
                                                </div>
                                                {{#if items.length}}
                                                <div class="inner-row">
                                                    <ul>
                                                        {{#items}}
                                                        <li>
                                                            {{#if noVAT}}
                                                            <span class="title" role="note" aria-labelledby="aria-footnote-05">{{name}}
                                                                 <i class="icon-fnote"><span class="blind">각주 참고</span></i>
                                                            </span>
                                                            {{else}}
                                                            {{#if is3rdParty}}
                                                            <span class="title" role="note" aria-labelledby="aria-footnote-06">{{name}}
                                                                 <i class="icon-acompany"><span class="blind">타사</span></i>
                                                            </span>
                                                            {{else}}
                                                            <span class="title">{{name}}</span>
                                                            {{/if}}
                                                            {{/if}}
                                                            <span class="tx-cont">{{amount}}원</span>
                                                        </li>
                                                        {{/items}}
                                                    </ul>
                                                </div>
                                            </li>
                                            {{/if}}
                                            {{/isBill}}
                                            {{/each}}
                                        </ul>
                                        {{#if showDesc}}
                                        <div class="noti-words">
                                            <span class="inner-words" id="aria-footnote-05">
                                                <i class="icon-fnote ml6"><span class="blind">각주 참고</span></i>부가가치세 제외 대상 표시
                                            </span>
                                            <span class="inner-words" id="aria-footnote-06">
                                                 <i class="icon-acompany"><span class="blind">타사</span></i>당사에서 청구 대행하는 타사 요금
                                            </span>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>