<%#
* FileName: common.share.app-install.info.html
* Author: Jayoon Kong (jayoon.kong@sk.com)
* Date: 2018.11.29
%>

<%- include('../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup fixed-bottom"><!-- .fixed-bottom 하단에 고정된 버튼이 있는 경우 -->
        <!-- #header -->
        <div class="header-wrap">
            <div class="page-header">
                <div class="header-ti">
                    <h1>서비스 사용 안내</h1>
                </div>
            </div>
        </div>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <div class="cont-box bb0">
                    <p class="con-txt1">
                        선택하신 서비스는<br>
                        T world app 또는<br>
                        PC 홈페이지(www.tworld.co.kr)에서<br>
                        이용하실 수 있습니다.
                    </p>
                    <p class="con-txt3 mt6">T world App 바로가기’에서  App 다운로드 가능</p>
                    <div class="app-info-wrap service">
                        <ul>
                            <% if (isAndroid) { %>
                            <li><a><button class="fe-link" data-link="https://play.google.com/store/apps/details?id=Com.sktelecom.minit">
                                <img src="<%= CDN %>/img/common/icon-app-play-store.png" alt="google play store" /></button></a>
                            </li>
                            <li><a><button class="fe-link" data-link="https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=0000032819">
                                <img src="<%= CDN %>/img/common/icon-app-one-store.png" alt="One Store" /></button></a>
                            </li>
                            <% } else { %>
                            <li><button class="fe-link" data-link="https://itunes.apple.com/kr/app/%EB%AA%A8%EB%B0%94%EC%9D%BCtworld/id428872117?mt=8">
                                <img src="<%= CDN %>/img/common/icon-app-ios.png" alt="ios" /></button>
                            </li>
                            <% } %>
                        </ul>
                        <p>Copyright ⓒ SK Telecom</p>
                    </div>

                </div>
            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-tworld">T world App 바로가기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--// .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="popup-closeBtn fe-common-back"><span class="blind">팝업 페이지 닫기</span></button>
        <!--// .popup-closeBtn -->
    </div>
    <!--// .popup hbs -->
</div>
<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.CommonShareAppInstallInfo($('.wrap'));
  });
</script>
<% include ../components/end.component.html %>