<%#
* @file common.share.bridge.html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.11.20
%>

<%- include('../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup"><!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->

        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <div class="service-check-wrap">
                    <h1><img src="<%= CDN %>/img/common/logo-t.png" alt="T world" /></h1>
                    <div class="cont-box noborder">
                        <p class="stit">
                            T world에서 제공되는<br/>다양한 서비스를<br/>App에서 이용해보세요!
                        </p>
                        <div class="brand-benefit-wrap mem-bt">
                            <ul class="benefit-list mem-benefit">
                                <li>잔여기본통화 조회</li>
                                <li>공유/충전/리필하기</li>
                                <li>요금조회/납부</li>
                                <li>멤버십 혜택</li>
                            </ul>
                        </div>
                        <ul class="bt-slice pt26">
                            <li class="bt-red1">
                                <button class="mem-benefit-btn fe-tworld">T world App 바로가기</button>
                            </li>
                        </ul>
                        <div class="link-wrap pt26">
                            <button class="bt-link-tx underline fe-go-to-web">괜찮습니다. 모바일웹으로 볼게요.</button>
                        </div>
                        <p class="stxt pt26">※ ‘T world App 바로가기’에서 App 다운로드 가능</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- // .container-wrap -->
    </div>
    <!-- // .popup hbs -->
</div>
</body>


<% include ../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    // Xtractor 에서 바로가기 url 수집하는 API 호출
    window.XtractorScript.xtrMenualApi('<%= referer %>');

    new Tw.CommonShareAppInstallInfo($('.wrap'), '<%= target %>', '<%= loginType %>', '<%= referer %>');

    var getParameters = function (paramName) {
        // 리턴값을 위한 변수 선언
        var returnValue;
        // 현재 URL 가져오기
        var url = location.href;
        // get 파라미터 값을 가져올 수 있는 ? 를 기점으로 slice 한 후 split 으로 나눔
        var parameters = url.slice(url.indexOf("?") + 1, url.length).split("&");
        // 나누어진 값의 비교를 통해 paramName 으로 요청된 데이터의 값만 return
        for (var i = 0; i < parameters.length; i++) {
          var varName = parameters[i].split("=")[0];
          if (varName.toUpperCase() == paramName.toUpperCase()) {
            returnValue = parameters[i].split("=")[1];
            return decodeURIComponent(returnValue);
          }
        }
      };
      $.ajax({
        url: getParameters('target'), // + getParameters("target"), // 클라이언트가 요청을 보낼 서버의 URL 주소
        type: "GET", // HTTP 요청 방식(GET, POST)
      }).done(function (json) {

        //   alert(json);
        var jbMeta1 = $(json).filter('meta[property="og:description"]').attr('content');
        var jbMeta2 = $(json).filter('meta[property="og:title"]').attr('content');
        var jbMeta3 = $(json).filter('meta[property="og:image"]').attr('content');
        var jbMeta4 = $(json).filter('meta[name="description"]').attr('content');

        $('meta[property="og:description"]').attr("content", jbMeta1);
        $('meta[property="og:title"]').attr("content", jbMeta2);
        $('meta[property="og:image"]').attr("content", jbMeta3);
        $('meta[name="description"]').attr("content", jbMeta4);


      });

  });
</script>
<% include ../components/end.component.html %>