<%#
* FileName: customer.event.win.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.08.17
%>
<div class="cont-box nogaps-hoz noborder">
    <div class="event-list-box">
        <ul>
            <li>
                <button>
                    <dl>
                        <dt class="event-tit">단 4일! 신라인터넷면세점 7월 혜택!</dt>
                        <dd class="event-date">
                            <ul>
                                <li>
                                    <i>기간</i><span class="event-day">2018.07.03 ~ 2018.07.31</span>
                                </li>
                                <li>
                                    <i>당첨자 발표</i><span class="event-day">2018.08.01</span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <span class="ico"></span>
                </button>
            </li>
            <li>
                <button>
                    <dl>
                        <dt class="event-tit">T 멤버십 컬처 프로젝트 #14</dt>
                        <dd class="event-date">
                            <ul>
                                <li>
                                    <i>기간</i><span class="event-day">2018.07.03 ~ 2018.07.31</span><span class="event-type">응모형</span>
                                </li>
                                <li>
                                    <i>당첨자 발표</i><span class="event-day">2018.08.01</span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <span class="ico"></span>
                </button>
            </li>
            <li>
                <button>
                    <dl>
                        <dt class="event-tit">오키나와 T멤버십 혜택</dt>
                        <dd class="event-date">
                            <ul>
                                <li>
                                    <i>기간</i><span class="event-day">2018.07.03 ~ 2018.07.31</span>
                                <li>
                                    <i>당첨자 발표</i><span class="event-day">2018.08.01</span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <span class="ico"></span>
                </button>
            </li>
            <li>
                <button>
                    <dl>
                        <dt class="event-tit">글로벌 해외여행 보험 혜택받고 데이터 무료 이용권 받아가자</dt>
                        <dd class="event-date">
                            <ul>
                                <li>
                                    <i>기간</i><span class="event-day">2018.07.03 ~ 2018.07.31</span>
                                <li>
                                    <i>당첨자 발표</i><span class="event-day">2018.08.01</span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <span class="ico"></span>
                </button>
            </li>
        </ul>
    </div>
</div>
<button class="bt-more" href="">더보기<span>(20)</span></button>