<%#
* FileName: customer.event.win.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.08.17
%>
<div class="cont-box nogaps-hoz noborder">
    <div class="event-list-box">
        <ul class="fe-content-list">
            <li class="fe-first none">
                <button>
                    <dl>
                        <dt class="event-tit fe-event-title"></dt>
                        <dd class="event-date">
                            <ul>
                                <li>
                                    <i>기간</i><span class="event-day fe-event-day"></span>
                                </li>
                                <li>
                                    <i>당첨자 발표</i><span class="event-day fe-event-win-date"></span>
                                    <span class="event-type fe-event-type"></span>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <span class="ico"></span>
                </button>
            </li>
        </ul>
    </div>
</div>
<button class="bt-more fe-more-btn none">더보기<span class="fe-more-length"></span></button>