<%#
* FileName: customer.event.ing.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.08.17
%>
<div class="cont-box noborder">
    <div class="event-list-ing">
        <ul>
            <li>
                <button>
                    <div class="event-img"><img src="/img/dummy/dummy_event01.jpg" alt=""/></div>
                    <div class="event-txt">
                        <span class="event-date">2018.05.24</span><em>D-14</em>
                    </div>
                </button>
            </li>
            <li>
                <button>
                    <div class="event-img"><img src="/img/dummy/dummy_event02.jpg" alt=""/></div>
                    <div class="event-txt">
                        <span class="event-date">2018.05.24</span><em>D-14</em>
                    </div>
                </button>
            </li>
            <li>
                <button>
                    <div class="event-img"><img src="/img/dummy/dummy_event03.jpg" alt=""/></div>
                    <div class="event-txt">
                        <span class="event-date">2018.05.24</span><em>D-14</em>
                    </div>
                    <span class="event-type">응모형</span>
                </button>
            </li>
        </ul>
    </div>
</div>
<button class="bt-more" href="">더보기<span>(20)</span></button>