<%#
* @file bill.component..html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.10.06
%>
<script id="fe-smart-bill" type="text/x-handlebars-template">
    {{#if showData}}
    <div class="main-fee-box">
        <div class="fee-cont">
            <a href="/myt-fare/submain" class="tit" data-xt_eid="CMMA_A2_B6-12" data-xt_csid="NO" data-xt_action="BC">나의 요금을 확인해 보세요</a>
            <a href="/myt-fare/billguide/guide" class="fee-info" data-xt_eid="CMMA_A2_B6-29" data-xt_csid="NO" data-xt_action="BC">
                <p class="target">
                    {{#if isActRep}}
                    <span class="tit">{{billMonth}}월 청구요금</span>
                    {{else}}
                    <span class="tit">{{invMonth}}월 이용요금</span>
                    {{/if}}
                    <span class="date"><span>{{invStartDt}}</span>~<span>{{invEndDt}}</span></span>
                </p>
                <p class="sum"><span>{{useAmtTot}}</span>원</p>
            </a>
        </div>
        <div class="btn-area">
            {{#if isActRep}}
            <button id="fe-bt-payment" class="bt" data-svcattrcd="<%= svcInfo.svcAttrCd %>" data-xt_eid="CMMA_A2_B6-30" data-xt_csid="NO" data-xt_action="BC">납부하기</button>
            <a href="/myt-fare/bill/hotbill" class="bt" data-xt_eid="CMMA_A2_B6-31" data-xt_csid="NO" data-xt_action="BC">실시간 이용요금</a>
            {{else}}
            <a href="/myt-fare/bill/hotbill" class="bt full" data-xt_eid="CMMA_A2_B6-31" data-xt_csid="NO" data-xt_action="BC">실시간 이용요금</a>
            {{/if}}
        </div>
    </div>
    {{else}}
    <div class="main-fee-box">
        <div class="fee-cont">
            <a href="/myt-fare/submain" class="tit" data-xt_eid="CMMA_A2_B6-12" data-xt_csid="NO" data-xt_action="BC">나의 요금을 확인해 보세요</a>
            <div class="fee-info">
                <p class="target">
                    지난 달 이용요금이 없습니다<br>요금안내서가 발행되면 알려드릴게요.
                </p>
            </div>
        </div>
        <div class="btn-area">
            <a href="/myt-fare/bill/hotbill" class="bt full" data-xt_eid="CMMA_A2_B6-31" data-xt_csid="NO" data-xt_action="BC">실시간 이용요금</a>
        </div>
    </div>
    {{/if}}
</script>