<%#
* FileName: gift.component..html
* Author: Ara Jo (araara.jo@sk.com)
* Date: 2018.10.06
%>
<script id="fe-smart-gift" type="text/x-handlebars-template">
    <!--<div class="section-box">-->
    <div class="main-breakdown-box">
        <div class="stit c-point">T끼리 데이터 선물</div>
        <strong class="ti">잔여 데이터를 가족과 친구에게 선물해 보세요</strong>
        {{#if blockUsage}}
        <p class="tx">매월 1일은 데이터 조회량이 많아 데이터를 선물할 수 있는지 실시간으로 알려드리기 어렵습니다.</p>
        {{else}}
        <ul class="list">
            <li><strong class="ti">선물할 수 있는 데이터</strong> <em class="tx f-type c-point"><span class="ff-tg-medium">{{dataRemQty}}</span>GB</em></li>
            <li><strong class="ti">선물하기 남은 횟수</strong>
                <em class="tx c-point">T끼리 <span class="f-type ff-tg-medium">{{dataGiftCnt}}</span>회
                {{#if goodFamilyMEmberYn}}
                 / 가족 <span class="f-type">무제한</span>
                {{else if familyMemberYn}}
                 / 가족 <span class="f-type ff-tg-medium">{{familyDataGiftCnt}}</span>회
                {{/if}}
                </em>
            </li>
        </ul>
        {{/if}}
        <div class="btn-area">
            <button id="fe-bt-go-gift" class="bt">선물하기</button>
        </div>

    </div>
    <!--</div>-->
</script>