<%#
* @file micro-pay.component..html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.10.06
%>
<script id="fe-smart-micro-pay" type="text/x-handlebars-template">
    <!-- .cont-box -->
    <div class="main-breakdown-box">
        <div class="stit c-point">이번 달 소액결제 이용내역</div>
        <em class="sum"><span class="ff-tg-medium">{{ usedAmtTot }}</span>원</em>
        <span class="date"><span class="ff-tg-light">{{ invStartDt }}</span>~<span class="ff-tg-light">{{ invEndDt }}</span></span>
        <ul class="list">
            <li><strong class="ti">이용횟수</strong> <em class="tx"><span class="f-type ff-tg-medium">{{ listLength }}</span>회</em></li>
        </ul>
        <div class="btn-area">
            <a href="/myt-fare/bill/small/history" class="bt">결제내역 보기</a>
        </div>
    </div>
</script>