<%#
* FileName: recharge.component..html
* Author: Ara Jo (araara.jo@sk.com)
* Date: 2018.10.06
%>
<script id="fe-smart-recharge" type="text/x-handlebars-template">
    <!-- .cont-box -->
    <div class="main-fee-box">
        <div class="fee-cont">
            <strong class="tit">데이터가 부족하시다면<br/> 즉시 충전해 보세요</strong>
            <a href="/myt-data/submain">
                <ul class="list">
                    <% if(usageData.data && usageData.data.isShow) { %>
                    <li><strong class="ti">잔여 데이터</strong> <em class="tx f-type c-point"><span class="ff-tg-medium"><%= usageData.data.showMyRemained %></span></em></li>
                    <% } else { %>
                    <li><strong class="ti">잔여 데이터</strong> <em class="tx f-type c-point"><span class="ff-tg-medium">0</span>MB</em></li>
                    <% } %>
                    <li><strong class="ti">리필쿠폰 남은 개수</strong> <em class="tx c-point">T끼리 <span class="f-type ff-tg-medium">{{ refillCoupons }}</span>회</em></li>
                </ul>
            </a>
        </div>
        <div class="btn-area">
            <button class="bt full fe-bt-go-recharge">충전하기</button>
        </div>
    </div>
</script>