<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div id="recharge-limit" class="wrap">
    <!-- #header -->
    <div id="header" class="header-wrap">
        <div class="header">
            <div class="header-ti">
                <h1>데이터 한도 요금 충전</h1>
                <button class="depth-view" role="button" aria-pressed="false">
                    <span class="blind">메뉴구조보기</span>
                </button>
            </div>
            <button class="prev-step">
                <span class="blind">이전으로</span>
            </button>
            <button class="search-content">
                <span class="blind">검색하기</span>
            </button>
        </div>
    </div>
    <!--// #header -->
    <!-- #contents -->
    <div id="main" class="container-wrap">
        <% include ../../components/limit/recharge.limit.home.html %>
    </div>
    <div id="step-type" class="container-wrap" style="display: none">
        <% include ../../components/limit/recharge.limit.process.type.html %>
    </div>
    <div id="step-amount" class="container-wrap" style="display: none">
        <% include ../../components/limit/recharge.limit.process.amount.html %>
    </div>
    <div id="step-complete" class="container-wrap" style="display: none">
        <% include ../../components/limit/recharge.limit.process.complete.html %>
    </div>
    <!--// #contents -->
</div>
<% include ../../components/javascript.component.html %>
<script>
    $(document).ready(function () {
        new Tw.RechargeLimit($('#recharge-limit'));
    });
</script>
 <% include ../../components/end.component.html %>