<%#
* FileName: payment.point.complete.component.html
* Author: 공자윤 (jayoon.kong@sk.com)
* Date: 2018.07.06
%>
<div class="container">
    <div class="cont-box nogaps-top">
        <div class="msg-present-box">
            <div class="msg-present-comp">
                <span class="ico"></span>
                <p class="txt"><span class="tx-bold">포인트 납부 예약</span>이 <br/>완료되었습니다.</p>
            </div>
            <div class="gift-data-cont complete-target">
                <div class="pay-data-cont">
                    <ul class="t-pay-data">
                        <li>
                            <dl>
                                <dt class="ti-data">성명</dt>
                                <dd class="tx-data custName"></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt class="ti-data">회선번호</dt>
                                <dd class="tx-data"><span class="num svcNum"></span></dd>
                            </dl>
                        </li>
                        <li>
                            <h3 class="ti-pay-detail">상세내역</h3>
                            <ul class="inquiry">
                                <li>
                                    <span class="ti-data">카드번호</span>
                                    <span class="tx-data num">249396*********</span>
                                </li>
                                <li>
                                    <span class="ti-data">포인트종류</span>
                                    <span class="tx-data pointName"></span>
                                </li>
                                <li>
                                    <span class="ti-data">납부예약 포인트</span>
                                    <span class="tx-data num" data-value="reqRbpPt"></span><span class="won">점</span>
                                </li>
                                <li>
                                    <dl>
                                        <dt class="ti-data">요청내역</dt>
                                        <dd class="tx-data">
                                            <span class="blind">요청내역</span><span class="bank detailDisplayTxt"></span>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="contents-notice line-top">
                    <li class="noti-type2">신청하신 포인트보다 청구요금이 적은 경우 남은 포인트는 이월되며, 이월 횟수에는 제한이 없습니다.</li>
                    <li class="noti-type2">포인트납부 예약취소는 신청 후 30일 이내에 가능합니다.</li>
                </ul>
                <div class="contents-btn">
                    <ul class="bt-slice">
                        <li class="bt-white1">
                            <button>납부내역 보기</button>
                        </li>
                        <li class="bt-blue1">
                            <button><a href="/payment/point" class="replace-history">확인</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="cont-sp type1" />
    <div class="cont-box nogaps">
        <div class="bt-link-box">
            <a class="bt-link-tx" href="/home">홈으로</a>
        </div>
    </div>
    <hr class="cont-sp type1" />
</div>