<%#
* FileName: product.wireplan.portability.html
* Author: Jiyoung Jo (jiyoungjo@sk.com)
* Date: 2018.11.15
* id: WP_02_04_01
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
        <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
            <!-- .popup hbs -->
            <div class="popup-page nobg tw-popup"><!-- .fixed-bottom 하단에 고정된 버튼이 있는 경우 -->
            <!-- #header -->
            <%- include('../components/header.component.html', { title: '번호이동 안내', type: 'popup', svcInfo: svcInfo, pageInfo: locals.pageInfo }); %>
            <!--// #header -->
            <!-- .container-wrap -->
            <div class="container-wrap">
                <h2 class="blind">내용</h2>
                <div class="container">
                    
                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="service-area-wrap">
                            <em>이동통신회사가 바뀌어도 쓰던 <br><strong>전화번호는 그대로!</strong></em>
                            <ul class="bt-slice item-two mt40">
                                <li class="bt-white2">
                                    <a href="/product/wireplan/phone">요금상품 목록</a>
                                </li>
                                <li class="bt-blue1">
                                    <a href="/product/wireplan/join/reservation?type_cd=phone">가입상담 예약</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--// .cont-box -->
                    
                    <hr class="cont-sp type1" aria-hidden="true"/>

                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="goods-service-box">
                            <div class="img-box"><img src="<%= CDN %>/img/product/img-goods-service.png" alt=""></div>
                            <h3 class="mt20">번호이동이란?</h3>
                            <p class="c-text mt10">요금과 서비스 등을 비교하여 통신회사를 변경할 수 있는 제도로, K사 전화를 SK텔레콤 시내전화로 바꾸어도 지금 쓰고 있는 전화번호 그대로 사용할 수 있는 편리한 서비스입니다.<br><br>내 전화번호 그대로! 현재 사용하는 전화번호를 그대로 이용 할 수 있으므로 전화번호 변경의 번거로움이 없습니다.</p>
                            <h3 class="mt40">이런 고객님이 사용하시면 좋아요.</h3>
                            <div class="notice-comp-infolist mt10">
                                <dl>
                                    <dd>다양한 요금제와 부가서비스를 원하시는 분</dd>
                                    <dd>더 많은 요금 할인 받고 전화를 이용하고 싶으신 분</dd>
                                    <dd>SK텔레콤 인터넷과 전화를 사용 중이시거나 사용 예정이신 분</dd>
                                    <dd>SK브로드밴드의 B인터넷과 B TV를 사용 중이시거나 사용 예정이신 분</dd>
                                </dl>
                            </div>
                            <h3 class="mt40">번호이동 신청대상인지 확인해 보세요.</h3>
                            <div class="notice-comp-infolist mt10">
                                <dl>
                                    <dd>K사 전화 사용자 중 SK텔레콤 시내전화 제공지역 거주자</dd>
                                    <dd>번호이동 도입지역 모든 거주자</dd>
                                    <dd>2005년 1월부터 번호이동 도입지역의 단독주택 거주자도 번호이동 가능</dd>
                                    <dd>기타 문의사항은 T world 고객센터 이메일 문의를 이용해 주세요.</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!--// .cont-box -->
                    
                    <hr class="cont-sp type1" aria-hidden="true"/>

                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="goods-service-box">
                            <h3>번호이동 신청방법과 이용요금을<br>확인하세요.</h3>
                            <ul class="goods-service-list">
                                <li><span class="ico type1"></span> <strong>대상</strong> <em>일반가입전화 개인고객</em></li>
                                <li><span class="ico type2"></span> <strong>신청방법</strong> <em>T world 또는 고객센터</em></li>
                                <li><span class="ico type3"></span> <strong>이용요금</strong> <em>단, 1년 이내 해약 시 1,800원(부가세 포함)/<br>번호 부여</em></li>
                            </ul>
                            <div class="notice-comp-infolist mt10">
                                <dl>
                                    <dd>요금 체납자는 번호이동에 제한됩니다.</dd>
                                    <dd>번호이동 신청을 원하시는 고객님은 본인(전화가입자) 또는 배우자가 신청하실 수 있습니다.</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!--// .cont-box -->

                </div>
            </div>
            <!--// .container-wrap -->
            <!-- .popup-closeBtn -->
            <button class="popup-closeBtn fe-common-back"><span class="blind">팝업 페이지 닫기</span></button>
            <!--// .popup-closeBtn -->
        </div>
        <!--// .popup hbs -->
    </div>
</body>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>
