@charset "UTF-8";
/*Default set*/
html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, a, button, input, textarea, table, th, td, figure, hr {
  margin: 0;
  padding: 0;
  font-weight: 300;
  -webkit-text-size-adjust: none;
  font-family: "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "Helvetica Neue", "Noto Sans", "Noto Sans CJK", 'Droid Sans', Roboto, sans-serif;
}

body {
  overflow-x: hidden;
  color: #000;
  line-height: 1.4;
  letter-spacing: -0.0625rem;
  word-break: keep-all;
  background: #f5f5f5;
}

html, body {
  width: 100%;
}

.wrap {
  width: 100%;
  overflow-x: hidden;
}

/*display*/
.none {
  display: none !important;
}

.block {
  display: block !important;
}

/*font*/
.ff-hn {
  font-family: "Helvetica Neue", Roboto, sans-serif;
  letter-spacing: 0;
}

.tx-normal {
  font-weight: 300;
}

.tx-regular {
  font-weight: 400;
}

.tx-bold {
  font-weight: 700;
}

.tx-bolder {
  font-weight: 900;
}

/*input*/
input, select {
  padding: 0;
  color: #3c3c3c;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input.textarea, select, button {
  line-height: 1.4;
  letter-spacing: -0.0625rem;
}

input[type=text], input[type=file], input[type=password], input[type=number] {
  border: 1px solid #d4d4d4;
  outline: none;
}

.inputbox {
  position: relative;
  display: block;
}

.inputbox .input {
  display: block;
  position: relative;
}

.inputbox .input input[type=text],
.inputbox .input input[type=file],
.inputbox .input input[type=password],
.inputbox .input input[type=number] {
  padding: 0 0.625rem;
  height: 2.375rem;
  border: 1px solid #f5f5f5;
  border-radius: 0.25rem;
  background: #f5f5f5;
  font-size: 0.875rem;
  color: #000;
  font-weight: 400;
  width: 100%;
}

.inputbox .input input[type=text]::-webkit-input-placeholder,
.inputbox .input input[type=file]::-webkit-input-placeholder,
.inputbox .input input[type=password]::-webkit-input-placeholder,
.inputbox .input input[type=number]::-webkit-input-placeholder {
  color: #8f8f8f;
}

.inputbox .input input[type=text].place-small::-webkit-input-placeholder,
.inputbox .input input[type=file].place-small::-webkit-input-placeholder,
.inputbox .input input[type=password].place-small::-webkit-input-placeholder,
.inputbox .input input[type=number].place-small::-webkit-input-placeholder {
  font-size: 0.6875rem;
  letter-spacing: -1px;
}

.inputbox .input input[type=text]:focus,
.inputbox .input input[type=file]:focus,
.inputbox .input input[type=password]:focus,
.inputbox .input input[type=number]:focus {
  border-color: #7b7b7b;
  background: none;
}

.inputbox .input input[type=text]:focus::-webkit-input-placeholder,
.inputbox .input input[type=file]:focus::-webkit-input-placeholder,
.inputbox .input input[type=password]:focus::-webkit-input-placeholder,
.inputbox .input input[type=number]:focus::-webkit-input-placeholder {
  color: transparent;
}

.inputbox .input input[type=text]:disabled,
.inputbox .input input[type=file]:disabled,
.inputbox .input input[type=password]:disabled,
.inputbox .input input[type=number]:disabled {
  background-color: #e5e8ee;
  border-color: #e5e8ee;
  font-weight: 300;
}

.inputbox .input input[type=text]:disabled::-webkit-input-placeholder,
.inputbox .input input[type=file]:disabled::-webkit-input-placeholder,
.inputbox .input input[type=password]:disabled::-webkit-input-placeholder,
.inputbox .input input[type=number]:disabled::-webkit-input-placeholder {
  color: #808698;
  font-weight: 300;
}

@media screen and (max-width: 321px) {
  .inputbox .input input[type=text]::-webkit-input-placeholder,
  .inputbox .input input[type=file]::-webkit-input-placeholder,
  .inputbox .input input[type=password]::-webkit-input-placeholder,
  .inputbox .input input[type=number]::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
}

.inputbox .input input[type=text][readonly],
.inputbox .input input[type=password][readonly],
.inputbox .input input[type=number][readonly],
.inputbox .input input[type=file][readonly] {
  background-color: #fff;
  border-color: #d6dbe5;
}

.inputbox .input .ico {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0.4375rem;
  margin-top: -0.8125rem;
  width: 1.5625rem;
  height: 1.5625rem;
  background-image: url(/img/ico/ico-group.png);
  background-size: 50px;
}

.inputbox .input .cancel {
  display: none;
}

.inputbox .guide-txt {
  display: block;
  margin: 0.375rem 0 0;
  color: #757575;
  font-size: 0.75rem;
}

.inputbox.validation .input input[type=text],
.inputbox.validation .input input[type=password],
.inputbox.validation .input input[type=number] {
  border-color: #325ec1;
  background-color: #fff;
}

.inputbox.validation .input .ico {
  background-position: 0 -26.5625rem;
}

.inputbox.validation .validation-txt {
  display: block;
  margin: 0.375rem 0 0;
  color: #000;
  font-size: 0.75rem;
}

.inputbox.error .input input[type=text],
.inputbox.error .input input[type=password],
.inputbox.error .input input[type=number] {
  border-color: #ea002c;
  background-color: #fff;
  color: #ea002c;
}

.inputbox.error .input .ico {
  background-position: 1.5625rem -26.5625rem;
}

.inputbox.error .error-txt {
  display: block;
  margin: 0.375rem 0 0;
  color: #ea002c;
  font-size: 0.75rem;
}

.inputbox.bt-add {
  display: table;
  position: relative;
  width: 100%;
}

.inputbox.bt-add .input {
  display: table-cell;
  width: 84%;
}

.inputbox.bt-add .input input {
  width: 98%;
}

.inputbox.bt-add .bt-box {
  display: table-cell;
  width: 16%;
  height: 100%;
  padding: 0 0.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.3125rem;
  background: #fff;
  text-align: center;
}

.inputbox.bt-add .bt-box button {
  font-size: 0.875rem;
  font-weight: 400;
  color: #757575;
  white-space: nowrap;
}

.inputbox.bt-add .tx-box {
  display: table-row;
}

.inputbox.bt-add2 {
  display: table;
  position: relative;
  width: 100%;
}

.inputbox.bt-add2 .input {
  display: table-cell;
  width: 62%;
}

.inputbox.bt-add2 .input input {
  width: 98%;
}

.inputbox.bt-add2 .bt-box {
  display: table-cell;
  width: 16%;
  height: 100%;
  padding: 0 0.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 0.3125rem;
  background: #fff;
  text-align: center;
}

.inputbox.bt-add2 .bt-box button {
  font-size: 0.875rem;
  font-weight: 400;
  color: #757575;
  white-space: nowrap;
}

.inputbox.bt-add2 .tx-box {
  display: table-row;
}

.inputbox .guide-byte {
  display: block;
  overflow: hidden;
}

.inputbox .guide-byte .guide-txt {
  float: left;
  width: 80%;
}

.inputbox .guide-byte .error-txt {
  float: left;
  width: 80%;
}

.inputbox .guide-byte .validation-txt {
  float: left;
  width: 80%;
}

.inputbox .guide-byte .byte {
  float: right;
  width: 20%;
}

.inputbox .guide-byte .byte .byte-current {
  color: #000;
}

.inputbox .search-recommend {
  display: none;
  position: absolute;
  top: 2.375rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 0 0.3125rem 0.3125rem;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background: #fff;
  z-index: 1;
}

.inputbox .search-recommend.on {
  display: block;
}

.inputbox .search-recommend .recommend-list li {
  padding: 0.5625rem 0.9375rem;
  font-size: 0.9375rem;
  font-weight: 400;
  vertical-align: top;
}

.inputbox .search-recommend .recommend-list li .hint {
  display: inline-block;
  color: #ea002c;
  font-weight: 400;
  vertical-align: top;
}

.inputbox .search-recommend .bt-close {
  display: block;
  width: 100%;
  height: 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #efefef;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 300;
  color: #757575;
  background: #fafafa;
}

.txfield-combined {
  position: relative;
  padding: 0 0.9375rem;
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f5f5;
}

.txfield-combined > div {
  position: relative;
  font-size: 0.9375rem;
}

.txfield-combined .byte {
  padding: 0.8125rem 0;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #8f8f8f;
}

.txfield-combined .txfield-combined-top input {
  display: block;
  width: 100%;
  padding: 0.75rem 0;
  font-size: 0.9375rem;
  color: #8f8f8f;
}

.txfield-combined .txfield-combined-top .byte {
  position: absolute;
  top: 0;
  right: 0;
}

.txfield-combined .txfield-combined-btm {
  border-top: 1px solid #e1e1e1;
}

.txfield-combined .txfield-combined-btm textarea {
  padding: 0.75rem 0;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #8f8f8f;
  background: none;
}

.txfield-combined .txfield-combined-btm textarea::-webkit-input-placeholder {
  font-size: 0.9375rem;
}

.select-list {
  overflow: visible;
  font-size: 0;
}

.select-list li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
}

.select-list.division-two li {
  display: inline-block !important;
  width: 50%;
}

.select-list.division-three li {
  display: inline-block !important;
  width: 33.333333%;
}

.select-list.division-four li {
  display: inline-block !important;
  width: 25%;
}

.select-list.division-five li {
  display: inline-block !important;
  width: 20%;
}

.select-list.division-six li {
  display: inline-block !important;
  width: 16.666%;
}

.select-list.division-seven li {
  display: inline-block !important;
  width: 14.285%;
}

input[type=text]::-ms-clear {
  display: none;
}

input[type=password]::-ms-clear {
  display: none;
}

input[type=number]::-ms-clear {
  display: none;
}

/*border:1px solid #002a7b;*/
input[type=button] {
  border: 0;
  background: none;
}

input.radio, input.check, fieldset {
  border: 0;
  background: none;
}

input, button, select, a + button, .selectBox, .calendar {
  *margin-right: 4px;
}

input[type='radio'], input[type='text'], input[type='password'], input[type='number'], input[type='checkbox'], textarea, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  -webkit-background-color: transparent;
  -moz-background-color: transparent;
  border: 0;
  -webkit-border: 0;
  -moz-border: 0;
  border-radius: 0;
}

input::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}

input::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background: none;
}

textarea::-webkit-input-placeholder {
  color: #8f8f8f;
}

input + .hyphen {
  *margin-left: -4px;
}

input[type=text] + .btnS,
input[type=password] + .btnS,
input[type=number] + .btnS,
input[type=text] + input[type=text],
input[type=password] + input[type=text],
input[type=number] + input[type=text],
input[type=text] + input[type=password],
input[type=text] + input[type=number] {
  margin-left: 10px;
}

/*input[type=text][disabled]{background-color:#f7f7f7}*/
label {
  position: relative;
}

label + .typeRadio {
  margin-left: 30px;
}

input[type=text] + .checkbox {
  margin-left: 16px;
}

input[type=password] + .checkbox {
  margin-left: 16px;
}

input[type=number] + .checkbox {
  margin-left: 16px;
}

input[type=file] {
  width: 200px;
  height: 20px;
  height: 30px;
  height: 30px;
}

input[type=file]::-ms-value {
  border: 0 none;
}

input[type=file]::-ms-browse {
  border: 0 none;
  border-left: 1px solid #ccc;
}

select {
  height: 38px;
  padding: 2px 4px 3px 7px;
  border: 1px solid #ccc;
  font-size: 13px;
  color: #3c3c3c;
}

input[type=number][readonly], input[type=text][readonly] {
  background: #fff;
}

/*textarea*/
textarea {
  overflow-y: scroll;
  width: 100%;
  padding: 0.875rem;
  border: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 0.25rem;
  resize: none;
  font-size: 0.9375rem;
  color: #8f8f8f;
  outline: 0;
  background-color: #f5f5f5;
}

.box-txarea {
  position: relative;
  font-size: 0;
}

.byte {
  display: block;
  padding: 6px 0 0;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: right;
  color: #757575;
  vertical-align: middle;
}

.byte span {
  display: inline-block;
  vertical-align: top;
}

/*link*/
button {
  overflow: visible;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a + button {
  *margin-left: 4px;
}

a, input, label, button {
  -webkit-tap-highlight-color: transparent;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

.bt-link-box {
  position: relative;
}

.bt-link-box .bt-link-tx {
  display: block;
  padding: 0.8125rem 0 1.0625rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  vertical-align: baseline;
}

.bt-link-tx {
  position: relative;
  display: inline-block;
  font-size: 0.75rem;
  color: #325ec1;
  font-weight: 400;
  vertical-align: baseline;
}

.bt-link-tx.rect {
  padding: 0.125rem 0.75rem;
  border-radius: 0.3125rem;
  border: 1px solid #325ec1;
  font-size: 0.75rem;
}

.bt-link-tx.underline {
  display: inline-block;
  position: relative;
  font-size: inherit;
  color: #325ec1;
}

.bt-link-tx.underline:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  background: #425684;
}

.bt-link-tx.disabled {
  border-color: #cfcfcf;
  color: #757575;
}

.bt-link-tx.disabled:before {
  background: #cfcfcf;
}

.bt-link-tx.disabled .ico {
  background: url(/img/ico/ico-group.png) no-repeat -1.75rem -11.875rem;
  background-size: 2.875rem;
}

.bt-link-tx .ico {
  display: inline-block;
  width: 0.6875rem;
  height: 0.6875rem;
  margin-top: 0.1875rem;
  margin-left: 0.3125rem;
  vertical-align: top;
  background: url(/img/ico/ico-group.png) no-repeat -0.4375rem -11.875rem;
  background-size: 2.875rem;
}

.bt-link-tx.white {
  border-color: #fff;
  color: #fff;
  font-size: 0.9375rem;
}

.bt-link-tx.white .ico {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-left: 0.625rem;
  background: url(/img/ico/ico-group.png) no-repeat -0.4375rem -51.875rem;
  background-size: 3.125rem;
  opacity: .6;
}

.link-long {
  position: relative;
  border-bottom: 1px solid #cfcfcf;
}

.link-long.last {
  border-bottom: 0;
}

.link-long a, .link-long button {
  display: block;
  padding: 0.9375rem 0 1.125rem;
  font-size: 0.8125rem;
  color: #000;
  line-height: 1.5625rem;
  font-weight: 400;
  width: 100%;
  text-align: left;
  letter-spacing: -1px;
}

.link-long a .ico, .link-long button .ico {
  display: block;
  position: absolute;
  right: 0;
  top: 0.9375rem;
  width: 1.5625rem;
  height: 1.5625rem;
  background-image: url(/img/ico/ico-group.png);
  background-repeat: no-repeat;
  background-position: 0 -17.1875rem;
  background-size: 3.125rem;
}

.link-long a .bold, .link-long button .bold {
  font-weight: 700;
  vertical-align: top;
}

.link-long a.disabled, .link-long button.disabled {
  color: #757575;
}

.link-long a.disabled .ico, .link-long button.disabled .ico {
  background-position: -1.5625rem -17.1875rem;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: auto;
  outline: 0;
  cursor: pointer;
}

button:focus {
  outline: 1px dotted #3c3c3c;
}

button span, button:active span, button:focus span {
  position: relative;
}

/*etc*/
img {
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
}

th {
  border: 0;
  text-align: center;
}

td {
  border: 0;
}

table caption, legend, figcaption {
  overflow: hidden;
  width: 100%;
  height: 1px;
  *height: 0px;
  margin-top: -1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

ol, ul {
  list-style: none;
}

em, var, address {
  font-style: normal;
}

acronym {
  border: 0 none;
  text-decoration: none;
}

a, span {
  vertical-align: middle;
}

iframe, hr {
  border: none;
}

strong {
  font-weight: 700;
}

/* common */
.blind {
  display: inline-block;
  position: absolute !important;
  height: 0;
  overflow: hidden;
  color: transparent;
}

h1.blind, h2.blind, h3.blind, h4.blind, h5.blind, h6.blind {
  visibility: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

*[tabindex] {
  outline: none;
}

/* padding margin */
.ml0 {
  margin-left: 0rem !important;
}

.pl0 {
  padding-left: 0rem !important;
}

.mr0 {
  margin-right: 0rem !important;
}

.pr0 {
  padding-right: 0rem !important;
}

.mt0 {
  margin-top: 0rem !important;
}

.pt0 {
  padding-top: 0rem !important;
}

.mb0 {
  margin-bottom: 0rem !important;
}

.pb0 {
  padding-bottom: 0rem !important;
}

.ml2 {
  margin-left: 0.125rem !important;
}

.pl2 {
  padding-left: 0.125rem !important;
}

.mr2 {
  margin-right: 0.125rem !important;
}

.pr2 {
  padding-right: 0.125rem !important;
}

.mt2 {
  margin-top: 0.125rem !important;
}

.pt2 {
  padding-top: 0.125rem !important;
}

.mb2 {
  margin-bottom: 0.125rem !important;
}

.pb2 {
  padding-bottom: 0.125rem !important;
}

.ml4 {
  margin-left: 0.25rem !important;
}

.pl4 {
  padding-left: 0.25rem !important;
}

.mr4 {
  margin-right: 0.25rem !important;
}

.pr4 {
  padding-right: 0.25rem !important;
}

.mt4 {
  margin-top: 0.25rem !important;
}

.pt4 {
  padding-top: 0.25rem !important;
}

.mb4 {
  margin-bottom: 0.25rem !important;
}

.pb4 {
  padding-bottom: 0.25rem !important;
}

.ml6 {
  margin-left: 0.375rem !important;
}

.pl6 {
  padding-left: 0.375rem !important;
}

.mr6 {
  margin-right: 0.375rem !important;
}

.pr6 {
  padding-right: 0.375rem !important;
}

.mt6 {
  margin-top: 0.375rem !important;
}

.pt6 {
  padding-top: 0.375rem !important;
}

.mb6 {
  margin-bottom: 0.375rem !important;
}

.pb6 {
  padding-bottom: 0.375rem !important;
}

.ml8 {
  margin-left: 0.5rem !important;
}

.pl8 {
  padding-left: 0.5rem !important;
}

.mr8 {
  margin-right: 0.5rem !important;
}

.pr8 {
  padding-right: 0.5rem !important;
}

.mt8 {
  margin-top: 0.5rem !important;
}

.pt8 {
  padding-top: 0.5rem !important;
}

.mb8 {
  margin-bottom: 0.5rem !important;
}

.pb8 {
  padding-bottom: 0.5rem !important;
}

.ml10 {
  margin-left: 0.625rem !important;
}

.pl10 {
  padding-left: 0.625rem !important;
}

.mr10 {
  margin-right: 0.625rem !important;
}

.pr10 {
  padding-right: 0.625rem !important;
}

.mt10 {
  margin-top: 0.625rem !important;
}

.pt10 {
  padding-top: 0.625rem !important;
}

.mb10 {
  margin-bottom: 0.625rem !important;
}

.pb10 {
  padding-bottom: 0.625rem !important;
}

.ml12 {
  margin-left: 0.75rem !important;
}

.pl12 {
  padding-left: 0.75rem !important;
}

.mr12 {
  margin-right: 0.75rem !important;
}

.pr12 {
  padding-right: 0.75rem !important;
}

.mt12 {
  margin-top: 0.75rem !important;
}

.pt12 {
  padding-top: 0.75rem !important;
}

.mb12 {
  margin-bottom: 0.75rem !important;
}

.pb12 {
  padding-bottom: 0.75rem !important;
}

.ml14 {
  margin-left: 0.875rem !important;
}

.pl14 {
  padding-left: 0.875rem !important;
}

.mr14 {
  margin-right: 0.875rem !important;
}

.pr14 {
  padding-right: 0.875rem !important;
}

.mt14 {
  margin-top: 0.875rem !important;
}

.pt14 {
  padding-top: 0.875rem !important;
}

.mb14 {
  margin-bottom: 0.875rem !important;
}

.pb14 {
  padding-bottom: 0.875rem !important;
}

.ml16 {
  margin-left: 1rem !important;
}

.pl16 {
  padding-left: 1rem !important;
}

.mr16 {
  margin-right: 1rem !important;
}

.pr16 {
  padding-right: 1rem !important;
}

.mt16 {
  margin-top: 1rem !important;
}

.pt16 {
  padding-top: 1rem !important;
}

.mb16 {
  margin-bottom: 1rem !important;
}

.pb16 {
  padding-bottom: 1rem !important;
}

.ml18 {
  margin-left: 1.125rem !important;
}

.pl18 {
  padding-left: 1.125rem !important;
}

.mr18 {
  margin-right: 1.125rem !important;
}

.pr18 {
  padding-right: 1.125rem !important;
}

.mt18 {
  margin-top: 1.125rem !important;
}

.pt18 {
  padding-top: 1.125rem !important;
}

.mb18 {
  margin-bottom: 1.125rem !important;
}

.pb18 {
  padding-bottom: 1.125rem !important;
}

.ml20 {
  margin-left: 1.25rem !important;
}

.pl20 {
  padding-left: 1.25rem !important;
}

.mr20 {
  margin-right: 1.25rem !important;
}

.pr20 {
  padding-right: 1.25rem !important;
}

.mt20 {
  margin-top: 1.25rem !important;
}

.pt20 {
  padding-top: 1.25rem !important;
}

.mb20 {
  margin-bottom: 1.25rem !important;
}

.pb20 {
  padding-bottom: 1.25rem !important;
}

.ml22 {
  margin-left: 1.375rem !important;
}

.pl22 {
  padding-left: 1.375rem !important;
}

.mr22 {
  margin-right: 1.375rem !important;
}

.pr22 {
  padding-right: 1.375rem !important;
}

.mt22 {
  margin-top: 1.375rem !important;
}

.pt22 {
  padding-top: 1.375rem !important;
}

.mb22 {
  margin-bottom: 1.375rem !important;
}

.pb22 {
  padding-bottom: 1.375rem !important;
}

.ml24 {
  margin-left: 1.5rem !important;
}

.pl24 {
  padding-left: 1.5rem !important;
}

.mr24 {
  margin-right: 1.5rem !important;
}

.pr24 {
  padding-right: 1.5rem !important;
}

.mt24 {
  margin-top: 1.5rem !important;
}

.pt24 {
  padding-top: 1.5rem !important;
}

.mb24 {
  margin-bottom: 1.5rem !important;
}

.pb24 {
  padding-bottom: 1.5rem !important;
}

.ml26 {
  margin-left: 1.625rem !important;
}

.pl26 {
  padding-left: 1.625rem !important;
}

.mr26 {
  margin-right: 1.625rem !important;
}

.pr26 {
  padding-right: 1.625rem !important;
}

.mt26 {
  margin-top: 1.625rem !important;
}

.pt26 {
  padding-top: 1.625rem !important;
}

.mb26 {
  margin-bottom: 1.625rem !important;
}

.pb26 {
  padding-bottom: 1.625rem !important;
}

.ml28 {
  margin-left: 1.75rem !important;
}

.pl28 {
  padding-left: 1.75rem !important;
}

.mr28 {
  margin-right: 1.75rem !important;
}

.pr28 {
  padding-right: 1.75rem !important;
}

.mt28 {
  margin-top: 1.75rem !important;
}

.pt28 {
  padding-top: 1.75rem !important;
}

.mb28 {
  margin-bottom: 1.75rem !important;
}

.pb28 {
  padding-bottom: 1.75rem !important;
}

.ml30 {
  margin-left: 1.875rem !important;
}

.pl30 {
  padding-left: 1.875rem !important;
}

.mr30 {
  margin-right: 1.875rem !important;
}

.pr30 {
  padding-right: 1.875rem !important;
}

.mt30 {
  margin-top: 1.875rem !important;
}

.pt30 {
  padding-top: 1.875rem !important;
}

.mb30 {
  margin-bottom: 1.875rem !important;
}

.pb30 {
  padding-bottom: 1.875rem !important;
}

.ml32 {
  margin-left: 2rem !important;
}

.pl32 {
  padding-left: 2rem !important;
}

.mr32 {
  margin-right: 2rem !important;
}

.pr32 {
  padding-right: 2rem !important;
}

.mt32 {
  margin-top: 2rem !important;
}

.pt32 {
  padding-top: 2rem !important;
}

.mb32 {
  margin-bottom: 2rem !important;
}

.pb32 {
  padding-bottom: 2rem !important;
}

.ml34 {
  margin-left: 2.125rem !important;
}

.pl34 {
  padding-left: 2.125rem !important;
}

.mr34 {
  margin-right: 2.125rem !important;
}

.pr34 {
  padding-right: 2.125rem !important;
}

.mt34 {
  margin-top: 2.125rem !important;
}

.pt34 {
  padding-top: 2.125rem !important;
}

.mb34 {
  margin-bottom: 2.125rem !important;
}

.pb34 {
  padding-bottom: 2.125rem !important;
}

.ml36 {
  margin-left: 2.25rem !important;
}

.pl36 {
  padding-left: 2.25rem !important;
}

.mr36 {
  margin-right: 2.25rem !important;
}

.pr36 {
  padding-right: 2.25rem !important;
}

.mt36 {
  margin-top: 2.25rem !important;
}

.pt36 {
  padding-top: 2.25rem !important;
}

.mb36 {
  margin-bottom: 2.25rem !important;
}

.pb36 {
  padding-bottom: 2.25rem !important;
}

.ml38 {
  margin-left: 2.375rem !important;
}

.pl38 {
  padding-left: 2.375rem !important;
}

.mr38 {
  margin-right: 2.375rem !important;
}

.pr38 {
  padding-right: 2.375rem !important;
}

.mt38 {
  margin-top: 2.375rem !important;
}

.pt38 {
  padding-top: 2.375rem !important;
}

.mb38 {
  margin-bottom: 2.375rem !important;
}

.pb38 {
  padding-bottom: 2.375rem !important;
}

.ml40 {
  margin-left: 2.5rem !important;
}

.pl40 {
  padding-left: 2.5rem !important;
}

.mr40 {
  margin-right: 2.5rem !important;
}

.pr40 {
  padding-right: 2.5rem !important;
}

.mt40 {
  margin-top: 2.5rem !important;
}

.pt40 {
  padding-top: 2.5rem !important;
}

.mb40 {
  margin-bottom: 2.5rem !important;
}

.pb40 {
  padding-bottom: 2.5rem !important;
}

.ml42 {
  margin-left: 2.625rem !important;
}

.pl42 {
  padding-left: 2.625rem !important;
}

.mr42 {
  margin-right: 2.625rem !important;
}

.pr42 {
  padding-right: 2.625rem !important;
}

.mt42 {
  margin-top: 2.625rem !important;
}

.pt42 {
  padding-top: 2.625rem !important;
}

.mb42 {
  margin-bottom: 2.625rem !important;
}

.pb42 {
  padding-bottom: 2.625rem !important;
}

.ml44 {
  margin-left: 2.75rem !important;
}

.pl44 {
  padding-left: 2.75rem !important;
}

.mr44 {
  margin-right: 2.75rem !important;
}

.pr44 {
  padding-right: 2.75rem !important;
}

.mt44 {
  margin-top: 2.75rem !important;
}

.pt44 {
  padding-top: 2.75rem !important;
}

.mb44 {
  margin-bottom: 2.75rem !important;
}

.pb44 {
  padding-bottom: 2.75rem !important;
}

.ml46 {
  margin-left: 2.875rem !important;
}

.pl46 {
  padding-left: 2.875rem !important;
}

.mr46 {
  margin-right: 2.875rem !important;
}

.pr46 {
  padding-right: 2.875rem !important;
}

.mt46 {
  margin-top: 2.875rem !important;
}

.pt46 {
  padding-top: 2.875rem !important;
}

.mb46 {
  margin-bottom: 2.875rem !important;
}

.pb46 {
  padding-bottom: 2.875rem !important;
}

.ml48 {
  margin-left: 3rem !important;
}

.pl48 {
  padding-left: 3rem !important;
}

.mr48 {
  margin-right: 3rem !important;
}

.pr48 {
  padding-right: 3rem !important;
}

.mt48 {
  margin-top: 3rem !important;
}

.pt48 {
  padding-top: 3rem !important;
}

.mb48 {
  margin-bottom: 3rem !important;
}

.pb48 {
  padding-bottom: 3rem !important;
}

.ml50 {
  margin-left: 3.125rem !important;
}

.pl50 {
  padding-left: 3.125rem !important;
}

.mr50 {
  margin-right: 3.125rem !important;
}

.pr50 {
  padding-right: 3.125rem !important;
}

.mt50 {
  margin-top: 3.125rem !important;
}

.pt50 {
  padding-top: 3.125rem !important;
}

.mb50 {
  margin-bottom: 3.125rem !important;
}

.pb50 {
  padding-bottom: 3.125rem !important;
}

/* border 0 */
.bt0 {
  border-top: 0 !important;
}

.bl0 {
  border-left: 0 !important;
}

.br0 {
  border-right: 0 !important;
}

.bb0 {
  border-bottom: 0 !important;
}

/* vertical */
.vm {
  vertical-align: middle !important;
}

.vt {
  vertical-align: top !important;
}

.vb {
  vertical-align: bottom !important;
}

.vi {
  vertical-align: inherit !important;
}

.vbl {
  vertical-align: baseline !important;
}

/* text-align */
.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

/* notice ico */
.notice-triangle {
  position: relative;
  display: block;
  margin-top: 0.5rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #757575;
}

.notice-triangle .ico {
  position: absolute;
  top: -0.125rem;
  left: 0;
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url(/img/ico/ico-group.png) no-repeat -1.5625rem -45.375rem;
  background-size: 3.125rem;
}

/* jquery UI */
.ui-sortable-handle {
  -ms-touch-action: none;
  touch-action: none;
}

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}

.ui-widget-content a {
  color: #333333;
}

.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}

.ui-widget-header a {
  color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  color: #454545;
  text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 1px solid #cccccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
  color: #2b2b2b;
  text-decoration: none;
}

.ui-visual-focus {
  -webkit-box-shadow: 0 0 3px 1px #5e9ed6;
          box-shadow: 0 0 3px 1px #5e9ed6;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
  border: #003eff;
  background-color: #ffffff;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

.ui-state-checked {
  border: 1px solid #dad55e;
  background: #fffa90;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #777620;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  /* support: IE8 */
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  /* support: IE8 */
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* support: IE8 - See #6059 */
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: Alpha(Opacity=30);
  /* support: IE8 */
}

.ui-widget-shadow {
  -webkit-box-shadow: 0px 0px 5px #666666;
  box-shadow: 0px 0px 5px #666666;
}

/* skip navi */
.skip_navi, .skip-navi {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100000;
}

.skip_navi a, .skip-navi a {
  width: 100%;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -100px;
  left: 0;
  color: #fff;
  background: #004880;
}

.skip_navi a:hover, .skip_navi a:active, .skip_navi a:focus,
.skip-navi a:hover, .skip-navi a:active, .skip-navi a:focus {
  top: 0;
  z-index: 100000;
}

.btn-box {
  position: relative;
}

/* button */
.bt-slice {
  width: 100%;
  font-size: 0;
}

.bt-slice.full li {
  height: 3.375rem;
}

.bt-slice.full li button {
  border-radius: 0;
  font-size: 0.875rem;
  text-align: center;
}

.bt-slice.full li a {
  display: block;
  border-radius: 0;
  font-size: 0.875rem;
  text-align: center;
}

.bt-slice.align-r li button, .bt-slice.align-r li a {
  padding: 0 2.0625rem;
  text-align: right;
}

.bt-slice.align-r li button .ico, .bt-slice.align-r li a .ico {
  display: block;
  position: absolute;
  right: 0.125rem;
  top: 0.9375rem;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url(/img/ico/ico-group.png) no-repeat 0 -29.6875rem;
  background-size: 3.125rem;
}

.bt-slice.item-two li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0;
  width: 50%;
}

.bt-slice.item-two li:first-of-type {
  padding-left: 0;
}

.bt-slice.item-two li:last-of-type {
  padding-right: 0;
}

.bt-slice.item-three li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0;
  width: 33.333333%;
}

.bt-slice.item-three li:first-of-type {
  padding-left: 0;
}

.bt-slice.item-three li:last-of-type {
  padding-right: 0;
}

.bt-slice.item-four li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0;
  width: 25%;
}

.bt-slice.item-four li:first-of-type {
  padding-left: 0;
}

.bt-slice.item-four li:last-of-type {
  padding-right: 0;
}

.bt-slice.item-five li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0;
  width: 20%;
}

.bt-slice.item-five li:first-of-type {
  padding-left: 0;
}

.bt-slice.item-five li:last-of-type {
  padding-right: 0;
}

.bt-slice.item-six li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0;
  width: 16.666%;
}

.bt-slice.item-six li:first-of-type {
  padding-left: 0;
}

.bt-slice.item-six li:last-of-type {
  padding-right: 0;
}

.bt-slice.item-seven li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0;
  width: 14.285%;
}

.bt-slice.item-seven li:first-of-type {
  padding-left: 0;
}

.bt-slice.item-seven li:last-of-type {
  padding-right: 0;
}

.bt-slice.item-free {
  width: auto;
  height: auto;
}

.bt-slice.item-free li {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0;
  width: auto;
  height: auto;
}

.bt-slice.item-free li:first-of-type {
  padding-left: 0;
}

.bt-slice.item-free li:last-of-type {
  padding-right: 0;
}

.bt-slice.item-free li button {
  padding: 0.3125rem 0.4375rem;
  height: auto;
  line-height: 1;
  font-size: 0.75rem;
  border-radius: 0.1875rem;
  letter-spacing: -0.0625rem;
}

.bt-slice > li {
  height: 2.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0.375rem;
}

.bt-slice > li:first-of-type {
  margin-top: 0;
}

.bt-slice > li button {
  width: 100%;
  height: 100%;
  font-size: 0.8125rem;
  line-height: 2.5rem;
  border-radius: 0.3125rem;
}

.bt-slice > li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 0.3125rem;
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bt-slice > li.bt-red1 button {
  color: #fff;
  background: #df3636;
}

.bt-slice > li.bt-red1 button.selected {
  background: #c52424;
}

.bt-slice > li.bt-red1 button:hover {
  background: #c52424;
}

.bt-slice > li.bt-red1 button:disabled {
  color: #808698;
  background: #e5e8ee;
}

.bt-slice > li.bt-red1 a {
  color: #fff;
  background: #df3636;
}

.bt-slice > li.bt-red1 a.selected {
  background: #c52424;
}

.bt-slice > li.bt-red1 a:hover {
  background: #c52424;
}

.bt-slice > li.bt-red1 a:disabled {
  color: #808698;
  background: #e5e8ee;
}

.bt-slice > li.bt-blue1 button {
  color: #fff;
  background: #496093;
}

.bt-slice > li.bt-blue1 button.selected {
  background: #425684;
}

.bt-slice > li.bt-blue1 button:hover {
  background: #425684;
}

.bt-slice > li.bt-blue1 button:disabled {
  color: #808698;
  background: #e5e8ee;
}

.bt-slice > li.bt-blue1 a {
  color: #fff;
  background: #496093;
}

.bt-slice > li.bt-blue1 a.selected {
  background: #425684;
}

.bt-slice > li.bt-blue1 a:hover {
  background: #425684;
}

.bt-slice > li.bt-blue1 a:disabled {
  color: #808698;
  background: #e5e8ee;
}

.bt-slice > li.bt-white1 button {
  border: 1px solid #325ec1;
  color: #325ec1;
  background: #fff;
}

.bt-slice > li.bt-white1 button.selected {
  background: #e1e6f0;
}

.bt-slice > li.bt-white1 button:hover {
  background: #e1e6f0;
}

.bt-slice > li.bt-white1 button:disabled {
  border: 1px solid #808698;
  color: #808698;
  background: #fff;
}

.bt-slice > li.bt-white1 a {
  border: 1px solid #325ec1;
  color: #325ec1;
  background: #fff;
}

.bt-slice > li.bt-white1 a.selected {
  background: #e1e6f0;
}

.bt-slice > li.bt-white1 a:hover {
  background: #e1e6f0;
}

.bt-slice > li.bt-white1 a:disabled {
  border: 1px solid #808698;
  color: #808698;
  background: #fff;
}

.bt-slice > li.bt-white2 button {
  border: 1px solid #cfcfcf;
  color: #757575;
  background: #fff;
}

.bt-slice > li.bt-white2 button.selected {
  background: #e1e6f0;
}

.bt-slice > li.bt-white2 button:hover {
  background: #e1e6f0;
}

.bt-slice > li.bt-white2 button:disabled {
  border: 1px solid #808698;
  color: #808698;
  background: #fff;
}

.bt-slice > li.bt-white2 a {
  border: 1px solid #cfcfcf;
  color: #757575;
  background: #fff;
}

.bt-slice > li.bt-white2 a.selected {
  background: #e1e6f0;
}

.bt-slice > li.bt-white2 a:hover {
  background: #e1e6f0;
}

.bt-slice > li.bt-white2 a:disabled {
  border: 1px solid #808698;
  color: #808698;
  background: #fff;
}

.bt-slice > li.bt-gray1 button {
  border: 1px solid #f5f5f5;
  color: #757575;
  background: #f5f5f5;
}

.bt-slice > li.bt-gray1 button.selected {
  background: #efefef;
}

.bt-slice > li.bt-gray1 button:hover {
  background: #efefef;
}

.bt-slice > li.bt-gray1 button:disabled {
  border: 1px solid #e1e1e1;
  color: #808698;
  background: #e1e1e1;
}

.bt-slice > li.bt-gray1 a {
  border: 1px solid #f5f5f5;
  color: #757575;
  background: #f5f5f5;
}

.bt-slice > li.bt-gray1 a.selected {
  background: #efefef;
}

.bt-slice > li.bt-gray1 a:hover {
  background: #efefef;
}

.bt-slice > li.bt-gray1 a:disabled {
  border: 1px solid #e1e1e1;
  color: #808698;
  background: #e1e1e1;
}

.bt-slice.last {
  padding-bottom: 1.0625rem;
}

.bt-indiv {
  height: 3.375rem;
  overflow: hidden;
  padding: 0.5rem 0.5625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bt-indiv button {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: #fff;
}

.bt-indiv button:first-of-type {
  float: left;
  border-radius: 0.3125rem 0 0 0.3125rem;
}

.bt-indiv button:last-of-type {
  float: right;
  border-radius: 0 0.3125rem 0.3125rem 0;
}

.bt-indiv button.indiv-small {
  width: 25%;
  font-weight: 400;
  font-size: 0.9375rem;
}

.bt-indiv button.indiv-big {
  width: 75%;
  font-weight: 700;
  font-size: 0.9375rem;
}

.bt-indiv.bt-red1 {
  background: #df3636;
}

.bt-indiv.bt-red1 button {
  color: #df3636;
}

.bt-indiv.bt-red1 button.selected {
  background: #c52424;
}

.bt-indiv.bt-red1 button:hover {
  background: #f5c3c3;
}

.bt-indiv.bt-red1 button:disabled {
  font-weight: 400;
  background: #f5c3c3;
}

.bt-indiv.bt-red1 button:last-of-type {
  border-left: 1px solid #df3636;
}

.bt-indiv.bt-blue1 {
  background: #496093;
}

.bt-indiv.bt-blue1 button {
  color: #496093;
}

.bt-indiv.bt-blue1 button.selected {
  background: #425684;
}

.bt-indiv.bt-blue1 button:hover {
  background: #c1d3f9;
}

.bt-indiv.bt-blue1 button:disabled {
  font-weight: 400;
  background: #c1d3f9;
}

.bt-indiv.bt-blue1 button:last-of-type {
  border-left: 1px solid #496093;
}

.bt-dropdown {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.75rem 2.25rem 0.75rem 0.75rem;
  border-radius: 0.3125rem;
  background: #f5f5f5;
  text-align: left;
  font-weight: 400;
}

.bt-dropdown.big {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 2.25rem 0 0.75rem;
  font-size: 0.8125rem;
  line-height: 2.375rem;
  font-weight: 700;
}

.bt-dropdown.regular {
  display: block;
  min-width: 7rem;
  height: 2.5rem;
  padding: 0 2.25rem 0 0.75rem;
  font-size: 0.6875rem;
  line-height: 2.375rem;
}

.bt-dropdown.small {
  display: block;
  width: 6.375rem;
  height: 1.1875rem;
  padding: 0 1.125rem 0 0.5rem;
  font-size: 0.625rem;
  line-height: 1.0625rem;
}

.bt-dropdown.small:after {
  right: 0.25rem;
}

.bt-dropdown.transparent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  color: transparent;
  opacity: 0;
}

.bt-dropdown.transparent:after {
  display: none;
}

.bt-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.8125rem;
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  margin: -0.5rem 0 0 0;
  background: url(/img/ico/ico-group.png) no-repeat -0.9375rem -6.5625rem;
  background-size: 1.875rem;
}

.bt-dropdown.selected {
  background: #f5f5f5;
}

.bt-dropdown.placeholder {
  background: #f5f5f5;
  color: #8f8f8f;
}

.bt-dropdown:hover {
  background: #f5f5f5;
}

.bt-dropdown:disabled {
  background: #e5e8ee;
  color: #808698;
}

.bt-dropdown:disabled:after {
  background-position: 0 -6.5625rem;
  opacity: .3;
}

.bt-dropdown.no-arrow:after {
  display: none;
}

.bt-dropdown.no-arrow {
  color: #000;
}

.tx-dropdown-box {
  font-size: 1rem;
  line-height: 1.7;
}

.tx-dropdown-box .tx-dropdown {
  position: relative;
  padding-right: 1.5625rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #325ec1;
  letter-spacing: -2px;
}

.tx-dropdown-box .tx-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  margin: -0.75rem 0 0 0;
  background: url(/img/ico/ico-group2.png) no-repeat 0 -6.25rem;
  background-size: 3.125rem;
}

.bt-txt {
  display: block;
  margin: 0.625rem 0 0 0;
  font-size: 0.8125rem;
  color: #757575;
}

/* title */
.ti-desc {
  margin-bottom: 1.375rem;
  font-size: 1.25rem;
}

.ti-desc .num {
  font-family: Helvetica Neue, Roboto, sans-serif;
  vertical-align: baseline;
}

.ti-normal {
  font-size: 1.25rem;
  font-weight: 300;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.loading .loading_ico {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.loading em {
  display: block;
  text-align: center;
  font-size: 0.75rem;
  color: #325ec1;
}

.loading em.white {
  color: white;
}

.loading em.blue {
  color: #325ec1;
}

.loading em.grey {
  color: #757575;
}

.loading.full {
  z-index: 15;
}

.loading.full .loading_ico {
  top: -0.75rem;
  width: 5rem;
  height: 5rem;
}

/* 더보기 공통 */
.bt-more {
  display: block;
  padding: 0.8125rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fafafa;
  width: 100%;
  color: #757575;
  font-size: 0.875rem;
  text-align: center;
  border-top: 1px solid #efefef;
}

.bt-more span {
  font-family: Helvetica Neue, Roboto, sans-serif;
  vertical-align: baseline;
}

/* slick.css */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  width: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide > div {
  font-size: 0;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.badge {
  display: inline-block;
  overflow: hidden;
  background-image: url(/img/ico/badge-group.png);
}

.badge.badge-main {
  background-position: 0 0;
  background-size: 4.6875rem;
  width: 2.875rem;
  height: 0.9375rem;
  margin-right: 0.3125rem;
}

.badge.badge-fam {
  background-position: 0 -1.25rem;
  background-size: 4.6875rem;
  width: 1.8125rem;
  height: 1rem;
  margin-left: 0.4375rem;
}

.badge.badge-allpay {
  background-position: 0 -5rem;
  background-size: 4.6875rem;
  width: 2.875rem;
  height: 0.9375rem;
  margin-right: 0.3125rem;
}

.badge.badge-over {
  background-position: 0 -2.5rem;
  background-size: 4.6875rem;
  width: 1.8125rem;
  height: 0.9375rem;
  margin-right: 0.5rem;
}

.badge.badge-other {
  background-position: -2.1875rem -1.25rem;
  background-size: 4.6875rem;
  width: 1.8125rem;
  height: 0.9375rem;
  margin: 0.125rem 0.5rem 0 0.5rem;
  vertical-align: top;
}

.badge.badge-exceed {
  background-position: -2.1875rem -2.5rem;
  background-size: 4.6875rem;
  width: 1.8125rem;
  height: 0.9375rem;
  margin: 0.125rem 0.5rem 0 0.5rem;
  vertical-align: top;
}

.bar-chart-hoz {
  position: relative;
  height: 0.5rem;
}

.bar-chart-hoz:before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  width: 100%;
  height: 0.25rem;
  content: '';
  background-color: #f1f1f1;
  border-radius: 0.125rem;
}

.bar-chart-hoz .data-bar {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 0.0625rem;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.bar-chart-hoz .data-bar.red {
  background-color: #ef0023;
}

.bar-chart-hoz .data-bar.red-stripe {
  background-color: #ef0023;
  background: repeating-linear-gradient(-45deg, #f44d65, #f44d65 4px, #ef0023 4px, #ef0023 9px);
}

.bar-chart-hoz .data-bar.blue {
  background-color: #2572ff;
}

.bar-chart-hoz .data-bar.blue-stripe {
  background-color: #2572ff;
  background: repeating-linear-gradient(-45deg, #679dff, #679dff 4px, #2572ff 4px, #2572ff 9px);
}

.bar-chart-hoz .data-bar.deepblue {
  background-color: #325ec1;
}

.bar-chart-hoz .data-bar.green {
  background-color: #00a49a;
}

.bar-chart-hoz .data-bar.green-stripe {
  background-color: #00a49a;
  background: repeating-linear-gradient(-45deg, #4dbfb8, #4dbfb8 4px, #00a49a 4px, #00a49a 9px);
}

.bar-chart-hoz .data-bar.orange {
  background-color: #f65d00;
}

.bar-chart-hoz .data-bar.orange-dazzle {
  background-color: #f65d00;
  background: repeating-linear-gradient(-45deg, #fa9e66, #fa9e66 4px, #f65d00 4px, #f65d00 9px);
}

.bar-chart-hoz .data-bar.gray {
  background-color: #d6dbe5;
}

.bar-chart-hoz .data-bar.yellow {
  background-color: #ffd93f;
}

.bar-chart-hoz .data-bar.violet {
  background-color: #c73fff;
}
