@charset "UTF-8";
@font-face {
    font-family: 'TgothicLight';
    font-style: normal;
    font-weight: 300;
    src: url(../../font/TgothicLight.otf) format("opentype"),
    url(../../font/TgothicLight.woff2) format("woff2"),
    url(../../font/TgothicLight.woff) format("woff"),
    url(../../font/TgothicLight.ttf) format("truetype"),
    url(../../font/TgothicLight.eot?#iefix) format("embedded-opentype"); }

@font-face {
  font-family: 'TgothicMedium';
  font-style: normal;
  font-weight: 500;
  src: url(../../font/TgothicMedium.otf) format("opentype"),
  url(../../font/TgothicMedium.woff2) format("woff2"),
  url(../../font/TgothicMedium.woff) format("woff"),
  url(../../font/TgothicMedium.ttf) format("truetype"),
  url(../../font/TgothicMedium.eot?#iefix) format("embedded-opentype"); }

@font-face {
  font-family: 'TgothicBlack';
  font-style: normal;
  font-weight: 900;
  src: url(../../font/TgothicBlack.otf) format("opentype"),
  url(../../font/TgothicBlack.woff2) format("woff2"),
  url(../../font/TgothicBlack.woff) format("woff"),
  url(../../font/TgothicBlack.ttf) format("truetype"),
  url(../../font/TgothicBlack.eot?#iefix) format("embedded-opentype"); }

/* seperator */
.idpt-seperator { width:100%; height:0.625rem; background-color:#edeef0; border-top:1px solid #e6e7e8; }
.idpt-seperator.no-border { border-top:0; }
hr.idpt-down-box { clear:both; width:100%; height:0.375rem; background:url('/img/common/btn-arrow-down.png') 50% 0 no-repeat; background-size:0.75rem 0.375rem; border:0; margin:0.75rem 0}
hr.idpt-underline { clear:both; width:100%; height:0.75rem; border-bottom:1px solid #e1e1e1; margin:0.75rem 0}
hr.clear { clear:both; width:100%; height:0; }

/* header */
.idpt-header-wrap { position:fixed; top:0; left:0; width:100%; padding:1.5625rem 1rem; background-color:#fff; z-index:25; box-sizing:border-box; }
/* common header */
.idpt-header-wrap .idpt-header { position:relative; }
.idpt-header-wrap .idpt-header h1 { font-size: 1.125rem; color:#000; line-height:1.125rem; text-align:center}
.idpt-header-wrap .idpt-header .btn-back { position: absolute; top:0; left:0; width:1.125rem; height:1.03125rem; background:url('../img/common/btn-back.png'); background-size:100%; overflow:hidden; text-indent:100%; }
.idpt-header-wrap .idpt-header .btn-menu { position: absolute; top:0; left:0; width:1.25rem; height:1.25rem; background:url('../img/common/btn-menu.png'); background-size:100%; overflow:hidden; text-indent:100%; }
.idpt-header-wrap .idpt-header .btn-search { position: absolute; top:0; right:0; width:1.25rem; height:1.25rem; background:url('../img/common/btn-search.png'); background-size:100%; overflow:hidden; text-indent:100%; }

/* layer popup header */
.idpt-header-wrap .idpt-popup-header { position:relative; }
.idpt-header-wrap .idpt-popup-header h1 { font-size: 1.125rem; color:#000; line-height:1.125rem; }
.idpt-header-wrap .idpt-popup-header .btn-close { position: absolute; top:0; right:0; width:1.0625rem; height:1.0625rem; background:url('../img/common/btn-close.png'); background-size:100%; overflow:hidden; text-indent:100%; }

/* common */
.h-tit {text-align:center !important}
.cs-title {font-size:0.9375rem !important; font-weight:600}
h2.howdo-title {font-size:1.45rem; font-weight:400; }
h3.howdo-title {font-size:1.375rem; font-weight:400; }
h2.prev-title {font-size:1.45rem; font-weight:400; }
h3.prev-title {font-size:0.875rem; font-weight:600; margin-top:0.675rem}
.tit-paddingleft {padding-left:0.625rem}

.idpt-mt0 { margin-top:0!important; }
.idpt-mt10 { margin-top:0.3rem!important; }
.idpt-mt20 { margin-top:0.625rem!important; }
.idpt-mt24 { margin-top:0.75rem!important; }
.idpt-mt30 { margin-top:0.9375rem!important; }
.idpt-mt40 { margin-top:1.25rem!important; }
.idpt-mt50 { margin-top:1.5rem!important; }
.idpt-mt60 { margin-top:1.875rem!important; }
.idpt-mt80 { margin-top:2.5rem!important; }
.idpt-mt100 { margin-top:3.125rem!important; }

a.idpt-link-default { display:inline-block; border:none; color:#188bce; text-decoration:underline; }
a.idpt-link-black { display:inline-block; border:none; color:#000; }
a.underline { text-decoration:underline; }
a.idpt-link-eng { display:inline-block; border:none; color:#188bce; text-decoration:underline; word-break:break-all; word-wrap:break-word; }
a.underline { text-decoration:underline; }

.idpt-container { }
.popup-page .idpt-container { height:100%; overflow-y:auto; }

.idpt-cont-title { background-color:#edeef0; padding:0 1rem; }
.idpt-cont-title p { font-size: 0.875rem; color:#000; line-height:2.6875rem; font-weight:600}

.idpt-cont-check {background-color:#edeef0; padding:0.75rem 1rem; box-sizing:border-box}
.idpt-cont-check span {font-size: 0.75rem; color:#000; font-weight:600; padding-left:0.1rem}

.idpt-popcont-title { background-color:#f5f5f5; padding:1.25rem; box-sizing:border-box}
.idpt-popcont-title p { font-size: 0.8125rem; color:#3d3d3d; line-height:2.6875rem; }

.idpt-cont-box { padding:1.25rem 1rem; background-color:#fff; border-bottom:1px solid #e1e1e1; box-sizing:border-box; }
.idpt-cont-box.gray { background-color:#f9f9f9}
.idpt-cont-box.no-border {border-bottom:0 !important}
.idpt-cont-box.no-padding {padding-top:0 !important; padding-bottom:0 !important}
.idpt-cont-box.howdo { padding:2.5rem 1rem 1.875rem 1rem; min-height:10.5rem; box-sizing:border-box}
.idpt-cont-box p.title-howdo {font-size:0.875rem; color:#000; font-weight:600; }

.idpt-cont-box.howdo-bg01 { background:url('../img/how_do/howdo_title_bg01.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg02 { background:url('../img/how_do/howdo_title_bg02.png') #fbfbfb 95% 100% no-repeat; background-size:5.875rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg03 { background:url('../img/how_do/howdo_title_bg03.png') #fbfbfb 95% 100% no-repeat; background-size:5.875rem 5.6875rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg04 { background:url('../img/how_do/howdo_title_bg04.png') #fbfbfb 95% 100% no-repeat; background-size:6.0625rem 4.9375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg05 { background:url('../img/how_do/howdo_title_bg05.png') #fbfbfb 95% 100% no-repeat; background-size:6.125rem 4.3125rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg06 { background:url('../img/how_do/howdo_title_bg06.png') #fbfbfb 95% 100% no-repeat; background-size:5.0625rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg07 { background:url('../img/how_do/howdo_title_bg07.png') #fbfbfb 95% 100% no-repeat; background-size:7.5625rem 4.5rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg08 { background:url('../img/how_do/howdo_title_bg08.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg09 { background:url('../img/how_do/howdo_title_bg09.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg10 { background:url('../img/how_do/howdo_title_bg10.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg11 { background:url('../img/how_do/howdo_title_bg11.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg12 { background:url('../img/how_do/howdo_title_bg12.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg13 { background:url('../img/how_do/howdo_title_bg13.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg14 { background:url('../img/how_do/howdo_title_bg14.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg15 { background:url('../img/how_do/howdo_title_bg15.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg16 { background:url('../img/how_do/howdo_title_bg16.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg17 { background:url('../img/how_do/howdo_title_bg17.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg18 { background:url('../img/how_do/howdo_title_bg18.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg19 { background:url('../img/how_do/howdo_title_bg19.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg20 { background:url('../img/how_do/howdo_title_bg20.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg21 { background:url('../img/how_do/howdo_title_bg21.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.howdo-bg22 { background:url('../img/how_do/howdo_title_bg22.png') #fbfbfb 95% 100% no-repeat; background-size:4.9375rem 5.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.nopadding-bottom { padding-bottom:0 !important}

.idpt-cont-box.prev-bg01 { background:url('../img/damage_pre/prev_title_bg01.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg02 { background:url('../img/damage_pre/prev_title_bg02.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg03 { background:url('../img/damage_pre/prev_title_bg03.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg04 { background:url('../img/damage_pre/prev_title_bg04.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg05 { background:url('../img/damage_pre/prev_title_bg05.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg06 { background:url('../img/damage_pre/prev_title_bg06.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg07 { background:url('../img/damage_pre/prev_title_bg07.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg08 { background:url('../img/damage_pre/prev_title_bg08.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg09 { background:url('../img/damage_pre/prev_title_bg09.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }
.idpt-cont-box.prev-bg10 { background:url('../img/damage_pre/prev_title_bg10.png') #fbfbfb 92% 100% no-repeat; background-size:4.9375rem 6.375rem; padding-top:1.875rem !important; }

.idpt-cont-box.top-border { border-top:1px solid #e1e1e1; }
.idpt-cont-box.top-nopadding {padding-top:0 !important}
.idpt-dropdown { margin-top:0.9375rem; }
.idpt-dropdown .btn-dropdown { position:relative; width:100%; height:2.5rem; padding-left:0.9375rem; padding-right:2rem; font-size: 0.9375rem; color:#000; background-color:#f7f7f7; border-radius:0.3125rem; text-align:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.idpt-dropdown .btn-dropdown::after { position: absolute; content:''; display:block; width:0.75rem; height:0.375rem; top:50%; right:0.875rem; background:url('../img/common/btn-arrow-down.png') no-repeat; background-size:100% 100%; transform:translateY(-50%); }
.idpt-dropdown .btn-dropdown.dropdown-full { width:100%; }
.idpt-img-box { text-align:center; max-width:22.5rem; margin:0 auto; }
.idpt-img-box.left { text-align:left !important; }
.idpt-img-box.right { text-align:right !important; }
.idpt-img-box img { width:100%; }

.idpt-product-box { display:table; width:100%; font-size:0.875rem; background-color:#fff; box-sizing:border-box}
.idpt-product-box td {border:1px solid #e1e1e1; border-radius:0.25rem; padding:0.752rem; }

.idpt-cont-inbox { padding:1rem; background-color:#fff; border:1px solid #e1e1e1; border-radius:0.25rem}
.idpt-cont-inbox.gray { background-color:#f6f6f6}

/* input style */
form.idpt-form {border:0}
form.idpt-form input {width:100%; border-radius:0.25rem; }
form.idpt-form input.idpt-input-text {width:100%; font-size:0.8125rem; color:#000; padding:0.75rem 0.625rem; background:#f7f7f7; box-sizing:border-box; }
form.idpt-form input.idpt-input-text::placeholder { font-size:0.8125rem; color:#c1c1c1; background:#f7f7f7; }

form.idpt-form input[type=radio]:not(old) {
    margin:0; padding:0; opacity:0; 
    background:url(/images/check_on.png) no-repeat 0 0;  
    width:0; 
}
form.idpt-form input[type=radio]:not(old) + label {
    display: inline-block; 
    text-align: left; height:20px; padding-left: 25px; 
    background: url(/images/check_off_2.png) no-repeat 0 0; 
    line-height: 130%; vertical-align: top;
}
form.idpt-form input[type=radio]:not(old):checked + label {
    background: url(/images/check_on_2.png) no-repeat 0 0;
}

.recently-tel-box {position:relative}
.inputbox.bt-add {display:flex; position:relative; ms-flex-wrap:wrap; flex-wrap:wrap; }
.inputbox.bt-add input {display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-flex:10; -ms-flex:10; flex:10}

.idpt-link-wrap {position:relative; width:100%}
.idpt-link-wrap .input_area {display:block; width:100%; color:#c1c1c1; background:#f7f7f7; box-sizing:border-box; }
.idpt-link-wrap .link-btn-search {position:absolute; right:0.625rem; top:0.75rem; display:block; width:1.25rem; height:1.25rem; background:url('../img/common/btn-search.png') no-repeat;  background-size:1.25rem 1.25rem; }

.idpt-search-result {display:none; width:100%; height:auto}
.idpt-search-result.on {display:block !important}

/* text */
.idpt-container .accordian-cont-title { position:relative; font-size: 0.875rem; color:#000; font-weight: 700; margin-top:2.5rem; }
.idpt-container .accordian-cont-title-sub { position:relative; font-size: 0.875rem; color:#000; margin-top:1.875rem; }
.idpt-container .accordian-cont-desc { position:relative; font-size: 0.875rem; color:#000; margin-top:0.875rem; }
.idpt-container .accordian-cont-box-title { position:relative; font-size: 0.8125rem; color:#000; font-weight: 700; margin-top:1.25rem; }
.idpt-container .accordian-cont-box-txt { position:relative; font-size: 0.8125rem; color:#959595; }
.idpt-container .with-dot,
.idpt-container .with-dot-black { padding-left:0.4375rem; }
.idpt-container .with-dot::before { position: absolute; content:''; top:0.375rem; left:0; display:block; width:0.1875rem; height:0.1875rem; background:url('../img/common/list-type-disc.png'); background-size:100%; }
.idpt-container .with-dot-black::before { position: absolute; content:''; top:0.375rem; left:0; display:block; width:0.1875rem; height:0.1875rem; background:url('../img/common/list-type-disc-black.png'); background-size:100%; }
.idpt-container .txt-black { position:relative; font-size: 0.8125rem; color:#000; }
.idpt-container .black-title { font-size: 0.75rem; color:#000; font-weight: 700; }
.idpt-container .black-sub { font-size: 0.75rem; color:#000; padding-left:0.4375rem; }
.idpt-container .txt-small { font-size: 0.62rem; color:#000; }
.idpt-container .txt-gray { position:relative; font-size: 0.8125rem; color:#666; }
.idpt-container .gray-title { font-size: 0.75rem; color:#666; font-weight: 700; }
.idpt-container .gray-sub { font-size: 0.75rem; color:#959595; padding-left:0.4375rem; }
.idpt-container .sub-gray { font-size: 0.8125rem; color:#959595; padding-left:0.4375rem; }
.idpt-container .with-star { padding-left:0.5375rem; }
.idpt-container .with-star::before { position:absolute; content:'*'; left:0; }
.idpt-container .align-center { text-align:center; }
.idpt-container .align-right { text-align:right; }
.idpt-container .weight-bold { font-weight:600; font-weight:bold}
.idpt-container .idpt-txt-red {font-size:0.75rem; color:#f76252; }
.idpt-container .underline-gray {border-bottom:1px solid #e5e5e5; padding-bottom:0.75rem; }
.idpt-container .underline-black {border-bottom:1px solid #000; }

.idpt-mask-img {display:inline-block; width:0.65rem; height:0.65rem; background:url('../img/common/img_masking3.png') 0 0 no-repeat; background-size:100% 100%; margin-left:0.25rem; }

/* 안내문구 */
.idpt-cont-box .info-txt { position:relative; font-size:0.875rem; color:#000; }
.idpt-cont-box .info-txt + .info-txt { margin-top:1.25rem; }
.idpt-cont-box .info-txt-sub { position:relative; font-size:0.875rem; color:#959595; }
.idpt-cont-box .info-txt + .info-txt-sub { margin-top:0.5rem; }

.idpt-cont-box .info-txt + .info-box { margin-top:2.5rem; }
.idpt-cont-box .info-box .info-box-txt { position:relative; font-size: 0.875rem; color:#000; }
.idpt-cont-box .info-box .info-box-txt-sub { position:relative; font-size: 0.75rem; color:#959595; margin-top:0.625rem; }

.info-txt + .idpt-btn-wrap { margin-top:1.25rem; }
.info-txt-sub + .idpt-btn-wrap { margin-top:1.875rem; }

.idpt-btn-wrap {}
.idpt-btn-wrap.w50 {text-align:center; margin:0 auto}
.idpt-btn-wrap.w50 > a {width:48.5%; display:inline-block; margin-right:1%; }
.idpt-btn-wrap.w60 {text-align:center; margin:0 auto; width:60%}
.idpt-btn-wrap.w80 {text-align:center; margin:0 auto; width:80%}

.idpt-vat-area {clear:both; width:100%; height:auto}
.idpt-vat-area .vat-right { float:right }


.idpt-cont-box .info-tooltip { position:relative; }
.idpt-cont-box .info-tooltip > p { float:left; font-size: 0.875rem; color:#000; line-height:0.9375rem; }
.idpt-cont-box .info-tooltip .btn-tooltip-open { float:left; display:block; width:1.5625rem; height:0.875rem; background:url('../img/common/btn-tooltip-open.png'); background-size:100%; overflow:hidden; text-indent:100%; margin-left:0.375rem}
.idpt-cont-box .info-tooltip .idpt-tooltip-layer { display:none; position:absolute; width:11.625rem; padding:0.75rem 1.875rem 0.75rem 0.875rem; -webkit-box-sizing:border-box; box-sizing:border-box; font-size: 0.6875rem; color:#666; background-color:#fff; border:1px solid #178bce; top:1.25rem; z-index:20; }
.idpt-cont-box .info-tooltip .idpt-tooltip-layer .btn-tooltip-close { position:absolute; width:0.625rem; height:0.625rem; top:0.75rem; right:0.875rem; background:url('../img/common/btn-tooltip-close.jpg'); background-size:100%; overflow:hidden; text-indent:100%; }
.idpt-cont-box .info-tooltip .idpt-tooltip-layer::before { position: absolute; content:''; display:block; width:0.5rem; height:0.375rem; top:-0.375rem; left:1.25rem; background:url('../img/common/tooltip-point.png'); background-size:100%; }

.bt-fixed-area { position:fixed; left:0; bottom:0; z-index:25; width:100% }
.bt-fixed-area .bt-slice { width:100%; font-size:0; }
.bt-fixed-area .bt-slice > li {height:2.5rem; vertical-align:middle; display:inline-block; width:100%; margin-top:0 -webkit-box-sizing:border-box; box-sizing:border-box; margin-top:0.375rem; }
.bt-fixed-area .bt-slice > li:first-of-type { margin-top:0; }
.bt-fixed-area .bt-slice.full {width:100%}
.bt-fixed-area .bt-slice.full li { height:3.75rem; }
.bt-fixed-area .bt-slice.full li button { border-radius:0; font-size:1.125rem; text-align:center; }
.bt-fixed-area .bt-slice > li button {width:100%; height:100%; }
.bt-fixed-area .bt-slice > li.bt-red1 button {color:#fff; background:#e22f26}

/* accordian */
.idpt-accordian > li { position:relative; background-color:#fff; }
.idpt-accordian > li > a { position:relative; display:block; width:calc(100% - 2rem); height:3.5rem; line-height:3.5rem; font-size: 0.875rem; color:#000; font-weight: 600; -webkit-box-sizing:border-box; box-sizing:border-box; border-bottom:1px solid #e1e1e1; margin:0 auto;}
.idpt-accordian > li.two-line {padding-top:0.9rem}
.idpt-accordian > li.two-line > a { position:relative; display:block; width:calc(100% - 2rem); height:3.5rem; line-height:1.4rem; font-size: 0.875rem; color:#000; font-weight: 600; -webkit-box-sizing:border-box; box-sizing:border-box; border-bottom:1px solid #e1e1e1; margin:0 auto;}
.idpt-accordian > li > a.no-border {border-bottom:0 !important}
.idpt-accordian > li > a::after { position:absolute; content:''; display:block; width:0.75rem; height:0.375rem; top:50%; right:0; background:url('../img/common/btn-arrow-down.png') no-repeat; background-size:100% 100%; -webkit-transform:translateY(-50%); transform:translateY(-50%); }
.idpt-accordian > li:last-child > a { border-bottom:0; }
.idpt-accordian > li > a.open { border-bottom:0; }
.idpt-accordian > li > a.open::after { -webkit-transform:rotate(180deg); transform:rotate(180deg); }

.idpt-accordian-cont { display:none; padding:1.625rem 1rem; background-color:#fff; border-top:1px solid #e1e1e1;}

.card-list { margin-top:0.9375rem; }
.card-list > li { border:1px solid #e1e1e1; border-radius:0.25rem; background-color:#fff; }
.card-list > li + li { margin-top:0.625rem; }
.card-list .card-list-num { float:left; width:2.5rem; }
.card-list .card-list-num > p { font-size: 0.875rem; color:#000; font-weight: 600; text-align:center; margin-top:1.25rem; }
.card-list .card-list-cont { float:left; width:calc(100% - 2.5rem); border-left:1px solid #e1e1e1; -webkit-box-sizing:border-box; box-sizing:border-box; padding:1.25rem 0.9375rem; }
.card-list .card-list-cont .card-list-title { font-size: 0.875rem; color:#000; font-weight: 600; margin-top:1.25rem; }

.idpt-dot-list { margin-top:0.5rem; }
.idpt-dot-list > li { position:relative; font-size: 0.8125rem; color:#666; padding-left:0.625rem; }
.idpt-dot-list > li::before { position: absolute; display:block; content:''; width:0.1875rem; height:0.1875rem; background:url('../img/common/list-type-disc.png'); background-size:100%; top:0.375rem; left:0; }
.idpt-dot-list > li + li { margin-top:0.375rem; }
.idpt-dot-list-black { margin-top:0.5rem; }
.idpt-dot-list-black > li { position:relative; font-size: 0.8125rem; color:#000; padding-left:0.625rem; }
.idpt-dot-list-black > li::before { position: absolute; display:block; content:''; width:0.1875rem; height:0.1875rem; background:url('../img/common/list-type-disc-black.png'); background-size:100%; top:0.375rem; left:0; }
.idpt-dot-list-black > li + li { margin-top:0.375rem; }
.idpt-num-list { padding-left:0.8125rem; }
.idpt-num-list > li { list-style-type: decimal; font-size: 0.8125rem; color:#666; }
.idpt-num-list > li + li { margin-top:0.375rem; }
.idpt-num-list-black { padding-left:0.8125rem; }
.idpt-num-list-black > li { list-style-type: decimal; font-size: 0.8125rem; color:#000; }
.idpt-num-list-black > li + li { margin-top:0.375rem; }

.idpt-oneline-list {height:auto; box-sizing:border-box; }
.idpt-oneline-list li {font-size:0.875rem; width:100%; padding:1rem 0; border-bottom:1px solid #e1e1e1; box-sizing:border-box}
.idpt-oneline-list li .oneline-subject {display:inline-block; width:30%; text-align:left;}
.idpt-oneline-list li .oneline-cont {display:inline-block; width:70%; text-align:right; font-weight:600; }
.idpt-oneline-list li .oneline-last {display:inline-block; width:40%; text-align:left}
.idpt-oneline-list li.top-border {border-top:1px solid #e1e1e1}
.idpt-oneline-list li.no-border { border-bottom:0 !important; }
.idpt-oneline-list li .one-title {color:#000; font-size:0.875rem; }

.idpt-imgline-list {height:auto; box-sizing:border-box; }
.idpt-imgline-list li {font-size:0.875rem; width:100%; min-height:3.5rem; padding:1rem 0; border-bottom:1px solid #e1e1e1; box-sizing:border-box}
.idpt-imgline-list li.three_line { min-height:6.5rem !important; }
.idpt-imgline-list li.two_line { min-height:4rem !important; }
.idpt-imgline-list li > div {display:block; float:left; }
.idpt-imgline-list li .imgline-subject {display:inline-block; width:30%; max-width:4.5rem}
.idpt-imgline-list li .imgline-cont {display:inline-block; width:70%; }
.idpt-imgline-list li .imgline-first {display:inline-block; width:20%}
.idpt-imgline-list li .imgline-second {display:inline-block; width:40%; }
.idpt-imgline-list li .imgline-third {display:inline-block; width:60%; }
.idpt-imgline-list li.top-border {border-top:1px solid #e1e1e1}
.idpt-imgline-list li.no-border { border-bottom:0 !important; }
idpt-imgline-list li .idpt-img-box {text-align:left !important; margin-top:0.45rem; }

.idpt-oneline-list-sm {height:auto; box-sizing:border-box; }
.idpt-oneline-list-sm li {font-size:0.75rem; width:100%; padding:0.75rem 0.625rem; border-bottom:1px solid #e1e1e1; box-sizing:border-box}
.idpt-oneline-list-sm li .oneline-subject {display:inline-block; width:60%; text-align:left}
.idpt-oneline-list-sm li .oneline-cont {display:inline-block; width:40%; text-align:right; font-weight:600; }
.idpt-oneline-list-sm li.top-border {border-top:1px solid #e1e1e1}
.idpt-oneline-list-sm li.no-border { border-bottom:0 !important; }

.idpt-oneline-list-dotted {height:auto; box-sizing:border-box; }
.idpt-oneline-list-dotted > li {font-size:0.75rem; width:100%; padding:0.75rem 0; border-bottom:1px dotted #e1e1e1; box-sizing:border-box}
.idpt-oneline-list-dotted li .oneline-subject {display:inline-block; width:60%; text-align:left}
.idpt-oneline-list-dotted li .oneline-cont {display:inline-block; width:40%; text-align:right; font-weight:600; }
.idpt-oneline-list-dotted li.top-border {border-top:1px solid #e1e1e1}
.idpt-oneline-list-dotted li.no-border { border-bottom:0 !important; }

.idpt-twocont-list {height:auto; box-sizing:border-box; }
.idpt-twocont-list li { display:block; font-size:0.8125rem; width:100%; height:3.9rem; border:1px solid #e1e1e1; margin-bottom:0.75rem}
.idpt-twocont-list li .twocont-subject { float:left; display:inline-block; width:50%; height:100%; background-color:#f5f5f5; border-right:1px solid #e1e1e1; padding:0.725rem; box-sizing:border-box; }
.idpt-twocont-list li .twocont-cont { float:left; display:inline-block; width:50%; height:100%; padding:0.725rem; box-sizing:border-box; }
.idpt-twocont-list li.top-border {border-top:1px solid #e1e1e1}
.idpt-twocont-list li.no-border { border-bottom:0 !important; }

.idpt-tag-box {width:100%; margin:0; padding:0}
.idpt-tag-box li {display:inline-block; color:#178bce}
.idpt-tag-box li a {display:inline-block; height:1.875rem; line-height:1.875rem; font-size:0.75rem; background-color:#eff6fb; color:#178bce; font-weight:600; padding:0 0.75rem; margin:0 0.375rem 0.75rem 0; border-radius:0.9375rem; }

.idpt-link-box {width:100%; margin:0; padding:0}
.idpt-link-box.right-align {text-align:right}
.idpt-link-box li {display:inline-block; border:0; color:#188bce}
.idpt-link-box li a { display:inline-block; font-size:0.8125rem !important; color:#188bce; margin-right:0.5rem; text-decoration:underline }

.idpt-container ul li.right-arrow {background:url(../img/common/btn-right-arrow.png) no-repeat; background-size:0.4375rem 0.6875rem; background-position:100% 50%; }
.idpt-container .right-arrow {background:url(../img/common/btn-right-arrow.png) no-repeat; background-size:0.4375rem 0.6875rem; background-position:100% 50%; }

.idpt-accordian-cont .accordian-cont-box { padding:1.25rem; background-color:#fff; border:1px solid #e1e1e1; border-radius:0.25rem; margin-top:0.9375rem; }
.idpt-accordian-cont .accordian-cont-box + .accordian-cont-box { margin-top:0.625rem; }

.idpt-box-list { margin-top:1rem; width:100%; height:auto; -webkit-box-sizing:border-box; box-sizing:border-box; background:#fff; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5; }
.idpt-box-list li { position:relative; width:50%; min-height:3.1875rem; float:left; display:inline-block; text-align:center; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; padding:1rem; font-size:0.8125rem; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-box-list li .box-title {color:#000; font-weight:600; }
.idpt-box-list li .box-cont {color:#666666; }
.idpt-box-list li:after, .idpt-box-list li:before {top: 100%; left: 50%; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; }
.idpt-box-list li:after {border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 7px; margin-left: -7px; }
.idpt-box-list li:before {	border-color: rgba(229, 229, 229, 0); border-top-color: #e5e5e5; border-width: 8px; margin-left: -8px; }
.idpt-box-list li.w100 {clear:both; float:none; width:100% !important; }
.idpt-box-list li.w100:after, .idpt-box-list li.w100:before {border:0 !important; }
.idpt-box-list li.w100-arrow {clear:both; float:none; width:100% !important}

/* FAQ */
.idpt-toggle-btn { position:relative; width:100%; height:3.5rem; padding:0 1rem; font-size: 0.875rem; color:#000; text-align:left; font-weight:600; background-color:#fff; border-bottom:1px solid #e1e1e1; }
.idpt-toggle-btn::before { position: absolute; content:''; display:block; width:0.8125rem; height:0.125rem; background-color:#a9a9a9; top:1.625rem; right:1.25rem; }
.idpt-toggle-btn::after { position: absolute; content:''; display:block; height:0.8125rem; width:0.125rem; background-color:#a9a9a9; top:1.325rem; right:1.64rem; }
.idpt-toggle-btn.open::after { display:none; }

.idpt-toggle-cont { display:none; }
.idpt-faq-question { position:relative; padding:1.25rem 1.25rem 1.25rem 2.2625rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }
.idpt-faq-answer { position:relative; padding:1.25rem 1.25rem 1.25rem 2.2625rem; background-color:#f5f5f5; border-bottom:1px solid #e5e5e5; }
.idpt-toggle-cont .faq-icon-txt {position:absolute; left:1rem; font-weight:600; font-size:0.875rem; }
.idpt-toggle-cont .idpt-faq-question .faq-icon-txt { top:1.25rem; }
.idpt-toggle-cont .idpt-faq-answer .faq-icon-txt { top:1.45rem; }
.idpt-faq-question > p { font-size:0.875rem; color:#000}
.idpt-faq-answer > p { font-size: 0.8125rem; color:#000; line-height:1.6em; }
.idpt-faq-answer > ul { padding-left:0.8125rem; }
.idpt-faq-answer > ul > li { list-style-type: decimal; font-size: 0.8125rem; color:#000; line-height:1.6em; }
.idpt-faq-answer > ul > li + li { margin-top:0.375rem; }
.idpt-faq-btn { padding:1.875rem 1.25rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }

/* 이용안내 */
.idpt-guide-title { padding:1.125rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }
.idpt-guide-title > p { font-size: 0.875rem; color:#000; font-weight: 700; }
.idpt-guide-cont { padding:1.25rem; background-color:#fff; border-bottom:1px solid #e5e5e5; }

/* button */
.idpt-btn-cs { display:block; height:2.25rem; font-size: 0.875rem; text-align:center; line-height:2.25rem; border-radius:1.125rem; border:1px solid #999; box-sizing:border-box;}
.idpt-btn-cs.btn-full { width:100%; }
.idpt-btn-cs.btn-blue { color:#f76252; border-color:#f76252; }
.idpt-btn-cs.btn-blue-noborder { color:#fff; border:0; background-color:#f76252; }
.idpt-btn-cs.btn-blue-nostyle { font-size:0.8125rem; border:none; color:#2e8fcc; background:#fff; text-align:right; text-decoration:underline; }
.idpt-btn-cs.btn-blue-nostyle.left { border:none; color:#2e8fcc; background:#fff; text-align:left; text-decoration:underline; }
.idpt-btn-cs.btn-blue-nostyle.small {font-size:0.8125rem}
.idpt-btn-cs + .idpt-btn-cs { margin-top:0.625rem; }
.idpt-reference { display:inline-block; font-size: 0.8125rem; color:#000; text-decoration: underline !important; }

.idpt-btn-table { display:block; height:auto; }
.idpt-btn-table.btn-blue-nostyle { font-size:0.875rem; border:none; color:#2e8fcc; text-align:right; text-decoration:underline}
.idpt-btn-table.btn-blue-nostyle.left { border:none; color:#2e8fcc; text-align:left; text-decoration:underline; }
.idpt-btn-table.btn-blue-nostyle.center { border:none; color:#2e8fcc; text-align:center; text-decoration:underline; }
.idpt-btn-table.btn-blue-nostyle.small {font-size:0.8125rem}

/* 2018.11.15 추가 */
/* table */
.idpt-tbl-type01 { margin-top:0.9375rem; border:1px solid #cfcfcf; background-color:#fff; }
.idpt-tbl-type01 thead { background-color:#f5f5f5; }
.idpt-tbl-type01 thead tr,
.idpt-tbl-type01 tbody tr { border-bottom:1px solid #cfcfcf; }
.idpt-tbl-type01 thead th,
.idpt-tbl-type01 thead td { font-size: 0.75rem; color:#878787; border-right:1px solid #cfcfcf; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-tbl-type01 thead th:last-child,
.idpt-tbl-type01 thead td:last-child { border-right:0; }
.idpt-tbl-type01 tbody th,
.idpt-tbl-type01 tbody td { font-size: 0.75rem; color:#000; border-right:1px solid #cfcfcf; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-tbl-type01 tbody th { font-weight: 600; background-color:#f5f5f5; }
.idpt-tbl-type01 li { font-size: 0.75rem; }
.idpt-tbl-type01 p { font-size:0.75rem !important}

.idpt-tbl-type02 { margin-top:0.9375rem; border:1px solid #cfcfcf; background-color:#fff; }
.idpt-tbl-type02 thead { background-color:#f5f5f5; }
.idpt-tbl-type02 thead th,
.idpt-tbl-type02 thead td { font-size: 0.75rem; color:#000; border-bottom:1px solid #cfcfcf; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-tbl-type02 thead th.red {color:#f76252 !important}
.idpt-tbl-type02 tbody tr.line_sec {border-top:1px solid #cfcfcf}
.idpt-tbl-type02 tbody td { font-size: 0.75rem; color:#000; padding:0.6rem; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-tbl-type02 tbody td.align-right {text-align:right}

.idpt-tbl-type03 { margin-top:0.9375rem; background-color:none; }
.idpt-tbl-type03 thead { background-color:#fff; }
.idpt-tbl-type03 thead th,
.idpt-tbl-type03 thead td { font-size: 0.8125rem; border-bottom:1px solid #cfcfcf; text-align:left; vertical-align:top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-tbl-type03 tbody tr.line_sec {border-top:1px solid #cfcfcf}
.idpt-tbl-type03 tbody td { font-size: 0.8125rem !important; color:#000; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; padding-bottom:0.75rem; }
.idpt-tbl-type03 tbody td.nopadding {padding-bottom:0 !important}
.idpt-tbl-type03 tbody .noborder {border-bottom:0 !important}
.idpt-tbl-type03.popup-table tbody tr { border-bottom:1px dotted #cfcfcf; }
.idpt-tbl-type03.popup-table tbody td {padding:1rem 0; }
.idpt-tbl-type03.popup-table tbody td > .idpt-img-box {text-align:left !important; padding-top:0.2rem}

.idpt-tbl-type04 { background-color:#fff; border-top:1px solid #cfcfcf; border-left:1px solid #cfcfcf; }
.idpt-tbl-type04 thead { background-color:#f5f5f5; }
.idpt-tbl-type04 thead th,
.idpt-tbl-type04 thead td { font-size: 0.75rem; color:#000; padding:0.6875rem; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-tbl-type04 tbody th,
.idpt-tbl-type04 tbody td { font-size: 0.75rem; color:#000; padding:0.6875rem; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; border-bottom:1px solid #cfcfcf; border-right:1px solid #cfcfcf}

.idpt-tbl-type05 { }
.idpt-tbl-type05 thead { background-color:#f5f5f5; }
.idpt-tbl-type05 thead th,
.idpt-tbl-type05 thead td { font-size: 0.75rem; color:#000; padding:1rem 0; text-align:left; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-tbl-type05 tbody th,
.idpt-tbl-type05 tbody td { font-size: 0.75rem; color:#000; padding:1.75rem 0; vertical-align: top; -webkit-box-sizing:border-box; box-sizing:border-box}
.idpt-tbl-type05 tbody tr {border-bottom:1px solid #f6f6f6}

.idpt-tbl-type06 { }
.idpt-tbl-type06 thead { background-color:#f5f5f5; }
.idpt-tbl-type06 thead th,
.idpt-tbl-type06 thead td { font-size: 0.75rem; color:#000; padding:1rem 0; text-align:left; vertical-align: center; -webkit-box-sizing:border-box; box-sizing:border-box; font-weight:600}
.idpt-tbl-type06 tbody th,
.idpt-tbl-type06 tbody td { font-size: 0.75rem; color:#000; padding:1rem 0; vertical-align: center; -webkit-box-sizing:border-box; box-sizing:border-box}
.idpt-tbl-type06 tbody td.right-arrow {background-position:90% 50% !important}
.idpt-tbl-type06 tbody tr {border-bottom:1px solid #f6f6f6}
.idpt-tbl-type06 tbody tr.noborder {border-bottom:0 !important}
.idpt-tbl-type06 tbody td .blue {color:#2e8fcc !important}

.accordian-cont-box .cont-box-arrow {width:100%; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
background:url('../img/common/btn-right-arrow.png') center 40% no-repeat; background-size:0.4375rem 0.6875rem;}
.accordian-cont-box .cont-box-arrow .cont-box-half {width:50%; float:left; display:inline-block; padding-bottom:0.6875rem; }
.accordian-cont-box .cont-box-bottom {clear:both; float:none; display:block; width:100%; border-top:1px solid #e1e1e1; padding-top:0.6875rem; }

.idpt-bold { font-weight: 600; }

/* 2018.11.16 추가 */
.idpt-circle-num-list { counter-reset: numList; }
.idpt-circle-num-list > li { position:relative; padding-left:0.975rem; font-size: 0.8125rem; color:#959595; }
.idpt-circle-num-list > li::before { position:absolute; display:block; counter-increment: numList; content: counter(numList); top:0.09rem; left:0; width:0.8rem; height:0.8rem; line-height:0.8rem; font-size: 0.6rem; color:#959595; text-align:center; border:1px solid #959595; border-radius:0.4rem; -webkit-box-sizing:border-box; box-sizing:border-box; }
.idpt-circle-num-list > li + li { margin-top:0.375rem; }
.idpt-circle-num-list.black > li { color:#000; }
.idpt-circle-num-list.black > li::before { color:#000; border-color:#000; }