@charset "UTF-8";
/* 임지선 */
/* 공통 */
.accordion .acco-product-tit-eng {
  font-size: 0.9375rem;
  font-family: "Helvetica Neue", Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

.widget.product-option-list .radiobox {
  width: 100%;
  margin-bottom: 0.5625rem;
}

.widget.product-option-list .radiobox:before {
  position: absolute;
  top: 50%;
  margin-top: -0.625rem;
  left: 1.3125rem;
}

.widget.product-option-list .product-option-list-con {
  overflow: hidden;
  padding: 1.875rem 1.3125rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.1875rem;
}

.widget.product-option-list .product-option-list-con .product-name {
  padding-left: 2.5rem;
  max-width: 10rem;
}

.widget.product-option-list .product-option-list-con .product-name dt {
  font-size: 0.9375rem;
  font-weight: 700;
}

.widget.product-option-list .product-option-list-con .product-name dd {
  font-size: 0.875rem;
  color: #757575;
}

.widget.product-option-list .product-option-list-con .ico {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  background: url(/img/ico/ico-product-illustration.png) no-repeat;
  background-size: 62.5rem;
  background-position: -4.375rem -4.375rem;
  position: absolute;
  top: 50%;
  margin-top: -1.875rem;
  right: 1.3125rem;
}

.bt-dropdown.product-type {
  background: transparent;
  border: none;
}

/* //공통 */
/* font */
.product-tit {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.product-info {
  font-size: 0.75rem;
  color: #757575;
}

.product-p-14 {
  font-size: 0.875rem;
}

.product-plan-wrap .tit-wrap .sub-tit {
  font-weight: 400;
  font-size: 0.875rem;
  display: block;
  margin-bottom: 0.8125rem;
}

.product-plan-wrap .tit-wrap .tit {
  font-weight: 700;
  font-size: 1.875rem;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.product-plan-wrap .tit-wrap .tit .ico {
  position: absolute;
  top: 0;
  right: -1.8125rem;
  display: inline-block;
  width: 1.8125rem;
  height: 0.9375rem;
  background: url(/img/ico/badge-product.png) no-repeat;
  background-size: 1.8125rem;
}

.product-plan-wrap .tit-wrap .tit .ico.lte {
  background-position: 0 0;
}

.product-plan-wrap .plan-detail {
  margin-top: 2.9375rem;
}

.product-plan-wrap .plan-detail .small-txt {
  font-size: 0.75rem;
  color: #757575;
  display: block;
  margin-bottom: 0.625rem;
}

.product-plan-wrap .plan-detail .txt {
  font-size: 0.875rem;
}

.product-plan-wrap .plan-detail .detail-list li {
  font-size: 1.0625rem;
  font-weight: 400;
  position: relative;
  padding: 0.8125rem 0;
}

.product-plan-wrap .plan-detail .detail-list li .ico {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(/img/ico/ico-product-80.png) no-repeat;
  background-size: 2.5rem;
}

.product-plan-wrap .plan-detail .detail-list li .ico.data {
  background-position: -0.125rem -0.625rem;
  height: 1.25rem;
}

.product-plan-wrap .plan-detail .detail-list li .ico.share {
  background-position: -0.3125rem -2.8125rem;
  height: 1.9375rem;
}

.product-plan-wrap .plan-detail .detail-list li .ico.insu {
  background-position: -0.25rem -5.125rem;
  height: 2.1875rem;
}

.product-plan-wrap .plan-detail .price-wrap {
  margin-top: 3rem;
  font-weight: 400;
}

.product-plan-wrap .plan-detail .price-wrap .tit {
  font-size: 0.8125rem;
}

.product-plan-wrap .plan-detail .price-wrap .price {
  font-size: 1.25rem;
  color: #ea002c;
}

.product-plan-wrap .plan-detail .price-wrap .price > em {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 0.1875rem;
}

.product-plan-wrap .plan-detail .price-wrap .txt-small {
  font-size: 0.75rem;
  color: #757575;
  margin-left: 0.375rem;
  vertical-align: baseline;
}

.product-plan-wrap .plan-detail .btn-wrap {
  margin-top: 1.625rem;
}

.product-plan-wrap .plan-detail .btn-sub-wrap {
  margin-top: 1.875rem;
}

.product-plan-wrap .plan-detail .btn-sub-wrap > ul {
  overflow: hidden;
  border-top: 1px solid #f1f1f1;
}

.product-plan-wrap .plan-detail .btn-sub-wrap > ul > li {
  float: left;
  width: 33.333%;
  text-align: center;
}

.product-plan-wrap .plan-detail .btn-sub-wrap > ul > li:first-of-type {
  text-align: left;
}

.product-plan-wrap .plan-detail .btn-sub-wrap > ul > li:last-of-type {
  text-align: right;
}

.product-plan-wrap .plan-detail .btn-sub-wrap > ul > li button {
  padding: 0.9375rem 0;
  color: #757575;
  font-size: 0.75rem;
}

.product-plan-wrap .plan-detail .btn-sub-wrap > ul > li button:disabled {
  opacity: .3;
}

.recommend-prd-box > li {
  border: 1px solid #e1e1e1;
  border-radius: 0.1875rem;
  position: relative;
  padding: 1.875rem 1.125rem;
  margin-top: 0.625rem;
}

.recommend-prd-box > li dl dt {
  font-weight: 700;
}

.recommend-prd-box > li dl dd.price {
  font-size: 0.8125rem;
}

.recommend-prd-box > li dl dd.price .txt-red {
  color: #ea002c;
  font-family: "Helvetica Neue", Roboto, sans-serif;
  letter-spacing: 0;
  font-weight: 700;
  vertical-align: baseline;
  margin-left: 0.4375rem;
  font-size: 0.9375rem;
}

.recommend-prd-box > li dl dd.info {
  font-size: 0.875rem;
  color: #757575;
  margin-top: 1.125rem;
}

.recommend-prd-box > li .ico {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.625rem;
  display: inline-block;
  width: 5.625rem;
  height: 5.625rem;
  background: url(/img/ico/ico-product-illustration.png) -53.4375rem -3.4375rem no-repeat;
  background-size: 62.5rem;
}

.recommend-prd-box.type2 .ico {
  width: 3.75rem;
  height: 3.75rem;
  background: url(/img/ico/ico-product-120.png) no-repeat;
  background-size: 3.75rem;
  right: 1.75rem;
}

.recommend-prd-box.type2 .ico.t-ars {
  background-position: 0 0;
}

.recommend-prd-box.type2 .ico.t-pay {
  background-position: 0 -3.75rem;
}

.recommend-prd-box.type2 .ico.cloud {
  background-position: 0 -7.5rem;
}

.box-contents .title-tx.tx-bold {
  font-weight: 700;
}

.box-contents.product-box-style .basic-list ul li .title {
  font-weight: 400;
  color: #000;
}

.box-contents.product-box-style .basic-list ul li .tx-cont {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0;
}

.product-pop-list > ul > li {
  overflow: hidden;
  padding: 1.25rem 0;
  border-top: 1px solid #f1f1f1;
}

.product-pop-list > ul > li:first-of-type {
  border-top: none;
}

.product-pop-list > ul > li > span {
  float: left;
  display: block;
  width: 50%;
}

.product-pop-list > ul > li > span.list-tit {
  font-size: 0.875rem;
  color: #757575;
}

.product-pop-list > ul > li > span.list-con {
  font-size: 0.9375rem;
  text-align: right;
}

.product-pop-agree {
  border-top: 1px solid #f1f1f1;
  padding-top: 1.5625rem;
}

.product-pop-agree .agree-txt {
  font-size: 0.8125rem;
  font-weight: 700;
  vertical-align: baseline;
  margin-left: 0.625rem;
}

.product-before-after .box-contents .txt-red {
  color: #ea002c;
}

.product-before-after .box-contents .tit-wrap {
  overflow: hidden;
}

.product-before-after .box-contents .tit-wrap .title-tx {
  float: left;
}

.product-before-after .box-contents .tit-wrap .tit-con {
  float: right;
  text-align: right;
  font-size: 0.8125rem;
}

.product-before-after .box-contents .tit-wrap .tit-con em {
  font-size: 0.875rem;
}

.product-before-after .box-contents.before {
  border-radius: 0.3125rem 0.3125rem 0 0;
  background: #d6dbe5;
  position: relative;
}

.product-before-after .box-contents.before:after {
  content: '';
  position: absolute;
  bottom: -1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url(/img/ico/ico-product-80.png) -0.25rem -7.75rem no-repeat;
  background-size: 2.5rem;
}

.product-before-after .box-contents.after {
  border-radius: 0 0 0.3125rem 0.3125rem;
}

.product-union-line .tit {
  font-size: 0.8125rem;
  font-weight: 700;
}

.list-dot-wrap.type2 .list {
  font-size: 0.75rem;
  color: #757575;
  padding: 0.375rem 0 0.375rem 0.75rem;
}

/* 김태균 */
/* 상품상세 메세지 상단 더미 이미지 */
.msg-present-box .msg-present-comp.product-pdex0103 .ico {
  width: 7.5rem;
  height: 7.5rem;
  margin-left: -3.75rem;
  background-image: url(/img/product/PD_ex_01_03.png);
  background-size: 7.5rem 7.5rem;
  background-position: 0 0;
}

.msg-present-box .msg-present-comp.product-pdex0203 .ico {
  width: 7.5rem;
  height: 7.5rem;
  margin-left: -3.75rem;
  background-image: url(/img/product/PD_ex_02_03.png);
  background-size: 7.5rem 7.5rem;
  background-position: 0 0;
}

.msg-present-box .msg-present-comp.product-pdex0206 .ico {
  width: 7.5rem;
  height: 7.5rem;
  margin-left: -3.75rem;
  background-image: url(/img/product/PD_ex_02_06.png);
  background-size: 7.5rem 7.5rem;
  background-position: 0 0;
}

.detail-list-title {
  margin-bottom: 1.5625rem;
  font-size: 0.9375rem;
  font-weight: 700;
}

/* 이것만은 꼭 확인하세요. */
.acco-style .acc-checklis {
  margin-top: 1.875rem;
  padding-top: 0.8125rem;
  border-top: 1px solid #e1e1e1;
}

.acco-style .acc-checklis .checklis-li {
  padding: 0 0 1.75rem;
}

.acco-style .acc-checklis .checklis-li .checklis-title {
  position: relative;
  padding-left: 0.8125rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.acco-style .acc-checklis .checklis-li .checklis-title:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  padding: 0.125rem;
  background: #7b7b7b;
  border-radius: 100%;
}

.acco-style .acc-checklis .checklis-li .checklis-cont .list {
  position: relative;
  margin-top: 1rem;
  padding-left: 1.625rem;
  font-size: 0.875rem;
}

.acco-style .acc-checklis .checklis-li .checklis-cont .list:before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0.8125rem;
  width: 0.1875rem;
  height: 0.0625rem;
  background: #757575;
}

.acco-style .checklist-dot {
  padding: 0 0 0.9375rem;
}

.acco-style .checklist-dot .list {
  position: relative;
  margin-top: 0.8125rem;
  padding-left: 0.8125rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #757575;
  font-size: 0.75rem;
}

.acco-style .checklist-dot .list:before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: 0;
  padding: 0.125rem;
  background: #7b7b7b;
  border-radius: 100%;
}

.acco-style .checklist-dot > .list:first-child {
  margin-top: 0;
}

/* */
.compare-benefits {
  margin-top: 2.5rem;
}

.compare-benefits .compare-title {
  position: relative;
  padding-left: 0.8125rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.compare-benefits .compare-title:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  padding: 0.125rem;
  background: #7b7b7b;
  border-radius: 100%;
}

.compare-benefits .compare-title .str {
  color: #e80a0a;
  vertical-align: baseline;
}

.compare-benefits .compare-list {
  padding: 0 0 1.75rem 0.75rem;
}

.compare-benefits .compare-list .list {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.box-contents .product-title {
  font-size: 0.9375rem;
  font-weight: 700;
}

.product-totalmoney {
  position: relative;
}

.product-totalmoney .total-money {
  position: absolute;
  bottom: 0;
  right: 0;
}

.extraservice-info .extraservice-photo {
  padding-top: 1.875rem;
}

.extraservice-info .extraservice-photo img {
  width: 100%;
}

.extraservice-info .extraservice-text {
  margin-top: 1.25rem;
  font-size: 0.875rem;
}

.extraservice-info .extraservice-link .bt-link-tx {
  position: relative;
  display: inline-block;
  width: auto !important;
  padding: 0 1.25rem 0 0;
  font-size: 0.75rem;
  color: #325ec1;
  font-weight: 400;
  vertical-align: baseline;
}

.extraservice-info .extraservice-link .bt-link-tx .ico {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0.6875rem;
  height: 0.6875rem;
  margin: 0.5rem 0 0 0.3125rem;
  vertical-align: top;
  background: url(/img/ico/ico-group.png) no-repeat -0.4375rem -11.875rem;
  background-size: 2.875rem;
}

.extraservice-info .extraservice-link .bt-link-tx .ico.type1 {
  margin: 0.1875rem 0 0 0.3125rem;
}

.product-setchage dt {
  color: #7b7b7b;
  font-size: 0.875rem;
}

.product-setchage dd {
  margin-top: 0.625rem;
  font-size: 0.9375rem;
}

.cont-box.product-contboxgap {
  padding: 0.625rem 1.625rem 1.25rem;
}

.coupledline-list .list-box {
  display: table;
  width: 100%;
}

.coupledline-list .list-box .coupledline-title {
  display: table-cell;
  font-size: 0.9375rem;
  vertical-align: middle;
}

.coupledline-list .list-box .coupledline-number {
  display: table-cell;
  font-size: 1rem;
  font-weight: 700;
  text-align: right;
  vertical-align: middle;
}

.coupledline-list .list-box .coupledline-close {
  display: table-cell;
  width: 2.5rem;
  text-align: right;
  vertical-align: middle;
}

.coupledline-list .list-box .coupledline-close button {
  width: 1.5625rem;
  height: 1.5625rem;
  vertical-align: 0.3125rem;
  background: url(/img/ico/ico-group.png) no-repeat 0 -9.375rem;
  background-size: 3.125rem;
  font-size: 0;
  line-height: 0;
}
