@charset "UTF-8";
/* 임지선 */
/* 공통 */
.accordion .acco-product-tit-eng {
  font-size: 0.9375rem;
  font-family: "Helvetica Neue", Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

.widget.product-option-list .radiobox {
  width: 100%;
  margin-bottom: 0.5625rem;
}

.widget.product-option-list .radiobox:before {
  position: absolute;
  top: 50%;
  margin-top: -0.625rem;
  left: 1.3125rem;
}

.widget.product-option-list .product-option-list-con {
  overflow: hidden;
  padding: 1.875rem 1.3125rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.1875rem;
}

.widget.product-option-list .product-option-list-con .product-name {
  padding-left: 2.5rem;
  max-width: 10rem;
}

.widget.product-option-list .product-option-list-con .product-name dt {
  font-size: 0.9375rem;
  font-weight: 700;
}

.widget.product-option-list .product-option-list-con .product-name dd {
  font-size: 0.875rem;
  color: #757575;
}

.widget.product-option-list .product-option-list-con .ico {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  background: url(/img/ico/ico-product-illustration.png) no-repeat;
  background-size: 62.5rem;
  background-position: -4.375rem -4.375rem;
  position: absolute;
  top: 50%;
  margin-top: -1.875rem;
  right: 1.3125rem;
}

.bt-dropdown.product-type {
  background: transparent;
  border: none;
}

/* //공통 */
/* font */
.product-tit {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.product-info {
  font-size: 0.75rem;
  color: #757575;
}

.product-plan-wrap .tit-wrap .sub-tit {
  font-weight: 400;
  font-size: 0.875rem;
}

.product-plan-wrap .tit-wrap .tit {
  font-weight: 700;
  font-size: 1.875rem;
  position: relative;
  display: inline-block;
}

.product-plan-wrap .tit-wrap .tit .ico {
  position: absolute;
  top: 0.375rem;
  right: -1.8125rem;
  display: inline-block;
  width: 1.8125rem;
  height: 0.9375rem;
  background: url(/img/ico/badge-product.png) no-repeat;
  background-size: 1.8125rem;
}

.product-plan-wrap .tit-wrap .tit .ico.lte {
  background-position: 0 0;
}

.product-plan-wrap .plan-detail {
  margin-top: 2.9375rem;
}

.product-plan-wrap .plan-detail .detail-list li {
  font-size: 1.0625rem;
  position: relative;
  padding: 0.8125rem 0;
}

.product-plan-wrap .plan-detail .detail-list li .small-txt {
  font-size: 0.75rem;
  color: #757575;
  display: block;
  margin-bottom: 0.625rem;
}

.product-plan-wrap .plan-detail .detail-list li .ico {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(/img/ico/ico-product-80.png) no-repeat;
  background-size: 2.5rem;
}

.product-plan-wrap .plan-detail .detail-list li .ico.data {
  background-position: -0.125rem -0.625rem;
  height: 1.25rem;
}

.product-plan-wrap .plan-detail .detail-list li .ico.share {
  background-position: -0.3125rem -2.8125rem;
  height: 1.9375rem;
}

.product-plan-wrap .plan-detail .detail-list li .ico.insu {
  background-position: -0.25rem -5.125rem;
  height: 2.1875rem;
}

.product-plan-wrap .plan-detail .btn-wrap {
  margin-top: 1.625rem;
}

/* 김태균 */
.msg-present-box .msg-present-comp.product-pdex0203 .ico {
  width: 7.5rem;
  height: 7.5rem;
  margin-left: -3.75rem;
  background-image: url(/img/product/PD_ex_02_03.png);
  background-size: 7.5rem 7.5rem;
  background-position: 0 0;
}

.msg-present-box .msg-present-comp.product-pdex0206 .ico {
  width: 7.5rem;
  height: 7.5rem;
  margin-left: -3.75rem;
  background-image: url(/img/product/PD_ex_02_06.png);
  background-size: 7.5rem 7.5rem;
  background-position: 0 0;
}
