/* widget */
.widget.inline {
  display: inline-block;
}

/* slider */
.slider .swiper-slide, .slider2 .swiper-slide, .slider3 .swiper-slide, .slider4 .swiper-slide, .slider5 .swiper-slide {
  box-sizing: border-box;
  padding: 0 0.25rem 0;
}

.slider:before, .slider2:before, .slider3:before, .slider4:before, .slider5:before {
  content: "";
  display: block;
  clear: both;
}

.slider .type1, .slider2 .type1, .slider3 .type1, .slider4 .type1, .slider5 .type1 {
  position: relative;
}

.slider .type1 .slider-box, .slider2 .type1 .slider-box, .slider3 .type1 .slider-box, .slider4 .type1 .slider-box, .slider5 .type1 .slider-box {
  position: relative;
}

.slider .type1 .slider-box .slick-initialized .slick-list, .slider2 .type1 .slider-box .slick-initialized .slick-list, .slider3 .type1 .slider-box .slick-initialized .slick-list, .slider4 .type1 .slider-box .slick-initialized .slick-list, .slider5 .type1 .slider-box .slick-initialized .slick-list {
  overflow: visible;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont {
  position: relative;
  padding: 1rem;
  border-radius: 0.1875rem;
  overflow: hidden;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #ef4565;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow .ico, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow .ico, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow .ico, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow .ico, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont .bt-link-arrow .ico {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 0.375rem;
  height: 0.625rem;
  margin: auto;
  background: url(/img/ico/ico-group.png) no-repeat -2.375rem -2.125rem;
  background-size: 3.25rem;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl {
  color: #fff;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt {
  font-size: 1.125rem;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt em, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt em, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt em, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt em, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dt em {
  display: block;
  font-weight: 700;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dd, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dd, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dd, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dd, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont dl dd {
  margin: 2.875rem 0 0 0;
  font-size: 0.6875rem;
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color1, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color1, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color1, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color1, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color1 {
  background-color: #ffba22;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffba22), to(#ff9c00 15%));
  background-image: -webkit-linear-gradient(to right bottom, #ffba22, #ff9c00 15%);
  background-image: -moz-linear-gradient(to right bottom, #ffba22, #ff9c00 15%);
  background-image: -ms-linear-gradient(to right bottom, #ffba22, #ff9c00 15%);
  background-image: -o-linear-gradient(to right bottom, #ffba22, #ff9c00 15%);
  background-image: linear-gradient(to right bottom, #ffba22, #ff9c00 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffba22', endColorStr='#ff9c00 15%');
}

.slider .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color2, .slider2 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color2, .slider3 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color2, .slider4 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color2, .slider5 .type1 .slider-box .slick-initialized .slick-list .slick-slide .swiper-cont.bg-color2 {
  background-color: #93aaff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#93aaff), to(#3d83ff 15%));
  background-image: -webkit-linear-gradient(to right bottom, #93aaff, #3d83ff 15%);
  background-image: -moz-linear-gradient(to right bottom, #93aaff, #3d83ff 15%);
  background-image: -ms-linear-gradient(to right bottom, #93aaff, #3d83ff 15%);
  background-image: -o-linear-gradient(to right bottom, #93aaff, #3d83ff 15%);
  background-image: linear-gradient(to right bottom, #93aaff, #3d83ff 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#93aaff', endColorStr='#3d83ff 15%');
}

.slider .type1 .page-total, .slider2 .type1 .page-total, .slider3 .type1 .page-total, .slider4 .type1 .page-total, .slider5 .type1 .page-total {
  position: absolute;
  top: -2.8125rem;
  right: 0;
  font-size: 0.6875rem;
}

.slider .type1 .page-total span, .slider2 .type1 .page-total span, .slider3 .type1 .page-total span, .slider4 .type1 .page-total span, .slider5 .type1 .page-total span {
  margin: 0 0.125rem;
  vertical-align: baseline;
}

.slider .type2, .slider2 .type2, .slider3 .type2, .slider4 .type2, .slider5 .type2 {
  position: relative;
}

.slider .type2 .slider-box, .slider2 .type2 .slider-box, .slider3 .type2 .slider-box, .slider4 .type2 .slider-box, .slider5 .type2 .slider-box {
  position: relative;
  width: 17.125rem;
}

.slider .type2 .slider-box .slick-list, .slider2 .type2 .slider-box .slick-list, .slider3 .type2 .slider-box .slick-list, .slider4 .type2 .slider-box .slick-list, .slider5 .type2 .slider-box .slick-list {
  overflow: visible;
}

.slider .type2 .page-total, .slider2 .type2 .page-total, .slider3 .type2 .page-total, .slider4 .type2 .page-total, .slider5 .type2 .page-total {
  position: absolute;
  top: -2.8125rem;
  right: 0;
  font-size: 0.9375rem;
  color: #969696;
}

.slider .type2 .page-total span, .slider2 .type2 .page-total span, .slider3 .type2 .page-total span, .slider4 .type2 .page-total span, .slider5 .type2 .page-total span {
  margin: 0 0.25rem;
  vertical-align: baseline;
  color: #969696;
}

.slider .type2 .page-total span.current, .slider2 .type2 .page-total span.current, .slider3 .type2 .page-total span.current, .slider4 .type2 .page-total span.current, .slider5 .type2 .page-total span.current {
  font-weight: 400;
  color: #000;
}

.slider .bt-select-arrow, .slider2 .bt-select-arrow, .slider3 .bt-select-arrow, .slider4 .bt-select-arrow, .slider5 .bt-select-arrow {
  display: block;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url(/img/ico/ico-group.png) no-repeat 0 -18.75rem;
  background-size: 3.125rem;
}

.slider .bt-select-arrow.on, .slider2 .bt-select-arrow.on, .slider3 .bt-select-arrow.on, .slider4 .bt-select-arrow.on, .slider5 .bt-select-arrow.on {
  background-position: -1.5625rem -18.75rem;
}

/* accordion */
.accordion {
  position: relative;
}

.accordion .acco-cover {
  height: 0;
  overflow: hidden;
}

.accordion .acco-cover .bt-whole {
  position: absolute;
  top: -0.1875rem;
  right: 0;
}

.accordion .acco-cover .bt-whole button {
  display: block;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url(/img/ico/ico-group.png) no-repeat 0 -20.3125rem;
  background-size: 3.125rem;
}

.accordion .acco-cover.on {
  height: auto;
  overflow: auto;
  padding: 1.25rem 0 0;
}

.accordion .acco-cover.on .bt-whole button {
  background-position: -1.5625rem -20.3125rem;
}

.accordion .tit-a {
  font-size: 0.875rem;
  font-weight: 400;
}

.accordion .acco-list .acco-box {
  padding: 0 0.1875rem;
  border-top: 1px solid #e5e8ee;
}

.accordion .acco-list .acco-box .acco-tit {
  padding-bottom: 1px;
}

.accordion .acco-list .acco-box .acco-tit button {
  display: block;
  position: relative;
  width: 100%;
  padding: 1rem 0 0.9375rem;
  font-size: 0.9375rem;
  text-align: left;
}

.accordion .acco-list .acco-box .acco-tit button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin: -0.78125rem 0 0;
  width: 1.5625rem;
  height: 1.5625rem;
  background: url(/img/ico/ico-group.png) no-repeat -1.5625rem -21.875rem;
  background-size: 3.125rem;
}

.accordion .acco-list .acco-box .acco-cont {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.accordion .acco-list .acco-box.on > .acco-tit button:after {
  background-position: 0 -21.875rem;
}

.accordion .acco-list .acco-box.on > .acco-cont {
  height: auto;
  overflow: auto;
  padding: 0.375rem 0 1.4375rem;
}

.accordion .list-dot > li {
  position: relative;
  padding: 0.4375rem 0 0.4375rem 0.75rem;
  font-size: 0.8125rem;
  color: #000;
}

.accordion .list-dot > li:before {
  content: "";
  position: absolute;
  top: 0.8125rem;
  left: 0;
  padding: 0.125rem;
  background: #7b7b7b;
  border-radius: 100%;
}

.accordion .list-dot > li:first-child {
  padding-top: 0;
}

.accordion .list-dot > li:first-child:before {
  top: 0.375rem;
}

.accordion .list-dot > li em {
  /*color:map_get($point, skred);*/
  font-weight: 700;
}

.accordion .list-dot .ex-txt li {
  margin: 0.625rem 0 0;
  font-size: 0.75rem;
  color: #757575;
}

/* checkbox , radio */
input[type=checkbox], input[type=radio] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.checkbox.type01 {
  position: relative;
  display: inline-block;
}

.checkbox.type01:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/img/form/ico-checkbox-style01.png) no-repeat 0 0;
  background-size: 2.5rem;
}

.checkbox.type01.checked:before {
  background-position: 0 -1.25rem;
}

.checkbox.type01.disabled:before {
  background-position: 0 -2.5rem;
}

.checkbox.type01.checked.disabled:before {
  background-position: 0 -3.75rem;
}

.checkbox.type01.focus:before {
  background-position: -1.25rem 0;
}

.checkbox.type01.focus.checked:before {
  background-position: -1.25rem -1.25rem;
}

.checkbox.type01.focus.disabled:before {
  background-position: -1.25rem -2.5rem;
}

.checkbox.type01.focus.checked.disabled:before {
  background-position: -1.25rem -3.75rem;
}

.checkbox.type01 > span {
  display: block;
  margin: 0 0 0 1.75rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #000;
}

.radiobox.type01 {
  position: relative;
  display: inline-block;
}

.radiobox.type01:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: url(/img/form/ico-radio-style01.png) no-repeat 0 0;
  background-size: 2.5rem;
}

.radiobox.type01.checked:before {
  background-position: 0 -1.25rem;
}

.radiobox.type01.disabled:before {
  background-position: 0 -2.5rem;
}

.radiobox.type01.checked.disabled:before {
  background-position: 0 -3.75rem;
}

.radiobox.type01.focus:before {
  background-position: -1.25rem 0;
}

.radiobox.type01.focus.checked:before {
  background-position: -1.25rem -1.25rem;
}

.radiobox.type01.focus.disabled:before {
  background-position: -1.25rem -2.5rem;
}

.radiobox.type01.focus.checked.disabled:before {
  background-position: -1.25rem -3.75rem;
}

.radiobox.type01 > span {
  display: block;
  margin: 0 0 0 1.75rem;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #000;
}

/* switch */
.btn-switch.type1 label {
  display: block;
  position: relative;
  width: 30px;
  height: 14px;
  border: 3px solid #f00;
  border-radius: 10px;
  background-color: #ddd;
}

.btn-switch.type1 label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #f60;
  transition: .6s;
}

.btn-switch.type1 label input[type=checkbox] {
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  margin: 0;
}

.btn-switch.type1.on label:before {
  left: auto;
  left: 100%;
  margin: 0 0 0 -14px;
}

.btn-switch.type2 label span {
  display: block;
  float: left;
  width: 2.5rem;
  height: 1.625rem;
  box-sizing: border-box;
  border-radius: 0.375rem 0 0 0.375rem;
  background: #e5e8ee;
  color: #757575;
  border: 1px solid #e5e8ee;
  text-align: center;
  line-height: 1.625rem;
  transition: all .5s;
  font-size: 0.6875rem;
  font-weight: 700;
}

.btn-switch.type2 label input:checked + span {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-switch.type2 label:last-of-type span {
  border-radius: 0 0.375rem 0.375rem 0;
}

/* step */
.widget-box.step {
  position: relative;
}

.widget-box.step h2 {
  font-size: 1.25rem;
  line-height: 1.1;
}

.widget-box.step h2 em {
  display: block;
  font-size: 0.6875rem;
  font-weight: 700;
}

.widget-box.step .step-list {
  position: absolute;
  top: 0;
  right: 0;
}

.widget-box.step .step-list li {
  position: relative;
  float: left;
  box-sizing: border-box;
  margin: 0 0 0 -0.375rem;
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.25rem 0;
  border: 1px solid #fff;
  border-radius: 100%;
  background: #e5e8ee;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #808698;
  text-align: center;
}

.widget-box.step .step-list li.on {
  color: #fff;
  background: #325ec1;
  z-index: 3;
}

/* tube */
.widget-box.tube .tube-list {
  margin: 0 0 0 -0.125rem;
}

.widget-box.tube .tube-list li {
  float: left;
  box-sizing: border-box;
  width: 20%;
  padding: 0.125rem 0 0 0.125rem;
}

.widget-box.tube .tube-list li label {
  display: block;
  position: relative;
  padding: 0.625rem 0;
  border: 1px solid #496093;
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  text-align: center;
  background: #fff;
}

.widget-box.tube .tube-list li label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.widget-box.tube .tube-list li label.disabled {
  border: 1px solid #e5e8ee;
  background: #e5e8ee;
  color: #808698;
}

.widget-box.tube .tube-list li label.checked {
  background: #496093;
  color: #fff;
}

.widget-box.tube .tube-list:after {
  content: "";
  display: block;
  clear: both;
}

.widget-box.tube .tube-list.three li {
  width: 33.3%;
}

.widget-box.tube .tube-list.two li {
  width: 50%;
}

.widget-box.iscroll {
  height: 100%;
  overflow: hidden;
}
