<%#
* MenuName: 나의 가입정보 > 약정할인/기기상환 정보(MS_09)
* FileName: myt-join.info.discount.html
* Author: Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* Date: 2018.10.04
* Summary: 약정정보, 기기상환 정보 출력 화면
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>
<body class="bg-white">
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<div id="fe-wrap" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../common/views/components/header.component.html', { svcInfo: svcInfo, title: '약정할인/기기상환 정보' }) %>
    <!--// #header -->

    <% if ( ( !commDataInfo.feeInfo || commDataInfo.feeInfo.length === 0 ) &&
            ( !commDataInfo.terminalInfo || commDataInfo.terminalInfo.length === 0) &&
            ( !commDataInfo.repaymentInfo || commDataInfo.repaymentInfo.length === 0) &&
            ( !commDataInfo.tRental)
          ) { %>


        <!-- .container-wrap -->
        <div class="container-wrap hiddenX">
            <h2 class="blind">내용</h2>
            <div class="container">

                <hr class="cont-sp type1" aria-hidden="true">
                <!-- .cont-box -->

                <div class="result-none fe-block-history-empty">
                    현재 이용중인 <br>약정할인/기기상환 정보가 없습니다.
                </div>

            </div>
        </div>
        <!-- // .container-wrap -->

    <% } else { %>



    <!-- #contents -->
    <div id="contents" class="container-wrap hiddenX">
        <div class="container">

            <h2 class="blind">내용</h2>

            <% if ( commDataInfo.feeInfo.length > 0 ) { %>

            <div class="ti-caption-gray">
                <h4 class="tit">요금 약정할인</h4>
            </div>

            <% for(var i=0; i < commDataInfo.feeInfo.length; i++) { %>

                <% if ( commDataInfo.feeInfo[i].typeStr == 'fee_type_A' ) {%> <%#요금약정할인24 (730) : NA00003677 | fee_type_A %>

                    <% include ../../components/info/myt-join.info.discount.fee-type-a.html %>

                <% } else if ( commDataInfo.feeInfo[i].typeStr == 'fee_type_B' ) { %> <%#테블릿 약정할인 12 (뉴태블릿약정) : NA00003681 | fee_type_B %>

                    <% include ../../components/info/myt-join.info.discount.fee-type-b.html %>

                <% } else if ( commDataInfo.feeInfo[i].typeStr == 'fee_type_E' ) { %> <%#선택약정할인제도 | fee_type_E %>

                    <% include ../../components/info/myt-join.info.discount.fee-type-e.html %>

                <% } else if ( commDataInfo.feeInfo[i].typeStr == 'fee_noType' ) { %> <%#해단분류에 포함되지않는 경우 | fee_noType %>

                    <% include ../../components/info/myt-join.info.discount.fee-no-type.html %>

                <% } %>

                <% if ( i !== commDataInfo.feeInfo.length-1 ) { %>
                <hr class="cont-sp type1" aria-hidden="true"/>
                <% } %>

            <% } %> <%# for End %>
            <% } %>

            <% if ( commDataInfo.terminalInfo.length > 0 ) { %>

            <div class="ti-caption-gray">
                <h4 class="tit">기기 약정할인</h4>
            </div>

            <% for(var i=0; i < commDataInfo.terminalInfo.length; i++) { %>

                <% if ( commDataInfo.terminalInfo[i].typeStr == 'join_type_B' ) { %> <%# 가입 / T지원금약정 | join_type_B %>

                    <% include ../../components/info/myt-join.info.discount.join-type-b.html %>

                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'join_type_C' ) { %> <%# 가입 / T약정할부지원 | join_type_C %>

                    <% include ../../components/info/myt-join.info.discount.join-type-c.html %>

                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'join_type_D' ) { %> <%# 가입 / 약정위약금2 | join_type_D %>

                    <% include ../../components/info/myt-join.info.discount.join-type-d.html %>

                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'join_noType' ) { %> <%# 가입 / 정보없음 | join_noType %>

                    <% include ../../components/info/myt-join.info.discount.join-no-type.html %>



                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_A' ) { %> <%# 승계 / T약정 할부지원 | suc_type_A %>

                    <% include ../../components/info/myt-join.info.discount.suc-type-a.html %>

                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_B' ) { %> <%# 승계 / T기본약정 | suc_type_B %>

                    <% include ../../components/info/myt-join.info.discount.suc-type-b.html %>

                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_C' ) { %> <%# 승계 / 약정위약금2 | suc_type_C %>

                    <% include ../../components/info/myt-join.info.discount.suc-type-c.html %>

                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_D' ) { %> <%# 승계 / T지원금약정 | suc_type_D %>

                    <% include ../../components/info/myt-join.info.discount.suc-type-d.html %>

                <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_noType' ) { %> <%# 승계 / 정보없음 | suc_noType %>

                    <% include ../../components/info/myt-join.info.discount.suc-no-type.html %>

                <% } %>

                <% if ( i !== commDataInfo.terminalInfo.length-1 ) { %>
                <hr class="cont-sp type1" aria-hidden="true"/>
                <% } %>

            <% } %> <%# for End %>

            <% } %>


            <% if ( commDataInfo.repaymentInfo.length > 0 ) { %>

            <div class="ti-caption-gray">
                <h4 class="tit">기기 분할상환 정보</h4>
            </div>

            <% for(var i=0; i < commDataInfo.repaymentInfo.length; i++) { %>

                <% include ../../components/info/myt-join.info.discount.device.html %>

                <% if ( i !== commDataInfo.repaymentInfo.length-1 ) { %>
                <hr class="cont-sp type1" aria-hidden="true"/>
                <% } %>

            <% } %> <%# for End %>

            <% } %>



            <% if ( commDataInfo.tRental ) { %>

            <div class="ti-caption-gray">
                <h4 class="tit">기기 구매정보</h4>
            </div>
            <% include ../../components/info/myt-join.info.discount.device.buy.html %>

            <% } %>
        </div>
    </div>
    <!--// #contents -->

    <% } %>

    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>

</body>
<script>
  $(document).ready(function () {
    var oMyTJoinInfo = new Tw.MyTJoinInfoDiscount( $('#fe-wrap'), {
      reqQuery: <%-JSON.stringify(reqQuery) %>,
      commDataInfo: <%-JSON.stringify(commDataInfo) %>,
      resDataInfo: <%-JSON.stringify(resDataInfo) %>
  } );
  });
</script>
<% include ../../components/end.component.html %>
