<%#
* MenuName: 나의 가입정보 > 약정할인/기기상환 정보(MS_09)
* @file myt-join.info.discount.html
* @author Kim Myoung-Hwan (skt.P130714@partner.sk.com)
* @since 2018.10.04
* Summary: 약정정보, 기기상환 정보 출력 화면
_%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); _%>
<body>
    <!-- #skip_navigation -->
    <div id="skipNav" class="skip_navi">
        <ul>
            <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
        </ul>
    </div>
    <!--// #skip_navigation -->
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <!-- #header -->
        <%- include('../../../../common/views/components/header.component.html', { svcInfo: svcInfo, title: '약정할인/기기상환 정보' }) _%>
        <!--// #header -->
        <!-- #contents -->
        <div id="contents" class="container-wrap hiddenX">
            <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
            <!-- .container-wrap -->
            <div class="container">
                <%# OP002-8156: [개선][FE](W-1910-078-01) 회선선택 영역 확대 2차 _%>
                <%- include('../../../../../common/views/components/common.select-line.component.html', { svcInfo: svcInfo, xtEid: { single: "CMMA_A3_B13_C65-1", multiple: "CMMA_A3_B13_C65-2" } }); _%>
                <%# // OP002-8156: [개선][FE](W-1910-078-01) 회선선택 영역 확대 2차 _%>
                <%_ if ( ( !commDataInfo.feeInfo || commDataInfo.feeInfo.length === 0 ) &&
                        ( !commDataInfo.terminalInfo || commDataInfo.terminalInfo.length === 0) &&
                        ( !commDataInfo.repaymentInfo || commDataInfo.repaymentInfo.length === 0) &&
                        ( !commDataInfo.tRental) ) { _%>
                <hr class="cont-sp type1" aria-hidden="true">

                <!-- .cont-box -->
                <div class="result-none fe-block-history-empty">
                    현재 이용중인 <br>약정할인/기기상환 정보가 없습니다.
                </div>
                <!--// .cont-box -->
                <% } else { _%>
                    <%_ if ( commDataInfo.feeInfo.length > 0 ) { _%>
                <div class="ti-caption-gray">
                    <h4 class="tit">요금 약정할인</h4>
                </div>
                        <%_ for (var i = 0, length = commDataInfo.feeInfo.length; i < length; i += 1) { _%>
                            <%_ if ( commDataInfo.feeInfo[i].typeStr == 'FEE_TYPE_A' ) { _%>
                                <%# 요금약정할인24 (730): NA00003677 | FEE_TYPE_A _%>
                    <% include ../../components/info/myt-join.info.discount.fee-type-a.html _%>
                            <% } else if ( commDataInfo.feeInfo[i].typeStr == 'FEE_TYPE_B' ) { _%>
                                <%# 테블릿 약정할인 12 (뉴태블릿약정): NA00003681 | FEE_TYPE_B _%>
                    <% include ../../components/info/myt-join.info.discount.fee-type-b.html %>
                            <% } else if ( commDataInfo.feeInfo[i].typeStr == 'FEE_TYPE_E' ) { _%>
                                <%# 선택약정할인제도: FEE_TYPE_E _%>
                    <% include ../../components/info/myt-join.info.discount.fee-type-e.html %>
                            <% } else if ( commDataInfo.feeInfo[i].typeStr == 'FEE_TYPE_F' ) { _%>
                                <%# 2G전환요금할인(70%) (24개월(2G전환)): NA00006349 | FEE_TYPE_F, 템플릿은 a type 사용 _%>
                    <% include ../../components/info/myt-join.info.discount.fee-type-a.html %>
                            <% } else if ( commDataInfo.feeInfo[i].typeStr == 'FEE_NOTYPE' ) { _%>
                                <%# 해단분류에 포함되지않는 경우: FEE_NOTYPE _%>
                    <% include ../../components/info/myt-join.info.discount.fee-no-type.html %>
                            <%_ } _%>

                            <%_ if ( i !== length - 1 ) { _%>
                <hr class="cont-sp type1" aria-hidden="true"/>

                            <%_ } _%>
                        <%_ } _%>
                    <%_ } _%>
                    <%_ if ( commDataInfo.terminalInfo.length > 0 ) { _%>
                <div class="ti-caption-gray">
                    <h4 class="tit">기기 약정할인</h4>
                </div>
                        <%_ for (var i = 0, length = commDataInfo.terminalInfo.length; i < length; i += 1) { _%>
                            <%_ if ( commDataInfo.terminalInfo[i].typeStr == 'join_type_B' ) { _%>
                                <%# 가입 / T지원금약정 | join_type_B _%>
                    <% include ../../components/info/myt-join.info.discount.join-type-b.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'join_type_C' ) { _%>
                                <%# 가입 / T약정할부지원 | join_type_C _%>
                    <% include ../../components/info/myt-join.info.discount.join-type-c.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'join_type_D' ) { _%>
                                <%# 가입 / 약정위약금2 | join_type_D _%>
                    <% include ../../components/info/myt-join.info.discount.join-type-d.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'join_noType' ) { _%>
                                <%# 가입 / 정보없음 | join_noType _%>
                    <% include ../../components/info/myt-join.info.discount.join-no-type.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_A' ) { _%>
                                <%# 승계 / T약정 할부지원 | suc_type_A _%>
                    <% include ../../components/info/myt-join.info.discount.suc-type-a.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_B' ) { _%>
                                <%# 승계 / T기본약정 | suc_type_B _%>
                    <% include ../../components/info/myt-join.info.discount.suc-type-b.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_C' ) { _%>
                                <%# 승계 / 약정위약금2 | suc_type_C _%>
                    <% include ../../components/info/myt-join.info.discount.suc-type-c.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_type_D' ) { _%>
                                <%# 승계 / T지원금약정 | suc_type_D _%>
                    <% include ../../components/info/myt-join.info.discount.suc-type-d.html %>
                            <% } else if ( commDataInfo.terminalInfo[i].typeStr == 'suc_noType' ) { _%>
                                <%# 승계 / 정보없음 | suc_noType _%>
                    <% include ../../components/info/myt-join.info.discount.suc-no-type.html %>
                            <%_ } _%>

                            <%_ if ( i !== length - 1 ) { _%>
                <hr class="cont-sp type1" aria-hidden="true"/>

                            <%_ } _%>
                        <%_ } _%>
                    <%_ } _%>
                    <%_ if ( commDataInfo.repaymentInfo.length > 0 ) { _%>
                <div class="ti-caption-gray">
                    <h4 class="tit">기기 분할상환 정보</h4>
                </div>
                        <%_ for (var i = 0, length = commDataInfo.repaymentInfo.length; i < length; i += 1) { _%>
                    <% include ../../components/info/myt-join.info.discount.device.html %>

                            <%_ if ( i !== length - 1 ) { _%>
                <hr class="cont-sp type1" aria-hidden="true"/>

                            <%_ } _%>
                        <%_ } _%>
                    <%_ } _%>
                    <%_ if ( commDataInfo.tRental ) { _%>
                <div class="ti-caption-gray">
                    <h4 class="tit">기기 구매정보</h4>
                </div>

                    <% include ../../components/info/myt-join.info.discount.device.buy.html _%>
                    <%_ } _%>
                <%_ } _%>
            </div>
            <!--// .container-wrap -->
        </div>
        <!--// #contents -->
        <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); _%>
    </div>
    <%- include('../../components/javascript.component.html') _%>
    <script>
      $(document).ready(function () {
        new Tw.MyTJoinInfoDiscount({
            $element: $('#contents'),
            data: {
              reqQuery: <%- JSON.stringify(reqQuery) %>,
              commDataInfo: <%- JSON.stringify(commDataInfo) %>,
              resDataInfo: <%- JSON.stringify(resDataInfo) %>
            }
        });
      });
    </script>
</body>
<%- include('../../components/end.component.html') _%>
