<script id="fe-tmpl-app" type="text/x-handlebars-template">
    <div class="t-apps-ico">
        {{#if appIconImgUrl}}<img src="{{appIconImgUrl}}" alt="{{prodNm}}" class="ico">{{/if}}
        <span class="name">{{prodNm}}</span>
    </div>
    <div class="txt">{{{sktProdBenfCtt}}}</div>
    <div class="tx-desc">3G 또는 LTE망 사용 시 데이터 요금이 발생됩니다</div>
    <div class="btn-area">
        {{#if isApp}}
            {{#if isInstalled}}
                <button class="bt action" id="fe-open-btn">앱실행하기</button>
            {{else}}
                {{#if isIos}}
                    <a class="bt apple" href="{{stores.appStore}}">앱스토어</a>
                {{else}}
                    <a class="bt google" href="{{stores.playStore}}">구글 Play 스토어</a>
                    {{#if stores.oneStore}}<a class="bt one-store" href="{{stores.oneStore}}">원스토어</a>{{/if}}
                {{/if}}
            {{/if}}
        {{else}}
            <button class="bt action" id="fe-exe-btn">앱실행하기</button>
        {{/if}}
    </div>
</script>
