<div id="countriesDialog" class="dialog">
    
    <div class="header">
        <!-- 202011 - 웹접근성 수정건 적용 : 태그 div 에서 button으로 변경 / 태그 위치 상단으로 변경 시작 -->
        <button class="close" type="button">
            <img src="<%= CDN %>/img/product/roam/ico_close.svg" width="20" height="20" alt="닫기"> 
        </button>
        <!-- //202011 - 웹접근성 수정건 적용 : 태그 div 에서 button으로 변경 / 태그 위치 상단으로 변경 시작 -->
        <h1>서비스 이용 가능 국가</h1>
    </div>



    <div class="tariffBox">
        <select name="tariff" class="dropdown" title="상품목록">
        </select>
        <img class="arrow" src="<%= CDN %>/img/product/roam/ico_dropdown.svg" />
    </div>
    <div class="sortBy">
         <a href="#" aria-selected="true" role="button" id="byConsonant" class="by active">가나다</a> <!-- //202011 - 웹접근성 수정건 적용 : a태그로 변경 및 aria-selected 추가  -->
         <a href="#" aria-selected="" role="button" id="byContinent" class="by">대륙</a> <!-- //202011 - 웹접근성 수정건 적용 : a태그로 변경 및 aria-selected 추가  -->
    </div>
    <div class="scroller">
        <div class="menu">
            <ul id="groupList">
            </ul>
        </div>
        <div class="content">
            <h2 class="title-itemList">ㄱ</h2>  <!-- //202011 - 웹접근성 수정건 적용 : 탭 컨텐츠 제목(.title-itemList) 추가 -->
            <ul id="itemList">
            </ul>
        </div>
    </div>
</div>