<div class="card">
    <h2>T로밍 고객센터</h2>
    <a href="tel:0263439000">
        <div class="links">
            <div class="other-link left">
                <h3>T로밍 고객센터(국내)</h3>
            </div>
            <div class="divider"></div>
            <div class="phone-link">
                <span class="text">무료</span>
                <img src="<%= CDN %>/img/product/roam/ico_phone_guide.svg" class="phone" width="22" alt="">
            </div>
        </div>
    </a>
    <div class="cs-divider"></div>
    <a href="tel:+82263439000">
        <div class="links">
            <div class="other-link left">
                <h3>T로밍 고객센터(해외)</h3>
            </div>
            <div class="divider"></div>
            <div class="phone-link">
                <span class="text">로밍폰 발신 무료</span>
                <img src="<%= CDN %>/img/product/roam/ico_phone_guide.svg" class="phone" width="22">
            </div>
        </div>
    </a>
</div>
