<div id="scheduleDialog" class="dialog">
    <div class="header">
        <img class="banner" width="100%" />
        <div class="summary">
            <h1><span id="target-nation"></span>, 언제 떠나세요?</h1>
            <div>
                <div class="date">
                    <h2>가는날</h2>
                    <h3 id="date-depart">-</h3>
                </div>
                <div class="date">
                    <h2>오는날</h2>
                    <h3 id="date-arrive">-</h3>
                </div>
            </div>
        </div>
        <div class="close" onclick="closeDialog()">
            <img src="<%= CDN %>/img/product/roam/ico_close_w.svg" width="20" height="20" alt="Close"/>
        </div>
    </div>
    <div id="scheduleContent">
        <div id="calendar">
            <div id="calendarGuide">
                <span class="date">0월 0일</span>
                오는 날을 선택하세요
                <div class="tailContainer">
                    <div class="tail"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="scheduleConfirm" class="bottom-button not-prepared" onclick="tryConfirm();">
        추천 요금제 확인
    </div>
</div>
<div id="nationsDialog" class="dialog">
    <div class="header">
        <h1>로밍 가능한 전체 국가</h1>
        <div class="close" onclick="closeDialog()">
            <img src="<%= CDN %>/img/product/roam/ico_close.svg" width="20" height="20" />
        </div>
    </div>
    <div class="menu">
        <ul>
            <li id="EUR">유럽</li>
            <li id="ASP">아시아</li>
            <li id="AMC">미주</li>
            <li id="OCN">오세아니아</li>
            <li id="MET">중동</li>
            <li id="AFR">아프리카</li>
        </ul>
    </div>
    <div class="content">
        <ul>

        </ul>
    </div>
</div>
<script type="text/javascript">
  function openScheduleDialog(code, name, topBannerUrl, baseDiv) {
    $('#scheduleDialog').css('display', 'block');
    $(baseDiv).css('display', 'none');

    $('#date-depart').html('-');
    $('#date-arrive').html('-');
    if (!topBannerUrl) {
      $('#scheduleDialog .banner').attr('src', '');
      $.get('/product/roaming?queryBg=' + code, function(data) {
        var cdn = '<%= CDN %>';
        if (cdn.indexOf(':3001') > 0) {
          cdn = 'http://mtw.told.me/cdn/';
        }
        if (data.backgroundUrl) {
          $('#scheduleDialog .banner').attr('src', cdn + data.backgroundUrl);
        } else {
          $('#scheduleDialog .banner').attr('src', cdn + '/img/product/roam/schedule_top_fallback.png');
        }
      });
    } else {
      $('#scheduleDialog .banner').attr('src', topBannerUrl);
    }
    $('#target-nation').html(name);
    $('#target-nation').attr('data-code', code);

    $('div#calendar').daterangepicker({
      element: $('div#calendar'),
      parentEl: 'div#calendar',
      minDate: moment().add(1, 'days').format('YYYY-MM-DD'),
    }, function(start, end) {
      if (start && end && end.diff(start, 'days') < 30) {
        $('#scheduleConfirm').removeClass('not-prepared');
      } else {
        $('#scheduleConfirm').addClass('not-prepared');
      }

      if (start) {
        $('#date-depart').html(start.format('YYYY.MM.DD (dd)'));
      }
      if (end) {
        $('#date-arrive').html(end.format('YYYY.MM.DD (dd)'));
      } else {
        $('#date-arrive').html('-');
      }

      if (start && !end) {
        setTimeout(function () {
          var startDateCells = document.querySelectorAll('.active.start-date.available');
          if (!startDateCells || startDateCells.length < 1) {
            return;
          }
          var startDateCell;
          for (var cell of startDateCells) {
            if (cell.className.indexOf('off') >= 0) {
              continue;
            }
            startDateCell = cell;
            break;
          }
          if (!startDateCell) {
            return;
          }
          var rect = startDateCell.getBoundingClientRect();
          var x = rect.left;
          var y = rect.top; // 스크롤 상태 반영
          y -= 70;
          x -= 35;

          if (x < 10) {
            x = 10;
            $('#scheduleDialog #calendarGuide .tail').css('left', '13px');
          } else if (x + 128 + 10 > window.innerWidth) {
            x = window.innerWidth - 128 - 10;
            $('#scheduleDialog #calendarGuide .tail').css('left', '65px');
          } else {
            $('#scheduleDialog #calendarGuide .tail').css('left', '43px');
          }
          $('#scheduleDialog #calendarGuide .date').text(start.format('M월 D일'));
          $('#scheduleDialog #calendarGuide').css('left', x + 'px');
          $('#scheduleDialog #calendarGuide').css('top', y + 'px');
          $('#scheduleDialog #calendarGuide').css('display', 'block');
        }, 200);
      } else {
        $('#scheduleDialog #calendarGuide').css('display', 'none');
      }
    });
  }
  function tryConfirm() {
    const classes = $('#scheduleConfirm').attr('class');
    if (classes.indexOf('not-prepared') >= 0) {
      return false;
    }

    var startDate = moment($('#date-depart').html(), 'YYYY.MM.DD');
    var endDate = moment($('#date-arrive').html(), 'YYYY.MM.DD');
    var diffDays = endDate.diff(startDate, 'days');
    if (diffDays >= 30) {
      alert('30일 이상은 선택하실 수 없습니다.');
      return false;
    }
    var countryCode = $('#target-nation').attr('data-code');
    document.location.href = '/product/roaming/offer?code=' + countryCode +
      '&from=' + startDate.format('YYYYMMDD') +
      '&to=' + endDate.format('YYYYMMDD');
    closeDialog();
  }

  var onSelectCallback = openScheduleDialog; // with code, label, topImageUrl, baseDiv

  function installNationSearch(selectionCb) {
    if (!selectionCb) {
      throw new Error('Selection callback should not be null');
    }
    onSelectCallback = selectionCb;

    prepareNations();
    $('#nation-search').autocomplete({
      // source: allNations.map(function(value) {
      //   return {label: value.countryNameKor, value: value.countryNameKor, code: value.countryCode};
      // }),
      source: function(req, res) {
        var term = req.term.toLowerCase().trim();
        if (term.length >= 1) {
          var suggestions = [];
          for (var nation of allNations) {
            if (nation.countryNameKor.indexOf(term) >= 0 ||
              nation.countryNameEng.toLowerCase().indexOf(term) >= 0) {
              var index = nation.countryNameKor.indexOf(term);
              if (index < 0) {
                index = nation.countryNameEng.toLowerCase().indexOf(term);
              }
              suggestions.push({
                label: nation.countryNameKor,
                value: nation.countryNameKor,
                code: nation.countryCode,
                index: index,
              });
            }
          }
          // 정렬, index 값이 작고, 전체 길이 짧을수록 상단에 노출
          suggestions.sort(function(a, b) {
            return (a.index * 1000 + a.label.length) - (b.index * 1000 + b.label.length);
          });
          res(suggestions);
        }
      },
      minLength: 1,
      focus: function(event, ui) {
        if (ui.item && ui.item.code) {
          $('#nation-search').val(ui.item.label);
          $('#nation-search').blur();
          onSelectCallback(ui.item.code, ui.item.label, null, baseDiv);
          return false;
        }
        return false;
      },
      select: function(event, ui) {
        $('#nation-search').blur();
        onSelectCallback(ui.item.code, ui.item.label, null, baseDiv);
      }
    });
    setupNationsDialog();
  }
  function prepareNations() {
    let all = [];
    const categories = Object.keys(nations);
    for (let i=0; i<categories.length; i+=1) {
      let category = categories[i];
      const items = nations[category];
      all = all.concat(items);
    }
    all.sort();
    allNations = all;
  }
  function setupNationsDialog() {
    const menuItems = $('#nationsDialog .menu li');
    for (var i=0; i<menuItems.length; i++) {
      menuItems[i].onclick = function (event) {
        onClickNationGroup(event.target)
      };
    }
  }
  function onClickNationGroup(menu) {
    $('#nationsDialog .menu li').removeClass('active');
    menu.className = 'active';
    const selectedNations = nations[menu.id];
    const targetList = $('#nationsDialog .content ul')
    targetList.html('');
    for (var nation of selectedNations) {
      var li = document.createElement('li');
      li.onclick = function(e) {
        var nationName = e.target.innerText;
        var nationCode = e.target.getAttribute('data-country');
        onSelectCallback(nationCode, nationName, null, '#nationsDialog');
      };
      li.innerText = nation.countryNameKor;
      li.setAttribute('data-country', nation.countryCode);
      targetList.append(li);
    }
  }
  function searchNation() {
    var name = $('#nation-search').val();
    if (name.trim().length == 0) {
      Tw.Popup.openAlert('국가명을 입력해주세요', '국가 검색');
      $('#nation-search').focus();
      return false;
    }
    name = name.trim();
    for (var item of allNations) {
      if (item.countryNameKor == name || item.countryNameEng.toLowerCase() == name.toLowerCase()) {
        $('#nation-search').blur();
        onSelectCallback(item.countryCode, item.countryNameKor, null, baseDiv);
        return false;
      }
    }
    Tw.Popup.openAlert('해당 국가는 로밍서비스 국가가 아닙니다.', '국가 검색');
    return false;
  }
  function openNationsDialog() {
    onClickNationGroup(document.getElementById('EUR'));
    $(baseDiv).css('display', 'none');
    $('#nationsDialog').css('display', 'block');
  }

  var nations = {
    'EUR': <%- JSON.stringify(nations.eur) %>,
    'AFR': <%- JSON.stringify(nations.afr) %>,
    'ASP': <%- JSON.stringify(nations.asp) %>,
    'AMC': <%- JSON.stringify(nations.amc) %>,
    'MET': <%- JSON.stringify(nations.met) %>,
    'OCN': <%- JSON.stringify(nations.ocn) %>,
  };
  var allNations = [];
</script>
