<!--
* @file membership.info.grade.html
* @author 양정규 (skt.P130715@partner.sk.com)
* @since 2018.10.31
-->
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents-area" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: 'T멤버십 카드·등급 안내' }) %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 id="contents-area" tabindex="-1"><span class="blind">본문시작</span></h2>
        <div class="container">

            <!-- .cont-box -->
            <div class="cont-box nogaps-btm">
                <div class="card-wrap pb20">
                    <div class="card-box type-red">
                        <div class="card-inner">
                            <strong class="card-tit">T멤버십</strong>
                            <!-- <span class="card-name">&#40;Leaders Club&#41; 카드</span> -->
                            <span class="card-name">카드</span>
                            <button class="ico-noti-bgw" aria-haspopup="true" data-popup-id="BE_04_01_L02">이용안내</button>
                            <span class="card-name2">생활 실속형 카드</span>
                            <%if(data.isJoinAble){%>
                                <button id="fe-req-join" class="application">가입하기</button>
                            <%}%>
                        </div>
                    </div>



                    <!-- 2020-04-20 추가 [s] -->
                    <div class="card-intro">
                        <div class="intro-desc">생활에 꼭 필요한 알뜰 혜택을 모은<br><strong>생활 실속형 T멤버십 카드</strong>입니다.</div>
                    </div>
                    <!-- 2020-04-20 추가 [e] -->

                </div>
            </div>
            <!--// .cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- 2019.02.27 제휴 브랜드 혜택 컨텐츠 전체 수정 -->
            <div class="cont-box nogaps">
                <div class="benefit-banner-wrap">
                    <h3>T멤버십 회원 모두에게 드리는<br><strong>특별한 제휴 브랜드 혜택!</strong></h3>
                    <ul class="brand-benefit">
                        <li data-url="/membership/benefit/brand?cateCd=3" role="link"><!-- role="link" 추가 --><!-- 2019-11-29 수정 -->
                            <span class="ico bakery"></span>
                            <dl>
                                <dt>베이커리 최대 15% 할인</dt>
                                <dd>파리바게뜨 1,000원당 최대 100원 할인,<br>뚜레쥬르 1,000원당 최대 150원 할인,<br>빌리엔젤 10% 할인</dd><!-- 2020-03-09 수정 --><!-- 2020-12-01 수정 -->
                            </dl>
                        </li>
                        <li data-url="/membership/benefit/brand?cateCd=11" role="link"><!-- role="link" 추가 --><!-- 2019-11-29 수정 -->
                            <span class="ico shopping"></span>
                            <dl>
                                <dt>쇼핑 최대 22% 할인</dt>
                                <dd>모바일 11번가 11일 최대 22% 할인 및<br>이마트 매장 상품권 숍 구매 혜택</dd><!-- 2020-03-09 수정 --><!-- 2020-12-01 수정 -->
                            </dl>
                        </li>
                        <li data-url="/membership/benefit/brand?cateCd=43" role="link"><!-- role="link" 추가 --><!-- 2019-11-29 수정 -->
                            <span class="ico store"></span>
                            <dl>
                                <dt>편의점 1,000원당 100원 할인</dt>
                                <dd>CU&middot;세븐일레븐 1,000원당 <br>최대 100원 할인</dd><!-- 2020-04-20 수정 --><!-- 2020-12-01 수정 -->
                            </dl>
                        </li>
                        <li data-url="/membership/benefit/brand?cateCd=4" role="link"><!-- role="link" 추가 --><!-- 2019-11-29 수정 -->
                            <span class="ico pizza"></span>
                            <dl>
                                <dt>피자 최대 30% 할인</dt>
                                <dd>도미노피자, 미스터피자, 파파존스피자, <br> 최대 30% 할인</dd>
                            </dl>
                        </li>
                        <li data-url="/membership/benefit/brand?cateCd=6" role="link"><!-- role="link" 추가 --><!-- 2019-11-29 수정 -->
                            <span class="ico cinema"></span>
                            <dl>
                                <dt>영화관 할인 혜택</dt>
                                <dd>VIP라면 VIP Pick으로 무료 영화 관람 <br>전 고객 롯데시네마 최대 3,500원 할인</dd><!-- 2020-12-01 수정 --><!-- 2021-01-18 수정 -->
                            </dl>
                        </li>
                        <li data-url="/membership/benefit/brand?cateCd=5" role="link"><!-- role="link" 추가 --><!-- 2019-11-29 수정 -->
                            <span class="ico coffee"></span>
                            <dl>
                                <dt>카페 최대 20% 할인</dt>
                                <dd>엔제리너스 최대 20% 할인,<br>공차 10% 할인</dd><!-- 2020-12-01 수정 -->
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //2019.02.27 컨텐츠 전체 수정 -->
            <!-- // cont-box -->

            <hr class="cont-sp type1" aria-hidden="true"/>

            <!-- .cont-box -->
            <div class="cont-box">
                <div class="rating-box-wraq">
                    <h3>T멤버십 등급 체계 안내
                        <button class="ico-noti-bgb" aria-haspopup="true" data-popup-id="BE_04_01_L03">이용 안내</button><!-- 이용 안내 띄어쓰기 --><!-- 2019-11-29 수정 -->
                    </h3>
                    <ul class="rating-list">
                        <li class="vip"><span class="blind">VIP</span></li>
                        <li class="gold"><span class="blind">GOLD</span></li>
                        <li class="silver"><span class="blind">SILVER</span></li>
                    </ul>
                    <p>T멤버십 등급은 VIP/Gold/Silver로 구분되며, 지난해 통신요금 납부 금액, 가입 기간, 연체 횟수를 기준으로 정해집니다.</p><!-- 2019-11-29 수정 --><!-- 2020-12-01 수정 -->
                    <% if (isExpectRating) { %> <!--OP002-5730_[M][멤버십[FE]] 2020년 멤버십 등급 안내 적용 isExpectRating이 true이면-->
                    <button class="ico-noti-bgb fe-rating-external" data-urlgrade="https://bit.ly/2V5vaZE" style="vertical-align:text-top;" title="새 창" role="link">2021년 T멤버십 예상 등급 조회</button><!-- 2019-11-29 추가 --><!-- 2019-12-11 수정 -->
                    <% } %>
                    <table class="data-a">
                        <caption>멤버십 등급 체계 및 안내</caption>
                        <colgroup>
                            <col style="width:30%;">
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col" rowspan="2" class="t-l">연간<br>납부 금액</th><!-- 2019-11-29 수정 -->
                            <th scope="col" colspan="3">가입 기간</th><!-- 2019-11-29 수정 -->
                        </tr>
                        <tr>
                            <th scope="col">2년 미만</th>
                            <th scope="col">2년 이상~<br>5년 미만</th>
                            <th scope="col">5년 이상</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="t-l none-bg-color" scope="row">90만 원 이상~</th><!-- 2019-11-29 수정 -->
<!--                            <td class="t-l">90만원 이상~</td>-->
                            <td>Gold</td>
                            <td>VIP</td>
                            <td>VIP</td>
                        </tr>
                        <tr>
                            <th class="t-l none-bg-color" scope="row">60만 원 이상~<br>90만 원 미만</th><!-- 2019-11-29 수정 -->
<!--                            <td class="t-l">60만원 이상~<br>90만원 미만</td>-->
                            <td>Gold</td>
                            <td>Gold</td>
                            <td>VIP</td>
                        </tr>
                        <tr>
                            <th class="t-l none-bg-color" scope="row">48만 원 이상~<br>60만 원 미만~</th><!-- 2019-11-29 수정 -->
<!--                            <td class="t-l">48만원 이상~<br>60만원 미만~</td>-->
                            <td>Silver</td>
                            <td>Gold</td>
                            <td>Gold</td>
                        </tr>
                        <tr>
                            <th class="t-l none-bg-color" scope="row">36만 원 이상~<br>48만 원 미만</th><!-- 2019-11-29 수정 -->
<!--                            <td class="t-l">36만원 이상~<br>48만원 미만</td>-->
                            <td>Silver</td>
                            <td>Silver</td>
                            <td>Gold</td>
                        </tr>
                        <tr>
                            <th class="t-l none-bg-color" scope="row">~36만 원 미만</th><!-- 2019-11-29 수정 -->
<!--                            <td class="t-l">~36만원 미만</td>-->
                            <td>Silver</td>
                            <td>Silver</td>
                            <td>Silver</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--// .cont-box -->
        </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo });
    %>
</div>
</body>

<script>
  $(document).ready(function () {
    new Tw.MembershipInfoGrade(JSON.parse('<%- JSON.stringify(svcInfo) %>'));
  });
</script>
<% include ../../components/end.component.html %>
