<%#
* FileName: myt.benefit.point.html
* Author: Hyeryoun Lee (skt.P130712@partner.sk.com)
* Date: 2018. 8. 14.
%>
<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->

<!-- wrap -->
<div class="wrap" id="#myt-benefit-point">
    <!-- header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '포인트 혜택', svcInfo: svcInfo });
    %>
    <!-- // header -->
    <!-- content -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <div class="cont-box">
                <h2 class="title-h2">포인트 혜택</h2>
                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <span class="title">OK캐쉬백</span>
                            <span class="tx-cont"><span class="ff-hn tx-bold"><%= points.OKCashBack %></span> 점</span>
                        </li>
                        <li>
                            <span class="title">T포인트</span>
                            <span class="tx-cont"><span class="ff-hn tx-bold"><%= points.T %></span> 점</span>
                        </li>
                        <li>
                            <a href="/myt/benefit/rainbow-point" class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">레인보우 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold"><%= points.Rainbow %></span> 점</span>
                                    </span>
                            </a>
                        </li>
                    </ul>
                    <% if( showPointPayment ) { %>
                    <div class="contents-notice line-top pt30 mt30">
                        <span class="noti-type3">다음달 청구요금을 포인트로<br />미리 납부 예약해보세요.</span>
                    </div>
                    <a href="/payment/point" class="bt-link-tx pt18">포인트 납부하기 <span class="ico"></span></a>
                    <% } %>
                </div>

                <% if( locals.points.NoContract ) { %>
                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <a href="/myt/join/join-info/no-contract" class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">무약정플랜 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold"><%= points.NoContract %></span> 점</span>
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <% } %>

                <% if( locals.points.Military ) { %>
                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <a href="/myt/benefit/military-point" class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">지켜줘서 고마워<br />현역플랜 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold"><%= points.Military %></span> 점</span>
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <% } %>

                <% if( locals.points.Cookiz ) { %>
                <div class="info-detail-box type2">
                    <ul class="type-in-bt">
                        <li>
                            <a href="/myt/benefit/cookiz-point" class="bt-detail">
                                    <span class="bt-wrap">
                                        <span class="title">쿠키즈팅 포인트</span>
                                        <span class="tx-cont"><span class="ff-hn tx-bold"><%= points.Cookiz %></span> 점</span>
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <% } %>
            </div>

        </div>
    </div>
    <!-- // content -->
    <!-- // content -->
    <!-- footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }); %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>