@charset "UTF-8";
@font-face {
  font-family: 'TgothicLight';
  font-style: normal;
  font-weight: 300;
  src: local(☺),
  url(../font/TgothicLight.otf) format("opentype"),
  url(../font/TgothicLight.woff2) format("woff2"),
  url(../font/TgothicLight.woff) format("woff"),
  url(../font/TgothicLight.ttf) format("truetype"),
  url(../font/TgothicLight.eot?#iefix) format("embedded-opentype"); }

@font-face {
  font-family: 'TgothicMedium';
  font-style: normal;
  font-weight: 500;
  src: local(☺),
  url(../font/TgothicMedium.otf) format("opentype"),
  url(../font/TgothicMedium.woff2) format("woff2"),
  url(../font/TgothicMedium.woff) format("woff"),
  url(../font/TgothicMedium.ttf) format("truetype"),
  url(../font/TgothicMedium.eot?#iefix) format("embedded-opentype"); }

@font-face {
  font-family: 'TgothicBlack';
  font-style: normal;
  font-weight: 900;
  src: local(☺),
  url(../font/TgothicBlack.otf) format("opentype"),
  url(../font/TgothicBlack.woff2) format("woff2"),
  url(../font/TgothicBlack.woff) format("woff"),
  url(../font/TgothicBlack.ttf) format("truetype"),
  url(../font/TgothicBlack.eot?#iefix) format("embedded-opentype"); }

/*Default set*/
html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, a, button, input, textarea, table, th, td, figure, hr, i, b {
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  font-family: "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "Helvetica Neue", "Noto Sans", "Noto Sans CJK", 'Droid Sans', Roboto, sans-serif;
  font-style: normal; }

body {
  overflow-x: hidden;
  color: #000;
  line-height: 1.4;
  letter-spacing: -0.0625rem;
  word-break: keep-all;
  background: #f5f5f5; }

html, body {
  width: 100%; }

html {
  height: 100%; }

body {
  min-height: 100%; }

.wrap {
  width: 100%;
  overflow-x: hidden; }

/*input*/
input, select {
    padding: 0;
    color: #3c3c3c;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }

input, select, button {
    line-height: 1.4;
    letter-spacing: -0.0625rem; }

input[type=text], input[type=file], input[type=password], input[type=number] {
    border: 1px solid #d4d4d4;
    outline: none; }

input[type=text]::-webkit-input-placeholder,
input[type=file]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder {
    font-size: 0.9375rem;
    color: #8f8f8f; }
input[type=text].place-small::-webkit-input-placeholder,
input[type=file].place-small::-webkit-input-placeholder,
input[type=password].place-small::-webkit-input-placeholder,
input[type=number].place-small::-webkit-input-placeholder,
input[type=tel].place-small::-webkit-input-placeholder {
    font-size: 0.6875rem;
    letter-spacing: -1px; }
input[type=text]:focus,
input[type=file]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=tel]:focus {
    border-color: #7b7b7b;
    background: none; }
input[type=text]:focus::-webkit-input-placeholder,
input[type=file]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=number]:focus::-webkit-input-placeholder,
input[type=tel]:focus::-webkit-input-placeholder {
    color: transparent; }
input[type=text]:disabled,
input[type=file]:disabled,
input[type=password]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled {
    background-color: #e5e8ee;
    border-color: #e5e8ee;
    font-weight: 300; }
input[type=text]:disabled::-webkit-input-placeholder,
input[type=file]:disabled::-webkit-input-placeholder,
input[type=password]:disabled::-webkit-input-placeholder,
input[type=number]:disabled::-webkit-input-placeholder,
input[type=tel]:disabled::-webkit-input-placeholder {
    color: #808698;
    font-weight: 300; }
input[type=text][readonly],
input[type=password][readonly],
input[type=number][readonly],
input[type=file][readonly] {
    background-color: #fff;
    border-color: #d1d1d1; }

input[type=text]::-ms-clear {
    display: none; }

input[type=password]::-ms-clear {
    display: none; }

input[type=number]::-ms-clear {
    display: none; }

input[type=button] {
    border: 0;
    background: none; }

input[type='radio'], input[type='text'], input[type='password'], input[type='number'], input[type='checkbox'], textarea, button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    -webkit-background-color: transparent;
    -moz-background-color: transparent;
    border: 0;
    -webkit-border: 0;
    -moz-border: 0;
    border-radius: 0; }

input::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 0;
    height: 0; }

input::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    background: none; }

textarea::-webkit-input-placeholder {
    color: #8f8f8f;
    font-weight: 700; }

textarea::-ms-input-placeholder {
    color: #8f8f8f;
    font-weight: 700; }

textarea::placeholder {
    color: #8f8f8f;
    font-weight: 700; }

input[type=file]::-ms-value {
    border: 0 none; }

input[type=file]::-ms-browse {
    border: 0 none;
    border-left: 1px solid #ccc; }

input[type=number][readonly], input[type=text][readonly] {
    background: #fff; }

/*textarea*/
textarea {
    overflow-y: scroll;
    width: 100%;
    padding: 0.875rem;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 0.25rem;
    resize: none;
    font-size: 0.9375rem;
    color: #8f8f8f;
    outline: 0;
    background-color: #f5f5f5; }

/*link*/
button {
    overflow: visible;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }

a, input, label, button {
    -webkit-tap-highlight-color: transparent; }

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none; }

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    width: auto;
    outline: 0;
    cursor: pointer; }

button:focus {
    outline: 1px dotted #3c3c3c; }

button span, button:active span, button:focus span {
    position: relative; }

/*etc*/
img {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0; }

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
    border-spacing: 0; }

th {
    border: 0;
    text-align: center; }

td {
    border: 0; }

table caption, legend, figcaption {
    overflow: hidden;
    width: 100%;
    height: 1px;
    *height: 0px;
    margin-top: -1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }

ol, ul {
    list-style: none; }

em, var, address {
    font-style: normal; }

acronym {
    border: 0 none;
    text-decoration: none; }

iframe, hr {
    border: none; }

strong {
    font-weight: 700; }

/* common */
.blind {
    display: inline-block;
    position: absolute !important;
    height: 0;
    overflow: hidden;
    color: transparent; }

h1.blind, h2.blind, h3.blind, h4.blind, h5.blind, h6.blind {
    visibility: hidden; }

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    zoom: 1; }

* html .clearfix {
    zoom: 1; }

*:first-child + html .clearfix {
    zoom: 1; }

*[tabindex] {
    outline: none; }
