@charset "UTF-8";
.bg-productdetail .header-wrap .h-belt .icon-gnb-menu { background-image: url("/img/en/icon_48px_titlebar_menu_white.svg"); }

.bg-productdetail.scroll .h-belt .icon-gnb-menu { background-image: url("/img/en/icon_48px_titlebar_menu.svg"); }

.bg-productdetail .productdetails-bg { padding-bottom: 2.19rem; background-color: #3583e3; }

.productdetails-wrap { min-height: auto; padding-bottom: 2.75rem; }

.productdetails-ledgercase { margin-top: 1.88rem; padding-bottom: 0; }

.productdetails-ledgercase .price-text { font-size: 0.81rem; font-weight: 300; }

.productdetails-ledgercase .price-text .price-type { font-size: 1.88rem; }

.productdetails-ledgercase .price-text .unit { font-size: 1.38rem; font-weight: 600; }

.productdetails-utill:after { display: none; }

.idpt-product-detail-title > h3 { color: #fff; }

.idpt-product-detail-title > h3 > span { display: block; font-size: 0.88rem; margin-bottom: 0.75rem; letter-spacing: 0; }

.idpt-product-detail-title > h3 > strong { font-size: 2.44rem; line-height: 2.5rem; font-weight: 600; text-transform: uppercase; }

.link-long a .ico, .link-long button .ico { width: 1rem; height: 1rem; top: 0.10rem !important; background: url("/img/en/icon_32px_arrowmore.svg") no-repeat 23% 50%; background-size: 100%; }

.detailinfo { width: 100%; position: relative; display: inline-block; padding-bottom: 1.5rem; }

.detailinfo.pb00 { padding-bottom: 0 !important; }

.detailinfo > li { width: 100%; font-size: 0.81rem; color: #fff; margin-bottom: 0.63rem; font-weight: 300; letter-spacing: 0; }

.detailinfo > li .gb { display: inline-block; background: url("/img/en/products/bg_gb_white.png") no-repeat 0 0.13rem; background-size: 0.81rem 0.81rem; padding-left: 1.25rem; }

.detailinfo > li .type { display: inline-block; background: url("/img/en/products/bg_type_white.png") no-repeat 0 0.13rem; background-size: 0.91rem 0.91rem; padding-left: 1.25rem; }

.detailinfo > li .sms { display: inline-block; background: url("/img/en/products/bg_sms_white.png") no-repeat 0 0.21rem; background-size: 0.88rem 0.63rem; padding-left: 1.25rem; }

.detailinfo > li:last-of-type { margin-bottom: 0; }

.detailinfo-txt { width: 100%; position: relative; padding-top: 1.5rem; border-top: 1px solid rgba(255, 255, 255, 0.4); }

.detailinfo-txt li { width: 100%; padding-left: 0.63rem; position: relative; font-size: 0.81rem; color: #fff; font-weight: 300; -webkit-box-sizing: border-box; box-sizing: border-box; letter-spacing: 0; }

.detailinfo-txt li::after { content: ''; display: inline-block; width: 0.22rem; height: 0.22rem; background: #fff; border-radius: 100%; position: absolute; top: 0.38rem; left: 0; }

.detailinfo-txt li + li { margin-top: 0.63rem; }

.detailinfo-txt.miri { margin-top: -1rem; padding-top: 0; padding-bottom: 0.5rem; border-top: 0; }

.detailinfo-txt.miri > li { font-size: 0.88rem; font-weight: 400; padding-left: 1.25rem; line-height: 1.6em; }

.detailinfo-txt.miri > li::after { top: 0.38rem; width: 0.75rem; height: 0.5rem; background: url("/img/en/products/icon_miri_check.png") no-repeat; background-size: 100% 100%; }

/* 시각화 원장 */
.prCont .cont-box.gaps-btm { padding: 0 0 2.5rem; }

.prCont .cont-box.gaps-btm > .plan-cont { padding-bottom: 0; }

.prCont .tit-line-wrap { width: 100%; position: relative; display: inline-block; padding: 0.63rem 0; margin-top: 1.88rem; }

.prCont .tit-line-wrap::after { content: ''; display: inline-block; width: 100%; height: 1px; background: #242424; position: absolute; top: 49%; right: 0; z-index: 0; }

.prCont .tit-line-wrap > span { display: inline-block; position: relative; font-size: 1.13rem; color: #000; font-weight: 500; background: #fff; z-index: 1; padding: 0 0.63rem 0 1.25rem; }

.prCont .pro-detail { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prCont .pro-detail .cont { width: 100%; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prCont .pro-detail .cont .sub-tit { width: 100%; font-size: 1.75rem; line-height: 1.3em; font-weight: 300; color: #000; text-align: center; display: inline-block; }

.prCont .pro-detail .cont .sub-tit > strong { font-weight: 600; }

.prCont .pro-detail .cont .sub-txt { width: 100%; font-size: 0.94rem; color: #5f5f5f; font-weight: 300; margin-top: 1.88rem; text-align: center; display: inline-block; }

.prCont .pro-detail .cont .sub-txt.sm { font-size: 0.81rem; }

.prCont .pro-detail .cont.sec-01 { padding: 0 1.25rem; }

.prCont .pro-detail .cont.sec-01 > img { width: 100%; margin-top: 3.13rem; margin-bottom: 2.19rem; }

.prCont .pro-detail .cont.sec-02 { padding: 3.13rem 1.25rem 2.63rem 1.25rem; text-align: center; }

.prCont .pro-detail .cont.sec-02 img { width: 100%; }

.prCont .pro-detail .cont.sec-02 .sub-tit { font-size: 1.88rem; }

.prCont .pro-detail .cont.sec-02 .sub-tit.mb { font-weight: 400; }

.prCont .pro-detail .cont.sec-02 .sub-tit.mb > span { width: 100%; display: inline-block; font-size: 1.25rem; line-height: 1.4em; font-weight: 300; color: #000; padding-top: 1.88rem; }

.prCont .pro-detail .cont.sec-02 .img_5G_02_safe { width: 100%; max-width: 14.13rem; margin-top: 2.81rem; }

.prCont .pro-detail .cont.sec-02 .img_5G_03 { width: 100%; max-width: 20.03rem; margin-top: 2.81rem; }

.prCont .pro-detail .cont.sec-02.bot-line { border-bottom: 1px solid #f2f2f2; }

.prCont .pro-detail .cont.sec-02 .ico-list { width: 100%; position: relative; text-align: left; border-bottom: 1px solid #e5e5e5; padding: 1.88rem 0; margin-top: 2.38rem; }

.prCont .pro-detail .cont.sec-02 .ico-list + .ico-list { margin-top: 0; }

.prCont .pro-detail .cont.sec-02 .ico-list dt { width: 5.313rem; float: left; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-vip { padding-left: 0.31rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-vip > img { width: 3.09rem; height: 4.59rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-flo-free > img { width: 3.91rem; height: 4.09rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-video-free > img { width: 3.91rem; height: 4.06rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-watch { padding-left: 0.31rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-watch > img { width: 3.59rem; height: 5.69rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-broken { padding-left: 0.31rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-broken > img { width: 3.72rem; height: 4.59rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-shaling { padding-left: 0.31rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dt.ico-shaling > img { width: 3.91rem; height: 5.09rem; }

.prCont .pro-detail .cont.sec-02 .ico-list dd { width: calc(100% - 5.313rem); float: left; font-size: 0.81rem; line-height: 1.13rem; color: #252525; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prCont .pro-detail .cont.sec-02 .ico-list dd .txt-big { font-size: 1.5rem; color: #000; line-height: 1.75rem; display: block; margin-bottom: 0.75rem; font-weight: 300; }

.prCont .pro-detail .cont.sec-02 .ico-list::after { content: ''; display: block; clear: both; }

.prCont .pro-detail .cont.sec-02 .ico-list:first-of-type { padding-top: 0; }

.prCont .pro-detail .cont.sec-02 .ico-list:last-of-type { border-bottom: 0; padding-bottom: 0; }

.prCont .pro-detail .cont.nogabs-bot { padding-bottom: 0; }

.prCont .data-account { width: 100%; height: 11.56rem; background: url("/img/en/products/bg_data.png") center bottom no-repeat; background-size: 22.5rem 8.94rem; text-align: center; }

.prCont .data-account > strong { width: 100%; display: inline-block; font-size: 1.75rem; color: #000; margin-top: 3.44rem; }

.prCont .data-account > span { width: 100%; display: inline-block; font-size: 0.94rem; color: #3c76bc; }

.prCont .data-account > span > span { color: #000; }

.prCont .data-account.line3 > strong { margin-top: 2.81rem; }

.prCont .data-account.multi-line > strong { margin-top: 1.25rem; }

.prCont .call-cont { width: 100%; padding: 1.88rem 0; text-align: center; position: relative; }

.prCont .call-cont::before { content: ''; display: inline-block; width: 100%; max-width: 22.5rem; height: 12.63rem; background: url("/img/en/products/bg_call_text.png") left top no-repeat; background-size: cover; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-48%, -60%); -ms-transform: translate(-48%, -60%); transform: translate(-48%, -60%); }

.prCont .call-cont > p { font-size: 1.44rem; line-height: 1.88rem; color: #000; font-weight: 300; }

.prCont .details-toggle .acco-list .acco-box { position: relative; padding-bottom: 0.63rem; }

.prCont .details-toggle .acco-list .acco-box .acco-tit { background-color: #fff; }

.prCont .details-toggle .acco-list .acco-box .acco-tit::after { content: ''; display: inline-block; width: 100%; height: 0.63rem; background: #edeef0; position: absolute; bottom: 0; left: 0; border-top: 1px solid #e5e5e5; }

.prCont .details-toggle .acco-list .acco-box .acco-tit button { font-weight: 400; padding: 0.94rem 1rem; }

.prCont .details-toggle .acco-list .acco-box .acco-tit button::after { right: 0.31rem; }

.prCont .details-toggle .acco-list .acco-box.on { padding-bottom: 0; }

.prCont .details-toggle .acco-list .acco-box.on .acco-tit::after { display: none; }

.prCont .details-toggle .acco-cont .tit-type01 { width: 100%; font-size: 1rem; color: #000; font-weight: 500; margin-bottom: 1.25rem; }

.prCont .details-toggle .acco-cont .tit-type01.mt { margin-top: 1.88rem; }

.prCont .details-toggle .acco-cont .table-type { width: 100%; border: 1px solid #cfcfcf; }

.prCont .details-toggle .acco-cont .table-type tr { border-bottom: 1px solid #cfcfcf; }

.prCont .details-toggle .acco-cont .table-type th { width: 38%; background: #f5f5f5; border-right: 1px solid #cfcfcf; padding: 0.94rem 0.75rem; font-size: 13px; color: #858585; vertical-align: middle; }

.prCont .details-toggle .acco-cont .table-type td { width: 62%; padding: 0.94rem 0.75rem; font-size: 0.81rem; line-height: 1.13rem; color: #000; vertical-align: middle; background: #fff; }

.prCont .details-toggle .acco-cont .table-type.style2 th { width: auto; word-break: break-all; }

.prCont .details-toggle .acco-cont .table-type.style2 td { width: auto; word-break: break-all; border-right: 1px solid #cfcfcf; }

.prCont .details-toggle .acco-cont .refer-list { padding: 0 0.31rem; }

.prCont .refer-list { width: 100%; position: relative; margin-top: 1.25rem; padding: 0 1.25rem; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prCont .refer-list li { font-size: 0.81rem; font-weight: 300; color: #858585; padding-left: 0.63rem; position: relative; line-height: 1.19rem; }

.prCont .refer-list li::before { content: ''; display: inline-block; width: 0.25rem; height: 0.25rem; border-radius: 100%; background: #929292; position: absolute; top: 0.5rem; left: 0; }

.prCont .refer-list li > .refer.bullet { font-size: 0.75rem; color: #959595; }

.prCont .refer-list > li + li { margin-top: 0.63rem; }

.prCont .refer-list.star li { padding-left: 0.5rem; }

.prCont .refer-list.star li::before { content: ''; display: inline-block; width: 0.25rem; height: 0.25rem; background: url("/img/en/products/ico_refer.png") 0 0 no-repeat; background-size: 100% 100%; position: absolute; top: 0.44rem; left: 0; }

.prCont .num-list2 { list-style: decimal; padding-left: 0.94rem; }

.prCont .num-list2 > li { font-size: 0.81rem; line-height: 1.19rem; color: #000; margin-bottom: 1.25rem; position: relative; }

.prCont .num-list2 > li > .refer-list { margin-top: 0.38rem !important; }

.prCont .num-list2 > li > .refer-list > li { color: #858585; }

.prCont .num-list2 > li.other { list-style: none; }

.prCont .num-list2 > li.other::before { content: ''; display: inline-block; width: 0.75rem; height: 0.75rem; background: url("/img/en/products/ico_details.png") 0 0 no-repeat; background-size: 100% 100%; position: absolute; top: 0.19rem; left: -0.94rem; }

.prCont .refer { display: block; font-size: 0.81rem; color: #666; line-height: 1.13rem; position: relative; margin-top: 0.13rem; }

.prCont .refer.bullet { padding-left: 0.44rem; margin-top: 0.5rem; }

.prCont .refer.bullet::before { content: ''; display: inline-block; width: 0.25rem; height: 0.25rem; background: url("/img/en/products/ico_refer.png") 0 0 no-repeat; background-size: 100% 100%; position: absolute; top: 6px; left: 0; }

.prCont .accordion .details-toggle .acco-list .acco-box.on > .acco-tit + .acco-cont { padding: 1.88rem 1rem !important; background: #f7f9fa !important; }

.prCont .details-ico { background: url("/img/en/products/ico_details.png") 0 2px no-repeat; background-size: 0.94rem 0.94rem; padding-left: 1.38rem; }

.icon-area { text-align: center; }

.icon-area > span { font-size: 0.75rem; color: #666; text-align: center; }

.line-top { border-top: 1px solid #f2f2f2; }

.ico_data_big { width: 2rem !important; height: 2.63rem; }

.black { font-size: 0.81rem !important; color: #000 !important; }

.low-txt { font-size: 0.81rem; line-height: 0.94rem; color: #5f5f5f; margin-top: 0.94rem; margin-bottom: 1.88rem; padding-left: 0.38rem; position: relative; display: inline-block; }

.low-txt::before { width: 4px; height: 4px; content: ''; display: inline-block; position: absolute; top: 5px; left: 0; background: url("/img/en/products/ico_refer.png") 0 0 no-repeat; background-size: 100% 100%; }

.mt00 { margin-top: 0 !important; }

.align-c { text-align: center; }

.ico_5G_Tab_4GB { width: 7.97rem; height: 6.25rem; }

.ico_5G_Tab_5gx { width: 7.81rem; height: 6.5rem; }

.subTitle-txt { font-size: 0.81rem; line-height: 1.13rem; color: #666; display: inline-block; width: 100%; text-align: center; }

.prCont .plan-cont { padding: 2.13rem 1.25rem 1.75rem; }

.prCont .plan-cont.gray { background-color: #fafafa; }

.prCont .plan-cont.gray .inner-line { background-color: #e5e5e5; }

.prCont .plan-cont.gray + .plan-cont { border-top: 0; }

.prCont .plan-cont.sky { background-color: #ecf0f6; }

.prCont .plan-cont.no-border { border-top: 0 !important; }

.prCont .plan-cont > .title { font-size: 1.56rem; font-weight: 300; color: #000; line-height: 1.3em; letter-spacing: -1px; }

.prCont .plan-cont > .title + .txt { margin-top: 0.75rem; }

.prCont .plan-cont > .txt { font-size: 0.88rem; font-weight: 300; color: #666; letter-spacing: -0.7px; }

.prCont .plan-cont > .txt.black { font-size: 1rem; font-weight: 400; color: #000; }

.prCont .plan-cont > .txt.mid { font-size: 1.13rem !important; }

.prCont .plan-cont > .txt > span { font-size: 0.81rem; color: #858585; }

.prCont .plan-cont + .plan-cont { border-top: 1px solid #f2f2f2; }

.prCont .plan-cont + .plan-cont.gray { border-top: 0; }

.prCont .plan-cont .icon-wrap { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; margin-top: 2.5rem; }

.prCont .plan-cont .icon-wrap > div { text-align: center; font-size: 0.81rem; font-weight: 300; color: #666666; }

.prCont .plan-cont .icon-wrap > div > img { display: block; width: 3.25rem; margin: 0 auto 0.63rem; }

.prCont .plan-cont .icon-wrap.icon02.or > .between { position: absolute; display: block; content: ''; top: 0.75rem; left: 50%; width: 1.75rem; height: 1.75rem; background: url("/img/en/products/bg-or-circle_m.png") no-repeat; background-size: 100% 100%; -webkit-transform: translateX(-42%); -ms-transform: translateX(-42%); transform: translateX(-42%); }

.prCont .plan-cont .icon-wrap.icon03 > div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.prCont .plan-cont .icon-list { margin-top: 2.25rem; }

.prCont .plan-cont .icon-list > li { position: relative; padding: 1.25rem 0; }

.prCont .plan-cont .icon-list > li > img { position: absolute; top: 1.25rem; left: 0; width: 4rem; }

.prCont .plan-cont .icon-list > li > div { padding-left: 4.88rem; }

.prCont .plan-cont .icon-list > li > div > p { font-size: 0.88rem; font-weight: 300; color: #666666; }

.prCont .plan-cont .icon-list > li > div > p.title { font-size: 1.06rem; font-weight: 500; color: #000000; margin-bottom: 0.38rem; }

.prCont .plan-cont .icon-list > li > div > p.refer { position: relative; font-size: 0.81rem; color: #858585; padding-left: 0.5rem; margin-top: 0.5rem; }

.prCont .plan-cont .icon-list > li > div > p.refer::before { position: absolute; display: block; content: '*'; top: 0.13rem; left: 0; }

.prCont .plan-cont .icon-list > li > div > p > span { display: block; font-size: 0.81rem; color: #858585; }

.prCont .plan-cont .icon-list > li:first-child { padding-top: 0; }

.prCont .plan-cont .icon-list > li:first-child > img { top: 0; }

.prCont .plan-cont .icon-list > li:last-child { padding-bottom: 0; }

.prCont .plan-cont .icon-list > li + li { border-top: 1px solid #f2f2f2; }

.prCont .plan-cont .icon-list > li.no-img > div { padding-left: 0; }

.prCont .plan-cont .icon-list.miri > li:nth-child(3) > img { top: 0.88rem; }

.prCont .plan-cont .icon-list.miri > li:last-child > img { top: 0.75rem; }

.prCont .plan-cont .refer-list { padding: 0; }

.prCont .plan-cont .refer-list.border { padding-top: 1.25rem; border-top: 1px solid #f2f2f2; }

.prCont .plan-cont .refer-list.miri > li::before { width: 0.19rem; height: 0.19rem; }

.prCont .plan-cont .refer-list.miri.border { border-color: #e5e5e5; }

.prCont .plan-cont .inner-line { width: 100%; height: 1px; margin: 1.69rem 0; background-color: #f2f2f2; }

.prCont .plan-cont .decimal-list { list-style-type: decimal; padding-left: 1.13rem; margin-top: 1.88rem; }

.prCont .plan-cont .decimal-list > li { font-size: 1rem; color: #000; }

.prCont .plan-cont .decimal-list > li > p { font-size: 0.81rem; font-weight: 300; color: #858585; margin-top: 0.31rem; }

.prCont .plan-cont .decimal-list > li + li { margin-top: 1.69rem; }

.prCont .plan-cont .tbl-txt { font-size: 0.75rem; color: #959595; margin-top: 2.375rem; }

.prCont .plan-cont .tbl-txt > img { width: 7px; height: 7px; vertical-align: middle; margin-top: -1px; }

.prCont .plan-cont .tbl-charge-wrap { position: relative; padding-left: 4.6875rem; padding-bottom: 0.9375rem; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 2rem; border-bottom: 1px solid #ededed; }

.prCont .plan-cont .tbl-charge-wrap > img { position: absolute; top: 0; left: 0; width: 4rem; height: 4rem; }

.prCont .plan-cont .tbl-charge-wrap.first-tbl-charge { margin-top: 3rem; }

.prCont .plan-cont .tbl-charge-wrap.tbl-phone { margin-top: 0.9375rem; }

.prCont .plan-cont .tbl-charge-wrap.tbl-sms { margin-top: 0.9375rem; }

.prCont .plan-cont .tbl-charge-wrap.tbl-data { margin-top: 0.9375rem; }

.prCont .plan-cont .tbl-charge-wrap.tbl-data.NA00004775 { height: 4.9375rem; }

.prCont .plan-cont .tbl-charge-wrap.tbl-data.NA00004775 > table { height: 100%; }

.prCont .plan-cont .tbl-charge-wrap.tbl-data.NA00004775 > table th { vertical-align: middle; }

.prCont .plan-cont .tbl-charge-wrap .height-fixed { height: 4.9375rem; }

.prCont .plan-cont .tbl-charge-wrap .idpt-tbl-charge tr { border-top: 1px dotted #ddd; }

.prCont .plan-cont .tbl-charge-wrap .idpt-tbl-charge tr:first-child { border-top: 0; }

.prCont .plan-cont .tbl-charge-wrap .idpt-tbl-charge th { font-size: 0.81rem; font-weight: 300; color: #666; text-align: left; padding: 0.5rem 0; vertical-align: top; }

.prCont .plan-cont .tbl-charge-wrap .idpt-tbl-charge td { font-size: 0.81rem; font-weight: 500; color: #000; text-align: right; padding: 0.5rem 0; }

.prCont .plan-cont .tbl-charge-wrap .idpt-tbl-charge td > span { font-size: 0.69rem; color: #959595; }

.prCont .plan-cont .idpt-series-wrap { width: 100%; max-width: 20.5rem; margin: 0 auto; }

.prCont .plan-cont .series-graph { position: relative; max-width: 20rem; height: 8.875rem; margin: 3rem auto 0; }

.prCont .plan-cont .series-graph > li { position: absolute; bottom: 0; width: auto; height: 100%; }

.prCont .plan-cont .series-graph > li > div { position: absolute; display: block; width: auto; height: auto; bottom: 0; left: 0; }

.prCont .plan-cont .series-graph > li > div > a { position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-indent: -9999px; }

.prCont .plan-cont .series-graph > li .circle { margin-bottom: 0.625rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: rgba(73, 143, 230, 0.9); border-radius: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prCont .plan-cont .series-graph > li .circle > div > p { font-size: 0.75rem; color: #fff; text-align: center; line-height: 1.2em; font-weight: 400; }

.prCont .plan-cont .series-graph > li .circle > div > p:nth-child(1) { font-size: 0.8125rem; font-weight: 600; }

.prCont .plan-cont .series-graph > li .series-name { font-size: 0.75rem; font-weight: 500; color: #000; text-align: center; }

.prCont .plan-cont .series-graph > li .series-price { font-size: 0.63rem; font-weight: 700; color: #000; text-align: center; }

.prCont .plan-cont .series-graph > li .series-subtxt { font-size: 0.625rem; font-weight: 400; color: #959595; text-align: center; }

.prCont .plan-cont .series-graph > li .series-price > span { font-family: 'TgothicMedium', Roboto, sans-serif; }

.prCont .plan-cont .series-graph > li.series01 { left: 0; }

.prCont .plan-cont .series-graph > li.series01 .circle { width: 3.25rem; height: 3.25rem; }

.prCont .plan-cont .series-graph > li.series02 { left: 2.9375rem; }

.prCont .plan-cont .series-graph > li.series02 .circle { width: 4rem; height: 4rem; }

.prCont .plan-cont .series-graph > li.series03 { left: 6.4375rem; }

.prCont .plan-cont .series-graph > li.series03 .circle { width: 4.5rem; height: 4.5rem; }

.prCont .plan-cont .series-graph > li.series04 { left: 10rem; }

.prCont .plan-cont .series-graph > li.series04 .circle { width: 5.25rem; height: 5.25rem; }

.prCont .plan-cont .series-graph > li.series04 .circle p:nth-child(1) { font-size: 1rem; }

.prCont .plan-cont .series-graph > li.series05 { left: 13.875rem; }

.prCont .plan-cont .series-graph > li.series05 .circle { width: 6.25rem; height: 6.25rem; }

.prCont .plan-cont .series-graph > li.series05 .circle p:nth-child(1) { font-size: 1rem; }

.prCont .plan-cont .series-graph > li.apply { z-index: 2; }

.prCont .plan-cont .series-graph > li.apply .circle { border: 2px solid #498fe6; background-color: rgba(255, 255, 255, 0.9); }

.prCont .plan-cont .series-graph > li.apply p { color: #498fe6 !important; }

.prCont .plan-cont .series-graph.graph03 { width: 13.6875rem; }

.prCont .plan-cont .series-graph.graph03 > li.series03 { left: 0; }

.prCont .plan-cont .series-graph.graph03 > li.series04 { left: 3.5625rem; }

.prCont .plan-cont .series-graph.graph03 > li.series05 { left: 7.4375rem; }

.prCont .plan-cont .series-graph.lte-together { width: 18.1875rem; height: 11.25rem; }

.prCont .plan-cont .series-graph.lte-together > li.series03 { left: 0; }

.prCont .plan-cont .series-graph.lte-together > li.series03 .circle { width: 5.5rem; height: 5.5rem; }

.prCont .plan-cont .series-graph.lte-together > li.series03 .circle > div > p:nth-child(1) { font-size: 0.8125rem; }

.prCont .plan-cont .series-graph.lte-together > li.series03 .circle > div > p:nth-child(2) { font-size: 0.75rem; }

.prCont .plan-cont .series-graph.lte-together > li.series04 { left: 4.875rem; }

.prCont .plan-cont .series-graph.lte-together > li.series04 .circle { width: 6.75rem; height: 6.75rem; }

.prCont .plan-cont .series-graph.lte-together > li.series04 .circle > div > p:nth-child(1) { font-size: 1rem; }

.prCont .plan-cont .series-graph.lte-together > li.series04 .circle > div > p:nth-child(2) { font-size: 0.75rem; }

.prCont .plan-cont .series-graph.lte-together > li.series05 { left: 10.6875rem; }

.prCont .plan-cont .series-graph.lte-together > li.series05 .circle { width: 7.5rem; height: 7.5rem; }

.prCont .plan-cont .series-graph.lte-together > li.series05 .circle > div > p:nth-child(1) { font-size: 1rem; }

.prCont .plan-cont .series-graph.lte-together > li.series05 .circle > div > p:nth-child(2) { font-size: 0.75rem; }

.prCont .plan-cont > .miri-cont { padding-top: 1.5rem; }

.prCont .plan-cont > .miri-cont:first-of-type { padding-top: 0; }

.prCont .plan-cont > .miri-cont + .miri-cont { margin-top: 1.63rem; border-top: 1px solid #f2f2f2; }

.prCont .plan-cont > .miri-cont .miri-intro-tit { font-size: 1.63rem; font-weight: 700; color: #4564c2; text-align: center; }

.prCont .plan-cont > .miri-cont .miri-intro-txt { font-size: 0.88rem; font-weight: 500; color: #000; text-align: center; margin-top: 0.63rem; letter-spacing: -0.6px; }

.prCont .plan-cont > .miri-cont > .title { font-size: 1.56rem; font-weight: 300; color: #000; line-height: 1.3em; letter-spacing: -1px; }

.prCont .plan-cont > .miri-cont > .title + .txt { margin-top: 0.75rem; }

.prCont .plan-cont > .miri-cont > .txt { font-size: 0.88rem; font-weight: 300; color: #666; letter-spacing: -0.7px; }

.prCont .plan-cont > .miri-cont > .txt.black { font-size: 1rem; color: #000; }

.prCont .plan-cont > .miri-cont > .txt.mid { font-size: 1.13rem !important; }

.prCont .plan-cont > .miri-cont .img-box { margin-top: 1.38rem; }

.prCont .plan-cont > .miri-cont .img-box + .title { margin-top: 2.5rem; }

.prCont .plan-cont .miri-topup { margin-top: 2.19rem; }

.prCont .plan-cont .miri-topup > p { font-size: 0.81rem; font-weight: 500; color: #666; padding-left: 2.06rem; }

.prCont .plan-cont .miri-topup > p > strong { display: block; font-size: 1.06rem; color: #4564c2; }

.prCont .plan-cont .miri-topup > p.store { background: url("/img/en/products/icon_miri_pin.png") left 0.25rem center no-repeat; background-size: 1rem 1.44rem; }

.prCont .plan-cont .miri-topup > p.callcenter { background: url("/img/en/products/icon_miri_phone.png") left 0.13rem center no-repeat; background-size: 1.38rem 1.38rem; }

.prCont .plan-cont .miri-topup > p + p { margin-top: 1.25rem; }

.prCont .plan-cont .miri-list { margin-top: 1.25rem; }

.prCont .plan-cont .miri-list > li { position: relative; font-size: 0.81rem; font-weight: 300; color: #666; padding-left: 0.5rem; }

.prCont .plan-cont .miri-list > li::before { position: absolute; display: block; content: '*'; top: 0; left: 0; }

.prCont .plan-cont .miri-video { margin-top: 2.25rem; padding-bottom: 0.63rem; }

.prCont .plan-cont .miri-video .video-card { -webkit-box-shadow: 0 0.63rem 0.94rem #eaeaea; box-shadow: 0 0.63rem 0.94rem #eaeaea; border-radius: 0.88rem; overflow: hidden; }

.prCont .plan-cont .miri-video .video-card .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }

.prCont .plan-cont .miri-video .video-card .embed-container iframe, .prCont .plan-cont .miri-video .video-card .embed-container object, .prCont .plan-cont .miri-video .video-card .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.prCont .plan-cont .miri-video .video-card > div:not(.embed-container) { padding: 0.75rem 1.25rem 0.88rem; }

.prCont .plan-cont .miri-video .video-card > div:not(.embed-container) > p { font-size: 0.81rem; font-weight: 300; color: #666; }

.prCont .plan-cont .miri-video .video-card > div:not(.embed-container) > p.title { font-weight: 500; color: #4564c2; margin-bottom: 0.38rem; }

.prCont .plan-cont .miri-video .video-card > div:not(.embed-container) > p.title > strong { font-size: 1.06rem; font-weight: 600; color: #000; }

.prCont .plan-cont .miri-video .video-card + .video-card { margin-top: 1.88rem; }

.prCont .plan-cont .miri-bottom .miri-info { padding-left: 0.94rem; font-size: 0.81rem; font-weight: 500; color: #000; background: url("/img/en/products/icon_details_miri.png") left center no-repeat; background-size: 0.75rem 0.75rem; }

.prCont .plan-cont .miri-bottom .refer-list { margin-top: 0.63rem; padding-left: 0.63rem; }

.prCont .cont-box .img-box { padding: 0 1.25rem 0.63rem; }

.prCont .cont-box .img-box > p { font-size: 0.88rem; font-weight: 400; color: #666; text-align: center; line-height: 1.6em; padding-top: 1.56rem; border-top: 1px solid #e5e5e5; }

.prCont .cont-box .img-box > p > strong { font-weight: 700; color: #000; }

.prCont .cont-box .img-box > img { display: block; width: 100%; max-width: 20rem; margin: 0.94rem auto 0; }

.prCont .cont-box .plan-cont > .img-box { padding: 0; margin-top: 3.13rem; }

.prCont .cont-box .plan-cont > .img-box > p { font-size: 0.81rem; font-weight: 300; color: #666; text-align: center; padding-top: 2.19rem; border-top: 0; }

.prCont .cont-box .plan-cont > .img-box > img { display: block; width: 100%; max-width: 20rem; margin: 0 auto; }

.prCont .promotion { position: relative; padding: 2.19rem 1.25rem 0; -webkit-box-sizing: border-box; box-sizing: border-box; height: 19.06rem; background: url("/img/en/products/bg_tplan_promotion_cont.png") center -5px no-repeat; background-size: 22.5rem 19.06rem; }

.prCont .promotion .sub-title { font-size: 0.94rem; font-weight: 400; color: #fbed11; margin-bottom: 0.44rem; }

.prCont .promotion .title { font-size: 2.13rem; font-weight: 600; color: #fff; margin-bottom: 0.75rem; line-height: 1em; letter-spacing: -1px; }

.prCont .promotion .txt { font-size: 0.69rem; font-weight: 300; color: #fff; opacity: 0.7; }

.prCont .promotion .txt .refer.bullet { font-size: 0.69rem; color: #fff; }

.prCont .promotion .txt .refer.bullet::before { background: none; content: '*'; top: 0.13rem; }

.prCont .promotion .bg { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; background: url("/img/en/products/bg_tplan_promotion.jpg") no-repeat; background-size: cover; z-index: -1; }

.prCont .night-keeper { padding: 2.19rem 1.25rem 0; height: 21.13rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: #ecf0f6 url("/img/en/products/bg_night_keeper.png") center bottom 1.88rem no-repeat; background-size: 20rem 14.56rem; }

.prCont .night-keeper > .title { font-size: 1.56rem; font-weight: 300; color: #000; line-height: 1.3em; letter-spacing: -1px; }

.prCont .night-keeper > .title + .txt { margin-top: 0.75rem; }

.prCont .night-keeper > .txt { font-size: 0.88rem; font-weight: 300; color: #666; letter-spacing: -0.7px; }

.prCont .other-benefits { position: relative; padding: 1.69rem 1.25rem; background-color: #fafafa; -webkit-box-sizing: border-box; box-sizing: border-box; }

.prCont .other-benefits > p { font-size: 0.81rem; font-weight: 500; color: #666666; }

.prCont .other-benefits > p > span { font-size: 0.75rem; font-weight: 300; color: #959595; }

.prCont .other-benefits > p.title { font-size: 1.06rem; color: #000; margin-bottom: 0.75rem; }

.prCont .other-benefits > img { position: absolute; display: block; content: ''; top: 50%; right: 1.25rem; width: 7.25rem; height: 7.25rem; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.prCont .check { padding: 0 1.25rem; background-color: #fff; border-bottom: 1px solid #e6e7e8; }

.prCont .check > p { font-size: 0.94rem; font-weight: 300; color: #000; padding: 1.06rem 0 1.06rem 2rem; background: url("/img/en/ico_fs-info.png") left center no-repeat; background-size: 1.38rem 1.38rem; }

/* 요금제 상세 팝업 */
.plan-detail * { -webkit-box-sizing: border-box; box-sizing: border-box; }

.plan-detail .cont-box { padding-bottom: 2.5rem; }

.plan-detail .plan-detail-tit { font-size: 0.81rem; font-weight: 500; color: #000; padding: 1.13rem 1rem; background-color: #f5f5f5; }

.plan-detail .list-tit { font-size: 0.88rem; font-weight: 600; color: #000; margin-top: 1.63rem; }

.plan-detail .list-tit:first-of-type { margin-top: 0; }

.plan-detail .list-tit.mt { margin-top: 1.63rem !important; }

.plan-detail .tbl-plan-detail { margin-top: 0.63rem; border-top: 1px solid #cfcfcf; }

.plan-detail .tbl-plan-detail th { font-size: 0.75rem; font-weight: 400; color: #858585; padding: 0.44rem 0.19rem; text-align: left; vertical-align: top; background-color: #f5f5f5; border-bottom: 1px solid #cfcfcf; border-left: 1px solid #cfcfcf; word-break: break-all; }

.plan-detail .tbl-plan-detail th:last-child { border-right: 1px solid #cfcfcf; }

.plan-detail .tbl-plan-detail td { font-size: 0.75rem; font-weight: 400; color: #000; padding: 0.44rem 0.25rem; text-align: left; vertical-align: top; border-bottom: 1px solid #cfcfcf; border-left: 1px solid #cfcfcf; word-break: break-all; }

.plan-detail .tbl-plan-detail td:last-child { border-right: 1px solid #cfcfcf; }

.plan-detail .tbl-plan-detail td.center { text-align: center; }

.plan-detail .txt { margin-top: 0.63rem; font-size: 0.75rem; font-weight: 300; color: #666666; }

.plan-detail .num-list { margin-top: 0.63rem; counter-reset: numList; }

.plan-detail .num-list > li { position: relative; font-size: 0.81rem; font-weight: 500; color: #000; padding-left: 1.13rem; }

.plan-detail .num-list > li::before { position: absolute; display: block; counter-increment: numList; content: counter(numList); top: 0.13rem; left: 0; width: 0.75rem; height: 0.75rem; line-height: 0.88rem; font-size: 0.69rem; text-align: center; border: 1px solid #000; border-radius: 50%; }

.plan-detail .num-list > li > .dot-list { margin-left: -1.13rem; }

.plan-detail .num-list > li > .tbl-plan-detail { width: calc(100% + 1.125rem); margin-left: -1.13rem; }

.plan-detail .num-list > li > .refer { margin-left: -1.13rem; }

.plan-detail .num-list > li + li { margin-top: 0.94rem; }

.plan-detail .dot-list { margin-top: 0.63rem; }

.plan-detail .dot-list > li { position: relative; font-size: 0.75rem; font-weight: 300; color: #666666; padding-left: 0.38rem; }

.plan-detail .dot-list > li::before { position: absolute; display: block; content: ''; top: 0.38rem; left: 0; width: 0.13rem; height: 0.13rem; background-color: #666666; border-radius: 50%; }

.plan-detail .dot-list > li > .tbl-plan-detail { width: calc(100% + 0.38rem); margin-left: -0.38rem; }

.plan-detail .dot-list > li > .refer { margin-left: -0.38rem; }

.plan-detail .dot-list > li + li { margin-top: 0.63rem; }

.plan-detail .dash-list { margin-top: 0.5rem; }

.plan-detail .dash-list > li { position: relative; font-size: 0.75rem; font-weight: 300; color: #666666; padding-left: 0.5rem; }

.plan-detail .dash-list > li::before { position: absolute; display: block; content: ''; top: 0.38rem; left: 0; width: 0.31rem; height: 0.06rem; background-color: #666666; }

.plan-detail .dash-list > li + li { margin-top: 0.5rem; }

.plan-detail .refer { position: relative; font-size: 0.75rem; font-weight: 300; color: #666666; padding-left: 0.63rem; margin-top: 0.63rem; }

.plan-detail .refer::before { position: absolute; display: block; content: '*'; top: 0.06rem; left: 0; }

.plan-detail .refer + .refer { margin-top: 0.63rem; }

/*# sourceMappingURL=maps/products_en.css.map */
