@charset "UTF-8";
/* 190321 TWD 추가 */
.og-color1 {color:#f76252;} /* 기본 다홍 색 */
.og-color2 {color:#178bce;} /* 파랑색 */

.widget-box.radio .radiobox.og-btn-radio {position:relative; display:inline-block;}
.widget-box.radio .radiobox.og-btn-radio.checked .btn-style3 {background-color:#f76252; border-color:#f76252; color:#fff;}
.widget-box.radio .radiobox.og-btn-radio.disabled .btn-style3 {background-color:#fff; border-color:#f2f2f2; color:#dcdcdc;}

/* 이용예약 */
.og-style-gradient-1 {padding-top:0.5625rem; background-color:#f76252; background:-webkit-linear-gradient(top, #f76252 0, #fc9b99 5.3125rem, #ecedef 5.3125rem, #ecedef 100%); background:linear-gradient(to bottom, #f76252 0, #fc9b99 5.3125rem, #ecedef 5.3125rem, #ecedef 100%);} /* 190325 수정 */
.cont-box.og-box-round {border-radius:0.9375rem; padding:0.9375rem 1.25rem; margin:1.25rem;}
.cont-box.og-time-start {position:relative; margin-top:1.875rem;}
.og-today-info {position:absolute; top:-1.5625rem; left:0; right:0;}
.og-today-info .today-day, .og-today-info .today-date {color:#fff; width:6.25rem; font-size:0.8125rem;}
.og-today-info .today-day {float:left; font-weight:bold;}
.og-today-info .today-date {float:right; text-align:right; font-weight:bold;}
.og-start-time .comp-tit {font-size:0.9375rem; color:#000; text-align:center; margin:0 0 1rem;}
.og-start-time .og-time-set {text-align:center; padding-bottom:0.3125rem;}
.og-start-time .og-time-set input.og-inp-number {display:inline-block; width:4.75rem; color:#333; font-size:3.375rem !important; line-height:3.5rem; text-align:center; border:0 none; border-bottom:1px solid #333; vertical-align:middle;}
.og-start-time .og-time-set input.og-inp-number::placeholder {color:#333;}
.og-start-time .og-time-dv {display:inline-block; font-size:3.375rem; color:#333; width:2.8125rem; height:3.5rem; vertical-align:middle; background:url('/img/t_m5g/og_time_div.png') no-repeat center; background-size:auto 1.1875rem;}
.og-start-time .widget-box.radio {margin:0 0 0.625rem; text-align:center;}
.og-start-time .widget-box.radio .radiobox.og-btn-radio {margin:0 0.3125rem;}
.og-start-time .widget-box.radio .radiobox.og-btn-radio .btn-round2 {width:3.25rem; padding-left:0; padding-right:0;}

.og-use-while {}
.og-use-while .comp-tit {font-size:0.9375rem; color:#000; text-align:center; margin:0 0 1rem;}
.og-use-while .og-time-display {font-size:2rem; line-height:2.625rem; color:#333; text-align:center; }
.og-use-while .og-time-display span {display:inline-block; vertical-align:-0.25rem; font-size:2.625rem; color:#f76252;}
.og-use-while .og-end-display {margin:1.375rem 0 0; text-align:center; font-size:0.8125rem; line-height:1rem;}
.og-use-while .og-end-display:before {content:''; display:inline-block; vertical-align:middle; margin-right:0.25rem; width:0.8125rem; height:0.9375rem; background:url('/img/t_m5g/og_alam.png') no-repeat 0 0; background-size:0.8125rem auto;}
.og-use-while .og-end-display .ti-me {color:#f76252; margin-left:0.3125rem;}
.og-use-while .og-mydata-stat {border-top:1px solid #f2f2f2; margin-top:1.25rem; padding:1.25rem 0 0;}
.og-use-while .og-mydata-stat:after  {content:''; clear:both; display:block; height:0;}
.og-use-while .og-mydata-stat .og-data-info {text-align:center;}
.og-use-while .og-mydata-stat .your-data {float:left; width:48%;}
.og-use-while .og-mydata-stat .used-data {float:right; width:49%; border-left:1px solid #f2f2f2;}
.og-use-while .og-mydata-stat .og-data-info .tit-le {display:block; font-size:0.875rem; color:#959595; margin-bottom:0.3125rem;}
.og-use-while .og-mydata-stat .og-data-info strong {display:block; color:#000; font-size:1.5rem; font-weight:normal;}
.og-use-while .og-mod-btns {margin-top:1rem; text-align:center;}
.og-use-while .og-mod-btns .btn-round2 {min-width:2.75rem; padding:0 0.25rem; height:2.25rem; line-height:2.25rem; font-size:0.875rem; -webkit-box-sizing:content-box; box-sizing:content-box;}

.og-push-5min {position:relative; }
.og-push-5min .comp-tit {font-size:0.9375rem; color:#000; margin:0 0 0.0625rem;}
.og-push-5min p {color:#959595; font-size:0.75rem;}
.og-push-5min .on-off-list.new .btn-switch {position:absolute; top:1.25rem;}
/* //이용예약 */

/* 시간설정 */
/* 190325 수정 */
.og-timeConf-wrap .circle-out-box:before {content:''; position:absolute; top:20px; left:20px; border-radius:260px; width:260px; height:260px; background-color:transparent; box-shadow:15px 15px 20px rgba(254, 107, 92, .3);}
.og-timeConf-wrap .circle-out-box .circle-datepicker {width:300px; height:300px; position:relative; background:url('/img/t_m5g/og_bg_timecircle_300x300.png') no-repeat 50%; background-size:190px;}
/* //190325 수정 */
.og-time-display-init {position: absolute; top:50%; left:50%; -webkit-transform:translateY(-50%) translateX(-50%); transform:translateY(-50%) translateX(-50%); margin:0;}
.og-time-display-init .time-count {display:block; text-align:center; margin:10px 0 0; color:#333; line-height:50px;}
.og-time-display-init .ti-me,
.og-time-display-init .mi-n {font-size:47px; /*font-family:TgothicBold, sans-serif;*/}
.og-time-display-init .di-v {display:inline-block; font-size:28px; vertical-align:top; margin:0 5px;}
.og-time-display-init .time-for-5g {display:block; text-align:center; color:#000; font-size:15px;}
.og-time-display-init .time-is-gb {display:block; text-align:center; color:#959595; font-size:14px;}
.og-time-display-init .og-hide-btn {position:absolute; top:22px; left:0; opacity:0; width:146px; height:67px; font-size:5px; color:transparent;}
.og-time-picked {text-align:center; margin:0 auto 0.625rem;}
.og-time-picked .time-last {position:relative; display:inline-block; background-color:#e6f2fb; border-radius:2.375rem; min-width:6.25rem; height:2.375rem; line-height:2.375rem; font-size:0.8125rem; letter-spacing:-1px; padding:0 0.6875rem;}
.og-time-picked .time-last:before {content:''; position:absolute; bottom:-1.625rem; left:50%; margin-left:-0.8125rem; width:0; height:0; border:0.8125rem solid transparent; border-top:0.8125rem solid #e6f2fb; -webkit-transform:scale(0.5, 1); transform:scale(0.5, 1);}
.og-time-picked .overflowed {color:#f76252; font-weight:normal;}
.og-data-compare {position:relative; margin:1.0625rem 0 0;}
.og-data-compare:before {content:''; position:absolute; width:0; height:3.0625rem; border-left:1px solid #e6e6e6; font-size:0; top:0; left:50%;}
.og-data-compare:after {content:''; clear:both; display:block; height:0;}
.og-data-compare .data-deduct {width:50%;}
.og-data-compare .data-deduct .tit-le {display:block; width:6.25rem; margin:0 auto; font-size:0.875rem;}
.og-data-compare .data-deduct .val-ue-wrap {display:block; width:6.25rem; margin:0 auto; font-size:1.6875rem; color:#959595;}
.og-data-compare .data-deduct .val-ue {font-weight:normal;}
.og-data-compare .data-deduct.be-fore {float:left;}
.og-data-compare .data-deduct.af-ter {float:right;}
.og-timeConf-wrap.active {}
.og-timeConf-wrap.active .og-data-compare .data-deduct.be-fore .val-ue-wrap {color:#ef4b49;}
.og-timeConf-wrap.active .og-data-compare .data-deduct.af-ter .val-ue-wrap {color:#178bce;}
.og-timeConf-wrap.active .og-time-picked .time-last {font-size:0.9375rem;}
.og-timeConf-wrap.overflowed .time-count {color:#666;}

.og-banner-tip {position:relative; background-color:#eff6fb; padding:1rem;}
.og-banner-tip .tip-alert {text-align:center; }
.og-banner-tip .st1, .og-banner-tip .st2, .og-banner-tip .st3, .og-banner-tip .st4 {display:block;}
.og-banner-tip .st1 {font-size:0.8125rem; font-weight:normal; margin-bottom:0.3125rem;}
.og-banner-tip .st2 {font-size:1rem; font-weight:bold; margin-bottom:0.3125rem;}
.og-banner-tip .st3 {font-size:0.8125rem; /*font-family:TgothicBold, sans-serif;*/ margin-bottom:0.9375rem;}
.og-banner-tip .st4 {font-size:0.8125rem; color:#666;}
.og-banner-tip .og-banner-tip-close {width:0.8125rem; height:0.8125rem; overflow:hidden; color:transparent; position:absolute; top:0.9375rem; right:0.9375rem; background:url('/img/t_m5g/og_close.png') no-repeat 0 0; background-size:100%;}
.og-promo-banner {margin-bottom:-0.5625rem; text-align:center; }
.og-promo-banner img {max-width:100%; vertical-align:top;}

.og-start5G {margin:1.0625rem 0 0; text-align:center;}
.og-start5G .btn-round1.btn-style1 {width:auto; min-width:10.125rem; padding-right:1.5625rem; padding-left:1.5625rem;}
.og-start5G .btn-round1.btn-style1:disabled {background-color:#dcdcdc;}

.og-start5G-wrap {position:relative; height:31.25rem; margin:-1.25rem -1rem -1rem; padding:6.875rem 0 0; background:url('/img/t_m5g/og_bg_mytime_count.png') no-repeat 50% 100%, -webkit-linear-gradient(left, #e73328 0, #ff7263 44%, #ff7263 100%); background:url('/img/t_m5g/og_bg_mytime_count.png') no-repeat 50% 100%, linear-gradient(to right, #e73328 0, #ff7263 44%, #ff7263 100%); background-size:auto 100%; text-align:center; color:#fff; box-sizing:border-box;}
.og-start5G-wrap .og-start5G-txt {font-size:1.6875rem; font-weight:300; letter-spacing:-0.0625rem;}
.og-start5G-wrap .og-start5G-time {position:absolute; top:14.625rem; left:0; right:0; font-size:1rem;}
.og-start5G-wrap .og-start5G-time:before {content:''; display:block; width:0.5rem; height:2.5625rem; margin:0 auto 0.625rem; background:url('/img/t_m5g/og_bg_time_count_bl.png') no-repeat 0 0; background-size:0.5rem 2.5625rem;}
.og-start5G-wrap .og-start5G-time .og-time-count {display:block; margin:0; font-weight:normal; font-size:5rem; line-height:5.625rem; letter-spacing:-0.0625rem; font-family:"Roboto", "Noto Sans KR", sans-serif;}
.og-start5G-wrap .og-start5G-time .og-time-count .di-v {display:inline-block; vertical-align:top; margin:0 -0.625rem; font-size:2.75rem;}
.og-start5G-wrap .og-start5G-btn {position:absolute; bottom:2.5rem; left:0; right:0;}
.og-start5G-wrap .og-start5G-btn .btn-round1 {width:8rem; border:1px solid #fff; color:#fff;}

.og-my5G-wrap {min-height:31.25rem; margin:-1.25rem -1rem -1rem; padding:6.375rem 0; text-align:center; box-sizing:border-box;}
.og-my5G-wrap .og-my5G-txt {font-size:1.5625rem; font-weight:300; letter-spacing:-0.0625rem;}
.og-my5G-wrap .og-my5G-data {margin:1.25rem 0 0; font-size:0.875rem;}
.og-my5G-wrap .og-my5G-data .og-data-count {display:block; font-weight:normal; font-size:1.875rem; color:#f76252;}
.og-my5G-wrap .og-my5G-btm {margin:2.5rem 2rem 0; padding:1.25rem 0 0; border-top:1px solid #f2f2f2; font-size:0.875rem;}
.og-my5G-wrap .og-my5G-btm .txt-s {font-size:0.75rem; color:#959595;}

.og-fullLink {position:relative;}
.og-fullLink .og-btns {font-size:1.8125rem; text-align:center;}
.og-fullLink .og-btns .btn-round1 {width:auto; min-width:9.6875rem; padding-right:1.5625rem; padding-left:1.5625rem;}
.og-fullLink .tit-le {display:inline-block; padding:1rem 0; font-size:1rem; color:#000;}
.og-fullLink .fullbtn {position:absolute; left:0; top:0; width:100%; height:100%; font-weight:bold; font-size:0.875rem; text-align:right;} 
.og-fullLink a.fullbtn span {display:inline-block; line-height:3.4375rem;}
.og-fullLink .fullbtn.arr-right {box-sizing:border-box; padding-right:0.875rem; background:url('/img/t_m5g/og_arr_1.png') no-repeat 100% center; background-size:auto 0.6875rem;}
.og-fullLink .halpbtn {position:absolute; right:0; top:0; width:auto; height:3.5rem; font-weight:bold; font-size:0.875rem; text-align:right;} 
.og-fullLink a.halpbtn span {display:inline-block; line-height:3.4375rem;}
.og-fullLink.reserv-auto {top:1rem; border-top:1px solid #f2f2f2;}
.og-resrv-calendar {font-size:0.875rem; padding-bottom:0.75rem; margin-top:-0.75rem;}
.og-resrv-calendar .expl {display:block; color:#959595;}

.og-comp-tit-s {display:block; margin:0 0 0.5625rem; color:#959595; font-weight:normal; font-size:0.75rem;}
.og-settime-btns {padding:0.4375rem 0 0.5625rem; margin:0 -0.5rem; text-align:center;}
.og-settime-btns button {width:4.375rem; height:4.375rem; margin:0 0.1875rem; border-radius:50%; background:#e6f2fb; color:#000; font-size:1rem; line-height:4.375rem; text-align:center;}
.og-settime-val {margin-top:0.625rem; font-size:1.125rem; text-align:right;}
.og-settime-val >span {display:inline-block; vertical-align:-0.125rem; font-size:1.5rem;}

.popup .popup-info .popup-contents.og-popup-intro {margin:-1.125rem -1.5rem 0;}
.popup .popup-info .popup-contents.og-popup-intro + .bt-bottom {margin-top:0;}
.og-popup-intro img {vertical-align:top;}

.og-h-tit-log-t {width:1.375rem; display:inline-block; vertical-align:middle; margin-right:0.3125rem;}
/* //시간설정 */

/* 예약확인 */
.og-data-deducted {margin-bottom:1.0625rem;}
.og-data-deducted:after {content:''; clear:both; display:block; height:0;}
.og-data-deducted .tit-le {float:left; font-size:0.9375rem; font-weight:bold; color:#000;}
.og-data-deducted .val-ue {float:right; font-size:0.9375rem; font-weight:bold; color:#f76252;}
.og-deducted-list {}
.og-deducted-list li {padding:0.875rem 0; height:1.3125rem; line-height:1.3125rem; border-bottom:1px solid #f2f2f2;}
.og-deducted-list li:after {content:''; clear:both; display:block; height:0;}
.og-deducted-list li.bnone {border-bottom:0;}
.og-deducted-list .tit-le {float:left; font-size:0.9375rem;}
.og-deducted-list .val-ue {float:right; font-size:0.9375rem;}
.og-deducted-list .val-ue.bo-ld {font-weight:bold; letter-spacing:-0.25px;}
.og-deducted-list .og-ic-today {width:1.6875rem; display:inline-block; vertical-align:middle; margin-right:0.25rem;}

.og-p-indt {text-indent:-0.9375rem; padding-left:0.9375rem; font-size:0.8125rem; line-height:1.4rem; color:#666; letter-spacing:-0.5px;}
.og-p-dot {color:#333; font-size:0.8125rem; line-height:1.4rem;}
.og-p-dot:before {content:''; border:1px solid #000; border-radius:1px; width:0; height:0; font-size:0; display:inline-block; vertical-align:middle; margin-right:0.3125rem;}

.bt-slice > li.og-bt-red1-white button, .bt-slice > li.og-bt-red1-white a {background:#ffffff; color:#f76252; border-top:1px solid #e5e5e5;}
.bt-slice > li.og-bt-red1-white button:hover, .bt-slice > li.og-bt-red1-white a:hover {background-color:#e0e0e0;}
/* //예약확인 */

/* 이용내역 */
.og-calWrap {position:relative; text-align:center;}
.og-calWrap .date-selcet {display:inline-table; vertical-align:middle; width:74%; margin:0;}
.og-calWrap .date-selcet .date-type input {padding-left:0.625rem;}
.og-calWrap .date-selcet .date-type input:after {right:0.625rem; margin:-0.5625rem 0 0; background-color:#f5f5f5;}

.og-mydata-search {text-align:center; margin:0 -0.5rem; padding-bottom:1rem;}
.og-mydata-search .og-calWrap {border-bottom:1px solid #fff; margin:0.75rem 0 -1.125rem; background:#fff;} /* 190325 수정 */
.og-mydata-search .og-calWrap .og-btn-1 {margin-left:0.25rem;}
.og-mydata-search .og-calWrap .btn-round3 {margin-left:0.25rem; padding-left:0.5625rem; padding-right:0.5625rem;}
.og-mydata-search .widget-box.radio .radiobox.og-btn-radio {margin:0 0.15625rem; font-size:0.875rem;}
.og-mydata-search .widget-box.radio .radiobox.og-btn-radio .btn-round2 {min-width:4.375rem; padding-left:0; padding-right:0;}
.og-mydata-search-txt {padding:1rem 0 0.125rem; border-top:1px solid #f2f2f2; font-size:1.125rem; text-align:center;}
.og-mydata-search-txt b {color:#178bce; font-weight:normal;}

.og-mydata-result:after {content:''; display:block; clear:both;}
.og-mydata-result >p {float:left; width:50%; text-align:center; color:#959595; font-size:0.875rem; box-sizing:border-box;}
.og-mydata-result >p + p {border-left:1px solid #f2f2f2;}
.og-mydata-result >p >span {display:block; /*font-family:TgothicBold, sans-serif;*/ font-size:1.125rem;}
.og-mydata-result >p >span >span {display:inline-block; vertical-align:-0.125rem; font-size:1.5rem;}
.og-mydata-result:not(.og-nodata) >p >span.og-time {color:#000;}
.og-mydata-result:not(.og-nodata) >p >span.og-data {color:#f76252;}
.cont-box.og-my-wrap {padding:0; background:none;}
.cont-box.og-my-wrap .og-mydata-result {padding:0.9375rem 0; background:#fff;}
.cont-box.og-my-wrap .result-none {background-color:#fff; border-top:1px solid #f2f2f2;}
.cont-box.og-my-wrap .btn-more button, .cont-box.og-my-wrap .btn-more a {background:#fff;}

.og-timeline {padding:1rem;}
.og-timeline-div:not(:first-child) {margin-top:0.9375rem;}
.og-timeline-div:after {content:''; display:block; clear:both;}
.og-timeline-date {float:left; width:3.25rem; padding-top:0.25rem; line-height:1; font-weight:normal; text-align:center;}
.og-timeline-date .og-mon {font-size:0.875rem; color:#858585;}
.og-timeline-date .og-day {display:block; font-size:1.25rem; font-weight:bold; color:#000;}
.og-timeline-list {float:right; width:79.5%; width:calc(100% - 4.25rem);}
.og-timeline-list .og-data-return {color:#178bce;}
.og-timeline-list .acco-title {position:relative; display:table; width:100%; height:3.125rem; padding:0 2.375rem 0 1.4375rem; background:#fff; font-size:0.875rem; line-height:1.2; box-sizing:border-box; text-decoration:none;}
.og-timeline-list .acco-title:before {content:''; position:absolute; left:-0.4375rem; top:50%; margin-top:-0.4375rem; width:0.875rem; height:0.875rem; background:url('/img/t_m5g/og_sp_timeline.png') no-repeat 0 0; background-size:4.6875rem auto;}
.og-timeline-list .acco-title >span {display:table-cell; vertical-align:middle;}
.og-timeline-list .acco-title >span.og-time {/*word-break:break-word;*/}
.og-timeline-list .acco-title >span.og-data {text-align:right;}
.og-timeline-list .acco-title >span.og-data .og-data-return {display:block; font-weight:normal;}
.og-timeline-list .acco-content {/*display:none;*/ padding:0 1rem 0 1.4375rem; background:#fff; color:#666; font-size:0.875rem; line-height:1.2;}
.og-timeline-list .acco-content-innr {padding:0.625rem 0; border-top:1px solid #f2f2f2;}
.og-timeline-list .og-txt-list >p {display:table; width:100%; padding-bottom:0.625rem;}
.og-timeline-list .og-txt-list >p >span {display:table-cell; vertical-align:top; white-space:nowrap;}
.og-timeline-list .og-txt-list >p >span.og-txt-r {text-align:right; white-space:normal;}
.og-timeline-list .acco-list {position:relative; margin-top:0.3125rem;}
.og-timeline-list .acco-list:first-child {margin-top:0;}
.og-timeline-list .acco-list .acco-title button, .og-timeline-list .acco-list .acco-title a {position:absolute; top:0; bottom:0; left:0; right:0; color:transparent;}
.og-timeline-list .acco-list .acco-title button:after, .og-timeline-list .acco-list .acco-title a:after {content:'' !important; right:0.5625rem !important; background-position:-1.5625rem -21.875rem !important;}
.og-timeline-list .acco-list.on .acco-title button:after, .og-timeline-list .acco-list.on .acco-title a:after {background-position:0 -21.875rem !important;}
.og-timeline-list .acco-list.on .acco-title {font-weight:bold;}
.og-timeline-list .acco-list.on .acco-title:before {background-position:0 -1.1875rem;}
.og-timeline-list .acco-list.on .acco-content {/*display:block;*/}
/* //이용내역 */

@media all and (max-width:359px) {
	/* 이용내역 */
	.og-timeline-date {margin-left:-0.625rem;}
	.og-timeline-list {width:84%; width:calc(100% - 2.625rem);}

	/* 시간설정 */
	.og-settime-btns button {width:3.9375rem; height:3.9375rem; line-height:3.9375rem;}
}
/* //190321 TWD 추가 */

/* 190325 추가 - 마케팅페이지 */
.og-color3 {color:#666;}
.og-color4 {color:#959595;}
.og-color5 {color:#717171;}
.og-stxt {font-size:0.75rem;}
.og-stxt-dot {position:relative; padding-left:0.5em; font-size:0.8125rem;}
.og-stxt-dot:before {content:''; position:absolute; left:0; top:0.4375rem; border-top:0.125rem solid; width:0.125rem; border-radius:50%; overflow:hidden;}
.og-stxt-dot-list>li {margin:0.0625rem 0;}
.og-tab-linker {position:relative; overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling:touch;}
.og-tab-linker > ul {white-space:nowrap; padding-left:1.5rem;}
.og-tab-linker > ul:after {content:""; position:absolute; left:0; right:0; bottom:0; border-bottom:1px solid #f1f1f1; }
.og-tab-linker > ul > li {position:relative; display:inline-block; margin-right:1rem; border-bottom:0.125rem solid transparent; height:3rem; -webkit-box-sizing:border-box; box-sizing:border-box; z-index:5;}
.og-tab-linker > ul > li button, .og-tab-linker > ul > li a {display:inline-block; position:relative; height:2.8125rem; line-height:2.8125rem; font-size:0.875rem; font-weight:400; vertical-align:middle;}
.og-tab-linker > ul > li.on {border-bottom:0.1875rem solid #ef4b49; color:#000; font-weight:400;}
.og-tab-linker > ul > li.on button, .og-tab-linker > ul > li.on a {font-weight:700; color:#ef4b49;}
.og-5mktp-wrap .header-wrap {background:#fff !important;}
.og-5mktp-wrap .header-wrap .h-belt {border-bottom:0 !important;}
.og-5mktp-wrap .og-5mktp-titype1 {font-size:1.75rem; line-height:1.3; letter-spacing:-0.0625rem;}
.og-5mktp-wrap .og-5mktp-titype2 {font-size:2rem; line-height:1.3; letter-spacing:-0.0625rem;}
.og-5mktp-wrap .og-5mktp-txtype1 {font-size:1.063rem;}
.og-5mktp-wrap .og-5mktp-txtype2 {font-size:0.875rem;}
.og-5mktp-wrap .og-5mktp-txtype3 {font-size:0.9375rem;}
.og-5mktp-wrap .og-5mktp-txtype4 {font-size:1.375rem;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker, .og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul {background:#f4f4f4; overflow:hidden;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul {display:table; width:100% !important;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul:after {content:none;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul > li {display:table-cell; width:1%; float:none; height:4rem; border:0; margin:0; padding:0;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul > li button, .og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul > li a {display:block; height:100%; padding:0; font-size:1rem; line-height:1.2; color:#000; font-weight:700; text-align:center;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul > li a span {position:relative; display:block; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul > li[aria-selected="true"] {border:0;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul > li[aria-selected="true"] button, .og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul > li[aria-selected="true"] a {color:#db092c;}
.og-5mktp-wrap .tab-area.og-5mktp-tab .tab-linker > ul.col4 >li {width:25%; margin:0;}
.og-5mktp-wrap .tab-area.og-5mktp-tab.fixed {padding-top:4rem;}
.og-5mktp-wrap .tab-area.og-5mktp-tab.fixed .tab-linker {position:fixed; z-index:26; top:3.188rem; left:0; width:100%; border-top:1px solid #e5e5e5; box-sizing:border-box;}
.og-5mktp-keyvisual {position:relative; min-height:20rem; background:#fff;}
.og-5mktp-keyvisual .img img {display:block; width:100%; vertical-align:top;}
.og-5mktp-keyvisual .text-wrap {position:absolute; top:0; left:0; right:0; bottom:0; padding:3.2% 7.7% 0;}
.og-5mktp-keyvisual .text-wrap .tit {margin:0 0 2.7%; font-size:1rem; line-height:1.25; letter-spacing:-0.0625rem;}
.og-5mktp-keyvisual .text-wrap .tit strong {display:block; margin:2.5% 0 0 -0.1875rem; font-size:2.1875rem; line-height:1.1; font-weight:normal; letter-spacing:-0.25rem;}
.og-5mktp-keyvisual .text-wrap .tit .em {color:#d21717;}
.og-5mktp-keyvisual .text-wrap p {font-size:0.75rem; color:#333; text-shadow:1px 1px rgba(255,255,255,.7);}
.og-5mktp-keyvisual .text-wrap .txt-sub {position:absolute; bottom:2.25rem; left:1.5rem; right:1.5rem; font-size:1.188rem; line-height:1.3; letter-spacing:-0.0625rem;}
.og-5mktp-keyvisual .text-wrap .txt-sub .sup {display:inline-block; vertical-align:0.3125rem; margin:0 0.125rem; font-size:0.75rem; opacity:0.5; letter-spacing:0;}
.og-5mktp-keyvisual .text-wrap .txt-sub ul>li {position:relative; padding-left:0.9375rem; margin-top:0.8125rem;}
.og-5mktp-keyvisual .text-wrap .txt-sub ul>li:before {content:''; position:absolute; left:0; top:0.5rem; border-top:0.25rem solid; width:0.25rem; border-radius:50%; overflow:hidden;}
.og-5mktp-topbanr {position:relative;}
.og-5mktp-topbanr .img {vertical-align:top; width:100%;}
.og-5mktp-topbanr .text-wrap {position:absolute; top:0; left:0; right:0; padding:10% 1.375rem 0; color:#000;}
.og-5mktp-topbanr .text-wrap .txt_t {margin:0 0 7.5%; font-size:2.188rem; line-height:1.2; letter-spacing:-0.0625rem;}
.og-5mktp-topbanr .text-wrap .txt {font-size:0.9375rem;}
.og-5mktp-topbanr .text-wrap .txt .subtx {display:block; margin:3% 0 0; font-size:0.8125rem;}
.og-5mktp-contwrap {padding:2.875rem 1.5rem 3.125rem;}
.og-5mktp-contwrap .og-tab-linker {margin:0 -1.5rem;}
.og-5mktp-contwrap .bt-slice {width:auto; margin:0 -0.375rem;}
.og-5mktp-imgwrap-type1 .img {margin:0 -1.5rem;}
.og-5mktp-imgwrap-type1 .img img {display:block; width:100%; vertical-align:top;}
.og-5mktp-imgwrap-type1 .og-stxt-dot-list {margin:0.75rem 0 0;}
.og-5mktp-imgslide-wrap {margin:0 -1.5rem;}
.og-5mktp-imgslide-wrap .widget-box.slider1 {width:100%;}
.og-5mktp-imgslide-wrap .slick-slider.slick-dotted {padding-top:2.125rem;}
.og-5mktp-imgslide-wrap .slick-dots {position:absolute; bottom:auto; top:0; text-align:left;}
.og-5mktp-imgslide-wrap .slick-dots li {position:relative; width:0.875rem; height:1.438rem; padding:0 0.75rem 0 0; margin:0; text-align:center; font-size:0.75rem; line-height:1.438rem; color:#999; font-weight:bold;}
.og-5mktp-imgslide-wrap .slick-dots li.slick-active {color:#000;}
.og-5mktp-imgslide-wrap .slick-dots li.slick-active:before {content:''; position:absolute; top:0; left:0; width:0.875rem; border-top:1px solid;}
.og-5mktp-imgslide-wrap .slick-arrow {position:absolute; z-index:2; top:50%; margin-top:-0.8125rem; width:3.625rem; height:3.625rem; background:url('/img/t_m5g/og_sp_slide_arrow.png') no-repeat 0 0; background-size:auto 3.625rem; color:transparent;}
.og-5mktp-imgslide-wrap .slick-arrow.slick-prev {left:0.75rem; background-position:0 0;}
.og-5mktp-imgslide-wrap .slick-arrow.slick-next {right:0.75rem; background-position:-3.938rem 0;}
.og-5mktp-imgslide-wrap .slick-arrow.slick-disabled {opacity:0.1;}
.og-5mktp-imgslide-wrap.type2 .slick-arrow {margin-top:0.8125rem;}
.og-5mktp-imgslide {width:100%; position:relative;}
.og-5mktp-imgslide .img {margin:0;}
.og-5mktp-imgslide .img img {display:block; width:100%; vertical-align:top;}
.bt-slice > li .og-ico-app01, .bt-slice > li .og-ico-app01 {display:inline-block; vertical-align:middle; width:1.063rem; height:1.188rem; margin:0 0.5rem 0.125rem 0; background:url('/img/t_m5g/og_btn_ico_appstore01.png') no-repeat 0 0; background-size:100%;}

body.og-5mktp-intro {background-color:#fff;}
body.og-5mktp-intro>.wrap, body.og-5mktp-intro .container-wrap, body.og-5mktp-intro>.wrap, body.og-5mktp-intro .container {height:100%;}
body.og-5mktp-intro>.wrap, body.og-5mktp-intro .container-wrap {margin:0; padding:0; overflow:visible;}
.og-5mktp-intro-logo {padding:1.688rem 0 0;}
.og-5mktp-intro-logo:after {content:''; display:block; clear:both;}
.og-5mktp-intro-logo img {float:left; height:1.125rem; vertical-align:top;}
.og-5mktp-intro-logo .txt-r {float:right; font-size:0.8125rem;}
.og-5mktp-intro-headwrap {height:91%; height:calc(100% - 52px); padding:0 1.125rem; background-color:#ae020d; background:-webkit-linear-gradient(top, #e5461c 0, #ae020d 100%); background:linear-gradient(to bottom, #e5461c 0, #ae020d 100%); box-sizing:border-box;} /* 190403 수정 */
.og-5mktp-intro-headwrap .intro-menus {padding:1.25rem 0 0; font-size:16px; height:70%;}
.og-5mktp-intro-headwrap .intro-menus>li {display:table; width:100%; height:33.3333%;}
.og-5mktp-intro-headwrap .intro-menus>li>a, .og-5mktp-intro-headwrap .intro-menus>li>button {display:table-cell; vertical-align:middle; height:100%; padding:0 2em 0;}
.og-5mktp-intro-headwrap .intro-menus>li>a .text-wrap:after, .og-5mktp-intro-headwrap .intro-menus>li>button .text-wrap:after {content:''; position:absolute; top:-0.3125rem; right:0.188em; width:2rem; height:1.313rem; background:url('/img/t_m5g/og_5mktp_intro_bg_arrow01.png') no-repeat 0 0; background-size:100%;}
.og-5mktp-intro-headwrap .intro-menus>li .text-wrap {position:relative; display:block;}
.og-5mktp-intro-headwrap .intro-menus>li .tit {display:block; font-size:1.625em; line-height:1.25; letter-spacing:-0.0625em; color:#fff;}
.og-5mktp-intro-headwrap .intro-menus>li .subtx {display:block; margin:0 0 0.25em; font-size:0.875em; color:#fff;}
.og-5mktp-intro-headwrap .intro-menus>li:nth-child(1) {background:#ae020d;}
.og-5mktp-intro-headwrap .intro-menus>li:nth-child(2) {background:#be051a;}
.og-5mktp-intro-headwrap .intro-menus>li:nth-child(3) {background:#d54329;}
.og-5mktp-intro-headwrap .og-5mktp-intro-logo .txt-r {color:#fff;}
.og-5mktp-intro-body {padding:2.5rem 0 3.125rem;}
.og-5mktp-intro-bannr {position:relative; margin:2.188rem 0 0; font-size:16px;}
.og-5mktp-intro-bannr>a.text-wrap:after, .og-5mktp-intro-bannr>button.text-wrap:after {content:''; display:inline-block; width:2rem; height:1.313rem; margin:1.5em 0 0; background:url('/img/t_m5g/og_5mktp_intro_bg_arrow02.png') no-repeat 0 0; background-size:100%;}
.og-5mktp-intro-bannr>a.text-wrap.arrow-type2:after, .og-5mktp-intro-bannr>button.text-wrap.arrow-type2:after {margin:0.375em 0 0;}
.og-5mktp-intro-bannr .text-wrap {position:absolute; top:0; left:0; right:0; display:block; padding:0 1.875em;}
.og-5mktp-intro-bannr .text-wrap .tit {display:block; margin:0 0 0.75rem; font-size:2.25em; font-weight:normal; letter-spacing:-0.0625em; line-height:1.2; color:#000;}
.og-5mktp-intro-bannr .text-wrap .txt {display:block; font-size:1em; letter-spacing:-0.0625em; color:#000; text-shadow:1px 1px rgba(255,255,255,.7);}
.og-5mktp-intro-bannr .text-wrap .txt-s {display:block; font-size:0.8125em; color:#f5492a;}
.og-5mktp-intro-bannr .img img {display:block; width:100%; vertical-align:top;}

.og-5mktp-intro-cover {position:fixed; z-index:9999; top:0; right:0; bottom:0; left:0; background:#fff; padding:0 1.125rem;}
.og-5mktp-intro-cover .og-5mktp-intro-logo .txt-r {font-weight:bold;}
.og-5mktp-intro-cover .cover-cont {position:absolute; top:50%; left:0; right:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); font-size:0.8125rem; line-height:1.5; color:#333; text-align:center;}
.og-5mktp-intro-cover .cover-cont strong {display:block;}
.og-5mktp-intro-cover .cover-cont strong img {vertical-align:top; height:5.875rem;}

.og-bg-5mktp-brawl {margin-right:-0.75rem; background:url('/img/t_m5g/og_bg_5mktp_brawl_goods.png') no-repeat 100% 100%; background-size:5.75rem auto;}
.og-bg-5mktp-oksusu {margin-right:-0.75rem; padding-bottom:0.625rem; background:url('/img/t_m5g/og_bg_5mktp_oksusu.png') no-repeat 100% 100%; background-size:5.625rem auto;}
.og-bg-5mktp-gamepack {padding:1.8125rem 0 1.25rem; background:url('/img/t_m5g/og_bg_5mktp_gamepack.png') no-repeat 80% 50%; background-size:auto 8.875rem;}

@media all and (max-width:359px) {
	.og-5mktp-wrap .og-5mktp-titype1 {font-size:1.5rem;}
	.og-5mktp-intro-headwrap .intro-menus, .og-5mktp-intro-bannr {font-size:14px;}
	.og-bg-5mktp-brawl {background-size:5rem auto;}
	.og-bg-5mktp-oksusu {padding-bottom:0; background-position:100% 100%; background-size:3.5rem auto;}
	.og-bg-5mktp-gamepack {background-size:auto 7rem;}
}


/* kjm */
.og-5mktp-box-wrap{position:relative; background:#fff;}
.og-5mktp-box-wrap .og-bg-wrap{position:absolute; left:0; top:0; width:100%; z-index:0}
.og-5mktp-box-wrap .og-bg-wrap img{width:100%; height:auto; vertical-align:top}

.og-5mktp-box{position:relative; z-index:2; padding:3.3rem 0 3.06rem; border-bottom:1px solid #e6e6e6}
.og-5mktp-box.og-nth-box2{background:url('/img/t_m5g/og_meta_bg.png') no-repeat right bottom; background-size:100%}
.og-5mktp-box.og-nth-box3{background:url('/img/t_m5g/og_tra_bg.png') no-repeat left top; background-size:100%; padding-bottom:0}
.og-5mktp-box.og-no-border{border-bottom:none}
.og-5mktp-box .box-tit-wrap{padding:0 1.375rem; position:relative; z-index:2}
.og-5mktp-box .box-tit-wrap .og-5mktp-box-tit{font-size:2.188rem; color:#000; letter-spacing:-0.0625rem; line-height:1.15}
.og-5mktp-box .og-5mktp-box-subtit{ font-size:1.40rem ; line-height:1.3; margin-top:1.41rem}
.og-5mktp-box .og-good-num{margin-top:-1rem; }
.og-5mktp-box .og-good-num.og-wide-gap{margin-top:2.3rem}
.og-5mktp-box .og-good-num .img_mt{margin-top:0.93rem}
.og-5mktp-box .img{width:100%; vertical-align:top}

.og-5mktp-box .og-cont-wrap{padding:0 1.1rem 0 1.375rem; margin-top:2.09rem; position:relative; z-index:2; font-size:0.87rem}
.og-5mktp-box .og-cont-wrap > .og-5mktp-box-subtit{margin-top:0}
.og-5mktp-box .og-cont-wrap .og-strong{font-weight:bold; }
.og-5mktp-box .og-cont-wrap .cont-em{color:#000; font-size:0.93rem}
.og-5mktp-box .og-cont-wrap .cont-em .else{font-weight:normal}
.og-5mktp-box .og-cont-wrap .cont-box-normal{margin-top:1.24rem}
.og-5mktp-box .og-cont-wrap .cont-box-normal.mg-type01{margin-top:0.93rem}

.og-5mktp-box .og-cont-wrap .og-gray-txt-pra{color:#959595; margin-top:0.59rem}
.og-5mktp-box .og-cont-wrap .og-gray-txt-pra.mg-type01{margin:1.31rem 0 2.45rem}
.og-5mktp-box .og-cont-wrap .og-gray-txt-pra .box-refer{display:block; } 
.og-5mktp-box .og-cont-wrap .og-gray-txt-pra .box-refer:before{content:'※ '; }

.og-5mktp-benefit-wrap{background:#edeef0}
.og-5mktp-benefit-wrap .cont-box.nogaps-btm{padding-top:2.43rem; border-bottom:none }
.og-5mktp-benefit-wrap .productinfoscroll-box.slide-nopd{padding:0.9375rem 0 2.43rem !important}
.og-5mktp-benefit-wrap .productinfoscroll-box .product-info{display:table; padding-top:1.03rem; padding-bottom:1.03rem }
.og-5mktp-benefit-wrap .productinfoscroll-box .product-info .title{line-height:1.4; display:table-cell; vertical-align:middle}
.og-5mktp-benefit-wrap .productinfoscroll-box .product-info.og-bnf-have-arr:after{content:''; display:inline-block; width:0.46rem; height:0.81rem; background:url('/img/t_m5g/og_bnf_arr.png') left top; background-size:100%; position:absolute; top:50%; right:0.75rem; -webkit-transform:translateY(-50%); transform:translateY(-50%);}  

.og-5mktp-btm-banner.og-fixed{position:fixed; z-index:30; left:0; right:0; bottom:0; width:100%; overflow:hidden;}
.og-5mktp-btm-banner .og-5mktp-banner{display:block;}
.og-5mktp-btm-banner .og-5mktp-banner img{width:100%; height:auto; vertical-align:top}
.og-5mktp-btm-banner .og-5mktp-banner.banrimg {height:3.75rem; background:#000 url('/img/t_m5g/og_5mktp_sale_banner_02.png') no-repeat 50% 0; background-size:auto 3.75rem;}
.og-5mktp-btm-banner-wrap {height:1.25rem;}
.og-5mktp-btm-banner-wrap.app {height:3.75rem;}
.og-5mktp-btm-banner-wrap.app .og-fixed {bottom:2.5rem;}

/*kjm - VR pack*/
.og-vrpack-box{margin-top:2.18rem}
.og-vrpack-box .og-vrbnf_list .vrbnf-img img{width:100%; height:auto; vertical-align:top; }
.og-vrpack-box .og-vrbnf_list .og-vrbnf-txt{font-size:0.75rem; padding-top:0.51rem; padding-right:20%; }
.og-vrpack-box .og-vrbnf_list .og-vrbnf_detail .item{margin-top:1.84rem; position:relative}
.og-vrpack-box .og-vrbnf_list .og-vrbnf_detail .item .bnf-num{font-size:1.25rem; position:absolute; left:0; top:0}
.og-vrpack-box .og-vrbnf_list .og-vrbnf_detail .item .vrbnf-detail{margin-top:0.56rem; padding-left:16%; }
.og-vrpack-box .og-vrbnf_list .og-vrbnf_detail .item .vrbnf-detail .tit{font-weight:bold; font-size:0.93rem;  }
.og-vrpack-box .og-vrbnf_list .og-vrbnf_detail .item .vrbnf-detail .tit .og-refer{display:inline-block; color:#666; font-size:0.75rem; font-weight:normal}
.og-vrpack-box .og-vrbnf_list .og-vrbnf_detail .item .vrbnf-detail .d-txt{margin-top:0.43rem; padding-right:23%; color:#666; font-size:0.75rem; line-height:1.25 }
.og-vrpack-box .og-vrbnf_list .og-vrbnf_detail .item .vrbnf-detail .d-txt.black{color:#000; }
.og-5mktp-btnarea{margin-top:1.18rem; }
.og-5mktp-btnarea .og-color-btn{display:block;height:3.125rem; background:#ef4b49; text-align:center; font-size:0.875rem; font-weight:bold; color:#fff; line-height:3.125rem }

.og-vrpack-box .og-vrpack-refer-wrap{margin-top:1.5rem; padding-bottom:2.25rem; border-bottom:1px solid #e1e1e1}
.og-vrpack-box .og-vrpack-refer-wrap .og-vrpack-refer-tit{font-size:0.875rem; font-weight:bold}
.og-vrpack-box .og-vrpack-refer-wrap .og-vrpack-refer-item{color:#666; font-size:0.75rem; padding-left:0.625rem; position:relative; margin-top:0.75rem }
.og-vrpack-box .og-vrpack-refer-wrap .og-vrpack-refer-item:before{content:'*'; left:0; top:2px; position:absolute }

.og-5mktp-youtube-box{margin-top:2.78rem}
.og-5mktp-youtube-wrap{position:relative; margin-top:1.15rem}
.og-5mktp-youtube-wrap .og-youtube-play{display:inline-block; width:3.625rem; height:3.625rem; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%) }
.og-5mktp-youtube-wrap .og-youtube-play img{width:100%; height:auto; vertical-align:top}

.og-5mktp-join-box{margin-top:2rem}
.og-5mktp-join-box.btn-num2{}
.og-5mktp-line-btn{display:inline-block; width:100%; border:1px solid #e1e1e1; position:relative; height:3.125rem; font-size:0.87rem; font-weight:bold; line-height:3rem; padding:0 2.3rem 0 1.24rem; box-sizing:border-box; white-space:nowrap}
.og-5mktp-line-btn:after{content:''; width:0.43rem; height:0.71rem; background:url('/img/t_m5g/og_linebtn_arr.png') no-repeat left top; background-size:100%; position:absolute; top:50%; right:0.81rem; -webkit-transform:translateY(-50%); transform:translateY(-50%) }
.og-5mktp-line-btn > img {vertical-align:middle;}

.og-5mktp-btnarea.type02 .og-5mktp-line-btn{width:49%}
.og-5mktp-wrap .og-vr-refer{display:block; font-size:0.75rem; margin-top:0.625rem}
.og-5mktp-wrap .og-vr-refer{display:block; font-size:0.75rem; margin-top:0.625rem}
.og-5mktp-wrap .og-5mktp-em{color:#ef4b49}

/*kjm - 마음껏 누리는 생활*/
.og-5mktp-wrap .og-5mktp-block{display:block}
.og-5mktp-wrap .og-5mktp-titS21{font-size:1.3125rem}
.og-5mktp-wrap .og-5mktp-titS22{font-size:1.375rem; font-weight:bold }
.og-5mktp-wrap .og-5mktp-titS23{font-size:1.44rem; }
.og-5mktp-wrap .og-5mktp-titS24{font-size:1.55rem; }
.og-5mktp-wrap .og-5mktp-titS25{font-size:1.56rem; }
.og-5mktp-wrap .og-5mktp-titS27{font-size:1.68rem; }
.og-5mktp-wrap .og-5mktp-titS30{font-size:1.875rem; }
.og-5mktp-wrap .og-5mktp-txtS16{font-size:1rem; }
.og-5mktp-wrap .og-5mktp-txtS15{font-size:0.93rem; }
.og-5mktp-wrap .og-5mktp-txtS14{font-size:0.875rem; }
.og-5mktp-wrap .og-5mktp-txtS13{font-size:0.8125rem; }
.og-5mktp-wrap .og-5mktp-word-break{word-break:break-all}
.og-5mktp-wrap .og-chcolor-red{color:#db092c}
.og-5mktp-wrap .og-chcolor-org{color:#ee7115}
.og-5mktp-wrap .og-small-refer{color:#959595; font-size:0.68rem; }
.og-5mktp-wrap .og-small-refer:before{content:'※'}
.og-5mktp-wrap .og-small-refer.ta-left{text-align:left}

.og-5mktp-wrap .og-life-cardbox{margin-top:0.9375rem}
.og-5mktp-wrap .og-life-cardbox .og-card-refer{display:block; color:#666; font-size:0.875rem }
.og-5mktp-wrap .og-life-cardbox .og-card-refer.small{font-size:0.75rem}

.og-5mktp-wrap .og-plan-card-sale{text-align:center}
.og-5mktp-wrap .og-plan-card-sale .og-plan-sale-tit{font-size:1.875rem;}
.og-5mktp-wrap .og-plan-card-sale .og-plan-sale-tit .og-small_tit{display:block; font-size:1.06rem; font-weight:bold}
.og-5mktp-wrap .og-plan-sale-list{margin-top:0.625rem}
.og-5mktp-wrap .og-plan-sale-list ul > li:not(:first-child) {margin-top:0.25rem}
.og-5mktp-wrap .og-plan-card-sale > .og-plan-tsafe{padding-top:3rem; position:relative}
.og-5mktp-wrap .og-plan-card-sale > .og-plan-tsafe:before{content:''; display:inline-block; background:url('/img/t_m5g/og_plan_card_plus.png') no-repeat left top; width:1.31rem; height:1.31rem; background-size:100%; position:absolute; left:50%; top:1.69rem; margin-left:-0.655rem }

.og-5mktp-wrap .og-life-graybox{background-color:#fafafa; margin:0 -1.5rem}
.og-5mktp-wrap .og-life-graybox .og-life-graybox-cont{margin:0 1.5rem; padding:2rem 0; position:relative}
.og-5mktp-wrap .og-life-graybox .og-life-box-tit{font-size:1.06rem; font-weight:bold }
.og-5mktp-wrap .og-life-graybox .og-life-card-define{margin-top:1.06rem}
.og-5mktp-wrap .og-life-graybox .og-card-item {font-size:0.81rem; color:#666;}
.og-5mktp-wrap .og-life-graybox .og-card-item:not(:first-child) {margin-top:0.4375rem}
.og-5mktp-wrap .og-life-graybox .og-card-item .og-card-name{display:inline-block; padding-left:2.5rem; position:relative;  }
.og-5mktp-wrap .og-life-graybox .og-card-item .og-card-name:before{content:''; display:inline-block; width:2.06rem; height:1.31rem; position:absolute; left:0; top:0; background-position:left top; background-repeat: no-repeat; background-size:100%}
.og-5mktp-wrap .og-life-graybox .og-card-item .og-card-name.og-samsung:before{background-image:url('/img/t_m5g/og_life3_card01_small.png'); }
.og-5mktp-wrap .og-life-graybox .og-card-item .og-card-name.og-telo:before{background-image:url('/img/t_m5g/og_life3_card02_small.png'); }
.og-5mktp-wrap .og-life-graybox .og-card-item .og-card-tel{display:inline-block;}
.og-5mktp-wrap .og-life-graybox .og-card-item .og-card-tel strong{color:#000; font-size:0.875rem}

.og-5mktp-wrap .og-spbnf-list{overflow:hidden; width:100%; }
.og-5mktp-wrap .og-spbnf-list:after{content:''; display:block; clear:both}
.og-5mktp-wrap .og-spbnf-list .og-sp-item{float:left; width:46.5%; margin-right:7% }
.og-5mktp-wrap .og-spbnf-list .og-sp-item:last-child{margin-right:0}
.og-5mktp-wrap .og-spbnf-list .og-sp-item .og-sp-term img{width:100%; height:auto; vertical-align:top }
.og-5mktp-wrap .og-spbnf-list .og-sp-item .og-sp-define{margin-top:0.7rem; font-size:1.06rem; font-weight:bold}

.og-5mktp-wrap .og-big5-list{margin-top:0.75rem}
.og-5mktp-wrap .og-big5-list .og-big5-item{border-bottom:1px solid #f2f2f2; overflow:hidden; display:table; width:100%}
.og-5mktp-wrap .og-big5-list .og-big5-item:last-child{border-bottom:none}
.og-5mktp-wrap .og-big5-list .og-big5-item .og-big5-img{display:table-cell; width:39% ; vertical-align:middle }
.og-5mktp-wrap .og-big5-list .og-big5-item .og-big5-img img{width:100%; height:auto; vertical-align:middle}
.og-5mktp-wrap .og-big5-list .og-big5-item .og-big5-detail{display:table-cell; width:61%; vertical-align:middle; padding:1rem 0}
.og-5mktp-wrap .og-big5-list .og-big5-item .og-big5-detail .og-big5-tit{font-size:1.0625rem; font-weight:bold }
.og-5mktp-wrap .og-big5-list .og-big5-item .og-big5-detail .og-big5-txt{font-size:0.875rem; color:#666; margin-top:0.5rem}
.og-5mktp-wrap .og-life-graybox .og-tbnf-txt{ width:60%; margin-top:0.875rem; line-height:1.5; font-size:0.8125rem; color:#666}
.og-5mktp-wrap .og-life-graybox .og-tbnf-btn{width:10rem}
.og-5mktp-wrap .og-life-graybox .og-life-tbnf-img{width:8.875rem; position:absolute; right:-1.5rem; top:2rem}
.og-5mktp-wrap .og-life-graybox .og-life-tbnf-img img{width:100%; height:auto;}

/*5x plan*/
.og-5mktp-wrap .og-plan-box{position:relative; border-bottom:1px solid #e0e4e7}
.og-5mktp-wrap .og-plan-box .og-plan-txt-wrap{width:100%; box-sizing:border-box; padding:2.875rem 1.5rem 3.125rem; }
.og-5mktp-wrap .og-plan-box .og-plan-txt-wrap.pos_ab{position:absolute; left:0; top:0; }
.og-5mktp-wrap .og-plan-imgwrap .img img {width:100%; height:auto; vertical-align:top}

.og-5mktp-wrap .og-plan-box .og-txt-img{display:inline-block; vertical-align:top; font-size:0; padding-right:0.375rem}
.og-5mktp-wrap .og-plan-box .og-txt-img img{width:auto; height:2.08rem; }


.og-5mktp-wrap .og-plan-box .og-plan-imgwrap .img img{vertical-align:bottom}

.og-5mktp-wrap .og-vr-bnf-list{}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item{position:relative; padding-left:2.3rem; margin-top:1.56rem}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item:first-child{margin-top:0}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item .og-vr-bnf-num{position:absolute; left:0; top:0; font-size:2.5rem; line-height:.9}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item .og-vr-bnf-tit{font-size:1.25rem; line-height:1.3; font-weight:bold}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item .og-vr-bnf-tit .og-5mktp-txtS15{line-height:1.4; vertical-align:top}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item:nth-child(2) .og-vr-bnf-tit{line-height:1.1}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item .og-vr-bnf-tit .og-5mktp-txtS15{font-weight:bold}
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item .og-vr-bnf-txt{margin-top:0.8rem; font-size:0.93rem; color:#333; }
.og-5mktp-wrap .og-vr-bnf-list .og-vr-bnf-item .og-vr-bnf-txt .og-vr-bnf-subtxt{display:block; color:#666; font-size:0.75rem; margin-top:0.31rem}
.og-5mktp-wrap .og-have-btn{margin-top:1.25rem; padding-left:2.19rem}
.og-5mktp-wrap .og-have-btn .bt-slice{width:9.7rem}


@media all and (max-width:359px){
	.og-5mktp-wrap .og-plan-box .og-plan-imgwrap{padding-top:3.75rem}
}

.og-plan-price-list .og-plan-price-heading{margin:2.875rem 1.5rem 0; font-size:1.375rem ; font-weight:bold}
.og-plan-price-list .acco-list{padding:0 1.5rem}
.og-plan-price-list .acco-list:not(:last-child){border-bottom:1px solid #f1f2f4}

.og-plan-price-list .accordion2 .acco-style .acco-list .acco-title button:disabled:after{content:none}
.og-plan-price-list .accordion2 .acco-style .acco-list .acco-title button:after{opacity:0.5}

.og-plan-price-list .acco-title{padding:1.67rem 0 2.11rem  }
.og-plan-price-list .acco-title .og-plan-price-tit{font-size:1.9375rem; font-weight:bold; color:#000}
.og-plan-price-list .og-plan-price-ex{display:block; font-size:1.25rem; color:#000}

.og-plan-price-list .acco-content{margin:0 -1.5rem; background:#f2f2f2; padding:1.6rem 1.5rem }
.og-plan-price-list .acco-content .og-plan-gift-list{}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-gift-tit{font-size:1rem; }
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-gift-tit strong{font-weight:normal; color:#ef4b49}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-gift-box{margin-top:0.5rem}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-gift-box img{width:100%; height:auto; vertical-align:top}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-gift-item:not(:first-child){margin-top:1.4375rem}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-pack-list{width:100%; overflow:hidden}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-pack-list.og-choice{position:relative}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-pack-list.og-choice:before{content:'택1'; display:inline-block; font-size:0.75rem; text-align:center; width:2.06rem; height:2.06rem; border-radius:100%; background:#e4e4e4; line-height:2.06rem; position:absolute; left:50%; top:50%; font-weight:bold; margin:-1.03rem 0 0 -1.03rem }

.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-pack-list:after{content:''; display:block; clear:both}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-pack-list .og-plan-pack-item{width:48.5%; margin-left:3%; float:left}
.og-plan-price-list .acco-content .og-plan-gift-list .og-plan-pack-list .og-plan-pack-item:first-child{margin-left:0}
.og-plan-price-list .og-share .og-share-box{ padding:1.56rem 0.9rem; background:#fff url('/img/t_m5g/og_share_img.png') no-repeat right 50%; background-size:7.65rem; min-height:5.62rem; box-sizing:border-box }
.og-plan-price-list .og-share .og-share-box .og-share-txt{width:65%; font-size:0.84rem}

.og-5mktp-wrap .og-vr-price-box{margin:0 -1.5rem; background:#f7f7f7}
.og-5mktp-wrap .og-vr-price-box .og-vr-price-list{width:100%}
.og-5mktp-wrap .og-vr-price-box .og-vr-price-list .og-vr-price-item{border-bottom:1px dotted #ebebeb; width:82.8%; width:-webkit-calc(100% - 2.37rem); width:calc(100% - 2.37rem);; margin-left:2.37rem}
.og-5mktp-wrap .og-vr-price-box .og-vr-price-list .og-vr-price-item:last-child{border-bottom:none}
.og-5mktp-wrap .og-vr-price-box .og-vr-price-list .og-vr-price-item .og-vr-price-detail{margin-right:1.5rem; width:86.8%; width:-webkit-calc(100% - 1.5rem); width:calc(100% - 1.5rem); }
.og-5mktp-wrap .og-vr-price-box .og-vr-price-list .og-vr-price-item .og-vr-price-detail img{width:100%; height:auto; vertical-align:top}

.device_android .og-showbt-ios {display:none;}	/* 190403 수정 */
.device_ios .og-showbt-android {display:none;}	/* 190403 수정 */

/* //190325 추가 - 마케팅페이지 */

/* 190419 추가 - DG방어 */
.dwg-popup{}
.dwg-hd-area{padding:0.9375rem 1.25rem; background: #fff;}
.dwg-hd-area .h2-tit{font-size: 1.5rem; line-height: 2rem;}

.dwg-type-area{margin:1.563rem 0.75rem 0;}
.dwg-type-area .item{margin-bottom: 0.625rem; text-align: center;}
.dwg-type-area .item:first-child{padding-top:0;}
.dwg-type:after{content:'';display:block;clear:both}
.dwg-type-link{display:inline-block;}
.dwg-type-link .img-wrap > img{width:100%; vertical-align:top;}

.dwg-typeImg-area{padding-bottom: 6rem;}
.dwg-typeImg-area .img-wrap > img {width:100%; vertical-align:top;}

.dwg-dialog-area{width:100%; background-color: #fff;}
.dwg-dialog-area .txt{font-size: 0.813rem; text-align:center; height:2.5rem; line-height:2.5rem;}
.dwg-dialog-btns{width: 100%;}
.dwg-dialog-btns:after{content:''; display:block; clear:both;}
.dwg-dialog-btns .col{float:left; width:50%; height:3.5rem;}
.dwg-dialog-btns button[class^="btn-dialog"],
.dwg-dialog-btns a[class^="btn-dialog"]{display:block; width:100%; height:100%; font-size:1.0625rem;  line-height:1; padding: 1.25rem 0; text-align:center; box-sizing:border-box;}
.dwg-dialog-btns .btn-dialog-1{color:#f76252; border-top:1px solid #e5e5e5;}
.dwg-dialog-btns .btn-dialog-2{color:#fff; border-top:1px solid #f76252; background-color:#f76252;}

.dwg-frm-area.cont-box{border-bottom:0;}
.dwg-frm-area > fieldset{position: relative;}
.dwg-frm-area > fieldset > label{display:block; font-size:0.8125rem; margin-bottom: 0.625rem;}
.dwg-frm-area .sp-txt{position:absolute; right:0.75rem; bottom:0.8125rem; font-size:0.6875rem; color:#858585;}
.dwg-frm-area .sp-txt:before{content:'※'; display:inline-block; font-size:0.75rem; vertical-align:middle; margin-right:0.25rem;}
.dwg-frm-area .frm-textarea{ height:7.8125rem; color:#000}
.dwg-frm-area .frm-textarea::placeholder {font-weight:normal}
/* //190419 추가 - DG방어 */