<%#
* @file myt-data.familydata.share.immediately.html
* @author Jiyoung Jo
* @since 2018.10.04
* id: DC_02_01
%>

<hr class="cont-sp type1" aria-hidden="true"/>
<div class="cont-box" id="fe-share">
	<div class="ti-caption-type01">
		<h2 class="tit">가족에게 공유할 데이터<button class="btn-tip" id="DC_02_01_tip_01" aria-haspopup="true"><i class="icon-badge-tip"><span class="blind">가족에게 공유할 데이터 tip</span></i></button></h2>
	</div>
	<div class="recently-tel-box">
		<div class="inputbox bt-add">
			<span class="input new">
				<input class="fe-amount" type="text" placeholder="데이터(GB) 입력" disabled title="가족에게 공유할 데이터(GB) 입력" aria-describedby="aria-exp-desc1" data-share-amount="0" inputmode="numeric" min="0" pattern="[0-9]*">
				<button class="cancel" style="display: none;" aria-hidden="true"><span class="blind">삭제</span></button>
			</span>
			<span class="r-btn type01">
				<button type="button" class="btn-type01" disabled data-value="1">+1<span class="blind">GB</span></button>
				<button type="button" class="btn-type01" disabled data-value="10">+10<span class="blind">GB</span></button>
				<button type="button" class="btn-type01" disabled data-value="all">전체</button>
			</span>
		</div>
		<p class="input-txt-type02 pb10 pt6 none" id="aria-exp-desc1" aria-hidden="true">공유 가능 데이터를 초과했습니다. </p>
		<p class="input-txt-type01 pt10">바로 공유 가능 데이터 : 
			<button class="btn-link none" id="fe-retrieve">조회하기</button>
			<strong class="txt-c3" id="fe-ing">조회 중입니다</strong>
			<strong class="txt-c1 none"></strong>
		</p>
		<p class="input-txt-type01 pt4">선물하기, 함께쓰기, 스마트 기기 공유 가능 데이터 : <strong class="txt-c2">0GB</strong></p>
	</div>
</div>

<div class="cont-box nogaps-hoz none" id="fe-share-none" aria-hidden="true">
	<div class="result-none type3">
		1GB부터 공유 가능합니다.<br/>다음 달에 이용해 주세요.
		<p class="input-txt-type01 pt30">바로 공유 가능 데이터 : <strong class="txt-c1">0GB</strong></p>
	</div>
</div>