<%#
* @file myt-data.familydata.share.monthly.html
* @author Jiyoung Jo
* @since 2018.10.04
* id: DC_02_02
%>


<hr class="cont-sp type1" aria-hidden="true"/>
												
<div class="cont-box">
	<div class="ti-caption-type01">
		<% const now = new Date(), nextMonth = new Date(now.getFullYear(), now.getMonth()+1, 1); %>
		<h2 class="tit">가족에게 공유할 데이터<button id="DC_02_01_tip_01" class="btn-tip" aria-haspopup="true"><i class="icon-badge-tip"><span class="blind">가족에게 공유할 데이터 tip</span></i></button></h2>
		<span class="num type1 ft-medium"><%= nextMonth.getFullYear() %>.<%= nextMonth.getMonth() + 1%>. 부터 매달</span>
	</div>
	<div class="recently-tel-box">
		<div class="inputbox bt-add">
			<span class="input new">
				<input class="fe-amount" type="text" placeholder="데이터(GB) 입력" title="가족에게 공유할 데이터" aria-describedby="aria-exp-desc2" data-share-amount="<%= monthly.shrblData %>" inputmode="numeric" min="0" pattern="[0-9]*">
				<button class="cancel" style="display: none;" aria-hidden="true"><span class="blind">삭제</span></button>
			</span>
			<span class="r-btn type01">
				<button type="button" class="btn-type01" data-value="1">+1<span class="blind">GB</span></button>
				<button type="button" class="btn-type01" data-value="10">+10<span class="blind">GB</span></button>
				<button type="button" class="btn-type01" data-value="all">전체</button>
			</span>
		</div>
		<p class="input-txt-type02 pb10 pt6 none" id="aria-exp-desc2" aria-hidden="true">공유 가능 데이터를 초과했습니다. </p>
		<p class="input-txt-type01 pt10">매달 자동공유 가능 데이터 : <strong class="txt-c1"><%= monthly.shrblData %>GB</strong></p>
		<p class="input-txt-type01 pt4">선물하기, 함께쓰기, 스마트 기기 공유 가능 데이터 : <strong class="txt-c2"><%= monthly.shrblData %>GB</strong></p>
	</div>
</div>

<% if (monthly.regularShrYn === "Y") { %>
<hr class="cont-sp type1" aria-hidden="true"/>
<div class="cont-box nogaps-hoz">
	<ul class="on-off-list new">
		<li>
			자동공유 사용 중
			<span class="widget">
				<span class="widget-box switch">
					<span class="btn-switch type1 on">
						<span class="switch-style" role="checkbox" aria-checked="true" aria-disabled="false">
							<span class="off-tx">꺼짐</span>
							<input type="checkbox" title="자동공유 사용중" checked="checked">
							<span class="on-tx">켜짐</span>
						</span>
					</span>
				</span>
			</span>
			<p class="input-txt-type01 mt4">현재 설정된 자동공유 데이터 : <strong class="txt-c2"><%= monthly.regularShrData %>GB</strong></p>
		</li>
	</ul>
</div>
<% } %>
