<%#
* @file myt-join.myplan.alarmterminate.html
* @author Ji Hun Yang (jihun202@sk.com)
* @since 2018.10.10
%>
<%- include('../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi" aria-hidden="true">
    <ul></ul>
</div>
<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup nobg fixed-bottom h60">
        <!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '요금제 변경 가능일 알림 서비스', type: 'popup', svcInfo:
        svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">
                <!-- .cont-box -->
                <div class="cont-box noborder nogaps bgnone">
                    <div class="myfare-result-wrap type2">
                        <div class="myfare-list">
                            <h3>서비스 신청 정보</h3>
                            <ul>
                                <li>
                                    <dl class="show-data">
                                        <dt>적용 회선번호</dt>
                                        <dd class="tx-bold"><span class="number"><%= alarmInfo.svcNum %><% if (svcInfo.nickNm) { %> (<%= svcInfo.nickNm %>)<% } %></span>
                                        </dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="show-data">
                                        <dt>알람서비스</dt>
                                        <dd></dd>
                                    </dl>
                                    <dl class="show-data detail">
                                        <dt>예정일</dt>
                                        <dd><span class="number"><%= alarmInfo.notiSchdDt %></span></dd>
                                    </dl>
                                    <dl class="show-data detail">
                                        <dt>신청일</dt>
                                        <dd><span class="number"><%= alarmInfo.reqDt %></span></dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="show-data">
                                        <dt>문자</dt>
                                        <dd></dd>
                                    </dl>
                                    <dl class="show-data detail">
                                        <dt>처리상태</dt>
                                        <dd><%= alarmInfo.smsStNm %></dd>
                                    </dl>
                                    <dl class="show-data detail">
                                        <dt>상태사유 코드</dt>
                                        <dd><%= alarmInfo.smsTrmsStNm %></dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="show-data">
                                        <dt>신청 당시 요금제</dt>
                                        <dd class="tx-bold"><%= alarmInfo.feeProdNm %></dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--// .cont-box -->

            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button class="fe-btn_terminate">해지하기</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step fe-btn_back">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->
</div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MyTJoinMyplanAlarmterminate($('.wrap'));
  });
</script>
<% include ../../components/end.component.html %>