<%#
* MenuName: 나의 가입정보 > 서브메인 > 번호변경 안내서비스 신청(MS_03_01_03)
* @file myt-join.submain.phone.alarm.html
* @author Lee Gyu-gwang (skt.P134910@partner.sk.com)
* @since 2018.10.19
* Summary: 번호변경 안내서비스 신청
%>
<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<% include ../../components/javascript.component.html %>

<!--// #skip_navigation -->
<div class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- .popup hbs -->
    <div class="popup-page tw-popup nobg fixed-bottom h60">
        <!-- 하단에 fixed 버튼으로 여백이 필요할때 .fixed-bottom 기본60여백 / 높이 30단위 class 지원 .h30, .h60, .h90 ... -->
        <!-- #header -->
        <%- include('../components/header.component.html', { title: '번호변경 안내서비스', type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
        <!--// #header -->
        <!-- .container-wrap -->
        <div class="container-wrap">
            <h2 class="blind">내용</h2>
            <div class="container">

                <!-- .cont-box -->
                <div class="cont-box">
                    <h3>안내정보</h3>
                    <p class="con-txt1 mt4"><span class="tx-bold"><%= data.oldSvcNum %></span> 에서<br /><span class="tx-bold"><%= data.newSvcNum %></span> 로<br /><span class="tx-bold">변경됨을 안내합니다.</span></p>
                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box nogaps-btm">

                    <ul class="form-data-list">
                        <li>
                            <label class="tit">알림기간<button id="MS_03_01_03_tip_04" class="tip-view" title="알림기간 TIP보기" aria-haspopup="true">TIP</button></label>
                            <button class="bt-dropdown big" title="알림기간 선택" aria-haspopup="true" id="btn-period">기간선택<span class="ico"></span></button>
                            <input type="hidden" id="input-prd" value="">
                        </li>
                        <li>
                            <label class="tit pt40">알림방법</label>
                            <div class="list-comp-input type3">
                                <div class="widget">
                                    <div class="widget-box radio">
                                        <ul class="select-list" role="group" id="ul-alramtype">
                                            <li class="radiobox type01 <%= (data.notiType === 'S' ? 'checked' : '') %>" role="radio" aria-checked="false">
                                                <input type="radio" name="radio" value="S" title="알림만" aria-labelledby="aria-comp-radio1">
                                                <div class="comp-list-layout" id="aria-comp-radio1" aria-hidden="true">
                                                    <p class="layout-text">
                                                        <span class="mtext">알림만</span>
                                                        <span class="stext">통화 및 문자 시 번호변경안내를 문자로 발송합니다. 통화 시 ARS 음성안내 제공<br />(2개월 부터는 유선 발신통화에만 해당)</span>
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="radiobox type01 <%= data.notiType === 'Y' ? 'checked' : '' %>" role="radio" aria-checked="false">
                                                <input type="radio" name="radio" value="Y" title="알림 후 자동연결" aria-labelledby="aria-comp-radio2">
                                                <div class="comp-list-layout" id="aria-comp-radio2" aria-hidden="true">
                                                    <p class="layout-text">
                                                        <span class="mtext">알림 후 자동연결</span>
                                                        <span class="stext">통화 시 ARS 안내 &amp; 문자 시 번호변경안내 를 문자로발송 후 자동으로 변경된 번호로 연결됩니다.</span>
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="radiobox type01 <%= data.notiType === 'N' ? 'checked' : '' %>" role="radio" aria-checked="false">
                                                <input type="radio" name="radio" value="N" title="알림없는 자동연결" aria-labelledby="aria-comp-radio3">
                                                <div class="comp-list-layout" id="aria-comp-radio3" aria-hidden="true">
                                                    <p class="layout-text">
                                                        <span class="mtext">알림없는 자동연결</span>
                                                        <span class="stext">변경사항을 알리지 않고, 바로 변경된 번호로 연결 됩니다.</span>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <!--// .cont-box -->

                <hr class="cont-sp type1" aria-hidden="true"/>

                <!-- .cont-box -->
                <div class="cont-box noborder bgnone">
                    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                    <ul class="pg-chk-list02">
                        <li><button id="MS_03_01_03_tip_01" type="button" class="btn-tip" aria-haspopup="true">금융기관 알림 안내<i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                        <li><button id="MS_03_01_03_tip_02" type="button" class="btn-tip" aria-haspopup="true">신청 안내<i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                        <li><button id="MS_03_01_03_tip_03" type="button" class="btn-tip" aria-haspopup="true">서비스 이용 중 번호변경<i class="icon-badge-tip"><span class="blind">TIP</span></i></button></li>
                    </ul>
                </div>
                <!--// .cont-box -->

            </div>
            <div class="bt-fixed-area">
                <ul class="bt-slice full">
                    <li class="bt-red1">
                        <button id="btn-ok" disabled>신청하기</button><!-- 정보입력 완료된 후 disabled 속성 삭제 -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- // .container-wrap -->
        <!-- .popup-closeBtn -->
        <button class="prev-step" id="fe-prev-step">취소</button>
        <!--// .popup-closeBtn -->
    </div>
    <!-- // .popup hbs -->
</div>

<script>
  $(document).ready(function () {
    new Tw.MyTJoinPhoneNumChgAlarm($('.wrap'), <%- JSON.stringify(data) %>);
  });
</script>
<% include ../../components/end.component.html %>
