<%#
* MenuName: 나의 데이터/통화 > 실시간 잔여량
* @file myt-data.usage.html
* @author 이정민 (skt.p130713@partner.sk.com)
* @since 2018.09.13
* Summary: 실시간 PPS, T-login, T-pocket fi 잔여량 및 부가 서비스 조회 화면
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#contents" class="fe-replace-history">본문 바로가기</a></li>
    </ul>
</div>
<div id="myt-data-usage" class="wrap" data-menuId="<%= pageInfo.menuId %>">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '실시간 데이터 잔여량', svcInfo: svcInfo }); %>
    <!--// #header -->
    <!-- #contents -->
    <div id="contents" class="container-wrap">
        <h2 class="blind">내용</h2>
        <div class="container">
            <!-- .cont-box -->
            <div class="cont-box nogaps-hoz fe-test">
                <div class="plan-title">
                    <h3 class="tit"><%= svcInfo && svcInfo.prodNm %></h3>
                    <div class="bt-alone"><a href="/myt-join/myplan" class="bt-bg-blue1">자세히</a></div>
                </div>
            </div>
            <!--// .cont-box -->

            <% if (usageData && usageData.data && usageData.data.length > 0) { %>
            <%- include('../../components/usage/myt-data.usage.graphbox.html', { type: 'data', typeStr: '데이터', items: usageData.data }); %>
            <% } %>

            <hr class="cont-sp type1" aria-hidden="true">
            <% if (usageData && usageData.voice && usageData.voice.length > 0) { %>
            <%- include('../../components/usage/myt-data.usage.graphbox.html', { type: 'voice', typeStr: '음성통화·영상통화', items: usageData.voice }); %>
            <% } %>

            <hr class="cont-sp type1" aria-hidden="true">
            <% if (usageData && usageData.sms && usageData.sms.length > 0) { %>
            <%- include('../../components/usage/myt-data.usage.graphbox.html', { type: 'sms', typeStr: '문자', items: usageData.sms }); %>
            <% } %>

            <hr class="cont-sp type1" aria-hidden="true">
            <% if (usageData && usageData.etc && usageData.etc.length > 0) { %>
            <%- include('../../components/usage/myt-data.usage.graphbox.html', { type: 'etc', typeStr: '기타', items: usageData.etc }); %>
            <% } %>

            <hr class="cont-sp type1" aria-hidden="true">
            <% if (svcInfo && svcInfo.svcAttrCd === 'M2' && ppsInfo) { %>
            <!-- 유효기간 -->
            <div class="data-type">
                <h4 class="tit">유효기간</h4>
            </div>
            <div class="cont-box nogaps-hoz">
                <ul class="validitylist-wrap">
                    <li class="validitylist-li">
                        <h5 class="title">발신기간</h5>
                        <p class="date"><span class="vbl"><%= ppsInfo.showObEndDt %></span> 까지</p>
                    </li>
                    <li class="validitylist-li">
                        <h5 class="title">수신기간</h5>
                        <p class="date"><span class="vbl"><%= ppsInfo.showInbEndDt %></span> 까지</p>
                    </li>
                    <li class="validitylist-li">
                        <h5 class="title">번호 유지기간</h5>
                        <p class="date"><span class="vbl"><%= ppsInfo.showNumEndDt %></span> 까지</p>
                    </li>
                </ul>
            </div>
            <!-- //유효기간 -->
            <% } %>

            <hr class="cont-sp type1" aria-hidden="true">
            <div class="cont-box nogaps-btm">
                <h3 class="tx-bold">꼭 확인해 주세요</h3>
                <ul class="noti-list02">
                    <li><button type="button" class="tip-view-btn" aria-haspopup="true" id="DC_01_01_tip_01">
                        실시간 사용량 조회 안내<span class="tip-view">TIP</span></button>
                    </li>
                    <li><button type="button" class="tip-view-btn" aria-haspopup="true" id="DC_01_01_tip_02">
                        실시간 사용량 조회가 불가능한 경우<span class="tip-view">TIP</span></button>
                    </li>
                    <li><button type="button" class="tip-view-btn" aria-haspopup="true" id="DC_01_01_tip_03">
                        월중 요금상품 변경, 일시정지 시 유의사항<span class="tip-view">TIP</span></button>
                    </li>
                    <li><button type="button" class="tip-view-btn" aria-haspopup="true" id="DC_01_01_tip_04">
                        마이벨 서비스 및 다다익선 요금상품 가용고객 대상 안내<span class="tip-view">TIP</span></button>
                    </li>
                </ul>
            </div>
    </div>
    </div>
    <!--// #contents -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
</div>

<!--// #skip_navigation -->
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>
