<%#
* FileName: myt-data.usage.error.html
* Author: 이정민 (skt.p130713@partner.sk.com)
* Date: 2018.09.17
%>

<% include ../../components/start.component.html %>
<!-- #skip_navigation -->
<div id="skipNav" class="skip_navi">
    <ul>
        <li><a href="#gnb_area">메뉴 바로가기</a></li>
        <li><a href="#contents">본문 바로가기</a></li>
        <li><a href="#footer">푸터 바로가기</a></li>
    </ul>
</div>
<!--// #skip_navigation -->
<!-- wrap -->
<div class="wrap">
    <!-- #header -->
    <%- include('../../../../../common/views/components/header.component.html', { title: '실시간 사용량', svcInfo: svcInfo, line: false }); %>
    <!--// #header -->
    <!-- #contents -->

    <div class="popup">
        <div class="popup-info" role="alertdialog" aria-labelledby="alertHeading" aria-describedby="alertText">
            <% if (usageData.code === 'BLN0001') { %>
            <div class="popup-header">
                <span class="ico type2"></span>
                <h5 class="popup-title ">
                    잠시 후 다시 이용해주세요
                </h5>
            </div>
            <div class="popup-contents ">
                <div class="inner-contents">
                    <p class="">
                        안정적인 실시간 조회를 위해 <br />
                        조회 횟수를 제한하고 있습니다. <br />
                        (2시간 동안 최대 12회 조회 가능)
                    </p>
                </div>
            </div>
            <% } else if (usageData.code === 'BLN0003') { %>
            <div class="popup-header">
                <span class="ico type1"></span>
                <h5 class="popup-title ">
                    잔여량 조회 서비스가 <br />
                    제공되지 않습니다.
                </h5>
            </div>
            <div class="popup-contents ">
                <div class="inner-contents">
                    <p class="">
                        정지 이력이 있어 잔여량 조회 서비스가 <br />
                        제공되지 않습니다. 자세한 문의는<br />
                        고객센터를 이용해주시기 바랍니다.
                    </p>
                </div>
                <ul class="link-list">
                    <li><a href="/customer/email">이메일로 문의하기</a></li>
                </ul>
            </div>
            <% } else if (usageData.code === 'BLN0002' || usageData.code === 'BLN0004') { %>
            <div class="popup-header">
                <span class="ico type1"></span>
                <h5 class="popup-title ">
                    해당 서비스는<br />
                    실시간 사용량 조회 대상이 아닙니다.
                </h5>
            </div>
            <% } else { %>
            <div class="popup-header">
                <span class="ico type1"></span>
                <h5 class="popup-title ">
                    <%= usageData.msg %>
                </h5>
            </div>
            <% } %>
            <div class="btn-box">
                <ul class="bt-slice">
                    <li class="bt-blue1">
                        <button class="fe-common-back">닫기</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="popup-blind"></div>
    </div>

    <!--// #contents -->
    <!-- footer -->
    <%- include('../../../../../common/views/components/footer.component.html', { svcInfo: svcInfo }) %>
    <!-- // footer -->
</div>
<% include ../../components/javascript.component.html %>
<% include ../../components/end.component.html %>