<%#
* FileName: recharge.limit.history.block.list.html
* Author: Jiyoung Jo (jiyoungjo@sk.com)
* Date: 2018.07.11
%>

<div class="inner">
    <div class="contents-info-list">
        <p class="ti-desc"><strong><span class="num">12</span>개</strong> 데이터 차단 설정 내역이 있습니다.</p>
        <div class="list-top">
            <div class="inline">
                <button class="bt-dropdown small" title="셀렉트 선택">전체 · 3개월<span class="ico"></span></button>
            </div>
        </div>
        <!--// .widget -->
        <ul class="recharge-history type3">
            <li>
                <div class="info-charge">
                    <span class="recharge-unblock" role="img" aria-label="차단해제"><span class="blind">차단해제</span></span>
                </div>
                <div class="info-user">
                    <span class="info-title">SK 텔레콤</span>
                    <span class="info-date">2018.06.01</span>
                </div>
                <div class="info-data">
                    <span class="info-title">이번달 차단해제</span>
                </div>
            </li>
            <li>
                <div class="info-charge">
                    <span class="recharge-block" role="img" aria-label="차단"><span class="blind">차단</span></span>
                </div>
                <div class="info-user">
                    <span class="info-title">SK 텔레콤</span>
                    <span class="info-date">2018.06.14</span>
                </div>
                <div class="info-data">
                    <span class="info-title">다음 달부터 차단</span>
                </div>
            </li>
            <li>
                <div class="info-charge">
                    <span class="recharge-unblock" role="img" aria-label="차단해제"><span class="blind">차단해제</span></span>
                </div>
                <div class="info-user">
                    <span class="info-title">SK 텔레콤</span>
                    <span class="info-date">2018.06.01</span>
                </div>
                <div class="info-data">
                    <span class="info-title">이번달 차단해제</span>
                </div>
            </li>
            <li>
                <div class="info-charge">
                    <span class="recharge-block" role="img" aria-label="차단"><span class="blind">차단</span></span>
                </div>
                <div class="info-user">
                    <span class="info-title">SK 텔레콤</span>
                    <span class="info-date">2018.06.14</span>
                </div>
                <div class="info-data">
                    <span class="info-title">다음 달부터 차단</span>
                </div>
            </li>
            <li>
                <div class="info-charge">
                    <span class="recharge-unblock" role="img" aria-label="차단해제"><span class="blind">차단해제</span></span>
                </div>
                <div class="info-user">
                    <span class="info-title">SK 텔레콤</span>
                    <span class="info-date">2018.06.01</span>
                </div>
                <div class="info-data">
                    <span class="info-title">이번달 차단해제</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<button class="gift-bt-more" >더보기(20)</button>
<hr class="cont-sp type1" />
<!-- .cont-box -->
<div class="cont-box">
    <div class="box-block">
        <div class="box-block-list3 first">
            <ul>
                <li>신청일 기준으로 내역이 관리됩니다.</li>
                <li>데이터 차단해제 신청은 월 3회까지 신청 가능합니다.</li>
            </ul>
        </div>
    </div>
</div>
<!--// .cont-box -->