<%#
* @file recharge.component..html
* @author Ara Jo (araara.jo@sk.com)
* @since 2018.10.06
%>
<script id="fe-smart-recharge" type="text/x-handlebars-template" data-usagecode="<%= usageData.code %>">
    <!-- .cont-box -->
    <div class="main-fee-box">
        <div class="fee-cont">
            <strong class="tit">데이터가 부족하시다면<br/> 즉시 충전해 보세요</strong>
            <a href="/myt-data/submain" data-xt_eid="CMMA_A2_B6-33" data-xt_csid="NO" data-xt_action="BC">
                <ul class="list">
                    <% if(usageData.data && usageData.data.isShow) { %>
                    <li><strong class="ti">잔여 데이터</strong> <em class="tx f-type c-point"><span class="ff-tg-medium"><%= usageData.data.showMyRemained %></span></em></li>
                    <% } else { %>
                    <li><strong class="ti">잔여 데이터</strong> <em class="tx f-type c-point"><span class="ff-tg-medium">-</span></em></li>
                    <% } %>
                    {{#if showRefill}}
                    <li><strong class="ti">리필쿠폰 남은 개수</strong> <em class="tx c-point"><span class="ff-tg-medium">{{ refillCoupons }}</span>장</em></li>
                    {{else}}
                    <li><strong class="ti">리필쿠폰 남은 개수</strong> <em class="tx c-point"><span class="ff-tg-medium">-</span></em></li>
                    {{/if}}
                </ul>
            </a>
        </div>
        <div class="btn-area">
            <button id="fe-bt-go-recharge" class="bt full" data-xt_eid="CMMA_A2_B6-16" data-xt_csid="NO" data-xt_action="BC">충전하기</button>
        </div>
    </div>
</script>