@charset "UTF-8";
/* tab */
.tab-area { position: relative; }

.tab-area .tab-linker { position: relative; overflow-x: auto; overflow-y: hidden; -webkit-overflow-scrolling: touch; }

.tab-area .tab-linker > ul { position: relative; background-color: #fff; overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }

.tab-area .tab-linker > ul:after { content: ""; position: absolute; left: 0; right: 0; bottom: 0; border-bottom: 1px solid #f1f1f1; }

.tab-area .tab-linker > ul > li { position: relative; float: left; margin-left: 1rem; border-bottom: 0.13rem solid transparent; height: 3rem; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 5; }

.tab-area .tab-linker > ul > li button, .tab-area .tab-linker > ul > li a { display: inline-block; position: relative; height: 2.81rem; line-height: 2.81rem; font-size: 0.88rem; color: #757575; font-weight: 400; vertical-align: middle; }

.tab-area .tab-linker > ul > li button .count, .tab-area .tab-linker > ul > li a .count { display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 0 0 0.38rem; width: 0.88rem; height: 0.88rem; border-radius: 100%; background-color: #178BCE; font-size: 0.63rem; line-height: 0.88rem; color: #fff; font-weight: 700; text-align: center; vertical-align: baseline; }

.tab-area .tab-linker > ul > li button.tip-view, .tab-area .tab-linker > ul > li a.tip-view { position: relative; }

.tab-area .tab-linker > ul > li button.tip-view:after, .tab-area .tab-linker > ul > li a.tip-view:after { content: ""; position: absolute; left: 0; right: 0; bottom: -0.19rem; border-top: 0.19rem solid #fff; border-bottom: 1px solid #f1f1f1; }

.tab-area .tab-linker > ul > li button.disabled, .tab-area .tab-linker > ul > li a.disabled { color: #dcdcdc; pointer-events: none; }

.tab-area .tab-linker > ul > li button:disabled, .tab-area .tab-linker > ul > li a:disabled { color: #dcdcdc; pointer-events: none; }

.tab-area .tab-linker > ul > li[aria-selected="true"] { border-bottom: 0.19rem solid #178BCE; color: #000; font-weight: 400; }

.tab-area .tab-linker > ul > li[aria-selected="true"] button, .tab-area .tab-linker > ul > li[aria-selected="true"] a { font-weight: 700; color: #178BCE; }

.tab-area .tab-linker > ul.tab-single { border-bottom: 0 none; margin-bottom: -0.75rem; margin-top: -0.63rem; }

.tab-area .tab-linker > ul.tab-single li { height: 2.81rem; }

.tab-area .tab-linker > ul.tab-single li[aria-selected="true"] { border-bottom: 0 none !important; }

.tab-area .tab-linker > ul.tab-single li[aria-selected="true"] button, .tab-area .tab-linker > ul.tab-single li[aria-selected="true"] a { height: 2.81rem; line-height: 2.81rem; font-size: 0.94rem; }

.tab-area .tab-linker .tab-style01:after { border-bottom: 0 !important; }

.tab-area .tab-contents > ul:after { content: ""; display: block; clear: both; }

.tab-area .tab-contents > ul > li { float: left; width: 100%; height: 0; overflow: hidden; display: none; }

.tab-area .tab-contents > ul > li[aria-selected="true"] { height: auto; display: block; }

.tab-area.new01 .tab-linker ul { display: table; table-layout: fixed; width: 100%; }

.tab-area.new01 .tab-linker ul li { display: table-cell; width: 50%; margin: 0; text-align: center; float: none; height: 2.5rem; }

.tab-area.new01 .tab-linker ul li a, .tab-area.new01 .tab-linker ul li button { font-size: 0.94rem; color: #959595; font-weight: 400 !important; height: 2.5rem; line-height: 2.38rem; }

/* 190831 리디자인 : button 추가 */
.tab-area.new01 .tab-linker ul li[aria-selected="true"] { border-bottom: 2px solid #ef4b49; }

.tab-area.new01 .tab-linker ul li[aria-selected="true"] a, .tab-area.new01 .tab-linker ul li[aria-selected="true"] button { color: #ef4b49 !important; }

/* main */
body .container-wrap { margin-bottom: 1.25rem; }

body.apphome .container-wrap { background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(30%, #f5f5f5)); background: linear-gradient(#fff, #f5f5f5 30%); }

.scroll .h-belt { -webkit-box-shadow: none; box-shadow: none; }

.header-wrap.home .h-belt { border-bottom: 1px solid #f2f2f2 !important; }

.fly .header-wrap .h-belt .h-default .h-logo { top: 0.31rem; opacity: 1; }

.icon-gnb-menu { background-image: url("/img/en/icon_48px_titlebar_menu.svg"); }

.icon-gnb-home-T { background-image: url("/img/en/graphic_80px_bi_skt.svg"); }

/* 로그인 전 */
.section-box.mw { margin-top: -2.81rem; }

.section-box.mw .main-error-box.welcome.tod-login-box { padding: 1.75rem 0; }

.main-error-box.welcome.tod-login-box { padding: 4.06rem 0 1.56rem 0; }

.main-error-box.welcome.tod-login-box .ti { font-size: 1.44rem; margin-top: 0; }

.main-error-box.welcome.tod-login-box .tx { font-size: 0.81rem; margin-top: 1.13rem; line-height: 1.4em; }

.main-error-box.welcome.tod-login-box .tx > span { color: #f76252; }

.main-error-box.welcome.tod-login-box .btn-area { margin-top: 1.44rem; }

.main-error-box.welcome.tod-login-box .desc2 { position: static; margin-top: 1.63rem; }

.main-error-box.welcome.tod-login-box.line-none .btn-area .btn-style1 { width: 10rem; font-size: 0.94rem; }

.main-error-box.welcome.tod-login-box.line-none .desc2 { font-size: 0.88rem; line-height: 1.6em; }

.main-error-box.welcome.tod-login-box.line-none .desc2 .bt { font-size: 0.94rem; margin: 0 auto; }

/* 로그인 후 */
.mw-banner01 button { width: 100%; }

.mw-banner01 button img { width: 100%; }

.section-box.mw .main-chart-box { padding: 1.56rem 0; }

.main-top-group { margin-bottom: 0; background: transparent; }

.main-top-group.internet { padding: 0 1.5rem; }

body.apphome .main-top-group::before { display: none; }

body.apphome .error-code { padding-bottom: 1.88rem; }

.main-chart-box { padding-top: 2.63rem; padding-bottom: 0.75rem; }

.main-chart-box > .ti { margin-top: 0.75rem; }

.main-chart-box > .ti .bt { font-size: 1.5rem; background-image: url("/img/en/chart_tit_arrow.png"); }

.main-chart-box .donutchart .donut-chart.data-type .ti-data { margin-top: -0.5rem; }

.main-chart-box .donutchart .donut-chart.data-type .ti-data .ti { background-image: url("/img/en/chart-data-ar.png"); }

.main-chart-box .donutchart .donut-chart.data-type .ti-data .ti.limited { line-height: 1.2em; background-position: right 0.19rem bottom 0.25rem; }

.donut-chart { background-image: url("/img/en/main/bg-donut.png"); }

.donut-chart .dot { background-image: url("/img/en/main/bg_dot.png"); }

.donut-chart .highlight { background-image: url("/img/en/main/graph_highlight.png"); }

.icon-call-34 { background-image: url("/img/en/icon_34px_call.png"); }

.icon-sms-37 { background-image: url("/img/en/icon_37px_sms.png"); }

.main-charge-box.section-swiper-box { min-height: auto; }

.main-fee-box .fee-cont.plan-slide { display: block; height: auto; }

.main-fee-box .fee-cont.plan-slide .slider { width: calc(100% + 3rem); padding: 1.56rem 0 2.5rem 1.5rem; margin-left: -1.5rem; }

.main-fee-box .fee-cont.plan-slide .slider li { font-size: 0; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card { position: relative; display: inline-block !important; vertical-align: top; width: calc((100% - 44px) / 2); height: 11.56rem; border-radius: 0.94rem; text-align: left; color: #fff; background-color: #cb3250; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 1.31rem 0.94rem; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card.right { margin-left: 20px; background-color: #f0682e; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card.right p.price { border-top: 1px solid #ed5c26; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card > div { position: absolute; top: 1.31rem; left: 0.94rem; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p { font-size: 0.81rem; font-weight: 500; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p.plan-name { line-height: 1.2em; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p.plan-name > strong { display: block; font-size: 1.06rem; font-weight: 900; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p.data { padding-left: 1.63rem; margin-top: 0.63rem; background: url("/img/en/main/icon_plan_data.png") left center no-repeat; background-size: 0.81rem 0.81rem; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p.sms { padding-left: 1.63rem; margin-top: 0.5rem; background: url("/img/en/main/icon_plan_sms.png") left center no-repeat; background-size: 0.88rem 0.63rem; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p.call { padding-left: 1.63rem; margin-top: 0.5rem; background: url("/img/en/main/icon_plan_call.png") left center no-repeat; background-size: 0.88rem 0.88rem; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p.price { position: absolute; bottom: 0; left: 0; width: 100%; height: 2.63rem; line-height: 2.56rem; font-size: 1rem; font-weight: 700; text-align: center; border-top: 1px solid #c32a45; }

.main-fee-box .fee-cont.plan-slide .slider li > .plan-card p.price > span { font-size: 0.88rem; }

.main-fee-box .fee-cont.plan-slide .slider .slick-prev, .main-fee-box .fee-cont.plan-slide .slider .slick-next { display: none !important; }

.main-fee-box .fee-cont.plan-slide .slider .slick-dots { bottom: 1.06rem; margin-left: -1.5rem; }

.main-fee-box .fee-cont.plan-slide .slider .slick-dots > li { width: 0.5rem; height: 0.5rem; }

.main-fee-box .fee-cont.plan-slide .slider .slick-dots > li > button { width: 0.5rem; height: 0.5rem; border-radius: 50%; background-color: transparent; border: 1px solid #000; }

.main-fee-box .fee-cont.plan-slide .slider .slick-dots > li.slick-active > button { background-color: #000; }

.main-fee-box .fee-cont > .tit { font-size: 1.63rem; padding-bottom: 2.19rem; }

.main-fee-box .fee-cont > .tit + .fee-info { padding-top: 0; }

.main-fee-box .fee-cont > .tit + .fee-info.support { background-position: right 0.19rem; }

.main-fee-box .fee-cont .fee-info:last-child { padding-bottom: 0.94rem; }

.main-fee-box .fee-cont .fee-info:last-child.no-billing { padding-bottom: 1.69rem; }

.main-fee-box .fee-cont .fee-info.no-billing { font-size: 0.94rem; font-weight: 300; padding-bottom: 2.19rem; cursor: normal; pointer-events: none; }

.main-fee-box .fee-cont .fee-info.no-events { cursor: normal; pointer-events: none; }

.main-fee-box .fee-cont .fee-info .target .tit { font-size: 0.94rem; font-weight: 500; }

.main-fee-box .fee-cont .fee-info .target .tit .logo-miri { display: inline-block; width: 2.38rem; height: 1rem; background: url("/img/en/main/logo_miri.png") center center no-repeat; background-size: 100% 100%; vertical-align: top; }

.main-fee-box .fee-cont .fee-info .target .date { font-size: 0.81rem; color: #858585; font-weight: 300; }

.main-fee-box .fee-cont .fee-info .sum { font-size: 0.94rem; }

.main-fee-box .fee-cont .fee-info .sum.monthly-fee { color: #f76252; }

.main-fee-box .fee-cont .fee-info.support { background: url("/img/en/main/arrow_support.png") right 1.5rem no-repeat; background-size: 0.44rem 0.69rem; }

.main-fee-box .fee-cont .fee-info.support > p { font-size: 0.94rem; font-weight: 500; color: #000; text-align: left; line-height: 1.4em; padding-left: 2.5rem; padding-right: 1.56rem; background-position: left center; background-repeat: no-repeat; }

.main-fee-box .fee-cont .fee-info.support > p > span { display: block; font-size: 0.81rem; font-weight: 300; color: #858585; line-height: 1.2em; }

.main-fee-box .fee-cont .fee-info.support > p#support01 { background-image: url("/img/en/main/icon_support01.png"); background-size: 1.63rem 1.63rem; }

.main-fee-box .fee-cont .fee-info.support > p#support02 { background-image: url("/img/en/main/icon_support02.png"); background-size: 1.5rem 1.63rem; }

.main-fee-box .fee-cont .fee-info.support > p#support03 { background-position: 0.19rem center; background-image: url("/img/en/main/icon_support03.png"); background-size: 1.19rem 1.75rem; }

.main-fee-box .fee-cont .fee-info + .fee-info { border-top: 1px solid #f2f2f2; }

.main-fee-box .fee-cont .tabs { margin-top: -0.31rem; }

.main-fee-box .fee-cont .tabs .tab-area.new01 .tab-linker > ul > li { height: 1.75rem; }

.main-fee-box .fee-cont .tabs .tab-area.new01 .tab-linker > ul > li > a { position: relative; height: 1.75rem; line-height: 1.63rem; font-size: 0.88rem; font-weight: 500 !important; color: #c0bdbd; }

.main-fee-box .fee-cont .tabs .tab-area.new01 .tab-linker > ul > li[aria-selected="true"] > a { font-weight: 700 !important; }

.main-fee-box .fee-cont .tabs .tab-area.new01 .tab-linker > ul > li[aria-selected="true"] > a::before { position: absolute; display: block; content: ''; top: 0.19rem; left: -0.38rem; width: 0.25rem; height: 0.25rem; background-color: #ef4b49; border-radius: 50%; }

.main-fee-box .btn-area .bt { font-weight: 700; }

.internet-box .fee-info { padding: 0.5rem 0 1.25rem 0; }

.internet-box .fee-info > p { font-size: 0.94rem; font-weight: 500; color: #000; }

.internet-box .fee-info > p.price { font-size: 1.44rem; font-weight: 700; color: #f76252; margin-top: 0.38rem; }

.internet-box .fee-info > p.date { font-size: 0.81rem; font-weight: 300; color: #959595; margin-top: 0.31rem; }

.internet-box .fee-info .btn-area { margin-top: 1.25rem; }

.internet-box .fee-info .btn-area .btn-style1 { width: 10rem; }

.internet-box .fee-detail { text-align: left; }

.internet-box .fee-detail .top { padding-top: 1.13rem; border-top: 1px solid #f2f2f2; }

.internet-box .fee-detail .top > p + p { margin-top: 0.5rem; }

.internet-box .fee-detail p { font-size: 0.94rem; font-weight: 500; color: #000; }

.internet-box .fee-detail p .price { float: right; font-weight: 700; }

.internet-box .fee-detail p .price.discount { color: #f76252; }

.internet-box .fee-detail p .logo-miri { display: inline-block; width: 2.38rem; height: 1rem; background: url("/img/en/main/logo_miri.png") center center no-repeat; background-size: 100% 100%; vertical-align: top; }

.internet-box .fee-detail .miri { padding-top: 1.25rem; border-top: 1px solid #f2f2f2; }

.internet-box .fee-detail .top + .miri { margin-top: 1.13rem; }

.internet-box .no-bill { padding: 3.13rem 0; }

.internet-box .no-bill > p { font-size: 0.94rem; font-weight: 500; color: #000; }

.error-code { padding-top: 5.94rem; background: url("/img/en/ico_notice_point_gray.png") center top 1.25rem no-repeat; background-size: 3.75rem 3.75rem; }

.error-code > p { font-size: 0.88rem; font-weight: 300; color: #000; }

.error-code > p.error-title { font-size: 1.31rem; font-weight: 500; margin-bottom: 1.25rem; }

/*# sourceMappingURL=maps/main_en.css.map */
