<script id="fe-templ-reserv-file" type="text/x-handlebars-template">
  <li data-file_id="{{fileId}}">
    <span class="title">{{fileName}}</span>
    <span class="tx-cont"><div class="bt-alone"><button class="bt-line-gray1 fe-btn_explain_file_del">삭제</button></div></span>
  </li>
</script>
<script id="fe-tmpl-reserv-family" type="text/x-handlebars-template">
  <li data-no="{{no}}">
    <div class="checkbox type01" role="checkbox" aria-checked="false"><!-- 체크 상태가 아닐 경우 .checked 클래스 삭제, aria-checked="false" -->
      <input type="checkbox" name="family_checkbox{{no}}" value="" title="결합가족 목록{{no}}" aria-labelledby="aria-comp-checkbox{{no}}" /><!-- 체크상태일 경우 checked="false" -->
      <div class="comp-list-layout" id="aria-comp-checkbox{{no}}">
        <div class="layout-text fusion-family ">
          <span class="mtext">
            <strong>{{name}}</strong>
            {{#if fam.leader}}<i class="badge badge-fam-members2"><span class="blind">가족대표</span></i>{{/if}}
            {{#if fam.parents}}<i class="badge badge-parents"><span class="blind">부모</span></i>{{/if}}
            {{#if fam.grandparents}}<i class="badge-grandparents"><span class="blind">(증)조부모</span></i>{{/if}}
            {{#if fam.grandchildren}}<i class="badge-grandchildren"><span class="blind">손자녀</span></i>{{/if}}
            {{#if fam.spouse}}<i class="badge-partner"><span class="blind">배우자</span></i>{{/if}}
            {{#if fam.children}}<i class="badge badge-fam"><span class="blind">자녀</span></i>{{/if}}
            {{#if fam.brother}}<i class="badge-siblings"><span class="blind">형제자매</span></i>{{/if}}
            {{#if fam.me}}<i class="badge badge-me2"><span class="blind">나</span></i>{{/if}}
          </span>
          <span class="ntext">{{number}}</span>
          <button type="button" class="fe-btn_family_del">삭제</button><!-- dummy button -->
        </div>
      </div>
    </div>
  </li>
</script>