<%#
* FileName: myt-fare.payment.common.component.html
* Author: Jayoon Kong (jayoon.kong@sk.com)
* Date: 2018.09.19
%>
<% if (unpaidList) { %>
<div class="plan-pay-title">
    <% for (var i = 0; i < unpaidList.length; i++) { %>
    <% if (unpaidList.defaultIndex === i) { %>
    <h3 class="tit">
        <span class="pay-name fe-svc-name"><%= unpaidList[i].svcName %></span>
        <span class="pay-line fe-svc-num"><%= unpaidList[i].svcNum %>
            <% if (svcInfo.totalSvcCnt > 1) { %>
            <span class="fe-multi-line"> 외 <span class="fe-line-cnt"><%= unpaidList.cnt - 1 %></span>개 회선</span>
            <% } %>
        </span>
        <span class="pay-fee">
            <span class="fe-amount" data-value="<%= unpaidList[i].intMoney %>"><%= unpaidList[i].invMoney %></span>원
        </span>
    </h3>
    <% } %>
    <% } %>
    <% if (unpaidList.cnt > 1) { %><div class="bt-alone fe-select-line"><button class="bt-bg-blue1">납부회선 추가</button></div><% } %>
</div>
<% } %>