<%#
* @file myt-fare.bill.prepay.auto.html
* @author 양정규
* @since 2020.09.03
* @desc 소액결제/콘텐츠이용료 자동 선결제 신청 및 변경
%>

<%- include('../../components/start.component.html', { pageInfo: locals.pageInfo }); %>
<body>
    <div class="wrap" data-menuId="<%= pageInfo.menuId %>">
        <div class="popup-page tw-popup fixed-bottom h60 nobg">
            <!-- #header -->
            <%
                const title = !isChange ? '자동 선결제' : '자동 선결제 변경';
            %>
            <%- include('../components/header.component.html', { title: title, type: 'popup', svcInfo: svcInfo, pageInfo: pageInfo }); %>
            <!--// #header -->
            <!-- #contents -->
            <div class="container-wrap">
                <h2 class="blind">내용</h2>
                <div class="container">
                    <!--// .cont-box -->
                    <hr class="cont-sp type1" aria-hidden="true"/>

                    <!-- .cont-box -->
                    <div class="cont-box">
                        <div class="ti-caption-type01 pb20">
                            <h3 class="tit">금액정보
                                <%_const amountId= path === 'small' ? 'MF_06_04_tip_01' : 'MF_07_04_tip_01'; _%>
                                <button id="<%-amountId%>" class="btn-tip" title="금액정보 정보보기" aria-haspopup="true"><i class="icon-badge-tip"><span class="blind">TIP</span></i></button>
                            </h3>
                            <p class="tit-txt">기준/선결제 금액 변경 필요 시 변경 할 금액을 선택 해주세요. </p>
                        </div>
                        <ul class="form-data-list">
                            <li class="type2">
                                <label class="tit">기준금액
                                    <%# 신청일때만 tip 노출%>
                                    <%_if (!isChange) {_%>
                                    <button id="MF_06_04_tip_03" class="tip-view" aria-haspopup="true">기준금액 정보보기</button>
                                    <%_}_%>
                                </label>
                                <button id="<%= autoPrepayInfo.standardAmount %>" data-origin-id="<%= autoPrepayInfo.standardAmount %>"
                                        data-max-value="<%= autoPrepayInfo.cmbMaxAmt %>"
                                        class="bt-dropdown big fe-standard-amount" title="기준금액" aria-haspopup="true">
                                    <%- autoPrepayInfo.comboStandardAmount %>만 원<span class="ico"></span>
                                </button>
                            </li>
                            <li class="type2">
                                <label class="tit">선결제 금액
                                    <%# 신청일때만 tip 노출%>
                                    <%_if (!isChange) {_%>
                                    <button id="MF_06_04_tip_04" class="tip-view" aria-haspopup="true">선결제금액 정보보기</button>
                                    <%_}_%>
                                </label>
                                <button id="<%= autoPrepayInfo.chargeAmount %>" data-origin-id="<%= autoPrepayInfo.chargeAmount %>"
                                        data-max-value="<%= autoPrepayInfo.cmbMaxAmt %>"
                                        class="bt-dropdown big fe-prepay-amount" title="선결제 금액" aria-haspopup="true">
                                    <%- autoPrepayInfo.comboChargeAmount %>만 원<span class="ico"></span>
                                </button>
                                <span class="error-txt fe-error-msg" aria-hidden="true" style="display:none;">
                                    선결제 가능 최대금액을 초과하였습니다.
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!--// .cont-box -->

                    <hr class="cont-sp type1" aria-hidden="true"/>
                    <!-- .cont-box -->
                    <!-- 200825 [OP002-10215] 수정01 -->
                    <div class="cont-box">
                        <h3 class="tit">납부방법</h3>
                        <div class="input-list tod-input-list">
                            <ul>
                                <%_
                                    const accountChecked = isAccount ? 'checked':'';
                                    const cardChecked = !isAccount ? 'checked':'';
                                _%>
                                <li>
                                    <span class="custom-form"><input type="radio" id="rad1-1" name="ad-pay" data-pay-method="fe-account-area" <%- accountChecked%>><span class="r-type1"></span></span>
                                    <label for="rad1-1">계좌이체 자동 선결제
                                        <%_if(isChange && isAccount){_%>
                                        <span class="tod-txcolor7 iblock ml4 none">(이용 중)</span>
                                        <%_}_%>
                                    </label>
                                </li>
                                <li>
                                    <span class="custom-form"><input type="radio" id="rad1-2" name="ad-pay" data-pay-method="fe-card-area" <%- cardChecked%>><span class="r-type1"></span></span>
                                    <label for="rad1-2">체크/신용카드 자동 선결제
                                        <%_if(isChange && !isAccount){_%>
                                        <span class="tod-txcolor7 iblock ml4 none">(이용 중)</span>
                                        <%_}_%>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //200825 [OP002-10215] 수정01 -->

                    <hr class="cont-sp type1" aria-hidden="true"/>
                    <!-- .cont-box -->
                    <!-- 200825 [OP002-10215] 수정02 -->
                    <div class="cont-box nogaps-hoz fe-account-area fe-box">
                        <div class="base-list">
                            <ul>
                                <li class="thin">
                                    <span class="title-type1">예금주명</span>
                                    <span class="tx-cont"><%- svcInfo.mbrNm %></span>
                                </li>
                                <li>
                                    <span class="title-type1">계좌정보<button id="MF_01_01_tip_04" class="btn-tip"><i class="icon-badge-tip"><span class="blind">계좌정보 tip</span></i></button></span>
                                    <!-- span 수정 접근성 -->
                                    <div class="tx-cont2">
                                        <div class="input-list tod-input-list">
                                            <ul class="fe-auto-info">
                                                <!-- 자동납부계좌가 존재할 경우 -->
                                                <%_ if (autoInfo && autoInfo.isAuto) { _%>
                                                <li>
                                                    <span class="custom-form"><input type="radio" id="radio1" name="isAutoBankInfo" value="Y"><span class="r-type1"></span></span>
                                                    <label for="radio1">
                                                        <span class="tx-tit">자동납부계좌와 동일</span>
                                                        <span class="tx-sub">
                                                            <span class="fe-auto-account-bank" data-code="<%= autoInfo.bankCode %>" data-name="<%= autoInfo.bankFullName %>">
                                                                <%= autoInfo.bankName %>
                                                            </span> <span class="fe-auto-account-number"><%= autoInfo.bankNum %></span>
                                                        </span>
                                                    </label>
                                                </li>
                                                <%_}_%>
                                                <!--// 자동납부계좌가 존재할 경우 -->
                                                <li class="fe-manual-input fe-account-input fe-bank-wrap">
                                                    <span class="custom-form"><input type="radio" id="radio2" name="isAutoBankInfo" value="N" checked="checked"><span class="r-type1"></span></span>
                                                    <label for="radio2" class="block tod-floatnone">
                                                        <span class="tx-tit">직접입력</span>
                                                        <span class="form-wrap half-type mt14">
                                                            <span class="select">
                                                                <%_ const {autoBankCardCoCd} = autoPrepayInfo;_%>
                                                                <button id="<%-autoBankCardCoCd%>" class="bt-dropdown big select-bank fe-select-bank fe-account-bank fe-required-select"
                                                                        data-origin-val="<%-autoBankCardCoCd%>" title="계좌정보 은행 선택" aria-haspopup="true">
                                                                    <%-autoPrepayInfo.bankNm || '은행 선택'%><span class="ico"></span>
                                                                </button>
                                                            </span>
                                                            <span class="inputbox ml8">
                                                                <span class="input">
                                                                    <%_ const {bankNum} = autoPrepayInfo;_%>
                                                                    <input type="tel" inputmode="numeric" min="0" pattern="[0-9]*" placeholder="숫자만 입력" maxlength="20"
                                                                           title="계좌정보 숫자만 입력" class="fe-account-number required-input-field fe-only-number"
                                                                           data-valid-label="account" data-origin-val="<%-bankNum%>" value="<%-bankNum%>"/>
                                                                    <button class="cancel"><span class="blind">삭제</span></button>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="error-txt fe-bank-error-msg" aria-hidden="true" style="display:none;">은행정보가 올바르지 않습니다.</span>
                                                        <span class="error-txt fe-error-msg" aria-hidden="true" style="display:none;">계좌번호가 올바르지 않습니다.</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //200825 [OP002-10215] 수정02 -->
                    <!--// .cont-box -->

                    <!--카드주명-->
                    <!-- .cont-box -->
                    <div class="cont-box fe-card-area fe-box">
                        <ul class="form-data-list">
                            <li>
                                <label class="tit" for="flab02">카드주명</label>
                                <span class="inputbox">
                                    <span class="input">
                                        <input id="flab02" type="text" value="<%= svcInfo.mbrNm %>" readonly />
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                </span>
                            </li>
                            <%# 신청일때만 생년월일 노출. 변경으로 진입했지만 이용중인 납부방법이 "계좌이체" 인 경우, "체크/신용카드" 로 변경하는 경우는 "카드"가 신규 신청이 되므로 "생년월일" 항목을 노출한다.%>
                            <%_if (!isChange || isAccount) {_%>
                            <li>
                                <label class="tit" for="flab07">생년월일</label>
                                <span class="inputbox">
                                    <span class="input">
                                        <input id="flab07" class="fe-birth required-input-field fe-only-number" type="tel" maxlength="6" minlength="6"
                                               inputmode="numeric" min="0" pattern="[0-9]*" title="생년월일 입력 YYMMDD" placeholder="예시)891124" data-valid-label="birth" />
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                    <span class="error-txt fe-error-msg" aria-hidden="true" style="display:none;">생년월일이 올바르지 않습니다.</span>
                                </span>
                            </li>
                            <%_}_%>
                            <li>
                                <label class="tit" for="flab04">카드번호</label>
                                <div class="fe-exp-wrap">
                                    <span class="inputbox bt-add inp-btn">
                                        <span class="input">
                                            <%_ const {cardNum} = autoPrepayInfo;_%>
                                            <input id="flab04" class="fe-card-number required-input-field fe-only-number" type="tel" minlength="14" maxlength="16"
                                                   inputmode="numeric" min="0" pattern="[0-9]*" data-valid-label="card" data-err-target="fe-exp-wrap"
                                                   placeholder="숫자만 입력" title="카드번호 숫자만 입력" data-origin-val="<%-cardNum%>" value="<%-cardNum%>"/>
                                            <button class="cancel"><span class="blind">삭제</span></button>
                                        </span>
                                        <span class="r-btn">
                                            <button type="button" class="btn-round2 btn-style3 fe-card-info" data-err-target="fe-exp-wrap">자동납부&nbsp;카드정보</button>
                                        </span>
                                    </span>
                                </div>
                                <span class="error-txt fe-error-msg" aria-hidden="true" style="display:none;">카드번호를 입력해 주세요.</span>
                            </li>
                            <li>
                                <label class="tit" for="flab05">유효기간</label>
                                <div class="input-wrap-half fe-exp-wrap">
                                    <span class="inputbox">
                                        <span class="input">
                                            <input id="flab05" class="fe-card-y required-input-field fe-only-number" type="tel"
                                                   inputmode="numeric" min="0" pattern="[0-9]*" data-valid-label="expiration"
                                                   placeholder="YYYY" title="유효기간 년 입력 YYYY" maxlength="4" minlength="4">
                                            <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                        </span>
                                    </span>
                                    <span class="inputbox">
                                        <span class="input">
                                            <input class="fe-card-m required-input-field fe-only-number" type="tel"
                                                   inputmode="numeric" min="0" pattern="[0-9]*" data-valid-label="expiration"
                                                   placeholder="MM" title="유효기간 월 입력 MM" maxlength="2" minlength="2">
                                            <button class="cancel" style="display: none;"><span class="blind">삭제</span></button>
                                        </span>
                                    </span>
                                </div>
                                <span class="error-txt fe-error-msg" aria-hidden="true" style="display:none;">
                                    유효기간이 올바르지 않습니다.
                                </span>
                            </li>
                            <li>
                                <label class="tit" for="flab06">비밀번호</label>
                                <span class="inputbox">
                                    <span class="input">
                                        <input id="flab06" class="fe-card-pw required-input-field fe-only-number"
                                               type="number" inputmode="numeric" min="0" pattern="[0-9]*" data-valid-label="password"
                                               placeholder="앞 2자리" title="비밀번호 앞 2자리 입력" minlength="2" maxlength="2" style="-webkit-text-security: disc;" />
                                        <button class="cancel"><span class="blind">삭제</span></button>
                                    </span>
                                    <span class="error-txt fe-error-msg" aria-hidden="true" style="display:none;">비밀번호가 올바르지 않습니다.</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!--//카드주명-->

                    <!-- .cont-box -->
                    <div class="cont-box noborder bgnone">
                        <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
                        <ul class="pg-chk-list02">
                            <li><button id="MF_06_04_tip_02" class="btn-tip" aria-haspopup="true">이용안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
                        </ul>
                    </div>
                    <!--// .cont-box -->
                    <div class="bt-fixed-area">
                        <ul class="bt-slice full">
                            <li class="bt-red1">
                                <button class="fe-pay" disabled="disabled"><%-!isChange ? '신청하기' : '변경하기'%></button><!--기본 상태 비활성화 disabled 모든 정보입력시 disabled 속성 제거 -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// #contents -->
            <!-- .popup-closeBtn -->
            <button class="prev-step fe-close">취소</button>
            <!--// .popup-closeBtn -->
        </div>
        <footer id="fe-all-menu">
            <%- include('../../../../common/views/components/masking.component.html', { svcInfo: svcInfo, pageInfo: pageInfo }); %>
        </footer>
    </div>
</body>
<% include ../../components/javascript.component.html %>
<script>
  $(document).ready(function () {
    new Tw.MyTFareBillPrepayAuto($('.wrap'), '<%-path%>', '<%-type%>', '<%= pageInfo.masking%>');
  });
</script>
<% include ../../components/end.component.html %>
