<%#
* @file myt-join.suspend.longterm.content.html
* @author Hyeryoun Lee
* @since 2018-10-26
* 장기일시정지 tab content(MS_03_05_03)
_%>
<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box pd0">
    <div class="widget">
        <div class="widget-box accordion">
            <div class="acco-cover">
                <div class="acco-style tod-renew-bgnone">
                    <div class="acco-list pt0">
                        <div class="acco-box on">
                            <div class="acco-tit">
                                <button role="button" aria-pressed="true">장기일시정지 안내</button>
                                <span class="tod-coach-mark"><strong class="point">장기일시정지 신청 전</strong> 꼭 확인하세요! <button class="close"><span class="blind">닫기</span></button></span>
                            </div>
                            <div class="acco-cont">
                                <ul class="announcement-box">
                                    <li class="announcement-bullet type01">정지 기본료는 요금상품과 상관없이 월 3,850원(부가세 포함) 입니다. <br>※ 군입대 제외</li>
                                    <li class="announcement-bullet type01">월중 정지 시 요금제 무료혜택은 일할계산되며, 초과 이용 시 상한초과 별도 청구될 수 있습니다.</li>
                                    <li class="announcement-bullet type01">정지 시 정지기간 만큼 회선 가족결합 가입년수에서 제외됩니다.</li>
                                    <li class="announcement-bullet type01">정지 기간은 약정기간에 포함되지 않으며, 할인혜택은 중단됩니다.</li>
                                    <li class="announcement-bullet type01">해외체류 장기일시정지 신청 시 출국일 이전에 정지 시작일을 설정하실 수 있습니다.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps">
    <div class="wrap-gaps-top"><h3>장기일시정지 사유</h3></div>
    <div class="list-comp-input tod-type2">
        <div class="widget">
            <div class="widget-box radio">
                <ul class="select-list" role="presentation">
                    <li class="radiobox type01 checked" role="presentation" aria-checked="true"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio04" value="" title="장기일시정지 사유" aria-labelledby="aria-comp-radio7" data-role="fe-suspend-type" data-type="military" checked/><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout">
                            <p class="layout-text">
                                <span class="mtext" id="aria-comp-radio7">군입대</span>
                                <span class="simple-form type1 tod-side-chbox">
                                    (<span class="custom-form"><input type="checkbox" name="soldier_ch" value="" id="soldier-active" data-id="fe-military-type"><span class="c-type1"></span></span>
                                    <label for="soldier-active">현역 외</label>)
                                </span>
                            </p>
                        </div>
                    </li>
                    <li class="radiobox type01" role="presentation" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio04" value="" title="장기일시정지 사유" aria-labelledby="aria-comp-radio8" data-role="fe-suspend-type" data-type="abroad"/><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout">
                            <p class="layout-text">
                                <span class="mtext" id="aria-comp-radio8">해외체류</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box fe-military fe-period">
    <h3>장기일시정지 기간<button class="tip-view" title="장기일시정지 기간 TIP보기" aria-haspopup="true" id="MS_03_05_03_tip_01">TIP</button></h3>
    <div class="inputbox date-selcet" data-role="fe-date-select">
        <span class="date-type"><input type="date" value="<%- suspend.today %>" data-role="fe-from-dt" title="장기일시정지 기간 시작일 선택"/></span>
        <span class="bar">~</span>
        <span class="date-type"><input type="date" value="<%- suspend.twoYears %>" data-role="fe-to-dt" title="장기일시정지 기간 종료일 선택"/></span>
    </div>
    <%# TODO: _%>
    <span id="aria-exp-desc1" class="error-txt" style="display: none;">시작일은 오늘 이후로 지정할 수 있습니다.</span>
    <span id="aria-exp-desc2" class="error-txt" style="display: none;">종료일은 시작일 이후로 지정할 수 있습니다.</span>
    <span id="aria-exp-desc3" class="error-txt" style="display: none;">종료일은 설정한 시작일로부터 24개월을 초과하여 설정할 수 없습니다.</span>
</div>
<!--// .cont-box -->
<!-- .cont-box -->
<div class="cont-box fe-abroad fe-date">
    <h3>장기일시정지 시작일<button class="tip-view" title="장기일시정지 시작일 TIP보기" aria-haspopup="true" id="MS_03_05_03_tip_04">TIP</button></h3>
    <div class="inputbox date-selcet" data-role="fe-date-select">
        <span class="date-type"><input type="date" value="<%- suspend.today %>" data-role="fe-from-dt" title="장기일시정지 시작일 선택"/></span>
    </div>
    <%# TODO: _%>
    <span id="aria-exp-desc4" class="error-txt" style="display: none;">시작일은 오늘 이후로 지정할 수 있습니다.</span>
    <span id="aria-exp-desc5" class="error-txt" style="display: none;">시작 일자는 당일로부터 30일 이내로 선택하실 수 있습니다.</span>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps fe-abroad">
    <div class="wrap-gaps-top"><h3>장기일시정지 수신설정</h3></div>
    <div class="list-comp-input tod-type2">
        <div class="widget">
            <div class="widget-box radio">
                <ul class="select-list" role="group">
                    <li class="radiobox type01 checked" role="radio" aria-checked="true"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio01" value="" title="장기일시정지 수신설정" aria-labelledby="aria-comp-radio9" data-role="fe-suspend-all" checked/><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout">
                            <p class="layout-text">
                                <span class="mtext" id="aria-comp-radio9">걸기/받기 모두 정지</span>
                            </p>
                        </div>
                    </li>
                    <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio01" value="" title="장기일시정지 수신설정" aria-labelledby="aria-comp-radio10"/><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout">
                            <p class="layout-text">
                                <span class="mtext" id="aria-comp-radio10">걸기만 정지</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// .cont-box -->

<%# 군입대/해외체류 첨부 서류 template _%>
<script id="fe-tmpl-upload-item" type="text/x-handlebars-template">
    {{#each files}}
    <li data-iid="{{_iid}}">
        <p class="text">{{name}}</p>
        <div class="bt-alone"><button class="btn-round3 btn-style3">삭제</button></div>
    </li>
    {{/each}}
</script>

<%# 군입대 필요서류 첨부 _%>
<hr class="cont-sp type1 fe-military" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box fe-military">
    <h3>필요서류 첨부</h3>
    <div class="inquiryform-wrap">
        <div class="fileplus-wrap mt0">
            <p class="text tod-txcolor3">입영통지서 등 군입증명서류, 신분증 2종 제출</p>
            <div class="bt-alone tod-type1"><button class="btn-round2 btn-style3 fe-upload-file" data-type="military">파일 첨부</button></div>
        </div>
        <ul class="filename-list">
        </ul>
    </div>
</div>
<!--// .cont-box -->

<%# 해외체류 필요서류 첨부 _%>
<hr class="cont-sp type1 fe-abroad" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box fe-abroad">
    <h3>필요서류 첨부</h3>
    <div class="inquiryform-wrap">
        <div class="fileplus-wrap mt0">
            <p class="text tod-txcolor3">항공권 사본 등 해외체류입증 서류 1종 제출</p>
            <div class="bt-alone tod-type1"><button class="btn-round2 btn-style3 fe-upload-file" data-type="abroad">파일 첨부</button></div>
        </div>
        <ul class="filename-list">
        </ul>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box">
    <h3>추가 연락처(선택)<button class="tip-view" id="MS_03_05_03_tip_02" title="추가 연락처(선택) TIP보기" aria-haspopup="true">TIP</button></h3>
    <div class="inputbox bt-add inp-btn mt14">
        <span class="input">
            <input type="tel" placeholder="숫자만 입력" title="추가 연락처(선택) 숫자만 입력" data-id="fe-input-tel" maxlength="13"/>
            <button class="cancel"><span class="blind">삭제</span></button>
        </span>
        <%_ if (isApp) { _%>
        <span class="bt-box3">
            <button class="btn-round2 btn-style3 fe-btn_native_contact">주소록</button>
        </span>
        <%_ } _%>
    </div>
    <div class="inputbox mt14 bt-add">
        <span class="input">
            <button class="bt-dropdown big" aria-haspopup="true" title="관계 선택" data-id="fe-relation">관계<span class="ico"><span class="blind">추가 연락처 관계 선택</span></span></button>
        </span>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box">
    <h3>추가 이메일 주소(선택)</h3>
    <div class="inputbox bt-add mt14">
        <span class="input">
            <input type="text" placeholder="이메일 입력" value="" title="추가 이메일 주소(선택) 입력" aria-labelledby="aria-citation-email" aria-describedby="" data-id="fe-input-email"/>
            <button class="cancel"><span class="blind">삭제</span></button>
        </span>
    </div>
</div>
<!--// .cont-box -->

<!-- .cont-box -->
<div class="cont-box noborder bgnone">
    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
    <ul class="pg-chk-list02">
        <li><button class="btn-tip" aria-haspopup="true" id="MS_03_05_03_tip_03">유의사항<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
        <li><button class="btn-tip" aria-haspopup="true" id="TC000095">결합상품 가입 고객 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
        <li><button class="btn-tip" aria-haspopup="true" id="TC000096">법인고객 안내<i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
    </ul>
</div>
<!--// .cont-box -->

<div class="bt-fixed-area">
    <ul class="bt-slice full">
        <li class="bt-red1">
            <button data-id="fe-bt-suspend" disabled>접수하기</button>
        </li>
    </ul>
</div>
