<%#
* @file myt-join.suspend.status.temporal.html
* @author Hyeryoun Lee
* @since 2018-11-23
_%>
<hr class="cont-sp type1" aria-hidden="true"/>

<div class="ti-caption-gray tod-caption-white">
    <h3 class="tit">일시정지 신청정보</h3>
</div>
<!-- .cont-box -->
<div class="cont-box nogaps-hoz">
    <div class="info-list-type1">
        <div class="basic-list mt0">
            <ul>
                <li>
                    <span class="title">상태</span>
                    <span class="tx-cont tx-bold">
                    <%_ if (locals.militaryAC) { _%>
                    <%# MS_03_05_03_01_case12 _%>
                    장기일시정지의 일시해제
                    <%_ } else if (locals.reservedYn) { _%>
                    일시정지 예약
                    <%_ } else { _%>
                    <%- (type === 'long-term') ? '장기' : '' %>일시정지 중
                    <%_ } _%>
                    </span>
                </li>
                <li>
                    <span class="title"><%- (type === 'long-term') ? '장기' : '' %>일시정지 기간</span>
                    <span class="tx-cont"><%- period.from %>~<%- period.to || '' %></span>
                </li>
                <%_ if (locals.resuspendDt) { _%>
                <%# MS_03_05_03_01_case11 _%>
                <li>
                    <span class="title">장기일시정지 재시작일자</span>
                    <span class="tx-cont"><%- resuspendDt %></span>
                </li>
                <%_ } _%>
                <li>
                    <span class="title">사유</span>
                    <span class="tx-cont"><%= reason %></span>
                </li>
            </ul>
        </div>
    </div>
    <%_ if (locals.resuspend) { _%>
    <%# MS_03_05_03_01_case11 _%>
    <ul class="bt-slice mt20 mb20">
        <li>
            <button class="btn-round1 btn-style4" data-id="bt-cancel-resuspend">재신청 취소하기</button>
        </li>
    </ul>
    <%_ } else if (isProgressing && type === 'temporary') { _%>
    <%# MS_03_05_03_01_case10 _%>
    <ul class="bt-slice mt20 mb20">
        <li>

            <button class="btn-round1 btn-style4" data-id="bt-release">해제하기</button>
        </li>
    </ul>
    <%_ } else { _%>
    <ul class="bt-slice mt20 mb20 item-<%- (!resetable || (type !== 'temporary' && !resuspendable)) ? 'one' : 'two' %>">
        <%_ if (type === 'temporary') { _%>
        <%# MS_03_05_03_01_case1 _%>
        <li>
            <button class="btn-round1 btn-style4" data-id="bt-request-longterm">장기일시정지 신청하기</button>
        </li>
        <%_ } else if (resuspendable) { _%>
        <%# MS_03_05_03_01_case12 _%>
        <li>
            <button class="btn-round1 btn-style4" data-id="bt-resuspend"<%- invaild_resuspend ? ' disabled' : '' %>>재신청하기</button>
        </li>
        <%_ } _%>
        <%_ if (resetable) { _%>
        <%# MS_03_05_03_01_case1 _%>
        <li>
            <button class="btn-round1 btn-style1" data-id="bt-release">해제하기</button>
        </li>
        <%_ } _%>
    </ul>
    <%_ } _%>
</div>
<!--// .cont-box -->