<%#
* @file myt-join.suspend.longterm.content.html
* @author Hyeryoun Lee
* @since 2018-10-26
* 장기일시정지 tab content(MS_03_05_03)
%>
<div class="cont-box nogaps">
    <div class="wrap-gaps-top">
        <h3>장기일시정지 사유</h3>
    </div>
    <div class="list-comp-input tod-type2">
        <div class="widget">
            <div class="widget-box radio">
                <ul class="select-list" role="group">
                    <li class="radiobox type01 checked" role="radio" aria-checked="true"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio04" value="military" title="장기일시정지 사유" aria-labelledby="aria-comp-radio7" checked data-role="fe-suspend-type"/><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout" id="aria-comp-radio7">
                            <p class="layout-text">
                                <span class="mtext">군입대</span>
                                <!-- 190503_추가_02 [#7633/DV001-21789]-->
                                <span class="simple-form type1 tod-side-chbox">
                                    (<span class="custom-form"><input type="checkbox" name="soldier_ch" value="" id="soldier-active" data-id="fe-military-type"><span class="c-type1"></span></span>
                                    <label for="soldier-active">현역 외</label>)
                                </span>
                                <!-- //190503_추가_02 [#7633/DV001-21789] -->
                            </p>
                        </div>
                    </li>
                    <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio04" value="abroad" title="장기일시정지 사유" aria-labelledby="aria-comp-radio8" data-role="fe-suspend-type" /><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout" id="aria-comp-radio8">
                            <p class="layout-text">
                                <span class="mtext">해외체류</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box fe-military fe-period" >
    <h3>장기일시정지 기간<button class="tip-view" id="MS_03_05_03_tip_01" title="장기일시정지 기간 TIP보기" aria-haspopup="true">TIP</button></h3>
    <div class="inputbox date-selcet">
        <span class="date-type"><input type="date" value=<%= suspend.today %> data-role="fe-from-dt" title="장기일시정지 기간 시작날짜 선택"/></span>
        <span class="bar">~</span>
        <span class="date-type"><input type="date" value=<%= suspend.twoYears %> data-role="fe-to-dt" title="장기일시정지 기간 종료날짜 선택"/></span>
    </div>
</div>

<div class="cont-box fe-abroad fe-date">
    <h3>장기일시정지 시작일<button class="tip-view" id="MS_03_05_03_tip_04" title="장기일시정지 시작일 TIP보기" aria-haspopup="true">TIP</button></h3>
    <div class="inputbox date-selcet">
        <span class="date-type"><input type="date" value=<%= suspend.today %> data-role="fe-from-dt" title="장기일시정지 시작날짜 선택" /></span>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box nogaps fe-abroad">
    <div class="wrap-gaps-top">
        <h3>장기일시정지 수신설정</h3>
    </div>
    <div class="list-comp-input tod-type2">
        <div class="widget">
            <div class="widget-box radio">
                <ul class="select-list" role="group">
                    <li class="radiobox type01 checked" role="radio" aria-checked="true"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio01" value="" title="장기일시정지 수신설정" aria-labelledby="aria-comp-radio9" checked="checked" data-role="fe-suspend-all"/><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout" id="aria-comp-radio9">
                            <p class="layout-text">
                                <span class="mtext">걸기/받기 모두 정지</span>
                            </p>
                        </div>
                    </li>
                    <li class="radiobox type01" role="radio" aria-checked="false"><!-- 체크 상태일 경우 .checked 클래스 추가, aria-checked="true" -->
                        <input type="radio" name="radio01" value="" title="장기일시정지 수신설정" aria-labelledby="aria-comp-radio10" /><!-- 체크상태일 경우 checked="checked" -->
                        <div class="comp-list-layout" id="aria-comp-radio10">
                            <p class="layout-text">
                                <span class="mtext">걸기만 정지</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr class="cont-sp type1 fe-abroad" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box fe-military">
    <h3>필요서류 첨부</h3>
    <p class="sub-txt">
        입영통지서 등 군입증명서류, 신분증 2종 제출
        <span class="right-item"><button class="bt-link-tx underline fe-upload-file" data-type="fe-military">파일 첨부하기</button></span>
    </p>
</div>
<div class="cont-box fe-abroad">
    <h3>필요서류 첨부</h3>
    <p class="sub-txt">
        항공권 사본 등 해외체류입증 서류 1종 제출
        <span class="right-item"><button class="bt-link-tx underline fe-upload-file" data-type="fe-abroad">파일 첨부하기</button></span>
    </p>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box">
    <h3>추가 연락처(선택)<button class="tip-view" id="MS_03_05_03_tip_02" title="추가 연락처(선택) TIP보기" aria-haspopup="true">TIP</button></h3>
    <div class="inputbox bt-add inp-btn mt14">
        <span class="input">
            <input type="tel" placeholder="숫자만 입력" title="추가 연락처 (선택) 입력" data-id="fe-input-tel" maxlength="13">
            <button class="cancel"><span class="blind">삭제</span></button>
        </span>
        <% if(isApp) { %>
        <span class="bt-box3">
            <button type="button" class="fe-btn_native_contact btn-round2 btn-style3">주소록</button>
        </span>
        <% } %>
    </div>
    <div class="inputbox bt-add mt14">
         <button class="bt-dropdown big" title="관계 선택" aria-haspopup="true" data-id="fe-relation">관계<span class="ico"><span class="blind">추가 연락처 관계 선택</span></span></button>
    </div>
</div>
<!--// .cont-box -->

<hr class="cont-sp type1" aria-hidden="true"/>

<!-- .cont-box -->
<div class="cont-box">
    <h3>추가 이메일 주소(선택)</h3>
    <div class="inputbox bt-add mt14">
        <span class="input">
            <input type="text" placeholder="이메일 입력" value="" title="추가 이메일 주소(선택) 입력"
                   aria-labelledby="aria-citation-email" aria-describedby="" data-id="fe-input-email"/>
            <button class="cancel"><span class="blind">삭제</span></button>
        </span>
    </div>
</div>
<!--// .cont-box -->
<!-- .cont-box -->
<hr class="cont-sp type1" aria-hidden="true"/>
<div class="cont-box noborder bgnone">
    <h3 class="pg-chk-tit">꼭 확인해 주세요</h3>
    <ul class="pg-chk-list02">
        <li><button class="btn-tip" id="MS_03_05_03_tip_03" aria-haspopup="true">장기일시정지 안내 <i class="icon-badge-tip"><span class="blind">tip</span></i></button></li>
    </ul>
</div>

<div class="bt-fixed-area">
    <ul class="bt-slice full">
        <li class="bt-red1">
            <button disabled data-id="fe-bt-suspend">접수하기</button>
        </li>
    </ul>
</div>